[2017-01-22 15:23] fpletz commented on #22031
Something like #10996?

This only applies to `systemd-boot` as `grub` will  at least have a timestamp to the boot entries. We should unify the naming for all bootloaders.

[2017-01-22 15:30] jpierre03 commented on #22008
On nixos-17.03pre98682.f673243  :
- `nix-env -i -A haskell.packages.ghc802.tasty-ant-xml -f "<nixpkgs>"` works fine
- `nix-env -i -A haskell.packages.ghc801.tasty-ant-xml -f "<nixpkgs>"` works fine
- `nix-env -i -A haskell.packages.ghc7103.tasty-ant-xml -f "<nixpkgs>"` same error

[code]

@woehr  According to https://github.com/peti/nixpkgs/blob/master/pkgs/development/haskell-modules/configuratio

[2017-01-22 15:46] globin commented on #20874
Should more likely be an explicit `${gtk}/bin/gtk-update-icon-cache` or similar.

[2017-01-22 15:55] jpierre03 commented on #22005
@bennofs
1. IMHO, a failure should trigger an error.
2. add a file in /etc/xxx is supported in nixos with `environment.etc` attribute

Example:
 `environment.etc."pulse/daemon.conf".text = "flat-volumes = no"`

an existing file can be fetched with `builtins.readFile`

[2017-01-22 16:07] peti commented on #22008
`directory` and `filepath` are core libraries shipped by GHC. Apparently, current versions of `tasty-ant-xml` no longer support GHC 7.x.

[2017-01-22 16:13] fpletz commented on #12987
Do we even need connection tracking if we don't use NAT?

This line from `nixos/modules/services/networking/firewall.nix` is the culprit:

[code]

[2017-01-22 16:38] fpletz commented on #21974
For disabling conntrack helper autloading, see PR #22034.

[2017-01-22 16:39] fpletz commented on #12987
cc @primeos Do you have an opinion on this issue?

[2017-01-22 16:45] woehr commented on #22008
I suppose overriding the ghc7103 package set with an older version would be the best solution then?

@ocharles appears to be the author/maintainer, would you mind commenting?

[2017-01-22 20:16] bjornfor commented on #20874
Actually, no. The problem is a regression due to multiple-output.

```gtk-update-icon-cache``` used to be in the ```gtk3``` package, but is now in ```gtk3.dev```. (The GNOME desktop module ensures that "gtk3" goes into ```environment.systemPackages```, so we just have to fix that multiple-outputs thing. AFAIK, binaries shouldn't be in .dev.)

cc @vcunat

[2017-01-22 21:50] vcunat commented on #20874
Well, for binaries that are exclusively useful during development (building etc.), I was putting such commonly into `.dev`.  In this case it wasn't a good choice due to this consequence; it has been reverted long ago but only for `gtk2` and not `gtk3`.

It would be best to have it refer to the binary explicitly, but you don't know *when* the cache would be needed &ndash; so it's generated whenever

[2017-01-22 21:59] vcunat commented on #20874
I staged a commit that should fix this with gtk3/gnome as well.

[2017-01-22 22:50] primeos commented on #12987
tl;dr We can't simply get rid of that rule (imho) and I wouldn't change anything ATM, however we could provide an option for servers (and advanced users).

@davidak @fpletz That's a good point but unfortunately I'm not that familiar with Netfilter's connection tracking (yet). I.e. parts of the following could be wrong.

The line @fpletz mentioned:
[code]
uses the connection tracking framework but

[2017-01-23 03:37] siddharthist commented on #13224
@P-E-Meunier `nix-shell --run "exec zsh"`

[2017-01-23 03:52] siddhanathan commented on #13224
@siddharthist Maybe that should be documented somewhere?

[2017-01-23 04:24] socksy commented on #13289
Maybe this should be moved into another issue, but it seems most relevant here, given that the information in the wiki/internet seems to not be working enough to set things up right.

I have done all the steps in the wiki and @MasseGuillaume's gist, and it fails for me on the connecting part, with `Failed to connect: org.bluez.Error.Failed`.
(Aside: I do not see the point in specifying bluez as pk

[2017-01-23 06:04] bjornfor commented on #20874
Thanks!

[2017-01-23 08:22] vaibhavsagar opened #22047 "ihaskell fails to build"
## Issue description

IHaskell is not GHC 8 compatible, and so it doesn't build on 16.09 onwards. Instead I get this error:

[code]

### Steps to reproduce

[code]

## Technical details

* System: 16.09.1512.6b28bd0 (Flounder)
* Nix version: nix-env (Nix) 1.11.6
* Nixpkgs version: 16.09.1512.6b28bd0

[2017-01-23 08:53] arch1tect0r commented on #21984
@Ericson2314, workaround for my problem return this long trace.

[code]

I also try to use your fix https://github.com/Ericson2314/nixpkgs/tree/ccache-fix and it is also not work properly.
This is the log of building of cpio [config.txt](https://github.com/NixOS/nixpkgs/files/723005/config.txt). As you can see in the log exist one error "ccache: error: Failed to create directory /homeless-shelter/

[2017-01-23 10:07] #20874 closed

[2017-01-23 10:29] mdaiter commented on #21989
https://github.com/NixOS/nixpkgs/pull/22049

Solved through this. Key insight was to specify the `flex` version.

[2017-01-23 10:35] nico202 commented on #16268
OT @Pitometsu: would you mind PR numix-solarized-gtk? :)

[2017-01-23 10:39] fpletz commented on #12987
Well, that's embarrassing. You're of course right, @primeos, we need that rule. What was I thinking…

[2017-01-23 11:11] deepfire commented on #21993
@rvl, thank you, it builds indeed!

[2017-01-23 11:12] deepfire commented on #21993
..although I too can't check, with satisfactory completeness, that it actually works..

[2017-01-23 11:16] bennofs opened #22052 "haskell: separate "essential" overrides from version overrides"
### Problem

When defining your own package sets as an alternative to `hackage-packages.nix`, it would be nice to re-use `configuration-common.nix` for this package set. However, this is currently difficult due to `configuration-common.nix` also containing overrides of versions of specific packages or changing build flags and so on.

### Solution

I would like to propose that `configuration-common

[2017-01-23 11:55] Pitometsu commented on #16268
@nico202, I'm not using NixOS for now, sorry, feel free to reuse any my source code snippets.

[2017-01-23 12:54] jgeerds commented on #21851
Would be better if gnome-shell-tweaks would explicitly use `python2` and not `python`. Is that somehow configurable?

(I'm thinking of Arch Linux where `python` already points to python3)

[2017-01-23 13:57] edofic commented on #18454
Running
[code]

produces correct result while `nix-build`-ing the following
[code]
produces an output without jquery (just meta data)

[2017-01-23 14:26] edofic commented on #18454
Figured it out. Git doesn't see SSL certificates. I made it run with this expression

[code]

I'll try to open a PR to fix this in nixpkgs. I'll also try to open a PR to bower2nix because there is a bug in it - missing SSL cert should not result in exit code 0.

[2017-01-23 14:59] ck3d opened #22060 "No in-build execution for CMake managed builds"
## Issue description
I try to migrate a library written in C++ build via CMake to Nix. The test executables also written in C++ are part of this project. CMake allows in-build execution (and therefor in-build testing), because it sets the RPATH for the build executable.

Nixpkgs skips adding this RPATH by setting [CMAKE_SKIP_BUILD_RPATH`](https://github.com/NixOS/nixpkgs/blob/master/pkgs/developme

[2017-01-23 15:15] #18454 closed

[2017-01-23 15:54] deepfire opened #22062 "services/printing/cupsd.nix is broken: fails to wire in (correctly installed) ghostscript"
## Issue description

[code]

### Steps to reproduce
In `/etc/configuration.nix`:
[code]

## Technical details

* System: 17.03.git.4a662e5 (Gorilla)
* Nix version: nix-env (Nix) 1.11.6
* Nixpkgs version: "17.03.git.4a662e5206"

[2017-01-23 16:08] deepfire commented on #22062
Analysis of `nixos/modules/services/printing/cupsd.nix` reveals that:
1. ghostscript is actually installed and put into `bindir`
[code]
2. the constructed `PATH` (as seen in `envp[22]` above) is wrong:
[code]

[2017-01-23 16:27] Zimmi48 commented on #14829
Any progress on making mathcomp compile with Coq 8.6?

[2017-01-23 16:35] deepfire commented on #22062
3. the wrong `PATH` from `envp[22]` is the one coming from `/etc/cupsd/cupsd.conf`:
[code]
4. the correct `cupsd.conf` is the one written by `cupsd.nix`:
[code]
..it is the "good one" with respect to `gs` availability, because:
[code]

[2017-01-23 16:38] deepfire commented on #22062
..and it's a non-issue -- my `/etc/cups/cupsd.conf` was some odd stale non-symlinked version.

After its removal and a `nixos-rebuild switch` it became good and well.

The problem was purely local.

[2017-01-23 16:38] #22062 closed

[2017-01-23 16:59] deepfire commented on #21993
I wonder if `nixos-rebuild` should warn on stale files in `/etc`.

[2017-01-23 17:01] deepfire commented on #22062
I wonder if `nixos-rebuild` should warn on stale files in `/etc`.

[2017-01-23 17:02] deepfire commented on #22005
@bennofs, quite notably I just have finished fighting a counterexample to your statement -- https://github.com/NixOS/nixpkgs/issues/22062!

In my case, a stale `/etc/cups/cupsd.conf` was _silently_ preventing a proper symlink from being installed during `rebuild-switch`.

[2017-01-23 17:06] deepfire opened #22063 "should `nixos-rebuild switch` warn instead of silently failing to replace regular files with a symlink?"
https://github.com/NixOS/nixpkgs/issues/22062 was caused by `nixos-rebuild switch` silently failing to update `/etc/cups/cupsd.conf`, which (for a trivial, boring reason) was a regular file on my system, and which I failed to notice.

Such _silent divergences_ from a declaratively stated configuration should be noted, instead of silently ignored.

There's also an accompanying issue to this: https:

[2017-01-23 17:17] benrob0329 opened #22064 "Cannot Browse Network Shares in Thunar"
## Issue description
I have samba, gvfs, fuse, and fusesmb enabled/loaded/installed. However, Thunar does not show anything on the network.

### Steps to reproduce
Go into Thunar, click network. Mouse busy (background) curer will appear, but nothing will happen.

## Technical details

* System: NixOS: 16.09
* Nix version: 1.11.6
* Nixpkgs version: 16.09.1512.6b28bd0

[2017-01-23 17:57] vcunat commented on #22005
Triggering an error isn't so easy, because an equivalent of switch can happen on boot-time, and there it's a much larger problem if you just fail.  It shouldn't be silent in any case.

[2017-01-23 17:58] vcunat commented on #22063
Isn't this basically a duplicate of #22005? (i.e. the same topic)

[2017-01-23 18:47] mbrgm opened #22067 "Develop a universal web service definition"
NixOS needs a universal, webserver-agnostic webservice definition. Currently, most webservices are implemented as subservices for Apache httpd, but users should be free to choose the webserver they want to use. The wish for this definition was already mentioned in several issues, but afaik (please correct me if I'm wrong) not worked on in a coordinated way. To start, let's try to compile a list of

[2017-01-23 19:06] siddharthist commented on #20161
Might want to add
 * rngd

to the list.

[2017-01-23 19:09] LnL7 commented on #21963
Sorry for the delay, I couldn't reproduce it myself and a darwin rebuild takes some time on hydra.

- [libuv](http://hydra.nixos.org/eval/1325203?filter=libuv&compare=1325111)
- [ruby_2_2](http://hydra.nixos.org/eval/1325203?filter=ruby_2_2&compare=1325111&full=#tabs-still-succeed)

[2017-01-23 19:09] #21963 closed

[2017-01-23 19:34] mikael-andersson commented on #21920
Thanks, I was unaware of this, but does it really work? I am not able to get it to work.

When I add something like this to my configuration.nix:
`networking.networkmanager.dispatcherScripts = [ { source = "path to script 1"; } { source = "path to script 2"; } ];`

**ll /etc/NetworkManager/dispatcher.d/** gives:
lrwxr-xr-x 1 root root 53 Jan 21 00:20 01nixos-ip-up -> /etc/static/NetworkManager/dis

[2017-01-23 19:35] Ericson2314 commented on #21984
That's odd, can you show me your `/pkgs/stdenv/custom/default.nix` ?

[2017-01-23 19:51] Mic92 commented on #21920
The script has to be executable in the first place. You can take [`overrideNameserversScript`](https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/networking/networkmanager.nix#L59) as an example:

[code]

The secret source here is to use: `writeScript`

[2017-01-23 19:52] FRidh commented on #11567
A little update.

As far as I know all Python libraries are now called via `python-packages.nix`. Therefore I am closing this issue. Furthermore. when adding now or updating current libraries we should indeed put the expressions in separate files in `python-modules.nix` and call them via `python-packages.nix`. During the last year the `python-packages.nix` file has grown quite a bit...

[2017-01-23 19:53] olejorgenb commented on #11501
`libxcb`, `libX11`/`xproto` is also missing man pages.

Including documentation (especially for libraries) increases the closure size of packages. Is this an argument in play here or is it just by chance?

Maybe there should be a policy written somewhere?

If the closure size is a concern, is it possible to enable library documentation in a similar way to `environment.enableDebugInfo`?

[2017-01-23 20:13] peti commented on #22052
I think that's a good idea in principle. I'm not fond of the name `configuration-hackage.nix` because it offers no clue as for what the difference is between it and `configuration-common.nix`. This distinction will work in practice only if contributors "get it", so IMHO it's import to have clear documentation, guidelines, and names.

[2017-01-23 20:15] kbdave314 commented on #20649
I'd like an interface to the native package manager as well.

@FRidh: cf. pull request JuliaLang/julia#20162

[2017-01-23 21:00] vcunat commented on #11501
@abbradar: `man3` pages are deleted by default; see `$outputDevDoc` in [the manual](http://nixos.org/nixpkgs/manual/#multiple-output-file-type-groups).  Adding a `"devdoc"` output gets the stuff moved there automatically (or `"devman"`, as I read now).

[2017-01-23 21:01] rvl commented on #21993
It *probably* works. Which package are you actually trying to build?

If we were to make a PR, the pkgconfig/gir search path thing may need to be cleaned up.

[2017-01-23 21:57] tkelman commented on #20649
The Julia package manager is due for a rewrite, any integration you do with it now would have to be redone.

[2017-01-23 22:39] olejorgenb commented on #11501
Is `nix-env -iA nixos.multi_output_package.man` the correct way to install such packages? (or adding it to `systemPackages` of course)

Note that those packages doesn't show up in the search at http://nixos.org/nixos/packages.html

[2017-01-23 23:44] deepfire commented on #21993
rvl, https://github.com/haskell-gi/gi-gtk-examples -- but it's apparently out of date, so even if I have fixed missing symbols, there's still type errors about missing ancestors.

[2017-01-23 23:46] deepfire commented on #22063
@vcunat, it's the dual opposite, actually -- #22005 is about silent overwrites, whereas this is about silent failures to overwrite.

[2017-01-24 00:32] jwiegley commented on #14829
No, for the time being I just backed out the dependency on it.

[2017-01-24 04:34] benrob0329 commented on #12302
I can.

    System: NixOS: 16.09
    Nix version: 1.11.6
    Nixpkgs version: 16.09.1512.6b28bd0
    Desktop Environment: Xfce4

[2017-01-24 05:00] 3noch opened #22082 "Protect users when enabling users.mutableUsers"
I stumbled upon the reality that turning on `users.mutableUsers` will only use passwords as they are defined in `users.users.<user>.password*` fields. If passwords are not set, then the user is not given a password and cannot login via password. Unfortunately in my case I did this and lost access to my computer. I had to use a bootable drive to add an SSH key to the root user so I could regain acc

[2017-01-24 06:39] arch1tect0r commented on #21984
Yes, you are rigth. I make mistake. I reset any local changes and update again from nixpkgs-unstable.
Trace of errors for workaround

[code]

[2017-01-24 07:13] bjornfor commented on #20874
Cherry-picked to release-16.09: 326e156567f87da63c0ff70c3031c9b0460aeb28.

[2017-01-24 07:45] mikael-andersson commented on #21920
Hmm, sorry, I still do not quite get this.

My scripts are executable and are working fine if I explicitly create symbolic links to them in the dispatcher.d folder.

I thought I could have a complete script ready to just give the path to 'source'. Do I need to define the script's source code in my configuration.nix?

When trying to do in a similar manner as the overrideNameserversScript and uses t

[2017-01-24 09:03] vcunat commented on #11501
- We don't really consider them "separate packages", which is probably given by the history. *(I think deb/rpm would do so, as they're more binary-centric.  Their binary packages roughly correspond to our outputs; their source packages to our "packages"/derivations.)*
- `nix-env`: yes, that's the intended way. The current default version of `nix-env` still installs all outputs always; that's only

[2017-01-24 09:04] vcunat commented on #11501
For reference, [see the manual](http://nixos.org/nixpkgs/manual/#chap-multiple-output).

[2017-01-24 09:24] edolstra commented on #22082
We already have this assertion:
[code]

[2017-01-24 10:27] Profpatsch commented on #11501
Will that also enable all `3` pages? I remember lots of function docs were missing from my system a while ago.

[2017-01-24 10:48] vcunat commented on #11501
@Profpatsch: no, it won't. And most people don't want them, so I think it's good to have them separately. You can e.g. set `environment.extraOutputsToInstall = [ "devdoc" ];`; that will get you also `gtk-doc`, for example.

[2017-01-24 11:25] Profpatsch commented on #11501
Ah, very nice. Where could we document this? I think many devs don’t know about it.

[2017-01-24 11:27] Profpatsch commented on #11501
Also, wouldn’t it make sense to change it to `outputsToInstall`? This gives better flexibility and is also self-documenting.

[2017-01-24 11:49] vcunat commented on #11501
Some outputs are always installed by default.  If you assign outputs in here, you shouldn't expect the original value to be overridden, which is why I put `extra` into the name.

[2017-01-24 12:08] deepfire commented on #21927
Same goes for nixpkgs master commit https://github.com/NixOS/nixpkgs/commit/a82810c7a7e62848b75739b1cccddca8f1363c75

[2017-01-24 12:29] wizeman commented on #21929
I'm also running NixOS 16.09 but I'm not seeing this issue:

[code]

## Technical details
* System: NixOS 16.09
* Nix version: 1.11.6
* Nixpkgs version: 16.09.1515.89c567c

[2017-01-24 12:49] Profpatsch commented on #11501
Right, the module system dictates the merge action on values.

Although this could be worked around by having the value be a function `oldOutputList → newOutputList`.

[2017-01-24 12:49] deepfire commented on #21927
Summarizing:
1. plain `quodlibet` used to work (half a year ago, possibly more?)
2. the package naming is unfortunate and I propose #22089 to rectify that.

[2017-01-24 12:49] #21927 closed

[2017-01-24 12:56] vcunat commented on #11501
No, each option can choose the merge function.

[2017-01-24 13:30] Profpatsch commented on #11501
Yeah, exactly.
`outputsToInstall :: [outputs] -> [outputs]`

Then the user can say

[code]

or similar.

[2017-01-24 14:05] vcunat commented on #11501
Possibly, though to me that would seem an overkill for this option.

I guess all options could be unified to `self: super: contents`, and then we would add simple combinators (like `const`, `mergeAttrs`, `appendList`).

[2017-01-24 14:54] 3noch commented on #22082
@edolstra I knew it was a good idea! You've confirmed that. I think the issue must be more complicated then. I had 2 users, root and myself. I was in the `wheel` group and had an SSH key defined, but not a password. Root had neither an SSH key nor a password defined. So when I deployed, the only user in `wheel` had no way to actually *access* his root privileges because he had no password set.

[2017-01-24 15:46] Zimmi48 commented on #14829
Sorry, which dependency did you backed out?

[2017-01-24 16:05] edolstra commented on #22082
Ah, so we should require that root has an SSH key *or* at least one wheel user has a password, unless `security.pam.enableSSHAgentAuth` is enabled (because then you can `sudo` using the ssh-agent).

[2017-01-24 16:07] 3noch commented on #22082
@edolstra Aha yes that sounds exactly right. And I didn't know about `security.pam.enableSSHAgentAuth`. That sounds like a great thing to have!

[2017-01-24 16:34] deepfire commented on #21993
Alright, `gi-gtk-examples` builds and runs fine _iff_:
1. all (ok, most) of the `gi` components are chosen to be the newest ones:
[code]
2. your override for `gi-pangocairo` derivation is applied

[2017-01-24 16:53] yorickvP opened #22099 "trustedGrub build broken"
## Issue description

TrustedGrub fails to build.
[code]
### Steps to reproduce
[code]
## Technical details

* System: 17.03pre98682.f673243 (Gorilla)
* Nix version: 1.11.4
* Nixpkgs version: 17.03pre98682.f673243

[2017-01-24 17:01] copumpkin opened #22100 "Apache Kafka module has awkward default configuration for brokerId"
[The default configuration](https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/misc/apache-kafka.nix) makes `brokerId` default to 0, which means you can only run one node with the default and then it'll complain that the broker with that ID is already registered. -1 seems like a better default, since that tells Kafka to pick a broker ID automatically.

cc @ragnard @shlevy

[2017-01-24 17:07] shlevy commented on #22100
:+1:

[2017-01-24 17:20] matthewbauer opened #22102 "Allow "meta" and "src" to evaluate in broken derivations"
## Issue description

Occasionally we want to access attributes on derivations without actually building them. For instance, a Darwin-only derivation may want to share the same "src" attribute with a Linux-only derivation. Or we may want to determine what systems the platform builds on (see #21845).

This may not be very easy to implement. Assertions abort evaluation, so perhaps we need something,

[2017-01-24 17:58] #21365 closed

[2017-01-24 18:32] copumpkin opened #22105 "Generalize EC2 metadata gathering in NixOS"
Google Cloud supports something similar, as does packet.net. We could allow them all to configure themselves automatically at startup if we didn't hardcode the 169.254.169.254 URL and instead made it configurable.

cc @rbvermaa @grahamc @edolstra

[2017-01-24 19:00] domenkozar commented on #19147
I also hit this and opened https://github.com/NixOS/nix/pull/1199

[2017-01-24 19:08] jwiegley commented on #18315
I use myEnvFun quite extensively, but I'd like to see how to replace my use cases with nix-shell.  Let me know when you have those examples, and I'd be happy to try them out by switching over my configuration.

[2017-01-24 19:50] yorickvP commented on #22099
It seems to be. Should this be worked around in the same way?

[2017-01-24 21:13] jwiegley commented on #14829
That coq implies coq_8_6. I switched it back to where it had been before.

[2017-01-24 21:15] jwiegley commented on #14829
Note also that my discussions with Enrico revealed that it might be a Nix issue.  Here's my dialog with him:

[code]

He writes:

[code]

[code]

[code]

[code]

[2017-01-24 21:39] joachifm commented on #22102
Seems related to https://github.com/NixOS/nixpkgs/issues/7541

[2017-01-24 21:48] PierreR commented on #21495
@deepfire @anderspapitto I would be really interested in such a guide.

So far everything works if I use a global env (`nix-env -f ./ghc-env.nix -i`). I even feels snappier compared with a classic stack.yaml

Unfortunately this is not really flexible because it requires me to install/erase ghc-env whenever I switch from one project to another (or to use a `ghc-env` that would work for every projec

[2017-01-24 22:44] deepfire commented on #21495
@PierreR
What I do have working right now:
1. full control over the package set by Nix -- intero/stack install zero packages
2. per-project nix sandbox
3. near-instant intero boots
4. intero finds all packages from the nix sandbox

[2017-01-24 23:11] deepfire commented on #21495
@PierreR, one crucial detail is to have `pkgs.stack` and `ghc.intero` to be specified as build inputs to your derivation.
The way you install `ghc-env.nix`:
1. lacks the project-specific GHC context
2. is non-local, and hence does indeed require global installation

[2017-01-24 23:17] Unode commented on #19785
Hi guys, just wanted to say that I also get this but that the workaround on [the comment above](https://github.com/NixOS/nixpkgs/issues/19785#issuecomment-257421833) works for me.

I'm also using `zsh` with `rxvt_unicode`. My TERM is slightly different `rxvt-unicode-256color` instead of `colors`. @corngood was also able to reproduce the issue while discussing this via IRC.

[2017-01-24 23:51] layus commented on #19785
Hi @Unode, thanks for reporting. Could you also check that this setup does not break other terminal emulators while enabled ? Do xterm and gnome-terminal still work correctly for you ? (It works for me, but better check twice).
If so, I think the fix should be given more visibility, for example by adding it to the manual.

[2017-01-25 00:02] corngood commented on #19785
@layus https://github.com/NixOS/nixpkgs/commit/2cfe735d1aa9179561c200486fba285f967ff10b should bring in your zsh change.  Is that expected to fix it?

I can test it next time I rebase on master, if nobody else has already.

I have to be honest that I don't really understand why the zsh change would fix it.  Are the system environment variables (including `profileRelativeEnvVars`) passed to the def

[2017-01-25 00:06] Unode commented on #19785
@layus I can't identify any issue with this set system-wide.
(Well nothing I didn't have before so :+1:

[2017-01-25 00:11] layus commented on #19785
FYI, ncurses is a shared lib, and share exactly the same process as the shell. Now, if you rely on your shell to setup TERMINFO* vars to get proper curses interaction with your terminal emulator, it is already too late because curses looks at the environment of the shell itself. To make curses pick the right config, you need either to have that config already setup before the shell starts (solutio

[2017-01-25 00:12] layus commented on #19785
@Unode Thanks ! Feel free to submit a PR to the manual before me :-D.

[2017-01-25 00:17] Unode opened #22120 "thunderbird + enigmail fails decrypt/encrypt/sign message"
## Issue description
When trying to sign, encrypt or decrypt a message with a gnupg key that is not open in the active gpg agent, thunderbird/enigmail displays a pop-up with an error stating that it failed to encrypt/decrypt the message.

### Steps to reproduce
* Flush your keychain/gpg-agent to ensure all keys are unloaded/removed.
* Run thunderbird.
* Install the enigmail addon and configure it

[2017-01-25 00:27] Ericson2314 commented on #21984
[code]
That seems to be something else unrelated? I don't want to say its ok to break back-compat on whatever you wrote there, but just to minimize this further can you take that out of the picture? Maybe use config file instead of nixos's `nixpkgs.config` too.

[2017-01-25 03:17] #22100 closed

[2017-01-25 07:15] vbgl commented on #14829
Thanks for your investigation, John! The fix seems rather simple: just add `findlib` to the build inputs. Let me merge #21879 and I’ll do it.

[2017-01-25 08:36] Mic92 commented on #21920
you can also leave the scripts where they are and use:

[code]

[2017-01-25 11:29] peterhoeg opened #22127 "Bundler installs gems using the wrong ruby"
## Issue description

Bundler installs gems into the wrong directory as it uses the ruby on which it depends and ignores what you have chosen

Cc: @zimbatm @cstrahan

### Steps to reproduce

1. Install ruby_2_4 into the system environment
2. Create a test directory ```mktemp -d``` and put the following files in:

Gemfile:
[code]
.envrc:
[code]
3. Now ```direnv allow``` and ```bundle install --path

[2017-01-25 11:56] grahamc opened #22128 "Vulnerability Roundup 19"
Here are all the vulnerabilities from https://lwn.net/Vulnerabilities
since our [last roundup](https://github.com/NixOS/nixpkgs/issues/21967).

cc: @vcunat @the-kenny @7c6f434c @globin @bachp @nlewo @fpletz @NeQuissimus. (nice goup!)

_Note:_ The list of people CC'd on this issue participated in the last
roundup. If you participate on this roundup, I'll cc you on the next
one. If you don't partici

[2017-01-25 12:04] 7c6f434c commented on #22128
`lua5_1`: that's an old bug

[2017-01-25 12:05] 7c6f434c commented on #22128
Re: `qemu`: what is the current status of maybe-we-should-update-to-2.8?

[2017-01-25 12:06] 7c6f434c commented on #22128
`firejail`: old story

[2017-01-25 12:08] grahamc commented on #22128
I never saw a PR come through trying 2.8, and I'd still like to try it. Note `cvs` is an old bug, but we are vulnerable :)

[2017-01-25 12:12] vcunat commented on #22128
`tiff`: we already apply `debian/patches/17-CVE-2017-5225.patch` since the last roundup, so that should be OK.

[2017-01-25 12:30] vcunat commented on #22128
`libopus`: OK since 140d135e.

[2017-01-25 12:30] grahamc commented on #22128
`ed` is good on master but needs a backport to stable. It _looks_ like all three commits to ed can be backported. what do you think, @vcunat?

[2017-01-25 12:34] vcunat commented on #22128
It's just `1.13 -> 1.14.1` and some nitpicks along.  I'd think the update is safe (but a mass rebuild).

[2017-01-25 12:34] grahamc commented on #22128
OK I'll hold on to that backport until later.

[2017-01-25 12:36] vcunat commented on #22128
`webkitgtk`: the version on master should be OK, but we have 2.12 as the default on 16.09, so it's probably vulnerable.  I can't see any complaints since we updated the default on master, and the versions should be compatible (in this direction), so I think we should switch.

[2017-01-25 12:38] grahamc commented on #22128
Sounds fine to me, re: webkitgtk. Not ideal, but nor is webkitgtk ;

[2017-01-25 12:46] grahamc commented on #22128
I set up a PR to push changes to: https://github.com/NixOS/nixpkgs/pull/22131 you can both push to that branch, I think. Also that branch is building in a hydra (link in the description.)

[2017-01-25 12:52] vcunat commented on #22128
`t1lib`: I believe CVE-2011-5244 was fixed by our particular patch for CVE-2010-2642.  That patch from Gentoo is certainly equal to the one we apply (taken from Arch).

[2017-01-25 13:02] vcunat commented on #22120
Enigmail seems to work OK for me, popping up for passphrase if needed, but perhaps there's some significant detail different in my setup, e.g. I have additionally `gnupg1compat` package.

[2017-01-25 13:08] grahamc commented on #22128
Collapsed the done items. Almost half done :o

[2017-01-25 13:17] vbgl commented on #14829
Done in 42bf99ef443f4f59e1972b42116407279c312e58: `mathcomp` is now available in Nixpkgs for 8.4, 8.5 and 8.6.

[2017-01-25 13:21] grahamc commented on #22128
Might be good to upgrade mariadb to 10.2.x before 17.03 branch-off.

[2017-01-25 13:37] Zimmi48 commented on #14829
Thanks a lot @jwiegley and @vbgl! If math-comp now builds fine with Coq 8.6, it could make sense to finally make it the default version (what `coq` attribute name links to).
Besides, I think that math-comp 1.6.1 is supposed to work fine with Coq 8.4, 8.5 and 8.6 so it could also make sense to use the same version in all cases.

[2017-01-25 13:50] globin commented on #21989
As this appears to be fixed, closing.

[2017-01-25 13:51] #21989 closed

[2017-01-25 13:54] globin commented on #21974
(Moved the conntrack part to the bottom in the description to make reading the summary easier.)

[2017-01-25 14:06] NeQuissimus commented on #22128
Java and kernel are fine

[2017-01-25 14:06] NeQuissimus commented on #22128
So is our Groovy version

[2017-01-25 14:08] grahamc commented on #22128
👍 I collapsed the completed tasks.

[2017-01-25 14:18] Zimmi48 commented on #14829
@vbgl Loading Coq 8.6 with mathcomp, with `nix-shell -p coqPackages_8_6.mathcomp --run coqide` I can evaluate `Require Import mathcomp.ssreflect.ssrbool.` without a problem but `Require Import mathcomp.algebra.ssrnum.` gives me the error:
[code]
Do you observe the same problem?

[2017-01-25 14:19] wizeman commented on #22082
@3noch In the original description of the problem, did you mean to say when `mutableUsers = false` rather than `mutableUsers = true`?
Otherwise, I am finding this discussion confusing... :smile:

[2017-01-25 14:28] wizeman commented on #22014
@Mic92: indeed.

@fdietze: at least for me, my Raspberry Pi 3 did not boot until I made the modifications in #21988. Note that those changes haven't been merged into the master branch yet (much less made it onto a stable release).

Apart from those changes, you will also need to disable the `generic-extlinux-compatible` boot loader, and enable the `raspberryPi` boot loader instead.

The `linuxPack

[2017-01-25 14:38] vbgl commented on #14829
Yes. Apologies for the overstatement: I’ve only fixed the build.

[2017-01-25 14:40] Zimmi48 commented on #14829
No problem. I don't even know if this error is new or ancient.

[2017-01-25 14:53] 3noch commented on #22082
@wizeman 🤦‍♂️ Yes of course. Thanks for pointing it out. I edited the issue so people don't need to read our comments before it makes sense.

[2017-01-25 14:54] dezgeg commented on #22014
I am waiting for this kernel patch: https://lkml.org/lkml/2017/1/19/542 to go in to make `sd-image-armv7l-linux.img` boot out-of-the-box.

[2017-01-25 15:09] wizeman commented on #22014
@dezgeg As far as I can see, that only contains the Raspberry Pi 3's DTB for the arm64 architecture, not the arm32 that we are using.

IIRC, there was a similar patch a few months ago which also added the RPi3 DTB for arm32, but there was some pushback, both because of duplicate code, but also because the kernel developers seemed to prefer to support only 64-bit kernels (if the hardware supports i

[2017-01-25 15:11] wizeman commented on #22014
Ah wait, maybe I've misread the patch. It seems that it adds the 32-bit DTB, so indeed it would be very useful. Thanks for keeping track of this, @dezgeg!

[2017-01-25 15:12] dezgeg commented on #22014
No, that kernel patch is for 32-bit ARM. The DT is just identical between 32-bit and 64-bit (and it already exists under arch/arm64). It's true that the arm-soc maintainers might still not want that, let's hope they do.

Aarch64 support is implemented here: #22117

[2017-01-25 16:00] #5258 closed

[2017-01-25 16:37] PierreR commented on #21495
@deepfire sorry to bug you with this but while trying your suggestion I have had a collision problem when running `nix-shell`. I don't know how to git rid of it. Here are all the files involved:

http://pastebin.com/jrSD1gKU

[2017-01-25 17:13] #20986 closed

[2017-01-25 17:28] FRidh opened #22139 "Python: setuptools no longer vendors its dependencies"
## Issue description

From version 34 on setuptools no longer vendors its dependencies.
https://github.com/pypa/setuptools/blob/master/CHANGES.rst#v3400

This affects how we currently bootstrap setuptools. The recommended method is to install the setuptools wheel and the wheels of all its dependencies. Because all these dependencies end up in the 'global scope' during installation, I foresee issue

[2017-01-25 17:35] bachp commented on #22128
As dar as I can tell [squid on 16.09](https://github.com/NixOS/nixpkgs/blob/release-16.09/pkgs/servers/squid/default.nix) is not vulnerable. It has the same version as master 3.5.23 and the issue only mentiones 3.4 and 3.5.0.1 through 3.5.1.

[2017-01-25 17:59] copumpkin opened #22140 "nix-shell with `jre` pulls `jdk`"
That means that your closure when depending on e.g., `openjdk` is actually _smaller_ than when you depend on `jre`, despite the latter ostensibly being a trimmed-down version of the former.

[2017-01-25 18:13] copumpkin commented on #22140
Actually, I'm not sure what I'm on, but I think this issue is a complete lie. I think the dependency goes the right way and we're all good.

[2017-01-25 18:16] copumpkin commented on #22140
I'm still confused though, because:

[code]

Note the `openjdk` in there, as well as `openjdk-jre`. However, if I `nix-store -q --tree /nix/store/w4vh9k4p6n8r197ka2ixiqndqmr9b0pa-openjdk-8u122b04-jre`, I don't see the plain `openjdk` dependency in there. Anyone know why it's getting fetched?

[2017-01-25 19:02] k0001 opened #22143 "Haskell: fix amazonka package suite dependencies"
## Issue description

The many `amazonka*_1_4_5` packages depend on `amazonka*` 1.4.3 packages, but they should be depending on other `amazonka*_1_4_5` packages instead. The "amazonka package suite", if you will, is versioned as a whole, and it's expected that versions `1.4.5.*` of the `amazonka-*` packages are used everywhere when using the "amazonka package suite 1.4.5".

We currently have this

[2017-01-25 19:50] jwiegley commented on #14829
I don't have any real preference over what the default Coq version is.  I know that `fiat` doesn't build with it yet, but since the user can always choose an explicit version, we can make the default 8.6.

[2017-01-25 20:09] andrewrk opened #22144 "nm-applet/network manager no longer show correct icon or list of wifi connections"
## Issue description

It used to be that nm-applet would work entirely as expected; show the WiFi icon when connected, and show a list of WiFi options when clicked.

Now the nm-applet icon shows an "unconnected" icon even though I am connected to a working WiFi connection, and there is no list of WiFi options to connect to. When I travel to a location for which my computer does not have the WiFi i

[2017-01-25 20:10] #20718 closed

[2017-01-25 20:29] Zimmi48 commented on #14829
I have a preference for encouraging people to use the latest version.
But I suppose we first need to fix this issue I just found.

[2017-01-25 21:00] globin commented on #21790
Fixed by @fpletz in 34eae3f73ae076bf17ae6091763891939b303596

[2017-01-25 21:00] #21790 closed

[2017-01-25 21:51] NeQuissimus commented on #22140
Is it because we use OpenJDK to create the JRE?

[2017-01-25 21:53] copumpkin commented on #22140
@NeQuissimus that seems like it would make it a build-time dependency but not a runtime one. Also in practice it seems to be a multi-output derivation so they're built at the same time.

[2017-01-25 22:34] ToxicFrog opened #22155 "Enabling both kde5 and gnome3 breaks the build"
## Issue description

Enabling both `services.xserver.desktopManager.kde5` and `services.xserver.desktopManager.gnome3`; when trying to build the hwdb configuration, multiple packages try to provide `etc/udev/hwdb.d/69-libmtp.hwdb` and it explodes.

### Steps to reproduce

    services.xserver = {
      enable = true;
      displayManager.sddm.enable = true;
      desktopManager.kde5.enable = true

[2017-01-25 22:43] NeQuissimus commented on #22140
So, if I build jre and cd into ./result, I have

[code]

Those all seem to be links to a non-jre derivation or do I see this wrong?
I would think this is where the runtime dependency comes from.

[2017-01-25 23:31] fpletz commented on #22128
We already have a fixed version of ed (1.14.1) and not present on release (1.13) because it was introduced in 1.14.

[2017-01-25 23:50] fpletz commented on #22128
We're safe on the second qemu issue (CVE-2016-10028) because we don't build our qemu with `virtio-gpu-3d` enabled.

[2017-01-25 23:55] fpletz commented on #22128
The first qemu issue (CVE-2016-9923) is fixed in 2.8.0 and the [patch](http://git.qemu.org/?p=qemu.git;a=commit;h=a4afa548fc6dd9842ed86639b4d37d4d1c4ad480) is not easily applicable to our version.

[2017-01-25 23:58] fpletz commented on #22128
Pushed fixes for libav, ppp and gd to #22131.

[2017-01-26 00:10] globin commented on #21830
Do you have grub on an encrypted partition and have `boot.grub.enableCryptodisk = true;`?

[2017-01-26 00:11] siddharthist commented on #21148
Can reproduce:
 * NixOS `17.03pre98682.f673243 (Gorilla)`
 * built using nixpkgs `27ec407f4de6ad437cfada5b999bb68dbea28150`
[log.txt](https://github.com/NixOS/nixpkgs/files/731251/log.txt)

[2017-01-26 02:48] grahamc commented on #22128
I think we can go ahead and upgrade qemu: https://github.com/NixOS/nixpkgs/pull/22134 but probably shouldn't do so for stable... :/ hard question. We don't really have a way to track vulnerabilities we know NixOS has but aren't fixing.

[2017-01-26 06:15] chris-martin opened #22164 "Key repeat rate changed"
I just pulled in the latest updates for NixOS 16.09, and for some reason my key repeat rate changed. When I hold down a key, characters are repeated much more slowly.

So far I've figured out how to fix it temporarily using `xset`. From some experimentation, `xset r rate 250 50` seems to get it roughly back to what it used to be.

So, two issues/questions here:

1. The fact that the repeat rate sp

[2017-01-26 07:54] 7c6f434c commented on #22128
Is there any known incompatible change for Qemu 2.8 (or any regressions)? Qemu looks like software where just doing the upgrade could be safe.

[2017-01-26 08:05] 7c6f434c commented on #22128
`squid`: old stuff

[2017-01-26 08:06] 7c6f434c commented on #22128
@bachp technically, one of the links references a bug in 3.5.22

[2017-01-26 09:26] lheckemann commented on #22120
Works for me, I don't have gnupg1compat. I don't have an explicit pinentry configured either.

[2017-01-26 09:36] Unode commented on #22120
What kind of X desktop/window manager do you have? I have awesomewm if that matters.

I've come to notice that gpg-agent as well as ssh-agent get initialized by systemd. I used to use [keychain](www.funtoo.org/Keychain) but this also seems to have issues interacting with the gpg-agent.

On another note, if I kill the running gpg-agent and then start it manually thunderbird then shows me the passwo

[2017-01-26 09:43] deepfire commented on #21830
@globin, no, I don't have that option specified anywhere at all.  Also, the error has since disappeared after moving to a fresher `master`.

[2017-01-26 09:48] deepfire commented on #21495
@PierreR, I have since faced the same issue, actually -- and it appears as is there is a solution:
instead of adding `pkgs.stack` and `ghc.intero` to the `buildInputs` of your derivation (in your default.nix), add them into the `buildTools` in your `shell.nix`:
[code]

[2017-01-26 09:49] vcunat commented on #22120
I have xfce4-session (with XMonad), but I don't remember now how the agent(s) are started.

[2017-01-26 09:55] deepfire commented on #21495
@PierreR, alternatively, open `pkgs/development/haskell-modules/configuration-common.nix`, and find the overrides for stack -- in my case they look like this:
[code]
..then add these overrides to your own derivation's `haskellPackages` overrides.

The issue here is that the overrides due to `stack` split the package set into two trunks -- the stack-stemming libraries, and the unoverridden librarie

[2017-01-26 09:58] lheckemann commented on #22120
I'm on i3. I also just realised that I have no idea when my gpg agent is spawned; I don't see it mentioned in any of the files that start up my session. I suspect that it might be started by the client on demand. @Unode, what happens if you kill the running agent then try to use clients without manually restarting it? And do you know where the initially started agent keeps its sockets? (try `lsof

[2017-01-26 10:04] dwe11er commented on #21929
I'm running unstable branch and confirm, that it fixed my problems with services starting before ZFS pool was mounted.
Especially _syncthing_ was problematic, because - if directories doesn't exist - it creates them on start, which forbids ZFS from mounting the pool.

[2017-01-26 10:09] arianvp commented on #18881
I am working on a patch to fix this for gitlab. I use nixops to deploy https://arianvp.me/ and because I think it's good for people as a learning resource, the entire thing is out in the open on github http://github.com/arianvp/arianvp.me

I use nixops secret management to provision secrets, as can seen here: https://github.com/arianvp/arianvp.me/blob/master/arianvp.me/services/nginx.nix#L15

Howe

[2017-01-26 10:11] arianvp commented on #18881
This is a breaking change though, as it would break existing gitlab installs.  Howabouts would I communicate that clearly?

[2017-01-26 10:29] lesscodeless opened #22170 "nixos-container circumventing read-only bind mount"
## Issue description
Read-only bind mounts (setup by the host) are writable in the container.

### Steps to reproduce
[code]

[2017-01-26 10:40] spinus commented on #18881
@arianvp there is a function in nix which inform people about deprecated stuff. I'm not sure if there are any rules for nixos to keep compatibility between versions.

Less intrusive way of doing that would be to support two ways for one release and show deprecation message to people using function I mentioned (IMHO, probably someone from the core team could comment how to do that better).

[2017-01-26 10:53] edofic opened #22172 "phantomjs2 does not build on darwin"
## Issue description

Build fails because it depends on `cups`. But darwin support for `cups` [was removed here](https://github.com/NixOS/nixpkgs/commit/5d6da38d33)

### Steps to reproduce

`nix-shell -p phantomjs2` on a darwin machine.

## Technical details

* System: macOS Sierra
* Nix version: 1.11.5
* Nixpkgs version: 17.03pre98682.f673243

cc @NejcZupec

[2017-01-26 12:48] FPtje commented on #22014
I can confirm the black screen on boot issue on the Raspberry pi 3. U-Boot shows fine, but the screen goes blank when the kernel starts loading. The exact same SD card would boot fine (with HDMI working) on a Raspberry pi 2.

It's a minor problem to me personally, since we don't use the HDMI port anyway.

Also, I've got a Linux kernel override that includes the DTB patch. For those who want to bui

[2017-01-26 13:10] dezgeg commented on #22014
FWIW, when I tried RPi3 on Aarch64 the HDMI worked for me. Maybe it got fixed/enabled in kernel 4.9.

For the kernel config question, it's because sometimes (not always) enabling the `kernelAutoModules` option for the config generator (which tries to build anything that's not already enabled as a module) makes the kernel crash on boot. Really weird problem. But do tell what's missing and I can exp

[2017-01-26 13:26] FPtje commented on #22014
My entire override can be found [here](https://gist.github.com/FPtje/7b2eaf3afafebcdf34a02aecda54cb1e). There's I2C stuff, which might be useful for tinkering, the INET, IP[6]_..., NETFILTER_, NF_ stuff is for the firewall (and for our VPN).

Many things (like the PPP stuff) are probably not needed. The default Raspbian stuff can be found [here](https://github.com/raspberrypi/linux), scattered in

[2017-01-26 13:29] vcunat commented on #22140
The shell perhaps doesn't behave ideally for this.  Note that `jre.out == jdk`.

[2017-01-26 14:59] league commented on #21955
Thanks for the suggestions. I was able to get past the `/usr/share` problem (I think). I am using the `pkgsi686Linux.libredirect`.  Right now data is getting to the printer, but then the printer flags some error and refuses to continue. I'm going to hold off on cleaning up my hacks for a PR until I get it end-to-end.

[2017-01-26 15:19] ttuegel commented on #21148
OK, I have a better handle on this now. I think the proximate cause is Dropbox trying to `mmap` some file as `PROT_EXEC` when the filesystem is mounted `noexec`:
[code]
If `mmap` errors, it will leave the pointer at `NULL`; I suspect that Dropbox doesn't check for that condition. I can't figure out what it's trying to map, though!

@siddharthist Could you also post the contents of `/proc/mounts` s

[2017-01-26 15:36] RobBlackwell opened #22176 "QGIS doesnt run from NIX on Ubuntu"
## Issue description

I installed Ubuntu 16.04 today as well as NIX. Other packages work
fine, but he NIX installed QGIS fails as follows:

### Steps to reproduce

Fresh install of Ubuntu 16.04 and NIX. Install the QGIS package and run it.

## Technical details

    Warning: loading of qgis translation failed [/nix/store/gfg4gxc29jjy3zgjwbal2fwq045rrrai-qgis-2.18.3/share/qgis/i18n//qgis_en_GB]

[2017-01-26 16:49] fpletz commented on #18881
@arianvp Looks interesting. Ping me if you need help.

[2017-01-26 17:00] wizeman commented on #4825
@abbradar I would prefer this option not to be removed, since I am using it and I have no plans to use `nixops send-keys`.
To prevent this bug, I am adding the following config options to `configuration.nix`:
[code]

[2017-01-26 17:02] globin commented on #20186
systemd 232 is on staging

[2017-01-26 17:23] copumpkin commented on #22105
I was thinking that it might make sense for us to allow individual providers to inject an arbitrary script that is expected to produce a valid NixOS configuration that would then get dropped into /etc/nixos/configuration.nix at startup. EC2 could hit 169.254.169.254, packet.net could hit its thing, etc.

[2017-01-26 17:43] copumpkin commented on #22176
Looks like it's depending impurely on your system python! 😱

[2017-01-26 17:50] P-E-Meunier opened #22177 "[replace] doesn't replace"
## Issue description

The `[replace]` section of `Cargo.toml` is not handled by `buildRustPackage`, which issues the following warning (in my case, when replacing package `ring:0.6.2` with a local version):

[code]

That section can be used to override a package with some locally fixed package.

This is not a big problem until one tries to quickly fix a bug in a dependency and `nixops` it into pro

[2017-01-26 18:11] spiderbit commented on #20116
yes this workaround works.

[2017-01-26 18:25] goffrie commented on #21148
@ttuegel The mmap is `MAP_ANONYMOUS` so there's no FS involved. I suspect it's a problem with mapping `PROT_WRITE|PROT_EXEC`, a pax thing?

[2017-01-26 18:37] Ericson2314 commented on #21471
@DavidEGrayson's work in https://github.com/DavidEGrayson/nixcrpkgs/ should greatly accelerate this!

[2017-01-26 18:48] dermetfan commented on #21540
Seems to be fixed in `17.03pre98682.f673243` / f673243aff0bc9ae4d2e96ccd60124ff9fe5b103.

[2017-01-26 18:48] #21540 closed

[2017-01-26 18:57] copumpkin commented on #22172
Perhaps cups works (or can be made to easily) nowadays? The removal was over 3 years ago, which  was before we put major effort into purifying the darwin stdenv.

[2017-01-26 19:19] ttuegel commented on #21148
Maybe? I'm pretty out of my depth here. Isn't PaX enabled by default on NixOS now? In which case, why doesn't it affect me?

[2017-01-26 19:24] Ericson2314 commented on #21471
@cleverca22 points out https://github.com/taktoa/arcane-chat/blob/master/default.nix has a bunch of hacks needed to get windows to work. Would be good to keep these things in mind.

[2017-01-26 19:33] siddharthist commented on #21148
@ttuegel I do have PaX installed via `security.grsecurity.enable`, and wasn't seeing this problem before then, so that seems like a likely cause to me. I don't think it's installed by default on NixOS.

[code]

[2017-01-26 22:11] nh2 opened #22181 "ACME/LetsEncrypt is broken on unstable, works on 16.09"
## Issue description

I use nginx's `enableACME` setting to enable LetEncrypt for nginx:

[code]

This works on the nixos-16.09 channel, but on nixpkgs-unstable, it breaks, in 2 different ways on my server (from `journalctl`):

1) The request to letsencrypt hangs forever at `Starting new HTTPS connection`:

[code]

2) An explicit error (happened only once in the entire `systemctl`):

[code]

I've

[2017-01-26 22:25] k0001 commented on #22181
I recently saw this issue when I was using `nixpkgs` version 210b3b3184b27be8597f320fc9f337d3997dce94 (`nixos-16.09` from some weeks ago). Upgrading to a newer `nixos-16.09` fixed it.

[2017-01-26 23:05] globin commented on #21830
`/nix/store/1wgbs2w2qq4zr7rl57lll605lj35wshm-grub-2.x-2015-11-16/sbin/grub-install: error: attempt to install to encrypted disk without cryptodisk enabled. Set `GRUB_ENABLE_CRYPTODISK=y' in file `/nix/store/1wgbs2w2qq4zr7rl57lll605lj35wshm-grub-2.x-2015-11-16/etc/default/grub'.`

That seemed to say that, no idea what the issue was then, so I'm closing this, please reopen if it occurs again.

[2017-01-26 23:05] #21830 closed

[2017-01-26 23:20] teh commented on #22047
Thanks for filing an issue! I see you already filed the GHC 8 incompatibility upstream.

You could try the following patch:

[code]

but it'll require re-building substantial amounts of old code that are no longer being build by hydra. If it works we can apply the patch, otherwise I think I'd vote for removing the package. What do you think?

[2017-01-26 23:33] teh commented on #22143
https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/haskell-modules/configuration-hackage2nix.yaml maybe?

[2017-01-26 23:53] spacekitteh opened #22186 "Package Request: CodeChecker"
CodeChecker is a static analysis tool which depends on build system support. From the readme:

[code]
https://github.com/Ericsson/CodeChecker

[2017-01-27 00:49] 3noch commented on #20511
Fixed by #20512

[2017-01-27 00:49] #20511 closed

[2017-01-27 01:01] Unode commented on #22120
I forgot to mention that I use `slim` as graphical login manager. It's the default after installation.

`lsof -c gpg-agent` gives me `/run/user/1000/gnupg/S.gpg-agent` in both cases (login and after kill).

One thing I also noticed is that after killing `gpg-agent` and confirming that no process is running nor started automatically, the moment I select an encrypted or signed message in Thunderbird

[2017-01-27 01:08] aszlig commented on #21671
This also breaks Gajim with OTR and E2E.

[2017-01-27 01:13] aszlig commented on #21671
Also, after digging a bit on what exactly went wrong, it seems that `pycrptodome` is **not** suitable as a drop-in replacement and it has a lot of backwards-incompatible changes, see for example https://github.com/Legrandin/pycryptodome/blob/57548f05eec372932f54b552fecf0f0f1d54d941/Changelog.rst#breaks-in-compatibility.

For example this is the exception that's now thrown with the gotr plugin:

[c

[2017-01-27 01:28] mikefaille opened #22188 "Ring-gtk: cmake can't find libebook from evolution-data-server-3.20.5"
## Issue description

Currently, I'm working to package https://ring.cx for Nixos. To build it, I follow build instruction : https://tuleap.ring.cx/plugins/mediawiki/wiki/ring/index.php/Build_Instructions

As reference for my package, I use mainly Debian, Gentoo and Archlinux package source.

As we can see in build instruction, we must compile/package in 3 steps :

1. Ring Deamon (dring)
2. lrc (a

[2017-01-27 02:03] grahamc commented on #22128
Just pushed new qemus everywhere. Good work, all done! Thank you! :D

[2017-01-27 02:25] #22128 closed

[2017-01-27 02:51] danbst opened #22192 "Cannot use localedef"
## Issue description
I tried to create new locale, but `localedef` fails hard.
[code]

@vrthra has investigated into this issue in https://github.com/NixOS/nixpkgs/issues/15910, but without proper resolution.

## Technical details

* System: NixOS: 16.09.773.b8ede35
* Nixpkgs version: "16.09.773.b8ede35"

[2017-01-27 05:18] peterhoeg opened #22194 "NixOS unstable not updating / hydra is down"
## Issue description

Looks like hydra is down:

[code]

Cc: @grahamc @rbvermaa

[2017-01-27 07:13] vaibhavsagar commented on #22047
After applying your patch, I'm getting an error building `gtk2hs-buildtools` (#18586). Is there an easy workaround for this? I'm hopeful that IHaskell will gain GHC 8 compatibility in the near term, so I'd rather not remove the package :smile:

[2017-01-27 07:55] vcunat commented on #22194
Yes, nixos-unstable is over two weeks old now.

[2017-01-27 08:13] FRidh commented on #21671
@aszlig gajim master seems to have changed to pycryptodome and cryptography
https://dev.gajim.org/gajim/gajim/blob/master/requirements.txt

Quite frankly, I wouldn't trust any package that has been using an unsafe library for this long and still hasn't bothered to release a version that is using a safe solution.

[2017-01-27 08:53] zimbatm commented on #22127
How do you select the version of ruby that's available?

The issue is a limitation of bundler. It has to be installed with the same version of ruby that you are using. If you are using rvm or other ruby version switcher then install bundler with that tool. For a pure nix solution use something like this:
[code]

[2017-01-27 09:19] globin commented on #22194
Yes, I'm trying to get a channel bump through, one test remaining.

[2017-01-27 09:19] teh commented on #22047
Reading https://github.com/NixOS/nixpkgs/issues/18586 I doubt there is.

In order to save other people time maybe we should at least add an assert with an informative message and a link to this bug so other people won't lose time trying to install ihaskell?

[2017-01-27 09:24] vcunat commented on #22194
That gnome test seems unfixable, at least without admin access.

[2017-01-27 09:34] FRidh commented on #22176
qgis explicitly asks for the users' site-packages, I guess because it is a feature to install modules as a user. This is something that can always break because we can never guarantee that the users' Python is compatible with ours nor that the users' Python actually works :)

The reason it eventually breaks is because it seems Ubuntu doesn't provide `_sysconfigdata_nd` where Python looks for it. N

[2017-01-27 09:45] peterhoeg commented on #22127
I was looking for the pure nix way of doing - overriding the ruby dependency for bundler does indeed do the trick:

[code]

Thanks @zimbatm !

[2017-01-27 09:45] #22127 closed

[2017-01-27 09:48] vaibhavsagar commented on #22047
Sure, that's a good idea.

[2017-01-27 09:55] globin commented on #22194
Seems to be continuing now.

[2017-01-27 10:35] #22047 closed

[2017-01-27 11:24] vcunat commented on #22194
Success! I think the channel will get bumped updated soon.

[2017-01-27 11:40] globin commented on #22194
Channel updated

[2017-01-27 11:40] #22194 closed

[2017-01-27 11:41] zimbatm commented on #22127
There is also the ruby `dev` passthru who contains both bundix and bundler for the selected ruby version. I'm not sure if I want to keep that in the future though as the whole development story is not streamlined yet.

[2017-01-27 11:49] teh commented on #22047
I can't see an easy way of disabling ihaskell, so I suggest removal, followed by re-introduction when fixed. @vaibhavsagar - would you be able to own this?

[2017-01-27 13:14] RonnyPfannschmidt commented on #22155
there seem to be other collisions as well, i see them for gvfs as well

[2017-01-27 13:46] #19034 closed

[2017-01-27 14:24] NejcZupec commented on #22172
I tried to revert this commit (https://github.com/NixOS/nixpkgs/commit/5d6da38d33) and I still can't build phantomjs. I got the following error:

[code]

[2017-01-27 14:36] globin commented on #21484
Fixed in 8769ddc

[2017-01-27 14:36] #21484 closed

[2017-01-27 14:49] dtzWill commented on #11463
Testing/feedback/review requested, if you're interested:

Swift 3.1-dev: https://github.com/NixOS/nixpkgs/pull/22098
WIP support for building Swift things with Nix:  https://github.com/NixOS/nixpkgs/issues/22138

[2017-01-27 15:42] ttuegel commented on #21148
Ah, now we are getting somewhere! It looks like a known issue that Dropbox does not work under PaX. We apparently need to set some [flags](https://github.com/nning/linux-pax-flags/blob/master/simple.conf#L52) but I don't know how to do that. Maybe someone who knows more about PaX?

[2017-01-27 15:44] goffrie commented on #21148
I think the command is `paxmark m $binary` to turn on MPROTECT.

On Fri, Jan 27, 2017 at 10:42 AM, Thomas Tuegel <notifications@github.com>
wrote:

--
Segmentation fault

[2017-01-27 15:47] ttuegel commented on #21148
IIUC, paxmark requires root permissions, so it can't be run by the Nix builder. I don't know how this is done on NixOS.

[2017-01-27 16:41] wizeman commented on #22177
I think this is not a bug in `rustBuildPackage`, but rather in your `Cargo.toml` or in `cargo`.

Are you sure you are specifying the version inside the `[replace]` section correctly?

You can check if the version is correct with `cargo pkgid ring`.

If you specified the version correctly, you can try instead to put the output of `cargo pkgid ring` as the package version to replace inside the `[rep

[2017-01-27 16:55] wizeman commented on #22177
It occurred to me that you could check a couple of additional issues:
1. Verify whether Nix is actually picking up any changes you have made to `Cargo.toml`, or the git checkout in `$project_dir/ring` - sometimes it's easy to forget to do a `git commit`, generate a tarball or whatever is necessary for Nix to pick up the changes.
2. From your description, it wasn't clear to me whether you tried to

[2017-01-27 16:58] RobBlackwell commented on #22176
Thanks - installing the NIX supplied Python2Full package solves the problem.

[2017-01-27 16:58] #22176 closed

[2017-01-27 17:15] FRidh commented on #22176
Good to hear the problem is solved. I am surprised that it did solved it though.

[2017-01-27 17:36] siddharthist commented on #21148
I am now quite certain that we have found the issue, Dropbox works again after setting `grsecurity.enable = false`. Thanks for your thoughts, everyone! If anyone finds a solution, I'm happy to make a pull request.

[2017-01-27 18:10] P-E-Meunier commented on #22177
Yes, because `cargo build` is able to handle it correctly, in a `nix-shell` with the same versions of everything as my `rustBuildPackage`.

I'm working on a modified local checkout of nixpkgs, and I tried this both with my own rustup nightly fetcher, and the one in NixOS unstable.

My problem is, my project requires Rust nightly, and ring 0.6.2 stopped building on nightly this week (I could build

[2017-01-27 19:33] copumpkin opened #22211 "NixOS EBS AMI has a default root filesystem size that's uncomfortably small"
In general, people can customize their filesystem sizes when spinning up an AMI, but if someone isn't paying close attention and blindly spins one up with the defaults, they'll end up with a root filesystem that's only 3GB, and will fill up immediately. Might put off newcomers, and is a trivial fix.

I think the fix would boil down to changing https://github.com/NixOS/nixpkgs/blob/master/nixos/mai

[2017-01-27 19:41] edolstra commented on #22211
This would undo https://github.com/NixOS/nixpkgs/issues/15148 which I don't think is a good idea.

You can increase the root size by setting `deployment.ec2.ebsInitialRootDiskSize` in NixOps. But you can't *decrease* it, so it makes sense to have the default AMI size small. (We could set a default value for `deployment.ec2.ebsInitialRootDiskSize` though.)

[2017-01-27 19:43] copumpkin commented on #22211
I'm not saying the snapshot should get bigger, just that the default disk mappings in the AMI are larger. There are two quantities here:

1. The size of the EBS volume we create the snapshot from, which is a _lower bound_ on the final EBS volume size
2. The size of the EBS volume mapping (metadata) we add to the AMI specification

I'm saying to change #2, which doesn't prevent you from shrinking i

[2017-01-27 19:43] copumpkin commented on #22211
Also, not everyone uses NixOps 😄

[2017-01-27 19:48] edolstra commented on #22211
Well, that was the issue: apparently you cannot decrease the size in the default mapping, only increase it (https://github.com/NixOS/nixpkgs/issues/15148#issuecomment-216244936). I may have been wrong though.

[2017-01-27 20:05] copumpkin commented on #22211
Looks like you're right 😡. I've submitted a bug and I'll let you know what AWS says about whether it's intentional or not. Very annoying!

[2017-01-27 20:13] aszlig commented on #21671
@FRidh: Mhm, I'm giving it a shot trying to backport the changes from master to use pycryptodome.

[2017-01-27 20:46] Mic92 commented on #21671
@aszlig some test for python-axolotl also break with pycryptodome.

[2017-01-27 21:58] kevincox commented on #20033
I'm closing this as mesos was fixed. It's currently broken on master but working on most branches.

[2017-01-27 21:58] #20033 closed

[2017-01-27 22:01] kevincox opened #22213 "Mesos broken due to dependency on libnl-3"
https://hydra.nixos.org/build/47090295

[code]

cc: @cstrahan @kamilchm

[2017-01-27 22:33] cstrahan commented on #22213
I think this started failing when we updated to `libnl-3.2.29` (/cc @fpletz @grahamc).

In 3.2.28, `nl_has_capability` was defined here: `include/libnl3/netlink/utils.h`

[code]

Also (potentially) suspect:

[code]

[2017-01-27 22:37] kevincox commented on #22213
Looks like the nl update was accidentally a downgrade.

[2017-01-27 22:37] kevincox commented on #22213
https://github.com/NixOS/nixpkgs/commit/8d342d20b5ea7df31b0a29fc5e3664868c81d832#diff-b26206d38c508ce326d3a94f4bfb5dad

[2017-01-27 22:38] kevincox commented on #22213
I'll prepare a patch for libnl.

[2017-01-27 22:39] cstrahan commented on #22213
Yeah, just noticed, hehe. Thanks!

[2017-01-27 22:46] kevincox commented on #22213
Oops, ignore the first one, picked the wrong branch.

[2017-01-27 22:47] grahamc commented on #22213
Sorry, y'all...! :o

[2017-01-27 22:48] #22213 closed

[2017-01-27 22:54] kevincox commented on #22213
I can't blame you for a typo, we're all human 😄

[2017-01-27 23:10] tg-x opened #22216 "allow multiple SOCKS service instances"
Currently it is only possible to configure a single dante and nylon instance:

- https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/networking/dante.nix
- https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/networking/nylon.nix

It would useful to allow multiple instances, just like in case of e.g. openvpn:

- `services.dante.<name>...`
- `services.nylon.<name>...`

[2017-01-27 23:38] cheecheeo opened #22218 "Add pzstd"
## Issue description

https://github.com/facebook/zstd/tree/dev/contrib/pzstd it'd be nice to have this as an optional package with the already existing `zstd` package or as a standalone package

[2017-01-28 00:09] mbrgm commented on #22026
@globin I fixed the errors you found during compilation and submitted a PR to upstream VTE. As the changes may take a while to propagate down into vte-ng, I added them as patches to the vte-ng package, which is now used to compile termite.

[2017-01-28 01:29] aszlig commented on #21671
Yeah, which also is needed for Gajim and OMEMO. Also, backporting this is not so easy because first of all cherry-picking the right commits from master is quite difficult because both implementations use the same module names.

Aside from that, there are plugins that are relying on pycrypto. These however are downloaded from the gajim plugin repository so we don't have control over them. So in the

[2017-01-28 07:21] FRidh commented on #21671
@aszlig pycrypto was on the list in https://github.com/NixOS/nixpkgs/issues/21642
The issue https://lwn.net/Vulnerabilities/710478/

As I wrote on the [roundup issue](https://github.com/NixOS/nixpkgs/issues/21642#issuecomment-270473485):

A maintained fork of pycrypto is pycryptodome. We should see if we can replace pycrypto with pycryptodome.

We didn't backport the pycrypto dummy, so its just on

[2017-01-28 07:22] vbgl commented on #14829
A tentative fix of mathcomp is to be found in PR #22223. Testers welcome :-)

[2017-01-28 07:24] FRidh commented on #21671
If someone feels like maintaining that package, feel free.

[2017-01-28 09:56] e-user commented on #17044
Ping @bennofs @FRidh

[2017-01-28 11:28] fubarbaz commented on #22186
Plenty of issues like this one (request for packages) have been closed. What's the policy on that?

[2017-01-28 13:59] alexeymuranov opened #22229 "Cannot set up Thunderbird with Gmail on one NixOS machine (but can on another one)"
## Issue description

A have a dual-boot NixOS and Ubuntu laptop.  I have been mostly using Ubuntu, but i am trying now to configure NixOS to a usable condition.  My main account is shared between Ubuntu and NixOS.  I have many applications, like Thunderbird and Evolution, installed on both, sharing their data and configuration, but i have not yet used them all under NixOS.  This time i tried to u

[2017-01-28 15:28] florianjacob commented on #19522
Yeah, this tarball seems to vanish instantly after generation. ☹️ I used the „reproduce this build“ link and compiled it myself, problem is the resulting tarball seems to only contain /nix/store and some mountpoints but no something like /etc/os-release (or any /etc at all) so that I could execute it with e.g. systemd-nspawn.

[2017-01-28 16:37] globin commented on #19522
nixos/hydra#321

[2017-01-28 17:49] yochai opened #22233 "kdevplatform 5 fails to build on unstable"
## Issue description
Trying to update unstable from 17.03.git.f673243 to f66d7823ece6fa4bf99e56fa4b4cb0ab16522839 (current nixos-unstable), while trying to build kdevelop 5 it will try to build kdevplatform and will fail with the following message:

[code]

### Steps to reproduce
As far as I can tell, try to install kdevelop on unstable.

## Technical details
NixOS 17.03.git.f673243 -> f66d7823ece

[2017-01-28 20:12] listx commented on #21796
Is there anything I can do to try to resolve this issue? One big problem appears to be how the traditional paths like /bin/bash are not sed-replaced (according to the error messages I posted). I am not sure why this is the case, as the hplip derivation (https://github.com/NixOS/nixpkgs/blob/beef906d2e0494ac5750e775504d98e34a2dfd4b/pkgs/misc/drivers/hplip/default.nix#L78) appears to perform sed rep

[2017-01-28 20:13] toogley opened #22238 "jekyll build can't find jekyll-gist"
I want to use the program `jekyll` to build some websites, but i don't know how i can make jekyll find other libraries.

[code]

(using sudo for installing the gems also doesn't help)

## Technical details

* System: `16.09.1587.b186574 (Flounder)`
* Nix version: `nix-env (Nix) 1.11.6`
* Nixpkgs version: `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`

[2017-01-28 20:55] spy-tech commented on #5200
The reason why we should close this issue is, because exactly there is no standard which says that it needs to be done in this particular way.

Indeed as has been said earlier, but not quoted:

              Do  not read either the system-wide startup file /etc/profile or any of the personal initialization files ~/.bash_profile, ~/.bash_login, or ~/.profile.  By default, bash
              reads t

[2017-01-28 21:11] alexeymuranov commented on #22229
I just tried the same on a different machine with NixOS after upgrading everything to the latest version (Thunderbird 45.7.0 instead of 45.6.0 as before), and i could set up my Gmail account: the authentication window that before was blank now opened a web page where i had to log into my Gmail account and authorize Thunderbird to manage my mail.  Strange.  I will try to experiment further.

[2017-01-28 21:13] vcunat commented on #5200
To me it seems confusing at least.  It would be nice if the behavior was at least described somewhere (like our docs), i.e. making our own standard &ndash; preferably in a way consistent with some other systems, but I don't even see a good particular place where to put the information.

[2017-01-28 21:16] vcunat commented on #22229
I suspect it might be some impurity that surfaces on non-nixos systems.  I would perhaps try `strace` and look if it loads some code outside of nix store.

[2017-01-28 21:25] alexeymuranov commented on #22229
I have just upgraded the first machine to the latest version of NixOS (with Thunderbird 45.7.0) and tried again with the fresh account. The window that pops up and is supposed to show a Gmail web page where i have to log into my account still pops up blank.

[2017-01-28 21:44] alexeymuranov commented on #22229
![screenshot from 2017-01-28 22-28-29](https://cloud.githubusercontent.com/assets/712698/22400054/57555552-e5ab-11e6-9bad-ef19ed304e1f.png)
![screenshot from 2017-01-28 22-28-56](https://cloud.githubusercontent.com/assets/712698/22400055/5eb25c78-e5ab-11e6-90d2-2345327b666b.png)
![screenshot from 2017-01-28 22-29-14](https://cloud.githubusercontent.com/assets/712698/22400056/6199d542-e5ab-11e6-823

[2017-01-28 22:51] siddharthist commented on #21148
Is there any way to configure PaX via files that we could write to in the `grsecurity` role?

[2017-01-28 22:54] michalrus opened #22242 "InfluxDB exits right after start with collectd configured"
## Issue description

On 16.09, InfluxDB cannot be enabled successfully with collectd configured.

### Steps to reproduce

1. Add this to `configuration.nix`:
[code]
2. Make sure `/var/db/influxdb` does not exist (clean start).
3. Run `nixos-rebuild switch`
4. `journal -u influxdb.service`:
[code]
The last debug message before exit isn’t really helpful. I’ve checked and the port is free and bindab

[2017-01-28 23:01] alexeymuranov commented on #22229
I tried `strace` and got a 25MB text file. What should i look for in it?

[2017-01-28 23:51] joachifm commented on #21148
@siddhanathan `setfattr` won't work for read-only stores. Inelegant as it is, `paxmark` is the (supported) way to do this.

[2017-01-29 00:21] michalrus commented on #22242
Disregard, it was actually https://github.com/influxdata/influxdb/issues/7902

[2017-01-29 00:21] #22242 closed

[2017-01-29 01:01] spiderbit opened #22246 "current version breaks flexget dependencies"
## Issue description

with the newest profile flexget fails to start because of dependency problems it seems.

### Steps to reproduce

switch to newest stable profile
optionaly reboot

## Technical details

* System: 16.09.1589.4281374 (Flounder)
* Nix version: nix-env (Nix) 1.11.6
* Nixpkgs version: "16.09.1589.4281374"

[2017-01-29 04:53] nhooyr opened #22250 "`nix-env -i package` as root vs appending to environment.systemPackages"
Since both install a package visible to every user on the system, what is the difference between them?

[2017-01-29 08:23] siddharthist commented on #18176
Can we close this? Seems to be majority-against.

[2017-01-29 08:26] vcunat commented on #22229
@alexeymuranov: well, first... do you actually have binaries from Ubuntu mounted on some standard paths in NixOS? I mean mainly`/usr/**`. If so, it might generally help to avoid that.

In any case, you can check the opened files by filtering the strace output, e.g. `cat thunderbird.log | grep '^open' | grep -v '/nix/store\|/run/opengl\|ENOENT' | sort -u | less` or search for `/usr/` paths in there

[2017-01-29 08:39] nhooyr commented on #22250
Other than being declarative of course.

[2017-01-29 08:46] nhooyr opened #22252 "man prints terminal escapes instead of overstrikes"
## Issue description
In other operating systems, `man(1)` prints manpages with keywords and whatnot highlighted or bolded using overstrikes.

See http://www.iitk.ac.in/LDP/HOWTO/Text-Terminal-HOWTO-17.html#ss17.12

In nixOS, keywords are highlighted or bolded using the actual terminal escape codes like `^[[1m` for beginning bold mode.

This is a problem because some programs want the raw text of a

[2017-01-29 09:12] siddharthist opened #22253 "(Optionally) Disable PaX SOFTMODE and PT_PAX"
## Issue description
In our grsecurity configuration, we currently enable `SOFTMODE` for PaX, which according to [the Gentoo Hardened wiki](https://wiki.gentoo.org/wiki/Hardened/PaX_Quickstart), means that "PaX protection will not be enforced by default for those features which can be turned on or off at runtime". Is there a good reason for this to be enabled? Should we at least allow users to dis

[2017-01-29 09:18] FRidh commented on #22246
possibly related https://github.com/NixOS/nixpkgs/pull/21543

[2017-01-29 09:19] siddharthist commented on #22253
Also, it seems like it's not recommended to set both `PT_PAX` and `XATTR_PAX`:

[2017-01-29 09:26] frigatefreedom opened #22254 "small \No fix for babel-russian"
## Issue description
We have one regression in babel-russian:

ftp://sunsite.icm.edu.pl/pub/CTAN/macros/latex/contrib/babel-contrib/russian/russianb.pdf

Thats why some old documents created with use of eskdx packgages can not compile.

#Patch

There is patch for russianb.dtx located at babel-russian.source/source/generic/ called No-patch, but I dont know, how to add it to texlive.combine.
[No-pat

[2017-01-29 09:36] RonnyPfannschmidt commented on #15531
fixed on unstable

[2017-01-29 09:36] #15531 closed

[2017-01-29 09:37] RonnyPfannschmidt commented on #15380
fixed on unstable

[2017-01-29 09:37] #15380 closed

[2017-01-29 09:40] RonnyPfannschmidt commented on #15227
closing, next time i have an idea like this i#ll provide a proposal with a pr and/or discuss on nix-dev fist instead

[2017-01-29 09:40] #15227 closed

[2017-01-29 09:42] RonnyPfannschmidt commented on #22250
nixos-rebuild will update them if they are in `environment.systemPackages`

so basically `nix-env` usage is imperative and opts you out of the full system update

[2017-01-29 09:44] RonnyPfannschmidt commented on #21637
im closing this one as unsustainable since sha256 are available as well as name based redirects

[2017-01-29 09:44] #21637 closed

[2017-01-29 09:47] RonnyPfannschmidt commented on #16201
@lethalman i havent been tracking this one since a while, since there was a great amount of updates, is this still relevant for master/unstable?

[2017-01-29 09:48] RonnyPfannschmidt commented on #18655
this is still an issue in unstable, any fix in sight?

[2017-01-29 10:02] FRidh commented on #21637
As far as I know the name-based redirects don't work with wheels though, and I think we're going more in the direction of using wheels.

[2017-01-29 10:08] alexeymuranov commented on #22229
My NixOS and Ubuntu live on separate partitions, which are normally not even mounted simultaneously.  User directories are also on a separate `/home` partitions.  I really doubt there could be interaction for a fresh NixOS user account.

I tried to run `cat thunderbird.log | grep '/usr/'` after using `strace` with the *shared* account, here is the output:
[code]

I will try to do it later for the

[2017-01-29 10:12] RonnyPfannschmidt commented on #15316
retested on unstable

using
[code]

chromedriver isnt working in any setup

[2017-01-29 10:27] RonnyPfannschmidt commented on #21637
@FRidh wheels have urls like https://files.pythonhosted.org/packages/py2.py3/m/matlab_kernel/matlab_kernel-0.9.5-py2.py3-none-any.whl

[2017-01-29 10:29] LnL7 commented on #21637
This is what I've been using to download python packages from a custom index https://gist.github.com/LnL7/e87c76d1bf4217dcdc8226bcec1e71c1. Removing `--no-binary :all:` would make this use wheels by default.

[2017-01-29 10:30] RonnyPfannschmidt commented on #21637
@FRidh that being said, using wheels as source package implies killing the ability to run tests in many ways

but it could be valuable to set up a bootstrap tool-chain using downloaded wheels in the pythonpath

[2017-01-29 10:37] FRidh commented on #21637
Indeed, we would still have to fetch the tests elsewhere then. I'm not a big fan of it, but as it is likely setuptools will be used fewer in the future, developers will sometimes only upload wheels.

Removing --no-binary :all: would make this use wheels by default.

That's a good idea, using pip as fetcher.

[2017-01-29 10:37] alexeymuranov commented on #22229
I am sorry for this confusing report, i do not understand what is going on.

I just tried again setting up Gmail in Thunderbird in a fresh NixOS account, and it worked. The pop up window which was blank yesterday now had a Gmail login prompt.  I did it all with `strace`, here is the output of `cat thunderbird.log | grep '/usr/'`:
[code]

I would still appreciate any indication about how to debug T

[2017-01-29 10:41] RonnyPfannschmidt opened #22256 "create fetchpypi function that generates name based urls for the prefetch sheme"
followup to #21637

modern pypi supports name based dispatch of different distribution types,

based on the distribution name, the distribution type (source, py2, py3, py2.3) and some extra details,
pypi can be asked for the real file

however the current mirror url for pypi hardcodes the type source

[code]

since nixos will always require building binary wheels, it seems sensible to have functio

[2017-01-29 10:43] RonnyPfannschmidt commented on #22256
pinging @FRidh

[2017-01-29 10:49] FRidh commented on #22256
How can we retrieve a wheel given name a version? As far as I know you have to know the hash to build up an url.

[2017-01-29 10:53] alexeymuranov commented on #22229
I am closing this for now. I disabled GNOME Keyring integration plugin in Thunderbird in the shared account, and it started working, at least the Gmail account.

Sorry about the confusion.

[2017-01-29 10:53] #22229 closed

[2017-01-29 10:57] LnL7 commented on #21637
I'll create a pr that integrates it.

[2017-01-29 10:57] RonnyPfannschmidt commented on #22256
@FRidh relapce the "source" segment in the pypi.io url with the wheel type (py2, py3, py2.py3)

im working on a pr

[2017-01-29 11:03] FRidh commented on #21637
@LnL7 If we can just use fetchurl that would be even better #22256

[2017-01-29 11:05] LnL7 commented on #21637
That only works for pypi.python.org, I created that expression so I could use our internal pypi server at work.

[2017-01-29 11:07] FRidh commented on #21637
That I understand, having a generic function is nice to have. For use in Nixpkgs I would prefer we use a lighter-weight fetchurl though.

[2017-01-29 11:09] LnL7 commented on #21637
Sure, perhaps we could swap out the implementation depending on what index is used? I would be nice if I could use some of the existing packages in nixpkgs.

[2017-01-29 11:10] LnL7 commented on #21637
Since `fetchpypi` and `fetchurl` are both fixed output drvs, the implementation should not matter for the output.

[2017-01-29 11:11] RonnyPfannschmidt commented on #21637
@LnL7 most pypi servers have some form of simple redirect as far as i recall, perhaps you can get by with a sinmple fetchurl wrapper as well

an pip using function would be still nice as building block for complex setups

[2017-01-29 11:19] FRidh commented on #22256
can you show a couple of sample urls

[2017-01-29 11:27] RonnyPfannschmidt commented on #22256
https://files.pythonhosted.org/packages/py2.py3/m/matlab_kernel/matlab_kernel-0.9.5-py2.py3-none-any.whl

[2017-01-29 11:28] RonnyPfannschmidt commented on #22256
https://files.pythonhosted.org/packages/py2.py3/s/setuptools/setuptools-34.0.0-py2.py3-none-any.whl

[2017-01-29 12:04] grahamc commented on #21637
Ronny Pfannschmidt <notifications@github.com> writes:

Also, name-based redirects I believe are intended as a stop-gap
migration strategy.

[2017-01-29 12:29] nhooyr commented on #22250
Ah, updating.

[2017-01-29 12:29] #22250 closed

[2017-01-29 12:34] nhooyr opened #22258 "_module in json for options"
## Issue description
I generated a json file from a nix expression for some options for a service (my program accepts a JSON configuration file). https://gist.github.com/nhooyr/dee280772f1e12e05d1ec8f6fe0e360f. JSON, then the nix expression and then the module. what's with all the _module stuff for array sets?

### Steps to reproduce
1. create a module with an option that is an array of sets
2. ta

[2017-01-29 12:50] nhooyr opened #22259 "packageOverrides in ~/.nixpkgs/config.nix overwrites /etc/nixos/configuration.nix"
## Issue description
If I as a user, set a packageOverrides in my ~/.nixpkgs/config.nix, it will fully overwrite the packageOverrides in /etc/nixos/configuration.nix.

So say I overrode package go in /etc/nixos/configuration.nix. Then I overrode package neovim as a user in ~/.nixpkgs/config.nix. Now if I do `nix-env -i go` as the user, I will not get my overridden package from /etc/nixos/configura

[2017-01-29 13:21] globin commented on #18176
I don't see this getting general support and it is easy enough to enable, with e.g. nixops especially for multiple machines.

[2017-01-29 13:21] #18176 closed

[2017-01-29 14:26] dbeecham opened #22265 "haskellPackages.poppler fails to build"
## Issue description

    Preprocessing library poppler-0.14.1...
    In file included from /nix/store/49hz360b2i923wg8dcccwlbqc8yv4yii-glibc-2.24-dev/include/stdio.h:938:0,
                 from ./template-hsc-gtk2hs.h:4,
                 from Structs.hsc:26:
    /nix/store/49hz360b2i923wg8dcccwlbqc8yv4yii-glibc-2.24-dev/include/bits/stdio2.h: In function ‘sprintf’:
    /nix/store/49hz360b2i923wg

[2017-01-29 14:41] joachifm commented on #22253
Our needs are different than gentoo's. We *need* ELF markings for stuff in the store, but taking away the ability to set flags via xattrs is too severe, as it's a good feature for people who need it for out-of-store stuff, where modifying binaries might not be feasible or desirable (e.g., for games). It's pretty clear that per-executable PaX flags set by `paxmark` are respected even if xattrs rema

[2017-01-29 15:02] RonnyPfannschmidt commented on #19518
@abbradar i'd love to get a steak in this one, but i couldnt find relevant documentation/tools/examples

[2017-01-29 15:23] nixy opened #22267 "nscd failing to start with defaults in NixOS 16.09"
## Issue description

It looks like the default configuration for nscd is broken, causing the service to timeout at launch. I am not familiar with nscd's configuration and I don't really need it, but disabling the service to workaround this doesn't seem great.

Anyone familiar with nscd's configuration that might have some insights into why it is failing?

### Steps to reproduce

Deploy NixOS 16.0

[2017-01-29 15:29] vaibhavsagar commented on #22047
I've created a pull request.

[2017-01-29 16:05] matthiasbeyer opened #22271 "xterm 327 italic text crash"
## Issue description

https://github.com/NixOS/nixpkgs/issues/17170 was reported by me some time ago.

The point there was that xterm crashed for me if _italic_ text was shown. For example when editing markdown files in vim. 497156a6ba broke that again.

### Steps to reproduce

Build xterm _after_ 497156a6ba (latest unstable), fire up `vim /tmp/test.md` and type `some _text_`. xterm crashes instan

[2017-01-29 16:22] matthiasbeyer commented on #22271
Just tried to confirm this bug, and failed.

What I did is: Reboot. So essentially restarting the X server, I guess... and now it works as intended. So I guess the problem was more a problem of incompatibilities between an _old_ x server and a _new_ xterm rather than xterm itself.

Closed therefor.

[2017-01-29 16:22] #22271 closed

[2017-01-29 16:47] edwtjo commented on #22216
I agree about this one. Right now you need to use containers and iptables to provide multiple uplink, or any service, instances. There was some discussion previously about this initiated by @MarcWeber(can't remember the PR..) but I got the feeling that many members were against having named multiple service instances like this. Perhaps @nbp or @edolstra can chime in?

[2017-01-29 17:06] vcunat commented on #22259
`nix-env` by itself knows nothing about `/etc/nixos/configuration.nix`, which seems OK to me &ndash; that way it works more similarly on NixOS and elsewhere. The value for the currently running system isn't normally stored anywhere.

I just share the stuff "manually", i.e. I have `/etc/nixos/nixpkgs-config.nix` that is used by `configuration.nix` and I symlink that from `~/.nixpkgs/config.nix`. (F

[2017-01-29 19:02] globin commented on #20156
This is pushed to staging btw. (a38f1911d34f2a72e15d5e98d76bece6cb8042a8)

[2017-01-29 19:02] #20156 closed

[2017-01-29 19:04] #21148 closed

[2017-01-29 20:07] siddharthist commented on #22253
@joachifm Thanks for taking the time to explain this to me.

[2017-01-29 20:07] #22253 closed

[2017-01-29 20:11] siddharthist commented on #19280
This was fixed in e80a6dc62b33ca18ea6fbce777ee3b6abcf17ce8. Thanks, @pikajude!

[2017-01-29 20:11] #19280 closed

[2017-01-29 20:16] siddharthist commented on #19840
I've reinstalled NixOS, and this no longer happens to me.

[2017-01-29 20:16] #19840 closed

[2017-01-29 20:18] #18767 closed

[2017-01-29 20:42] vcunat commented on #22254
Was this somehow accepted/discussed upstream?

[2017-01-29 21:03] joachifm commented on #22253
Once we have a better RBAC story, I'd like to deal with this more at that level, at least for NixOS, I find that potentially much neater than both markings and xattrs (though `paxmark` would still be needed for non-NixOS hosts).

[2017-01-30 04:33] frigatefreedom commented on #22254
No, because I dont't have any idea, how to modify texlive, it looks more complicated than other packages.

[2017-01-30 07:18] nhooyr commented on #22259
Why symlink? If it is used by configuration.nix, shouldn't apply globally? Did you mean you are importing it in `~/.nixpkgs/config.nix`?

As for merging, what is wrong with handling collisions like: any packages defined in `~/.nixpkgs/config.nix` take precedence over the ones `configuration.nix`? What would not be satisfactory about that?

[2017-01-30 07:25] vcunat commented on #22259
I have a symlink: `ln -s /etc/nixos/nixpkgs-config.nix ~/.nixpkgs/config.nix`, but importing would do basically the same thing.

[2017-01-30 07:33] vcunat commented on #22254
Please, simply write to the maintainer of the package, so that the improvements are shared by everyone (in time). His address is near the top of [the readme file](https://www.ctan.org/tex-archive/macros/latex/contrib/babel-contrib/russian).

[2017-01-30 08:08] nhooyr commented on #22259
But why even symlink or import? If it's used by `configuration.nix`, it's applied globally already.

[2017-01-30 08:29] Mic92 commented on #22250
`environment.systemPackages` is a little different to `nix-env`. It maintains a number of symlinks in
`/run/current-system/sw/`, while `nix-env` installs them to ~/.nix-profile.

[2017-01-30 08:58] nlewo opened #22288 "systemd-journald-gateway http response is empty"
## Issue description
`systemd-journald-gateway` http response is empty when it is enable thanks to its systemd module option `services.journald.enableHttpGateway`. However, it works when it is directly launched from command line with root account.

I used the `HEAD` of `nixpkgs/master`.

### Steps to reproduce
Enable `services.journald.enableHttpGateway` and `curl localhost:19531/browse`

[2017-01-30 09:01] nhooyr commented on #22259
argh, I read that but misinterpreted. I understand why it's not working now, thanks! But what about the merging the way I described in my previous comment? Why would someone object or even expect anything different?

[2017-01-30 09:34] ikervagyok opened #22290 "X11 input broke"
## Issue description
between 8a104aa..63f609b1 (current master) my x11-input broke, no easy way to log in/examine (behind a corporate firewall...)

### Steps to reproduce
nixos-rebuild boot; reboot

## Technical details

* System: (NixOS: 8a104aa)
* Nix version: (1.11.6)
* Nixpkgs version: (17.03.git.63f609b1a4)

[2017-01-30 09:36] ikervagyok commented on #22290
maybe this is causing it: 82bcfef109ecf5
will look into it later.

[2017-01-30 10:50] vcunat commented on #22259
I know of no universal way of "merging" two attrsets that would satisfy everyone.  I personally think it would perhaps be better to keep this explicit or configurable, as nixpkgs configuration commonly contains even functions...

[2017-01-30 11:00] edolstra commented on #22211
@copumpkin Cool, thanks! Would be great if they fix this.

[2017-01-30 11:01] copumpkin commented on #22211
No response yet but will keep you posted :)
On Mon, Jan 30, 2017 at 12:00 Eelco Dolstra <notifications@github.com>
wrote:

[2017-01-30 11:11] peterhoeg opened #22292 "Unable to use breeze-plymouth"
## Issue description

Trying to use ```breeze-plymouth``` makes ```nixos-rebuild``` fail:

[code]

Cc: @ttuegel

### Steps to reproduce

[code]

Then we get the error above.

## Technical details

* NixOS: 17.03.git.0353b9662aM (Gorilla)
* Nix: nix-env (Nix) 1.11.6
* nixpkgs: 17.03.git.2f06667cdaM

[2017-01-30 14:08] k0001 commented on #22188
@mikefaille could you share the `dring` and `lrc` packages as well? I'd like to try these locally.

[2017-01-30 14:53] ttuegel commented on #22292
I'm aware of this issue. Unfortunately, I've never been able to get even plain plymouth working on my development machine; something about graphics drivers. The proximate cause is some reference not being removed as necessary. It's rather hard to debug as-is because there isn't a single package one can build to test this issue. So, a good first step might be factoring out the appropriate stage (I

[2017-01-30 16:05] peterhoeg commented on #22292
@ttuegel, plymouth works fine on 2 different machines here. I'll take a look at it during Feb - I was just hoping there was a quick solution...

[2017-01-30 16:58] k0001 opened #22296 "Hydra: 100% CPU and RAM consumption in evaluator"
## Issue description

There seems to be an issue with how the `pkgs.nginxModules` attribute is defined in `nixpkgs`, and it is causing the Hydra evaluator to consume 100% CPU and memory.

The details of this issue can be seen in this mail thread:
https://www.mail-archive.com/nix-dev@lists.science.uu.nl/msg30502.html

[2017-01-30 17:09] abbradar commented on #19518
@RonnyPfannschmidt You'd need an application that you can run to test if 32-bit OpenGL works. I think you can use `pkgsi686Linux.glxinfo`.

With that you can write a wrapper script around `steam` that:
1) Runs `glxinfo 2>/dev/null` and checks its exit code;
2) Prints a good error message and exits if `glxinfo` failed;
3) `exec`s Steam.

Place this to `runScript` in Steam's `chrootenv.nix` (use `wr

[2017-01-30 17:18] timatrescuetime commented on #18314
I've just stumbled upon this from a support ticket, and indeed have had a few issues supporting Linux securely, I have this [stackoverflow question](http://stackoverflow.com/questions/40391006/secure-server-communication-from-application-using-c-libcurl-openssl) which I'm trying to get answered and maybe someone here can help out or at least up vote for more visibility.

[2017-01-30 19:20] grahamc commented on #17407
(triage) what do we think?

We have grown by ~170 issues in the last 6 months
We hang around at 286 PRs regularly still (not growing much)

[2017-01-30 19:24] edwtjo commented on #22216
closing with b08524bf01723a23f17d24487b6b528c603127fb

[2017-01-30 21:56] carldong commented on #19295
I have this problem, where Thunderbird does not show up in KDE 5 menu, but I can run it from terminal/Alt-F2 as normal.

System info:

[code]

[2017-01-30 22:06] carldong commented on #19295
Actually there are quite  a lot of packages that have this problem. More accurately, most packages don't work well with the KDE menu in NixOS.

[2017-01-30 23:06] abbradar opened #22302 "DBus and Xfce"
## Issue description

DBus currently seems broken on Xfce -- for example, `services.gnome-keyring` doesn't work for me. Reverting 29667f639c8f88b736e8607f36eb713f8b26b6e9. fixes it; that suggests problem is that `dbus-daemon` is started not by systemd but by Xfce itself, so it misses arguments and expects its configuration in `/etc/dbus-1`. `systemctl --user status dbus` shows that the service is

[2017-01-31 03:43] rnhmjoj commented on #22181
Uhm, I have just finished setting up a server with nginx and let's encrypt with no problem whatsoever. I'm at f47757aaf03dd43cc953bdcb30feb015e94bf22a though.

[2017-01-31 05:01] fpletz commented on #22181
We are also seeing these weird errors from time to time but are not sure why they are happening. But we believe that this is a problem with the Let's Encrypt service itself because these errors are transient.

[2017-01-31 06:33] rongcuid opened #22307 "Attempted to add KMix for KDE 5"
## Issue description
I am currently attempting to add kmix into nixpkgs, whose format I am still not familiar with. However, I get errors about not finding kdelibs4, despite adding in `kdelibs4support`, and such libraries present in `/nix/store`. I can't find a command to see my current installed "packages", so I am not completely sure.

<del>A minor point: I don't know whether my box has sound ye

[2017-01-31 07:54] ikervagyok commented on #22290
confirmed, reverting 82bcfef caused this issue to go away.
tested both with `services.xserver.libinput.enable = true` and `false`

[2017-01-31 08:31] fpletz commented on #22290
I can also confirm this. I'll have another look at the code to see if we can fix this before reverting.

Thanks for the report and the investigative work!

[2017-01-31 08:31] MP2E commented on #22290
Exact same issue is happening on my end, thank you for looking in to it!

[2017-01-31 10:13] abbradar commented on #14785
As part of https://github.com/NixOS/nixpkgs/pull/22303 I consider to disable tcp-wrappers and have users relying on NixOS firewall instead.

[2017-01-31 10:13] abbradar commented on #14091
As part of https://github.com/NixOS/nixpkgs/pull/22303 I consider to disable tcp-wrappers and have users relying on NixOS firewall instead.

[2017-01-31 10:17] RonnyPfannschmidt opened #22311 "collission between postgresql and python*Packages.psycopg2"
## Issue description

[code]

### Steps to reproduce
[code]

## Technical details
[code]

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
* Nix version: (run `nix-env --version`)
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)

[2017-01-31 10:22] abbradar opened #22312 "Disable tcp_wrappers where possible"
## Issue description

While working on https://github.com/NixOS/nixpkgs/pull/22303 I noticed that we still have tcp_wrappers support compiled for nfs-utils. Same goes for several other services:

* atftp
* tftp-hpa
* argus-clients
* argus
* sshl

tcp_wrappers feels to me a faulty way to impose security as we already have kernel-space iptables which should be more resilient and also much more confi

[2017-01-31 10:57] #8650 closed

[2017-01-31 12:17] FRidh commented on #22311
That's because `psycopg2` propagates `pkgs.postgresql`.
I don't know what parts `psycopg2` actually needs, but I guess it only needs libraries so `pkgs.postgresql.lib` would sufficient.

In any case, you will still have collisions and I don't think there is any way to prevent that aside from setting a priority.

[2017-01-31 12:44] joachifm commented on #22312
From googling around, `tcp_wrappers` seems to do a somewhat better job at host-based acl than iptables and provides an additional layer to cover up holes in the fw.

[2017-01-31 12:44] jpierre03 opened #22315 "nix-exec broken on master, fine on release-16.09"
## Issue description

Nix-exec package can't be built on master branch.
Broken for i686 https://hydra.nixos.org/job/nixos/trunk-combined/nixpkgs.nix-exec.i686-linux/all and x86_64 https://hydra.nixos.org/job/nixos/trunk-combined/nixpkgs.nix-exec.x86_64-linux/all since 2016-12-11

It seems related to a nix langage API change, commit https://github.com/NixOS/nix/commit/cb5e7254b66a06b78a5659551a6f28

[2017-01-31 12:54] nh2 commented on #22181
What I saw was definitely not transient, and switching to 16.09 immediately fixed it.

[2017-01-31 13:03] abbradar commented on #22312
Hm, indeed, one feature that I noticed only now is that tcp_wrappers supports blocking by hostname.

It seems useful enough to let it stay -- please disregard this!

[2017-01-31 13:03] #22312 closed

[2017-01-31 13:50] RonnyPfannschmidt commented on #22311
i believe psycopg2 wont need an actual postgresql, just the shared libs linked correctly

[2017-01-31 15:09] vcunat opened #22318 "man path not reliable"
If you get `~/.nix-profile/man` from some (bogus) package, `~/.nix-profile/share/man` isn't used anymore.  This happened to me due to `gwenview` propagating `lmdb`.  Affected: current man on both master and 16.09.  It's possible the same happens with `/run/current-system/sw/`.

[2017-01-31 15:26] k0001 commented on #22296
Hmmm... I sure if this solves the issue. Actually, it might have been my own code introducing an infinite loop. It's not clear to me yet, but I'll close this issue meanwhile. Sorry for the noise.

[2017-01-31 15:26] #22296 closed

[2017-01-31 15:51] RonnyPfannschmidt opened #22319 "Python: collisions with backports namespace package"
## Issue description

[code]

### Steps to reproduce

## Technical details

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
* Nix version: (run `nix-env --version`)
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)

[2017-01-31 16:11] peterhoeg commented on #22307
kmix will by default try to build a kde4 version. If you have a look at ```CMakeLists.txt``` in the source distribution, you will see that you need to pass ```-DKMIX_KF5_BUILD=1``` to ```cmake``` to have it build the KF5 version.

So you need to add this in after ```propagatedBuildInputs```:

[code]

You have also carried over all the dependencies of whatever you used as the skeleton, so before a

[2017-01-31 16:59] #22315 closed

[2017-01-31 17:43] jpierre03 commented on #22315
@shlevy thanks.

[2017-01-31 17:47] carldong commented on #22307
Before I test install the pkg into my system... I see that CMake says it does not find optional deps like ALSA or Pulseaudio. Now I am testing in a `nix-shell`, so I didn't bring in the dependencies. However, do I need to add both to support all possible systems? Or will nix be intelligent enough to detect what's on my system and link those if present?

The compilation looks fine for now.

[2017-01-31 17:56] matthiasbeyer opened #22322 "xfsettingsd / xfce4-power-man crashes"
## Issue description

[code]

causing the theme to be resetted to the (ugly) default.

### Steps to reproduce

Try to use an alternative theme (doesn't matter which, AFAICS) in xfce4-12.

## Technical details

* System: 17.03pre99626.f1ba2c8 (Gorilla)
* Nix version: nix-env (Nix) 1.11.6
* Nixpkgs version: "17.03pre99626.f1ba2c8"

---

When running either of them with `--no-daemon`:

[code]

From w

[2017-01-31 18:18] vcunat commented on #22322
Probably a consequence of https://github.com/NixOS/nixpkgs/issues/22302

[2017-01-31 18:26] carldong commented on #22307
#22324

[2017-01-31 20:05] peti commented on #5493
https://github.com/NixOS/nixpkgs/pull/22121 will remedy this issue once it's merged.

[2017-01-31 20:11] peti commented on #22008
Generally speaking, the `ghc7103` is not a supported package set, i.e. we don't necessarily make an effort to keep everything in there compiling. If someone were to provide a PR that remedies this particular issue, then we'd happily merge it, but keeping an open issue around on Github seems like overkill (since no Nixpkggs maintainer is going to care about it). Therefore, I'm closing this issue an

[2017-01-31 20:11] #22008 closed

[2017-01-31 20:13] peti commented on #21993
Broken `HASKELL_GI_GIR_SEARCH_PATH`s are usually fixed in `cabal2nix`. See https://github.com/NixOS/cabal2nix/blob/master/src/Distribution/Nixpkgs/Haskell/FromCabal/PostProcess.hs#L263 et al for examples.

[2017-01-31 21:31] peti commented on #20200
IMHO, reflex is living somewhat outside of Nixpkgs, despite the fact that we contain its build (due to the fact that we contain *all* Hackage packages, plain and simple). If someone wants to submit a PR to fix the build within Nixpkgs, then I'd be hugely in favor it it. I don't think that we, the Nixpkgs community, is going to support reflex per se, though, and therefore I'm closing this ticket in

[2017-01-31 21:31] #20200 closed

[2017-01-31 21:32] peti commented on #20173
No-one is currently working on supporting ghcjs in Nixpkgs in a principled way (as can be observed from the fact that no-one is doing anything about this issue).

[2017-01-31 21:32] #20173 closed

[2017-01-31 21:33] peti commented on #19926
Closing due to inactivity.

[2017-01-31 21:35] peti commented on #19330
This is an upstream issue that's not related to Nixpkgs.

[2017-01-31 21:35] #19330 closed

[2017-01-31 21:38] peti commented on #18789
Is anyone working on this issue? Is this ticket still needed for anything?

[2017-01-31 21:40] #19039 closed

[2017-01-31 22:15] copumpkin opened #22327 "Package exhibitor and create a NixOS module for it"
We currently have a nice ZooKeper module and package, but apparently all the cool kids run ZK via [Exhibitor](https://github.com/soabase/exhibitor), which we don't have packaged or any module around. Anyone feel like packaging and/or writing a module for it?

cc @nathan-gs @cstrahan @pradeepchhetri who have dealt with ZK

[2017-01-31 22:44] moretea opened #22328 "Automatically open ports for matrix synapse server"
Add a `openPortsInFirewall` option, with a default of `true`. It's pretty pointless to run a matrix server without connecting to other ones.

[2017-01-31 23:09] cstrahan commented on #20173
@anderspapitto The native `cabal-install` should work, IIRC, if you configure your build to use the ghcjs compiler; I don't think cabal-install has ever built on ghcjs.

Does that help at all?

[2017-01-31 23:30] Profpatsch commented on #18789
It probably is; I’ve been using a stale (patched) version for my ghcjs project, since keeping up-to-date with the ghcjs packages was a drag.
But the packages are probably still broken on master.

[2017-01-31 23:35] copumpkin commented on #22328
This could be said about most of our services. It'd be nice if we could abstract over common service patterns like the enable option and port settings. I.e., some sort of function that produces the `{ config, ... }: { options = ...; config = ... }` structure but takes care of automatically managing common repetitive crap like this.

Ideal to me feels like:

1. Global setting, `firewall.openService

[2017-02-01 01:22] pradeepchhetri commented on #22327
I would like to own this. Thank you for bringing this up.

[2017-02-01 03:52] bendlas opened #22333 "patchelf fails in chromium 56 build with widevine plugin"
## Issue description

When building with widevine support, the build fails with

[code]

The failure looks like an error in patchelf.

cc @aszlig

[2017-02-01 06:26] matthiasbeyer commented on #19034
So this issue was fixed by https://github.com/NixOS/nixpkgs/pull/20871, as far as I can see. Although, this caused https://github.com/NixOS/nixpkgs/issues/22302 and finally https://github.com/NixOS/nixpkgs/issues/22322 which makes xfce4 unusable for me - do you see a way to fix this whole issue? It seems like having https://github.com/NixOS/nixpkgs/pull/20871 is a good thing.

Do you think a reboo

[2017-02-01 06:29] matthiasbeyer commented on #22322
From what I read in the whole chain of issues - would a reboot fix my problem?

[2017-02-01 06:32] peterhoeg commented on #18559
You can close ```wireshark```.

[2017-02-01 07:55] vcunat commented on #22327
Let's assign it to you then &ndash; informally, as GitHub only allows that for organization members (or some similar condition).

[2017-02-01 08:02] cstrahan commented on #22302
For the sake of linking the two issues/PRs: https://github.com/NixOS/nixpkgs/pull/20871

[2017-02-01 08:34] cstrahan commented on #22164
Dunno why it would spontaneously change, but check out `services.xserver.autoRepeatDelay` and  `services.xserver.autoRepeatInterval`.

[2017-02-01 08:39] lheckemann commented on #22319
What caused this to happen? Can you provide steps to reproduce the issue, and version details, as in the issue template?

[2017-02-01 08:39] fubarbaz opened #22335 "Bug: Service redshift with wrong brightness"
16.09.git.89c567c (Flounder)

I am using Plasma5, but after I logged out, RedShift displayed a login screen on my main monitor in a way too dim fashion. Additionally, I was not able to move the mouse to this login screen. After a reboot everything was fine again.

Relevant configuration:
[code]
[code]

The whole point of a service like redshift is that it should *always* work. I am not sure whethe

[2017-02-01 08:42] peti commented on #18789
@Profpatsch, do you feel that keeping this ticket -- which nobody works on -- open helps improve the situation?

[2017-02-01 09:09] domenkozar commented on #19926
Let's keep this one open, we need to get it done.

[2017-02-01 09:22] peterhoeg commented on #18384
We now have support for ```gemdir``` so this is moot.

[2017-02-01 09:22] #18384 closed

[2017-02-01 09:28] peterhoeg commented on #15262
Closing this as things are now working using ```buildFHSUserEnv```. If anyone is still having issues, let me know.

[2017-02-01 09:30] peterhoeg commented on #18146
The problem was ```-Q```.

[2017-02-01 09:30] #18146 closed

[2017-02-01 09:36] rasendubi commented on #15262
@peterhoeg the wrapper script does not seem to pass any command line arguments, so heroku is useless now. (might be worth a separate issue, but I'm in a hurry.)

[2017-02-01 10:06] fubarbaz opened #22337 "xclip does not work"
I expect
[code]
followed by Control-Shift-v  (default binding to paste something) while the KDE clipboard manager is running to paste hi to the now displayed terminal window.

Observed result: it pastes whatever was on the clipboard before the command was executed.

16.09.git.89c567c (Flounder)

Relevant configuration

[code]

[2017-02-01 10:17] fubarbaz commented on #22290
Is #22337 also related to this?

[2017-02-01 10:23] rasendubi commented on #15262
Submitted a fix: https://github.com/NixOS/nixpkgs/pull/22338

[2017-02-01 10:38] peti opened #22340 "Build profiling libraries in 'haskellPackages' by default?"
Serious Haskell hackers need to profile their code, and that requires special variants of the libraries involved in the build. By default, we don't build those libraries. Should we? If we do, then I see the following options:

1. Provide separate package sets (e.g. `haskell.packages.ghcXYZ` and `haskell.packages.profiling.ghcXYZ`) and selectively enable *both variants* on hydra.nixos.org for appro

[2017-02-01 10:42] peterhoeg commented on #15262
I have a proper fix without the ugly wrapper script. 5 min.

[2017-02-01 10:50] peterhoeg commented on #15262
@rasendubi, can you try out that PR? It also solves the psql issue.

[2017-02-01 10:51] puffnfresh commented on #22337
I think you want `xclip -selection clipboard`.

[2017-02-01 11:02] #22337 closed

[2017-02-01 11:24] fubarbaz commented on #22340
This isn't really a community discussion, is it? Whoever is paying for Hydra can decide this unilaterally.

Technically, it would probably be possible to modify GHC such that it would output both profiling and non-profiling in once pass, if wanted to do any engineering on it, that is.

[2017-02-01 11:41] layus commented on #22302
Hi @abbradar,
Could you find what command is used by xfce to start the session dbus instance ? How was it able to pick /etc/dbus-1 when it should look for /usr/share/dbus-1 ?

[2017-02-01 11:44] abbradar commented on #22302
A grep in `xfce.xfce4session` shows that it uses `dbus-launch`, without any parameters.

[2017-02-01 11:51] grahamc opened #22342 "Vulnerability Roundup 20"
The twentieth roundup! We have, together, examined 1,293 issues. A feat to be proud of, to be sure. Thank you, everyone!

---

Here are all the vulnerabilities from https://lwn.net/Vulnerabilities
since our [last roundup](https://github.com/NixOS/nixpkgs/issues/22128).

cc: @7c6f434c @NeQuissimus @bachp @vcunat @FRidh.

_Note:_ The list of people CC'd on this issue participated in the last
roundup

[2017-02-01 11:53] abbradar commented on #22302
After some more digging it seems that when configuration is stored in `/etc/dbus-1` dbus needs just `--system` or `--session` argument to work. See https://github.com/abbradar/nixpkgs/commit/687579757d163eed098853e1b20f2663d6e65491 -- with this my desktop runs correctly.

[2017-02-01 11:56] layus commented on #22302
:-) Or, you could just drop the ExecStart part, because --system and --session are what dbus does by default.

[2017-02-01 11:57] layus commented on #22302
See `systemctl cat dbus` and `systemctl --user cat dbus`

[2017-02-01 12:02] abbradar commented on #22302
Yep, it works! See #22343; it'd be nice if you could review.

[2017-02-01 12:11] layus commented on #22302
My feeling in this issue is that while putting files in /etc might seemingly solve the issue, the files in /etc may not be read at all. See https://github.com/NixOS/nixpkgs/blob/29667f639c8f88b736e8607f36eb713f8b26b6e9/nixos/modules/services/system/dbus.nix#L147 and https://github.com/NixOS/nixpkgs/blob/ea42d6fe62e5e21c4d191505019931d02182ea25/pkgs/development/libraries/dbus/default.nix#L53.
To me

[2017-02-01 12:26] layus commented on #22302
@abbradar For example, if you `strace -ff -e trace=file dbus-launch`, you will see that dbus does not look at /etc. Do you also observe that behavior ?

[2017-02-01 12:28] abbradar commented on #22302
I can't reproduce this, for me `strace` shows:

[code]

[2017-02-01 12:30] abbradar commented on #22302
Oh, I found it:
[code]
in `${dbus}/share/dbus-1/session.conf`.

[2017-02-01 12:36] mdorman commented on #22290
This seems like a revert-first-fix-later sort of bug.

[2017-02-01 12:42] #17407 closed

[2017-02-01 12:48] layus commented on #22302
Ok, so you see that dbus loads `/run/current-system/sw/share/dbus-1/session.conf`. That file comes from upstream and is only kept to allow the dbus module to modify it (see https://github.com/NixOS/nixpkgs/blob/f66d7823ece6fa4bf99e56fa4b4cb0ab16522839/nixos/modules/services/system/dbus.nix#L25-L45). Loading that files means that something is wrong. The file we setup for dbus to load is located in

[2017-02-01 12:52] abbradar commented on #22302
I looked through it and it seems to me that we don't actually need to modify it -- we can just use the upstream version. The only modification is used to force D-Bus to use `${configDir}` instead of `/etc/dbus-1`, but we link `configDir` exactly there so this is a non-issue. See https://github.com/NixOS/nixpkgs/pull/22343/commits/72b37462668e3a7568d94632994a9df5d7fd37eb

[2017-02-01 13:01] abbradar commented on #22302
BTW I think this file is used because of [this line](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/libraries/dbus/default.nix#L53).

[2017-02-01 13:10] basvandijk commented on #22340
I'm in two minds about this:

At LumiGuide we use option 1. We care about small closure sizes since some of our machines are connected to the internet through mobile links with limited bandwidth.

Although option 2 would be simpler and thus more user friendly which IMHO weighs more heavily than our specific requirements.

So for me it's a +0.1 for option 2 and I hope https://github.com/NixOS/nixpk

[2017-02-01 13:30] layus commented on #22302
The current behavior is due to a commit (https://github.com/NixOS/nixpkgs/commit/783c40eb68bbbcb9cf6918255157ecab55eedb6e) from @vcunat that set the datadir of dbus to "/run/current-system/sw/share". (https://github.com/NixOS/nixpkgs/blob/f66d7823ece6fa4bf99e56fa4b4cb0ab16522839/pkgs/development/libraries/dbus/default.nix#L53)

I wonder why such a NixOS specific path was used in the configuration

[2017-02-01 13:36] abbradar commented on #22302
@vcunat Maybe we can remove this option? Then dbus will use its configuration from `$out/share/dbus-1` and correctly include our `-local` files from `/etc/dbus-1`. Perhaps not a high priority -- as @layus mentioned there are probably no/very few people who run D-Bus daemon from nixpkgs on non-NixOS, but this also feels cleaner to me.

[2017-02-01 13:59] FRidh commented on #22319
Looks to be a similar issue as https://github.com/NixOS/nixpkgs/issues/22311 so I am closing this. As @lheckemann said you need to give more details.

[2017-02-01 14:02] nlewo commented on #22342
Systemd CVE #712501 is affecting v228 and fixed in v229. Since we use v231. We are then not impacted.

[2017-02-01 14:02] RonnyPfannschmidt commented on #22319
@FRidh the issue is different - the problem is setuptools namespace packages generating namespace declaring __init__.py files - now if you merge the file tree of 2 of those, both will have a __init__.py with the same content

[2017-02-01 14:07] RonnyPfannschmidt commented on #22319
[code]

[2017-02-01 14:18] copumpkin commented on #22327
Thanks @pradeepchhetri!

[2017-02-01 14:22] copumpkin commented on #22258
An artifact of the NixOS module system. I don't know how fundamental it is, but @nbp can probably speak more authoritatively about it. Either way, I'd probably just avoid things like this by picking only the keys you expect in your config. Or perhaps it's possible to do more centrally, but I don't know if other things use it.

[2017-02-01 15:05] vcunat commented on #22302
:-) certainly don't feel bounded by that commit of mine.  I don't remember it, but I'm fairly certain my understanding of dbus was minimal at that time (and it hasn't improved much since).

[2017-02-01 15:26] matthiasbeyer commented on #22322
The issue was fixed for me after a reboot.

[2017-02-01 15:26] #22322 closed

[2017-02-01 15:27] matthiasbeyer opened #22346 "xfterminal crashes"
## Issue description

xfterminal crashes after a few minutes, also having problems with rendering as it seems as it flickers a bit.

### Steps to reproduce

Don't know... try xfterminal in xfce4?

## Technical details

* System: 17.03pre99626.f1ba2c8 (Gorilla)
* Nix version: nix-env (Nix) 1.11.6
* Nixpkgs version: "17.03pre99626.f1ba2c8"

[2017-02-01 16:01] P-E-Meunier commented on #13267
On the stable channel, I just did the following to get `VBoxManage` to work. It was not on the wiki, nor on any github issue:

[code]

I guess another way would be to install `virtualBox`, and set `enableHardening = false`, but this is really documented nowhere.

Another undocumented thing is that one needs both `services.virtualbox.host.…` set, and a package installed: the current wiki page makes

[2017-02-01 16:02] 7c6f434c commented on #22342
We have fresh `firefox` and `thunderbird`, inlcuding `-bin`, on both branches.

We don't really have Seamonkey in NixPkgs, the hit is a false positive («Synchronise all profiles looking like Mozilla» contains a list including Seamonkey).

[2017-02-01 16:32] FRidh commented on #22319
According to [PEP 420](https://www.python.org/dev/peps/pep-0420/#specification) namespace packages shouldn't have an `__init__.py`

[2017-02-01 16:35] FRidh commented on #22319
The `__init__.py` refers to [PEP 382](https://www.python.org/dev/peps/pep-0382/) which was rejected and was eventually replaced by PEP 420. Therefore, this is an upstream issue.

Even so, we can have a look at how to fix it for now.

[2017-02-01 16:43] FRidh commented on #22319
I've reported the issue on the tracker of both packages:
- https://bitbucket.org/brandon/backports.ssl_match_hostname/issues/10/conform-to-pep-420
- https://github.com/chrippa/backports.shutil_get_terminal_size/issues/13

[2017-02-01 17:40] 7c6f434c commented on #22342
CVE-2016-8610: OpenSSL considers it non-security-critical, has quietly fixed it last September.

CVE-2016-7056: Seems to be about 1.0.1 but not 1.0.2 and 1.1.0, but I am unsure. Patch is simple enough: http://seclists.org/oss-sec/2017/q1/68 Debian seems to use it only for 1.0.1

CVE-2017-3731: we have the fixed versions

CVE-2016-7055: ditto

CVE-2017-3732: ditto

2015-year advisory with a minor f

[2017-02-01 18:08] abbradar commented on #4825
@wizeman Awesome; maybe we want to add this conditionally when `boot.cleanTmpDir` is enabled to workaround the situation?

[2017-02-01 18:10] abbradar commented on #4825
On the second thought, we can just move from `systemd-tmpfiles`; this should work always.

[2017-02-01 18:13] RonnyPfannschmidt commented on #22319
@FRidh pep420 doesn't apply to python2.7 - this is setuptools namespaces that need the file

[2017-02-01 18:18] bachp commented on #22342
Ansible was already updateed to 2.2.1.0 in 16.09 https://github.com/NixOS/nixpkgs/commit/9b02319ed7a34df2827354f9b9471f26f7a54faa

[2017-02-01 19:13] peti commented on #22340
I believe that this is more a question of what the user wants, or rather what we want the user experience to be like. Whether Hydra will cope with the load or not is a subject of speculation. Nobody really knows and we're probably not going to get a definite answer to that question. IMHO, we should chose whatever the best solution is and then try it.

[2017-02-01 19:29] #15262 closed

[2017-02-01 20:00] #22302 closed

[2017-02-01 20:40] mythmon opened #22352 "Keyboard doesn't work in Slim login manager"
## Issue description

Keyboard does not work in Slim using commit 82bcfef109ecf58ac1503e4cab15ae53dd524f4b or after. I determined that commit using git bisect. The one right before it works fine.

### Steps to reproduce

Using the below `configuration.nix` and 82bcfef109, run `nixos-rebuild build-vm` and run the VM. When the VM gets to a log in screen, typing in the login box doesn't work. On my l

[2017-02-01 21:35] fpletz commented on #22290
Agreed, I couldn't find out what's wrong with that commit. :disappointed:

[2017-02-01 21:37] copumpkin commented on #7227
More than question I think it's a bug that it doesn't work. @edolstra, any thoughts?

[2017-02-01 21:38] vcunat commented on #22352
Could this be an instance of #22290? That should be verifiable by trying with that particular commit reverted.

[2017-02-01 21:39] #22290 closed

[2017-02-01 21:39] fpletz commented on #22352
We could reproduce this with slim. It is in fact due to https://github.com/NixOS/nixpkgs/commit/82bcfef109ecf58ac1503e4cab15ae53dd524f4b.

[2017-02-01 21:40] fpletz commented on #22352
Reverted for now in https://github.com/NixOS/nixpkgs/commit/24f3abdafbf0a4840d63baa91e60ba34fad00d4d.

[2017-02-01 21:40] #22352 closed

[2017-02-01 21:50] vcunat commented on #22342
BTW, today I dealt with a minor security problem, fixed by c3ec88864. There's no CVE, at least not yet. (NixOS is probably the first distro to get the update.)

[2017-02-01 21:59] #22307 closed

[2017-02-01 22:27] laMudri commented on #18238
Reproduced on SLiM, but only after a few reboots with the same configuration. The advice on IRC was to disable xfwm, but there currently is not an option for this.

[2017-02-01 22:31] nbp commented on #22216
@edwtjo, this change is not backward compatible, please either revert it, or write a changelog entry explaining it and how people should transition from one to the other.

[2017-02-01 23:02] rasendubi commented on #20752
Fixed by #22341.

[2017-02-01 23:02] #20752 closed

[2017-02-01 23:07] rasendubi commented on #14496
Cannot reproduce.

[2017-02-01 23:07] #14496 closed

[2017-02-01 23:23] jgeerds commented on #11567
@FRidh We should mention this new convention (e.g. separate files inside `python-modules`) in our changelog

[2017-02-02 01:25] grahamc commented on #22342
@bachp did we manage to get ansible merged for master?

[2017-02-02 02:31] grahamc commented on #22342
@DerTim1 should we upgrade Asterisk to 14.2.1? I *think* we're good on Asterisk, but if it needs an update, might as well.

[2017-02-02 03:00] grahamc commented on #22342
389 should be upgraded to 1.3.5.15. With that deep of a version number, it must be safe to backport, too ;) I think the hard part (please help with this) is identifying the security related issues in those diffs. Also, do try and apply the patch from the LWN link.

[2017-02-02 03:41] AshtonKem commented on #13945
Any progress on this? Having to redo the work that others have already done because I can't find the docs is frustrating.

[2017-02-02 08:00] vandenoever opened #22365 "iwlwifi regression: wifi dies after some uptime"
## Issue description

Wifi with a recent update on `release-16.09` has unstable wifi. Internal wifi module starts breaking off connectivity after a while. I've not yet determined which exact update is the cause. Going back a few generations of NixOS fixes the issue. The issues happens with linux 4.4.45 and not with 4.4.39.

[code]
[code]

### Steps to reproduce

* boot on computer with `Intel Corp

[2017-02-02 09:54] FRidh commented on #22319
Indeed, you're right.

I don't see any other solution than using `python.buildEnv.override` and passing `ignoreCollisions = true;`.

[2017-02-02 09:56] garbas commented on #6754
documentation already merged

[2017-02-02 09:56] #6754 closed

[2017-02-02 10:07] FRidh commented on #22256
Thanks for your examples. I don't think we should have that many different fetchers. I've merged 695ff0dc09b304f2e0575081c52189893c2f38bc. While `fetchtarball` and `fetchwheel` are public now we might want to change that.

[2017-02-02 10:07] #22256 closed

[2017-02-02 10:09] FRidh commented on #22311
Actually, if you would do that, you wouldn't get any collisions.

[2017-02-02 10:15] fpletz commented on #22342
imagemagick fixed in 5e753c1a65e106ffaeb71ad3fa66a13b2dfaf5d5 & 4dae4f86faed8150a922dd9ee618d7d937b155ac.

[2017-02-02 10:17] RonnyPfannschmidt commented on #22311
im doing that now
is there any way to warn about such collisions? to ease debugging?

[2017-02-02 10:20] FRidh commented on #22311
The error reports the two Nix store paths. What else do you need? And you have the warning right there. Nix can't warn ahead of time (that is, during evaluation), because it doesn't know the contents of the store paths because they're not yet existing.

[2017-02-02 10:22] RonnyPfannschmidt commented on #22311
@FRidh but when the error happens, isnt is possible/sensible to backtrac the dependencies?

this would also help finding various recent other collision where the same package is in the path twice preventing kde5 and gnome3 at the same time for example

[2017-02-02 10:27] FRidh commented on #22311
In the end, this is *the* downside of symlinking. In the past, `python.buildEnv` would only symlink Python packages (that is, packages that had `pythonPath` set) however I changed that in https://github.com/NixOS/nixpkgs/pull/18696. See https://github.com/NixOS/nixpkgs/pull/18273 for the motivation.

Exactly what would you want to see? At the left you see the store path of the actual package, and

[2017-02-02 10:31] RonnyPfannschmidt commented on #22311
@FRidh i would like to get nix itself tell me the derivations and their dependencies

python packages are not the only thing that have trouble ith unexpected collisions, it also happens for gnome and kde in the mainsystem,

[2017-02-02 10:35] FRidh commented on #22311
But that's a Nix issue, and doesn't belong on this tracker. I'm closing this now since the issue can be circumvented by passing `ignoreCollisions` to `python.buildEnv.override`. If you want to have discussion on whether https://github.com/NixOS/nixpkgs/pull/18696 should be reverted we could have a separate issue about that.

[2017-02-02 10:35] #22311 closed

[2017-02-02 10:59] FRidh commented on #21432
What is the status of this issue?

[2017-02-02 11:08] FRidh commented on #10713
We would need one simple env which provides the notebook server, and then one env per kernel, and these can be Python env's but also Haskell, or whatever.

@teh can you share your `services.jupyter` ?

[2017-02-02 11:22] teh commented on #10713
@FRidh - there isn't much to it, it's basically:

[code]

[2017-02-02 11:30] FRidh commented on #17625
Can we conclude that we go for `package_V_V` and that the manual should be updated to reflect this decision?

---

I actually think if the range of versions is small for a certain package that it should be fine to just use `packageXX` as well. E.g., in the case of Python we only expose 2.7 to 3.5. We don't include minor versions (e.g. 3.5.2). We do have 2 and 3, but I think to anyone using these p

[2017-02-02 11:58] FRidh commented on #10713
For each kernel we need
- a [connection file](https://jupyter-client.readthedocs.io/en/latest/kernels.html#connection-files)
- a [kernel spec](https://jupyter-client.readthedocs.io/en/latest/kernels.html#kernel-specs)

An example of a kernel spec is
[code]
This contains
1. the connection file
2. A name for the kernel.
3. A language identifier.
4. Optionally an `env` attribute with additional envir

[2017-02-02 12:16] eqyiel commented on #21851
@Mic92 it definitely doesn't support Python 3, at least at the moment.

There's a patch on their Bugzilla to port to Python 3: https://bugzilla.gnome.org/show_bug.cgi?id=740219#c7

Unfortunately it's been ignored for about 6 months now.

[2017-02-02 12:47] lakshmivyas opened #22368 "mpd 0.20 has a crashing bug - 0.20.4 has the fix."
## Issue description

MPD 0.20 crashes with error:

[code]

### Steps to reproduce

1. Ensure mpd server is running
2. Try to play using any method
3. mpd crashes

See:
https://bugs.musicpd.org/view.php?id=4618

## Technical details

* System: NixOS: 16.09
* Nix version: 1.11.6
* Nixpkgs version: 17.03pre99759.f66d782

[2017-02-02 12:52] Mic92 commented on #22368
Want to make a pull request? We can also back port the fix to stable.

[2017-02-02 13:50] grahamc opened #22372 "Drop old ffmpegs"
ffmpeg 1.x and 0.x aren't maintained anymore.

Things depending on 1.x:

 - accousticFingerprinter
 - baresip
 - freerdpStable

Things depending on 0.10:

 - spotify
 - ultrastardx
 - gst_ffmpeg*

[2017-02-02 14:04] dezgeg commented on #21851
It doesn't sound sane that `gnome-shell` propagates `python3`.

[2017-02-02 14:06] grahamc commented on #22342
ffmpeg was already up to date on 16.09, needed a bump on master.

[2017-02-02 14:17] grahamc commented on #22342
@peterhoeg (fpm), @offlinehacker (panamax), @Szczyp (rhc) the ruby gem archive-tar-minitar is vulnerable to directory traversal attacks (https://lwn.net/Alerts/713254/) can you'll take a look at your packages to see if we can apply a patch? (found via https://search.nix.gsc.io/?q=archive-tar-minitar)

[2017-02-02 14:27] #22368 closed

[2017-02-02 14:29] peterhoeg commented on #22342
@grahamc, yes we did.

I'll fork it now, apply the fix from debian and reference that as a test for fpm. Assuming that works, we can apply the same fix to the other ruby packages.

[2017-02-02 14:53] OJFord commented on #14773
Looks like this can be closed since the Keybase package is @ 1.0.18 now.

[2017-02-02 15:08] fpletz commented on #14773
@OJFord Thanks for the notice!

[2017-02-02 15:08] #14773 closed

[2017-02-02 15:13] peterhoeg commented on #22372
freerdpStable can be dropped - it's so bugridden that it's practically unusable.

gst_ffmpeg is part of legacy gstreamer which is still in use by quite a few packages.

[2017-02-02 15:16] OJFord opened #22375 "Keybase file system (KBFS) not working?"
## Issue description
I can install Keybase package fine; at time of writing it's at the latest release 1.0.18.

However, after it's started and logged in etc. there's no file system available at `/keybase` as expected. Does this go somewhere else under NixOS, or is it just not working currently?

## Technical details

* System: (NixOS: `17.03pre99759.f66d782 (Gorilla)`)
* Nix version: `1.11.6`
* N

[2017-02-02 17:51] yorickvP commented on #22375
kbfs is in the package 'kbfs' (it could probably use an update, though)

[2017-02-02 18:57] k0001 opened #22380 "Xmonad: Fix ManageDocks bug"
## Issue description

This bug is present in the current version of Xmonad we ship:

https://wiki.haskell.org/Xmonad/Notable_changes_since_0.11#.2AURGENT.2A_Bug_in_0.12_ManageDocks

We should try and update the Xmonad version we install by default to include a fix for this bug, otherwise the out-of-the-box Xmonad user experience is frustrating.

[2017-02-02 19:09] aatxe opened #22381 "Xmonad: Cannot use xmonad-contrib on NixOS."
## Issue description

I've tried setting up Xmonad on NixOS 16.09 using xmonad-contrib. However, I am unable to get it to compile anything using xmonad-contrib libraries (say `import XMonad.Hooks.ManageDocks`). The compilation always fails saying that the import couldn't be found, which seems like it's unable to find xmonad-contrib for whatever reason. I imagine I'm just missing something here (be

[2017-02-02 20:02] copumpkin commented on #22375
In general, installing a package has no effect on "global" things like filesystems showing up. If your user "installs" a package, that doesn't do anything to other users, for example. An installation is a symlink into your profile.

To make something like keybase filesystem work in NixOS, I'd expect there to be a NixOS module for it. I don't know if there is one.

[2017-02-02 20:05] edwtjo commented on #22216
Right, I intend to add it to the release notes.

[2017-02-02 20:18] OJFord commented on #22375
@copumpkin I see, thank you. I'm just running on a personal machine as the sole user (well, sole non-root and with login) so that doesn't affect me, but it makes sense.

There is [a kbfs package](https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/security/kbfs/default.nix) as yorickvP mentioned, but when run it complains about not being able to talk to the Keybase server - possibly because it

[2017-02-02 20:42] yorickvP commented on #22375
I've used it in the past (there's a command line argument to specify alternate mount directories). That would suggest it's just outdated. It's not currently a module, someone would have to write one (like https://github.com/NixOS/nixpkgs/tree/master/nixos/modules/services/network-filesystems)

[2017-02-02 20:48] eqyiel commented on #21851
@dezgeg as far as I understand, it means that all derivations that have `gnome-shell` as a dependency have a hidden Python 3 input that the derivation doesn't know about (and may or may not build without it)?  Is that correct?  🙀

[2017-02-02 21:38] mboes opened #22386 "haskell.lib.buildStackProject: regression on OS X"
## Issue description

With the latest nixpkgs, haskell.lib.buildStackProject is unusable on OS X. Commit f4e67389ccf51c0d3a240f571724516ea9608926 added a reference to `cacert`, but such a variable does not seem to exist when targetting Darwin.

### Steps to reproduce

Create a `shell.nix`:

[code]

[code]

## Technical details

* System: OS X 10.10.5
* Nix version: 1.11.6

cc @domenkozar

[2017-02-02 22:43] matthewbauer commented on #18472
@copumpkin It may not always be obvious when macOS version are not supported. But when it is obvious, it may be a good idea to tag the previous commit as something like "last-macos-10.X" like in the previous comment.

[2017-02-02 23:18] polynomial opened #22390 "Update Opera to Eliminate Transparency Errors"
## Issue description

The current version of Opera in the tree throws security warnings because it is out of date

### Steps to reproduce

Install opera, try to use a secure site that requires transparency, i.e. slack, amazon.

## Technical details

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
16.09.1616.59d1d6e
* Nix version: (run `nix-env --version`)
1.11.6
* Nixpkgs

[2017-02-02 23:44] wizeman commented on #14997
For those following this at home, I have submitted a tentative fix for this issue in #22393, which seems to work for me.

It would be great if someone who understands PAM could review it, since I'm far from being an expert.

[2017-02-03 02:18] peterhoeg commented on #13945
Hi @AshtonKem, no, no progress from this side on the writeup.

You are absolutely right, the documentation is not great and there are a number of gotchas. I'll put it to the top of my list.

[2017-02-03 04:59] puffnfresh commented on #22381
Doing `enableContribAndExtras` should be enough - you don't need the explicit `extraPackages` configuration.

[2017-02-03 06:42] Szczyp commented on #22342
I'll update rhc this weekend as this version is about 2 years old now.
I'll use your minitar fork.

[2017-02-03 07:49] lakshmivyas commented on #22368
@fpletz: Thank you.  @Mic92: Will do a PR next time around.  :+1:

[2017-02-03 09:07] domenkozar commented on #22386
I'm embarrassed. Thanks for the issue :)

[2017-02-03 09:07] #22386 closed

[2017-02-03 09:48] Profpatsch opened #22401 "Why are there two wpa_supplicant option sets?"
There’s `networking.wireless` maintained by `globin`.
Then there’s `networking.supplicant`, maintained by nobody and changed by @ts468 @groxxda.

What is the reason for that duplication?

[2017-02-03 09:50] Profpatsch commented on #10804
I noticed the docs are on the old wiki down the page https://nixos.org/wiki/Wpa_supplicant.

Since there is an issue for migration of that, I’ll close here.

[2017-02-03 09:50] #10804 closed

[2017-02-03 10:17] edolstra commented on #22401
Huh, never noticed. It appears the supplicant module was introduced in c6b2365e9a3f95e2665f8c518781bc007aa055f8, with no motivation as to why we need another module for the same service. I would say get rid of it.

[2017-02-03 10:35] Profpatsch commented on #22401
I tried both, both are kind of buggy, but the `supplicant` module is more advanced it feels.

e.g. `supplicant` doesn’t restart wpa_supplicant after suspend, but it does handle the configure file better.

[2017-02-03 10:36] ts468 commented on #22401
Supplicant isn't for wireless only. It can e.g. also be used to authenticate with 802.1x capable switches.

There has been some discussion about that issue already, and ideally they should be merged, see https://github.com/NixOS/nixpkgs/issues/19029#issuecomment-250248088.

[2017-02-03 10:52] nbp commented on #22258
the `_module` is an internal artifact of the module system evaluation.  In this case the options definitions are submodules, and all submodules got these extra `_module.args` and `_module.check` options added [1].  The name argument is provided by the `listOf` option type [2], which names the option based on their position in the list.

These options are part of the module system and are made to b

[2017-02-03 11:07] nhooyr commented on #22258
Cool thanks!

[2017-02-03 11:07] #22258 closed

[2017-02-03 11:09] Profpatsch commented on #19029
The restart after suspend doesn’t work here, even with that patch.
There are no log outputs in `journalctl`.

[2017-02-03 11:34] Mic92 commented on #22365
I cannot reproduce this problem with the same wifi chip and the same kernel version on unstable.

[code]

[2017-02-03 12:03] #21490 closed

[2017-02-03 12:03] abbradar commented on #21490
I've fixed this; because of `mkVMOverride` you need `/tmp` mount to be defined inside `qemu-vm.nix` module, or it won't work.

[2017-02-03 12:12] 7c6f434c commented on #22342
shadow: real vulnerability, new upstream is at github, updated to 4.4, d6710e3d66c09c0a7485b2079d6e0d01c14faf07, cherry-picked

libXpm: real vulnerability, updated via overrides, 4675cb78cb5fbadb7aab67b125cd450322dcf3d1, cherry-picked

[2017-02-03 12:18] grahamc commented on #22342
I've got a patch for tigervnc on its way.

[2017-02-03 12:18] domenkozar commented on #22172
Did you try just removing cups? it was probably there due to xcode.

[2017-02-03 13:15] bachp commented on #22342
I updated virtualbox on master (https://github.com/NixOS/nixpkgs/pull/22383) to fix an unrelated issue. Not sure what to do for 16.09. Maybe just update the version too?

[2017-02-03 14:54] joachifm commented on #22390
The update has been merged.

[2017-02-03 14:54] #22390 closed

[2017-02-03 15:09] k0001 commented on #22340
At Takt we use a mixture of options 1 and 2. For all non-Takt code we use option 2, but then for our own code we use option 1 (in fact we go even further: We have a package set enabling optimizations for our packages, and another package set disabling them). This has worked quite well for us, because we only have to compile our dependencies once and they will satisfy the needs of any option 1  alt

[2017-02-03 15:11] k0001 commented on #22143
That doesn't seem to be from where the `_1_4_5` versions are coming from.

@peti do you know how the `amazonka*_1_4_5` entries are ending up in `hackage-packages.nix`, and where I should make the relevant changes so as to solve the issue in question?

[2017-02-03 15:22] globin commented on #22401
I'll try and merge them next week.

[2017-02-03 15:54] spiderbit opened #22408 "python3 support of pymacs"
## Issue description

nox only shows me a python2.7 package of pymacs, pymacs supports python 3, so it would be nice to get a version 3 of it.

[2017-02-03 16:43] abbradar commented on #22381
Anyway, this should work (even with duplication of contrib/extras with option); at least it works for me. No instant idea what goes wrong; try cleaning `~/.xmonad` maybe (from object files and such? Shouldn't be needed but who knows...

[2017-02-03 17:19] mboisson commented on #18995
I'm running into this issue when compiling older versions of GCC.

gcc 4.8 compiles fine, but at run time, it tries to use stack-protector-strong, which is not supported.

I've wasted about 8 hours so far trying to fix this broken thing....
[mboisson@build-node easybuild-easyconfigs]$ gcc --version
gcc: erreur: unrecognized command line option ‘-fstack-protector-strong’
gcc (GCC) 4.8.5

Our fork o

[2017-02-03 17:23] globin commented on #18995
There is no optimal fix yet, workaround is still to `export hardeningDisable=all` in your shell while developing.

[2017-02-03 17:59] mboisson commented on #18995
Thanks.

[2017-02-03 18:12] FRidh commented on #22408
The package has been disabled for Python 3.x as can be seen in the expression. Why I don't know. Maybe the maintainer @cillianderoiste can explain.

In any case, if you want the Python 3.x version I suggest you fix the expression.

[2017-02-03 18:13] FRidh commented on #22408
Because this is a package request I am closing this issue. Do feel free to discuss further.

[2017-02-03 18:13] #22408 closed

[2017-02-03 18:43] FRidh commented on #21851
Correct. Propagating build inputs is something to be careful with. In this case, certain programs likely need a Python interpreter with a certain set of packages. In that case it makes more sense to have the Python env as `buildInput`. `patchShebangs` will then take care of pointing the shebang to that env.

[2017-02-03 18:51] #17956 closed

[2017-02-03 18:59] rardiol opened #22413 "/tmp has wrong permissions on install"
## Issue description

My /tmp was set to be root writable only after install, which broke a lot of things. I assume that's because I had created the tmp folder myself as root before running nixos-install while creating a btrfs subvolume hierarchy for the install.

https://github.com/NixOS/nixpkgs/blob/56904d7c423f2b13b37fbd29f39bbb4b52bc7824/nixos/modules/installer/tools/nixos-install.sh#L93 appar

[2017-02-03 19:04] matthiasbeyer opened #22414 "Rust: Update to 1.15"
Please someone update Rust to 1.15!

Pinging some rust packaging people...
@the-kenny @madjar @Ericson2314

[2017-02-03 19:20] rushmorem commented on #22414
A [pull request](https://github.com/NixOS/nixpkgs/pull/22403) has already been submitted 5 hours ago. I'm already testing it. The build has already been running for just as long. If it completes successfully I will merge it.

[2017-02-03 19:20] #22414 closed

[2017-02-03 19:45] matthiasbeyer commented on #22414
Thank you very much! Can't wait! :tada: :birthday:

[2017-02-03 20:12] 8573 commented on #21490
Thanks!

[2017-02-03 21:01] grahamc commented on #22413
Can you describe what you expect to happen, as well?

[2017-02-03 21:02] rardiol commented on #22413
I expect nixos-install to chmod /tmp if it's already there.

[2017-02-03 21:13] grahamc commented on #18282
Seems this was fixed by a PR last September.

[2017-02-03 21:13] #18282 closed

[2017-02-03 21:56] chris-martin commented on #22164
(Note: the `autoRepeatDelay` and `autoRepeatInterval` options were added by f9a3835 and are not in NixOS 16.09.)

[2017-02-03 23:43] siddharthist opened #22422 "chromiumSuidSandbox doesn't seem to work for (non-free) Chrome"
## Issue description
When starting `google-chrome-stable`, I get the following message:
[code]
even with
[code]

### Steps to reproduce
Start `google-chrome-stable` with `grsecurity` enabled

## Technical details

* System: 17.03pre99759.f66d782
* Nix version: nix-env (Nix) 1.11.6

[2017-02-03 23:47] NeQuissimus commented on #22342
Both kernel issues are covered by what we have

[2017-02-04 01:02] rushmorem commented on #22414
I have just merged it.

[2017-02-04 01:04] joachifm commented on #22422
I'm personally disinclined to work on improving support for closed-source software, but @obadz may be able to provide some insight.

[2017-02-04 03:12] #21806 closed

[2017-02-04 04:06] xpe commented on #19690
When I run `nix-env -i oraclejdk` I get:

[code]

Is this the expected behavior?

I'm running macOS Sierra and `nix-env --version` returns "nix-env (Nix) 1.11.6".

[2017-02-04 04:34] NeQuissimus commented on #19690
Oracle Linux is marked as only functional on Linux systems: https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/compilers/oraclejdk/jdk-linux-base.nix#L195

[2017-02-04 09:38] Mic92 commented on #22422
For the record: On non-grsecurity systems chromium uses user namespaces rather then SETUID binaries.

[2017-02-04 13:51] abbradar commented on #22422
I expect that one needs to use `libredirect` to point Chrome at sandbox helper.

[2017-02-04 14:09] kReoSo opened #22435 "enabled samba, but no smbpasswd/pdbedit exists"
## Issue description

services.samba.enable = true;
smbd.service and nmbd.service work,

[code]

but when I invoke the command smbpasswd/pdbedit,

[code]

Do I need to install samba explicitly, even if I enabled the service and the services run?

## Technical details
17.03pre99759.f66d782 (Gorilla)
nix-env (Nix) 1.11.6

[2017-02-04 14:45] joachifm commented on #22422
@abbradar this is a grsec issue, as you'd never use the suid sandbox on vanilla NixOS ...

[2017-02-04 14:47] alexeymuranov commented on #19164
I tested this again with

* NixOS: `16.09.1623.74f24c7`
* Nix version: `1.11.6`
* Nixpkgs version: `16.09.1623.74f24c7`

This time there were no "Oh no!" screen, just a black screen with mouse pointer.

Switching from `gdm` to `lightdm` also allowed to log in without issues.

[2017-02-04 14:49] abbradar commented on #22422
@joachifm I think you'd also use it on old kernels without user namespaces and maybe in some other cases -- it seems not limited to grsec...

[2017-02-04 14:53] joachifm commented on #22422
The suid sandbox is not limited to grsec, but the NixOS feature was added specifically to support grsec.

[2017-02-04 14:55] abbradar commented on #22422
Indeed, let's keep it that way.

[2017-02-04 15:33] 3noch opened #22436 "Document nix-store auto-optimize feature"
`simpson` on `#nixos` pointed out that you can have nix-store optimize the database as its built. This would be great to have in the manual: http://lists.science.uu.nl/pipermail/nix-dev/2015-February/016180.html

[2017-02-04 16:05] abbradar commented on #22365
@vandenoever Have you reported this upstream?

[2017-02-04 17:09] matthiasbeyer opened #22437 "uptimed: No database"
## Issue description

Despite beeing installed for a few days now:

[code]

it seems like the uptimed service does not find its database properly and prints just the current uptime.
I _guess_ this is because the database file gets recreated every boot. But that's only a shot into the blue guess.

## Technical details

* System: 17.03pre99626.f1ba2c8 (Gorilla)
* Nix version: nix-env (Nix) 1.11.6
*

[2017-02-04 17:31] xpe opened #22439 "Scala 2.12 requires JRE 8"
## Issue description

### Underlying Cause

Scala 2.12 requires a version 8 JRE or JDK. (Java 7 will not work.) The current scala package does not reflect this dependency on Java 8.

### Symptom

Running scala fails:

[code]

The source of the problem is that JAVA_HOME (set by the Nix wrapper script) points to a version 7 JRE. See the source code is https://github.com/NixOS/nixpkgs/blob/master/pkg

[2017-02-04 17:51] olejorgenb opened #22442 "Noisy output from nixos-rebuild with dictd enabled"
## Issue description

Not sure if it's an error or not but after adding

     services.dictd.enable = true;
     services.dictd.DBs = [ pkgs.dictdWordnet ];

to configuration.nix

`nixos-rebuild switch` outputed:

    ... snip ...
    /nix/store/gabjbkwga2dhhp2wzyaxl83r8hjjfc37-bash-4.3-p48/bin/sh: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
    dictfmt: option '--locale' requir

[2017-02-04 20:07] #5493 closed

[2017-02-04 20:27] xpe commented on #19690
@NeQuissimus Thanks; this is expected then. It would then be a separate issue to ask for macOS support for the Oracle JDK.

[2017-02-04 20:39] xwvvvvwx commented on #14349
I have the same issue with the vscode ycmd plugin (https://github.com/richard1122/vscode-youcompleteme).

Setting the following as the "python interpreter" as suggested above does not work (instead just moves the error to another one of these bash in python wrappers that is imported somewhere else).

[code]

What can be done here? This bash in python stuff does not feel super robust to me, as clea

[2017-02-04 23:59] kirelagin opened #22450 "libnfc on macOS"
libnfc from the cache does not seem to work for me:

[code]

What happens is a null-pointer dereference somewhere inside IOKit:

[code]

I am really not sure what is going on, but what troubles me is that I cannot reproduce the build on my laptop: apparently, the examples depend on readline, which is not listed as a dependency.

[code]

How does the [job](http://hydra.nixos.org/build/46783117) man

[2017-02-05 00:14] joachifm commented on #22450
Do you use sandboxing?

[2017-02-05 00:32] kirelagin commented on #22450
@joachifm I honestly do not know how it works and if it is enabled by default.

[2017-02-05 00:33] kirelagin commented on #22450
I have opened #22452 to address the readline issue (which is probably completely unrelated).

[2017-02-05 00:35] joachifm commented on #22450
@kirelagin I ask because it *could* account for the difference (that is, there could be an impurity in the build, causing it to break in unsandboxed environments). It's not enabled by default, but I'm not sure about how stuff works on MacOS wrt sandboxing.

[2017-02-05 00:56] kirelagin commented on #22450
Hm, you have a point. I guess it’s not sandboxing but something similar: building in a pure nix-shell yields non-functional utils.

[2017-02-05 01:07] kirelagin commented on #22450
Ok, now I see. Without `--pure` it found Homebrew `pkg-config` (as the expression does not depend on `pkgconfig` and therefore the system `pkg-config` is not shadowed) and it told it about libusb installed from Homebrew. So, apparently libusb is the culprit.

[2017-02-05 01:36] rindeal commented on #22233
https://bugs.gentoo.org/show_bug.cgi?id=606158 provides a fix

[2017-02-05 01:57] joachifm commented on #22450
On my end, I've found that with `pkgconfig` added to the build environment, the readline error manifests (whereas it builds fine otherwise); adding both `pkgconfig` & `readline` allows it to build. There's no segfault, however.

As a side note, FWIW, `nix-shell --pure` is much weaker than the isolation provided by the build sandbox (it just clears most of the shell environment, you can still trave

[2017-02-05 02:41] davidak opened #22454 "caddy: WARNING: File descriptor limit 1024 is too low for production servers. At least 8192 is recommended. Fix with "ulimit -n 8192"."
## Issue description

set `ulimit -n 8192` for caddy user, if possible in systemd service

### Steps to reproduce

run caddy with NixOS module

## Technical details

* System: NixOS 16.09.1623.74f24c7 (Flounder)
* Nix version: 1.11.6
* Nixpkgs version: 16.09.1623.74f24c7

[2017-02-05 03:06] taku0 commented on #13971
Made a fix for this #22455.

[2017-02-05 03:15] joachifm commented on #22454
Per `systemd.exec(5)`, this sounds like a job for `LimitNOFILE`.

[2017-02-05 03:45] kReoSo commented on #22435
I found the samba package is actually installed in the directory `/nix/store/.......-samba-4.5.3`, and there are all the binaries I sought. It's just not in my PATH variable.(perhaps related to that I enabled and used zsh?)

I don't know it is intended, but if so, it should be noted in the manual or wiki IMHO.

Problem solved for me, so I'm closing this issue.

[2017-02-05 03:45] #22435 closed

[2017-02-05 04:03] volth commented on #18530
If the storage space on ```cache.nixos.org``` is the only concern, the debug packages can be deleted immediately after the build (or have very short time-to-live).

It is a cache, cache miss should not be a problem. It falls back to local build, but only one library to be compiled, not all its reverse-dependencies.

[2017-02-05 06:28] volth commented on #22439
BTW, if ```jre8``` works well on macos, why it is the only nix target with default ```jre7``` ?

[2017-02-05 06:51] volth commented on #18530
And.. what about debug symbols for kernel?

[2017-02-05 10:05] #13971 closed

[2017-02-05 10:45] layus commented on #22442
Would you mind giving the full output ? Could this be a build failure for some dictd package instead of an issue with nixos-rebuild ?

[2017-02-05 10:49] 0xABAB opened #22461 "Paramiko 2.1 is out"
nixpkgs has 2.0.2, but 2.1 has been released.

[2017-02-05 11:58] alexeymuranov commented on #21283
I observed a probably related issue: i have installed several `hunspell` dictionaries, but only `en_US` (`hunspell-dict-en-us-wordlist-2014.11.17`) got recognised by applications such as *Evolution* email client, not even other English dictionaries (`en_GB-ise`, `en_GB-ize`).

Is this the same issue?  What could make `en_US` special?

[2017-02-05 14:36] vcunat commented on #22461
/cc maintainer @aszlig

[2017-02-05 14:37] gebner opened #22465 "vscode packages are no longer downloadable"
## Issue description

`nix-build -A vscode` fails with:
[code]

@xwvvvvwx @jansuchomel How did you get the download links for vscode?  I wanted to update it and looked on the vscode website for the links, but couldn't find the ones with the timestamps.

## Technical details

* System: `17.03pre100133.a14217e (Gorilla)`
* Nix version: 1.11.6
* Nixpkgs version: c226a93a9effa2ee1d5eb0fb1aa22befa78192

[2017-02-05 14:43] vcunat commented on #22436
This is wrong repo, and it *is* documented on the expected place: http://nixos.org/nix/manual/

[2017-02-05 14:43] #22436 closed

[2017-02-05 15:01] cpages commented on #22060
That behavior is a bit annoying, but there is a reason CMAKE_SKIP_BUILD_RPATH is set, as is explained on the comment above the line you referred. Specifically, cmake clears the rpath after the build if the SKIP option is not set, breaking all the dependencies that are set by nix.

So it's not as easy as just not setting that flag. Did you have a specific solution in mind?

[2017-02-05 15:15] xwvvvvwx commented on #22465
@gebner I ran the links from the website (e.g. https://go.microsoft.com/fwlink/?LinkID=620884) through a url unshortening service (e.g. http://www.linkexpander.com/) to get the long urls

[2017-02-05 17:17] rvl commented on #21993
Thanks @peti . I tried doing this:
[code]
But the problem I have is that in the resulting nix `pango` and `cairo` refer to the haskell packages, not to `pkgs.pango` and `pkgs.cairo`. Do you know how to fix that?

[2017-02-05 17:59] jansuchomel commented on #22465
You can get the current url as a redirect from these urls:

- https://vscode-update.azurewebsites.net/latest/linux-x64/stable
- https://vscode-update.azurewebsites.net/latest/linux-ia32/stable
- https://vscode-update.azurewebsites.net/latest/darwin/stable .

To get the redirect url, run for example:
`curl -w "%{url_effective}\n" -I -L -s -S https://vscode-update.azurewebsites.net/latest/linux-x64/

[2017-02-05 19:42] mikael-andersson commented on #21920
Sorry for the late reply.

Do you really mean that I should add my stuff to the existing 02overridedns script? I prefer not to do that since my stuff has nothing to do with DNS.

Anyhow, here is how I solved it. You are very welcome to give me feedback. I suspect there is a simpler way of doing it.

I added this to my configuration.nix
[code]

I could of course have used only one script instead of

[2017-02-05 20:19] spy-tech commented on #21913
64 bits wine is used by people who want to run Windows applications which require a lot of RAM. Games generally don't hit those levels.

Options are good, but I am surprised you need to know that wine even exists as a Steam user on NixOS.

Valve should just maintain a Nix expression :)

[2017-02-05 20:25] volth opened #22470 "nixos-rebuild switch fails in X terminal"
## Issue description

```nixos-rebuild switch``` fails in X console with

[code]

```/nix/store/zs7cny1d4g81m5fvggj8jg4d5s9wrmb2-systemd-232/lib/systemd/systemd-vconsole-setup``` exits with
```Virtual console /dev/tty0 is not in K_XLATE or K_UNICODE.```

In ```Ctrl-Alt-F1``` console it works without the problem.

### Steps to reproduce

just run ```nixos-rebuild switch```

## Technical details

*

[2017-02-05 20:43] pikajude commented on #21913
But wineWow can run 64 bit apps, right? Is 64-bit only wine necessary here?

[2017-02-05 20:51] grahamc commented on #22454
I wonder where the balance lays of applying tuning to services by default vs. leaving it up to the user. Example, this could be easily tuned by the user via `systemd.services.caddy.unitConfig.LimitNOFILE = 8192;` (for example.) That said, if the 8192 option really is a widely deployed default, perhaps it is appropriate to use it by default.

[2017-02-05 20:55] grahamc commented on #22342
thank you, @NeQuissimus!

@bachp, what is latest virtualbox vs. what is on stable?

[2017-02-05 20:55] peti commented on #22143
The "amazonka*_1_4_5" entries exist because the package set contains (a) all packages mandated in the latest version of LTS-7.x plus without a version suffix (b) the latest version of every package on Hackage *with* a version suffix (unless (a) and (b) happen to be identical).

There is no easy solution for your problem, I'm afraid. You could write explicit overrides for all packages involved into

[2017-02-05 21:02] vcunat commented on #22342
About that see https://github.com/NixOS/nixpkgs/pull/22274#issuecomment-277530565

[2017-02-05 21:04] volth opened #22472 "docker: broken since systemd 231->232"
## Issue description

Docker does not work with systemd 232
See yet unfixed upstream issues https://github.com/docker/docker/issues/28109 https://github.com/opencontainers/runc/issues/1175

### Steps to reproduce

[code]

## Technical details

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
17.03.git.2794806 (Gorilla)

* Nix version: (run `nix-env --version`)
nix-env (Nix)

[2017-02-05 21:08] LnL7 commented on #22450
How did you build this? Do you see the same result with `nix-build '<nixpkgs>' -A libnfc --check`?

[2017-02-05 21:11] obadz commented on #22342
:)

[2017-02-05 21:25] bennofs opened #22473 "gfortran not using symbol versioning?"
I believe something is wrong with our gfortran builds. If you look at http://hydra.nixos.org/build/47757902/log/raw, you find:

[code]

However, `libblas` is compiled using `gfortran`, but appears to use symbol versioning:

[code]

Unfortunately, I don't know much about either symbol versioning or fortran. Anybody got some clues what's going wrong here?

[2017-02-05 21:25] grahamc commented on #22342
tigervnc fixed in stable in 36ffe58

[2017-02-05 21:26] grahamc commented on #22342
👍 thank you! :D

[2017-02-05 21:39] abbradar commented on #22422
I remembered that I've already fixed exactly this problem for Unity3D. I don't have motivation to fix this for Chrome but one needs to do this:

1. Make `pkgs/development/tools/unity3d/unity-nosuid.c` a separate package (for reusing);
2. Add it to `LD_PRELOAD` in Chrome Bash wrapper.

Should be a good first bug; let's mark it as such.

[2017-02-05 21:44] aborsu commented on #19478
Seems to me that this issue can be closed thanks to https://github.com/NixOS/nixpkgs/pull/21326

[2017-02-05 21:44] rasendubi commented on #14349
Wow, I have completely missed this discussion. I have written the Nix expression for ycmd, and I only use it with vim/emacs, which do call it as a normal process. That's why wrapping python scripts in bash ones worked fine.

Making a wrapper script written in python seems the best solution for me. It should allow both running it as a python script and as a normal process, too.

[2017-02-05 21:45] grahamc commented on #22342
@wkennington do you have opinions on the safety of upgrading 389 from 1.3.3.9 to 1.3.5.15 on stable?

[2017-02-05 21:53] grahamc commented on #22342
We are affected by the ming issues: https://blogs.gentoo.org/ago/2016/12/01/libming-listswf-heap-based-buffer-overflow-in-parseswf_rgba-parser-c/

[2017-02-05 22:19] peti commented on #21993
You probably have to change the definition of `pkgConfigs` to

    Set.map (over (localName . ident) ("system-"++)) (pkgs ["foo","bar"])

to avoid the name collision with the Haskell packages. Then refer to the system packages as `system-pango` etc. in `txt`.

[2017-02-05 22:22] peti commented on #21993
If you don't like using Lenses, then you can also define:

    pkgConfigs = Set.fromList ["system-bar = pkgs.bar", "system-bar = pkgs.bar"]

It's the same thing and probably more readable than my first attempt.

[2017-02-05 23:01] matthewbauer commented on #22450
@kirelagin Try running:

[code]

in your nix-shell.

[2017-02-05 23:02] LnL7 commented on #22450
We need some proper way to fix that.

[2017-02-05 23:04] matthewbauer commented on #22450
We could have it set in /etc/profile.d/nix.sh at least temporarily. There are no real side effects to just setting it besides the potential impurities.

[2017-02-05 23:15] copumpkin commented on #20484
@pikajude well, the difference is which programs you use the system one on. With the pure one, we get to have a pure(r) `ruby`, `vim`, etc., and only the things that are impure for other reasons (i.e., need other impure frameworks) turn impure with CF as well.

It might still not be worth the pain, but I wouldn't cast them as quite the same thing.

[2017-02-05 23:36] rvl commented on #21993
Many thanks. I have made a PR NixOS/cabal2nix#259.

[2017-02-05 23:42] copumpkin commented on #20484
A core part of "my view" for Nix for darwin is that I can pretty much use most "unixy" tools (i.e., things that aren't overly Mac-specific or have deep integration with the OS) with minimal impurities. As far as I know, we currently just have the kernel, libSystem, dyld, /bin/sh, and /usr/bin/env for the majority of the sorts of tools you'd find in homebrew. Homebrew cask is a whole other story, a

[2017-02-06 00:08] davidak commented on #22454
@grahamc sure, but in this case i think it is not optional. We should package the software so it is usable in production.

[2017-02-06 01:13] 3noch commented on #22436
@vcunat Ah thanks for this. But I'm still not satisfied. The link I posted specifically describes how to enable this feature globally for your store. I think connecting the dots is way too much to ask for the majority of folks (like me). I highly doubt I would have realized it could be enabled globally without that email thread.

[2017-02-06 02:26] grahamc commented on #22454
Makes sense to me. Is this a patch you're willing to implement yourself, along the lines of using LimitNOFile? Note: It would live in the serviceConfig and not unitConfig (I corrected my previous comment.)

[2017-02-06 02:32] davidak commented on #22454
@grahamc yes, i will do it.

[2017-02-06 02:36] grahamc commented on #22472
@globin this is pretty bad. Thought you should see it, specifically. Thank you @volth for reporting!

[2017-02-06 02:43] grahamc commented on #6784
Closing the issue after almost 2 years of no discussion. FWIW, I've implemented duplicate services by using nixos containers. This has worked fairly nicely for me.

[2017-02-06 02:43] #6784 closed

[2017-02-06 02:44] grahamc commented on #8938
Closing for being very stale.

[2017-02-06 02:44] #8938 closed

[2017-02-06 03:18] grahamc commented on #8190
Closing after about a year of inactivity.

[2017-02-06 03:18] #8190 closed

[2017-02-06 03:20] grahamc commented on #11435
Closing due to inactivity, and the additional pcap wrappers.

[2017-02-06 03:20] #11435 closed

[2017-02-06 03:22] grahamc commented on #12134
Closing for inactivity.

[2017-02-06 03:22] #12134 closed

[2017-02-06 03:22] grahamc commented on #12288
Closing for inactivity.

[2017-02-06 03:22] #12288 closed

[2017-02-06 03:24] grahamc commented on #11166
There was another discussion at FOSDEM this year:

http://piratepad.net/1nHg65LMQj

<details>
<summary>Notes duplicated (in case that link goes dead...)
**CLICK TO EXPAND**
</summary>

[code]

</details>

[2017-02-06 03:25] grahamc commented on #11911
Closing for inactivity.

[2017-02-06 03:25] #11911 closed

[2017-02-06 03:27] grahamc commented on #12203
Closing this issue due to inactivity, and the seemingly fine performance of Hydra since April.

[2017-02-06 03:27] #12203 closed

[2017-02-06 03:27] grahamc commented on #12379
Closing due to inactivity.

[2017-02-06 03:28] grahamc commented on #19410
This was resolved a while ago.

[2017-02-06 03:28] #19410 closed

[2017-02-06 03:29] grahamc commented on #18472
Closing, since the helpful note from September 17 will still be here, and we've clearly moved on :)

[2017-02-06 03:29] #18472 closed

[2017-02-06 03:30] grahamc commented on #19303
triage: is this still an issue? :/

[2017-02-06 03:34] grahamc commented on #19425
Closing for inactivity.

[2017-02-06 03:34] #19425 closed

[2017-02-06 03:36] cstrahan commented on #14349
Is there any reason can't just prepend to `PATH` inside the python file when we modify them in `patchPythonScript`, like we currently do to touch up the PYTHONPATH? (see [here](https://github.com/NixOS/nixpkgs/blob/b080748d42d18a3a51e4afacc962d9528ae4200d/pkgs/development/interpreters/python/wrap.sh#L35) and [here](https://github.com/NixOS/nixpkgs/blob/d68aba4cfb5d7998fbd087f7bf6f5d6f9fb5416a/pkgs

[2017-02-06 03:36] grahamc commented on #19440
Closing for inactivity.

[2017-02-06 03:36] #19440 closed

[2017-02-06 03:38] aatxe commented on #22381
Ah, strangely enough, @abbradar's suggestion fixed it. Thanks!

[2017-02-06 03:38] grahamc commented on #22372
Yeah, this ticket is more aspirational than anything else. Maybe in a year someone will say "(triage) no activity in a year, closing" and then I can say "but... but..." and then maybe I'll be able to drop at least 1.x. :P (hi, future contributor.)

[2017-02-06 04:15] aatxe commented on #22381
I seem to have spoken too soon. While it worked once, upon reboot, the changes did not persist (I added avoidStruts because of xmobar) and it once again fails to compile, unable to find the import, when I do Meta-Q.

[2017-02-06 04:38] cstrahan commented on #14349
I'm playing around with fixing this, and I'd think something like this should work:

[code]

[2017-02-06 05:33] rongcuid opened #22487 "Virtualbox 'cannot coerce an integer to a string'"
## Issue description
When I tried to upgrade today, I get this error:

[code]

The line corresponding to error is this:

[code]

### Steps to reproduce
Using 16.09-small, installed virtualbox and extension pack. Try to upgrade.

## Technical details

* System: 16.09.1622.e67d70f (Flounder)
* Nix version: nix-env (Nix) 1.11.6
* Nixpkgs version: 16.09.1644.d837e52

[2017-02-06 07:31] #22465 closed

[2017-02-06 07:31] gebner commented on #22465
Thanks for the instructions!  I added them to the derivation, and linked to this issue.

Interestingly enough, only the revision has changed.  The hashes are still the same.

[2017-02-06 07:37] matthiasbeyer commented on #7052
Closing because too old to get addressed IMO.

[2017-02-06 07:37] #7052 closed

[2017-02-06 07:37] matthiasbeyer commented on #8666
Closing because too old to get addressed IMO.

[2017-02-06 07:37] matthiasbeyer commented on #15456
Closing because too old to get addressed IMO.

[2017-02-06 07:37] #15456 closed

[2017-02-06 07:37] matthiasbeyer commented on #15828
Closing because too old to get addressed IMO.

[2017-02-06 07:37] #15828 closed

[2017-02-06 07:38] matthiasbeyer commented on #21497
Cannot reproduce with

[code]

[2017-02-06 07:38] #21497 closed

[2017-02-06 07:57] vcunat commented on #22436
Any suggestion on improving the documentation?

[2017-02-06 08:18] ts468 commented on #22401
@globin Let me know if I can help. I already had a brief look at it [1], but I'm not so sure how to handle the reported issue that wpa_supplicant does not restart on resume. On the one hand I'd like to keep the per-device activation, and therefore I think udev is the right tool, on the other hand your solution from wpa_supplicant.nix seems to work more reliably at the moment. As I said, let me kno

[2017-02-06 09:07] cstrahan commented on #14349
I think #22490 should (mostly) fix this (no more bash wrapper).

Ultimately, I think we should request that these editor plugins also support an option for invoking a command directly, that way we can just point them at `ycmd` (which will already have the appropriate interpreter in the shebang), rather than having to deal with either having the right `python` on `$PATH` or providing a full path to

[2017-02-06 10:02] vcunat commented on #15828
The package is there actually, called as you'd expect: `texlive.mfirstuc`.

[2017-02-06 10:02] vcunat commented on #15828
It was so on 16.09 already; I just haven't remembered this ticket.

[2017-02-06 10:04] vcunat commented on #12203
The job counts were cut down, too, IIRC. (I can't verify now as Hydra seems down ATM.)

[2017-02-06 10:52] abbradar commented on #19220
Doesn't work on SDDM + Xfce.

[2017-02-06 11:35] globin commented on #22472
systemd 🙄 I'll have a look at this in a few days, I'm not sure which work-around I prefer, yet, but I'll dive into this at the weekend probably..

[2017-02-06 11:51] Profpatsch commented on #22401
The interesting part will probably be what the new api should be and how to handle deprecation.

[2017-02-06 12:17] domenkozar commented on #12379
This is still an issue, just noone fixed it yet.

[2017-02-06 12:23] joelmo opened #22493 "Some Linux games on Steam not working"
## Issue description

This weekend I tried these games, all deadlocked in the menu or character selection.
- Nyheim
- Oh...Sir! The Insult Simulator
- Reigns
- Unturned (free to play)

You don't have to be worried to waste money in case you want to test a game. I have had no problem when requesting refunds, just go to https://help.steampowered.com/en/.

I have played these games and found no issue

[2017-02-06 13:39] copumpkin opened #22494 "Add RAP support to our grsecurity kernel"
I think we're fairly uniquely suited to doing this (among security-oriented distros) because we can compile with a patched GCC comparatively easily. See the recent announcement on https://grsecurity.net/rap_announce_ret.php

cc @joachifm

[2017-02-06 13:40] copumpkin commented on #22494
Actually, looking more carefully, I'm not sure it's in the non-commercial release yet. Would still be cool if it was 😄

[2017-02-06 13:40] #22494 closed

[2017-02-06 13:53] NeQuissimus commented on #22494
It says it is included in the "test" patch, which is the non-commercial one, is it not?

[2017-02-06 14:32] joachifm commented on #22494
RAP has always been enabled, to the extent that it has been available in the test patch. Looks like we'll now get a better version (but still not as good as the commercially available one ...)

[2017-02-06 14:35] joachifm commented on #22494
That is, we'll get the "deterministic type-based return check portion" of RAP, which I think was previously only available to commercial users (at least that's how I've interpreted the language in the old RAP docs, which made it sound like the free version was somehow inferior or incomplete compared to commerical offerings).

[2017-02-06 14:55] fpletz commented on #15456
Works for me on master.

[2017-02-06 15:21] copumpkin opened #22498 "systemd.services.<foo>.path and buildInput hooks?"
Today, it can be a bit jarring for people to add something like `pythonPackages.foo` to `systemd.services.<foo>.path`, expecting it to behave like `buildInputs` in a build. Perhaps it'd be nice to have a `systemd.services.<foo>.inputs` option that works like `buildInputs` and triggers hooks that would make packages with hooks that modify the environment work properly?

[2017-02-06 16:42] 3noch commented on #22436
Neither the NixOS nor the Nixpkgs manuals mention `auto-optimise-store` at all. I'd recommend copying almost the entire email into the Nixpkgs manual and linking to it from the NixOS manual with a minor heading and description. Or possibly the other way around.

I'd be happy to do this if you can recommend a good spot for it.

[2017-02-06 17:22] copumpkin opened #22500 "Package Amazon ECS agent and give it a nice NixOS module"
It'd be pretty cool if NixOS could be good platform to run Amazon ECS on. Anyone want to package https://github.com/aws/amazon-ecs-agent and possibly give it a nice module?

[2017-02-06 17:45] shlevy commented on #22340
If we go with 2 plus multiple outputs, we can still get small closures

[2017-02-06 17:48] ocharles commented on #22340
Your own packages `configureFlags`, or over the entire package set? If it's the latter, I really wouldn't want that in `nixpkgs`! Almost everything on Hackage should have no profiling information added unless a flag is turned on. The fact that some packages unilaterally export `ghc-prof-options` is a bug of those packages - it just poisons profiling information. But if it's just your own stuff, th

[2017-02-06 17:53] k0001 commented on #22340
@ocharles I agree with your thoughts. This works well for our use case (although fortunately we don't need to do profiling very often!), but for `nixpkgs` we probably don't want these as default.

[2017-02-06 18:01] vandenoever commented on #22365
@abbradar no

I have reinstalled a fresh NixOS since I was suspecting btrfs of having corrupted some files, but that did not fix the issue. With a fresh NixOS install the issues is still there.

[2017-02-06 18:09] k0001 commented on #22340
`-fprof-auto-calls` seems to be useful for stack-traces, though, which maybe is something worth having by default: https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/profiling.html#ghc-flag--fprof-auto-calls

[2017-02-06 18:25] ocharles commented on #22340
Still a "please no" to that. That's a *ton* of information in `+RTS -p` output, most of which will be outside my control anyway.

[2017-02-06 18:34] aherrmann opened #22501 "sphinx make mode fails: `SyntaxError: invalid syntax`"
## Issue description

The latest version update of Sphinx changed the behaviour of
`sphinx-quickstart` to create a Makefile that calls `sphinx-build`
in make mode (`-M` flag) by default.

This fails in a Nix shell.

The previous non-make mode still works.

CC: @FRidh

### Steps to reproduce

- Create the following file

  `shell.nix`:

[code]

- Enter a Nix shell

[code]

- Run `sphinx-quickstart`

[2017-02-06 18:34] k0001 commented on #22340
Hmm... maybe this highlights a problem, then: Seeing as "enabling profile information" can mean different things (depending on the flags passed to the compiler), does it make sense to provide a profiled Haskell package set at all if it won't satisfy the profiling needs of most people?

[2017-02-06 18:49] vcunat commented on #22436
I'm inclined that NixOS and Nixpkgs manual should refer to Nix manual as a "prerequisite", as you do have to use nix.  Duplicating some brief explanation seems OK to me, but not such details as `auto-optimise-store` (but the description in Nix manual could be more verbose, I guess).

[2017-02-06 18:54] 3noch commented on #22436
@vcunat Yah I actually don't care as much *where* the detail goes. The key is that a nix feature combined with a NixOS/Nixpkgs feature is very valuable, but you have to compose those features entirely by yourself. That's just way too much to ask for most casual users and deserves a bit more exposure. I'm voicing this opinion after several people on `#nixos` all chimed in and said "That needs to be

[2017-02-06 19:03] ocharles commented on #22340
The only reason I want a profiling set is so I can compile my code with
profiling. Ultimately, any called library code will show up in my own
profiling by making my own calls themselves slow. I profile with the
attitude of "vendor code is efficient, my code is inefficient". Only after
ruling out my own code as being problematic do I want to start seeing the
gory internals of other code. And even t

[2017-02-06 19:08] FRidh commented on #22501
Thanks for reporting this.

The `Makefile` that is created with `sphinx-quickstart` contains
[code]

Al unknown targets are passed to `sphinx-build`, which results in a syntax error as reported by @aherrmann.

@vcunat , would you know how to refer to `sphinx-build` (`$(SPHINXBUILD)`) in such a way that the wrapper of `sphinx-build` works?

[2017-02-06 19:45] dezgeg commented on #22365
As a data point, similar Intel hardware has been flakey in Arch Linux for me:

[code]

Kernel is 4.9.6.

[2017-02-06 20:34] #19126 closed

[2017-02-06 20:54] copumpkin commented on #22439
Almost definitely no reason to default to 7 on macOS (perhaps blame will show why it's like that?). A PR would be welcome!

[2017-02-06 21:36] aherrmann commented on #22501
I should add, if you execute `sphinx-build -M html . _build` in the nix shell, that will also fail with the same error. However, if you execute `sphinx-build -b html . _build` then it will succeed.

[2017-02-06 21:39] kirelagin commented on #22450
Yeah, this helps.

I spent most of yesterday trying to debug the issue but with no luck: I did not manage to build libusb and libnfc with debug symbols (I have no idea how `-g` works on macOS; apparently it puts debug symbols into `.o` but does not copy them to the resulting binary, therefore, when the library is installed into the store, debug symbols are gone. It would be great if someone taught

[2017-02-06 21:41] LnL7 commented on #20484
I'm working on a solution for this that fixes the dylibs, it looks like only a few of the libraries like `libusb1` will need the setup hook.

[2017-02-06 21:42] kirelagin commented on #22450
What exactly is that impure thing that makes `libusb1` pull system CF?

[2017-02-06 21:49] LnL7 commented on #22450
In this case it's the `IOKit` framework, that's linked against the system CoreFoundation, I'm still testing some stuff but I'm pretty sure that I have a proper solution.

[code]

[2017-02-07 00:32] joachifm commented on #22342
Regarding 389-ds-base, the person who discovered it disagrees that it's really a security issue:

From https://fedorahosted.org/389/ticket/48986.

[2017-02-07 01:20] joachifm commented on #22342
Re: ghostscript, per https://bugs.ghostscript.com/show_bug.cgi?id=697457, they do not expect to make a new release until march. Until then perhaps we can somehow apply http://git.ghostscript.com/?p=jbig2dec.git;a=commit;h=e698d5c11d27212aa1098bc5b1673a3378563092, which is supposed to address the issue (per the previously linked bug).

[2017-02-07 01:52] shlevy commented on #22342
nagios 4.2.4 is already patched https://www.nagios.org/projects/nagios-core/history/4x/ https://lwn.net/Alerts/713125/

[2017-02-07 02:01] shlevy commented on #22342
Think I found the ming patches, let me verify and try to apply

[2017-02-07 02:01] shlevy commented on #22342
But possibly we should consider removing it, it's unmaintained and debian's dropped it for example

[2017-02-07 02:04] grahamc commented on #22342
I'd be 👍 on removing from unstable, and probably a mark-as-broken for stable.

[2017-02-07 02:05] shlevy commented on #22342
Alright I'll just do that, I don't have all the patches I don't think (and they're on top of 0.4.4)

[2017-02-07 02:08] grahamc commented on #22342
Just checked: nothing depends on ming.

[2017-02-07 02:11] shlevy commented on #22342
ming handled in ff7777b22492dc126a0de4f50cdbf2a3c427ef21 and 41ba205dda86ce99dfdd58976dc845524d1d9933

[2017-02-07 02:13] joachifm commented on #22342
I think the ghostscript issue would be resolved by https://github.com/NixOS/nixpkgs/pull/22509

[2017-02-07 02:14] shlevy commented on #22342
We also need release-16.09. I say we just take the version bump there too, if someone needs the old version they can help secure it ;)

[2017-02-07 02:16] grahamc commented on #22342
A few builds failed after upgrading, I'll try and find my list. Maybe they were broken before. Thank you so much for your help on these last few.

[2017-02-07 02:17] joachifm commented on #22342
After removing ming, perhaps gnash could be removed as well. Not security related per se, but it's been abandoned for a while, I think, and was the only reverse dependency of ming.

[2017-02-07 02:24] grahamc commented on #22342
Sure enough, gnash needs to be removed as well from unstable. Removed in 8608f91.

[2017-02-07 02:25] grahamc commented on #22342
Shit:

[2017-02-07 02:29] shlevy commented on #22342
Just remove it and the `enableGnash` option

[2017-02-07 03:09] spacekitteh commented on #21676
Has any work been done on this?

[2017-02-07 05:31] matthewbauer commented on #15932
Sort of... You need a backend for appstream-generator to work.

[2017-02-07 06:29] rongcuid commented on #22487
Found a workaround/solution: Changing the line of `extpackRev` to string will make it work. Just not sure whether it is intended, or is it a bug of Nix, so I am not pushing a pull request for now.

[2017-02-07 07:22] FRidh commented on #22501
So in make-mode it seems to think the wrapper is Python code. It tries to execute it in a subprocess with `call`
https://github.com/sphinx-doc/sphinx/blob/1.5.2/sphinx/make_mode.py#L265
and uses `sys.executable` to obtain the name
https://github.com/sphinx-doc/sphinx/blob/1.5.2/sphinx/make_mode.py#L263

[2017-02-07 07:23] FRidh commented on #22501
Possibly related issue https://github.com/NixOS/nixpkgs/pull/21568

[2017-02-07 07:27] lesscodeless opened #22513 "unity3d, chrome-sandbox permissions"
/cc @jb55 @abbradar

## Issue description
When attempting to start `unity-editor` the following message pops up

Then the user may choose to press [Exit] or [Quit]. Both options results in the application closing down.

### Steps to reproduce
1. Install `unity3d`
2. Start `unity-editor`

## Technical details
[code]

[2017-02-07 08:13] #22501 closed

[2017-02-07 09:32] abbradar commented on #22513
Have you set `security.chromiumSuidSandbox.enable`?

[2017-02-07 09:53] aherrmann commented on #22501
@FRidh Thanks a lot. I can confirm that it works now.

[2017-02-07 11:23] frigatefreedom commented on #22254
As I understood, maintainer do not want to fix sources.

[2017-02-07 11:23] #22254 closed

[2017-02-07 11:31] frigatefreedom opened #22517 "Installation of proprietary software"
## Issue description

Maybe it's very silly question, but I can't handle it myself.

I'm trying to install ANSYS at my laptop. If just run INSTALL script, it says, that can't find df.

I tried to create FHS environment using example for Android from Wiki (https://nixos.org/wiki/FHS_environments), but installer can't see any software installed at /bin and /usr/bin.

Tried to provide PATH to /usr/bi

[2017-02-07 11:45] abbradar commented on #22517
Try using `steam-run` -- it gives fairly close environment to the one used by Steam for games which is often also good enough for various proprietary applications. Install it:

[code]

, where `nativeOnly` sets it to use native NixOS libraries instead of pre-built Steam ones, and `newStdcpp` pulls new C++ ABI. Use:

[code]

[2017-02-07 12:22] abbradar commented on #22498
That's a bit strange. Why would anyone want to have a build environment (`setup.sh` and stuff) in a systemd service?

[2017-02-07 12:25] copumpkin commented on #22498
I'm not saying they would, but we often merge build and "actually work"
functionality in there. Before we added python.withPackages a little while
ago, how would you add a python package to the scope of a systemd service?
The hook adds to the PYTHONPATH.
On Tue, Feb 7, 2017 at 07:22 Nikolay Amiantov <notifications@github.com>
wrote:

[2017-02-07 12:29] domenkozar commented on #22181
Isn't this fixed in https://github.com/NixOS/nixpkgs/pull/21102

[2017-02-07 12:54] frigatefreedom commented on #22517
@abbradar Thanks! Seems, that everything works properly.

[2017-02-07 12:54] #22517 closed

[2017-02-07 12:58] fpletz commented on #22181
Oh yeah, @nh2 is still at acme 0.5.0.

[2017-02-07 13:06] nh2 commented on #22181
So my `nixpkgs` master was too old? That is possible.

+1 to the full-deterministic-build-path-with-version-in-strack-traces concept :)

[2017-02-07 13:31] grahamc commented on #22342
Finished. 😂 Thank you!

[2017-02-07 13:31] #22342 closed

[2017-02-07 14:01] peterhoeg commented on #22342
Thanks for all your hard work @grahamc!

[2017-02-07 14:02] bennofs commented on #22473
I'm not sure this is actually wrong anymore. Closing for now.

[2017-02-07 14:02] #22473 closed

[2017-02-07 14:43] layus opened #22519 "Boogie is broken on darwin"
## Issue description

The status of Hydra job ‘nixpkgs:trunk:dotnetPackages.Boogie.x86_64-darwin’ is "Failed".  For details, see https://hydra.nixos.org/build/47914149.

The following dependent job also failed: nixpkgs:trunk:dafny.x86_64-darwin (https://hydra.nixos.org/build/47912762)

Apparently the builder (mono?) cannot find libgdiplus when it needs it. I have no way to debug this on darwin, so

[2017-02-07 14:45] taktoa commented on #22519
I don't have a way to test Boogie on Darwin either, @vbgl was the one who claimed that it would build on Darwin.

[2017-02-07 14:46] domenkozar commented on #22487
Check git log for that file for hints

[2017-02-07 15:00] copumpkin opened #22520 "Darwin `strip` is evil and can modify files even if they aren't valid Mach-O"
I just spent some time tracking down a super weird bug because the standard `fixupPhase` was corrupting a .class file. Turns out that if you run `strip -S` in `cctools` against a .class file, it'll complain that it's not a valid Mach-O file but flip the endianness of the magic number at the start of the file anyway, thus making it an invalid Java class file.

This will hurt us if we ever package t

[2017-02-07 15:58] globin commented on #22181
I guess this can be closed then :)

[2017-02-07 15:58] #22181 closed

[2017-02-07 17:09] rongcuid commented on #22487
I see lots of CVE's, but I don't have a clue of what I should do.

[2017-02-07 18:01] rowhit opened #22527 "Curl: (7) Failed to connect to samba.org port 80"
## Issue description
I am unable to build openjdk from source. Nix build process fails to download
http://samba.org/ftp/pub/samba/stable/samba-4.5.3.tar.gz
The same fails with wget as well. However the same link with https works. How to update the above script or is there some way to redirect automatically to https if fails?

### Steps to reproduce
55 $ nix-env -iA nixpkgs.openjdk
installing ‘open

[2017-02-07 18:30] olejorgenb commented on #22442
Hm, not sure how I trigger it again (without deleting all profiles (if there's a simple way do delete some profiles I can delete those that keep the dict derivation from beeing gc'ed))

[2017-02-07 19:11] edolstra commented on #22527
Hm, why does OpenJDK depend on Samba anyway? Looks like a bad case of dependency bloat.

[2017-02-07 19:25] #22527 closed

[2017-02-07 19:53] vcunat commented on #22254
Hmm, well, at least there's that one-line workaround.

[2017-02-07 19:59] vcunat commented on #22520
Maybe #15339.

[2017-02-07 20:00] abbradar commented on #22498
Hm, seems that we do the wrong thing :D I'm not sure how to do better though; in this particular case I'd set `systemd.services.foo.environment.PYTHONPATH` but that's non-ideal too...

[2017-02-07 20:10] copumpkin commented on #22498
Yeah, this feels like part of the broader build vs. run question. It also arises when we talk about the uses for `nix-shell` as a general-purpose dev environment vs. as a mechanism for debugging nix builds. It feels like we should start talking about how to separate things like `PYTHONPATH` which are useful for execution and other things like autoreconf buildhooks that are only used for building.

[2017-02-07 20:15] mikael-andersson opened #22533 "WWAN interface changes name and stops working after suspend"
## Issue description

WWAN interface changes name and stops working after suspend, but usually starts working after another suspend. The problem reappears after some suspends but under which circumstances I have not identified.

First I will show log excerpt from when interface works and further down when it works.

After a suspend, but not every one, the WWAN interface changes name and stops work

[2017-02-07 20:27] matthiasbeyer commented on #22470
Just ran into this very issue.

* System: 17.03pre100479.f7b7d8e (Gorilla)
* Nix version: nix-env (Nix) 1.11.6
* Nixpkgs version: "17.03pre100479.f7b7d8e"

[2017-02-07 20:35] abbradar commented on #22470
`systemd-vconsole-setup` sets fonts and keymaps for kernel consoles (Ctrl+Shift+F{1..6}). This should be harmless, they will be picked up at next boot. Not sure if we can improve this, too (you can't set kernel console settings if it's not active currently).

[2017-02-07 20:40] matthiasbeyer commented on #22470
@abbradar thanks for that quick reply. Good to know that it is harmless.

My `nix-script` call failed, so I did not get the `git tag`s in my configuration, so I'd opt for "Fix it", but I'm kinda biased :smile:

[2017-02-07 20:41] rowhit commented on #22527
The fix worked. Nix is able to download and compile. However, it complains about number of pem files not matching at the end.
Below is the tail of the build log showing the issue.
=============================
/home/royadav/opt/nix/store/2cpgpp7srv20q020swkz90bhnjgf0zvn-openjdk-8u121b13-jre/lib/openjdk/jre/lib/security /tmp/nix-build-openjdk-8u121b13.drv-0/jdk8u-jdk8u121-b13
Number of .pem files p

[2017-02-07 20:41] abbradar commented on #22470
I agree that we should fix it, just not sure how -- I think I've seen this behaviour as far as in Arch some six years ago.

[2017-02-07 21:18] shlevy commented on #22470
Maybe we should decline to restart vconsole-setup?

[2017-02-07 21:18] shlevy commented on #22470
(similar to how we don't restart display-manager when it changes)

[2017-02-07 21:21] abbradar commented on #22470
Not an ideal solution (for one who runs `nixos-rebuild switch` in a kernel terminal to test new keymap or whatnot) but not bad. I vote going for it.

[2017-02-07 22:01] bachp commented on #19412
Did anyone found out something more regarding this issue?

[2017-02-08 00:38] benley commented on #21604
Let's close this issue in favor of #20864 (which is the same issue)

[2017-02-08 00:38] #21604 closed

[2017-02-08 00:47] fpletz commented on #22365
I've updated our non-free linux firmware in 01cf43a3899443736b9f35ed7d45f781d2b58e4f a few days ago. This included a bump of the firmware for your devices (https://github.com/fpletz/linux-firmware/commit/350a1921e5b84df015283a49120efa43c20a9545) which could maybe help?

[2017-02-08 00:52] chris-martin commented on #5829
Yes, this is still an issue.

[2017-02-08 01:07] chris-martin commented on #14680
@joachifm I just tried your instructions on Ubuntu 16.04, and the last step fails with:

[code]

[2017-02-08 01:10] chris-martin commented on #5829
@purefn

Can you clarify what this means? Where did you specify that?

[2017-02-08 01:20] joachifm commented on #14680
@chris-martin I kind of swapped this out of my memory, sorry. The sequence of commands is complete as I recall, executed on arch linux. If you want nixos-install, I'd think running init would be redundant. The point is to get into an environment where all the tools required to do the install are available (extracting from the iso has to give you everything you need, provided the ISO works at all).

[2017-02-08 01:27] chris-martin commented on #14680
`nixos-install` fails with:

[code]

[2017-02-08 01:41] joachifm commented on #14680
The `nixbld` thing just means you have to create the group on the host.

To overcome the nix-instantiate issue you'd need to add `/nix/store/*-nix-*/bin` or whatever to your `PATH`. It's unfortunate and a little surprising that it doesn't hard-code the full path or setup a suitable `PATH` itself, though, I think that goes against the idea that everything in the store be self-contained.

chroot + a

[2017-02-08 01:58] chris-martin commented on #14680
Did these additional things:

* `groupadd nixbld`
* Add `nixos-install` and `nix-instantiate` to `PATH`
* `git clone --depth 1 https://github.com/NixOS/nxpkgs-channels.git -b nixos-16.09`
* `export NIX_PATH=nixpkgs=$HOME/nixpkgs-channels`

Now nixos-install fails with:

    error: the build users group 'nixbld' has no members

[2017-02-08 02:02] joachifm commented on #14680
Typically you'd also do
[code]
or something to add the build users. In this case you probably only need one.

[2017-02-08 02:16] chris-martin commented on #14680
Hm, I created a user

[code]

and verified it does belong to the group

[code]

But oddly still get the same

    error: the build users group 'nixbld' has no members

[2017-02-08 02:20] chris-martin commented on #14680
Ah ha, the build user must also have `nixbld` as a supplementary group:

    useradd --system -d /var/empty -s $(which nologin) -g nixbld -G nixbld nixbld0

[2017-02-08 02:24] vandenoever commented on #22365
@fpletz  will that land in release-16.09 or is there a way to test it while remaining on 16.09?

[2017-02-08 02:33] chris-martin commented on #14680
New errors:

[code]

This is the same error I got when trying to use nixos-in-place.

[2017-02-08 02:40] joachifm commented on #14680
What is under `/boot`?

[2017-02-08 02:41] joachifm commented on #14680
Note that `bootctl` expects the `--path` argument to point to the EFI system partition mount point.

[2017-02-08 02:42] chris-martin commented on #14680
Okay, I didn't have an EFI system partition. Trying again...

[2017-02-08 02:43] chris-martin commented on #14680
Is that `/boot` on the host, or `/mnt/boot`?

[2017-02-08 02:46] joachifm commented on #14680
That steps runs via `chroot` so `/mnt/boot` makes sense.

[2017-02-08 03:18] domenkozar commented on #22487
fixed in #22542

[2017-02-08 03:18] #22487 closed

[2017-02-08 04:13] chris-martin commented on #14680
Okay, this is starting to make sense and I've made some comprehensive notes on what I've done so far:

https://gist.github.com/chris-martin/4ead9b0acbd2e3ce084576ee06961000

It seems to be compiling everything. Is there something special I need to do to get it to pull from Hydra?

[2017-02-08 04:49] chris-martin commented on #14680
I think we're making progress!

But `nixos-install` still fails.

[code]
[...]
[code]
[...]
[code]

[2017-02-08 05:18] volth commented on #21745
The third option would be to scan ```/etc/containers/*.conf``` for strings like ```HOST_BRIDGE=br0```.
Although ```extraVeths``` would be lost.

[2017-02-08 06:30] FlorentBecker commented on #6148
@matthewbauer Can you still reproduce this?

[2017-02-08 07:07] vbgl commented on #22519
Fixed by 3a526deaeeb7a83dae6e4a3c2a4cddcb776b3985

See http://hydra.nixos.org/eval/1329797#tabs-now-succeed.

[2017-02-08 07:07] #22519 closed

[2017-02-08 07:40] layus commented on #22519
Excellent! Thank you for your fast response :)

[2017-02-08 08:00] volth commented on #21745
Here the patch which fixes the issue.

What is weird is although ```network-addresses-br0.service``` depends on ```br0-netdev.service``` transitively via ```sys-subsystem-net-devices-br0.device```, without explicit direct dependency the scripts try to start concurrently resulting in ```br0``` has no assigned IP after ```nixos-rebuild``` (it happens even without containers involved).

[2017-02-08 08:06] vcunat commented on #5829
I assume you mean it's still an issue with 16.09 or unstable image.

[2017-02-08 09:49] nathanielbaxter commented on #22493
This is normal with steam on nixos unfortunately. There are many steam games that don't work for various reasons, unfortunately many linux steam game developers only make sure their games *run* on ubuntu and don't really care about relying only on dependencies from the steam runtime. Some games don't play nice with certain graphics cards or drivers as well.

If you want to get a particular game wo

[2017-02-08 09:54] samvher opened #22548 "nix-shell sets $PYTHONPATH, normal environment does not"
## Issue description
I'm trying to install python with some packages, for use by a vim plugin (CoVim). This means I want that setup to be available in my regular shell. However, even though I can properly import all the packages in a python prompt, vim cannot access them because the `$PYTHONPATH` is not set. When I make the same packages available with nix-shell, it sets the `$PYTHONPATH` and ever

[2017-02-08 11:35] peti commented on #22470
IMHO, the  `warning: error(s) occurred while switching to the new configuration` bit means that this ought to  be fixed in some way; that's not a good user experience at all. @shlevy's suggestion sounds like a good-enough solution for the time being IMHO.

[2017-02-08 12:03] grahamc opened #22549 "Vulnerability Roundup 21"
Here are all the vulnerabilities from https://lwn.net/Vulnerabilities
since our [last roundup](https://github.com/NixOS/nixpkgs/issues/22342).

cc: @nlewo @7c6f434c @bachp @vcunat @peterhoeg @fpletz @Szczyp @NeQuissimus @obadz @joachifm @shlevy.

_Note:_ The list of people CC'd on this issue participated in the last
roundup. If you participate on this roundup, I'll cc you on the next
one. If you d

[2017-02-08 12:06] peterhoeg commented on #22549
wordpress in master is already on 4.7.2 - only earlier versions are affected.

[2017-02-08 12:07] peterhoeg commented on #22549
iio-sensor-proxy is not packaged yet. I have a branch with the software and a nixos module, but it's not merged.

[2017-02-08 12:44] Soundtoxin opened #22550 "qutebrowser will not launch"
## Issue description
qutebrowser does not launch

### Steps to reproduce
run 'qutebrowser' from a terminal or dmenu

## Technical details
/nix/store/dagn6yc6rdk5ccs4z0zmx9qw3g6gcq92-qutebrowser-0.8.2/bin/..qutebrowser-wrapped-wrapped: line 3: /nix/store/dagn6yc6rdk5ccs4z0zmx9qw3g6gcq92-qutebrowser-0.8.2/bin/..qutebrowser-wrapped-wrapped: Argument list too long
![quteproblemsarestillbad](https://cl

[2017-02-08 12:48] grahamc commented on #22549
Thank you! I ticked them off. Remember 17.03's branch-off is coming up, if you want to get that in to stable :)

[2017-02-08 13:04] lesscodeless commented on #22513
I now have. Thanks, that solved that particular problem.

How is the stability of the program on your machine? It crashes on my laptop as soon as the editor is popping up (after loading a project).

[2017-02-08 13:07] #22288 closed

[2017-02-08 13:13] grahamc commented on #22549
I'm plodding through the gstreamer updates :)

[2017-02-08 13:40] FRidh commented on #22548
Other programs should not rely on a global `$PYTHONPATH`. Instead, they should make sure they point to the Python environment that should be used.

`nix-shell` is a shell for development of packages/expressions. A setup-hook builds up `$PYTHONPATH`. This shouldn't be relied on outside of `nix-shell`.

That's because `CoVim` is not aware of this Python environment.

Do we have `CoVim` in Nixpkgs? I

[2017-02-08 13:44] FRidh commented on #22550
cc @abbradar

[2017-02-08 13:53] grahamc commented on #22549
gstreamer fixed in afd59811a1f4b2037d77293064a4fee0ac91af6f and 504d394.

[2017-02-08 13:54] samvher commented on #22548
Actually I installed `CoVim` with Vundle - so I should use nix to install vim plugins?

When I look at the `CoVim` source code I don't actually see any reliance on `$PYTHONPATH` though, it simply calls `python` in a `vim` file. Also when I run `!which python` inside `vim` it gives me the same path that I get when running it `which python` in my regular shell, that makes it surprising to me that th