[2016-02-21 18:41] garbas opened #13247 "wiki: Perl"
https://nixos.org/wiki/Perl

[2016-02-21 18:41] garbas opened #13248 "wiki: Pidgin with OTR"
https://nixos.org/wiki/Pidgin_with_OTR

[2016-02-21 18:41] garbas opened #13249 "wiki: PHP"
https://nixos.org/wiki/PHP

[2016-02-21 18:42] garbas opened #13250 "wiki: Package Requests"
https://nixos.org/wiki/Package_Requests

[2016-02-21 18:42] garbas opened #13251 "wiki: OpenSSH"
https://nixos.org/wiki/OpenSSH

[2016-02-21 18:42] garbas opened #13252 "wiki: Open issues:ways of updating sources automatically"
https://nixos.org/wiki/Open_issues:ways_of_updating_sources_automatically

[2016-02-21 18:43] garbas opened #13253 "wiki: Open issues:derivation styles"
https://nixos.org/wiki/Open_issues:derivation_styles

[2016-02-21 18:43] garbas opened #13255 "wiki: Modify software"
https://nixos.org/wiki/Modify_software

[2016-02-21 18:43] garbas opened #13256 "wiki: Lynx"
https://nixos.org/wiki/Lyx

[2016-02-21 18:43] garbas opened #13257 "wiki: Node.js"
https://nixos.org/wiki/Node.js

[2016-02-21 18:44] garbas opened #13258 "wiki: Long-term open issues:build determinism"
https://nixos.org/wiki/Long-term_open_issues:build_determinism

[2016-02-21 18:44] garbas opened #13259 "wiki: How to package closed-source software"
https://nixos.org/wiki/How_to_package_closed-source_software

[2016-02-21 18:45] garbas opened #13260 "wiki: KDE"
https://nixos.org/wiki/How_to_upgrade_KDE
https://nixos.org/wiki/KDE
https://nixos.org/wiki/Enable_GTK_themes_in_KDE

[2016-02-21 18:45] garbas opened #13261 "wiki: Lambdabot"
https://nixos.org/wiki/Lambdabot

[2016-02-21 18:45] garbas opened #13262 "wiki: How to package single scripts"
https://nixos.org/wiki/How_to_package_single_scripts

[2016-02-21 18:45] garbas opened #13263 "wiki: How to unpack a package's sourcecode"
https://nixos.org/wiki/How_to_unpack_a_package%27s_sourcecode

[2016-02-21 18:46] garbas opened #13264 "wiki: Java"
https://nixos.org/wiki/Java

[2016-02-21 18:46] garbas opened #13265 "Input Method Editor"
https://nixos.org/wiki/Input_Method_Editor

[2016-02-21 18:47] garbas opened #13266 "wiki: Awesome Window Manager"
https://nixos.org/wiki/Awesome_Window_Manager

[2016-02-21 18:47] garbas opened #13267 "wiki: Installing VirtualBox on NixOS"
https://nixos.org/wiki/Installing_VirtualBox_on_NixOS

[2016-02-21 18:47] garbas opened #13268 "wiki: Keymap"
https://nixos.org/wiki/Keymap

[2016-02-21 18:48] garbas opened #13269 "wiki: I3 Window Manager"
https://nixos.org/wiki/I3_Window_Manager

[2016-02-21 18:49] garbas opened #13270 "wiki: OpenGrok"
https://nixos.org/wiki/OpenGrok

[2016-02-21 18:49] garbas opened #13271 "wiki: Installing Postgres"
https://nixos.org/wiki/Installing_Postgres

[2016-02-21 18:50] garbas opened #13272 "wiki: How to watch digital TV (DVB-T)"
https://nixos.org/wiki/How_to_watch_digital_TV_

[2016-02-21 18:50] garbas opened #13273 "wiki: Network Manager"
https://nixos.org/wiki/Network_Manager

[2016-02-21 18:50] garbas opened #13274 "wiki: Nagios"
https://nixos.org/wiki/Nagios

[2016-02-21 18:51] garbas opened #13275 "wiki: Luks-based FDE with Yubikey PBA and btrfs on UEFI NixOS"
https://nixos.org/wiki/Luks-based_FDE_with_Yubikey_PBA_and_btrfs_on_UEFI_NixOS

[2016-02-21 18:51] garbas opened #13276 "wiki: NUT"
https://nixos.org/wiki/NUT
https://nixos.org/wiki/How_to_setup_UPS/NUT

[2016-02-21 18:52] garbas opened #13277 "wiki: MediaWiki"
https://nixos.org/wiki/MediaWiki
https://nixos.org/wiki/Setting_up_MediaWiki_%26_vhosts
https://nixos.org/wiki/Setting_up_MediaWiki

[2016-02-21 18:52] garbas opened #13278 "wiki: NFS"
https://nixos.org/wiki/NFS

[2016-02-21 18:53] garbas opened #13279 "wiki: OBS"
https://nixos.org/wiki/OBS

[2016-02-21 18:53] garbas opened #13280 "wiki: How to tweak Linux kernel config options"
https://nixos.org/wiki/How_to_tweak_Linux_kernel_config_options

[2016-02-21 18:53] garbas opened #13281 "Samba"
https://nixos.org/wiki/Samba

[2016-02-21 18:54] garbas opened #13282 "wiki: Security Updates"
https://nixos.org/wiki/Security_Updates

[2016-02-21 18:55] garbas opened #13283 "wiki: QEMU"
https://nixos.org/wiki/QEMU_guest_with_VGA_passthrough
https://nixos.org/wiki/QEMU_guest_with_networking_and_virtfs
https://nixos.org/wiki/Remote_controlling_a_vm

[2016-02-21 18:55] garbas opened #13284 "wiki: Quassel"
https://nixos.org/wiki/Quassel

[2016-02-21 18:55] garbas opened #13285 "wiki: Proxies"
https://nixos.org/wiki/Proxies

[2016-02-21 18:56] garbas opened #13286 "wiki: Slock"
https://nixos.org/wiki/Slock

[2016-02-21 18:56] garbas opened #13287 "wiki: Solve GConf errors when running GNOME applications"
https://web.archive.org/web/20160911020058/https://nixos.org/wiki/Solve_GConf_errors_when_running_GNOME_applications

[2016-02-21 18:56] garbas opened #13288 "wiki: Soft-RAID mdadm (/dev/md0), LVM (PVs,VGs,LVs)"
https://nixos.org/wiki/Soft-RAID_mdadm_(/dev/md0),_LVM_(PVs,VGs,LVs)

[2016-02-21 18:57] garbas opened #13289 "wiki: Bluetooth"
https://nixos.org/wiki/Bluetooth

[2016-02-21 18:57] garbas opened #13290 "wiki: Bootstrapping NixOS on ARM"
https://nixos.org/wiki/Bootstrapping_NixOS_on_ARM
https://nixos.org/wiki/NixOS_on_ARM/multi_v7_defconfig
https://nixos.org/wiki/NixOS_on_ARM

[2016-02-21 18:58] garbas opened #13291 "wiki: Creating a Nix OS live CD"
https://nixos.org/wiki/Creating_a_Nix_OS_live_CD
https://nixos.org/wiki/Creating_a_NixOS_live_CD

[2016-02-21 18:58] garbas opened #13292 "wiki: Vagrant"
https://nixos.org/wiki/Vagrant_boxes
https://nixos.org/wiki/Vagrant

This page describes the options you have using NixOS for Vagrant-based projects.

Vagrant is currently not supported on a community-level. @theuni is currently trying to gather existing information and create some momentum to provide coherent and maintained support.

If you would like to help out (or if you are the author/maintai

[2016-02-21 19:00] garbas opened #13293 "wiki: Disabling IPv6"
https://nixos.org/wiki/Disabling_IPv6

[2016-02-21 19:00] garbas opened #13294 "wiki: Email"
https://nixos.org/wiki/Email

[2016-02-21 19:00] garbas opened #13295 "wiki: Wireshark"
https://nixos.org/wiki/Wireshark

[2016-02-21 19:01] garbas opened #13296 "wiki: Wordpress"
https://nixos.org/wiki/Wordpress

[2016-02-21 19:01] garbas opened #13297 "wiki: Xorg/xserver example settings in nix configuration"
https://nixos.org/wiki/Xorg/xserver_example_settings_in_nix_configuration

[2016-02-21 19:01] garbas opened #13298 "wiki: Embedded NixOS"
https://nixos.org/wiki/Embedded_NixOS

[2016-02-21 19:02] garbas opened #13299 "wiki: Real World NixOS Dotfiles"
https://nixos.org/wiki/Real_World_NixOS_Dotfiles

[2016-02-21 19:05] garbas opened #13300 "wiki: Printers"
https://nixos.org/wiki/Printers

[2016-02-21 19:06] garbas opened #13301 "wiki: Prosody"
https://nixos.org/wiki/Prosody

[2016-02-21 19:07] garbas opened #13302 "wiki: Encrypted Root on NixOS"
https://nixos.org/wiki/Encrypted_Root_on_NixOS

[2016-02-21 19:07] garbas opened #13303 "wiki: Gitlab"
https://nixos.org/wiki/Gitlab

[2016-02-21 19:07] garbas opened #13304 "wiki: Hardened NixOS"
https://nixos.org/wiki/Hardened_NixOS

[2016-02-21 19:08] garbas opened #13305 "wiki: How to install NixOS from linux"
https://nixos.org/wiki/How_to_install_NixOS_from_linux

[2016-02-21 19:08] garbas opened #13306 "wiki: Howto develop software on nixos"
https://nixos.org/wiki/Howto_develop_software_on_nixos

[2016-02-21 19:08] garbas opened #13307 "wiki: Howto find a package in NixOS"
https://nixos.org/wiki/Howto_find_a_package_in_NixOS

[2016-02-21 19:09] garbas opened #13308 "wiki: Install NixOS as OpenVZ guest"
https://nixos.org/wiki/Install_NixOS_as_OpenVZ_guest

[2016-02-21 19:10] garbas opened #13309 "wiki: Install NixOS on..."
-  Linode -> https://nixos.org/wiki/Install_NixOS_on_Linode
- OVH Dedicated Servers -> https://nixos.org/wiki/Install_NixOS_on_OVH_Dedicated_Servers
- Online.Net -> https://nixos.org/wiki/Install_NixOS_on_Online.Net
- Rackspace Cloud Servers -> https://nixos.org/wiki/Install_NixOS_on_Rackspace_Cloud_Servers
- GCE -> https://nixos.org/wiki/Installing_NixOS_on_GCE

[2016-02-21 19:11] garbas opened #13310 "wiki: Installing NixOS from a USB stick"
https://nixos.org/wiki/Installing_NixOS_from_a_USB_stick

[2016-02-21 19:11] garbas opened #13311 "wiki: Installing NixOS in a VirtualBox guest"
https://nixos.org/wiki/Installing_NixOS_in_a_VirtualBox_guest

[2016-02-21 19:11] nathan7 commented on #12822
@tsion note that I fixed the `manpath` usage in `function man` in https://github.com/NixOS/nixpkgs/pull/12762

[2016-02-21 19:12] garbas opened #13312 "wiki: NixOS As OS X Guest"
https://nixos.org/wiki/NixOS_As_OS_X_Guest

[2016-02-21 19:12] garbas opened #13313 "wiki: NixOS Filesystem Notes"
https://nixos.org/wiki/NixOS_Filesystem_Notes

[2016-02-21 19:13] garbas opened #13314 "wiki: NixOS Modifying Modules"
https://nixos.org/wiki/NixOS_Modifying_Modules

ping @nbp could you review above wiki page and make sure everything is documented in nixos manual?

[2016-02-21 19:13] garbas opened #13315 "wiki: NixOS VM tests"
https://nixos.org/wiki/NixOS_VM_tests

[2016-02-21 19:14] garbas opened #13316 "wiki: NixOS and LXC"
https://nixos.org/wiki/NixOS_and_LXC

[2016-02-21 19:14] garbas opened #13317 "wiki: NixOS and OpenStack Compute"
https://nixos.org/wiki/NixOS_and_OpenStack_Compute

[2016-02-21 19:15] globin commented on #13303
@fpletz, @fadenb and me are working on gitlab, will do the documentation while at it.

[2016-02-21 19:15] garbas opened #13318 "wiki: NixOS and Xen"
https://nixos.org/wiki/NixOS_and_Xen

[2016-02-21 19:15] garbas opened #13319 "wiki: NixOS and ZFS"
https://nixos.org/wiki/NixOS_and_ZFS
https://nixos.org/wiki/ZFS_on_NixOS

[2016-02-21 19:16] garbas opened #13321 "wiki: NixOS and libvirt"
https://nixos.org/wiki/NixOS_and_libvirt

[2016-02-21 19:16] globin commented on #13316
Should be deleted, not valuable and outdated.

[2016-02-21 19:16] #13316 closed

[2016-02-21 19:16] garbas opened #13322 "wiki: NixOS install fest"
https://nixos.org/wiki/NixOS_install_fest

[2016-02-21 19:17] globin commented on #13304
Working on it, including docs, see hardened-stdenv branch and #12895

[2016-02-21 19:18] tsion commented on #12822
So based on that PR:

I think the real issue here is `manpath` being broken, not `fish_update_completions`.

[2016-02-21 19:20] FRidh commented on #13300
Three months ago I used this to configure printing. This is a good article and should go into the manual

[2016-02-21 19:25] FRidh commented on #13244
I'm updating Python docs in #13320

- https://nixos.org/wiki/Python_discussion contains nothing interesting. Maybe we should write something about recursive pth loader
- https://nixos.org/wiki/Python is trivial. I'm including http://python-on-nix.readthedocs.org/en/latest/ in the docs which covers this article.

[2016-02-21 19:40] zimbatm commented on #13180
### Rough ideas
do we have a branding page with all the logos ? Could be nice to add the laser cutting template but no biggie:
[code]

[2016-02-21 19:40] zimbatm commented on #13180
### Samba on Nix
Clarified our doc from the example: https://github.com/zimbatm/nixpkgs/commit/ac1e8819f67f89d3c20901b4cdbf11b25da573b5

[2016-02-21 19:46] tsion commented on #13158
@zimbatm I can confirm, your branch works for me. Thanks a lot!

[2016-02-21 20:21] zimbatm commented on #13292
I haven't touched those for a while now because I switched to NixOS.

They could be useful for people on other OSes if they want to deploy with nixops for example. Or just try nixos out. If I where to do it again I would try to generate the box from our virtualbox release.

[2016-02-21 20:25] datakurre commented on #13244
@FRidh Thanks. I was not aware of python-on-nix docs. Would've definitely helped earlier.

@garbas I'd just drop "Plone development" chapter for now, and replace it later with more generic "Buildout" development later.

@garbas, @cillianderoiste What should we do with various zc_buildout versions vs. zc_buildout_nix? Should zc_buildout_nix behavior be made the default? (And maybe an option to turn

[2016-02-21 20:25] garbas opened #13326 "wiki: NixOS on Amazon EC2"
https://nixos.org/wiki/NixOS_on_Amazon_EC2

[2016-02-21 20:25] garbas opened #13327 "wiki: NixOS on Hetzner"
https://nixos.org/wiki/NixOS_on_Hetzner

[2016-02-21 20:26] garbas opened #13328 "wiki: NixOS related repositories and work"
https://nixos.org/wiki/NixOS_related_repositories_and_work

[2016-02-21 20:26] garbas opened #13329 "wiki: NixOS vs other distributions"
https://nixos.org/wiki/NixOS_vs_other_distributions

[2016-02-21 20:27] garbas opened #13330 "wiki: NixOS:Containers"
https://nixos.org/wiki/NixOS:Containers

[2016-02-21 20:27] garbas opened #13331 "wiki: NixOS:Declaration"
https://nixos.org/wiki/NixOS:Declaration

[2016-02-21 20:27] garbas opened #13332 "wiki: NixOS:Modules"
https://nixos.org/wiki/NixOS:Modules

[2016-02-21 20:28] garbas opened #13333 "wiki: Tor"
https://nixos.org/wiki/Tor

[2016-02-21 20:28] garbas opened #13334 "wiki: NixOS:Properties"
https://nixos.org/wiki/NixOS:Properties

[2016-02-21 20:29] garbas opened #13335 "wiki: NixOS:Troubleshooting Resolution"
https://nixos.org/wiki/NixOS:Troubleshooting_Resolution

[2016-02-21 20:29] garbas opened #13336 "wiki: NixOS:config argument"
https://nixos.org/wiki/NixOS:config_argument

[2016-02-21 20:29] garbas opened #13337 "wiki: NixOS:extend NixOS"
https://nixos.org/wiki/NixOS:extend_NixOS

[2016-02-21 20:29] garbas opened #13338 "wiki: NixOS:obsolete and renamed"
https://nixos.org/wiki/NixOS:obsolete_and_renamed

[2016-02-21 20:30] garbas opened #13339 "wiki: Using X without a Display Manager"
https://nixos.org/wiki/Using_X_without_a_Display_Manager

[2016-02-21 20:31] garbas opened #13340 "wiki: Xfce"
https://nixos.org/wiki/Xfce

[2016-02-21 20:31] garbas opened #13341 "wiki: Setup Mesos"
https://nixos.org/wiki/Setup_Mesos

[2016-02-21 20:31] garbas opened #13342 "wiki: Wpa supplicant"
https://nixos.org/wiki/Wpa_supplicant

[2016-02-21 20:32] garbas opened #13343 "wiki: Xserver"
https://nixos.org/wiki/Xserver

[2016-02-21 20:32] garbas opened #13344 "wiki: Zabbix"
https://nixos.org/wiki/Zabbix

[2016-02-21 20:33] garbas opened #13345 "wiki: WICD"
https://nixos.org/wiki/WICD

[2016-02-21 20:33] garbas opened #13346 "wiki: NixOps:Deploying From Non-Linux OS"
https://nixos.org/wiki/NixOps:Deploying_From_Non-Linux_OS

[2016-02-21 20:33] garbas opened #13347 "wiki: NixOps:Deploying From VirtualBox on any OS"
https://nixos.org/wiki/NixOps:Deploying_From_VirtualBox_on_any_OS

[2016-02-21 20:34] garbas opened #13348 "wiki: Binary Cache"
https://nixos.org/wiki/Binary_Cache

[2016-02-21 20:34] garbas opened #13349 "wiki: Installing hydra as nixos module"
https://nixos.org/wiki/Installing_hydra_as_nixos_module

[2016-02-21 20:34] garbas opened #13350 "wiki: Hydra release management"
https://nixos.org/wiki/Hydra_release_management

[2016-02-21 20:35] garbas opened #13351 "wiki: Hydra v2 Ideas"
https://nixos.org/wiki/Hydra_v2_Ideas

[2016-02-21 20:35] garbas opened #13352 "wiki: Hydra.nixos.org"
https://nixos.org/wiki/Hydra.nixos.org
https://nixos.org/wiki/Hydra

[2016-02-21 20:36] garbas opened #13353 "wiki: Installing Hydra on Ubuntu"
https://nixos.org/wiki/Installing_Hydra_on_Ubuntu

[2016-02-21 20:36] garbas opened #13354 "wiki: Zero Hydra Failures"
https://nixos.org/wiki/Zero_Hydra_Failures

[2016-02-21 20:42] garbas commented on #13292
@zimbatm lets try to find ppl who use vagrant, ping them, ask them for usecases and invite them to help fix the docs.
@ctheune i think you are using vagrant images right?

[2016-02-21 21:56] copumpkin commented on #13193
When moving it, let's split the impurities between evaluation-time impurities and build-time impurities.

[2016-02-21 22:24] abbradar commented on #13156
Truth be told, I've thought so too -- but to make it properly, we first need to get https://github.com/NixOS/nixpkgs/issues/4621 addressed -- I think we have even more such wrappers now (for more examples see e.g. `games/dwarf-fortress/dwarf-therapist/wrapper.nix`).

[2016-02-21 22:31] zimbatm commented on #13156
There is also vim_configurable and similar wrappers that try to bundle a config to an executable.

[2016-02-22 01:05] #13140 closed

[2016-02-22 01:23] jgillich commented on #13223
Dibs.

[2016-02-22 01:44] iyzsong commented on #13134
You can use ``systemPackages`` or add the ``postBuild`` to your buildEnv.

This only happend when you use buildEnv manually (as described in the mutiple packages wiki), for ``systemPackages`` (the prefer way IMO) the hooks does exist in system-path.nix.

Hardcode the hooks in buildEnv is not a good idea because a profile can install many buildEnv , if we build the cache for every buildEnv, then co

[2016-02-22 02:23] iyzsong commented on #11138
Done in #11254.

[2016-02-22 02:23] #11138 closed

[2016-02-22 06:24] CMCDragonkai opened #13359 "KDE5 Cannot download kde-l10n-ca-15.04.3.tar.xz from any mirror"
On the latest 15.09, running this:

[code]

Doesn't work because of kde-l10n-ca-15.04.3.tar.xz.

No mirrors work. Tried it several times over different days, I think the source urls might need to be updated.

@ttuegel

[2016-02-22 06:36] wmertens commented on #12017
Hmm, I wonder what happens if you set the install dir to $out? Could you play with that?

https://github.com/phunehehe/nixpkgs/blob/d78fc8b21099a66d6719facf6e4f663e599f0bf3/pkgs/servers/mail/postfix/3.0.nix#L65

On phone, sorry for brevity…

[2016-02-22 06:46] vcunat commented on #13134
Except for `systemPackages` it's nix-env's own buildEnv that matters, and that one isn't in the nixpkgs repo.

[2016-02-22 07:21] vcunat commented on #13359
Apparently they removed 15.04.3 from their official mirrors, not just moved like dealt with in 85f5c12468a50, as I can't find the files in http://download.kde.org/ls-lR :-/

[2016-02-22 07:24] vcunat commented on #13359
Some of the tarballs are on tarballs.nixos.org but not all of them.

[2016-02-22 08:16] #13158 closed

[2016-02-22 08:20] sjau opened #13363 "steam: libgcrypt11 url not working"
curl: (22) The requested URL returned error: 404 Not Found
error: cannot download libgcrypt11.deb from any mirror

[2016-02-22 08:21] layus commented on #9644
Searching this over the internet now yields some similar issues and one bug in the KDE bug tracker https://bugs.kde.org/show_bug.cgi?id=350798.

Apparently disconnected network printers may cause issues.
Do you still experience the slowness when network is disabled or these printers removed ?
If not, the only hint in the above bug is that our build may be wrong... Not very helpful.

Anyway, could

[2016-02-22 08:24] layus commented on #8486
Closing this issue as this is probably not the best way to go, and too keep the discussion in #8247.

[2016-02-22 08:24] #8486 closed

[2016-02-22 08:38] vcunat commented on #13359
Oh, I've made a typo and missed the moved files.

[2016-02-22 08:49] vcunat commented on #13359
Fixed.

[2016-02-22 08:49] #13359 closed

[2016-02-22 09:04] CMCDragonkai commented on #13359
Awesome. By the way, how did you fix it?

[2016-02-22 09:05] basvandijk opened #13364 "GHCJS fails to build on the latest release-15.09"
@peti @cstrahan @luite  I noticed that on the latest `release-15.09` GHCJS fails to build:

[code]

I haven't looked into it yet but it seems to be some kind of bootstrapping problem: Cabal needing Cabal.

[2016-02-22 09:07] vcunat commented on #13363
/cc maintainers: @hrdinka, @abbradar.

[2016-02-22 09:08] vcunat commented on #13363
Debian URLs don't persist.

[2016-02-22 09:09] vcunat commented on #13363
Oh, this isn't on a Debian URL... well, I'll leave it to those who know more.

[2016-02-22 09:09] abbradar commented on #13363
Runtime has been updated in `master` -- see https://github.com/NixOS/nixpkgs/commits/master/pkgs/games/steam . I've also added my own mirror to compensate for this problem.

[2016-02-22 09:17] #13243 closed

[2016-02-22 09:41] garbas commented on #13265
@ericsagnes @iyzsong @laMudri @taku0 due to just merged #11254 i think you would be best to judge what should be moved from above wiki page to nixpkgs or nixos manual? also free to extend it :)

[2016-02-22 09:49] garbas commented on #13180
@zimbatm https://github.com/NixOS/nixos-artwork

[2016-02-22 10:09] vcunat commented on #13359
I just replaced the URLs. `%s:stable/applications/15.04.3:Attic/applications/15.04.3:g`

[2016-02-22 10:21] vcunat commented on #13180
I checked three spam pages; they're now empty and marked for deletion anyway.

[2016-02-22 10:32] vcunat commented on #13180
- There's no (useful) content in *sandbox*.
- *subpixel rendering*: it is enabled by default for quite a long time. We have `fonts.fontconfig.subpixel.*` options. The only still valid part of the content is that the technology might be patented, but I'm not sure if we should document that. Maybe a section listing patent risks... but personally I'm comfortable with EU not allowing SW patents.

[2016-02-22 10:51] zimbatm commented on #13180
@vcunat I already checked all the other pages in case you missed it. triple-checking is good obv.

[2016-02-22 11:01] AlexYeCu commented on #9644
I can.
http://www.spacians.net/files/spacians.epub
22 seconds to open, scrolling is slow.
Tested at Fedora 22 (so, this bug is distributive-independent), core2duo(3166) + 4Gb RAM.
Nexus 7 with Android 6 opens this file in ~8 seconds (tested DocumentViewer and CoolReader).

[2016-02-22 11:04] AlexYeCu commented on #9644
BTW, I have no problem with opening PDF, even if they are large or have a lot of pictures embedded. I have no printers in current system also.

[2016-02-22 11:06] layus commented on #9644
Thanks @AlexYeCu.
@edolstra, If this is really distribution independent, then we should file a bug at https://bugs.kde.org and close this issue.

[2016-02-22 11:15] zimbatm commented on #13290
@dezgeg does any of https://nixos.org/wiki/Nix(OS)_Embedded apply to you ?

[2016-02-22 11:17] dezgeg commented on #13290
Not me. I might look into cross-compilation wiki pages though.

[2016-02-22 11:48] jagajaga commented on #4367
@copumpkin can't we do that yet? @bluescreen303 answered you?

[2016-02-22 11:49] #6066 closed

[2016-02-22 11:57] ehmry commented on #13166
@garbas I can transfer ownership of nixos-hardware to the nixos group to make things easier.

[2016-02-22 14:23] garbas commented on #13166
@ehmry would be good yes. let me check if i have the permission to accept the transfer

[2016-02-22 14:36] a1russell commented on #13134
@vcunat Yes, I've always had this problem, and I'm just now getting the time to troubleshoot it. I use the unstable channel at home, and the stable channel at work.

@iyzsong Ok, I think I understand now that I can add the `postBuild` to my package collection (called `all` in the documentation and `x` in your comment), if `shared_mime_info` is installed via that method. However, I don't understand

[2016-02-22 14:54] garbas commented on #13166
@rbvermaa could you sync with @ehmry to tranfer [nixos-hardware](https://github.com/ehmry/nixos-hardware) repo to NixOS github organization?

[2016-02-22 14:59] 7c6f434c commented on #13339
By now `systemd` has succeeded in completely breaking this approach and all possible ways to fix it. What should be done with the issue? And with the Wiki page?

[2016-02-22 15:03] dezgeg commented on #13339
Probably we can clarify in the manual that this is not supported.

[2016-02-22 15:15] garbas commented on #13339
i guess the wiki page says that it is not supported due to lack of interest. mentioning in the manual would be nice but not something we would **need** to mention.

[2016-02-22 15:28] Pleune commented on #8803
I can confirm that this fix works. However, I'm running a very minimal/default configuration. No disk encrypting, just a standard install.

[2016-02-22 16:07] 7c6f434c commented on #13339
In reality it is not supported due to complete impossibility to support
it with fresh systemd. It is actually the reason I do not use stock
NixOS.

[2016-02-22 16:10] 7c6f434c commented on #13354
Is it a good idea to create an issue for every failing build and assign them to a `ZHF` (or `ZHF-16.10`) milestone? I think this wiki page was used mostly as a progress tracker.

[2016-02-22 16:12] 7c6f434c commented on #13322
Seems to be an announcement for an old event. Do we have a generally accepted way for such announcements now?

[2016-02-22 16:19] 7c6f434c commented on #13250
I think we also have some issues like that. What is the policy? Close if nobody volunteers, but add a label for easy search?

[2016-02-22 16:23] 7c6f434c commented on #13240
Most of the article is about an obsolete TeXLive packaging, the bottom section about the new TeXLive infrastructure could be merged into `8. Package Notes` Nixpkgs manual chapter.

[2016-02-22 16:28] 7c6f434c commented on #13180
I am not sure «Help, I locked myself out!» is obsolete

[2016-02-22 16:31] 7c6f434c commented on #13227
Hopefully completely obsoleted by `buildFHSEnv`

[2016-02-22 17:31] knedlsepp opened #13370 "proj: Not supported on darwin (Even though it is)"
Currently the ["proj" nix-expression](https://github.com/NixOS/nixpkgs/blob/788800e437c4a0a25d95e217540bded68804b25e/pkgs/development/libraries/proj/default.nix) only lists
`platforms = platforms.linux;` as supported.
It however also compiles fine on OS X. I don't have a way to check if the package will work for `platforms.all` or `platforms.unix`, so I'm unsure if I should add a pull request whic

[2016-02-22 17:52] dezgeg commented on #13370
It's fine to change it to `platforms.linux ++ platforms.darwin`.

[2016-02-22 17:58] abbradar commented on #13300
Notice that with recent updates it's enough just to have `services.printing.gutenprint = true` (and remove it from `drivers` if it's there) -- this will list all the supported printers in CUPS and also update PPDs on Gutenprint updates.

[2016-02-22 18:25] grahamc commented on #11265
I have lint running on every PR on my personal build server. I've been working to leave feedback on PRs when I notice it reporting a degradation, but it is a bit tricky to detect which package(s) were changed and if the change was for a good / worse. Right now I have it with a diff (a bit hacky...):

[code]

[2016-02-22 18:29] #13370 closed

[2016-02-22 18:34] #3608 closed

[2016-02-22 18:51] cstrahan commented on #13364
That was fixed on master here: https://github.com/NixOS/nixpkgs/pull/13093

The problem came to light due to: https://github.com/haskell/cabal/commit/af19fb2c2d231d8deff1cb24164a2bf7efb8905a

[2016-02-22 19:02] datakurre commented on #13244
@garbas Here's the buildout namespace issue, which I mentioned: https://github.com/NixOS/nixpkgs/issues/12141

[2016-02-22 19:08] grahamc commented on #9804
Should this ticket get some more attention, or closed until renewed interest comes along?

[2016-02-22 19:09] maurer opened #13374 "After upgrading environment, `gist` command fails"
After running `nix-env -u --always` to update my environment, the `gist` command fails. I suspect this is due to a dependency that is failing to be capured in a build product, since the error seems to suggest a ru by module required by gist disappeared.

[code]

[2016-02-22 19:10] tomberek commented on #13044
`neomakeCustom` resolve the same issue for me when using just buildVimPlugin. @seagreen: perhaps an update to https://github.com/NixOS/nixpkgs/blob/master/pkgs/misc/vim-plugins/default.nix is in order?

[2016-02-22 19:15] maurer commented on #13374
@cstrahan You were the last one to edit the file, so I figured I'd bring it to your attention.

[2016-02-22 19:57] knedlsepp opened #13377 "gitk broken on darwin (tcl/tk issue.)"
Having installed the current `gitAndTools.gitFull` binaries on OS X, I get an error upon executing `gitk`.

[code]

It seems that on installation of `tk-8.6.4`, the `wish` binary somehow incorrectly got linked using a colon separated list containing both `tk` and `tcl`:
[code]
 when it should actually be only the path to `libtk8.6.dylib`:
[code]

[2016-02-22 20:07] jagajaga commented on #12704
cc @oxij

[2016-02-22 20:08] jagajaga commented on #6954
Ping all.

[2016-02-22 21:24] paulgevers opened #13380 "liferea 1.10.18 (downloaded 22-02-2016) fails to compile"
For Debian, I just downloaded 1.10.18, but it fails to build due to the relocation of the notifications. The patch below fixes the issue.

Description: the location of the notification.(c|h) files changed
Author: Paul Gevers <elbrus@debian.org>

Index: liferea/src/notification/libnotify.c
===================================================================
--- liferea.orig/src/notification/libnotif

[2016-02-22 22:21] pSub commented on #11265
I do not have a solution for finding the packages that have changed. However, I do no think that it is necessary to have this information. My current plan is to modify nixpkgs-lint s.t. it prints information about the position of the problem (path to the file and line number) and then append this information to the PR via a tool like lint-review.

This looks like

    pkgs/misc/beep/default.nix:20

[2016-02-22 22:47] seagreen commented on #13044
Good to hear. I'd still like to figure out what's going on before I make a PR. If the automatic process is broken it would be better to fix that than have to keep looking up the latest git commit for different packages by hand.

As I understand it, a maintainer should be able to put this file in a vim buffer: https://github.com/NixOS/nixpkgs/blob/master/pkgs/misc/vim-plugins/vim-plugin-names
Then

[2016-02-22 23:03] oxij commented on #12704
I fail to see how this can be a nix/nixos issue. AFAICS, neither
`pkgs/build-support/emacs`, nor `pkgs/applications/editors/emacs-24`
mention color themes.

Applying different color themes in succession is Emacs does produce
strange results because theme settings are mutable variables and most
`color-theme-whatever` override only some of the variables. That's,
regretfully, just how it works in Ema

[2016-02-22 23:19] Ericson2314 commented on #3434
So on my machine, `optirun` works but `primusrun` doesn't (assuming I am setting things up right). So I guess there should be config support for either? Maybe a way to substitute any such wrapper?

[2016-02-22 23:23] leenaars commented on #13337
Agreed. This page was very useful to me in a number of ways.

[2016-02-22 23:39] layus commented on #2427
@mboes Your idea may not be feasible when building trough the nix daemon. In that setup the environment of the user asking for the build is not known to the daemon.

Seems to me that the Nix way is to add support for a `-A` option in nix-prefetch-git.
This way, you could write `nix-prefetch-git -A mypackage.src` and have the source automatically downloaded with the current user setup.

[2016-02-23 00:00] pasqui23 opened #13384 "Spurious syntax error in config.nix"
If I execute nix-env it stops with the following error:
`error: syntax error, unexpected $end, at /home/username/.nixpkgs/config.nix:1:1`
and this is my ~/.nixpkgs/config.nix

`{pkgs}: {allowUnfree=true;}`

the strange thing is the error disappear only if I delete config.nix,if I  comment those lines the error remain the same

[2016-02-23 03:41] sobrecarga commented on #3393
npm2nix works on global packages? npm already manages dependencies. Sure, nix is much more powerful, but I think it's best to use npm to manage npm packages.

I'm using vagrant with the following provision script, to use the latest version of nodejs and to install the coffee repl. You may use it.

[code]

[2016-02-23 04:33] colemickens commented on #13374
+1

[2016-02-23 05:18] basvandijk commented on #13364
Thanks for the fix @cstrahan!

Could this be cherry picked in release-15.09 to fix that branch?

[2016-02-23 06:29] fkz commented on #13384
an empty file (or file only consisting of comments) is not a valid nix file, e. g.

    $ echo "" > test.nix
    $ nix-instantiate  --parse test.nix
    error: syntax error, unexpected $end, at test.nix:1:1

A default config.nix would be just the empty set `{}`

Don't see a problem with your line `{pkgs}: {allowUnfree=true;}`

[2016-02-23 06:30] #11893 closed

[2016-02-23 08:58] cleverca22 commented on #2427
misread your comment and wound up with another idea, an argument similar to ssh -A, so nix-build will proxy the ssh-agent stuff from the build user to the user running nix-build, that would solve the current ssh-agent issues

[2016-02-23 09:33] garbas commented on #13227
@7c6f434 would you be able to read the wiki page and move it to documentation or if is obsolete close it. basically i'm asking if you have time to work on this ticket. if you stop halfway just write in a comment what you discovered.

[2016-02-23 09:35] garbas commented on #13180
@7c6f434c good catch ... we should definitely mention this how to "unlock your nixos setup", any takers?

[2016-02-23 09:37] garbas commented on #13240
@vcunat i see you're the author of ``texlive-new`` (please correct me if i'm wrong) ... would you be able to document it? and also what is the relationg to ``texlive``

[2016-02-23 09:39] garbas commented on #13250
@7c6f434c i think we should document the policy and place where to ask for help to packages something. not sure yet where this would fit in current documentation.

[2016-02-23 09:41] garbas commented on #13322
@7c6f434c once documentation is migrated to wiki, we also need to fix discoverability of nixos project through the main page. having content from history is important indicator how "live" the project is.

[2016-02-23 09:43] garbas commented on #13354
@domenkozar would you be able to tackle this documentation. i think this should be part of release process, right?

[2016-02-23 09:47] garbas commented on #13339
@7c6f434c it looks like you are the one really hurt for this. would you be willing to document it with pointers to latest development?

[2016-02-23 10:33] edolstra commented on #9644
@layus The slowness also happens on systems with no configured printers.

[2016-02-23 10:47] AlexYeCu commented on #9644
@edolstra
But where, how and why to configure printers at the system without printers?

[2016-02-23 11:03] edolstra commented on #13104
I guess we need to decide whether we want the bleeding edge or not :-) I guess I could fire off a jobset to see how much breakage 2.23 causes.

Meanwhile, there is a jobset for 2.22: http://hydra-test.nixos.org/jobset/nixpkgs/glibc-2.22. (This is also a test of the new Hydra queue runner that uploads build results directly to an S3 binary cache. The cache is `http://nix-test-cache.s3.amazonaws.com

[2016-02-23 11:15] layus commented on #9644
@AlexYeCu For the current matter, shutting the network down should do it.

[2016-02-23 11:45] AlexYeCu commented on #9644
@layus, shutting down the network does not make Okular fster. May be there are some different bugs? Just checked: Okular opens spacians.epub in 20+ seconds with and without network, calibre viewer do the same thing in about 3 or less seconds.
Strace shows that Okular freezes  after:
libepub (II):   adding nav point item->navPoint-81 ch80.xhtml (d:1,p:81)
libepub (II):   finished parsing nav map
li

[2016-02-23 11:54] AlexYeCu commented on #9644
Well, deleting pictures and styles do not make Okular faster…

After removing Misc/com.apple.ibooks.display-options.xml:

libepub (II):   found item ch80
libepub (II):   parsing guides

But still slow.

[2016-02-23 13:21] 7c6f434c commented on #13339
I am simply not sure what to documents here.

My understanding is (it can be copied into documentation as-is if there is a section for it):

`systemd` auditing and session management code currently assumes that there is a single process managing taking over the virtual terminals. In particular, this makes it impossible to use a logged in session at some terminal to launch an `Xorg` session (that w

[2016-02-23 13:22] 7c6f434c commented on #13250
I am additionally not sure _what_ the policy is.

[2016-02-23 13:26] 7c6f434c commented on #13240
New TeXLive infrastructure (as described in the last section) is currently just `texlive` (all-lowercase).

I would vote for copy-pasting the bottom section from the Wiki page to the manual and improving it later, but maybe there are some objections.

[2016-02-23 13:26] 7c6f434c commented on #13227
Obsolete, so closing the issue.

[2016-02-23 13:26] #13227 closed

[2016-02-23 13:37] vcunat commented on #13104
I've got all my system running on 2.23 (+closure-size, coreutils and other stuff), and I see no problems. Maybe it *is* rather new to get into 16.03, I don't know. /cc also @domenkozar

[2016-02-23 13:40] vcunat commented on #13180
@zimbatm: I didn't realize what you meant by *All the rest is good to go.*

[2016-02-23 13:42] vcunat commented on #13240
There's a simple user doc in https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/typesetting/tex/texlive-new/default.nix#L1 but I think it should be polished and moved to the nixpkgs manual, preferably before release. I should be able to do it, but feel free to start before me.

[2016-02-23 13:47] domenkozar commented on #13104
I see no problem going to 2.23 given that hydra builds all of the packages and proves most of them build :) But there's left than a week to test that.

[2016-02-23 13:50] vcunat commented on #13134
`systemPackages` already does have a `postBuild` that regenerates shared mime info.

[2016-02-23 14:51] a1russell commented on #13134
@vcunat I've already stated that it's not working for me. What information can I provide you that proves it to your satisfaction?

[2016-02-23 14:54] vcunat commented on #13380
I assume you're using an older channel? It builds fine for me on master (and 15.09).

[2016-02-23 14:55] vcunat commented on #13134
I'm sorry. I shouldn't have repeated myself (and force you). I do believe it doesn't work in your case.

[2016-02-23 15:49] rnhmjoj opened #13393 "Last change in openSSH disables every public key type except DSA"
I've run into a problem which is the result a [bug](https://anongit.mindrot.org/openssh.git/commit/?id=ed08510d38) in openSSH (which will be fixed in 7.2), commit a7b7ac8bfb948f05c8956f8de23d806fb7686438 and the fact the `openssh.service.extraConfig` is prepended to `sshd_config`. So `PubkeyAcceptedKeyTypes +ssh-dss` effectively disables every public key type except DSA and I can't login via ssh a

[2016-02-23 16:17] gnumdk commented on #5632
ArchLinux doesn't follow upstream.

[2016-02-23 16:20] domenkozar opened #13394 "Bump Kernel to latest longterm 4.4 for 16.03 release"
According to https://www.kernel.org/category/releases.html, `4.4` will be supported until 2018. Let's bump this before the branch-off.

[2016-02-23 16:20] domenkozar commented on #13394
I'll push a commit as soon as we have a channel update.

[2016-02-23 16:49] vcunat commented on #13394
4.4 is relatively new, but I guess it will be fine enough before the release happens.

[2016-02-23 16:55] pSub commented on #12703
@rbvermaa @edolstra What are the barriers to introduce a backup maintainer for monitor.nixos.org?

[2016-02-23 17:05] #13393 closed

[2016-02-23 17:06] edolstra commented on #13393
I've pushed a fix to order the default config before anything else. Can you check if that fixes the problem for you?

[2016-02-23 17:09] edolstra commented on #13394
:+1:

[2016-02-23 18:17] rnhmjoj commented on #13393
If this moves the configuration to the bottom of the file it should work. I'm building a vm to test it anyway.

[2016-02-23 18:37] jagajaga commented on #10273
Any updates?

[2016-02-23 18:38] jagajaga commented on #3239
cc @domenkozar @phunehehe

[2016-02-23 18:39] jagajaga commented on #8910
Any more ideas or progress? :)

[2016-02-23 19:24] paulgevers commented on #13380
What is a channel in this respect? I just downloaded the file here: https://github.com/lwindolf/liferea/archive/v1.10.18.tar.gz yesterday. Don't know if that is the older channel?

[2016-02-23 19:32] zimbatm commented on #10149
Where does that kind of documentation go, should I add it to the buildGoPackage derivation ?

[2016-02-23 19:47] devhell commented on #8910
As far as I can see `syncthing` doesn't actually nag anymore when an update is available. Now, I don't know if that's something @ctheune fixed or if that's a change from upstream. Either way, it's gone now, and this can be safely closed. Thank you for reminding me @jagajaga!

[2016-02-23 19:47] #8910 closed

[2016-02-23 20:07] paulgevers commented on #13380
Hmm, I am not sure how I ended up here. I wanted to be somewhere else (on the liferea bug tracker).

[2016-02-23 20:07] #13380 closed

[2016-02-23 20:11] zimbatm commented on #6568
Thanks,

I had a quick look. http://xenbits.xensource.com/xen-extfiles/ doesn't distribute a new version. I suppose we need a subscription with them to get the proper version ?

https://security-tracker.debian.org/tracker/CVE-2015-1182 doesn't come with a patch for 1.1.4.

/cc @mixis @ts468 for more insights

[2016-02-23 20:15] zimbatm commented on #13384
Try just declaring your config instead of wrapping it in a function. If you replace it with `{allowUnfree=true;}` it will work. The error message is not really helpful.

[2016-02-23 20:18] rnhmjoj commented on #13393
Yes, it does. Thank you.

[2016-02-23 20:18] zimbatm commented on #13374
Which version of gist is that ? 4.5.0 from master should work fine.

[2016-02-23 20:22] colemickens commented on #13374
I'm on nixos-unstable plus a few local changes that shouldn't affect gist or anything ruby related.

`t` (twitter client) was broken too, but I just removed it since I wasn't using it.

[code]

[2016-02-23 20:23] ttuegel commented on #10273
I can't reproduce this with a recent master. @Profpatsch ?

[2016-02-23 21:06] Baughn commented on #12704
It looks like this is *probably* being caused by NixOS' version of Emacs being somewhat newer than the one I've got at work. Someone will need to fix it somewhere, but you're right, it's not Nix' fault.

[2016-02-23 21:06] #12704 closed

[2016-02-23 21:13] zimbatm commented on #13350
Imported over here: https://github.com/NixOS/hydra/pull/272

Not waiting on the merge to close the issue

[2016-02-23 21:13] #13350 closed

[2016-02-23 21:15] zimbatm commented on #13374
Okay, it's not working on unstable but it's fixed in master. Any days now :)

[2016-02-23 21:17] zimbatm commented on #13352
Is the machine list still accurate ? I'm tempted to close this-one unless we want to import the machine list in https://github.com/NixOS/nixos-org-configurations ?

[2016-02-23 21:18] ctheune commented on #8910
It's kinda an accident. It detects that it's not running from an official release package and thus stops the autoupdate. Could go away at anytime.

[2016-02-23 21:22] zimbatm commented on #6568
The 1.1 branch is EOL in upstream: https://tls.mbed.org/download-archive

[2016-02-23 21:23] devhell commented on #8910
@ctheune Thanks for the info. We'll have to see :)

[2016-02-23 21:48] Profpatsch commented on #10273
@ttuegel I’m baffled, because there doesn’t seem to be a `qt5.base` anymore. oO

[2016-02-23 21:56] vcunat commented on #13380
@paulgevers: the upstream (liferea itself) had this reported and fixed already, too.

[2016-02-23 22:01] zimbatm commented on #12703
where is the code and how do you deploy it ?

[2016-02-23 22:11] vcunat commented on #12703
The code should be on https://github.com/phreedom/nixpkgs-monitor/

[2016-02-23 22:23] wmertens commented on #12011
I agree, that patch looks good. Should be pretty easy to apply to the Sublime build. Any takers?

On phone, sorry for brevity…

[2016-02-23 22:32] wmertens commented on #12877
Good idea! The current implementation of this is basically the profiles like https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/profiles/headless.nix , but having actual boolean values to check would indeed be better

[2016-02-23 22:52] fpletz commented on #11592
Additionally, I wouldn't really advise to use the gitlab package on an distribution other than NixOS because there are some changes that require the code from the service module to work correctly. For instance, quite a few environment variables and additional config need to be provided which aren't really documented anywhere except in the code in the service module: https://github.com/NixOS/nixpkg

[2016-02-23 22:54] #10273 closed

[2016-02-23 22:54] fpletz commented on #13394
I'm running 4.4 on my laptop and some VMs without any problems since it was released, so :beers: from me.

[2016-02-23 23:01] knedlsepp commented on #11592
@fpletz That's what I figured also in the meantime. But doing a `nix-env -qaP` gives you all those cool packages to try out and it's disappointing when they fail. Maybe something like `platforms = platforms.nixos`?

[2016-02-23 23:10] knedlsepp commented on #13377
It seems the guys at macports have stumbled upon this issue three years ago: https://trac.macports.org/ticket/37395
Let's see if their patch fixes it.

[2016-02-23 23:34] Wizek commented on #8352
@maggesi Shouldn't that be `services.xserver.desktopManager.xfce.enable = true;`?

[2016-02-23 23:36] gilligan opened #13401 "openssl broken on darwin"
## Basic info

* Kernel: Darwin yoneda.local 15.0.0 Darwin Kernel Version 15.0.0: Sat Sep 19 15:53:46 PDT 2015; root:xnu-3247.10.11~1/RELEASE_X86_64 x86_64
* Nix version: 1.10
* Nixpkgs version: 16.03pre-git

## openssl is broken on darwin
[code]
This problem is apparently introduced by  917ca8920da46b94867a01590423f66390a152c0 and cc2cec63007f6974130a7ba8a491761be5887528

[2016-02-24 00:01] #9920 closed

[2016-02-24 00:07] fpletz opened #13402 "NixOS-only packages in nixpkgs"
### Problem

From a discussion in #11592:

Some packages in nixpkgs are tied to their specific NixOS module or some paths only available on NixOS. nixpkgs should however also be usable on other operating systems and Linux distributions.

This has different reasons. For instance the person that packaged it could just not have had the time do it properly but in other cases like Gitlab where there ar

[2016-02-24 00:09] fpletz commented on #11592
@knedlsepp Duh! :wink: Now you discovered our secret plan to lure people into the full nixperience by switching from NixOS! :cake:

But to get more serious businessy, such a meta attribute does indeed sound very useful yet IMHO not as a platform. I've open another ticket to look into adding this: #13402

[2016-02-24 00:22] gilligan commented on #13401
@edolstra can you have a look at those ?

[2016-02-24 00:28] knedlsepp commented on #13401
Doing a `nix-channel --update` and a `nix-env -i openssl` on OS X did simply download the openssl-1.0.2f binary and install fine for me.

[2016-02-24 00:36] zimbatm commented on #11970
Got this issue and now my default sink is auto_null, although it might be unrelated.

[2016-02-24 00:44] gilligan commented on #13401
@knedlsepp  uuhm.. well I happened to do a `nix-shell -p nodejs-5_x` which tries to build openssl and fails with the output I pasted above. I'm the newbie here so if I am doing something silly which is entirely possible I am all ears ;)

[2016-02-24 00:45] gilligan commented on #13401
@knedlsepp  uuhm.. well I happened to do a `nix-shell -p nodejs-5_x` which tries to build openssl and fails with the output I pasted above. I'm the newbie here so if I am doing something silly which is entirely possible I am all ears ;)

[2016-02-24 01:24] fxfactorial opened #13410 "Creating, Wrapping postgres extensions and playing nicely"
I am trying to wrap this postgres extension for nixpkgs https://github.com/eulerto/pg_similarity

my nix expression is:

[code]

and my builder is:

[code]

And this is crapping out at runtime when I try to use the extension with
`create extension pg_similarity` in psql.

I found some old threads with mentioning this but no real resolution and I see postgis in nixpkgs but it looks like its special

[2016-02-24 01:42] NeQuissimus commented on #13394
+1 from me, 4.4 has been very stable for me, too.

[2016-02-24 01:47] dezgeg commented on #13402
IMHO this could be generalized even further, i.e. a way to prevent a package from being added to `systemPackages` or `nix-env -i`'d even on NixOS. Potential use cases:

- Prevent installation of libraries, since lots of newcomers will try `nix-env -i pythonPackages.numpy' and then try to use it in an interactive python session, or `nix-env -i openssl` and try to compile stuff that requires OpenSSL

[2016-02-24 02:13] cstrahan commented on #13364
@basvandijk Sure. I've cherry-picked the commits locally, and I'm running a build to make sure everything works.

[2016-02-24 02:54] codemac opened #13411 "ledger-autosync-0.2.3 missing ofxclient.config"
## Basic info

To make sure that we are on the same page:

[code]
## Describe your issue here

When I run ledger-autosync, it complains about a missing module.

### Expected result

I expect it to run

### Actual result

It prints:

[code]
### Steps to reproduce

[code]

[2016-02-24 02:54] codemac commented on #13411
Let me know if there is any other information you would like me to provide.

[2016-02-24 03:40] cstrahan commented on #13364
@basvandijk I pushed the cherry-picked commits.

[2016-02-24 03:40] #13364 closed

[2016-02-24 03:49] phunehehe commented on #3239
I use Nix as a package manager in Ubuntu, so I can't really test this. In Ubuntu, [the package](http://packages.ubuntu.com/trusty/all/autojump/filelist) drops the file in `/usr/share/autojump/autojump.zsh`, and the user is expected to change `zshrc` on their own.

[2016-02-24 05:59] mbsulliv opened #13413 "rkt should be complied with the "kvm" stage1"
## Basic info
- Kernel: Linux pc-mbsulliv2 3.18.25 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux
- System: 15.09.git.c734df8 (Dingo)
- Nix version: nix-env (Nix) 1.10
- Nixpkgs version: "15.09.911.53286a8"
## Describe your issue here

I tried adding the "kvm" stage1 option to stage1Flavours in "pkgs/applications/virtualization/rkt/default.nix" and I got two errors.  I fixed the missing

[2016-02-24 06:31] pikajude opened #13414 "cargo searches specific system directories for SSL certs"
See https://github.com/sfackler/rust-openssl/blob/3ca5ecac7427cd37947352552cc517c7db8fd4fd/openssl-sys/src/probe.rs#L14

This should be patched out (or env var support patched in), but I'm not familiar enough with the rust builders to figure out where to start.

[2016-02-24 06:53] heydojo commented on #13394
https://github.com/NixOS/nixpkgs/blob/master/pkgs/os-specific/linux/ati-drivers/default.nix#L18
I have a solution, it needs review, maybe some discussion and maybe some help testing would be useful (although it is very well tested and works for me.)

What would be the cut off point for proposing it because I am very busy at the moment.
Thanks.

[2016-02-24 07:02] vcunat commented on #13394
Patches to make the drivers work on other kernel versions should be accepted even after releasing, but the sooner the better.

[2016-02-24 07:11] vcunat commented on #13401
@knedlsepp: that's a different openssl version. We have 1.0.1* as the default and 1.0.2* for a few cases including nodejs.

[2016-02-24 07:13] vcunat commented on #13401
Ah, I'm sorry, I looked wrong and got confused about our defaults by attribute and nix-env names aren't always consistent.

[2016-02-24 07:15] heydojo commented on #13394
It is not that trivial. I really have next to zero free time until the weekend also.

[2016-02-24 07:15] gilligan commented on #13401
Added the full build output for `openssl` above

[2016-02-24 07:39] vcunat commented on #13394
I still don't think it should be a problem in this case. But anyway, the work should go to master first, regardless of 16.03.

[2016-02-24 07:40] vcunat commented on #13401
I can't see the full log. (Note: I won't really debug this myself, as I don't even have any darwin machine.)

[2016-02-24 08:06] gilligan commented on #13401
@vcunat what other info can I provide?

[2016-02-24 08:16] 7c6f434c commented on #13402
I think having Apache in your systemPackages can sometimes be useful,
though. If only for ab…

[2016-02-24 08:25] ocharles commented on #12949
Is this currently in the unstable channel? I also now have an unbootable system, and I don't think I built from `master`. If so we really should be manually updating the channel to at least have an older set of `nixpkgs` that doesn't include this :(

[2016-02-24 08:28] knedlsepp commented on #13401
@gilligan I also only started using nix recently. What was really helpful in finding problems was to follow these instructions: https://nixos.org/wiki/Debugging_a_Nix_Package "Step Through Build Phases" and then view the step by step output. You should try to find out why "patching file Configure
Hunk #1 FAILED at 579."

[2016-02-24 09:12] vcunat commented on #13401
No use stepping here. The patch doesn't apply. It probably did before some version bump but no longer does. Someone has to decide if it's still needed and either drop it or port it to the new version.

[2016-02-24 09:26] gilligan commented on #13401
@knedlsepp @vcunat yes the actual error is obvious: the patch fails. I am just not able to judge this. Since @edolstra made the last changes I hope he could shed some light on this.

[2016-02-24 10:01] fpletz commented on #13374
As we're already having so many open tickets that won't get closed because people forget about them after they're fixed and it is indeed also working fine for me on master, I'm closing this for now. If you have problems after the next channel release, please feel free to reopen. Thanks!

[2016-02-24 10:01] #13374 closed

[2016-02-24 10:15] CMCDragonkai opened #13417 "The bluedevil shows no adapters when using KDE5 on 15.09 branch"
My bluetooth is definitely working as:

[code]

Also I was able to scan my phone from the console.

However inside KDE5's bluedevil GUI app, there's no bluetooth adapters shown. This I guess might have something to do with bluez4 vs bluez5 (as bluez4 is still the default for both KDE4 and KDE5 on 15.09, but on master, bluez5 is now used if you don't use KDE4). I wasn't able to test whether bluez5

[2016-02-24 10:15] garbas commented on #13352
i think this is a question for @rbvermaa

[2016-02-24 10:18] CMCDragonkai commented on #13417
@ttuegel

[2016-02-24 10:33] domenkozar commented on #13394
@heydojo thanks for pointing that out. If you're confident it's possible to fix ati drivers to work with kernel 4.4, it's also fine if we fix that later in March. We've done the same for 15.09 release.

[2016-02-24 10:44] nrolland commented on #11467
I am trying to upgrade eventstore to 3.4.0 from a 15.09 nispkgs release, and I hit that problem. is adding the @domenkozar override the best way to solve this at my level ?

[2016-02-24 10:45] domenkozar commented on #11467
@nrolland best to try it out, it worked for me.

[2016-02-24 10:49] domenkozar commented on #13401
cc @copumpkin

[2016-02-24 11:59] cleverca22 commented on #13402
and openssl in the env, for things like "openssl s_client" (basically telnet with ssl support)
maybe mixing in the seperate output stuff, dont allow openssl.dev to enter the env, since thats not how nix works

[2016-02-24 12:22] domenkozar commented on #12949
In general, use `nixos-unstable` channel as it goes through all the testing. With `nixpkgs` you skip all our effort to prevent you from mistakes like this.

I know `nixos-unstable` hasn't been updating regulary lately, hopefully that will get better very soon.

[2016-02-24 12:24] domenkozar commented on #13414
This is fixed now right?

[2016-02-24 12:35] mdorman commented on #12949
@ocharles I'm assuming that you've been able to reboot into a rescue instance or something and recover, but if not, let me know and I'm happy to try and help.

[2016-02-24 12:49] edolstra commented on #12703
Would it be feasible to run monitor on the nixos.org server?

[2016-02-24 13:06] abbradar commented on #13363
@sjau can you try cherry-picking patches and check if they work for you?

[2016-02-24 13:39] sjau commented on #13363
not really sure how to cherry pick patches - which patches?

[2016-02-24 13:43] abbradar commented on #13363
Try this:
[code]
This should build a Steam version with updated Steam Runtime and place a `result` symlink in the current directory. Needed patches are (in proper order):
[code]

[2016-02-24 13:44] Profpatsch commented on #11970
@zimbatm Pulse seems to break a lot when it is updated, so it’s probably an unrelated transient error.

[2016-02-24 13:47] sjau commented on #13363
Thanks for the explanation. But I'm still not sure what do do with that git cherry-pick patch1 patch2... sorry

[2016-02-24 13:48] abbradar commented on #13363
Substitute `<PATCH1>` for `9525ab....`, `<PATCH2>` for `b641927...` -- there are only two needed (I was mistaken) so the final command would look like:
[code]

[2016-02-24 13:50] sjau commented on #13363
dang.... sorry, didn't read it correctly. Your first instructions were fine, I just didn't get them. Trying this now.

[2016-02-24 13:52] zimbatm commented on #12541
Thanks

[2016-02-24 13:52] #12541 closed

[2016-02-24 13:54] zimbatm commented on #12703
Can we move this code to the nixos org ? It seems really useful and would be better community-supported.

[2016-02-24 13:54] sjau commented on #13363
Hmmm, I get an error:

[code]

However I do have
[code]
in my configuration.nix

[2016-02-24 13:56] abbradar commented on #13363
Oh, right -- `nix-build` uses only `~/.nixpkgs/config.nix`. You can place the needed code there as instructed. Another possibility if you want to rebuild the whole system using this repository (it will be latest unstable NixOS channel with Steam patches applied) is to do `nixos-rebuild switch -I nixpkgs=path/to/this/nixpkgs`

[2016-02-24 13:59] sjau commented on #13363
rebuilding now the system with
[code]
how will I be able to revert back to "normal" nixpkgs location?

[2016-02-24 13:59] abbradar commented on #13363
It's a one-time option -- if you don't specify this later, it will build off the usual channel.

[2016-02-24 14:08] sjau commented on #13363
Thx :)

[2016-02-24 14:10] sjau commented on #13363
Hmmmmm

[code]

[2016-02-24 14:14] abbradar commented on #13363
Hm, it failed because of some unrelated package (`qtruby`) -- maybe you aren't on the latest unstable now and something is broken on it?

[2016-02-24 14:15] sjau commented on #13363
I run those commands you told me :(

[2016-02-24 15:00] ocharles commented on #12949
We literally have a nixpkgs that can practically brick a system - I don't think "don't worry, it will get fixed eventually" is good enough here. I'm willing to take a breakage that lets me use a previous generation, but this goes beyond even that.

@mdorman thanks for the offer, I managed to eventually get it to boot with the GRUB REPL.

[2016-02-24 15:02] ocharles commented on #12949
I may be wrong with that claim actually, as https://github.com/NixOS/nixpkgs/commit/a1fa485378f3c17946c138935fd46be2178da389 looks like it doesn't have this problem. If that's the case the disregard the above comment, sounds like I was reckless.

[2016-02-24 15:47] cleverca22 commented on #12949
but https://github.com/NixOS/nixpkgs-channels/blob/nixpkgs-unstable/nixos/modules/system/boot/loader/grub/install-grub.pl does have the problem

and i have run into atleast one user running nixpkgs-unstable on nixos

[2016-02-24 15:48] ocharles commented on #12949
Thanks @cleverca22, I thought that was the case.

[2016-02-24 16:53] abbradar commented on #13363
Some questions:
1) Are you run the latest unstable channel?
2) Do you know of something that needs `qtruby` on your system?

[2016-02-24 17:34] sjau commented on #13363
yes, I run the commands you told me and I've been runing unstable for a while.

No idea where qtruby is a dependency of.

[2016-02-24 17:37] FRidh commented on #13411
cc maintainer @nlewo  (btw, nlewo, your nick in `pythonPackages.ledger-autosync` is wrong)

[2016-02-24 17:40] gilligan commented on #13401
@domenkozar will try your fix. Building will just take some time ...

[2016-02-24 18:50] ttuegel commented on #13417
I'm afraid I can't help here because I don't have any Bluetooth-capable hardware.

[2016-02-24 18:58] #13173 closed

[2016-02-24 18:59] #13174 closed

[2016-02-24 20:38] paspanag opened #13432 "Building (and packaging) Rumprun Unikernel"
- Kernel: 4.3.4 x86_64
- System: Nixos 16.03pre76756.885acea
- Nix version: 1.11.1
- Nixpkgs version: 16.03pre76756.885acea

Hi guys, I'm having a hard time building the rumprun unikernel. Specifically it's having troubles resolving the machine/cdefs.h header.

I'm using a nix-shell with stdenv, which

Here's the error log:

CC=/home/peter/experiments/unikernels/rumprun/rumprun/obj-amd64-hw/rumpto

[2016-02-24 20:54] grahamc commented on #6579
I think this can be closed, as it installs just fine on 15.09.

[2016-02-24 21:09] ehmry commented on #13432
I've tried doing this before, and its really not fun. BSD and the Rump build stuff has this /usr/src concept that really does not play will with Nix.

[2016-02-24 21:30] layus commented on #6025
Seems like this was closed by  #6072 or #4066, right ?

@bstrik, could you confirm it work correctly now and close the issue ?

[2016-02-24 21:32] layus commented on #6025
@vcunat, do you think this bug is _still_ valid ?

[2016-02-24 21:33] pikajude commented on #13414
Not as far as I know. What would have fixed it?

[2016-02-24 22:38] heydojo commented on #13417
We fixed this in unstable about a few weeks ago @abbradar made the final changes needed to switch to bluez5 by default unless you use kde4 and I have working bluetooth here in kde5.
Please look to the next release for this as an added feature.
https://github.com/NixOS/nixpkgs/commit/ddfb660f7bb2dfc203f9d25be381211271f33238

[2016-02-24 22:43] colemickens opened #13436 "ranger: can't open tar files (less -R: command not found)"
## Basic info

To make sure that we are on the same page:
- Kernel: Linux chimera 4.4.1 #1-NixOS SMP Sun Jan 31 19:29:37 UTC 2016 x86_64 GNU/Linux
- System: 16.03.git.8e784ea (Emu)
- Nix version: nix-env (Nix) 1.11.1
- Nixpkgs version: 16.03.git.8e784ea
## Describe your issue here

Opening tars with ranger doesn't work
### Expected result
- tar is opened
### Actual result
- screen flashes
- upon e

[2016-02-24 23:20] zimbatm commented on #11239
could we have the dconf package set the GSETTINGS_BACKEND on install like cacert does for SSL_CERT_FILE ? then it can be installed either as a user or in the system.

[2016-02-24 23:59] ericsagnes commented on #13436
Are you using zsh?
It seems zsh fails to execute a command with flags in an environment variable.

bash:
[code]

zsh:

[code]

And it happens with other commands too:

[code]

[2016-02-25 00:04] colemickens commented on #13436
Yup, I'm using ZSH. Looks like that's it. Suggested workaround/fixes? Or is there an upstream bug for ZSH?

[2016-02-25 00:10] iyzsong commented on #13134
hi, a1russell.  I think this is a document issue,
and can be fixed by adding information about postBuild to
the keep-mutiple-packages-update wiki page.

What do you think?

The page: #13187

[2016-02-25 00:14] iyzsong commented on #13436
workaround is set ``PAGER`` to ``less``, and set ``LESS`` to ``-R``.

[2016-02-25 02:03] CMCDragonkai commented on #13417
I see. Why not backport the conditional of switching to bluez5 when using
kde5.
On 25/02/2016 9:38 AM, "Tony" <notifications@github.com> wrote:

[2016-02-25 03:01] a1russell commented on #13134
Long term, @iyzsong, I think any Nix user could reasonably expect that, when they install something, it should work. That's not the case with this package right now. I imagine that other packages could be affected by this, as well.

So I think that documentation is great in the meantime, but we should also think of a better solution.

I haven't had time to switch my system config around in the pas

[2016-02-25 03:49] CMCDragonkai commented on #13417
Specifically referring to this line:

[code]

At https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/hardware/bluetooth.nix#L5

[2016-02-25 06:14] gilligan commented on #13401
@domenkozar openssl builds just fine now. I did the silly mistake of wanting to try this via `nix-env -i nodejs_5-x` which is how I initially noticed the problem but that lead to compilation that went on through the whole night and still has not fnished ..

Anyway .. `nix-shell -p openssl` just finished without any issue and installed `openssl-1.0.1-r`

[2016-02-25 06:31] vcunat commented on #13401
That's a different openssl version. The one with problems would be tested by `nix-shell -p openssl_1_0_2`.

[2016-02-25 07:08] heydojo commented on #13417
kde5.

Please feel free to do so. It is however, not that trivial. @ttuegel has done a huge amount of work on kde 5 between what is in 15.09 and what is in unstable now. There is talk on the mailing list of preparing for the next release. I cannot see any urgent need to back port this as it does not affect security. I do not run 15.09 and so have no way to test, or the time to confirm that it woul

[2016-02-25 07:14] vcunat opened #13439 "Unstable channel hasn't updated in a week"
... and it's still vulnerable.

There's a problem that I can't reproduce but Hydra reproduces it repeatedly http://hydra.nixos.org/build/32267159. It's seems as if `passAsFile` doesn't work well on Hydra.

[2016-02-25 07:14] vcunat commented on #12885
The next one: https://github.com/NixOS/nixpkgs/issues/13439

[2016-02-25 07:23] chris-martin commented on #13363
Cherry-picking these latest three commits fixed the steam installation for me.
* 9525abdeec4129de158369d323c673fa19c5fa64
* e41c80e7901702d7f24b0d880249056fc9ed730f
* b64192744a985a5214fb249565bef0841936d4ae

[2016-02-25 07:34] vcunat commented on #13363
So, the problem is really in outdated channel https://github.com/NixOS/nixpkgs/issues/13439 and one can work around it by `nix-prefetch-url` on the mirrored file(s)?

[2016-02-25 07:39] vcunat commented on #13439
BTW, in the meantime I fixed the tarball job (as of e053971d81).

[2016-02-25 07:42] chris-martin commented on #13363
I'm not entirely sure what you're saying, but if you want to give me any commands to run to verify that, I'll try them out!

[2016-02-25 08:30] vcunat commented on #13363
I don't know exactly about the work-around; I was just shooting blindly. Anyway, that problem seems fixed on master, according to your report.

For `qtruby` see https://github.com/NixOS/nixpkgs/pull/12610#issuecomment-188666473 but I can't see anything in nixpkgs actually using it.

[2016-02-25 08:39] ocharles commented on #13439
I already requested that we manually push a not-fucked version of nixpkgs to unstable, and I still believe we should do that. We are making it *far* too easy to end up in an unbootable and un-rollbackable state, and I think we should be considering this an exceptional situation that requires exceptional intervention.

[2016-02-25 08:50] vcunat commented on #13439
Yes, that seems a good thing to do in notable security cases.

[2016-02-25 09:10] vcunat commented on #13363
So, `qtruby` builds now on master f930b3949f0e.

[2016-02-25 09:16] dezgeg commented on #13439
The `fc-cache` seems to fail in `rackspace-*` machines, maybe they have too old nix to support `passAsFile`.

[2016-02-25 09:19] ehmry commented on #13166
I have some rights in the nixos group but not enough to transfer the repo, someone could just create a new repo then clone and push, I don't think that would be too disruptive.

https://help.github.com/articles/transferring-a-repository/

[2016-02-25 09:52] abbradar commented on #13414
I think I've fixed it in https://github.com/abbradar/nixpkgs/commit/57d074525b2dc16001b20ef1501fef845cc474be. I'll merge this along with Rust/Cargo unstable updates if I succeed building all of them.

[2016-02-25 10:01] gilligan commented on #13401
Sorry, my bad. Tried again now building the correct version. Works
[code]

[2016-02-25 10:01] vcunat commented on #13439
/cc @edolstra, @rbvermaa (I'm not very certain who exactly maintains the slaves).

[2016-02-25 10:02] jagajaga opened #13442 "Can't update rust pkg"
Trying to update `rustfmt`. Updated sha and rev, trying to install and getting:

[code]
cc @wizeman @globin @madjar

[2016-02-25 10:02] #13401 closed

[2016-02-25 10:04] jagajaga commented on #13442
Everytime I restart installation I'm getting different pkg here:
[code]

[2016-02-25 10:06] jagajaga commented on #13442
`rustfmt` update here https://github.com/jagajaga/nixpkgs/commit/1479d1902754d5ee6d91661f6cb49f67b726d384

[2016-02-25 10:07] vcunat commented on #13439
@dezgeg: thanks for the idea. I managed to work around it for now by a restart-job roulette.

[2016-02-25 10:10] jagajaga commented on #13442
If I make `deepSha256 = ""`
I'm getting error
[code]
instead of
[code]

[2016-02-25 10:29] AlleaRizary commented on #12515
Hi, I have the same issue here with my intel I219-V ethernet. i already download the drivers in https://downloadcenter.intel.com/download/22283/Intel-Ethernet-Connections-CD and it requires e1000e.3.3.3 which greater than 3.14.58 CMIIW.

Is there any way to fix this?

[2016-02-25 10:30] edolstra commented on #13104
@vcunat I see you merged 2.23, but it does have a bunch of new build failures: http://hydra-test.nixos.org/eval/2#tabs-now-fail

[2016-02-25 10:32] jagajaga commented on #13442
Possible https://github.com/NixOS/nixpkgs/commit/917ca8920da46b94867a01590423f66390a152c0 is the problem.. @edolstra?

[2016-02-25 10:32] edolstra commented on #13104
(And that's just the 2.22 -> 2.23 build failures, not 2.21 -> 2.22.)

[2016-02-25 10:51] vcunat commented on #13104
I somehow didn't notice that jobset (or forgot it), but there's no mass breakage. Most of this seems due to webkitgtk, and it looks like it shouldn't be too hard to fix by some patch. I'll look into that.

[2016-02-25 11:15] abbradar commented on #13414
Oh, sorry -- I misunderstood this for another bug where SSL certs are not found for `fetchcargo`. I don't think this should be fixed -- `rust-openssl` honors usual `SSL_CERT_FILE` environment variable, so this would work on both NixOS and non-NixOS now.

[2016-02-25 11:25] edolstra commented on #13104
Yeah, most of it looks pretty simple (some errors about `isnan` not being found, probably due to some increased header strictness).

[2016-02-25 11:29] abbradar commented on #13442
Fixed in https://github.com/NixOS/nixpkgs/commit/26c2f7113192cfd14a00dced980bf24e832f0af8 (workaround, see #13445 for a more proper solution).

[2016-02-25 11:29] #13442 closed

[2016-02-25 11:30] abbradar commented on #13442
Ouch, sorry -- meant https://github.com/NixOS/nixpkgs/commit/34023d867dae6bbb60b867de605fb61853679249

[2016-02-25 11:39] domenkozar commented on #12044
Sadly this doesn't work when `nix.nixPath` is declared as channel doesn't exist. Should `command-not-found` evaluate nix to get the path? cc @edolstra

[2016-02-25 11:40] domenkozar commented on #13439
`nixos-unstable` should update as part of http://hydra.nixos.org/eval/1237419
`nixpkgs-unstable` seems broken due on darwin due to curl update http://hydra.nixos.org/job/nixpkgs/trunk/unstable#tabs-constituents

[2016-02-25 12:21] vcunat commented on #13104
The relevant ticket, most likely: https://sourceware.org/bugzilla/show_bug.cgi?id=19439

[2016-02-25 12:23] vcunat commented on #13104
Aha, we might want to patch glibc instead by https://sourceware.org/git/gitweb.cgi?p=glibc.git;a=commitdiff;h=3c47c83a9730c20e602694505b9278c25637b0d0;hp=1233be76694ca81454f61e2ba5a2fb5830840191

[2016-02-25 12:53] vcunat commented on #13104
Ignore the above comment. (That patch is actually contained in 2.23.)

The situation with 2.23 and isnan is unclear to me. I suppose it will be better to choose 2.22 for the upcoming release. Shall I revert 59617de6d7f8a on staging?

[2016-02-25 12:54] jagajaga commented on #13442
:+1:

[2016-02-25 13:02] vcunat commented on #13104
Let me ask upstream at least, as this part of the regression still seems to be without any response: https://sourceware.org/bugzilla/show_bug.cgi?id=19439#c8

[2016-02-25 13:07] domenkozar commented on #13439
I've merged https://github.com/NixOS/nixpkgs/pull/13425 so `nixpkgs-unstable` should update very soon.

[2016-02-25 13:46] Profpatsch commented on #9364
@puffnfresh I’ve been using your patches for quite a while now, and it’s been working flawlessly. I’d suggest we merge them and document that it can still be improved, because keyboards that are plugged in after the fact are probably not affected.

[2016-02-25 13:48] puffnfresh commented on #9364
@Profpatsch I had problems where it wouldn't work at startup - it only worked upon a switch. Have you noticed any problems around that?

[2016-02-25 14:30] Profpatsch commented on #9364
Hm, I reboot too seldomly. :P
let me try.

[2016-02-25 14:36] Profpatsch commented on #9364
You are right, here’s my log (reversed, sorry):

[code]

It’s the old xserver stuff. It needs the `DISPLAY` envvariable set.

[2016-02-25 14:46] vcunat commented on #13439
nixos:tested job succeeded now: http://hydra.nixos.org/build/32268924#tabs-summary

[2016-02-25 15:45] peti commented on #13226
The manual contains everything, That last bit on the Wiki page is outdated and can be dropped.

[2016-02-25 15:45] #13226 closed

[2016-02-25 15:45] #11514 closed

[2016-02-25 15:55] domenkozar commented on #13394
Pushed as all tests now pass for NixOS.

[2016-02-25 15:55] #13394 closed

[2016-02-25 16:11] Profpatsch opened #13452 "libreoffice crashes when trying to open or save file"
Update: not yet fully on master, will retry once I am.
Update2: It’s still happening on master.

nixpkgs/master

When hitting `open` or `save as` or similar from inside the program, it crashes. Not when using `save` with an already saved file, so I assume it’s because of the dialogue that should open.

trace:
[code]

cc @viric

[2016-02-25 16:19] fpletz commented on #6579
Also works for me on master. Closing.

[2016-02-25 16:19] #6579 closed

[2016-02-25 16:54] datakurre commented on #12141
@domenkozar Have you got any new ideas for this?

To summarize:

* buildout-generated scripts are broken, because of setuptools' namespace package ``__init__.py``'s being removed by wheel packaging; workaround would be to not rely on buildout-generated scripts or wrap them to have all packages in PYTHONPATH

* Yet, because of z3c.autoinclude using (copied) setuptools' ``find_packages``, Plone will

[2016-02-25 16:55] domenkozar commented on #12141
@datakurre hopefully I'll have some time this weekend :) Thanks for being persistent, this one is important to fix.

[2016-02-25 17:22] bstrik commented on #6025
This bug is fixed now. Thank you.

[2016-02-25 17:22] #6025 closed

[2016-02-25 17:28] knedlsepp commented on #13402
Hm. Giving this some more thought I'm not sure if this is the right move. Is there really a reason why such a package will only be useful on NixOS? From a non-technical viewpoint, what makes a service like gitlab different from the standard helloworld is that it needs some extra configuration to work properly and thus may not meaningfully be installed as an ad-hoc via `nix-env -i`. I guess raising

[2016-02-25 17:59] vcunat commented on #13104
ATM it looks most likely that a majority of the new failures was just glibc exposing non-conforming c++ header usage, as only `std::isnan` is normally (guaranteed to be) put into scope.

[2016-02-25 18:02] knedlsepp commented on #12390
Hm. libgit2 fails due to an a different reason for me: A missing `libiconv` dependency.

[2016-02-25 18:39] paspanag commented on #13432
Ha! It's painful.

So, I'm looking into it more and in Ubuntu, the netbsd-gcc resolves inttypes.h from within the rumpctrl/rump/include/ headers, in Nixos the netbsd-gcc resolves the inttypes.h from the /nix/store/

Any idea how to correct this?

[2016-02-25 19:02] apatil opened #13458 "ghcjs not building on nixos-15.09, nixos-unstable or master"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)

Linux anand-mbp 3.18.24 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)

15.09.706.45128de (Dingo)

* Nix version: (run `nix-env --version`)

nix-env (Nix) 1.10

* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.

[2016-02-25 19:04] diimpp opened #13459 "[Security concern] display-managers/sddm uses some fork instead of main repo as source"
Hey guys,

I was browsing this repo and noticed, that
https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/display-managers/sddm/default.nix
uses https://github.com/benjarobin/sddm/ repo instead of https://github.com/sddm/sddm

This seems to me as malicious activity attempt or just a purely handled patching process.

Regards.

[2016-02-25 19:19] jagajaga commented on #6960
ping

[2016-02-25 19:19] apatil commented on #13458
Sorry, there's a different issue on master (8106d61c120355a93f3d7cd20263d7372ddec12d):

``
Dependency HUnit -any: using HUnit-1.3.1.1
Dependency async >=2.0.1 && <2.2: using async-2.1.0
Dependency base >=4.5 && <4.10: using base-4.8.2.0
Dependency constraints >=0.2 && <0.9: using constraints-0.8
Dependency lifted-async -any: using lifted-async-0.8.0.1
Dependency lifted-base ==0.2.*: using lifted-b

[2016-02-25 19:20] jagajaga commented on #11698
Any updates yet?

[2016-02-25 19:38] #13281 closed

[2016-02-25 19:54] edolstra commented on #13459
It only downloads the patch https://github.com/benjarobin/sddm/commit/7d05362e3c7c5945ad85b0176771bc1c5a370598 from that repo (which is upstream PR https://github.com/sddm/sddm/pull/573). Do you think there is a problem with that patch?

Ping @ttuegel, @abbradar.

[2016-02-25 19:57] abbradar commented on #13459
This patch fixes the focus on the password field in SDDM on start. Should be harmless (I've reviewed it before adding) -- should I add a comment?

[2016-02-25 20:26] #13411 closed

[2016-02-25 20:44] vcunat commented on #13452
That's exactly how missing gtk3 gsettings schemas manifest, although a more informative error was always printed, so it might be something else.

[2016-02-25 22:14] pSub commented on #6954
I won't have time to work on this issue any time soon.

[2016-02-26 00:03] #13150 closed

[2016-02-26 01:44] zimbatm commented on #1949
I assume this have been fixed by the MPV 0.5.0 update. Please re-open if I'm wrong.

[2016-02-26 01:44] #1949 closed

[2016-02-26 01:52] zimbatm commented on #13436
There ^

[2016-02-26 02:12] Profpatsch commented on #13452
The derivation switched from `gtk` to `gtk3` in the last version; that should probably be the reason for this @7c6f434c.

[2016-02-26 03:24] Profpatsch commented on #13172
If I were to convert this into nixos-hardware, how would I encode the “Preparing to boot nixos” and “Hardware support” sections?

[2016-02-26 03:26] Profpatsch commented on #5369
(triage) So can we close this?

[2016-02-26 03:26] puffnfresh commented on #9364
The service I wrote has:

[code]

So I don't know why it can't open the display. :disappointed:

[2016-02-26 04:12] iyzsong commented on #13436
Or set ``SH_WORD_SPLIT`` for zsh.
http://stackoverflow.com/questions/6715388/variable-expansion-is-different-in-zsh-from-that-in-bash

[2016-02-26 04:20] diimpp commented on #13459
Indeed it looks like I've overreacted.
It looked to me yesterday as it was installable from fork, not a just using a specific patch.

Sorry.

[2016-02-26 04:20] #13459 closed

[2016-02-26 04:39] Profpatsch commented on #9364
Wow, that was easier than expected. Thanks for the lead, @dezgeg.

[2016-02-26 05:23] heydojo opened #13476 "libinput missing libwacom dep"
[code]

In the unstable tree. Fixed here by using :
https://gist.github.com/heydojo/60a24f8944eef01935a0

@wkennington

[2016-02-26 06:16] mucaho commented on #9160
@pSub
Grass successfully compiles and runs - as fixed by #9931.

Still wasn't able to use Grass geo-algorithms from QGIS even after that PR was merged.
Seems like this is a very specific use-case, if there will be any need in future for someone else, this could be investigated further?

[2016-02-26 06:16] #9160 closed

[2016-02-26 06:38] heydojo commented on #13394
Some really great reasons for 4.4 to be the default can be found here: http://kernelnewbies.org/LinuxChanges

By the looks of it

and

are really nice improvements.

[2016-02-26 06:58] 7c6f434c commented on #13452
Yeah, didn't remember about the schema part. I will probably try to make
a wrapper around LibreOffice for such things…

[2016-02-26 08:16] #5369 closed

[2016-02-26 08:16] fpletz commented on #13476
@heydojo Why don't you just create a PR? I can't see your changes without downloading that file from the gist to do a diff…

[2016-02-26 09:37] vcunat commented on #13439
nixpkgs:unstable as well.

I really hate how often we have to restart tests; they seem to just time out, presumably because there is too high load on the build slave at that moment.

[2016-02-26 10:05] #13476 closed

[2016-02-26 10:06] zimbatm commented on #13436
Why are we setting these environment variables in the first place again ? It feels like it should be something that user can decide instead.

[2016-02-26 10:10] zimbatm commented on #2021
Closing as `firefox = wrapFirefox firefox-unwrapped {}` in master. I believe that the rest of the repository will converge over time.

[2016-02-26 10:10] #2021 closed

[2016-02-26 10:13] fpletz opened #13481 "Mention Bot not working"
The Mention Bot introduced in #11160 is not working anymore. Was it disabled on purpose or is the service itself broken?

I think it was very beneficial to get feedback from previous authors of the code. Contributors doing PRs don't generally mention the maintainers. This is why most of the new PRs lack feedback from their respective maintainers.

cc @edolstra @rbvermaa

[2016-02-26 10:19] zimbatm commented on #2817
Fixed by #9400

[2016-02-26 10:19] #2817 closed

[2016-02-26 10:26] dezgeg commented on #13436
Agreed, I have a feeling we're papering over some other problem by setting these in the default environment.

[2016-02-26 10:30] #13175 closed

[2016-02-26 10:37] fpletz commented on #13481
I can see the Mention Bot as participant on PRs on the Github notifications page at https://github.com/notifications even though it hasn't commented and isn't listed as participant on the page itself. Maybe Github blocked the account?

[2016-02-26 10:38] zimbatm commented on #13436
There is also this related issue where the man page doesn't escape properly unless `PAGER=less -R`: https://github.com/NixOS/nixpkgs/issues/7269

[2016-02-26 10:38] #13377 closed

[2016-02-26 10:38] #13171 closed

[2016-02-26 10:39] ehmry commented on #13172
This page I think we can just loose.

[2016-02-26 10:42] garbas commented on #13172
+1 there are not really valuable info i think.

@ehmry maybe we could have a list of tips and tricks in main readme? like the one in this document to turn off speaker kernel module. wouldn't be bad right?

[2016-02-26 10:43] zimbatm commented on #10233
@davidak care to make a PR that imports either the defaults from Arch or just your two lines ?

[2016-02-26 10:43] #13167 closed

[2016-02-26 10:47] ehmry commented on #13172
@garbas Done.

[2016-02-26 10:47] jagajaga commented on #10233
@zimbatm I'm against this PR. Read my opinion above please.

[2016-02-26 10:53] #13166 closed

[2016-02-26 10:55] zimbatm commented on #10233
@jagajaga how will it affect you if we merge a change like this ?

From what I've read it seems like you value upstream purity over convenience, is that correct ? If that's the way I would agree with you in principle, unless upstream is not willing to make any changes. That's certainly the case with vim (hence neovim).

Overall I don't think that changing the defaults to a vim-sensible equivalent

[2016-02-26 11:06] #13168 closed

[2016-02-26 11:06] #13169 closed

[2016-02-26 11:06] #13170 closed

[2016-02-26 11:19] #13303 closed

[2016-02-26 11:20] #8598 closed

[2016-02-26 11:26] zimbatm commented on #4538
Closing to keep the number of open issues down. You're welcome to re-open with a reproducible case obviously !

[2016-02-26 11:29] domenkozar commented on #13481
I pinged https://github.com/facebook/mention-bot/issues/87

[2016-02-26 11:30] viric commented on #4538
On 15.09, xterm on 81 columns, I see full of that. No idea of master.

[2016-02-26 11:55] viric commented on #4538
tv on irc reports to use this, to avoid the noise: https://gist.github.com/4z3/afac172c65d8775153c4

[2016-02-26 12:14] 4z3 commented on #4538
I can reproduce the warnings like this:
[code]

The workaround adds `-Wbreak` to man's nroff command line, which mutes that warning. I'm not sure muting warnings should be the default for NixOS (or nixpkgs's man) because the error still exists (i.e. lines couldn't be wrapped). Instead, maybe the manpage generation can be tuned.

[2016-02-26 12:17] pSub commented on #4538
I can definitely reproduce the error, too. No matter on which version and since a long time. I also investigated rather deeply on how to fix this problem starting from the MySQL Bug linked above. However, I was not able to find a solution that worked. But I don't have much experience in this area so that doesn't mean much. Maybe I can give it an other try at the weekend.

[2016-02-26 12:25] fpletz commented on #13481
Ah, I see. Maybe we should run our own instance? I could sponsor a VM and take care of maintenance if needed.

[2016-02-26 12:50] basvandijk commented on #13364
Thanks @cstrahan! Much appreciated.

[2016-02-26 12:51] domenkozar commented on #13481
I'd rather see we talk to upstream, joining forces should help us all :) I think Heroku costs $7/month for a single dyno

[2016-02-26 13:52] vcunat commented on #13439
nixos-unstable channel updated.

[2016-02-26 14:02] joachifm commented on #10233
The settings proposed by @davidak really are required for vim, to the point that providing vim without them out of the box borders on misleading. Speaking for myself, I'm always startled when running `vim` and being treated to the authentic vi experience instead. It's like taking a drink thinking you're getting cola but then it turns out to be milk.

If authentic vi is desired, it makes more sense

[2016-02-26 14:19] copumpkin commented on #10233
Curious if any of the :-1:  wants to respond to this point I made earlier:

[2016-02-26 14:39] ericsagnes opened #13484 "tmuxinator package broken"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux alpha 4.4.2 #1-NixOS SMP Wed Feb 17 20:31:25 UTC 2016 x86_64 GNU/Linux
* System: 16.03pre77568.40c586b (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: 16.03pre77568.40c586b

## Tmuxinator is broken

### Expected result

No error on running `tmuxinator` command

### Actual result

[code]

### Steps to reproduce

[2016-02-26 15:10] Profpatsch commented on #13452
@7c6f434c Bear in mind that it’s completely unusable atm *and* in master. I advise to rewind the change as fast as possible. I was already bitten by that.

[2016-02-26 15:12] zimbatm commented on #10233
Here is a version that imports the vimrc from archlinux: https://github.com/NixOS/nixpkgs/pull/13486
I made the default configurable in case you *really* want that vi mode.

[2016-02-26 15:28] 7c6f434c commented on #13452
Yes, I have probably underestimated severity because I used LibreOffice just fine after the update (and I am currently trying to build a fix without splitting LibreOffice into many-staged build).

OK, pushed the temporary revert, hopefully it works

[2016-02-26 15:43] abbradar commented on #13363
Unstable channel has updated, needed patches should now be there.

[2016-02-26 15:43] #13363 closed

[2016-02-26 15:49] jraygauthier opened #13488 "`giomodule.cache` conflict / collision"
## Basic info
- Kernel: 3.18.25
- System: 15.09.git.e83aed4 (Dingo)
- Nix version: nix-env (Nix) 1.10
- Nixpkgs version: "16.03.git.c6fcf44"
## Describe your issue here

There is the following collision when I install my profile:

[code]

there seem to be these `giomodule.cache` files created for gnome3 packages. I'm
not sure how this should be handled. Should we use similar solution as for the
`h

[2016-02-26 16:57] apatil commented on #13458
The error on master looks like the non-deterministic library ID bug actually. Sorry for the noise.

[2016-02-26 16:57] #13458 closed

[2016-02-26 17:45] zimbatm commented on #9364
I'm having a similar issue where `setxkbmap` options get reset.

[2016-02-26 18:16] Mathnerd314 commented on #10323
And now #9400 is merged, so this can be closed.

[2016-02-26 18:36] pSub commented on #11957
I don't understand the purposed implementation neither. @FRidh Do you have any prototype or can you explain how this is supposed to work? If currently don't have a solution I would close the issue and reopen if something is "on the way" (even if it is only conceptually).

[2016-02-26 18:40] knedlsepp opened #13492 "build-support ld-wrapper.sh uses wrong readlink on darwin"
## Basic info

* Kernel: Darwin knedlbook.local 13.4.0 Darwin Kernel Version 13.4.0: Wed Mar 18 16:20:14 PDT 2015; root:xnu-2422.115.14~1/RELEASE_X86_64 x86_64
* System: Mac OS 10.9.5
* Nix version: 1.10
* Nixpkgs version: "16.03pre76763.be0abb3"

## Issue:

Interactively using the gcc-wrapper-4.9.3 to compile some C++ on darwin outputs the following error during linking:
[code]

## Possible culpr

[2016-02-26 18:51] FRidh commented on #11957
Yeah, this is something I really need a solution for but never actually continued with trying to fix.

My idea is to have `shellHook` in `python.buildEnv` that, when `editableLibs` is passed, will install those specified libs in editable mode, in the same way as `buildPythonPackage` does it now for an individual package. Packages that were not passed to `editableLibs` will still go via the store w

[2016-02-26 20:25] heydojo commented on #13476
@fpletz with all due respect, I would have if I had the time.
I created this report 10 minutes before I had to get ready for work this morning. Cheers. :+1:

[2016-02-26 20:30] acowley commented on #13492
Can you try a checkout from `staging`? The PR was merged a while ago, but it's taking a very long time to make it to `nixpkgs-unstable`. I've been using it for a couple months now without issue.

[2016-02-26 21:02] jagajaga commented on #1800
Is it still relevant?

[2016-02-26 21:28] Mathnerd314 commented on #1800
The file systems and users/groups are used in a lot of places in NixOS. It would be a lot of work to change them, but possible. Personally I like have the list / attribute set choice.

I still wonder what @shlevy meant by "doesn't merge well", as that seems to be the key point.

[2016-02-26 22:10] vcunat commented on #4538
Hmm, it's the *Declared by* path names that seem to be unbreakable, judging from formatting with a thin terminal and viewing then in a wider one (without re-formatting).

[2016-02-26 22:14] #10233 closed

[2016-02-26 22:15] vcunat commented on #4538
Apparently it's just because slashes aren't considered as possible places to break a line. I've got no idea whether/how that can be changed.

[2016-02-26 22:16] Profpatsch commented on #11217
If your CI is done with nix I’m sure Hydra can be configured (or patched) to handle something like this for jobsets.

(triage) Is this still an issue @lukego or have you found a different solution in the meantime?

[2016-02-26 23:55] #8824 closed

[2016-02-27 00:20] grahamc commented on #13439
I think this can be closed now.

[2016-02-27 00:22] jagajaga commented on #12785
Was that fixed by https://github.com/NixOS/nixpkgs/pull/12786?

[2016-02-27 00:29] colemickens commented on #12924
This was fixed in #13027. Thanks @puffnfresh.

[2016-02-27 00:29] #12924 closed

[2016-02-27 00:31] jagajaga commented on #13439
Can't perform an upgrade, getting this error:
[code]
`--fallback` doesn't help.

[2016-02-27 01:43] AndersonTorres commented on #1949
Yes, mpv now abandoned almost completely ytdl hack.

[2016-02-27 02:35] knedlsepp commented on #13492
After a few hours of compiling the `staging` branch, I can now say that the problem is probably solved.

[2016-02-27 02:35] #13492 closed

[2016-02-27 06:57] phunehehe commented on #12785
@jagajaga I'm still waiting for https://github.com/NixOS/nixpkgs/pull/12787 (release-15.09), not sure it makes sense to wait for that before closing this.

[2016-02-27 06:58] wmertens commented on #10716
(triage) is any work planned for this?

I see 3 approaches:

1. Make a busyboxWithLinks attribute and let busybox only install the binary
1. Set the busybox priority to low, which was already proposed
1. Make a busyboxBinaryOnly attribute

I think 2 and 3 have the least chance of being breaking changes and they can both be implemented at the same time.

@cleverca22is this something you can take on

[2016-02-27 08:30] vcunat commented on #13492
That PR #11798 should have fixed this.

[2016-02-27 08:35] ocharles commented on #13439
But this issue is nothing about Hydra. What happens if you just use the
official cache?

On Sat, 27 Feb 2016 12:31 am Arseniy Seroka <notifications@github.com>
wrote:

[2016-02-27 08:36] jagajaga commented on #13439
hydra.NixOS.org is not official? :(

--
Sincerely,
Arseniy Seroka

On 27 February 2016 11:35:30 Oliver Charles <notifications@github.com> wrote:

[2016-02-27 08:50] vcunat commented on #13439
It's not officially recommended, though for fear of overloading it AFAIK. The error has a ticket: https://github.com/NixOS/nix/issues/396.

[2016-02-27 10:47] #10323 closed

[2016-02-27 10:59] knedlsepp commented on #13492
@vcunat: I did find this PR while searching for a solution, but since this was merged about a month ago, I didn't think that it would take so long for the channel to provide binaries.

[2016-02-27 11:05] vcunat commented on #13492
That's because it was a mass rebuild, so it went through the staging branch. There are lots of hurdles slowing delaying changes to get to channels.

[2016-02-27 12:14] jagajaga commented on #13439
`cache.nixos.org` worked!

[2016-02-27 12:14] #13439 closed

[2016-02-27 12:24] vcunat commented on #13104
I think all the larger breakages due to glibc 2.22 -> 2.23 should be fixed in master now (libreoffice, webkitgtk, libksysguard). Only a couple individual packages aren't, and I'll leave them broken ATM.

[2016-02-27 12:24] #13104 closed

[2016-02-27 12:27] vcunat commented on #4997
`$CC` seems defined on master. I tested x86_64-linux:
[code]

[2016-02-27 12:27] #4997 closed

[2016-02-27 16:13] vcunat opened #13506 "openssl: it's vulnerable"
Up to high severity. Fixed releases are announced to be made public in about three days.

https://mta.openssl.org/pipermail/openssl-announce/2016-February/000063.html

[2016-02-27 16:57] dckc opened #13507 "missing icons in tortoisehg toolbar"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)
Linux pav 3.13.0-79-generic #123-Ubuntu SMP Fri Feb 19 14:27:58 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.4 LTS
Release:	14.04
Codename:	trusty

* Nix version: (ru

[2016-02-27 16:59] dckc commented on #13507
Is there an idiom for "show me the dependency tree of this package"?

[2016-02-27 17:34] olejorgenb opened #13508 "joseki: dead source, codehaus.org and wrong url sourceforge.net"
## Basic info

* Kernel: (run `uname -a`)
Linux desktop-ole 4.4.1-2-ARCH #1 SMP PREEMPT Wed Feb 3 13:12:33 UTC 2016 x86_64 GNU/Linux
* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
Arch linux
* Nix version: (run `nix-env --version`)
nix-env (Nix) 1.11.1
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)
"15.09.952.55b0326"

## Describe your

[2016-02-27 17:52] vcunat commented on #13508
/cc maintainer @7c6f434c.

[2016-02-27 19:07] ehmry commented on #13172
I close now.

[2016-02-27 19:07] #13172 closed

[2016-02-27 19:31] garbas commented on #13353
@ctheune i will assign all the hydra related wiki tickets to you. if you get a chance to move documentation to hydra manual yourself great, if not I (or somebody else) will.

[2016-02-27 19:33] garbas commented on #13352
also pinging @ctheune as next hydra release manager

[2016-02-27 19:55] Zer0- commented on #12515
You can override the e1000e package to a newer version. For example I still have this in my configuration.nix:

[code]

The e1000e package is actually hosted on sourceforge, you can get the link to the newer version you need here:
https://sourceforge.net/projects/e1000/files/e1000e%20stable/3.3.3/

I can't believe I'm linking to sourceforge in 2016... but anyway you need the sha256 value of the fi

[2016-02-27 20:29] dckc opened #13515 "how to subscribe to security advisory notices for nixpkgs / nixos?"
tl;dr: I suggest an issue label or combination of labels dedicated to security advisories (vulnerabilities and updates / patches).
## Describe your issue here

Nix is great, and as I use it more for hobby stuff, I'm thinking about using it at work ([KUMC medical informatics](http://www.kumc.edu/ea-mi/medical-informatics.html)) where we safeguard research data about a large collection of patients.

[2016-02-27 20:34] nyarly commented on #10233
I see this is closed already, but I found that installing 'vimNox' as opposed to simply 'vim' was a bang-up-good solution to this. Looking at it's expression (in vim_configurable), it also looks like what you'd want to use if you wanted to set up a particular local compilation of vim. Hope this helps someone in the future.

[2016-02-27 20:52] rycee commented on #10361
Didn't notice this issue before, but I believe the `nix-generate-from-cpan` that is in master now will be more to your liking. Please have a look at the change #10768 for discussion and example output. The `CryptX` package in your description is generated as
[code]

[2016-02-27 21:02] nyarly opened #13517 "Private Channels?"
Is it currently possible to add channels to Nix which require credentials to access?

The use case I have in mind is the deployment of internal applications via Nix and Hydra. Consider a web application written to be used by a company in the performance of its business. It would be stellar to be able to use nix-shell to develop the application, hydra to do CI on the application, and then the hydra

[2016-02-27 21:04] Profpatsch commented on #12433
(triage) Does this still happen?

[2016-02-27 21:05] Profpatsch commented on #11441
(triage) Has someone fixed this yet?

[2016-02-27 21:08] dckc commented on #13507
strace shows:

[code]

There are lots more similar entries. [thg-trace.txt.gz](https://github.com/NixOS/nixpkgs/files/149561/thg-trace.txt.gz) is attached. To summarize:

[code]

[2016-02-27 21:22] dezgeg commented on #9412
This has been fixed by 985bd0808e5f0c43cd378ac4ba1fe51575a3bbd3

[2016-02-27 21:22] #9412 closed

[2016-02-27 21:37] dckc commented on #13507
source path: [icons/scalable/actions/go-to-rev.svg](https://bitbucket.org/tortoisehg/thg/src/b4cbd50340e679eb7602ac931e79fb5f182a34c3/icons/scalable/actions/go-to-rev.svg?at=default&fileviewer=file-view-default)

and it's installed as:
[code]

but the app isn't looking there:

[code]

[2016-02-27 22:08] domenkozar commented on #13517
You should be able to use http basic auth in the url in form of `http://username:password@url

[2016-02-27 22:11] Profpatsch commented on #2954
Okay, further investigation has shown that nixpkgs strips the setuid bit.

Try inserting the following in the derivation:

[code]

It willl output the right permissions when it builds, but afterwards it’s:

    -r--r--r-- 1 root root 13304 Jan  1  1970 result/bin/slock

[2016-02-27 22:16] dckc commented on #13507
I think I see what's going on:

we have
[code]
at [line 20 of tortoisehg/default.nix](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/version-management/tortoisehg/default.nix#L20)

but 3.6 was released Dec 9 (at f444d62), and previous to that, on June 8, `setup.py` was changed:

[e8655ee](https://bitbucket.org/tortoisehg/thg/commits/e8655ee7414d4b9df5856b586099e3773f947382
)

[2016-02-27 22:19] Profpatsch commented on #2190
(triage) Since someone’s gone forward and built https://github.com/NixOS/nixpkgs/pull/9250 this can be closed now.
cc @jagajaga

[2016-02-27 22:22] nyarly commented on #13517
For which of those uses? Hydra pulling from git? Serving the channel tarball? Or the binary cache? Or all three?

[2016-02-27 22:25] fkz opened #13519 "kde5 konsole terminal isn't working: displaying hundreds of tiny unreadable lines"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`):
Linux nixos 4.4.2 #1-NixOS SMP Wed Feb 17 20:31:25 UTC 2016 x86_64 GNU/Linux
* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
16.03.git.18b8adc (Emu)
* Nix version: (run `nix-env --version`)
nix-env (Nix) 1.11.2
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVer

[2016-02-27 22:29] Profpatsch commented on #8005
Unless @abbradar wants to continue working on this, we can close.

[2016-02-27 22:31] Profpatsch commented on #10241
(triage) @lethalman I think you are the main Gnome maintainer, what are your thoughts about this?

[2016-02-27 22:40] Profpatsch commented on #5187
(triage) @dontdieych Sorry for the lack of response. Is this still a problem? Otherwise I’d close it.

[2016-02-27 22:44] domenkozar commented on #13517
All of them.

[2016-02-27 22:48] Profpatsch commented on #970
(triage) Since TV has been updated multiple times in the meantime, we can close this, right @domenkozar?

[2016-02-27 22:48] Profpatsch commented on #7974
@magnetophon Current status?

[2016-02-27 22:48] domenkozar commented on #970
Well, nothing actionable here, so yes.

[2016-02-27 22:48] #970 closed

[2016-02-28 00:05] AlleaRizary commented on #12515
hi Zer0- thank you for your info. anyway, after i update to 3.3.3, do i need to install the driver manually or should it already recognize the ethernet?

[2016-02-28 00:46] dezgeg commented on #5187
This ticket (from 2014) predates the native hybrid ISO support in the live image (i.e. the thing that allows to directly `dd` the image to a USB drive), so the problems shouldn't be relevant anymore.

[2016-02-28 01:06] nyarly commented on #13517
Okay. Let me try that.

[2016-02-28 01:16] cleverca22 commented on #10716
ive got a patch for busybox to remove the symlinks, now i just need to make that the default, without breaking the initrd

[2016-02-28 01:47] #12515 closed

[2016-02-28 01:49] Zer0- commented on #12515
You just need to specify e1000e as one the boot.kernelModule option entries and it should work. You might need to reboot.

[2016-02-28 01:50] expipiplus1 commented on #10361
Looks good! Thanks!

[2016-02-28 01:54] Profpatsch commented on #5187
@jagajaga

[2016-02-28 02:55] Zer0- commented on #10476
Gitlab does not build on 15.09 and the service failed to start when i switched to the nixos-unstable-small channel. Here is the full output of nixos-rebuild switch (on 15.09):
[code]

[2016-02-28 03:08] grahamc opened #13529 "Improvements to the `./github` templates"
Just some thoughts I've been considering the past few days.

### Commit formatting
To learn the project's commit format, you must take a good bit of initiative and link-following. I suspect this ends up with a good bit of needless PR commentary to ensure the commits follow the rules:

1. commits should say `package: improvement description` in the general case
2. commits should say `package: oldve

[2016-02-28 03:55] fpletz commented on #12785
Fixed by #12787.

[2016-02-28 03:55] #12785 closed

[2016-02-28 04:26] timbertson opened #13532 "NIX_ENFORCE_PURITY breaks `ekam` in hard to diagnose ways"
- Kernel: `Linux meep 4.3.5-300.fc23.x86_64 #1 SMP Mon Feb 1 03:18:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
- System: Fedora release 23
- Nix version: nix-env (Nix) 1.10
- Nixpkgs version: 16.03pre76763.be0abb3

I had a lot of trouble trying to build [ekam](https://github.com/sandstorm-io/ekam) in a nix expression recently. In a `nix-build` it would fail, but everything I did to reproduce that

[2016-02-28 06:24] domenkozar commented on #909
Setting milestone to 16.03

[2016-02-28 06:37] phunehehe commented on #12017
@wmertens Postfix seems to do something weird. As you can see in https://github.com/NixOS/nixpkgs/blob/7ec9ce56f4f0aecab0210a4ba7d3af054c0eb8ed/pkgs/servers/mail/postfix/3.0.nix#L48, it's putting the the full path of `$out` under `installdir`. I guess that was the reason 3.0.nix was written like that. Need to dig more.

[2016-02-28 07:11] gebner commented on #12017
When updating postfix to 3.0, I just copied this part from the 2.11 derivation.  I think @rickynils originally put this in.  I guess it has something to do with the `/etc/postfix` path being handled correctly--postfix should install to `$out/etc/postfix` and `$out/bin/sendmail`, but use `/etc/postfix` and `$out/bin/sendmail` at runtime--so we prefix everything with `installdir` just during install

[2016-02-28 07:21] phunehehe commented on #12017
see also https://github.com/NixOS/nixpkgs/pull/12033#issuecomment-189803821

[2016-02-28 07:45] vcunat commented on #909
@domenkozar: 16.03? You plan to resolve this issue today?

[2016-02-28 07:48] CMCDragonkai opened #13534 "15.09 firefox.desktop doesn't exist in /run/current-system/sw/share/applications, hence no application link in KDE"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux 4.1.17
* System: 15.09
* nix-env (Nix) 1.10
* 15.09.1076.9220f03

## Describe your issue here

Usually desktop GUI applications are meant to have a `*.desktop` file inside `*/share/applications`.

I installed both chrome and firefox:

[code]

And when I launched KDE5, there was a link to Chrome, but no Firefox.

So I checke

[2016-02-28 08:10] domenkozar commented on #9903
Could you test #13535 ?

[2016-02-28 08:12] domenkozar commented on #909
@edolstra has raised concern yesterday to bump GCC5 and use binutils. Hopefully with the new Hydra logic we can test this in a few days to get an estimate.

[2016-02-28 08:13] #10361 closed

[2016-02-28 08:14] domenkozar commented on #2803
Could you test #13535 and report problems there? Thanks!

[2016-02-28 08:14] #2803 closed

[2016-02-28 08:15] vcunat commented on #13534
This is basically duplicate of #11588 for 15.09. On unstable/master this was solved by `wrapFirefox` renames #12299, but that's a relatively disruptive change to just pick into 15.09, I think.

[2016-02-28 08:17] CMCDragonkai commented on #13534
Oh great. Well 16.03 should be coming out anytime soon now.

[2016-02-28 08:17] #13534 closed

[2016-02-28 08:25] vcunat commented on #7974
Not fixed, still the same problem. The file needs to be accessed during evaluation time already, not so late as build-time.

[2016-02-28 08:27] vcunat commented on #13534
Yes, branching from master is planned for today.

[2016-02-28 08:30] vcunat commented on #909
gcc-5 as well? I just assumed "feature-freeze" is today, but it was foolish of me to think we might avoid the last-minute rush :-)

[2016-02-28 08:34] domenkozar commented on #909
That was the plan, at least.

[2016-02-28 08:50] domenkozar commented on #13529
Thanks, I've addressed some of these in https://github.com/NixOS/nixpkgs/commit/3c84ae406d80ba01f96a6da27de954b61f0e735b

[2016-02-28 09:09] #7974 closed

[2016-02-28 09:18] skrzyp opened #13537 "GTK themes and icons can be selected, but not loading."
## Basic info

* System: `16.03pre77568.40c586b (Emu)`
* Nix version: `nix-env (Nix) 1.11.2`
* Nixpkgs version: `"16.03pre77568.40c586b"`
* XFCE version: `Xfce 4.12.1`

## Describe your issue here
Imagine some casual user. Person who likes to have full-fledged desktop environment, but no too polluted, like XFCE is. He also cares a lot about appearance of his desktop, so he got an idea to find some

[2016-02-28 09:25] rycee commented on #11624
Master now has LWP 6.15 which includes some fixes to the test suite. Perhaps this issue got resolved?

[2016-02-28 09:34] 7c6f434c commented on #13508
OK, added Fuseki, seems to work no worse than Joseki worked. Could someone check that this is what was needed?

[2016-02-28 09:57] abbradar commented on #8005
Let's close, if I return to this I may reopen.

[2016-02-28 09:57] #8005 closed

[2016-02-28 10:28] #12017 closed

[2016-02-28 10:48] vcunat commented on #13537
/cc @lethalman. I know too little about gtk* themes.

##### Icon themes
It depends on the theme. I use the tango theme installed via `nix-env` and it works, because the theme did generate its `icon-theme.cache` when building itself. I'd think we should fix the individual themes to do so. (It means introducing extra build-time-only dependencies, but I personally don't think that's a problem, especi

[2016-02-28 10:53] skrzyp commented on #13537
Can we just make single icon-theme template for all of them, which will take care of updating icon cache and so on?

[2016-02-28 10:54] colemickens commented on #13517
I'd like this as well. nix-serve can serve over ssh, but it seems that the logic to look in binary caches only works via http.

[2016-02-28 10:56] colemickens commented on #13537
See also: https://github.com/NixOS/nixpkgs/issues/10577

[2016-02-28 10:58] colemickens commented on #13537
And this one (https://github.com/NixOS/nixpkgs/issues/5053) suggests a workaround but I haven't tested it.

I do experience this as well. Chromium gets styled, nautilus doesn't; for example.

[2016-02-28 10:59] datakurre commented on #11624
Possibly. Cannot test now, but I re-open, if I still see this.

[2016-02-28 10:59] #11624 closed

[2016-02-28 11:03] vcunat commented on #13488
@lethalman: do you know if `giomodule.cache` is of any use in our model?

I think we always compose by setting `$GIO_EXTRA_MODULES`,  either by hand or by `wrapGAppsHook`.

[2016-02-28 11:34] #5187 closed

[2016-02-28 12:03] lukego commented on #11217
Thanks for the ideas. Closing. The nearest I came to a solution is SnabbCo/snabbswitch#773.

[2016-02-28 12:03] #11217 closed

[2016-02-28 12:03] magnetophon commented on #7974
@vcunat: thanks, fixed!

[2016-02-28 12:03] magnetophon commented on #7974
@vcunat: thanks, fixed!

[2016-02-28 14:18] matthiasbeyer commented on #9903
@domenkozar I can, though I just moved from the dorm into a new flat and there is no internet yet, so I cannot test this now... I have to wait until I have internet in my new flat, sorry.

[2016-02-28 15:44] vcunat commented on #13532
In any case, "0" is a wrong value. For "booleans" in bash test by `test -n` and `test -z`, so "0" would mean true, as only empty or unset value is considered false.

That doesn't change the fact that we might allow configuring this more easily, e.g. only set `$NIX_ENFORCE_PURITY` if it's unset. Then just putting `NIX_ENFORCE_PURITY = false;` into `mkDerivation` would override it.

I don't think we

[2016-02-28 15:55] edolstra commented on #909
Yeah, sorry about that. I thought we were branching March 1st, not today. And I've been rather busy with Hydra stuff lately.

But I do think we need to get GCC 5 in this release. We've been stuck at 4.9 for several releases now. And the release highlights currently list only one item: that we renamed firefox-wrapper to firefox. That's not much of a reason to upgrade...

[2016-02-28 16:02] grahamc commented on #13529
Whoa, cool! I see nox-review has a wip subcommand now, which means I don't have to open PRs like https://github.com/NixOS/nixpkgs/pull/13550 to run nox against it ... thank you.

[2016-02-28 16:46] zimbatm commented on #10425
Closing as it's probably not an issue anymore (unless OOM, but then there is nothing we can really do).

Please re-open if I was mistaken !

[2016-02-28 16:46] #10425 closed

[2016-02-28 16:53] vcunat commented on #909
I'm certain there have been lots of other important updates and improvements, only they aren't listed. GNOME and KDE bumps could be listed, for example (it seems customary elsewhere), but I guess different people are interested in different kind of features.

[2016-02-28 17:10] zimbatm commented on #7454
Shouldn't we switch the default user to "postgres" on new databases and keep the "root" account around for existing-ones ?

[2016-02-28 17:17] matthiasbeyer commented on #13150
I experienced this issue just one minute ago.

I'm on

[code]

@zimbatm , @DamienCassou maybe this issue is not yet resolved completely?

[2016-02-28 17:33] lsix opened #13553 "Cide fails execute"
## Basic info

To make sure that we are on the same page:
- Kernel: `Linux 4.1.17 #1-NixOS SMP Sun Jan 31 19:23:48 UTC 2016 x86_64 GNU/Linux`
- System: `16.03pre76756.885acea (Emu)`
- Nix version: `nix-env (Nix) 1.11.1`
- Nixpkgs version: (master@eaed5598592ca8ccc05d9f09abcb4a27a06f1fb4) `16.03pre-git`
## Describe your issue here

This is a follow-up of #13485.

`pkgs.cide` builds fine, but cannot

[2016-02-28 17:48] obadz commented on #5038
@bdimcheff @spinus -  what about now (post #11338) ?
cc // @philandstuff

[2016-02-28 17:51] obadz commented on #5038
Looks to me like it works now. I vote for closing.

[2016-02-28 18:43] vcunat commented on #13150
Commit 11733b3 is *not* contained in 40c586b.

[2016-02-28 19:13] zimbatm commented on #13553
Awesome report :)

Can you give me the output of:
[code]

Also try to run with `unset GEM_PATH; cide`. I think the rubygem wrappers need a bit of re-thinking.

[2016-02-28 19:14] zimbatm commented on #13553
/cc @manveru @cstrahan

[2016-02-28 19:24] lancelotsix commented on #13553
I do not have any `GEM_PATH` set (I do not have any ruby dev env by default):

[code]

If this is of any use, here is the result of the wrapper:

[code]

[2016-02-28 19:53] jagajaga commented on #10694
@cstrahan was that fixed?

[2016-02-28 19:56] jagajaga commented on #10041
Working nowadays.

[2016-02-28 19:56] #10041 closed

[2016-02-28 20:14] jagajaga opened #13556 "buildRustPackage fails with `nix.useChroot = true`"
## Basic info

To make sure that we are on the same page:
* Nixos version: 16.03pre77568.40c586b (Emu)

## Describe your issue here
Perhaps you have
[code]
### Actual result
You tries to build it and if you have `nix.useChroot = true;` in your configuration.nix you will fail:
[code]
Or you will get another network related error (`Couldn't resolve host name`).

### Expected result
With no `nix.useC

[2016-02-28 20:21] ericsagnes commented on #13484
working on master

[2016-02-28 20:21] #13484 closed

[2016-02-28 22:14] grahamc commented on #13163
They put out an RC: https://github.com/xianyi/OpenBLAS/releases/tag/v0.2.16.rc1

[2016-02-28 22:30] zimbatm commented on #7504
Hydra is essential to any company deploys and really should as simple as setting `services.hydra.enable = true;` with maybe a list of admins.

[2016-02-28 22:31] zimbatm commented on #6905
@thoughtpolice ping ?

[2016-02-28 22:32] domenkozar opened #13559 "Zero Hydra Failures for release-16.03 branch"
Creating a tracking issue for ZHF effort in 16.03 release.

Failing packages (https://hydra.nixos.org/jobset/nixos/release-16.03):

- [ ] rebar3-open http://hydra.nixos.org/build/32540794 /cc @ericbmerritt
- [x] a bunch of haskell packages /cc @peti

[2016-02-29 00:44] Profpatsch opened #13560 "modules: How to specify an option is not optional?"
I want to create a module for the [isso](https://posativ.org/isso) discussion system.

When the user enables it, he has to set the config via a `config` option, otherwise isso won’t do anything sensible.

The way I do it now is not set any default and simply use it when enabled, so the module system throws the following error:

[code]

I think that could be a bit misleading maybe, is it supposed t

[2016-02-29 02:40] cstrahan commented on #10694
Yes, the changes (which have been on master for a bit now) should resolve this.

[2016-02-29 02:40] #10694 closed

[2016-02-29 05:01] globin commented on #13556
Normally the rustRegistry needs a bump if this happens

[2016-02-29 06:05] wmertens commented on #13046
(triage) not sure if this belongs here, looks like it is an issue with libreoffice not working well with hunspell?

Can you try libreoffice with myspell from nixpkgs?

[2016-02-29 09:04] lethalman commented on #13537
I wonder if removing the cache altogether from system, makes everything work ok. That is, even without the "cache", icons should work, right? I have to try...

[2016-02-29 09:32] lethalman commented on #13488
@vcunat that I know, it has never been useful. Most of apps already use stuff like glib networking and dconf module, without the need of any cache.

[2016-02-29 09:41] vcunat commented on #13488
So it should be OK to add a hook to remove those caches, right?

[2016-02-29 09:50] domenkozar commented on #13560
See `nixos/modules/misc/assertions.nix`

[2016-02-29 10:01] lethalman commented on #13488
@vcunat it should, but I haven't tried.

[2016-02-29 10:30] #2190 closed

[2016-02-29 11:21] timbertson commented on #13532
Fair point :)

That doesn't seem to be the case consistently (all checks for `NIX_ENFORCE_PURITY` are comparing to "1", not `-n`. But you're right, empty string is a much more falsy value ;)

Anyway, I've had a crack at only exporting $NIX_ENFORCE_PURITY when it's not yet set, see #13570

[2016-02-29 11:59] domenkozar commented on #10001
Bumping milestone.

[2016-02-29 12:00] domenkozar commented on #9744
Bumping milestone (this would possibly break many packages)

[2016-02-29 12:02] domenkozar commented on #13240
Who's going to fix this for 16.03?

[2016-02-29 12:03] domenkozar commented on #4210
@7c6f434c did you manage to migrate?

[2016-02-29 12:04] domenkozar commented on #11207
It's building now, closing.

[2016-02-29 12:04] #11207 closed

[2016-02-29 12:06] domenkozar commented on #7220
Bumping milestone, but really looking forward to this work being merged.

[2016-02-29 12:07] domenkozar commented on #247
GNOME 3.18 is now merged, removing milestone.

[2016-02-29 12:07] domenkozar commented on #4855
No consensus how to move forward here, bumping milestone.

[2016-02-29 12:08] domenkozar commented on #2079
@aszlig what's the status on this? Should we bump the milestone?

[2016-02-29 12:10] domenkozar commented on #11232
It passes on Hydra, so using chroot should help: http://hydra.nixos.org/job/nixos/trunk-combined/nixpkgs.libopus.x86_64-linux

[2016-02-29 12:10] #11232 closed

[2016-02-29 12:11] domenkozar commented on #9523
We now have systemd-229, so this would could go forward. But not for `16.03`

[2016-02-29 12:12] domenkozar commented on #11003
@evujumenuk what's the status of this?

[2016-02-29 12:14] domenkozar commented on #11305
Opened https://github.com/NixOS/nixos-artwork/issues/16

[2016-02-29 12:15] domenkozar commented on #8962
@edolstra a friendly ping so you remember about this for gcc5

[2016-02-29 12:16] domenkozar commented on #8729
Relevant: #8962

[2016-02-29 12:18] domenkozar commented on #7117
Closure graphs look ok, bumping milestone for `closure-size` branch

[2016-02-29 12:31] 7c6f434c commented on #4210
Well, we still need to do something about repstopdf (I currently have
just a dirty hack in my system). As for the disser package we could just
declare it broken upstream (I cannot build my thesis with TeXLive from
last week's master, but fortunately I don't really need to rebuild it
now anyway).

[2016-02-29 12:37] domenkozar commented on #4442
Managed to branch-off 16.03 in time.

[2016-02-29 12:38] domenkozar commented on #4210
@7c6f434c I'll port then `repstopdf` to mkDerivation, hopefully you can combine it with new texlive. Sounds good?

[2016-02-29 12:45] 7c6f434c commented on #4210
There is no separate `repstopdf` package.

I was asking how to handle this best.

There is `epstopdf` package that works fine, but doesn't create the
`repstopdf` symlink. If the correct solution is just to have
a single-symlink package, I can push such a trivial wrapper myself
(I use it already). But initially I wondered whether @vcunat thinks
there is a good way to specify such extra fixes in exp

[2016-02-29 13:07] olejorgenb commented on #13508
@7c6f434c Yup, that's it. Seems to work great (with the disclaimer that I haven't really used fuseki much in the past)

Jetty https://github.com/NixOS/nixpkgs/blob/9220f03d08e4ba914605256aa22ef2a67a9a21ac/pkgs/servers/http/jetty/6.1/default.nix#L4 will still have trouble though, but maybe that should have a separate ticket. 6.1 seems to be a very old version too.

Is there a policy on who close th

[2016-02-29 13:35] joachifm commented on #13508
@olejorgenb if you are satisfied, feel free to close the issue.

[2016-02-29 13:42] #13508 closed

[2016-02-29 14:25] matthiasbeyer commented on #13414
Can confirm. Calling cargo with `SSL_CERT_FILE=/etc/ssl/certs/ca-bundle.crt cargo build` works.

[2016-02-29 14:34] Profpatsch commented on #13560
Sweeeet!

Now, how to document that? It might be sensible to add a writeup of `nixos/modules/misc` to Chapter 22 of the nixos manual.

[2016-02-29 14:52] mjhoy opened #13573 "emacs25pre test suite failures"
## Basic info

## Describe your issue here

When adding `emacs25pre` to `environment.systemPackages` and running `nixos-rebuild switch`, emacs 25 builds and fails with 4 unexpected TRAMP mode test errors:

[code]

The full output contains null bytes and weird control characters that don't let me paste this into a gist easily. Is that part of the test or indicative of the problem?

cc @jwiegley

[2016-02-29 14:53] edolstra commented on #13560
Doesn't the error message say exactly what the problem is? I.e. that the user needs to define `services.isso.config`.

[2016-02-29 15:00] Profpatsch commented on #13560
But the user never used the option anywhere, and if one doesn’t know how the module system works (aka that it eats its own dogfood), it might lead to serious self-doubt (“but I didn’t use it *anywhere*. I checked *everything*”).

On the other hand that would be trivially resolved by an error message structured like this:

    error: The option `services.isso.config' is used at `…/nixpkgs/nixos/mod

[2016-02-29 15:11] mjhoy commented on #13573
ok... i think this will contain the build output? again if i open it in emacs there are lots of control characters. had to zip so github wouldn't complain.

[tramp-test-fail.zip](https://github.com/NixOS/nixpkgs/files/151149/tramp-test-fail.zip)

[2016-02-29 15:15] layus commented on #5408
This bug really lacks information and is quite old.
I assume the problem still occurs, but is it worth keeping the bug open if no investigations are made ?

Just askin' :smile:

On the other hand, could you provide a more detailed description, or try to find the package whose update triggers the bug ?
Even a larger chunk of logs would help.

As this bug has been open for a while, I also assume tha

[2016-02-29 15:41] jhrr commented on #8880
Seems like this didn't get resolved and it's been a while but I have mpd failing on Darwin also now, but with a different error, CoreAudio related. I'm using a local nixpkgs checked out at `56e68d`, OS X 10.11.3. Here's the failure:
[code]

[2016-02-29 16:20] vcunat commented on #8962
In master we already have `stdenv.cc == gcc`. I suppose it was fixed with #2817.

[2016-02-29 16:42] layus commented on #9644
I created a bug report @ KDE: https://bugs.kde.org/show_bug.cgi?id=359932 after reproducing the issue on archlinux.
My analysis with KCacheGrind seems to indicate that the application spends a lot (66%) of time in libfreetype.so, but it is unclear who calls these functions and why.

[2016-02-29 16:46] edolstra commented on #9644
@layus Thanks, that should be very helpful. BTW, did you run that on 15.09 or master?

[2016-02-29 16:52] Mathnerd314 commented on #5258
It looks like this refers to [this line](https://github.com/NixOS/nixpkgs/blob/82af770fa6d3a6aa83eaf4fc5ef3b083401921f8/nixos/tests/installer.nix#L106); can someone uncomment it and test?

[2016-02-29 17:46] Mathnerd314 commented on #8962
Right, now ``gcc != gcc49``. But nothing uses ``gcc49`` so it's not a problem.

Perhaps this could be fixed by setting ``libiconv = stdenv``? Since glibc is included in stdenv, and ``stdenv`` acts as a no-op in ``buildInputs``.

[2016-02-29 18:34] bjornfor commented on #12433
Still happens on unstable branch as of today (commit 40c586b). I tried latest master but there are (unrelated) build errors preventing me from testing it.

[2016-02-29 19:25] lethalman commented on #12433
I can confirm this too now.

[2016-02-29 19:31] lethalman commented on #12433
Maybe relevant: https://bugs.chromium.org/p/chromium/issues/detail?id=174794

[2016-02-29 19:43] lethalman commented on #12433
Seems to be fixed in 5f8311775c8832b1c5a88576cf58be05fd5c9070

[2016-02-29 19:43] #12433 closed

[2016-02-29 19:43] domenkozar commented on #13481
It's back. The maintainer paid for the plan and asked github to unblock the bot. Thanks! https://github.com/facebook/mention-bot/issues/87

[2016-02-29 19:43] #13481 closed

[2016-02-29 19:46] bjornfor commented on #12433
@lethalman: Excellent! Thank you.

[2016-02-29 19:49] domenkozar commented on #13560
@Profpatsch 22.3 sections sounds good

[2016-02-29 20:31] anojo opened #13582 "Stellarium broken?"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux rui-pc 4.1.17 #1-NixOS SMP Sun Jan 31 19:23:48 UTC 2016 x86_64 GNU/Linux
* System: 16.03.git.2e5ca9a (Emu)
* Nix version: nix-env (Nix) 1.11.1
* Nixpkgs version: 16.09.git.2e5ca9a

## Describe your issue here

Stellarium builds but doesn't open. Only shows the splash screen for a second and then it closes.

[2016-02-29 21:19] layus commented on #9644
@edolstra I ran my tests on Arch mainly (my main OS at work), but I just tried again with NixOS 16.03pre75806.77f8f35 (Emu). Both nixos.kde{4,5}.okular have the issue.

[2016-02-29 21:49] layus commented on #10917
@ocharles It seems to me that the option does exist in nixos options, and does indeed not exist in configuration.nix. This is one of the rare cases where you must provide an option.
See the commit message of 1ce6fff4 for the reason behind the scene.
This is also well explained for postgres (https://nixos.org/nixos/manual/index.html#module-postgresql).

Note that there is information about this in

[2016-03-01 01:51] joachifm commented on #13384
@pasqui23 I'm closing this issue as I belive the problem has been resolved. Please reopen if that is not the case.

[2016-03-01 01:51] #13384 closed

[2016-03-01 04:39] chris-martin commented on #3382
I've been using nixos for ~6 months and just today encountered this problem with git for the first time. Any idea what changed?

[2016-03-01 08:51] Magnap commented on #6991
The URL used to access metadata has changed, and `google-compute-image.nix` hasn't been updated to follow. It appears that all the files mentioned in the `fetch-ssh-keys` script have changed to a single file: `http://metadata.google.internal/computeMetadata/v1/project/attributes/sshKeys`. Unfortunately, I don't know enough to fix this properly.

[2016-03-01 10:24] vcunat commented on #4442
You seem to have forgotten to push `16.03-beta` tag, so I did that now.

[2016-03-01 10:29] domenkozar commented on #4442
Thanks. I always forget tags need to be pushed explicitly.

[2016-03-01 10:32] uralbash opened #13589 "Firebird cp1251 error"
## Basic info
- Kernel: `Linux nixos 3.18.26 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux`
- System: `15.09.1076.9220f03 (Dingo)`
- Nix version: `nix-env (Nix) 1.10`
- Nixpkgs version: `15.09.1076.9220f03`
## Describe your issue here

Unable to connect to database with encoding cp1251

[code]

[code]

[2016-03-01 10:36] domenkozar opened #13590 "xen fails to build on master"
I tried updating it, but no luck. I think the new glibc 2.23 is the reason for configure fail: http://hydra.nixos.org/build/32552024/log/tail-reload

I've only been able to find arch having the same issue, no patch yet.

cc @vcunat

[2016-03-01 11:36] laMudri commented on #3382
@chris-martin me too. Installing `cacert` didn't seem to help. I don't think it was caused by upgrading anything.

[2016-03-01 11:51] lethalman commented on #13559
devhelp fixed at b2889efff29ea316e66083e590ba22327b851e33

[2016-03-01 12:06] wizeman commented on #7454
I strongly agree we should switch the default user to `postgres`.

Currently, it seems impossible to use `pg_upgrade` to upgrade postgresql databases due to NixOS using the `root` superuser: `pg_upgrade` simply refuses to run as root.

[2016-03-01 12:25] domenkozar commented on #13515
Agreed - I will propose the priority for 16.09 release should be security updates tooling and advisories.

[2016-03-01 12:29] wizeman commented on #7454
The `pg_dumpall` approach given by @Shados above doesn't work for me:
[code]

[2016-03-01 12:31] domenkozar commented on #13103
This is now fixed in master (soon in 16.03)

[2016-03-01 12:31] #13103 closed

[2016-03-01 12:33] zimbatm commented on #3382
Added to the 16.03 milestone because we're going to get endless reports if this isn't fixed

[2016-03-01 12:35] zimbatm commented on #7454
I can submit the change as a PR but don't use postgresql and it needs testing

[2016-03-01 13:00] cpages commented on #13559
pvr-hts should also be fixed at 7eb1526. Thanks for poking me about that.

[2016-03-01 13:01] domenkozar commented on #13559
Please also cherry-pick to `release-16.03` branch. Thanks! :beer:

[2016-03-01 13:13] vcunat commented on #13590
This is strange. I do reproduce the build problem, but when I compile the configure test and run it myself, it succeeds (and measures `2` bytes). (Of course I do compile it with the stdenv from 16.03.)

[2016-03-01 15:02] jgeerds commented on #492
This also affects the tox test runner (which uses an unpatched version of virtualenv internally). This means that it is not possible to execute python2.7 tests for a django project/app because of the missing _sqlite3 module.

[2016-03-01 15:54] matthewbauer commented on #12969
@mpscholten Some dmg files are compressed with bzip2 or xz. The dmg tool will just spit out garbage if you give it a compressed dmg. File can usually detect which compression it is, then you need to unzip it like a single file before giving it to dmg.

[2016-03-01 16:17] matthewbauer commented on #10213
Same issue for the OSX binaries. Dwarf Fortress actually distributes fmod for Mac OS X.

Here's the relevant license section:

[2016-03-01 17:02] zhenyavinogradov opened #13594 "haskellPackages.Agda fails to build due to lifted version restrictions"
Log: http://hydra.nixos.org/build/32250896/log/raw

I believe the problem is that Agda 2.4.2.5 requires unordered-containers < 0.2.6: https://github.com/fpco/stackage/issues/1222#issuecomment-184022870

[2016-03-01 18:32] NeQuissimus commented on #13506
1.0.1s and 1.0.2g are out now.
Are you going to update OpenSSL? Otherwise, I can send a PR later in the day. We should do this ASAP considering the severity of the CVEs.

[2016-03-01 18:32] abbradar opened #13596 "Usage of nix.useChroot by default"
Why don't we use `nix.useChroot` in NixOS by default? I cannot see any immediate disadvantages of doing this, but I may be missing something. Right now we often advice people to enable it themselves -- I've yet to see one case when someone recommended to disable it.

[2016-03-01 18:38] NeQuissimus commented on #13596
I would suggest this very old issue:

https://github.com/NixOS/nix/issues/179

TL;DR: Quite a bit of overhead by using a chroot.

[2016-03-01 18:47] abbradar commented on #13596
Hm, that's a point. However this is _de facto_ required to be sure that nothing is broken during packaging new things, so disabling it may be useful only if user has made some patch that is both (a) local for him, so he doesn't need to test it extensively and (b) mass rebuild-y. In other cases (typical PRs or just regular use) either number of built (not fetched) derivations would be too small to

[2016-03-01 19:08] zimbatm commented on #7730
How is crontab installed as a suid wrapper ? Installing `nix-env -iA nixos.cron`
and then running:
[code]

[2016-03-01 19:14] edolstra commented on #13506
The staging and release-15.09 branches already have the fix (and the nixos-15.09-small channel is already updated: https://nixos.org/releases/nixos/15.09-small/nixos-15.09.1109.19de563/).

[2016-03-01 19:14] #13506 closed

[2016-03-01 19:24] edolstra commented on #13596
Closing as a dup of https://github.com/NixOS/nix/issues/179, let's keep the discussion in one place.

[2016-03-01 19:24] #13596 closed

[2016-03-01 19:32] edolstra commented on #7730
@zimbatm  On NixOS, cron is enabled by setting `services.cron.enable`, which provides the setuid wrapper.

[2016-03-01 20:24] edolstra opened #13602 "Add MAINTAINERS file + associated policy / tools"
Following up on http://lists.science.uu.nl/pipermail/nix-dev/2016-February/019811.html.

To prevent the Nixpkgs from descending into chaos, we need some policy about who is allowed to commit/merge what. We already have meta.maintainers for packages, but not for other parts of Nixpkgs/NixOS. In particular it's completely unclear who "owns" central parts like `lib/` so it risks becoming a free-for-a

[2016-03-01 20:34] 7c6f434c commented on #13602
Do I understand correctly, that H: line can also be repeated?

What do we do with PRs effectively creating new subareas?

What do we do with tools/misc and similar?

How can I mark a package «feel free to ping me for review/ask for
help/etc., but I also trust any willing NixPkgs committer to apply
a change that is not obvoiusly bad and keeps the thing building»
(this is meaningful for many small l

[2016-03-01 20:43] heydojo commented on #13602
:+1:
100% agree @edostra

[2016-03-01 20:53] zimbatm commented on #7730
Okay, I can reproduce now but the second way also fails for me, in a different way:
[code]

[2016-03-01 20:56] edolstra commented on #13602
@7c6f434c

* Yes there could be multiple maintainers.

* This would probably fall under a general "Nixpkgs scope" topic (presumably maintained by me).

* Well, `pkgs/tools/misc` are just regular packages with meta.maintainers attributes, so no need to list them in MAINTAINERS.

* The kernel's MAINTAINERS file has an "R: ..." field to list designated reviewers, which could be useful for this (and m

[2016-03-01 20:58] jagajaga commented on #13602
:+1:
But I thing that we should also have people who can coordinate others in PRs. Like nowadays I usually merge things myself but if I'm not sure about the patch or it's too complicated for me I call the responsible guys. (Also I have great experience with our repository and know well it's infrastructure that's why I know who can help us to solve problems or just help in a PR). Also nowadays @pSu

[2016-03-01 21:12] 7c6f434c commented on #13602
Please assign some more trusted reviewers for such things, we need all
of you alive.

Adding things should have a lower risk of breaking everything,
hopefully…

Ah, so not all packages fall into such groups. Noted.

meta.reviewers, probably — there are maintainers who can help with
debugging an update, but a working update can be reviewed by whoever
agrees (in contrast to some other areas where th

[2016-03-01 21:12] ttuegel commented on #13602
:+1:

If I understand correctly, this is not about restricting the actual permissions of committers, but establishing policy and developing tools to notify the appropriate maintainers. At this point, I am comfortable trusting all the committers to follow an established policy; the only problem is that we don't as yet have one :smiley:

[2016-03-01 21:15] zimbatm commented on #7730
Comparing strace outputs, a bunch of syscalls are added when accessing the file directly between the close() and stat(). I think it's trying to drop privileges so you can start loading *any* file on the system.
[code]

My uid/gid is 1000 and 100 by the way.

[2016-03-01 21:16] jagajaga commented on #13602
Oh! I misunderstood. I agree wholeheartedly with establishing policy!

[2016-03-01 21:18] abbradar commented on #13602
Yay! I returned again and again to a thought "how would I specify that I (or someone else) is responsible for this directory tree / feature / function?". This would scratch my itch.

[2016-03-01 21:21] edolstra opened #13605 "OpenSSL 1.0.1s upgrade breaks libmusicbrainz"
* Nixpkgs version: 15.09 rev 19de56397e7a3573a3139e8277e1adc261776efe

Build log: http://hydra.nixos.org/build/32645936/nixlog/1/raw

This is because 1.0.1s disables SSLv2 by default, which libmusicbrainz apparently relies on.

[2016-03-01 21:24] 7c6f434c commented on #13602
It could be nice to have brief recommendations for people with bigger
NixPkgs experience about gotchas for updating various libraries.

For example, a few years ago GNU TLS updates loved breaking libsoup and
WebKit-using browsers using libsoup… I guess there are some such things
now and when updating (say) LibreOffice and needing a newer version of
some dependency knowing what to check would make

[2016-03-01 21:27] colemickens opened #13606 "It's not possible to build go1.6 because the go1.5 package is not laid out correctly"
Go1.6 needs a GOROOT_BOOTSTRAP to utilize in order to build.

In NixOS, I did the following:

[code]

which looks good... but the problem is:

[code]

[2016-03-01 21:28] edolstra commented on #7730
@ctheune Does `/var/cron/tabs` exist? You may also need to create `/var/cron/cron.deny` as an empty file.

[2016-03-01 21:30] colemickens commented on #13606
On Arch:

``
$ ls -al /usr/lib/go

total 172
drwxr-xr-x   6 root root   4096 Feb 18 10:59 .
drwxr-xr-x 207 root root 143360 Mar  1 11:09 ..
drwxr-xr-x   3 root root   4096 Dec  3 13:45 lib
drwxr-xr-x   6 root root   4096 Feb 16 10:13 pkg
drwxr-xr-x   3 root root   4096 Dec  3 13:54 site
drwxr-xr-x  44 root root   4096 Feb 18 10:59 src
lrwxrwxrwx   1 root root      8 Feb 17 21:39 bin -> /usr/bin
lr

[2016-03-01 22:02] skrzyp commented on #12969
You might also consider `libarchive` and its `bsdtar` util (very good one btw) which can detect and handle many types of archives.

[2016-03-01 22:19] lethalman commented on #13602
**Different proposal**

I think linux long flat file is nice, but maybe there's something better we can think nowadays. Also, consider that regexp are not much of any use in our tree because most of stuff is a single file in a directory. Whereas in linux many little pieces may be maintained by multiple people.

- Put a MAINT.md in a subtree, the first line of the file is the username of the mainta

[2016-03-01 22:26] magnetophon commented on #13559
I can not reproduce on 15.09, and I can't switch to 16.03 now, because I'm in the middle of a project.

The error is: ```<command-line>:0:1: error: macro names must be identifiers``` .
I have no idea how to troubleshoot that.

If wanted, I could do a PR with faust1 as the default, and see if that builds???

@pmahoney Do you have ideas?

[2016-03-01 23:28] maurer commented on #13602
@lethalman
Won't the hierarchical `MAINT.md` method have issues with e.g. `pkgs/top-level/haskell-packages.nix` being delegated to the appropriate maintainers? Additionally, you end up with two `MAINT.md` files for a logical subtree in the case of the gnome3 subtree or similar ones which simultaneously have files in `nixos/modules` and in `pkgs`.

Re: the compilers category, it might be a useful d

[2016-03-01 23:37] lethalman commented on #13602
@maurer I don't see any issue in creating more `MAINT.md` with the same maintainer. It's just your github username. About nixos and pkgs, it may or may not be a problem. You can have two different descriptions. At least for gnome, the two descriptions would be very different. Also it does not expect the tree to match the maintenance structure, it only induces to have a more maintenance-wise struct

[2016-03-02 00:20] benley commented on #13602
There is a pretty decent semi-standard file format for exactly what we're trying to accomplish here:
https://github.com/bkeepers/OWNERS

It's used in chromium's git repos:
https://www.chromium.org/developers/owners-files
https://chromium.googlesource.com/chromium/tools/depot_tools/+/master/owners.py

Another related implementation, as a Gerrit plugin:
https://gerrit.googlesource.com/plugins/owners

[2016-03-02 00:49] dezgeg commented on #13602
I don't think per-subdirectory files would work well in this specific case which was about cross-cutting concerns, which kind of tend to touch files all across the directory tree. For instance I'd be thinking of something like this for myself:

[code]
...which is already all over the place and directories like `pkgs/top-level` contain files that other people maintain.

Also if we use the MAINTAINE

[2016-03-02 01:28] bendlas commented on #13602
Can somebody give perspective on `OWNERS` vs `MAINTAINERS` differences, with respect to encodable information vs tooling? I have seen both things but don't know the first thing about them. https://github.com/bkeepers/OWNERS/issues/1#issuecomment-125322528 seems to suggest that OWNERS is more geared towards machine-readability.
Their usage seems to be about equal:
****
MAINTAINERS.md: **1,859**
htt

[2016-03-02 02:28] jerith666 commented on #12847
I just pushed 3db27f5b, which I feel like is getting closer.  In particular I now have some evolution-ews stuff showing up in `/run/current-system`:

[code]

... however, still no "exchange" in the account setup dropdown ... :(

[2016-03-02 03:43] fare opened #13608 "Add a command_not_found_handler for zsh"
## Basic info

To make sure that we are on the same page:

* Kernel: 4.5.0-rc3
* System: NixOS 16.03pre76756.885acea (Emu)
* Nix version: nix-env (Nix) 1.11.1
* Nixpkgs version: 16.03pre77568.40c586b

## Describe your issue here
The default /etc/bashrc has a cool function command_not_found_handle().
The equivalent for zshrc should have a function command_not_found_handler().
Note the final letter

[2016-03-02 04:39] puffnfresh commented on #13608
I'm pretty sure this feature was added a while ago. It works for me:

![2016-03-02-153834_863x373_scrot](https://cloud.githubusercontent.com/assets/37715/13450764/d7471a68-e08c-11e5-87c4-e8a72e47de2a.png)

[2016-03-02 04:54] CMCDragonkai opened #13609 "pasystray doesn't seem to start in KDE5 in 15.09"
Posted a similar here too: https://github.com/christophgysin/pasystray/issues/48#issuecomment-191059056

Basically no systray icon is shown when it is launched from either the CLI or from KDE.

From the CLI, we get warnings:

[code]

But the program doesn't terminate.

[2016-03-02 05:01] CMCDragonkai opened #13610 "paprefs doesn't start in KDE5 15.09"
Trying to launch paprefs results in this error, and the program aborts.

[code]

@abbradar

[2016-03-02 07:55] bsfc1685 commented on #6405
I fixed it under openSUSE by uninstalling QT5 wich in turn uninstalls KDE and Plasma5. Reinstalling the whole made my konsole work

[2016-03-02 09:26] lethalman commented on #12847
@jerith666 you have to understand where does evolution look for modules. If it's only evolution nix store path, or also all the `XDG_DATA_DIRS`.

[2016-03-02 09:43] vcunat commented on #13506
I picked it to 16.03 as well. We might forget it otherwise.

[2016-03-02 10:36] mpscholten commented on #12969
Thanks for pointing this out.

Some thoughts on this: User experience is important for nix and nix adoption. User experience means that we do what the user expects. To do what the user expects the `_tryUnpackDmg` shell hook needs to be able to unpack any `.dmg` a user can unpack via the apple finder. This means adding a dependency to e.g. `libarchive`, but this dependency doesn't belong to `xpwn`

[2016-03-02 10:37] #13605 closed

[2016-03-02 10:59] edolstra commented on #13602
@lethalman What @maurer said. Some topics don't correspond to subtrees, in fact some may not correspond to any specific files at all. (E.g., "Nixpkgs coding style", "New packages / modules", ...)

[2016-03-02 11:02] lethalman commented on #13602
@edolstra I wonder what means being maintainer of nixpkgs coding style.

[2016-03-02 11:02] edolstra commented on #13602
Regarding existing tooling, we'll probably have to write/adapt our own anyway because it will need to be able to handle meta.maintainers in addition to MAINTAINERS/OWNERS.

[2016-03-02 11:30] cleverca22 commented on #13559
multimc builds without any error on my end, when on the release-16.03 branch and all overrides disabled

[2016-03-02 12:00] nrolland commented on #12044
I have no `/nix/var/nix/profiles/per-user/root/channels/nixos/programs.sqlite`, adding a channel and  `sudo nix-channel --update` does not generate one.

is there a specific command to recreate it ?

[2016-03-02 12:18] ip1981 opened #13612 "s3cmd: module python-magic is not available"
When uploading with s3cmd:

[code]

[s3cmd](https://github.com/NixOS/nixpkgs/blob/40ca841c5c0b264a0d1a1ffc2f912e17e30f9caa/pkgs/tools/networking/s3cmd/default.nix) has

[code]

But is seems pointless at all.

Should a wrapper be used?

[code]

[2016-03-02 12:42] matthiasbeyer commented on #13602
[code]

I like the general idea, though I wouldn't bind that file to the github infrastructure so closely, but allow email entries like so:

[code]

So we can also be reached by non-github users via email.

[2016-03-02 12:46] 7c6f434c commented on #13602
Add the name of maintainers.nix entry then. And display name.

[2016-03-02 12:59] domenkozar commented on #13612
There are two python-magic packages, try the other one :)

[2016-03-02 13:00] domenkozar commented on #13590
Comments on https://aur.archlinux.org/packages/xen/ note a workaround.

[2016-03-02 13:03] matthewbauer commented on #12969
Right now, unpackPhase is only using file extensions. Would it be possible to use magic numbers as well? I think file is available on every machine. In the end, it's going to be difficult to distinguish a .tar.gz file from a .dmg[.gz] file. Checking magic numbers and using file's mimetype output could be the way to go.

[2016-03-02 13:12] domenkozar commented on #13602
Wouldn't it be better to add a list of paths maintained to `lib/maintainers.nix` or some other file so it can reference the maintainer name and email? Otherwise we have to maintain two list of maintainers.

[2016-03-02 13:15] jagajaga commented on #13602
Why `github_user_name`?

[2016-03-02 13:23] matthiasbeyer commented on #13602
@jagajaga This was just an example. Of course it would be @matthiasbeyer and mail at beyermatthias [dot] de for me.

[2016-03-02 13:28] matthiasbeyer commented on #7729
I tried. I failed. Sorry.

If someone else wants to step up, feel free!

[2016-03-02 13:28] #7729 closed

[2016-03-02 13:41] vcunat commented on #12044
@nrolland: nix-channel adds pairs: URL and name that you choose independently. Currently `command-not-found` searches only for channel that you called `nixos` which is what you get on NixOS by default for the system channel.

[2016-03-02 14:21] mpscholten commented on #12969
I guess this would work. This way we can be sure that we first need to unzip the file. Would you still go with the `undmg` approach (creating a new little package for this) I've outlined above, or do you have something other in mind?

[2016-03-02 15:49] domenkozar commented on #12310
Can we kill `llvm_33`?

[code]

[2016-03-02 16:04] abbradar commented on #13610
Please try this patch: https://github.com/abbradar/nixpkgs/commit/eb57a40b30be0ff5b2cce6d23dc804c44dd5c5dc

[2016-03-02 16:04] joachifm commented on #9848
What is the verdict on this issue? Can it be closed? Makes sense to me, fwiw.

[2016-03-02 16:31] joachifm commented on #13602
To my mind, the assignment of ownership is what makes this proposal valuable. That there is ownership is more important than who owns what or how it is recorded. I hope this doesn't get bogged down by trying to hash out all the details up front ... What @edolstra proposes seems perfectly workable as-is to me, though @domenkozar's idea of re-using maintainers.nix makes a lot of sense, esp. for the

[2016-03-02 16:51] Ptival commented on #10172
This was indeed an atom-typescript issue, fixed by https://github.com/TypeStrong/atom-typescript/commit/516374197f4642ec56ff87958dbb2620ebc4f761

[2016-03-02 16:51] #10172 closed

[2016-03-02 16:55] #12310 closed

[2016-03-02 17:35] domenkozar commented on #5640
ba05826

[2016-03-02 17:44] vcunat commented on #13506
Oh, I didn't notice e0d17fdf105. That would be another rebuild of openssl-depending stuff on 16.03.

BTW, I don't understand the reason for the current state of Hydra jobsets. Staging builds with these security patches seems to have been [cancelled](http://hydra.nixos.org/eval/1238922) and "trunk" without the patches [is building](http://hydra.nixos.org/jobset/nixpkgs/trunk). Perhaps there's some

[2016-03-02 17:44] trane opened #13620 "Scala packages are not versioned deterministically"
## Basic info

To make sure that we are on the same page:

* Nix version: https://github.com/NixOS/nixpkgs/commit/ba0582670796acdeeb9ab0001a7edd0b08290d4f
* Nixpkgs version: https://github.com/NixOS/nixpkgs/commit/ba0582670796acdeeb9ab0001a7edd0b08290d4f

## Describe your issue here

I can't compile code using specific versions of Scala.

### Expected result

I can specify buildInputs or package d

[2016-03-02 18:21] layus commented on #10555
@cleverca22, @aszlig : As this issue is fixed, would one of you mind to close this bug ?

[2016-03-02 18:31] vcunat commented on #13582
On current nixos-unstable I'm getting a different error:

and it ends with sigabrt instead of segfault. /cc maintainer @peti.

[2016-03-02 19:06] cleverca22 commented on #10555
yeah, srtp works great on 47 and 48

[2016-03-02 19:06] #10555 closed

[2016-03-02 19:08] peti commented on #13582
Unfortunately, all that qt stuff is like black magic for me. I have no clue what is causing those errors. :disappointed:

[2016-03-02 19:18] grahamc commented on #4411
This story is quite old, is this still true?

[2016-03-02 19:35] matthewbauer commented on #12969
Yeah, we could fork the dmg part of xpwn. I'm kind of surprised there's nothing like that already. I was looking through to make sure libarchive didn't have anything. I suppose DMG files are almost always treated just as image files.

[2016-03-02 19:55] #12106 closed

[2016-03-02 20:04] dharaj opened #13624 "requireFile and nix-prefetch-url disagree on where a file should be in the nix store"
## Basic info

* Kernel: Linux laplace 3.18.26 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux
* System: 15.09.git.9220f03 (Dingo)
* Nix version: nix-env (Nix) 1.10
* Nixpkgs version: "15.09.git.9220f03"

## Describe your issue here

The package `ios-cross-compile` does not build on my machine. I have been trying to improve it so that it does. It requires the iOS SDK that is packaged wit

[2016-03-02 20:06] joelmo opened #13625 "Restrict nixpkgs"
1. Document types of derivations that won't make it into nixpkgs
2. Create a repo where such packages are allowed? (may be legally hard)

Requests that have been rejected are: #10006 #7597 #10981

[2016-03-02 20:18] codemac opened #13626 "cadaver does not read from /etc/ssl on NixOS"
## Basic info

To make sure that we are on the same page:
codemac@neah:~ % uname -a
Linux neah 4.4.2 #1-NixOS SMP Wed Feb 17 20:31:25 UTC 2016 x86_64 GNU/Linux
codemac@neah:~ % nixos-version
16.03pre77568.40c586b (Emu)
codemac@neah:~ % nix-env --version
nix-env (Nix) 1.11.2
codemac@neah:~ % nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion
"16.03pre77568.40c586b"

## Describe your issue her

[2016-03-02 20:45] skrzyp commented on #13452
Still not fixed, happened to me right now, worst moment today.

I think we should care about stability of office suites and tools. It's very important because people often wants to read/modify some files when they're in hurry, and suddenly, **BOOM** - Libreoffice says "you will not edit this today, go away and die painfully" because package maintainer haven't checked it before commiting.

[2016-03-02 20:53] 7c6f434c commented on #13452
Cannot reproduce on master.

What is the LibreOffice store path you have?

The part about editing is false, this is the part that I did check even
initially and that doesn't require dialogs to work… Reading definitely
doesn't need dialogs.

[2016-03-02 20:56] skrzyp commented on #13452
[code]

[2016-03-02 21:02] 7c6f434c commented on #13452
You have only one LibreOffice output path, which means it is the same
version you originally reported the issue with (and Hydra build list
confirms that).

Fresh build of master LibreOffice (available on https://cache.nixos.org/
and the one I am using) is
/nix/store/wn6q6axpr6frk9mwwvwnxg5m9zizcwgs-libreoffice-5.1.0.3 which
does have a working open-file dialog.

[2016-03-02 21:04] skrzyp commented on #13452
But I'm using unstable channel, which is upgraded daily by `nix-upgrade` service. So, what else I should do to acquire the same hash of LO like you're using?

[2016-03-02 21:08] joachifm commented on #13452
@skrzyp the unstable channel is only upgraded when the Hydra job completes, it's not uncommon for it to lag behind by several weeks.

[2016-03-02 21:10] skrzyp commented on #13452
But he said that certain LO expression result is available on cache.nixos.org, so I think hydra has processed it before.

[2016-03-02 21:11] joachifm commented on #13452
@skrzyp sure, but nixos-unstable won't update before the entire jobset completes.

[2016-03-02 21:12] joachifm commented on #13452
@skrzyp you could always just download/install the closure you want directly from hydra

[2016-03-02 21:12] skrzyp commented on #13452
How? It's not documented I think.

[2016-03-02 21:14] joachifm commented on #13452
@skrzyp e.g., https://hydra.nixos.org/build/32657170

[2016-03-02 21:14] 7c6f434c commented on #13452
So we again have channel not updating for more than 2 days (the earliest
non-aborted post-fix build was 2 days ago)? Pity.

[code]
should be the way that works regardless of how you install the rest of the packages.

[2016-03-02 21:36] Profpatsch commented on #13452
@7c6f434c Maybe you can add VM tests for these kinds of errors? Chromium uses these kinds of tests afaik.

[2016-03-02 21:40] 7c6f434c commented on #13452
I have no idea how to do VM tests, and I am out of date re: NixOS tests
as I don't use its boot sequence anymore (the FS layout I use is the
same, though).

Also, my use patterns apparently do not intersect with the others' use
patterns…

[2016-03-02 21:54] paul-e-cooley opened #13628 "Official AWS 15.09 AMIs need to be updated with user-data fix"
## Basic info

To make sure that we are on the same page:

* Kernel: N/A
* System: (NixOS: `15.09`, AMI: ami-8fea91ea [nixos-15.09.git.87b377dM-x86_64-hvm-ebs])
* Nix version: N/A
* Nixpkgs version: N/A

## Describe your issue here
Need to upgrade the stock AWS EC2 AMI's for 15.09x with the fix to use "user-data" as described here: https://github.com/NixOS/nixpkgs/pull/7370
### Expected result
Sys

[2016-03-02 22:35] skrzyp commented on #13625
That might be named `nixpkgs-tooUnfreeToBeInNixpkgsEvenAsUnfre` if we look into mentioned requests :)

[2016-03-02 22:36] Profpatsch commented on #13452
You don’t open file dialogues from inside LibreOffice? :)

[2016-03-02 22:40] zimbatm commented on #12882
/cc @thoughtpolice @wkennington

I can reproduce the issue but don't know how to debug further. Is it possible that mariadb changed their auth ? Running 10.1.9-MariaDB here.

[2016-03-02 22:57] matthewbauer commented on #12969
Take a look at https://github.com/matthewbauer/undmg

I've got it working for gzip and bzip2 DMG files. Still working out some issues though.

[2016-03-02 23:07] retrry commented on #12072
I do too get this error still and I can't install mysql to user profile.
[code]

[2016-03-02 23:14] acowley opened #13629 "glibc update problem"
The `nixpkgs-unstable` channel hasn't updated in more than two weeks; it is currently blocked by an issue in the Linux boot strap tools. The [log](http://hydra.nixos.org/build/32398519/nixlog/3) suggests it is a problem with a new glibc not being used properly.

[2016-03-02 23:15] domenkozar commented on #13629
cc @edolstra @vcunat it's the new glibc failing to bootstrap

[2016-03-03 00:31] Profpatsch opened #13631 "lib/debug: strict, traceSeq and traceValSeq"
I stumbled across a few things while trying to debug my nixexprs:
- The function `strict` seems superseded, since we now have `seq` and `deepSeq`. Deprecate?

[code]
- `trace` (and by extension `traceVal`) is very helpful but only prints stuff in WHNF. That’s what one wants (especially with circular data structures), but often it is nice to be able to see deeper. I experimented a bit and found the

[2016-03-03 01:43] cstrahan commented on #13624
I'm downloading the file so I can confirm from my end. Looks like it'll take an hour to download...

[2016-03-03 01:47] copumpkin commented on #13628
Sorry :( I've been meaning to get around to backporting this to 15.09 and have just been swamped for ages now. If someone else wants to take this up, I'd really appreciate it.

[2016-03-03 02:10] jerith666 commented on #12847
I don't think it's `XDG_DATA_DIRS`, at least if I'm understanding that correctly.  I didn't know which dir under the evolution-ews store path should be added to that env. var, so I just added all of them, like this:

    export XDG_DATA_DIRS=${XDG_DATA_DIRS}:$(find /nix/store/k4asxzcl0xw5148g97217gvdn0kqfvp3-evolution-ews-3.18.4/ -type d | grep -v /locale | tr '\n' ':')
    evolution

... and stil

[2016-03-03 02:12] jerith666 commented on #12847
In case it helps, the dirs that actually got added to `XDG_DATA_DIRS` are:

[code]

[2016-03-03 03:31] cstrahan commented on #13624
Well, XCode finished downloading, but I run out of memory (despite XCode being 4 gigs, while I have 15.5 free). Maybe I'll cave and set up a swap file, but I'm not feeling that altruistic at the moment.

However, I managed to get XCode into the store by following the "large files" section here: https://nixos.org/wiki/How_to_add_files_to_the_nix-store

@dharaj, as a sanity check, could you run this

[2016-03-03 07:38] CMCDragonkai opened #13633 "Request to update SDDM package to 0.13 from 0.11 (for 15.09)"
The recent updates of 0.12 and 0.13 https://github.com/sddm/sddm/releases add multi monitor support to SDDM.

The current version of SDDM is 0.11 in 15.09.

Currently when running SDDM on multi monitor setup, it doesn't show the login screen on all displays.

[2016-03-03 07:39] CMCDragonkai commented on #13633
See this issue: https://github.com/sddm/sddm/issues/265 and this PR: https://github.com/sddm/sddm/pull/511

[2016-03-03 07:40] CMCDragonkai commented on #13633
I got confused when searching for the package, wish the package search option searched across all channels, or the at least master and current stable.

[2016-03-03 07:45] #13633 closed

[2016-03-03 09:09] 7c6f434c commented on #13452
Actually, I never use them. When I want to open a file, I usually want
to open this specific file (from shell or from Firefox or whatever), and
LibreOffice is just an implementation detail… So LibreOffice gets the
file as a command-line parameter…

[2016-03-03 09:59] vcunat commented on #13629
It's just failing to create (correct new) bootstrap tools. We could make the channel not depend on that in the meantime.

[2016-03-03 10:03] knedlsepp opened #13635 "Login with installed kcachegrind makes kde fail on openSUSE."
## Basic info
- Kernel: Linux  3.16.7-32-desktop #1 SMP PREEMPT Wed Jan 20 14:05:33 UTC 2016 (d4df98a) x86_64 x86_64 x86_64 GNU/Linux
- System: openSUSE 13.2 (Harlequin) (x86_64)
- Nix version: 1.11.1
- Nixpkgs version: "16.03pre76763.be0abb3"
## Problem

I install kcachegrind on openSUSE via `nix-env -i kcachegrind`. The program works properly, but when I log out of the system and log back in, on

[2016-03-03 10:33] vcunat commented on #13629
Aha, localized the problem:
[code]

[2016-03-03 10:41] edolstra commented on #13625
I don't think it's a problem to have a repo with Nix expressions for unfree packages, as long as they don't try to download packages in dubious ways (e.g. use Bittorrent rather than `requireFile`).

[2016-03-03 11:12] mpscholten commented on #12969
@matthewbauer awesome! tried it out locally and seems to work perfect as expected, thanks :) I've just submitted [a pr which adds the package](https://github.com/NixOS/nixpkgs/pull/13636). Could you take a look over it? I guess we still need to wait until the issues you've mentioned are fixed until this can get merged.

[2016-03-03 11:12] #13629 closed

[2016-03-03 11:20] vcunat commented on #13629
However on 16.03 there's a different problem before getting to this one:
[code]

I've got no idea what that's about.

[2016-03-03 11:23] vcunat commented on #13582
Well, the reported qml errors above are pretty standard, I guess. @ttuegel should know how to fix these by wrapping. The issue I'm getting seems more opaque, but perhaps it's a different manifestation of the same.

[2016-03-03 11:51] vcunat commented on #13629
@edolstra: I'm afraid the new patchelf is broken in some way. When I cherry-pick 0.8 -> 0.9 to master, it also starts failing with that bus error.

[2016-03-03 12:12] vcunat commented on #13625
I believe this issue was meant primarily for packages for which sources can *not* be normally downloaded, because the companies will only allow it when you pay.

[2016-03-03 12:17] edolstra commented on #13629
Thanks, I'll check it out.

[2016-03-03 12:40] joachifm commented on #13625
There's also the issue of were to draw the line wrt. proprietary software. A separate repository would serve as of a free-for-all place of sin, limiting the taint of software bondage in the main nixpkgs. A clear policy would also reduce frustration for would-be contributors, I think.

[2016-03-03 12:45] uralbash commented on #7059
I have exactly the same problem (unfortunately not solved yet), here is a discussion on IRC https://botbot.me/freenode/nixos/2016-03-03/?msg=61438031&page=8

[2016-03-03 12:58] edolstra commented on #13629
Fixed in a6d19c28f158722ce650a3a1ede352ee4179cdcf.

[2016-03-03 13:02] obadz commented on #12548
bump

[2016-03-03 13:28] spacefrogg commented on #13625
As the structure of nixpkgs is open, everybody is free to make their own repositories of packages they want to maintain for their own use. Maybe we could add some infrastructure to easily add repositories from the outside to a user's package universe (like layman for gentoo).

In any way, we should not add packages to official repositories that cannot be legally (or morally?) supported.

[2016-03-03 13:33] joachifm commented on #13625
@spacefrogg adding repositories is as easy as adding it to the nixpkgs path, so that part is already supported.

[2016-03-03 13:39] joelmo commented on #13625
Yes I'm mostly interested in having a guideline of what can be accepted in nixpkgs/nixos. oraclejdk was accepted while another was not when the expressions are similar.

Some examples of rules describing what can't be allowed:
- Fetching unfree binaries without using requireFile from file hosts such as dropbox
- Using sources only targeted for unsupported platforms (Windows?)

And some obvious:
-

[2016-03-03 14:03] vcunat commented on #13625
IMHO Oracle's JDK/JRE is an exception because it is relatively popular. Or it used to be, at least; it's possible we already do have good-enough alternatives for its most common use cases.

[2016-03-03 14:05] vcunat commented on #13625
BTW, note that some packages do work on windows, both native cygwin and cross-compiled mingw, although it's not too well maintained ATM.

[2016-03-03 14:17] peti commented on #12962
I can reproduce this error on NixOS running `master` at 1b1379a68d0abc60b61c751417dce516866247a3. Check this out:

[code]
Actions
 <lambda> nil
 p magit-get-push-branch
 u magit-get-upstream-branch
 e elsewhere

Common Commands
 C-c C-c Set defaults       C-h i View popup manual    C-t Toggle this section
 C-x C-s Save defaults      ?     Popup help prefix    C-g Abort
[code]

[2016-03-03 14:22] #8543 closed

[2016-03-03 14:23] domenkozar commented on #8543
Fixed

[2016-03-03 14:45] matthewbauer commented on #13625
also see #10213 for another issue

libfmodex requires you to be logged in to download unfree binaries.

[2016-03-03 14:58] zimbatm commented on #13625
Actually... bittorrent downloads would be more stable in regards to the hash ^_^

[2016-03-03 15:14] joachifm commented on #13625
I propose that the people who want/need proprietary software get together and create a fork for that purpose. Announce it on the ML or something, provide simple step-by-step instructions for end-users.I don't think it needs to be managed by or endorsed by the NixOS org, as long as it is known in the community.

[2016-03-03 15:17] skrzyp commented on #13625
Steam is also the good example of "unftree but popular" so guidelines must be written with special care.

[2016-03-03 15:27] nrolland commented on #8247
@layus thank you it's really helpful to have a birdeye view to make sense of it..

[2016-03-03 15:52] Baughn commented on #7329
This also bites me for units manually written into $USER/.config/systemd.

I really think that user units should inherit the default environment.

[2016-03-03 15:57] vcunat commented on #13625
Note that purging *all/most* unfree SW from nixpkgs would be a major change, as there's some rather popular stuff, firmware and drivers (e.g. flash, nvidia, skype). Unfree packages are hidden by default and not built by Hydra, but they *are* there and they're easy to enable. IMHO that's a good compromise.

Then there are stronger kinds of restrictions that are less common and make life harder:
- N

[2016-03-03 16:02] domenkozar opened #13648 "replaceDependency should be recursive"
According to http://linux.slashdot.org/story/16/03/03/0435200/guix-gets-grafts-timely-delivery-of-security-updates, Guix uses a port of `replaceDependency`. They say it doesn't work recursively. We better check if that's the case also in Nix.

cc @shlevy @edolstra

Fix for Guix: http://git.savannah.gnu.org/cgit/guix.git/commit/?id=c22a1324e64d6906be5e9a8e64b8716ad763434a

[2016-03-03 16:08] ttuegel commented on #12962
@peti Can you confirm that you are using exactly the same version of magit installed from `emacsPackagesNg.melpaPackages` and MELPA directly? It's possible this is some upstream bug.

[2016-03-03 16:10] ttuegel commented on #13582
Stellarium should use `qt5.callPackage` rather than depending on `qt5Full`. All executables should be wrapped with `wrapQtProgram` from `makeQtWrapper`.

[2016-03-03 16:47] zimbatm commented on #13625
The tricky bit is going to be to be able to depend on a stable nixpkgs. Moving two repos at the same time is going to be a lot of work IMO.

[2016-03-03 16:57] viric commented on #13452
@7c6f434c oh, I'm interested in your boot sequence. Is it public?

[2016-03-03 17:26] skrzyp opened #13651 "Libreoffice depends on kdelibs by default."
I think it's a bit too intrusive dependency for people who doesn't use KDE (I use XFCE, for example) and they don't want whole `kdelibs` (which also pulls a long tail of dependencies into my environment) just for so called "KDE integration" in Libreoffice which is actually useless here.

But it might be good to implement something like this into `libreoffice` or any other package expression which

[2016-03-03 17:54] shlevy commented on #13648
I'm not sure what you mean by "recursively" here.

[2016-03-03 17:58] Baughn opened #13653 "(ZSH?) JAVA_HOME isn't set correctly when installed to the system profile"
## Basic info

To make sure that we are on the same page:
- Kernel: Linux madoka.brage.info 4.4.2 #1-NixOS SMP Wed Feb 17 20:31:25 UTC 2016 x86_64 GNU/Linux
- System: 16.03pre77568.40c586b (Emu)
- Nix version: nix-env (Nix) 1.11.2
- Nixpkgs version: "16.03pre77568.40c586b"
## Describe your issue here

environment.systemPackages includes openjdk. However, the JAVA_HOME environment variable is not s

[2016-03-03 17:59] domenkozar commented on #13648
If vulnerability is in openssl, and it's reverse dependencies are replaced, is Package B that depends on A that depends on openssl also replaced?

[2016-03-03 18:02] 7c6f434c commented on #13452
Yes, https://github.com/7c6f434c/7c6f434c-configurations/blob/master/initrd-to-read-boot/pseudo-system.nix

(how to go completely off topic in an issue discussion in three
comments)

[2016-03-03 18:06] shlevy commented on #13648
Yes.

[2016-03-03 18:08] 7c6f434c commented on #13651
Well, technically you could build things from NixPkgs independently on
how (and whether) you use NixOS. It is possible to add an option as an
extra argument, though.

On the other hand, this would mean that Hydra would need to build
2 versions of LibreOffice. @edolstra, is it a good idea?

Is there anyone actually using the KDE integration, by the way?

[2016-03-03 18:16] skrzyp commented on #13452
@7c6f434c what.

[2016-03-03 18:21] nrolland commented on #13132
discoverability is very welcome. when options abound, that's really a necessity to see all the settings , even the ones not mentioned, alongside the ones which have some specified overriden values

[2016-03-03 18:22] 7c6f434c commented on #13452
@skrzyp As I said, my comment was completely offtopic — I was just answering @viric 's question.

[2016-03-03 18:28] Profpatsch commented on #13651
That should do the trick: https://gist.github.com/Profpatsch/92342764dc3c3d667ec1

[2016-03-03 18:31] skrzyp commented on #13452
@7c6f434c I know, but it was about that linked .nix file. Seriously, what the hell is happening there? :o

[2016-03-03 18:34] edolstra commented on #13651
IIRC, the "KDE integration" consists mainly in providing a Qt/KDE "File open" dialog, which we can probably live without. In fact, it has been known to malfunction if Libreoffice's KDE version is different from the system KDE version.

So disabling this sounds like a good idea.

[2016-03-03 18:45] edolstra commented on #13132
I'm considering something like this for the new Nix UI, see https://gist.github.com/edolstra/efcadfd240c2d8906348 (`nix query-options`).

[2016-03-03 18:50] Baughn commented on #13653
This is quite likely to be an ZSH issue. The exact same (simple) script fails if I use -i zsh, whereas it works with -i bash.

[2016-03-03 18:50] 7c6f434c commented on #13452
@skrzyp It just builds what I use as `/run/current-system/` Puts daemon launcher scripts in their places, does setuid wrapping etc.

[2016-03-03 18:52] abbradar commented on #13132
Nice! FWIW I spent some time trying to do this. My idea was to extract needed variables from a closure of `override` function (from `makeOverridable`). Alas, I haven't found a way in Nix API to find a specific variable by its name in closure -- it seems that names are tossed away during parsing and replaced by pointer into the context-global symbol table, into which I cannot peek. That said, I spe

[2016-03-03 18:53] skrzyp commented on #13452
I'll love some detailed paper about this, of course if you want to spare time for that.

[2016-03-03 19:01] 7c6f434c commented on #13452
I'd love to have some time to clean it up and actually make
configurable…

And currently there is precisely nothing to write a paper about: this is
all trivial if you have read any of the GNU/Linux boot step-by-step
walkthroughs (and the Nix manual).

Splitting it and making it configurable not in the NixOS module style,
but in the NixPkgs style may be interesting, but requires some effort.

[2016-03-03 20:05] jagajaga commented on #6991
ping :)

[2016-03-03 20:44] thall opened #13658 "nvidiaLegacy340 broken"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)
Linux thall 4.1.17 #1-NixOS SMP Sun Jan 31 19:23:48 UTC 2016 x86_64 GNU/Linux

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
16.03pre76756.885acea (Emu)

* Nix version: (run `nix-env --version`)
nix-env (Nix) 1.11.1

* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nix

[2016-03-03 21:42] vcunat commented on #13658
With kernel 4.0.x and earlier it probably works. I assume updating to 340.96 should solve this. They even claim to support xorg-server-1.18. Would you test with *running* this patch? e78f5a9 I just tested building against 4.4.x which is the default kernel now.

[2016-03-03 21:48] cstrahan commented on #13624
@dharaj Wow, that's pretty funky.

@edolstra Any idea how @dharaj can troubleshoot this?

[2016-03-03 23:08] mdorman commented on #12962
Just an off-the-wall suggestion---could this be a version mismatch?  That is, could he be picking up the melpa version of magit, but the emacs-packages version of one of its subpackages?

@peti, if you `M-x package-list-packages`, do all the magit-related packages seem to have consistent versions?

[2016-03-03 23:10] NeQuissimus commented on #13608
I have a `command_not_found_handler` but my shell does not seem to run it(?)

This is what happens for me:

[code]

[2016-03-03 23:21] NeQuissimus commented on #13608
What fills this `programs.sqlite`?
I simply have no entry for `sox`, when I look into it.

[code]

[2016-03-03 23:23] puffnfresh commented on #13608
@NeQuissimus interesting, mine is populated:

[code]

[2016-03-03 23:26] puffnfresh commented on #13608
The `programs.sqlite` comes from the NixOS channel:

[code]

[2016-03-03 23:29] NeQuissimus commented on #13608
So now the difference is that @fare and I are on 16.03, you are using 15.09.

[code]

`sox` does exist when I search for it with `nix-env -qaP sox`.

[2016-03-03 23:30] puffnfresh commented on #13608
I just did an update on the channel and now I don't have a `programs.sqlite`. Looks like this was recently broken.

[2016-03-03 23:35] NeQuissimus commented on #13608
[code]

Not sure whom to ping for this for more insight... @edolstra ?

[2016-03-04 00:11] Profpatsch commented on #13602
Will we keep the bot that looks up blame information and cc’s the responsible users then? I like having everyone interested in cc, but I’m afraid of creating too much noise in general.
Maybe keep both active until too many people complain?

Another thing I loathe about the current system is that there is sometimes no connection between mail address, IRC user name and Github user name.
That bugs me

[2016-03-04 00:23] Profpatsch commented on #7134
(triage) @domenkozar is that solved yet?

[2016-03-04 00:23] Profpatsch commented on #4343
(triage) @Havvy still a problem?

[2016-03-04 00:44] Profpatsch commented on #11632
(triage) @benley @cresh do you still see that bug on a current master?

[2016-03-04 00:44] Profpatsch commented on #5199
(triage) Have these problems been solved since you opened this issue?

[2016-03-04 01:04] nico202 opened #13662 "zita-resampler: compilation not deterministic"
Hi @magnetophon,
I tried rebuilding zita-resampler with nix-build --check -A zita-resampler and I got
` error: derivation '...' may not be deterministic: output '...' differs`

I tried recompiling because both guitarix and drumgizmo (depending both on zita-resampler) are crashing on one of my systems (because of this: https://bugs.archlinux.org/task/36248) (`Illegal instruction`. I fear zita resam

[2016-03-04 01:04] Baughn commented on #13653
Nope. Not an ZSH issue. I'm not sure why I got the behaviour above earlier, but now I can't reproduce it.

[2016-03-04 01:18] nico202 commented on #13662
I can confirm that rebuilding zita-resampler and rebuilding then fixed guitarix fixed it.
Is the `CXXFLAGS += -march=native` Makefile line the "problem"?

[2016-03-04 01:28] joachifm commented on #13662
`march=native` should be removed, for sure.

[2016-03-04 03:39] copumpkin opened #13663 "Host OpenJDK bootstrap somewhere more official than a random dropbox"
## Describe your issue here

If you check https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/compilers/openjdk/bootstrap.nix#L11, you'll see that it's hosted on a dropbox, presumably @wkennington's. It would be nice if we could host those on tarballs.nixos.org and have a trusted process build them.
### Expected result

A tarballs.nixos.org URL
### Actual result

A dropbox.com URL
### St

[2016-03-04 05:47] bendlas opened #13665 "chromium stable update (48 -> 49)"
Chromium stable has just been released as `49.0.2623.75`, with 26 security fixes: http://googlechromereleases.blogspot.co.at/2016/03/stable-channel-update.html

Sorry to bump this, just as we got `48.0.2564.116`, but as a matter of security, we really need to track chromium stable. I just built it, and it works fine on x86_64. Currently, the updater doesn't see binary plugins, but that might be du

[2016-03-04 05:57] dezgeg commented on #13663
Same for the ARM bootstrap tarballs.

[2016-03-04 06:55] 7c6f434c commented on #13602
You may want to run my vanity counter from maintainers/scripts and use
its output (it does deduplication, so it tries to match names, emails
and GitHub usernames even when a person varies the name spelling or
changes the email while keeping the name spelling the same). The commit
counts would be a useless side effect for you.

[2016-03-04 07:05] cresh commented on #11632
@Profpatsch No, I don't see that currently.

[2016-03-04 07:39] vcunat commented on #13602
lib/maintainers.nix explicitly states that the maintainer identifier should be equal to github username (I pushed that quite a long time ago). It even seems that new maintainers do follow it.

[2016-03-04 07:56] cstrahan commented on #13628
@copumpkin The user-data stuff should be available in the next release, right?

[2016-03-04 09:32] edolstra commented on #13608
`programs.sqlite` generation is currently disabled, see https://github.com/NixOS/nixos-channel-scripts/issues/4.

[2016-03-04 10:13] alex-glv opened #13670 "Developing golang in nix. Advise needed"
I have gone through this guide: http://lethalman.blogspot.nl/2015/02/developing-in-golang-with-nix-package.html
Things mostly make sense, but I have no clue how to test my code. Especially, if I have subpackages. nix-build throws "src not set", so should I resort to running "go build" to run my app?
Second, if I define subPackages with my "innerpkg", running nix-build throws "can't load package: p

[2016-03-04 10:57] domenkozar commented on #7134
Nope.

[2016-03-04 10:58] lethalman commented on #12847
@jerith666 I wasn't clear enough. I think evolution only uses the build-time directory to lookup for modules, which would be /nix/store/kxs9f1gj4ybvcmjjnxy5fswvk8dbchkg-evolution-3.18.4/lib/evolution/modules .
You should check the sources to understand whether this is the case, or do some strace.

If that's the case, I think evolution should be patched with a list of directories being provided at

[2016-03-04 13:19] Profpatsch commented on #11632
@peti I think we can close then.

[2016-03-04 14:03] spacefrogg commented on #13625
I am with @vcunat on 1. and 3.
For 2. I propose to use 3. (an 'official' way to plug repos together) and make non-official but public repositories discoverable by machine. The paludis package manager from exherbo has a special repository-containing type of repository. This way a user can 'install'/'remove'/'manage'/'query' all sorts of repositories on her own. The paludis people go as far as they

[2016-03-04 14:09] paul-e-cooley commented on #13628
We are trying to switch from Amazon Linux AMI's to NixOS and move our entire company that way. But I either need new AMIs with the fix, or detailed instructions on how to make it happen myself. I've tried backporting onto the existing 15.09 AMIs, but to no avail. So if there's way to make that happen, I could get past this issues that I've been stuck on for two months.

[2016-03-04 14:35] vcunat commented on #13625
Creating and using (private) repositories depending on nixpkgs is easy and often used, IMHO. You just `import <nixpkgs>` and use it or transform in any way you like. The nix language is well-equipped for such things. Then it's enough to add multiple channels or extend your NIX_PATH by extra URLs.

We could go and decentralize the purged packages, i.e. only maintain a list of extra repositories tha

[2016-03-04 14:58] 7c6f434c commented on #13625
I think it could be a good idea to have a recommended way of structuring
a set of repos that all depend on nixpkgs and sometimes also on each
other (maybe even with circular repository dependencies).

Actually, this could later be useful if we actually decide to split
nixpkgs…

[2016-03-04 15:03] spacefrogg commented on #13625
I know, but just by your description I see, that this approach does not follow the same declarative mechanisms, it is not used from 'inside' nix. E.g. `nix-env` does not 'see' this, I cannot search for packages from foreign repositories. It is not part of the system configuration that I save in /etc/nixos/* files but magic environment variables. Currently this is a bunch of possibilities and open

[2016-03-04 15:04] bendlas commented on #13573
I disabled `doCheck` for emacs25pre, for now, on my system. I hope this will be resolved upstream before next release ...

[2016-03-04 15:06] #13651 closed

[2016-03-04 15:14] joachifm commented on #13625
@spacefrogg installing a repo is just `git clone`, search is `git grep`, update is `git pull`, using a specific repo is `nix-env -f /path/to/repo`. Sure the UI could be improved, but I think you're making this more complicated than is necessary. There really are no technical impediments to what we're talking about here, as far as I'm aware.

[2016-03-04 15:39] bendlas commented on #13653
Ha! I've got `jdk` on my `systemPackages`, but my `$JAVA_HOME` is __not__ set, neither in `zsh` nor in `bash`.
With `nix-shell -p jdk`, it __is__ set. I didn't even know about that hook. How is it not present for `systemPackages`?

[2016-03-04 16:06] mpscholten commented on #12969
This got implemented with #13636.

[2016-03-04 16:06] #12969 closed

[2016-03-04 16:13] Baughn commented on #13653
@bendlas Good question! :)

I've got a temporary fix in the PR referenced above, but if you're comfortable enough with applying that locally then you can probably just use nix-shell until it's fixed properly. Whatever "properly" turns out to mean.

[2016-03-04 19:08] sleexyz commented on #13594
What's a workaround for the time being?

[2016-03-04 19:11] thall commented on #13658
hmm i'm not able to checkout e78f5a9 from upstream, not sure why im not able to do it :/

[2016-03-04 20:05] jagajaga commented on #8318
Ping all.

[2016-03-04 20:05] jagajaga commented on #8583
Ping

[2016-03-04 20:05] jagajaga commented on #9755
PIng.

[2016-03-04 20:15] khumba commented on #9755
Nothing new right now; I wiped my laptop and haven't finished getting my NixOS environment set up again but I want to see if this is still an issue for me on the 16.03 branch.  I'll finish that up and let you know.

[2016-03-04 20:16] jagajaga commented on #9755
@khumba thank you!

[2016-03-04 20:26] jagajaga commented on #12931
I've just built it myself from master branch and It worked for me... Can you post any more information?

[2016-03-04 21:48] peti commented on #12962
@mdorman, yes, I believe the installation *is* inconsistent. Nix installs magit 20160219.1702, but magit-popup 2.3.1. These two versions don't fit.

[2016-03-04 21:52] peti commented on #12962
@ttuegel, it strikes me as highly unlikely that this is an upstream bug since I have consistently managed to install magit fine with ELPA for the last 4 weeks, while the Nix installed version is consistently broken on all machines I try.

[2016-03-04 22:08] peti commented on #13582
I couldn't test the new version because I don't access to a NixOS machine right now. Please let me know if the issue persists.

[2016-03-04 23:32] cleverca22 commented on #13582
http://nixpaste.lbr.uno/VPNGH-KW?nix
http://nixpaste.lbr.uno/xN65cLUL?nix
still crashes on nixos-unstable (when building the new version from master)

[2016-03-04 23:33] heydojo commented on #13670
Please use IRC or the mailing list if you have questions or need help.
The issue tracker here on github is for bug reports.
It is a little unclear if you are reporting a bug here.

[2016-03-04 23:34] edwtjo commented on #13658
@vcunat confirmed

[2016-03-05 01:07] globin commented on #13670
IMHO questions like this are valid, too, as they might point us to missing documentation :)

[2016-03-05 02:18] aszlig commented on #13665
Added a Hydra jobset for building/testing the updates: https://headcounter.org/hydra/eval/311459

[2016-03-05 02:18] aszlig commented on #13665
Will get to sleep and check back in a few hours.

[2016-03-05 05:36] khumba commented on #9755
Still the same problem on release-16.03, 89d9159.

[2016-03-05 05:43] #9848 closed

[2016-03-05 05:56] daljeetv opened #13684 "CMakeFiles/freeglut.dir/build.make:62: recipe for target 'CMakeFiles/freeglut.dir/src/fg_callbacks.c.o' failed"
## Basic info

To make sure that we are on the same page:
- Kernel: Darwin Daljeets-MacBook-Air.local 14.5.0 Darwin Kernel Version 14.5.0: Wed Jul 29 02:26:53 PDT 2015; root:xnu-2782.40.9~1/RELEASE_X86_64 x86_64
- Nix version: nix-env (Nix) 1.11.2
## Describe your issue here

I'm unsure, but possible issue/solution:
http://stackoverflow.com/questions/23031740/how-to-use-opengl-with-gcc-on-mac
###

[2016-03-05 06:14] daljeetv commented on #13684
### You can also recreate by
::
nix-shell -p pythonPackages.pyopengl

[2016-03-05 09:07] thall commented on #13658
@vcunat tested it now, can confirm it works.

[2016-03-05 09:11] thall commented on #13658
@vcunat just tested your patch, can confirm it works.

[2016-03-05 09:28] alex-glv commented on #13670
Maybe add a new tag: "documentation updates" or "discussion"?
I think having IRC guidance doesn't benefit much anyone but the one who asks for help on IRC.

[2016-03-05 09:53] abbradar opened #13686 "Documentation is misleading w.r.t. `propagatedBuildInputs`"
See https://github.com/NixOS/nixpkgs/pull/13667#issuecomment-192610597. We need to explain what `propagatedBuildInputs` really does, and when should we use `makeWrapper`.

[2016-03-05 09:57] dezgeg commented on #13042
I rebased my work on Eelco's binutils-2.26 branch and now I was able to build `hello`: https://github.com/dezgeg/nixpkgs/tree/pr-bootstrap-tools-cross. Still needs a lots of cleanup from all the hacks.

[2016-03-05 10:55] mdorman commented on #12962
@peti So clearly you're getting the melpa magit, but the magit-popup out of pkgs/applications/editors/emacs-modes/magit/default.nix.

My first solution to this problem was to simply go nuts with creating a package set that pinned the packages I wanted plus their dependencies to the repos I wanted them from.  That did start to get tedious to manage---but it had been tedious to manage within emacs i

[2016-03-05 12:37] edwtjo commented on #13653
Just to clarify, when you use `nix-shell -p` the packages gets added to your shell dependencies and their respective setup-hooks are introduced into the environment. When they are aggregated into a profile they are not dependencies of your shell. I'm not convinced that it is a good idea to introduce the setup-hook when added to a profile but I also don't think that your issue is unreasonable.

[2016-03-05 12:49] Baughn commented on #13653
I'll take that up on the mailing list.

The issue is, though, that if JAVA_HOME isn't set then a lot of Java applications just won't work... And every other distribution does set the variable by default, so we should too.

I'm not sure how to deal with upgrades. Possibly it'll need another symlink in /run. Anyway, mailing list...

[2016-03-05 13:37] Profpatsch commented on #1085
(triage) @domenkozar do you still want to fix thi?

[2016-03-05 14:53] steveeJ commented on #12931
Sure, whatever you need. I'm using a customized neovim, is that relevant?

[2016-03-05 14:56] jagajaga commented on #12931
Yes, please send it here.

--
Sincerely,
Arseniy Seroka

On 5 March 2016 17:53:12 Stefan Junker <notifications@github.com> wrote:

[2016-03-05 14:59] #13594 closed

[2016-03-05 15:10] seagreen commented on #13044
This commit fixed the problem: https://github.com/NixOS/nixpkgs/commit/d2d0f19b57e4a7abb9d88556f04a526473404aaf

[2016-03-05 15:10] #13044 closed

[2016-03-05 15:30] Profpatsch commented on #1357
(triage) @vcunat Probably not broken anymore, right?

[2016-03-05 15:30] Profpatsch commented on #2145
(triage) still an issue?

[2016-03-05 15:30] Profpatsch commented on #1579
(triage) To we already have that?

[2016-03-05 15:31] Profpatsch commented on #1748
(triage) @PkmX still an issue?

[2016-03-05 15:39] Profpatsch commented on #899
It shrunk down to 400M, so it’s probably okay now‽ @domenkozar

[2016-03-05 15:40] Profpatsch commented on #2612
(triage) gone?

[2016-03-05 15:41] Profpatsch commented on #2590
(triage) still happens?

[2016-03-05 15:41] Profpatsch commented on #2386
(triage) status of this?

[2016-03-05 15:42] Profpatsch commented on #2385
Works, you can do `container.<name>.config =` now. close cc @jagajaga

[2016-03-05 15:43] Profpatsch commented on #2310
(triage) what’s the status?

[2016-03-05 15:43] Profpatsch commented on #2251
(triage) Is that still an issue?

[2016-03-05 15:44] Profpatsch commented on #2126
(triage) still an issue?

[2016-03-05 15:48] Profpatsch commented on #3140
@cstrahan can you reproduce this with a recent `nixpkgs/nixos`?

[2016-03-05 15:50] Profpatsch commented on #2559
(triage) what’s the status?

[2016-03-05 16:56] #2385 closed

[2016-03-05 17:04] Profpatsch commented on #3033
(triage) @third3ye Is this still a problem?

[2016-03-05 17:07] Profpatsch commented on #2814
Close?

[2016-03-05 17:08] Profpatsch commented on #2964
(triage) Can you reproduce this on a recent system?

[2016-03-05 17:34] Profpatsch commented on #1593
There is an error generated now. close @7c6f434c

[2016-03-05 17:37] #1593 closed

[2016-03-05 17:37] Profpatsch commented on #2830
(triage) Is that still a problem?

[2016-03-05 17:38] Profpatsch commented on #2824
(triage) @pjotrp Can you check if that still happens?

[2016-03-05 17:39] Profpatsch commented on #2665
Can be closed @jagajaga

[2016-03-05 17:39] Profpatsch commented on #2664
No action items @jagajaga

[2016-03-05 17:40] #2665 closed

[2016-03-05 17:40] Profpatsch commented on #2641
(triage) Since container implementations have changed quite a bit, can you verify that again @lethalman?

[2016-03-05 17:44] Profpatsch commented on #4014
(triage) looks fixed

[2016-03-05 17:44] Profpatsch commented on #4004
@domenkozar is this fixed?

[2016-03-05 17:45] Profpatsch commented on #4336
(triage) @roconnor Do you still want to follow up on this?

[2016-03-05 17:48] a1russell commented on #13134
I haven't tried it again on my 15.09 system (where I know I had the problem), but I want to report that on my "unstable"-channel system, installing `shared_mime_info` as a system package does populate `/run/current-system/sw/share/mime/`.

Even still, this seems odd to me, since this package should be a dependency of Thunar, which I have installed. Dependencies shouldn't have to be explicitly inst

[2016-03-05 17:55] Profpatsch commented on #2918
(triage) @bjornfor is it fixed now? Or is it not relevant to you anymore?

[2016-03-05 17:55] gitfoxi commented on #13042
@dezgeg Would you be able to make a regular bootstrap-tools? I still haven't made it to that level.

[2016-03-05 17:59] dezgeg commented on #13042
What do you mean by "regular" bootstrap-tools?

[2016-03-05 18:01] gitfoxi commented on #13042
I mean non-cross bootstrap-tools. I'm trying to build nixpkgs on an aarch64 server natively using stdenv-linux.

[2016-03-05 18:02] steveeJ commented on #12931
https://github.com/steveeJ/nix-expressions/blob/5848f88/configuration/common/pkg/neovim.nix

[2016-03-05 18:08] dezgeg commented on #13042
What's the benefit of building that? The result functions in exactly the same way as the cross-built bootstrap tools except it has a downside of not being buildable in Hydra.

[2016-03-05 18:11] joelmo commented on #13686
All library functions should be documented. Not only what they do but how they are allowed to be used in nixpkgs. Just found that the toplevel attr clang is a wrapper and therefore the include paths isn't availible when a package includes just clang, so one then needs to call llvmPackages.clang-unwrapped. I think that should be the other way around for non-applications like clang.

[2016-03-05 18:13] gitfoxi commented on #13042
I see. I didn't understand that. I thought it was bootstrap tools that run on amd64 and build aarch64. Thank you and I will definitely try it out.

Eventually I may try to setup an aarch64 hydra. 96-cores makes for one heck of a build machine.

[2016-03-05 18:14] jagajaga commented on #12931
I suppose that's because of override function.. So let's apply your commit to avoid that in future.

[2016-03-05 18:15] #2664 closed

[2016-03-05 18:17] jagajaga commented on #11406
cc @copumpkin @vcunat

[2016-03-05 18:17] #7408 closed

[2016-03-05 18:18] Profpatsch commented on #3633
I suggest we close this until someone steps up and provides a good minimal working design implementation. @domenkozar

[2016-03-05 18:18] jagajaga commented on #7425
Fixed? cc @Mathnerd314

[2016-03-05 18:19] Profpatsch commented on #4504
@peti Maybe this has been fixed already?

[2016-03-05 18:20] jagajaga commented on #9755
That's too sad :(

[2016-03-05 18:24] Profpatsch commented on #4398
Can be closed @jagajaga

[2016-03-05 18:25] Profpatsch commented on #4451
(triage) @vandenoever Can you still reproduce that?

[2016-03-05 18:25] #4398 closed

[2016-03-05 18:29] Profpatsch commented on #4311
Can probably be closed @jagajaga

@romildo if you haven’t given up in the meantime, maybe we can help you still.

[2016-03-05 18:31] Profpatsch commented on #5049
Close @jagajaga

[2016-03-05 18:31] Profpatsch commented on #5049
Close @jagajaga

[2016-03-05 18:32] Profpatsch commented on #4662
Vim support has been improved afaik. Is it ok now, @vcunat?

[2016-03-05 18:42] bjornfor commented on #2918
Yes, still relevant, but low priority. And my PC with SPDIF died a couple days ago, so I cannot test it at the moment.

[2016-03-05 18:45] #5049 closed

[2016-03-05 18:46] jagajaga commented on #4311
ping @romildo

[2016-03-05 19:05] Mathnerd314 commented on #7425
No, #9312 is still unmerged.

[2016-03-05 19:23] domenkozar commented on #899
yup!

[2016-03-05 19:23] #899 closed

[2016-03-05 19:49] adevore commented on #13207
Note that the "Docker on NixOS" section should use users.extraUsers.<user>.extraGroups, not gpasswd.

[2016-03-05 20:12] romildo commented on #4311
As I stayed away from NixOS for some time, I do not remember the details of the issues anymore. I will close for now. In case this issue comes in again, I may reopen it.

[2016-03-05 20:31] jgillich commented on #2918
I've had this issue for years on various distros like Fedora. Should probably be reported in upstream instead.

[2016-03-05 21:19] #13658 closed

[2016-03-05 21:24] vcunat commented on #1357
Probably still the same, but I'm not certain. I think people mostly use relatively consistent systems, so such problems aren't common.

Two years from this and we still don't have a good plugin system that would solve this kind of stuff comfortably. There's been too many other things that I considered a higher priority...

[2016-03-05 21:38] vcunat commented on #11406
Well, that command currently outputs suggestions of type `nix-env -iA nixos.foo`, so I assume that's why it's only generated on the "nixos" channels. Note that darwin might have a nontrivially different set of executable names, so it should probably get a separate database file.

BTW, @edolstra seems to have rewritten the script in the meantime. I know rather little about these personally.

[2016-03-05 21:40] vcunat commented on #4662
It's perhaps pointless to keep this open anymore (was so since November'14).

[2016-03-05 21:40] #4662 closed

[2016-03-05 21:54] #13665 closed

[2016-03-05 22:00] steveeJ commented on #12931
This shouldn't be closed yet because the commit hasn't landed

[2016-03-05 22:16] dezgeg commented on #13635
Summoning @ttuegel.

[2016-03-05 22:23] dezgeg commented on #12816
e6f61b4cf33887a9231a12e8c766404139a277d8 is in master now which sounds like solves the https bootstrap problem - anything else left here?

[2016-03-05 22:27] fpletz commented on #2814
I have never seen this even though I'm using the nonfree firmware. This shouldn't be a problem anymore.

[2016-03-05 22:27] #2814 closed

[2016-03-05 22:42] dezgeg commented on #5899
Seems like `allowUnfreePredicate` is documented now, so nothing left to do here.

[2016-03-05 22:42] #5899 closed

[2016-03-05 22:49] dezgeg commented on #3891
Quite unlikely as it got removed in 6bd0c3fe9de1572f06ae0b44b6f0c96318246bd1 :P.

[2016-03-05 22:49] #3891 closed

[2016-03-05 23:01] ttuegel commented on #13635
I am the KDE 5 maintainer, but kcachegrind is a KDE 4 package. There is no global KDE 4 maintainer and AFAIK there is no maintainer for kcachegrind in particular.

[2016-03-05 23:03] dezgeg commented on #7136
Seems like we have it now that #8683 was merged.

[2016-03-05 23:03] #7136 closed

[2016-03-05 23:04] Profpatsch commented on #4990
@wmertens can that be done by checking if the option is set to true for the file system with the longest substring of the password file? Or are there other things to consider? Probably have to normalize the file paths first.

[2016-03-05 23:05] Profpatsch commented on #4966
(triage) Has this improved in the meantime?

[2016-03-05 23:06] Profpatsch commented on #4972
(triage) Has this been fixed?

[2016-03-05 23:18] globin commented on #13559
ceph is fixed

[2016-03-05 23:41] Profpatsch commented on #4911
(triage) Hasn’t been fixed. Should we just update the option to say what the manpage says? I’m not sure if the config really points to `GRUB_BACKGROUND`, I haven’t found traces of that. I think it quite literally compiles to an xml-tag `<splashImage>`.

[2016-03-05 23:42] Profpatsch commented on #4748
(triage) @lethalman What’s the status?

[2016-03-05 23:59] Profpatsch commented on #3132
(triage) @Fuuzetsu Did you look into it? I personally think it is okay to document `loadkeys`.

[2016-03-06 00:01] Profpatsch commented on #1745
Seems to be fixed. Close? @domenkozar

[2016-03-06 00:02] Profpatsch commented on #1963
(triage) @abbradar Can you check whether this still happens?

[2016-03-06 00:02] Profpatsch commented on #1737
Okay, this is out of date. Close @jagajaga

[2016-03-06 00:04] Profpatsch commented on #1988
(triage) I think this has been working for a rather long time now, right @domenkozar?

[2016-03-06 00:05] Profpatsch commented on #1871
(triage) has this been fixed?

[2016-03-06 00:05] Profpatsch commented on #2852
Probably not happening any more. I suggest to close @domenkozar

[2016-03-06 00:13] Profpatsch commented on #4045
This one is interesting. There are maybe two dozen uses of that function, but it would be nice to change it. Maybe I’ll look into it tomorrow. Always happy to trigger a mass rebuild. :P

[2016-03-06 00:13] Profpatsch commented on #5298
(triage) @wizeman can you still reproduce that?

[2016-03-06 00:16] Profpatsch commented on #5227
(triage) @offlinehacker What needs to be done to fix this?

[2016-03-06 00:17] Profpatsch commented on #5206
(triage) @hesselink Do you still plan to create that PR? Or has it been fixed already?

[2016-03-06 00:18] Profpatsch commented on #5053
(triage) @vcunat @lethalman This is probably fixed by now, right?

[2016-03-06 00:22] Profpatsch commented on #1858
(triage) I think it is quite crucial that this issue be resolved asap. Can we put this on the agenda again?