[2016-03-06 00:25] Profpatsch commented on #5155
Do you think it is okay to include that? `gutenprint` is quite a big package.
How about changing the example to `[ pkgs.sqlix pkgs.gutenprint ]` so users (who are probably familiar with the name immediately recognize it and also find it with a general search?

[2016-03-06 00:25] Profpatsch commented on #5127
(triage) @atanasi Can you still reproduce that?

[2016-03-06 00:27] Profpatsch commented on #5051
(triage) @lethalman can you still reproduce this?

[2016-03-06 00:27] Profpatsch commented on #5089
(triage) @eduarrrd Have you been able to resolve the problem in the meantime?

[2016-03-06 00:35] cleverca22 commented on #3958
ive also run into this issue once, its just a cache of what is on the cache, so the simplest thing is to auto-delete the database and retry

[2016-03-06 00:43] #1737 closed

[2016-03-06 00:44] #1745 closed

[2016-03-06 02:12] abbradar commented on #1963
At least for `crawl` it works now; I'm not sure if it's fixed or something in `crawl` has changed.

[2016-03-06 04:26] kevincox opened #13703 "Spark Hash Failing"
The spark hash on master doesn't match the binary at the URL.

[code]

cc: @mboes @samuelrivas

[2016-03-06 07:32] phunehehe opened #13707 "Archiveopteryx has hard coded runtime directories pointing to the Nix store"
## Basic info

To make sure that we are on the same page:

* Kernel: 3.16.0-62-generic
* System: Ubuntu 14.04.4 LTS
* Nix version: 1.11.2
* Nixpkgs version: 014a30d (nixpkgs-unstable)

## Describe your issue here

While the main process `archiveopteryx` accepts a flag to use an alternate config file, the utility `aox` can only use a compile-time option CONFIGDIR.

PIDFILEDIR has a similar issue, e

[2016-03-06 07:45] Profpatsch commented on #1963
Then we should close this until it happens again. @jagajaga

[2016-03-06 07:46] #1963 closed

[2016-03-06 08:03] Profpatsch commented on #3191
While using an “official” way to do declarative users would be nice, I believe our current scripts are quite mature by now.

Are there any good arguments for switching? My impressions are:
* It seems to be a quite small feature in systemd, how bug-free is it really?
* The manpage for `sysusers.d` doesn’t exist on my system
* Yet another thing that depends on systemd

@Mathnerd314, do you want to i

[2016-03-06 08:04] Profpatsch commented on #3530
(triage) @sheijk can you try again with a recent system?

[2016-03-06 08:26] Profpatsch commented on #3466
@Fuuzetsu you can aways patch the packages if something bothers you, you know. :)

pa-support in fluidsynth has been optional for quite some time (except on darwin).
There is even a nixpkgs option, `pulseaudioSupport` that can be set in the config file.

[2016-03-06 08:32] vcunat commented on #1579
We don't, but x32 doesn't seem really worth the effort in this general-purpose nixpkgs case. Maybe for particular packages or use cases. It would take lots of resources to maintain (whole) nixpkgs for yet another "platform".

Thanks for pinging me; I recently remembered I wanted to close this, but I wasn't at a computer at that time and forgot afterwards.

[2016-03-06 08:37] Profpatsch commented on #7446
Agree with @vcunat that everything can be done with `packageOverrides` and the default override functionality right now, so no reason to add boilerplate to the already gigantic all-packages.nix (also one that is entirely conventional!).

Fabian Schmitthenner has recently posted a WIP of displaying existing optional package options on the package site, which is a solution to the discovery problem,

[2016-03-06 08:45] vcunat commented on #13582
Yes, on 288d01f I'm still getting the same crash as before.

[2016-03-06 08:54] Profpatsch commented on #12596
Using nixpkgs config is akin to introducing global variables (set by an env variable), which is very bad in my opinion, because it destroys reproducability.

The user can already override whatever he wants with `packageOverrides`, in a general manner.

[2016-03-06 08:54] vcunat commented on #1858
Our hardware-configuration.nix gets mounts by UUID (maybe for a year already), so the probability of running into missing mounts is somewhat lessened. Otherwise the issue probably persists, judging from (my) lack of knowledge of any (other) steps that would address it.

[2016-03-06 08:57] Profpatsch commented on #3341
Since `journalctl --user` shows output, this has since been fixed. Close @jagajaga

[2016-03-06 08:58] Profpatsch commented on #2953
(triage) @kirelagin What’s the status now?

[2016-03-06 08:59] Profpatsch commented on #3279
(triage) @CMCDragonkai can you re-check with a recent system?

[2016-03-06 09:38] zimbatm commented on #13559
evolution builds fine here, it was a "No space left on device" error

[2016-03-06 10:05] knedlsepp commented on #13635
@ttuegel At the moment I'm unsure if the kde packages are even meant to work with non-nixos operating systems. What is the status with KDE5 in this regard? Also: Do KDE5 applications place `kde5-config`, `kde5`, `kdeinit5`,... into `user-profile/bin` upon ad-hoc installation?

[2016-03-06 10:06] #3132 closed

[2016-03-06 10:12] vcunat commented on #12816
I don't think so.

[2016-03-06 10:12] #12816 closed

[2016-03-06 10:21] vcunat commented on #12072
https://github.com/NixOS/nix/pull/815 will give us a nice tool to specify that we only want `mariadb.out` when installing into a user env.

[2016-03-06 10:28] vcunat commented on #5053
I'm not sure. Xfce and e19 set `$GTK_DATA_PREFIX` to the system-env path, so that would e.g. prevent me experiencing the problem.

[2016-03-06 10:31] chaoflow opened #13710 "chromium causes lots of audit messages in dmesg"
## Basic info

To make sure that we are on the same page:
- Kernel: 4.3.6
- System: 16.03.git.690e2c0 (Emu) (40c586b + a few, see https://github.com/chaoflow/nixpkgs/commits/rebase/personal)
- Nix version: 1.11.2
- Nixpkgs version: see above
## Describe your issue here

When starting chromium, the following appears in dmesg

[code]

Visiting pages produces many more similar/identical messages.
###

[2016-03-06 10:38] #13707 closed

[2016-03-06 10:42] #7446 closed

[2016-03-06 11:31] vcunat commented on #13635
Yes, that's a significant difference of our current KDE5 from KDE4. The apps should be wrapped to use the correct KDE daemons etc.

[2016-03-06 11:33] Profpatsch commented on #5053
Sounds to me like a workaround

[2016-03-06 11:49] matthiasbeyer commented on #3891
Clearly something we should put into the release notes!

[2016-03-06 12:06] Profpatsch commented on #3111
(triage) After two years, what are your thoughts, @edolstra?

[2016-03-06 12:12] Profpatsch commented on #2189
(triage) @offlinehacker do you plan on following through with that? Is it even necessary anymore?

[2016-03-06 12:23] deepfire opened #13712 "`nix-store --gc` somehow partially purges pinned (open) `nix-shell` environments"
Context:
 - fresh `closure-size` -- although it is a long-standing issue, and I have seen it in `master`
 - nix-env --version reports  1.10

What I have is a `shell.nix` with a fairly extensive haskell environment,
and an open, live `nix-shell` that is activated for this environment.

When I do `nix-store --gc` (with the shell active), I expect that it wouldn't affect the environment
produced for

[2016-03-06 12:25] deepfire commented on #13712
..also, I'm unsure if I have committed this issue to the right repository -- whether I should have posted it in `nix` instead.

[2016-03-06 12:39] Profpatsch commented on #3277
ack

[code]

[2016-03-06 12:54] dezgeg commented on #13712
AFAICT the specific problem is with `nix-shell`'s handling of multiple-output derivations - it always realizes all outputs of the direct dependencies (which always includes bash, which has a `doc` output) but then the extra outputs aren't used by the shell so they don't appear as runtime gcroots.

[2016-03-06 13:24] pjotrp commented on #2824
Thanks. I moved to GNU Guix since then...

[2016-03-06 13:24] #2824 closed

[2016-03-06 13:25] bobvanderlinden commented on #13042
I've been trying to figure this out as well, partly with the help of @cleverca22. However I haven't used cross-build-tools in NixOS before and keep hitting walls. From the commits on https://github.com/dezgeg/nixpkgs/commits/pr-bootstrap-tools-cross it seems you solved quite a few issues already.

At the moment I have Nix on Debian on a rpi3, but since it is running Debian armv7l it is unfortunate

[2016-03-06 13:34] joachifm commented on #3191
I have used sysusers on non-NixOS setups, works as advertised in my experience. Whether it would bring anything to NixOS is unclear, apart from offloading some logic onto systemd (and thus also having to abide by their rules for how system users are to be handled).

[2016-03-06 13:50] Profpatsch commented on #2824
Out of curiosity: Is that usable yet?

[2016-03-06 14:01] rnhmjoj opened #13714 "mkvtoolnix: GUI is not being built"
I'm trying (unsuccesfully) to build mkvtoolnix-gui. `legacyGUI` option should be on by default but seems to do nothing (there is no GUI binary in the build output) and if I set `withGUI` to true nix gives this error:

    error: cannot coerce a set to a string, at nixpkgs/pkgs/applications/video/mkvtoolnix/default.nix:20:3

Also in the `./configure` log I noticed this:

    configure: WARNING: unr

[2016-03-06 14:09] flosse opened #13715 "running kde5 applications without kde as desktop manager"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux 4.4.4 / `x86_64 GNU/Linux`
* System: `16.09pre78286.0bf8a1a (Emu)`
* Nix version: `1.11.2`

## Describe your issue here

e.g. running `kile` or `dolphin` causes this error:
`couldn't create slave: "Keine Verbindung zu klauncher: The name org.kde.klauncher5 was not provided by any .service files"`.
Running `okular` works fin

[2016-03-06 14:33] flosse commented on #11556
I found a solution: `export XDG_CURRENT_DESKTOP=kde && dolphin` solves this issue. So where can I add this variable globally?

[2016-03-06 15:24] dezgeg commented on #13042
I was building on some Android phone running a Fedora chroot. Once the bootstrap tools are in place, there shouldn't be much else to that than compling Nix the old-fashioned (`./configure`, `make` etc.) way to `/usr/local`, and then using e.g. `nix-build -A hello`.

Cross building the bootstrap tarball is just `nix-build pkgs/stdenv/linux/make-bootstrap-tools-cross.nix -A aarch64`, that needs to b

[2016-03-06 15:55] vizanto commented on #7220
Just noticed that in packages like nginx, hardening and compiler being GCC is checked.
However, on SmartOS this package now breaks because LD is assumed to be GNU LD when compiler is GCC...

Is there another flag to check for GNU LD?

[2016-03-06 16:01] vcunat commented on #13715
/cc @ttuegel.

[2016-03-06 16:41] Mathnerd314 commented on #3191
The scripts are not what I would call "mature"; [they](https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/config/update-users-groups.pl) are littered with "FIXME". That being said, systemd-sysusers cannot make ordinary users, so it seems preferable at the moment.

[2016-03-06 16:41] #3191 closed

[2016-03-06 16:43] hesselink commented on #5206
Sorry I didn't do this originally. I don't know if it's been fixed, and no longer have my patch either, so I'm afraid I won't be much help.

[2016-03-06 18:49] grahamc commented on #9014
Is wicd still broken?

[2016-03-06 18:51] Profpatsch commented on #3191
Maybe @edolstra is in favor of a rewrite?

[2016-03-06 19:25] bjornfor opened #13718 "Grafana service broken in master"
## Basic info

* Kernel: Linux talisa 4.3.6 #1-NixOS SMP Fri Feb 19 22:35:24 UTC 2016 x86_64 GNU/Linux
* System: 16.09pre78286.0bf8a1a (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: "16.09pre78286.0bf8a1a"

## Describe your issue here
Grafana (```services.grafana.enable = true```) doesn't work anymore. It worked fine in 16.03pre77568.40c586b, but as of 16.09pre78286.0bf8a1a (Emu) it

[2016-03-06 19:40] Profpatsch commented on #5206
Then we should close this issue, since it’s probably fixed by now (if it’s a dealbreaker on darwin). cc @jagajaga

[2016-03-06 19:55] bjornfor commented on #13718
Diffing the .service files for those two commits:

[code]

The path listed in bad.service doesn't exist, whereas the one in good.service does exist.

[2016-03-06 19:56] bjornfor commented on #13718
Ah, it's a side effect of 4fede53c0996938979d2966a69f108782a8c1c12!

[2016-03-06 20:01] bjornfor commented on #13718
I'll push a fix as soon as I've tested it on top of master.

[2016-03-06 20:05] ben0x539 opened #13719 "pidgin needs GST_PLUGIN_SYSTEM_PATH for audio notifications"
## Basic info

[code]

## Describe your issue here

pidgin can't play sound by itself. It can run aplay or similar to play its sound files, but out of the box it silently fails to play notification sounds.

afaict pidgin requires and installs gstreamer but isn't set up to find what it needs at runtime. if i manually set GST_PLUGIN_SYSTEM_PATH to a value cribbed from some other package's wrapper sc

[2016-03-06 20:17] #5206 closed

[2016-03-06 20:18] globin commented on #7220
@vizanto you might want to look at and test #12895

[2016-03-06 20:20] #3341 closed

[2016-03-06 20:21] #3466 closed

[2016-03-06 20:21] jagajaga commented on #10559
Wasn't this fixed yet?

[2016-03-06 20:31] wkennington commented on #13710
This happens on ubuntu 14.04 with google-chrome for me as well. I typically
just disable audit.
On Sun, Mar 6, 2016 at 2:31 AM Florian Friesdorf <notifications@github.com>
wrote:

[2016-03-06 20:32] wkennington commented on #13710
Out of curiosity are you using nvidia proprietary drivers?
On Sun, Mar 6, 2016 at 12:31 PM William Kennington <william@wkennington.com>
wrote:

[2016-03-06 20:37] Ericson2314 commented on #10874
I've recently been mulling this. We have all this `.nativeDrv` and `.crossDrv` and native vs normal dependencies, so that there is just one package set when cross compiling. But it might just be simpler to have separate build- and target- package sets, and just have them coincide in the non-cross-compile case.

[2016-03-06 20:56] bjornfor commented on #13718
Fixed in master (d99033beb928edb040e9302904b7a736344e5bbf) and release-16.03 (1db66c9f47c7694c43675dc62f18f7e3395b721c). (Release-15.09 unaffected, AFAIK.)

[2016-03-06 20:56] #13718 closed

[2016-03-06 21:39] vcunat commented on #13719
This is probably a duplicate of #10556, but that isn't important...

[2016-03-06 21:41] Ericson2314 commented on #10874
@vcunat it would be a huge breaking change on the callPackage ideom, I'm afraid. I'd hope to stage it together when we overhaul the ideom to better expose flags like with the nixos module system.

[2016-03-06 21:54] Ericson2314 commented on #10874
Well, then I think both ways could be done concurrently at the cost of even more complexity in the interim. `stdenvCross` could expose a special `callPackage` instead of `mkDerivation` that would pass in both the native and cross package using `__toString__` to default to the cross one.

[2016-03-06 21:55] Ericson2314 commented on #10874
Basically, I see why the current approach was chosen to minimize churn, but long term I'd like to do it what I see is the "right way".

[2016-03-06 22:24] domenkozar commented on #1988
We don't have a proper solution for this (but I don't see how we could have it). Maybe @shlevy has a better vision here :)

[2016-03-06 23:01] codyopel commented on #13714
wxwidgets was dropped completely as of 8.2.0.

qt5 packaging has changed since this build was rewritten, it should now use `qt5.qtbase` (not `qt5`, hence it casting a set to a string )

For reference:
https://github.com/triton/triton/blob/master/pkgs/all-pkgs/mkvtoolnix/default.nix

[2016-03-06 23:15] hrdinka commented on #13719
Please check if https://github.com/NixOS/nixpkgs/pull/13722 fixes your issue.

[2016-03-06 23:15] hrdinka commented on #10556
Please check if https://github.com/NixOS/nixpkgs/pull/13722 fixes your issue.

[2016-03-07 00:05] ben0x539 commented on #13719
Yeah, that fixes it. Thank you!

[2016-03-07 06:12] #13719 closed

[2016-03-07 07:37] layus commented on #9644
The upstreambug is open and draw some attention.
They will need testers at some point, so you should definitely subscribe to that bug: https://bugs.kde.org/show_bug.cgi?id=359932

I also think we should close this issue, as it is not related with nix/nixos.

[2016-03-07 07:42] cleverca22 commented on #13042
only other hard requirement, is that the kernel allow aarch64 binaries, but nix and the rest of the userland could be 32bit, "--argstr system aarch64-linux" will force nix-build to do everything in 64bit mode

[2016-03-07 09:10] joelmo commented on #13609
This is fixed at unstable, my gtk applets is shown in the panel.

[2016-03-07 09:43] kirelagin commented on #2953
Well, the status is that I totally forgot about this issue and I’m not sure if it is still relevant at all. I’ll take a look ASAP (hopefully, today).

[2016-03-07 09:48] Mayeu commented on #12968
About this Rethinking CI, did you all see that Travis now allow to use their [https://docs.travis-ci.com/user/migrating-from-legacy/#Caching-available-for-open-source-projects cache feature] for open source project? (I looked at the ml and related ticket but did not find anyone mentioning this).

I remember an issue or email were someone was lamenting that this feature was pay only because it coul

[2016-03-07 10:01] wizeman commented on #5298
@Profpatsch Yes, I can still reproduce it...

[2016-03-07 10:13] peti commented on #12962
No, that's not what is happening. It looks more like the generated MELPA package set is inconsistent. Magit pulls in the following dependencies:

    $ nix-shell -p "emacsWithPackages (p: with p.melpaPackages; [magit])" --run "emacs -Q"
    these derivations will be built:
      /nix/store/0si6w80rlj9xxcgcf1h5a9xbaaj690l2-emacs-cl-lib-0.5.drv
      /nix/store/4kbc7s8fni1ddzh88a1i0mr8q9sg5b33-emacs

[2016-03-07 10:17] kirelagin commented on #8318
So, what this all fontconfig 2.10 thing is about? I don’t see it being used anywhere in nixpkgs.
Can’t we just drop this backward compatibility, the patch and forget about the issue?
@edolstra

[2016-03-07 10:22] peti commented on #12962
This is definitely a bug in Nixpkgs. The dependencies from `melpaPackages.magit` are *not* resolved within that package set.

I've removed `magit-popup` from `pkgs/top-level/emacs-packages.nix`, and it tries to build

[code]

which is a lot better than before but it's still not correct, because now `magit-popup` comes from `melpaStablePackages` rather than `melpaPackages`, like it should.

[2016-03-07 10:31] svanderburg opened #13732 "texFunctions.runLatex {} fails to invoke pdflatex"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux nixos 4.1.13 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux
* System: 16.03pre75174.d0e3cca (Emu)
* Nix version: nix-env (Nix) 1.10
* Nixpkgs version: 16.03pre75806.77f8f35

## Describe your issue here

When trying to build a PDF document from LaTeX sources through the texFunctions.runLatex {} function, I get the

[2016-03-07 11:15] chaoflow commented on #13710
No nvidia, intel. How do you disable audit?

[2016-03-07 11:26] domenkozar commented on #12968
Nice!

On Mon, 7 Mar 2016, 09:48 Mayeu - Cast, <notifications@github.com> wrote:

[2016-03-07 11:51] kevincox commented on #12968
I doubt caching will help much since it is simply uploading to s3. So it should be roughly the same speed as downloading from the binary cache. The one benefit is that you might have more packages cached.

On another note male sure that you run a gc before the cache is saves to keep it lean and effective.

[2016-03-07 11:56] matthiasbeyer opened #13733 "racket: Cannot build, neiter 6.3 nor 6.2.1"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux yuu 4.3.6 #1-NixOS SMP Fri Feb 19 22:35:24 UTC 2016 x86_64 GNU/Linux
* System: 16.09pre78286.0bf8a1a (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: 16.09pre78286.0bf8a1a

## Describe your issue here

[code]

fails. Building inside `nixpkgs`: `nix-build -A racket` fails for both unstable and unstable with 00f39

[2016-03-07 12:17] joachifm commented on #13733
cc maintainer @henrytill

[2016-03-07 12:30] peti opened #13734 "Latest Splix version breaks printing on Samsung ML-2510"
On the current `master` branch`, printing with Splix + Cups is broken, apparently because of a version (string?) mismatch:

[code]

[2016-03-07 12:38] peti commented on #13734
Fixed temporarily by reverting the recent version update in e338d6a0fc1293c1d5b63d9e38e690526fc7d1b1.

[2016-03-07 12:39] peti commented on #13734
Cc: @bendlas

[2016-03-07 13:12] #2852 closed

[2016-03-07 13:17] peti commented on #4504
No, we don't support multiple outputs at the moment.

[2016-03-07 13:24] xtendo-org opened #13735 "Compiz is broken"
## Basic info

To make sure that we are on the same page:
- Kernel: `Linux system 4.4.2 #1-NixOS SMP Wed Feb 17 20:31:25 UTC 2016 x86_64 GNU/Linux`
- System: `16.03pre77568.40c586b (Emu)`
- Nix version: `nix-env (Nix) 1.11.2`
- Nixpkgs version: `16.09pre78286.0bf8a1a`
## Describe your issue here

The commit 7333c01dbab997ba1fbedcf48e394e597383e64d might have broken Compiz. Apparently the intention

[2016-03-07 13:25] ttuegel commented on #12962
That is not how dependency resolution is supposed to work. We can only have one version of every package in the dependency set, so all dependencies are resolved in the top level set. It's true that sometimes packages from `melpaPackages` will have outdated dependencies, but that's a necessary evil of working with an interpreted language (Emacs Lisp). The solution is to do this:
[code]

[2016-03-07 13:28] ttuegel commented on #9644
Thanks! I followed the issue upstream.

[2016-03-07 13:28] #9644 closed

[2016-03-07 13:30] ttuegel commented on #11556
You can set this in `configuration.nix` like so:
[code]
Was the variable simply unset before, or are you using another desktop?

[2016-03-07 13:35] rnhmjoj commented on #13714
Thank you.

[2016-03-07 13:42] barrucadu opened #13736 "Document updating the packages in TeXLive"
Both moderncv and fontawesome in the new texlive set-up are from 2013, but they both had updates last year. I tried to fix this myself, but I'm not sure how to generate the files in `pkgs/tools/typesetting/tex/texlive-new` correctly.

I was able to produce a `pkgs.nix` (although `tl2nix.sed` wasn't enough, I then had to use `grep` to filter out a load of lines it didn't handle), but I'm at a loss

[2016-03-07 13:46] peti opened #13737 "16.03-beta tag isn't picked up by git describe"
This happens when run on `master`:

[code]

[2016-03-07 13:50] peti commented on #12962
I am sorry, but I disagree. When I access `magit` from `melpa-generated.nix` and that packages depends on `magit-popup` -- which exists in `melpa-generated.nix`, too -- then *that* version should be used to resolve the dependency, not a version from some other package set.

[2016-03-07 13:58] joelmo commented on #13710
I thought disabling the audit service would suppress these messages `systemctl stop audit` but they still appear. Also tried `auditctl -e 0` but without effect.

[2016-03-07 14:02] ttuegel commented on #12962
I have already explained why dependency resolution cannot work that way. I cannot do anything about Emacs' limitations.

You are right about one thing:

However, that is not what is going on here. There is no other package set. There is only one package set: `emacsPackagesNg`. It's true that this set is the union of packages from many sources, an evil necessitated by the fact that Emacs packages a

[2016-03-07 14:06] AshSlave commented on #10452
Sorry if it's a wrong place to ask. I just started to use NixOS and have little to no understanding of how Nix packaging works. Is it possible/easy to get Unity3D running at the current state for a beginner?

[2016-03-07 14:09] nico202 opened #13738 "ffado: should install .ffado/configuration"
Hi, I'd faced the same issue described here:
https://sourceforge.net/p/ffado/mailman/ffado-user/thread/20110205154307.385b9202@stein/

I needed to download and copy the configuration file to the ~/.ffado dir. Could we patch it to point to $out/share/libffado/configuration or something? it's just not obvious
cc: @goibhniu @wkennington

[2016-03-07 14:46] vcunat commented on #13737
Oh no, I probably tagged a bad commit. It isn't explicitly said in #4442 which one should be tagged &ndash; I did the first commit not reachable from master, but now I see we probably wanted to tag the last common commit instead.

[2016-03-07 14:54] vcunat commented on #13736
- All versions are exactly from TeX Live 2015, as released upstream.
- The generation commands are written at the inclusion point of the generated files. (It's possible there are some small bugs in there.)
  * https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/typesetting/tex/texlive-new/default.nix#L46
  * https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/typesetting/tex/texlive-new/de

[2016-03-07 15:02] peti commented on #13737
Can we just force push a new tag?

[2016-03-07 15:06] vcunat commented on #13737
We can, but you know... people who already have the old tag won't get it updated unless they specify `-f`, which isn't very nice.

[2016-03-07 15:08] edolstra commented on #9644
Are you sure this is the same issue? I'm talking about a performance regression, while that upstream issue talks about some particular epubs being slow.

[2016-03-07 15:09] peti commented on #13737
Really? I thought fetching would overwrite the old tag without needing any special flags?

[2016-03-07 15:14] edolstra commented on #10452
@AshSlave No.

[2016-03-07 15:16] vcunat commented on #13737
No, and it's considered a bad practice to update tags. See: https://git-scm.com/docs/git-tag, section *On Re-tagging*. I also remember how I dislike when `fetchFromGitHub` changes hash because upstream chose to force-push the tag we're fetching from.

What do we use these \*-beta tags for, apart from `git describe`?

[2016-03-07 15:18] henrytill commented on #13733
Appears to be to this:
https://github.com/racket/racket/issues/1222

PR with fix incoming...

[2016-03-07 15:24] vcunat commented on #13737
Well, if I merge that tag to recent master (without letting files change), I get:
[code]

I just wonder if it might have some unexpected consequence for some other use case for these tags.

[2016-03-07 15:43] peti commented on #12962
I would like to use the latest unstable version of everything, and stable versions provide merely a fallback for those attributes that don't exist in the unstable package set (assume such a case exists), i.e. the callPackage scope should be `melpaStable // melpa`.

Then it would also be nice to have a "stable" package set where unstable packages are used only if they don't have a corresponding rel

[2016-03-07 15:50] peti commented on #12962
OK, I figured it out. What I want is:

    (emacsPackagesNg.override (super: self: super.melpaPackages)).emacsWithPackages (p: with p; [magit]);

That was easy! :smile:

[2016-03-07 15:56] peti commented on #13737
I don't think these tags are used for anything except `git describe`. Still, it would be nice if the tag is accurate, i.e. consistent with the 15.09-beta tag, and personally I'd  be willing to live with the inconvenience of having to run `git fetch --tags --force`.

[2016-03-07 16:05] RocketPuppy commented on #10273
I'm seeing this with qt5.webkit. Should this be reopened?

[2016-03-07 16:20] ttuegel commented on #10273
It's fixed in unstable, but I can't backport the fix to 15.09 based on our policies. Luckily, 16.03 will come out soon.

[2016-03-07 16:34] ttuegel commented on #12962
The stable packages are a proper subset of the unstable packages by definition. We should probably just have an "unstable" set so that this is easier in the future.

That's what the default set is.

[2016-03-07 16:48] kamilchm commented on #13670
I'm trying to do same thing. I got working ``nix-build`` with my [default.nix](https://github.com/kamilchm/go2nix/blob/master/default.nix) but I can't figure out how to use it with ``nix-shell``.
I want to be able to run commands like ``go test``, ``go build`` ... from ``nix-shell``.

[2016-03-07 16:54] bendlas commented on #13734
Dang, I had hoped they wouldn't break older printers ... *sigh*. There are newer models, like the SCX-4500, only supported by current svn.
I guess neither of us is interested in diving into the code base to fix the ML-2510, so I propose reintroducing the svn version separately for the time being.

[2016-03-07 17:05] matthiasbeyer commented on #9616
Any progress? It seems that the upstream issue was closed, though this issue still exists here.

[2016-03-07 17:57] flosse commented on #11556
great, setting the environment variables in `configuration.nix` works :)
Maybe this could be done automatically at least if I do `desktopManager.kde5.enable = true;` ?

I'm using `awesome` without and desktop manager but at the moment that isn't working (see #13715 ).

[2016-03-07 18:33] ttuegel commented on #11556
It's really not supposed to be set globally. It should be set by your desktop environment or window manager, as required by the XDG standard. I suspect that even setting `XDG_CURRENT_DESKTOP` to something else would work.

[2016-03-07 18:33] #11556 closed

[2016-03-07 18:34] ttuegel commented on #13715
The missing service error is about some D-Bus service. I will check it out, but it's probably related to NixOS not installing `share/` files into the profile by default. The icon issue is related to Awesome not being XDG-compliant.

[2016-03-07 18:49] fkz opened #13744 "curl doesn't work in nix-shell because of $SSL_CERT_FILE=/no-cert-file.crt default"
- Kernel: Linux nixos 4.4.2 #1-NixOS SMP Wed Feb 17 20:31:25 UTC 2016 x86_64 GNU/Linux
- Nix version: nix-env (Nix) 1.11.2
- Nixpkgs version: 16.03pre77568.40c586b

when doing a nix-shell, curl doesn't work inside it for https uris (assuming curl is installed):

[code]

The reason is, that we set `SSL_CERT_FILE` in https://github.com/NixOS/nixpkgs/blob/master/pkgs/stdenv/generic/setup.sh#L387.
Whi

[2016-03-07 18:54] fkz commented on #13744
This relates to nixos/nix#777

[2016-03-07 19:52] #13733 closed

[2016-03-07 19:56] jagajaga commented on #13712
cc @edolstra @vcunat

[2016-03-07 20:06] rycee opened #13746 "Eclipse Checkstyle fails to install on 16.03-beta"
Upstream has changed the download URL of the Eclipse Checkstyle plugin causing the error
[code]

[2016-03-07 20:15] yokto opened #13747 "Psi crashes upon account creation"
## Basic info

Linux petroc 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux
NixOS: 16.09pre78286.0bf8a1a

## Describe your issue here

Psi crashes as soon as you click the save button during account creation. Might be related to #8764.

strace attached.
[psi-strace.txt](https://github.com/NixOS/nixpkgs/files/162031/psi-strace.txt)

backtrace:

#0  0x00007ffff4755cda in __strcmp_sse

[2016-03-07 20:17] #13714 closed

[2016-03-07 20:17] #13746 closed

[2016-03-07 21:17] nico202 commented on #13662
The same is true for zita-convolver, breaks guitarix too

[2016-03-07 21:53] joachifm commented on #13662
From grepping nixpkgs, it seems the common approach is to just strip `march=native` outright, but there's also the possibility of setting a generic march/mtune depending on the target architecture.

[2016-03-08 05:46] wmertens commented on #12948
(triage) @datakurre, did find the root of the problem?

[2016-03-08 05:49] wmertens commented on #13046
@tomjridge ping

[2016-03-08 06:38] vcunat commented on #13737
Hmm, well, this case doesn't seem so bad as re-tagging releases. The main "danger" is that different people will get different `git describe` behavior due to one of them not force-updating it. I forgot to /cc @domenkozar.

[2016-03-08 07:53] matthiasbeyer commented on #13733
Awesome. Hopefully this will be in unstable soon.

Why did everyone this apply to their nixpkgs repositories? :smile:

[2016-03-08 08:31] matthiasbeyer commented on #13744
Can confirm that this is not only an issue with `curl`, but for me also with `git` and `composer` (php), `cargo` and maybe even some other tools.

Can someone please fix this?

[2016-03-08 08:32] matthiasbeyer commented on #13744
Maybe even by reverting 39609a0c9414b398330e42f872e7358e30e133dd ?

[2016-03-08 09:15] mz-pdm opened #13753 "zsh info files not linked to info directory"
## Basic info

To make sure that we are on the same page:
- System: 15.09.1113.23395c4 (Dingo) (applies to nixos-unstable as well)
- Nixpkgs version: "15.09.1113.23395c4" (applies to nixos-unstable as well)
## Describe your issue here

Zsh Info documentation is built and present in
/nix/store/_zsh_/share/zsh-5.0.8/Doc/zsh.info*.  However they are not linked
to /run/current-system/sw/share/info/, s

[2016-03-08 09:23] vcunat commented on #13733
I just picked it to 16.03 as it was broken there as well. I assume the other guys use workflow that involves rebasing.

[2016-03-08 09:48] pjotrp commented on #2824
Yes, very usable. See my https://github.com/pjotrp/guix-notes

[2016-03-08 09:49] vcunat commented on #13732
Ah, yes, it isn't very user-friendly ATM. I would commit this:
[code]

Will it fully cover the usual use cases?

[2016-03-08 10:06] peti commented on #13734
I suppose we could report this issue upstream and ask for help. In the mean time, I don't think we should keep this issue open here.

[2016-03-08 10:19] svanderburg commented on #13732
It partially works, but now it cannot find beamer.cls :-)

I'm now trying to figure out how I can include the texLive package that
provides it, but it seems that the runLatex{} function has no interface yet
allowing you to include stuff from the giant texLive distribution?

On Tue, Mar 8, 2016 at 9:50 AM, Vladimír Čunát <notifications@github.com>
wrote:

[2016-03-08 10:32] edolstra commented on #13712
@deepfire Yes, please move to the Nix repo. @dezgeg's analysis sounds right btw.

[2016-03-08 10:37] vcunat commented on #13732
Well, the new `texlive` is relatively granular &ndash; `scheme-basic` doesn't contain stuff like beamer. You can pass more packages like this:
[code]

[2016-03-08 10:40] uralbash opened #13755 "Pencil requires a lower version of xulrunner"
## System

* Kernel: Linux 4.4.0-2-generic #16-Ubuntu SMP Thu Jan 28 15:44:21 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* System: Ubuntu
* Nix version: nix-env (Nix) 1.11.1
* Nixpkgs version: "16.03pre76763.be0abb3"

## Describe your issue here

[code]

[2016-03-08 10:44] vcunat commented on #13712
Moved.

[2016-03-08 10:44] #13712 closed

[2016-03-08 10:46] svanderburg commented on #13732
That did the trick! Thanks!

On Tue, Mar 8, 2016 at 10:37 AM, Vladimír Čunát <notifications@github.com>
wrote:

[2016-03-08 10:49] vcunat commented on #13732
Hehe, I wanted to commit it and I see you've done it already.

[2016-03-08 10:49] #13732 closed

[2016-03-08 10:51] svanderburg commented on #13732
Haha indeed! You seem to work quite fast!

On Tue, Mar 8, 2016 at 10:49 AM, Vladimír Čunát <notifications@github.com>
wrote:

[2016-03-08 10:55] bendlas commented on #13734
Created an upstream ticket: https://sourceforge.net/p/splix/bugs/93/

[2016-03-08 11:06] datakurre commented on #12948
@wmertens No yet. I simply added explicit wrap to get forward.

[2016-03-08 11:07] fpletz commented on #10559
Doesn't work for me on master.

[2016-03-08 11:08] peti commented on #13734
Very cool. I'd like to thank you for the time and effort you've put into updating Splix!

[2016-03-08 11:11] vcunat commented on #13732
Sometimes I get fast and sometimes I can't move from the spot for days...

[2016-03-08 11:14] vcunat commented on #10559
I think it's questionable whether this is desirable. We've had a similar discussion about python packages. In the case of similar plugins there's also the possibility that the version combination might make them incompatible; upstream packages typically assume that the packaging system ensures consistency, so this may result in ugly failures.

[2016-03-08 11:22] tomjridge commented on #13046
nix-env -qa '*' |grep myspell
myspell-dict-he-1.1
myspell-dict-he-1.1

I don't know hebrew :(

On ubuntu, installing libreoffice and myspell-en-gb and possibly libreoffice-l10n-uk worked.

Removing libreoffice and installing nix libreoffice, spell check also worked (presumably picking up myspell from ubuntu).

HTH

[2016-03-08 12:01] deepfire commented on #12728
Closing, since it's considered an externality to the project.

[2016-03-08 12:01] #12728 closed

[2016-03-08 12:02] deepfire commented on #12727
Closing, since it's considered an externality to the project.

[2016-03-08 12:02] #12727 closed

[2016-03-08 12:28] bendlas commented on #13734
@peti could you try something for me: With the newer version **recreate** your printer, please?

I was just about to dig deeper and I noticed, that the file version changed indeed, from your version `SpliX V. 2.0.0` -> `2.0.0` in the newer version. In the update notes for splix, it says

[code]

[2016-03-08 12:38] bendlas commented on #13734
@peti in case this works, that part of cups really should be managed by nixos. I think that would boil down to generating `/etc/cups/ppd`. See https://bugs.launchpad.net/ubuntu/+source/cups/+bug/932882 http://linux.die.net/man/8/cups-genppdupdate

[2016-03-08 12:44] fkz commented on #13744
I added some system information. This happens for me before 39609a0c9414b398330e42f872e7358e30e133dd, too. Indeed, with this new commit there's a new workaround to set `SSL_CERT_FILE=/etc/ssl/certs/ca-bundle.crt` in `configuration.nix` or something smiliar.

[2016-03-08 12:51] fkz commented on #13744
This seems to be a good workaround, since `nix-build` etc. and `nix-shell --pure` still behave as before (as they should) but `nix-shell` doesn't override `$SSL_CERT_FILE`.
Still it would be even better when this would work without setting `SSL_CERT_FILE`.

[2016-03-08 13:28] vcunat commented on #13737
Actually, why should current master be described as 16.03-beta? It will *not* be contained in any 16.03 version.

[2016-03-08 14:15] matthiasbeyer opened #13760 "dnsutils not packaged?"
Just to be sure: The dnsutils are not packaged with nixpkgs yet? I'm on latest unstable and I cannot find them (also not via the github search).

Am I dumb or are they really not available with nixpkgs yet?

[2016-03-08 14:19] peti commented on #13737
Because we chose to do things this way when 15.09-beta was tagged, and
we should have consistent behavior.

[2016-03-08 14:22] joachifm commented on #13760
You probably want the `bind` package (for `dig` &c)

[2016-03-08 14:27] matthiasbeyer commented on #13760
And for `dnslookup`?

[2016-03-08 14:30] joachifm commented on #13760
Do you mean `nslookup` (interactive internet name service lookup)?

[2016-03-08 14:34] matthiasbeyer commented on #13760
Ah, yes.

[2016-03-08 14:38] joachifm commented on #13760
I guess it would be nice to have a `dnsutils` work-alike, though, for people who just want the client apps.

[2016-03-08 14:54] edolstra commented on #13737
What do we need that tag for anyway? Given that we have rolling releases it's not really clear what the meaning of a "16.03-beta" tag is.

[2016-03-08 15:00] vcunat commented on #13737
When I checkout some random commit, it seems useful to me to have a way to determine the number of commits since the last release branching point and which release was last branched.

[2016-03-08 15:01] #13703 closed

[2016-03-08 15:11] Profpatsch commented on #5459
I “solved” it by:

[code]

This enables changing the password on the next switch. The file contains a password hashed by `mkpasswd(1)`.

[2016-03-08 15:11] #5459 closed

[2016-03-08 15:32] Profpatsch commented on #9027
Can’t reproduce anymore.

[2016-03-08 15:32] #9027 closed

[2016-03-08 15:41] Profpatsch commented on #4680
When I added my printer again recently, the gutenprint ppds where directly accessible from the interface, so all one has to do now is add gutenprint to `services.printing.drivers`.

I just noticed there is `services.printing.gutenprint` now. Huzzah!

[2016-03-08 15:51] edolstra commented on #13737
`git merge-base` can be used to find the branch point as well.

[2016-03-08 15:54] Profpatsch opened #13764 "texlive-new: build of trivial packageset fails"
[code]

(it also fails with a package in the `combine` attrset)

cc @vcunat

[2016-03-08 15:55] Profpatsch commented on #10478
Reproducing depends on https://github.com/NixOS/nixpkgs/issues/13764

[2016-03-08 15:55] vcunat commented on #13737
Yes, but the main point is to have `git describe` or something similar.

[2016-03-08 15:56] vcunat commented on #13764
Yes, that's known. See the preliminary user docs: https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/typesetting/tex/texlive-new/default.nix#L1

[2016-03-08 16:06] kamilchm commented on #13341
@kevincox could you write something about your cluster setup?

[2016-03-08 16:12] kevincox commented on #13341
Yeah, I'll do that when I get some time. Feel free to assign me to this.

[2016-03-08 16:13] Profpatsch commented on #2537
(triage) @wmertens Was this fixed in the meantime?

[2016-03-08 16:13] Profpatsch commented on #2460
close @jagajaga

[2016-03-08 16:32] layus commented on #9644
@edolstra Could you check the qt version used by the different okular versions. I think the issue may come with Qt4.8.7.
I have narrowed the issue between 7acbdcd02b52fd99a826b16c832888dbff64088f and 317dd06aa438fb2e49a578a7bbefc5ed677cdc13... But then the cache misses derivations, and I do not want to bisect local qt/kde builds.

The range contains 16b40c7b which is the most probable cause for th

[2016-03-08 16:49] Profpatsch commented on #13764
Are you sure that’s how it should work? I used exactly the same statement around half a year ago and it worked fine.

Especially those two lines weren’t there the last time I checked:
[code]

[2016-03-08 16:52] vcunat commented on #13764
Some things were changed probably, but the TeX stuff is probably useless if you don't plug any packages at all into it. Better fail early.

[2016-03-08 17:00] peti commented on #13760
IMHO, discoverability of those tools is pretty good:

[code]

[2016-03-08 17:00] #13760 closed

[2016-03-08 17:06] Profpatsch commented on #13764
As I said, `nix-build -E 'with import <nixpkgs> {}; with texlive; combine { inherit minted; } ' fails with the same error.

[2016-03-08 17:07] vcunat commented on #13764
Yes, as that one wouldn't even contain the TeX binaries. (Upstream TeX Live has very holey dependencies among the packages.)

[2016-03-08 17:15] vcunat commented on #13764
To explain better... the current `texlive` is a rather thin layer around the upstream packaging. Yes, we could improve it a lot, but I "only" invested a few full weeks of time into this and ATM I'm not inclined into more such TeX endeavors. That certainly doesn't prevent others from improving it.

[2016-03-08 17:18] edolstra commented on #9644
The first path (`/nix/store/ldw6mbpz0gkp63gaxq2zpknzvvb46zb8-okular-4.14.3`) was indeed Qt 4.8.6. The second path is no longer available so I can't check for sure if it was using 4.8.7.

Thanks for looking into this!

[2016-03-08 17:25] abbradar commented on #4680
Oh, I fixed that by myself recently and forgot. Let's close!

[2016-03-08 17:25] #4680 closed

[2016-03-08 17:29] edolstra commented on #9644
And indeed running the fast Okular (`/nix/store/ldw6mbpz0gkp63gaxq2zpknzvvb46zb8-okular-4.14.3`) with `LD_LIBRARY_PATH` set to Qt 4.8.7 (to be precise `/nix/store/msfjykq61a6mjj8sajaf896r98nk3nkp-qt-4.8.7/lib`) makes it slow :-)

[2016-03-08 17:43] layus commented on #9644
Nice ! Now, we only have to bisect qt v4.8.6 to v4.8.7 :grinning:

Fear not:
[code]

[2016-03-08 18:05] kamilchm commented on #2385
@Profpatsch I have a configuration file called ``container.nix`` and I want to use it as a initial configuration used by
[code]
I don't want to specify and rebuilt all my containers that I'm using for different testing purposes when I rebuilt my system.

[2016-03-08 18:23] bendlas commented on #13734
@peti btw, if you could verify, that gutenprint's `cups-genppdupdates` can fix this case (and then presumably others as well) without recreating the printer, then we could use that as a nixos activation hook for cups, to save others the trouble.

[2016-03-08 19:12] Profpatsch commented on #2385
@kamilchm Why? Only stuff that has changed gets rebuilt/downloaded, so why not keep it declarative?

[2016-03-08 19:14] Profpatsch commented on #13764
You mean it’s missing a few dependencies and so the build fails? Can we include those dependencies manually if CTAN doesn’t provide them?

[2016-03-08 19:18] bobvanderlinden commented on #13042
Thanks for all the info. I managed to build `pr-bootstrap-tools-cross` on x86_64 for aarch64. That said, I did need to apply the following hack: https://github.com/bobvanderlinden/nixpkgs/commit/99e949d912eda47b5cc9937f0bc0ad8bc5690e66
I'm still unsure why this is needed.

First I tried building the original `pr-bootstrap-tools-cross` (https://github.com/dezgeg/nixpkgs/commit/150ccd25e9b4d88292a39

[2016-03-08 19:32] #2460 closed

[2016-03-08 19:41] dezgeg commented on #13042
Most likely I broke the bootstrap tools cross compilation when adding fixes for native building.

[2016-03-08 20:08] rycee opened #13768 "15.09 → 16.03 update breaks syncthing service with custom dataDir"
When upgrading my system from 15.09 to 16.03-beta the `syncthing` service failed, it was working fine under 15.09 with the following configuration
[code]
Turns out that 44788bb2ce5ecb025b63c71226ab613a05a334d3 changed the way the `dataDir` attribute works and changing the configuration to
[code]
fixed the issue. I didn't find any mention of this backwards incompatible change in the corresponding [

[2016-03-08 20:11] kamilchm commented on #2385
I thought about something like project specific containers that I place in different repos like Vagrantfiles. I doesn't look elegant for me if I need to modify my main configuration.nix when I clone/move/delete project workspaces.

[2016-03-08 20:37] Profpatsch commented on #2385
I use `containers.mycontainer.config = ./mycontainer.nix`.

But you should take a look at `containers.<name>.path`, which is exactly what you want.

[2016-03-08 20:44] lethalman opened #13770 "Update openssl before release"
I've recently read this blog post https://www.openssl.org/blog/blog/2016/03/01/an-openssl-users-guide-to-drown/ . Apparently nixos openssl allows SSLv2 (debian has removed it since 2011: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=589706) .

Release notes from 1.0.1r to 1.0.1s: https://www.openssl.org/news/openssl-1.0.1-notes.html

I hope nobody in this world has SSLv2 enabled in its servers

[2016-03-08 21:25] peti commented on #13770
cdbd14a1a8c40b6ee9d25df8dc65c4e5e6bd9ff7 is in `staging`.

[2016-03-08 21:27] lethalman commented on #13770
Oh ok sorry... leaving this open until it hits master in case someone else looks it up again.

[2016-03-08 22:12] kevincox commented on #13341
I don't appear to have permission to edit pages. I don't know if this is because I haven't confirmed my email address (sending mail is failing) but if it is a permissions issue could you give write permission to `kevincox`. Thanks.

[2016-03-08 22:16] wmertens commented on #2537
No, it's still there, and in fact it doesn't seem to be used in nixpkgs: https://github.com/NixOS/nixpkgs/search?utf8=%E2%9C%93&q=extraFlagsArray (verified with grep -r as well)

The only use of the same name is [in builder.sh](https://github.com/NixOS/nixpkgs/blob/788800e437c4a0a25d95e217540bded68804b25e/pkgs/development/tools/misc/automake/builder.sh#L12-L28) which initializes it itself doesn't

[2016-03-08 22:17] wmertens commented on #2537
I can't find a reference to it in nix and nixops either…

[2016-03-08 22:31] vcunat commented on #9644
Only about 8 more steps then :-)

[2016-03-08 22:36] vcunat commented on #13764
It is possible to override the dependency information manually, and we have a couple of adjustments in there already. CTAN doesn't provide any dependency information, I think. It's TeX Live where I took the information and the packages themselves. (And IIRC Fedora's srpm has some magic code that tries to detect the dependencies.)

To kill the problem that most packages depend on some of the core o

[2016-03-08 22:50] joachifm commented on #12749
I think the problem is that the makefile passes `-D$(llvm-config --version)` to gcc, which ends up being an invalid macro name (cannot start with a digit), resulting in the `macro names must be identifiers` error.Patching out `-D$(LLVM_VERSION)` from `Makefile.unix` makes the problem go away.

Beyond that hurdle is another issue with undefined references. There are some conditonals in a header fil

[2016-03-08 23:31] skrzyp commented on #13537
What's going on with that?

[2016-03-09 01:13] solenoids opened #13774 "Github's response to the issues with the CocoaPods repository may be relevant to this repository"
Recently, Github has rate-limited the [CocoaPods repository](https://github.com/CocoaPods/CocoaPods) because of the scalability issues with using Github as a CDN. [Github's response is here](https://github.com/CocoaPods/CocoaPods/issues/4989#issuecomment-193772935).

NixOS uses Github in a similar manner, so it seems to me that the way NixOS distributes package sources needs to change soon. I doub

[2016-03-09 01:24] joachifm commented on #13774
Quoting from GitHub's response, linked above:
[code]

For comparison, the nixpkgs repo has seen 2319 clones in the time period 02.25--03.09, peaking at 298 clones (according to https://github.com/NixOS/nixpkgs/graphs/traffic).

[2016-03-09 01:30] fsteinel opened #13776 "thttpd: update from 2.26 to 2.27"
## Basic info

`Linux nixos 3.18.26 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux`
`15.09.1119.f6d1666 (Dingo)`
`nix-env (Nix) 1.10`
"15.09.1119.f6d1666"

## Issue

from http://www.acme.com/software/thttpd/#releasenotes
New in version 2.27:

    Stats syslogs changed from LOG_INFO to LOG_NOTICE.
    Use memmove() for self-overlapping string copies instead of strcpy().
    Couple of sub

[2016-03-09 02:54] matthewbauer opened #13778 "fatal error: 'CoreFoundation/CFAttributedString.h' file not found"
## Basic info

I was hoping to fix this myself but I haven't come up with anything.

To make sure that we are on the same page:
- Kernel: (run `uname -a`)
  Darwin arda 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64
- Nix version: (run `nix-env --version`)
  nix-env (Nix) 1.11.1
- Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs

[2016-03-09 03:06] matthewbauer opened #13779 "error: expected function body after function declarator AVAILABLE_MAC_OS_X_VERSION_10_10_AND_LATER in IOHIDDevice.h"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)
Darwin arda 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64

* Nix version: (run `nix-env --version`)
nix-env (Nix) 1.11.1

* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)
16.09pre78318.e82dcd7

## Describe your issu

[2016-03-09 04:11] romildo commented on #5409
@jgeerds Today I tried configuring my Epson L355 wireless inkjet printer again.

First I used  `avahi-browse` to discover the printer. The avahi service worked only after setting

    services.avahi.hostName = "alocal"

Without explicitly setting `services.avahi.hostName` the avahi service failed with the error `Failed to create server: Invalid host name`. I also have

    networking.hostName = "j

[2016-03-09 04:35] jgillich opened #13782 "Chrome segfault"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux thinkpad 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux
* System: 16.09pre78286.0bf8a1a (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: 16.09pre78286.0bf8a1a

## Describe your issue here

[code]

[2016-03-09 04:37] kevincox opened #13783 "tar references gzip out of the path."
If gzip isn't in your path `tar -czf ...` fails with "gzip: Cannot exec: No such file or directory"

[2016-03-09 06:37] matthewbauer commented on #13783
gzip should be in "stdenv" I think. Are you able to build stdenv?

[2016-03-09 06:41] matthewbauer commented on #13782
Relevant issue: https://bugs.chromium.org/p/chromium/issues/detail?id=318646

It looks like you might not have sse2 support? Can you give the output of /proc/cpuinfo?

[2016-03-09 06:46] kevincox commented on #13783
It is in stdenv, but sometimes if you build your own path it doesn't include stdenv. If the hope that it uses the gzip from stdenv on purpose it should probably reference `/run/current-system/sw/bin` explicitly although I guess that would break it on non-NixOS systems.

[2016-03-09 08:22] mz-pdm opened #13787 "Python selinux not in Python path"
## Basic info

To make sure that we are on the same page:

* System: 15.09.1113.23395c4 (Dingo) (applies to nixos-unstable as well)
* Nix version: nix-env (Nix) 1.10 (applies to nixos-unstable as well)
* Nixpkgs version: "15.09.1113.23395c4" (applies to nixos-unstable as well)

## Describe your issue here

While `libselinux' builds working Python bindings for Python, they are not
accessible in Pyt

[2016-03-09 08:59] rakshazi commented on #6689
any update on this?

[2016-03-09 09:27] hrdinka commented on #13626
I can confirm that this was fixed via https://github.com/NixOS/nixpkgs/pull/12748. The commit is on current `release-16.03` branch. An update of your channel/repo should do it.

[2016-03-09 09:28] sjau opened #13788 "Chromium - Invalid ELF Header"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)
Linux subi 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
16.09pre78286.0bf8a1a (Emu)

* Nix version: (run `nix-env --version`)
nix-env (Nix) 1.11.2

* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkg

[2016-03-09 10:00] matthiasbeyer commented on #13760
Oh. Well, I guess we should document `command-not-found` better, as I didn't knew about this possibility...

[2016-03-09 10:05] edolstra commented on #13770
Staging also bumps the default openssl to 1.0.2, which we still need to cherry-pick to 16.03.

[2016-03-09 10:08] matthiasbeyer commented on #13760
`command-not-found` fails for me :cry:

[2016-03-09 10:21] offlinehacker commented on #6689
Because, building atom deterministically from source on nix is hard(or at
least it used to be) and not worth it.

If nix losens constraints to not have fully deterministic inputs for cases
where this is insane from standpoint of the package, would help a lot, but
until then I rather have simple packages created from binary releases, as
completly magical mess that somehow tries to handle all the in

[2016-03-09 10:22] hrdinka commented on #13776
Can we close this in favor of https://github.com/NixOS/nixpkgs/pull/13775?

[2016-03-09 10:52] sjau commented on #13788
can be closed. Download got corrupted somewhere. Thx to clever on freenode

[2016-03-09 10:52] #13788 closed

[2016-03-09 11:11] garbas commented on #13768
@rycee: tnx ... looks like we missed to add this

[2016-03-09 11:21] peti commented on #13760
It's a feature of NixOS. Not sure how to install that on other host systems.

[2016-03-09 11:23] peti commented on #13783
I think it's perfectly fine for `tar` to have optional dependencies on various compressors to be found at run-time. That's not a bug, IMHO.

[2016-03-09 11:23] #13783 closed

[2016-03-09 11:31] matthiasbeyer commented on #13760
I'm on nixos.

[2016-03-09 11:41] garbas commented on #13768
[fixed](https://github.com/NixOS/nixpkgs/commit/d014088c95dc65a1cfa6f4f4ef4384c7876d5970)

[2016-03-09 11:41] #13768 closed

[2016-03-09 11:59] domenkozar commented on #13590
Temporary workaround on arch: https://gitlab.com/johnth/aur-xen/commit/980a43d96ac1aa8796d16956a2b244010a24a378

[2016-03-09 12:01] jgillich commented on #13782
I already checked that, sse2 appears in the ouput (Ivy Bridge hardware, so yea..). Chrome also worked fine till I upgraded to the latest channel recently.
[code]
[code]

[2016-03-09 12:06] jgillich commented on #13782
Hmm, when I execute the path to Chrome without the wrapper, (`/share/google/chrome/google-chrome`) it works..
``

[2016-03-09 12:10] rycee commented on #13768
Thanks for the quick fix!

[2016-03-09 12:40] copumpkin commented on #13778
I think we'll need to switch from using the CF (light) up on opensource.apple.com to the CF from [here](https://github.com/apple/swift-corelibs-foundation/blob/master/CoreFoundation/String.subproj/CFAttributedString.c), which seems to have the additional stuff.

cc @pikajude who's also interested in this sort of stuff.

[2016-03-09 12:42] jgillich commented on #6689
I could go on for hours about how bad Bracket's build process is for packaging, sounds like it's the same for Atom. :disappointed:

[2016-03-09 12:56] jgillich commented on #13776
@hrdinka This is just an issue to accompany the PR I suppose, not that it would've been necessary.

[2016-03-09 13:54] domenkozar commented on #13559
I've removed fixed packages. Could we get the rest of them to build?

[2016-03-09 14:22] hrdinka commented on #13753
Please check if https://github.com/NixOS/nixpkgs/pull/13791 fixes this.

[2016-03-09 14:44] olejorgenb commented on #9415
Anyone had any luck with proprietary nvidia driver?

[2016-03-09 15:08] paul-e-cooley commented on #13628
@copumpkin Is there a writeup on how I can change those AMIs myself? Or do they absolutely require a build from hydra?

[2016-03-09 15:09] copumpkin commented on #13628
I don't know of a writeup, but I definitely built them outside of hydra. I don't recall how I did it, but it had something to do with https://github.com/NixOS/nixpkgs/blob/master/nixos/maintainers/scripts/ec2/create-amis.sh and https://github.com/NixOS/nixpkgs/blob/master/nixos/maintainers/scripts/ec2/amazon-image.nix.

Also, there are beta 16.03 AMIs up somewhere. Someone posted them to the maili

[2016-03-09 15:10] FRidh commented on #13787
I can import `selinux` just fine.
[code]
How did you install `libselinux` and `python`? You will have to use `nix-shell` to get this working. Just installing with `nix-env` or through `environment.systemPackages` won't work with Python.

[2016-03-09 15:12] FRidh commented on #13612
@ip1981 is this issue solved?

[2016-03-09 15:21] ip1981 commented on #13612
No :-)

[2016-03-09 15:31] paul-e-cooley commented on #13628
If there are beta AMIs, I can definitely give those a try. I haven't seen a date for the 16.x release. Guess I should go look at the roadmap. Bazaarvoice is very interested in using NixOS to replace all of our amazon linux images and this is pretty much the last thing holding us back from streamlining our deployment strategies and moving to something we can better control.

[2016-03-09 15:33] copumpkin commented on #13628
That's very exciting!

Looks like I was wrong about the AMIs, but they'll likely be fixed, and also included a link to how they were made: http://lists.science.uu.nl/pipermail/nix-dev/2016-March/019951.html

[2016-03-09 15:39] domenkozar commented on #12141
@datakurre I'll finally have time to dig into this one, can you provide me a way to reproduce this easily? Just something I can run and debug

[2016-03-09 15:43] paul-e-cooley commented on #13628
Thanks, @copumpkin. I'll spend some time this week trying to get the images rolled. Without the user-data fix, we can't really use Nix for our deployments. So I need to get on the ball here. Cheers.

[2016-03-09 16:42] jagajaga commented on #11669
ping

[2016-03-09 16:42] jagajaga commented on #5915
PIng all

[2016-03-09 16:43] jagajaga commented on #10490
Still builds nowadays..

[2016-03-09 16:43] jagajaga commented on #8938
ping

[2016-03-09 17:06] edolstra commented on #13628
I can generate new 15.09 AMIs, which are needed anyway to fix #12613. Don't know if that will fix this issue though.

It's best not to mess with 16.03 at this point.

[2016-03-09 17:50] ocharles commented on #5915
Pinging about what?

[2016-03-09 17:54] jagajaga commented on #5915
About any new information and status :)

[2016-03-09 18:10] Ericson2314 commented on #10165
+1 To declaritively wrap a windows program with all the relevant wine settings would be amazing.

[2016-03-09 18:22] domenkozar commented on #10490
@jagajaga you're saying this is still an issue?

[2016-03-09 18:34] jagajaga commented on #10490
Yes.

[2016-03-09 18:40] kklas commented on #13058
Fixed with https://github.com/NixOS/nixpkgs/commit/aac666e302807805154190ebe105711d585c90ee

[2016-03-09 18:40] #13058 closed

[2016-03-09 18:57] domenkozar commented on #6568
I've removed stubdom build in xen as it was breaking the compilation and also removed now unneeded dependencies (including polarssl). See https://github.com/NixOS/nixpkgs/commit/9ad60eae48c86ea2b8aa8901e87d6ba90f399400 and commit 9c36de8cb2260d1992b41555059bccd105cbd09e

[2016-03-09 18:57] #6568 closed

[2016-03-09 19:08] datakurre commented on #12141
Ok. This example is nonsense, but should show the issue. Given

**default.nix**:

[code]

**buildout.cfg**:

[code]

**Result**

[code]

The default.nix setup zc_buildout_nix, which is just like buildout, but always prefers /nix/store-installed eggs found in its own PYTHONPATH. The buildout.cfg just creates bin/buildout-script, which only includes paths form nix-store. bin/buildout fails, because

[2016-03-09 19:22] abbradar commented on #13559
StepMania is fixed in https://github.com/NixOS/nixpkgs/commit/c82d282f06eabbe37485ca35504a7725a082361d

[2016-03-09 19:32] bennofs commented on #13136
@globin looks like it's broken again on nixos-unstable, even with the changes from that commit.

[code]

[2016-03-09 19:55] vcunat commented on #10490
I also confirm this. One of unpleasant consequences is that `nixos-help` and thus the system path gets rebuilt, which can be quite an I/O hit.

[2016-03-09 20:05] vcunat commented on #13590
Fixed then?

[2016-03-09 20:18] svanderburg commented on #12613
Hmm, I also hit the same problem as @cransom that my EC2 machine has become unbootable after upgrading it to 15.09 with exactly the same error that is shown in the system log... :(

Is this fix already part of the 15.09 release? I tried building against the latest 15.09 branch but it didn't seem to work for me :(

[2016-03-09 20:22] vcunat commented on #8318
That should be unrelated to the problems described in the title. It's to support running stuff *built* previously against fontconfig 2.10.

[2016-03-09 20:50] teh commented on #12613
The fix is in 15.09 but the AMIs haven't been updated yet, that may explain why you hit it. The best solution for 15.09 is to use a machine that doesn't have local storage (e.g. c4.*)

[2016-03-09 20:57] svanderburg commented on #12613
Sigh, that's not option for me atm... luckily I was able to limit the "damage" though....

[2016-03-09 21:16] copumpkin commented on #13782
But unless I'm missing something, it doesn't actually appear in any of the output you list. There's ssse3, sse4_1, and sse4_2, but no sse2. If it's blindly checking for sse2, that could confuse it.

[2016-03-09 22:32] evujumenuk commented on #11003
Well, since no one seems to know (or maybe, no one is inclined to tell) how userspace is supposed to wait for the kernel to finish probing all devices, the status is exactly as it was in November. I can try `nixos-rebuild --upgrade`ing and rebooting the machine in question at the next opportunity, but with exactly one kernel release since the last time I looked, and the changelog of that release n

[2016-03-09 22:47] vcunat commented on #13774
I believe our typical workflows do *not* include very frequent clones/fetches. (I discount active contributors, but there will likely never be more than thousands of those.)

It seems to me personally that CocoaPod wasn't using git in a fitting/efficient way. In any case, I believe NixOS.org is rather far from having similar problems and it shouldn't be hard to cope with them in case they appear i

[2016-03-09 22:47] #13774 closed

[2016-03-09 22:53] NerdGGuy opened #13798 "Haskell support '--profiling-detail` and `--library-profiling-detail'"
Cabal looks to have some new options in 1.24 that would be nice to support. Maybe we could even provide backwards comparability?

https://github.com/haskell/cabal/commit/b778e5f925ac9e3a88ac44610c88ca343f23ccce

Do we have options around setting the profiling details already?

[2016-03-10 01:45] NeQuissimus commented on #13136
@bennofs Can you look through your `journalctl` ? I just had something odd happening, where `wpa_supplicant` seemed unaware of the interface rename:

[code]

I wonder if this is what happened to you.

[2016-03-10 02:45] grahamc commented on #13529
I'm closing this because I think things are improved, and if someone wants they can open a new one :)

Thank you!

[2016-03-10 02:45] #13529 closed

[2016-03-10 02:48] grahamc commented on #13452
This appears to be resolved in 16.03. Can anyone else confirm?

[2016-03-10 03:34] 7c6f434c commented on #13774
As far as I understand, the things CocoaPods done wrong (according to
GitHub) are:

1. Not having a way for the end users to use CocoaPods without checking
out from Git (Nix has channels)

2. Having thousands subdirectories as a flat structure inside one
directory (we have our hierarchical classification, and if we abandon it
I hope we just switch to the `n/ng/nginx` approach)

3. Having periodic

[2016-03-10 04:21] copumpkin commented on #13779
Main reason is that it wasn't trivial when I tried bumping the versions, so I made them inconsistent instead. I'd love for someone to take care of bumping the remaining ones and ironing out issues that arise. It can be a bit of a delicate dance though, given the relationship with the bootstrap tools.

[2016-03-10 06:56] jgillich commented on #13782
You are missing that DOES appear in the output, try searching for it. :)

[2016-03-10 06:59] jgillich commented on #13782
To me, this looks like grep segfaults and therefore the return code != 0. Again, if I execute the launch script without the wrapper, it works just fine.

[2016-03-10 08:20] vcunat commented on #13452
I confirm this, both on 16.03 and recent master.

[2016-03-10 08:20] #13452 closed

[2016-03-10 09:41] zimbatm commented on #9246
Closing as probably abandoned and not reproducible on Linux 4.4.4. Feel free to re-open this issue if you want to pursue this issue.

[2016-03-10 09:41] #9246 closed

[2016-03-10 09:49] zimbatm commented on #6784
I doesn't look like we have a way to declare multiple instances of a service yet so this could still be useful.

Is the work going to be pursued or should I close the issue ?

[2016-03-10 09:54] zimbatm commented on #6784
Maybe this should be done the other way around. `nginx` would act as a template and if you want multiple instances of it you call `mkInstance name: template:`.

[2016-03-10 10:21] yokto opened #13808 "KDE shutting down when idle"
## Basic info

unstable branch
loginmanager: sddm
## Describe your issue here

KDE just randomly shuts down when i'm afk. As far as I can see there are no errors anywhere it just shutsdown.

[xsession-errors.txt](https://github.com/NixOS/nixpkgs/files/166920/xsession-errors.txt)

[2016-03-10 10:40] vcunat commented on #13559
The tests are getting lots of these errors again:
[code]

Does someone know what's happening in there? I know we've had them relatively often in the past.

[2016-03-10 10:41] domenkozar commented on #13559
This looks to me like it's because it wants to build the manual due to some reference to a package.

[2016-03-10 10:59] domenkozar commented on #13559
@vcunat it's most probably due to https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/security/grsecurity.nix#L31

[2016-03-10 11:00] vcunat commented on #247
I checked a few things that were clearly done, some of them now in f412fb1.

[2016-03-10 11:05] vcunat commented on #13559
Ah, right. My new code only purges derivations, and `kernelPatches` is a plain attrset that contains derivations in *lists* (which aren't traversed during purging).

[2016-03-10 11:08] aneeshusa opened #13809 "Use HTTPS for all URLs"
I did some searching for previous discussion on this, but it's hard to search for, so let me know if there is some.

We should use HTTPS for all URLs (for URLs that aren't available over HTTPS, we should push the webmasters to adopt it ASAP). Unfortunately, there are a lot of URLs to change (see below).

I'm going to start by working on the generated URLs first, e.g. inside emacs packages, because

[2016-03-10 11:15] ttuegel commented on #13808
When you say it shuts down, do you mean the desktop manager logs your user out, or it actually powers the computer down?

[2016-03-10 11:20] #10757 closed

[2016-03-10 11:20] ttuegel commented on #10757
No longer an issue with Plasma 5.5.

[2016-03-10 12:20] joachifm commented on #13809
Some more numbers:
[code]

[2016-03-10 12:44] domenkozar commented on #13809
We check anything that comes from the network with a hash. It's way better to fix https://github.com/NixOS/nixpkgs/issues/4491

[2016-03-10 12:57] copumpkin commented on #13809
Yeah, given that by construction we must check hashes, assuming we have good hashes, the only remaining issue is a potential privacy leak. Not necessarily as big of a deal as integrity, but when people care they generally do care.

[2016-03-10 13:02] jagajaga commented on #2946
`ristretto` works on xmonad nowadays.

[2016-03-10 13:29] edolstra commented on #13809
I don't see a major reason to require https. Sure, if upstream provides both http and https, then we should prefer https, but I don't think we need to require it.

[2016-03-10 13:38] domenkozar commented on #492
I think we should include ncurses and sqlite by default. They're both very light and convenient.

[2016-03-10 14:04] vcunat commented on #13809
http -> https transition wouldn't improve privacy too much, as it's still visible who you connect to, when, and how much you download. I believe that's often good enough to determine what files you downloaded exactly.

BTW, https seems much easier to compromise that to find a plausible second pre-image of a given hash. Note that the best *arbitrary*-preimage attack on md5 [has compexity > 2^120](h

[2016-03-10 15:32] #12749 closed

[2016-03-10 15:38] yokto commented on #13808
It logs the user out

[2016-03-10 15:44] zimbatm commented on #7269
Installing `man_db` instead of `man` solves the escaping issues if PAGER is unset.

I suppose that we are using `man` by default because it's much smaller (228K vs 2.2M), it would be good to get a confirmation on that. The biggest different is that man-db includes translated version of the pages, we could strip them out and gain 1M back.

`man` is hosted at  http://primates.ximian.com/~flucifredi/

[2016-03-10 15:46] romildo commented on #10885
Nothing new here?

A similar problem happens with `pythontex`:

    $ pythontex
    Traceback (most recent call last):
      File "/nix/store/clvqqknjxa0ynwn9ps2b6kc1kin75qyw-texlive-pythontex-0.13/scripts/pythontex/pythontex.py", line 50, in <module>
        import pythontex2 as pythontex
      File "/nix/store/clvqqknjxa0ynwn9ps2b6kc1kin75qyw-texlive-pythontex-0.13/scripts/pythontex/pythontex2.p

[2016-03-10 15:54] romildo commented on #10885
cc @vcunat

Maybe while a good solution is not engineered, a package for `pygmentex` without the TeX stuff can be added to `nixpkgs`. It would contain the binary with support for the needed Python dependencies.

What do you think?

[2016-03-10 15:59] yokto commented on #13808
I think it's the Screen Energy Saving option. Just now, I turned it to one minute and after it comes back plasma isn't there anymore (only the windows are left).

[2016-03-10 16:00] zimbatm commented on #7269
^ PR that implements the suggestion

[2016-03-10 16:50] domenkozar commented on #13559
@vcunat are you planning to fix this soonish or should I make a temporary fix?

[2016-03-10 17:06] vcunat commented on #13559
By "fix" you mean to traverse lists as well? I don't plan that soonish. And in this case I do *not* think we actually want to display the contents of the whole attrset with patch descriptions anyway. I'd go with the usual `mkDefault`, which I presume is the temporary fix you planned?

[2016-03-10 17:09] domenkozar commented on #13559
@vcunat yes, but we also want to catch this kind of errors. Didn't we have some hackish logic to detect hashes in manual?

[2016-03-10 17:10] vcunat commented on #13559
I thought we did some check. I don't fully understand this issue, apparently.

[2016-03-10 17:21] vcunat commented on #10885
There aren't any true binaries, are there? It's just python scripts IIRC. But still, what you propose is probably the easiest way to resolve this somehow.

[2016-03-10 17:24] grahamc commented on #13809
The sha256 hashes doesn't make HTTPS worthless, and indeed agree it would be valuable to prefer HTTPS. It might be good to add this to a linter, or a PR review checklist (is there such a thing?) and work on it going forward. While I'm not sure updating all existing http URLs is important enough to drop everything and implement, I would bet such a PR would be accepted.

[2016-03-10 17:27] vcunat commented on #13808
Huh, this part of log is really fishy:
[code]

... but I certainly don't see the cause. I can't even decide if it just crashed or it tried to shut down and crashed during that.

[2016-03-10 18:17] bennofs commented on #13136
No I'm still getting:

[code]

[2016-03-10 18:39] NeQuissimus commented on #13136
Odd, mine worked fine after a reboot

[2016-03-10 19:38] davidak opened #13820 "add kde5.kdenlive again"
it was present in NixOS 15.09 in Version 15.04, now it's gone completely

added in  https://github.com/NixOS/nixpkgs/commit/5b640cd1a58e336073258162ada9f793519c2e4e#diff-38d7d08a4bd041e60696a477481afa3d

@ttuegel @viric
### Expected result

be able to install Kdenlive 15.12
source is already there: https://github.com/NixOS/nixpkgs/blob/6a4c8b0a12e9a2508f049434a9b302c108a62a40/pkgs/desktops/kde-5/a

[2016-03-10 19:40] ttuegel commented on #13820
@cillianderoiste @viric Will you be able to update Kdenlive for the 16.03 release?

[2016-03-10 20:05] romildo commented on #10885
It is just a Python  script that depends on the `Pygments` module.

[2016-03-10 20:48] domenkozar commented on #13559
OK, I'll look into it. I'll also write a script to generate a list of packages that need fixing since tracking them is becoming a bit tedious.

[2016-03-10 20:56] domenkozar commented on #13737
So the bottom line is, we should tag the commit before branching off instead of afterwards. Right?

[2016-03-10 22:19] romildo commented on #10885
My attempt at it:

[code]

[2016-03-10 23:52] aneeshusa commented on #13809
Heh, I might have gotten a bit excited after staying up all night because I couldn't sleep.

Agreed that hashes are the main security protection here, and that upgrading them provides a more tangible security boost (I'm waiting eagerly for #12645). Also agreed that the goal is to prefer, not require HTTPS, and that downloading from ipfs and the like is useful. I do think the improved privacy is ni

[2016-03-10 23:58] wandernauta commented on #13809
It seems that for a lot of packages, HTTP is used because HTTPS just doesn't work (no cert, no valid cert, etc). I've made a [list of URLs in nixpkgs that are currently hardcoded to use HTTP but also work verbatim over HTTPS](https://gist.github.com/wandernauta/f5c87ddda2b702cc56e0), by sending a HEAD request to each and seeing if a 200 OK pops out. It doesn't take redirects, mirrors, etc into acc

[2016-03-11 06:22] datakurre commented on #12141
@domenkozar The easiest way to fix the above, I think, would be to opt-out from wheels/pip removing setuptools namespace ``__init__.py``s. What I read, that removal is there only to please packaging tools, which install all packages into single tree and break when to packages own same namespace ``__ini__.py``. Although, could be hard to get a such option to upstream.

A good enough alternative wou

[2016-03-11 07:10] layus commented on #9644
The problem does not seem to come from Qt itself. I have cherry-picked 16b40c7 on top of 7acbdcd, and okular is fast. Something else happens between 7acbdcd and 317dd06.

Any idea how to continue debugging ?

[2016-03-11 08:13] cleverca22 commented on #10165
that does sound like it would be useful, but similar past issues&PR's have been shot down, #13625 #10006 #7597 #10981

[2016-03-11 09:49] mz-pdm commented on #13787
I see. I installed the package by putting it into configuration.nix. Using nix-shell works for me.
Where is the nix-shell workaround documented? I haven't seen it anywhere.

[2016-03-11 10:29] mz-pdm commented on #13753
It's better now, the files are installed. But entry in .../share/info/dir file is still missing, so the "zsh" is still not visible in Emacs (see Steps to reproduce above).

[2016-03-11 12:51] FRidh commented on #13787
It wasn't clearly in the manual but should be once #13700 is included.

[2016-03-11 12:51] FRidh commented on #13787
Because this solved your issue I will close this ticket.

[2016-03-11 12:51] #13787 closed

[2016-03-11 13:03] joepie91 commented on #10165
@cleverca22 To emphasize my previous statement:

It's not so much a proposal for modifying nixpkgs to include this functionality, it's more of a question on how to approach it from an express-writing point of view. I'll have a look at those PRs to understand the implementation, though - however, they don't seem to bring in any non-standard WINE versions or configurations from a quick glance.

[2016-03-11 13:21] makefu commented on #12467
@fpletz Sorry to poke again, any updates on this one?

[2016-03-11 13:58] makefu commented on #12467
a quick follow-up. i found that graphiteApi and graphiteWeb themselve have dependencies which are note included when you simply set the PYTHONPATH. what i do is to use the same technique as in https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/misc/bepasty.nix#L107 (a module i maintain) to include all recursive dependencies.

i will submit a pull request for the changes shortly so

[2016-03-11 14:36] joelmo commented on #10165
I would use buildEnv, you pass several different environments and makes symlinks to the passed derivations. But think about the registry, every wineprefix have it's own so one would probably need to merge these. You could create two different prefixs and install different apps to them to then see if any other files differs.

[2016-03-11 15:03] hrdinka commented on #13753
As of https://github.com/NixOS/nixpkgs/pull/9326 the `dir` file will be auto generated for system profiles. It however won't be generated for user profiles. If you're on NixOS adding `zsh` to your system packages should do the job. If you're not here is a workaround https://github.com/NixOS/nixpkgs/issues/3030.

[2016-03-11 15:05] edolstra commented on #8729
GCC 5 is now in staging (dd53c65).

[2016-03-11 15:05] #8729 closed

[2016-03-11 15:06] edolstra commented on #909
Binutils 2.26 is now in staging.

[2016-03-11 15:06] #909 closed

[2016-03-11 15:09] danbst opened #13839 "EC2 instance bricked after nixos-rebuild switch --upgrade (unstable channel)"
## Basic info

I've used EC2 instance created from image nixos-14.12.323.9164307-x86_64-hvm
Just now I've typed in:
[code]
I didn't notice that warning when upgrading (thanks for long console output history!), because upgrade log was enormous in size.
## Describe your issue here
The EC2 instance doesn't boot anymore

### Expected result
[code]

### Actual result
[code]
### Steps to reproduce

I do

[2016-03-11 15:34] edolstra commented on #13770
Done in 15db5f4353ee882ab41770f4d61a0bc775824ee7.

[2016-03-11 15:34] #13770 closed

[2016-03-11 16:26] Ericson2314 commented on #13625
Practically, separate repositories is a *huge* pain because either they need to kept firmly in sync, and/or abstractions and refactors won't take both into account. Just using the unfree flag, or something to indicate missing files, is *much* better IMO.

[2016-03-11 16:31] Ericson2314 commented on #10165
I wasn't aware of that controversy, wow. Regardless, I see no issue with adding the infrastructure to declaratively create wine prefixes, as opposed to packaging of proprietary software with that infrastructure.

A good start would to make a branch with those rejected PRs, refactor out some common boilerplate, and get that merged but not the rejected packages.

[2016-03-11 16:45] hrdinka commented on #13839
Having fs options being a string _should_ not brick your installation but it looks like it did. Currently it splits a string into an array have a look at:
https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/tasks/filesystems.nix#L51

Please post your current `filesystems` and `initrd` config. If possible boot the system with a higher `loglevel` kernel argument.

the best way to debug this m

[2016-03-11 17:07] a1russell commented on #13134
Alright, installing `shared_mime_info` explicitly in `systemPackages` on my 15.09 system does create `/run/current-system/sw/share/mime/packages/freedesktop.org.xml`, although nothing else exists in `/run/current-system/sw/share/mime` besides that.

I still am not aware of how to manually add a `postBuild` for `systemPackages`.

[2016-03-11 17:08] domenkozar commented on #12655
Just for reference: upstream uses snakeoil certs: https://github.com/letsencrypt/letsencrypt/commit/be889d379437be18ce1c0518b2cfec15f6b8dd6a

[2016-03-11 17:28] danbst commented on #13839
So I have some `postDeviceCommands` in my initrd
[code]

The `filesystems` config is simple (from https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/virtualisation/amazon-image.nix):
[code]
Now I've found a commit in master https://github.com/NixOS/nixpkgs/commit/ed5920ec6552be6a1e03b15a21db9f3c792898eb which removes the `kill -9 -1` line. I think this is the root cause of system not booti

[2016-03-11 18:04] abbradar commented on #12655
FWIW I use a custom activation script which generates a self-signed certificate if one is not yet available and symlinks it to a place where nginx picks it from. Then I have a post-process step for acme service where I force this symlink to a new value.

[2016-03-11 18:07] domenkozar commented on #12655
@abbradar yeah I'm working on something similar.

[2016-03-11 18:10] hrdinka commented on #13839
Yes https://github.com/NixOS/nixpkgs/commit/ed5920ec6552be6a1e03b15a21db9f3c792898eb seems to be the solution.

It's best not to run `nix-collect-garbage -d` until you are 100% that everything works. If you still have an old generation of your system lying around you can simple choose it in your boot loader.

You can patch your initrd by editing the init file. Afterwards repack it with:
[code]

Ba

[2016-03-11 18:24] Ericson2314 commented on #13625
I also question we why need to steer people towards free alternatives. IMO any software running with wine will be inherently more clunky. The experience of using such software should change more "hearts and minds" than a blanket prohibition of "redundant" proprietary software.

I do agree however that packages that rely on files that cannot be downloaded are really not true packages. Just as one m

[2016-03-11 19:34] jagajaga commented on #9466
Aren't there any new fixes on that?

[2016-03-11 19:34] jagajaga commented on #8633
@matthiasbeyer is this true nowadays?

[2016-03-11 19:34] jagajaga commented on #10854
Wasn't this fixed yet?

[2016-03-11 19:35] jagajaga commented on #10382
Nothing new on this issue?

[2016-03-11 20:27] spinus commented on #10382
https://github.com/NixOS/nixpkgs/pull/11886

[2016-03-11 20:33] mz-pdm commented on #13753
OK, hopefully it will work. (I can't test it as I'm a NixOS beginner and I couldn't find out how to install a package from unstable to the system profile of a stable system.)

[2016-03-11 20:59] khumba commented on #9755
I tried this on Gentoo with xorg-server-1.17.4 (same version as NixOS), xf86-video-intel at 636b5291 (2016-02-13), and OpenRC, and couldn't repro.

[2016-03-11 21:02] davidak commented on #6265
I still can't boot NixOS on a PC with BIOS!

tested latest images:

nixos-graphical-15.09.1113.23395c4-x86_64-linux.iso
nixos-graphical-16.03.30.2068621-x86_64-linux.iso

[2016-03-11 21:08] davidak commented on #8633
@jagajaga what do you mean exactly?

I still can't boot NixOS from USB on a PC with BIOS! Tested today with 15.09 and 16.03-beta.

[2016-03-11 21:10] domenkozar commented on #12141
I've played our with recursive pth loader, I'm getting closer but it still doesn't work.

[code]

[2016-03-11 21:35] datakurre commented on #12141
I already forgot pth files. But I'm missing, how that would help buildout generated scripts.

[2016-03-11 21:38] domenkozar commented on #12141
Because that's where namespace magic happens:

[code]

[2016-03-11 21:42] datakurre commented on #12141
And those were already read, if the package was in PYTHONPATH, but not, when it was dynamically added into sys.path. You are able to patch that?

[2016-03-11 21:57] jagajaga commented on #8633
@davidak that's strange. I've booted nixos from usb on a bios PC about 1 month ago... I just did `dd` of an image to my usb flash drive.

[2016-03-11 22:04] domenkozar commented on #12655
I have a prototype but acme complaints:

[code]

[2016-03-11 22:12] domenkozar commented on #12655
We'll have to symlink the certs and unlink when simp_le runs :(

[2016-03-11 22:20] jgillich commented on #12655
Unfortunately yes, I worked around it by changing the path to some temporary location.

[2016-03-11 22:22] fpletz commented on #12655
@domenkozar Are you using the version from this PR? https://github.com/NixOS/nixpkgs/pull/13451

This should have support to change SANs.

[2016-03-11 22:23] domenkozar commented on #12655
Nope, older version. I'll check with that PR.

[2016-03-11 22:25] jgillich commented on #12655
That is good news. So all that needs to be done now is create a snake oil cert at `/var/lib/acme/...` when the cert doesn't exist?

[2016-03-11 22:32] jgillich commented on #13782
Closing since nobody else is affected. I ran out of space during the upgrade and that might have caused it - even though it shouldn't, it's not really Chrome-related.

[2016-03-11 22:32] #13782 closed

[2016-03-11 22:40] domenkozar commented on #12655
I'm not using very ugly hack with activationscripts (which should just be a systemd oneshot), see https://github.com/domenkozar/nixpkgs/commit/4e256ca59966fba8e63e2d6c7d6898a6f2abcd3c

[2016-03-11 22:44] davidak commented on #8633
@jagajaga i can confirm that it works with dd!

[2016-03-11 22:51] davidak commented on #6265
I tried again with `dd` and it works!

@domenkozar so only the manual must get changed.

On OS X you have to use `bs=4m` instead of `bs=4M`. You don't have dd installed on Windows. Other Distros recommend http://rufus.akeo.ie/ someone with Windows could try it.

[2016-03-11 23:13] jgillich commented on #6265
The wiki is currently being converted into documentation, after which it will be shut down. Help is always welcome, #13310 would be the issue for this.

Win 32 Disk Imager is a good alternative to dd on Windows: https://sourceforge.net/projects/win32diskimager/

[2016-03-11 23:43] zimbatm commented on #13809
Changing meta.homepage urls to use https is probably good since it's going to be accessed by humans but please don't spam existing PRs. If you feel strongly about this then it's better submit your own PRs.

For source urls, I believe that link stability is more important than using SSL. We already have a protection mechanism in place that is secure. HTTPS is more computationally expensive, takes l

[2016-03-12 00:42] Rizary opened #13852 "containers with extraModules in host"
## Basic info

To make sure that we are on the same page:
- Kernel: Linux Rizilab 4.3.4 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux
- System: 15.09.1076.9220f03 (Dingo)
- Nix version: nix-env (Nix) 1.10
- Nixpkgs version:"15.09.1076.9220f03"
## Describe your issue here

I create new containers called beHaskell with this configuration

[code]

when i tried to do `nix-channel --update`

[2016-03-12 06:32] vcunat commented on #10885
So pygmentex works as expected now?

[2016-03-12 06:40] vcunat commented on #10854
No, I don't think any step has been taken towards this. And I can't see what could be done about it, except for work-arounds to use shorter path for nix store.

[2016-03-12 08:20] darealshinji commented on #10854
If the problem is really that the paths are too long and you don't know how to fix it yet, does it help if you're using symbolic links as shortcuts? I.e. `/opt/6RthxJ -> /opt/2dot7TiB_k8vaketas/ts2/mittevarundatav/_home/m_local/bin_p/Nix/paketiho`

[2016-03-12 09:59] hrdinka commented on #13852
Is your container declarative or imperative? It looks like you've mixed these two configuration schemes. When created as described in your steps to reproduce everything should be fine because your container will be assigned an IPv4 during creation.

[2016-03-12 10:24] domenkozar commented on #13559
I've pushed a fix https://github.com/NixOS/nixpkgs/commit/dbcb9010360aa421fddbeee14d6de8d1aef187a5 to release-16.03, but now I'm getting some really weird errors on idempotent nixos-install invokations:

[code]

Happens oslo on 16.03 channel commit (that passed tests), so I'm really confused.

[2016-03-12 10:50] Rizary commented on #13852
@hrdinka , i mix declarative and imperative. At first, i did imperative and it has IPv4 when i did show-ip. But, i cannot connect to the internet, because my "imperative" way does not recognize my ethernet card.

That's when i remember that i added extraModules to my host configuration.nix. So, I added these extraModules to the containers via "declarative" way, and suddenly, the IPv4 is missing an

[2016-03-12 11:26] hrdinka commented on #13852
Looks like you've got several things mixed up here:

* Mixing declarative and imperative containers does not work. Declarative containers are built together with your host configuration. This means after a host rebuild your container will be configured as defined in the host config. After a rebuild within the container it will obey your containers config file. There is no merging or mixing taking

[2016-03-12 12:03] timbertson opened #13859 "dropbox can't start due to missing libGL.so.1"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)

[code]

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)

[code]

* Nix version: (run `nix-env --version`)

nix-env (Nix) 1.10

* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)

"16.09pre78567.370c318"

## Describe your issue here

When I run `dropbox` (

[2016-03-12 12:09] nbp commented on #13153
The manual is probably the easiest, part of our documentation that we can start with.  This is a well known document format and i18n is already addressed in multiple projects.  More over localizers are probably already familiar with the technology.

Still, I think adding such infrastructure should go with at least the intent to localize the documentation in one or two locale right away.

Do we kno

[2016-03-12 13:24] romildo commented on #10885
It works! It can be tested by downloading the example document from the distribution on [CTAN](https://www.ctan.org/pkg/pygmentex), unzipping the downloaded files, removing the Python script and the LaTeX style class, and than compiling `demo.tex`:
[code]
The result is [`demo.pdf`](https://github.com/NixOS/nixpkgs/files/170417/demo.pdf), with many examples of code listings typeset by Pygments.

[2016-03-12 14:46] hrdinka commented on #13753
There are many ways to do this. If you just want to add it to your `systemPackages` you can import the unstable nixpkgs and install it from there. First clone nixpkgs repo then add the following to your config:
[code]

`$pathToNixpkgs` can either be a relative path to your nixpkgs clone or an absolute path utilizing your `NIX_PATH` environment variable. Checkout your `NIX_PATH` it should contain s

[2016-03-12 15:14] grahamc commented on #13290
re: the bootstrapping page, I also needed libssl-dev and liblzma-dev.

[2016-03-12 17:21] FRidh commented on #13163
I'm now testing the RC.
@bjornfor , do you know whether `nix.useChroot = true;` would hide processor information?

[2016-03-12 17:23] jagajaga commented on #8633
So what's the problem? :confused:

[2016-03-12 17:36] bendlas commented on #13859
I think the problem is, that dropbox ships with its own pyqt, which also depends on libGL:
[code]
I'll try to build dropbox against our own pyqt...

[2016-03-12 18:07] bendlas commented on #13859
Ok, linking up our PyQt .so files against the python interpreter embedded with dropbox doesn't really seem to work (and it would be a pretty crazy thing to ship anyway).
I think applying https://github.com/bendlas/nixpkgs/commit/a6a85b82b43fa0972b7b02ff07176bfb455a0f6c should fix it. @ttuegel ?

[2016-03-12 18:10] bendlas commented on #13859
@timbertson could you verify, that dropbox from the 15.09 channel already works for you?

[2016-03-12 18:17] #13060 closed

[2016-03-12 19:19] bjornfor commented on #13163
I'm pretty sure it doesn't.

[2016-03-12 19:28] timbertson commented on #13859
@bendlas Unfortunately it doesn't, but it's for a different reason:

[code]

Also from that same log, it printed out:

[code]

So then:

[code]

Adding this lib path to the nixpkgs unstable binary manually does work:

[code]

..so I'm pretty confident that your patch will fix my issue.

[2016-03-12 20:03] nbp commented on #13075
No, they enabled the branding because the license of the logo is fine now, and because they do respect the quality requirement mentioned by Mozilla.  Then as a side note, the Firefox package is maintained by Mozilla employee, on their spare time.

This requirement used to claim that if you were compiling your-self or making a custom version of Firefox, then you are not not supposed to use the bran

[2016-03-12 20:33] nbp commented on #12039
The build hook mechanism already exists and is made for distributing builds to computers which already have a nix-daemon running.

The question of cross-compilation is a bit harder, and would require a way to register in the `nix.conf` file, a reference to an emulation platform, whether this is `libvirt` or `qemu`.

Basically, the cross-compilation problem can be separated in 3 stages:

1. Cross-c

[2016-03-12 21:04] davidak commented on #8633
@matthiasbeyer is this issue solved for you or covered by the one of the linked issues? then please close it.

[2016-03-12 21:11] matthiasbeyer commented on #8633
This has long been solved, as I managed to install nixos from the fallback image.

I don't care anymore as I run nixos for more than 1 year now and I know about this... strange behaviour. I kept this open so one can fix it...

So yes, I will close this now.

[2016-03-12 21:11] #8633 closed

[2016-03-13 06:24] HittingSmoke commented on #12072
Is there still no fix for this aside from forking the config? Trying to get Nix setup to handle my web servers.

[2016-03-13 09:07] vcunat commented on #10885
OK, then I think we can close this.

[2016-03-13 09:07] #10885 closed

[2016-03-13 09:52] globin commented on #9466
In case you are using declarative network definitions wpa_{cli,gui} works for all tasks not writing to the config file, e.g. connecting to networks temporarily, reassociating, disconnecting, switching networks. If no networks are declared you have to specify the whole /etc/wpa_supplicant.conf yourself and will not be touched by the module. (#12172)

[2016-03-13 09:53] globin commented on #9578
I think this has been fixed by #12172

[2016-03-13 09:53] #9578 closed

[2016-03-13 12:15] Phreedom commented on #3986
I have removed the distinction between nixops and "standalone" images, packaged azure-vhd-tools-for-go, updated image generation and upload scripts for maintainers, pushed this into nixos master, regenerated the default image and tested it. The base commit for the current image is 158d723812e7364d8cadd7802d0b8d239fb227d8 .

[2016-03-13 14:07] FRidh commented on #13163
Evaluation with openblas 0.2.15: https://headcounter.org/hydra/eval/312337
Evaluation with openblas 0.2.16.rc1: https://headcounter.org/hydra/eval/312284

We get a segfault with scikitlearn when using 0.2.15, but not anymore with 0.2.16.rc1.
@bjornfor , could you try building the current PR?

[2016-03-13 14:07] FRidh commented on #13163
That is, this one #13870

[2016-03-13 14:47] wmertens commented on #6364
(triage) @berdario I am closing this issue as it is over a year old and likely fixed by updates in the mean time.

If it is still not fixed, it looks like the fix involves not loading different glibc versions in the same binary, which will need further investigation into what is linked where.

[2016-03-13 14:47] #6364 closed

[2016-03-13 15:26] berdario commented on #6364
I don't have that hardware anymore, so I'm unable to test. Agree that closing this might be the best if it cannot be reproduced anymore.

[2016-03-13 16:30] teh opened #13893 "Add "cabal clean" invocation to Haskell's generic builder"
@peti

If I run e.g. `cabal2nix . > default.nix` then the source will be `src = ./.` - i.e. it can include `dist` output. This caused me a fair amount of headaches recently because it resulted in weird linker errors.

I was wondering what you think about including a `cabal clean` in `./pkgs/development/haskell-modules/generic-builder.nix`, maybe only if `dist` exists?

[2016-03-13 17:17] nbp commented on #13120
@domenkozar
What is your configuration.nix used to reproduce this issue?

[2016-03-13 17:28] nbp commented on #13314
We should already have these chapters on the subject:
  http://nixos.org/nixos/manual/index.html#sec-configuration-syntax
  http://nixos.org/nixos/manual/index.html#sec-writing-modules

So I think we can close this issue.

[2016-03-13 17:28] #13314 closed

[2016-03-13 17:54] ben0x539 opened #13895 "apulse doesnt work w/ skype"
## Basic info

[code]
## Describe your issue here

Skype started with `apulse skype` with pulseaudio disabled doesn't output sound.
### Expected result

Skype plays sounds, eg. notification sounds and voice calls, or the test sound in the configuration window.
### Actual result

Skype is entirely silent.
### Steps to reproduce
1. Install nixos without pulseaudio, maybe just with openbox or somethi

[2016-03-13 18:01] bburdette commented on #13452
I filed a bug re this on the libreoffice tracker.  Was advised to use this command, which works for me on unstable (which still has the bug for others and not just me I hope):

`SAL_USE_VCLPLUGIN=gtk soffice`

[2016-03-13 18:25] jagajaga commented on #10377
cc @vcunat

[2016-03-13 18:27] jagajaga commented on #13414
Works for me nowadays.

[2016-03-13 18:32] zimbatm commented on #13351
Ideas are cheap, closing

[2016-03-13 18:32] #13351 closed

[2016-03-13 18:47] zimbatm commented on #9804
Closing as it's just an idea and we got Eelco's approval. Feel free to re-open if working on it or just push a PR.

[2016-03-13 18:47] #9804 closed

[2016-03-13 19:10] vcunat commented on #10377
I'm just getting this warning:

[2016-03-13 19:11] vcunat commented on #10377
I'm just getting this warning:
[code]
Otherwise the output seems normal to me, but I've never really used the utility.

[2016-03-13 19:13] vcunat commented on #10377
Oh, I see, `-v` is still a problem, as it was in Debian.

[2016-03-13 19:39] vcunat commented on #10377
Actually, that config file is provided by `chktex` package, so if I include it in your `texlive.combine`, it works fine even with `-v`.

Still, it's a bit confusing that the core provides `chktex` binary but doesn't fully support it.

[2016-03-13 19:39] zimbatm opened #13898 "HHVM compilation failure on master"
`nix-build . -A hhvm` on master fails with the following error:

[code]

/cc @thoughtpolice

[2016-03-13 19:42] zimbatm opened #13899 "xapianBindings compilation error on master"
`nix-build . -A xapianBindings` fails with:

[code]

/cc @chaoflow

[2016-03-13 19:46] vcunat commented on #10377
I currently can't see a simple way how to improve that.

[2016-03-13 19:47] zimbatm commented on #13735
/cc @7c6f434c

[2016-03-13 19:57] FRidh commented on #492
@jgeerds could you show an example of how you use the tox test runner with Nix?

[2016-03-13 20:01] jagajaga commented on #172
Is it relevant nowadays?

[2016-03-13 20:07] vcunat commented on #172
It's still bloated but excluded from most closures.

[2016-03-13 20:11] vcunat commented on #13898
That's because of glibc-2.23. `isnan` and `isinf` occurrences should be prefixed by `std::` in c++.

[2016-03-13 20:13] vcunat commented on #13898
Note that the situation should be the same on 16.03. (I've patched out a few these problems already.)

[2016-03-13 20:19] datakurre opened #13901 "How to properly setup a shared (home) printer?"
## Basic info

* Kernel: Linux ... 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux
* System: 16.09pre78286.0bf8a1a (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: "16.09pre78286.0bf8a1a"

## Describe your issue here

I'm unable to set up a working shared printer on a NixOS server by following existing docs.

What I'd like to have is a shared home printer, which would a

[2016-03-13 22:29] ben0x539 commented on #12756
If I run evolution with `GIO_EXTRA_MODULES={glib_networking}/lib/gio/modules` set and `evolution-data-server` in profile, evolution gets my accounts and is able to connect.

---

gnome-keyring is apparently also needed. Without gnome-keyring in my profile, evolution prompts me for a password rather often, like a dozen times in a row on startup and then once per connection, or something. I'm not ch

[2016-03-14 00:40] badi opened #13904 "xdg-XYZ --manual contains incorrect sed subsitution"
I'll be happy to take this on, but am filing this for the record.
## Basic info

To make sure that we are on the same page:
- Kernel: (run `uname -a`): `Linux irmo 4.4.3 #1-NixOS SMP Thu Feb 25 20:01:36 UTC 2016 x86_64 GNU/Linux`
- System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...): `Linux irmo 4.4.3 #1-NixOS SMP Thu Feb 25 20:01:36 UTC 2016 x86_64 GNU/Linux`
- Nix version: (ru

[2016-03-14 02:35] 7c6f434c commented on #13735
`ccsm` is now inside `compiz` package (an upstream change).

I have no idea about the NixOS module — I have stopped using NixOS (but not NixPkgs) precisely because systemd conflicts with how I use Xorg.

[2016-03-14 06:53] CMCDragonkai commented on #7463
@zimbatm Does that actually choose the first monitor listed in `xrandrHeads`?

Also this option is necessary so that XMonad doesn't get confused with `Super + {w,e,r}` and also controlling where `xmobar` puts the status bar.

[2016-03-14 07:19] CMCDragonkai commented on #7463
@zimbatm Setting with `services.xserver.monitorSection` does not work in conjunction with `xrandrHeads`, as it adds the primary option to `Monitor[0]` and `Monitor[0]` seems to have no relationship with the monitor sections added by `${xrandrMonitorSections}`.

[2016-03-14 07:27] CMCDragonkai commented on #7463
I'm going to add an option like`services.xserver.xrandrPrimaryHead = "DP-0";`. It will search the `xrandrHeads` list for a corresponding name, and that monitor section will be the one that is given `Option "Primary" "true"`.

[2016-03-14 07:35] CMCDragonkai commented on #7463
Actually upon thinking about this more. It would be more scalable to do it this way:

[code]

That way, we can have section configuration for every head in Xrandr.

And I can use the 2 above functions to and zip them together when deploying to `xrandrMonitorSections`.

[2016-03-14 08:26] matthiasbeyer commented on #13414
not for me as unstable wasn't updated yet.

[2016-03-14 09:00] vcunat commented on #9755
I really don't know what to think of the intel driver in general. Last stable release (2.21.15) was more than two years ago and the least pre-release (2.99.917) more than a year ago...

@khumba: what about trying the same driver version on NixOS?
[code]

[2016-03-14 09:13] lethalman commented on #12756
The problem here is quite controversial, however I think being e-d-s and gnome-keyring single-instance applications, it's doable to propagated them.
I don't care about propagating the entire e-d-s output, we're talking about evolution, not a simple unix tool.

[2016-03-14 09:14] danbst commented on #13839
Issue is already fixed in 16.03 channel, this is sufficient to me

[2016-03-14 09:14] #13839 closed

[2016-03-14 09:15] danbst commented on #13839
@hrdinka much thanks for help!

[2016-03-14 09:44] makefu commented on #12467
Closed via #13854 .Thanks @globin for the merge

[2016-03-14 09:44] #12467 closed

[2016-03-14 09:56] hrdinka commented on #13839
Glad that I could help.

[2016-03-14 10:07] vcunat commented on #13895
/cc maintainer @jagajaga & contributor @Axiomatic-.

[2016-03-14 10:40] domenkozar commented on #13120
Hmm, good point. I've deleted the test module  so I can't find an example now. I'll close until I hit this again.

[2016-03-14 10:40] #13120 closed

[2016-03-14 11:27] jagajaga commented on #13895
Let's just try to update pkg first?

[2016-03-14 12:01] danbst commented on #12613
@edolstra Am I correct, the fixes should go to 16.03-beta and 16.03-beta-small channels also? Currently 16.03-beta-small is unbootable on c3.large

[2016-03-14 12:17] joelmo commented on #13901
See the listenAddresses option, the default is to listen on localhost. But this looks unreleated to the error message you have: unable enable to create server credentials. Maybe there is some permission issue, try enable polkit?

Also I think some more options need to be enabled for avahi, like publish.addresses.

[2016-03-14 12:26] datakurre commented on #13901
Thanks. I'll try these later today.

Although, listenAddresses probably has working default, because printer is found and configured probably, and avahi.publish.userServices says that it includes avahi.publish.addresses, and according to manual polkit should be enabled by default.

[2016-03-14 12:35] prikhi commented on #6576
I have again ran out of time, did not get to making a user module. I can quickly update it again if we want to update the package w/o a user module for now.

[2016-03-14 12:48] #13414 closed

[2016-03-14 12:55] joelmo commented on #13901
See http://www.cups.org/documentation.php/doc-2.1/man-cups-files.conf.html, and the directive ServerKeychain. Maybe it can be set to /etc/ssl/certs.

[2016-03-14 13:13] CMCDragonkai commented on #7463
https://github.com/NixOS/nixpkgs/pull/13916

[2016-03-14 15:10] khumba commented on #9755
Hi, sorry but I'm heading on vacation for two months starting this morning and won't be able to test this until I get back.  Since that's the case, please don't hold 16.03 up for me :).

[2016-03-14 15:26] Rizary commented on #13852
Hi @hrdinka,

thank you for your suggestion, i think i did had misunderstanding about how containers work.

so in this case, if i do pure declarative configuration, i don't need to configure the configuration.nix on my containers?

thanks,
andika

[2016-03-14 16:44] vcunat commented on #9755
OK. As noone else here seems to complain, I think this issue certainly won't block the release.

[2016-03-14 17:05] hrdinka commented on #13852
Yes that's how it works. When using imperative containers your containers function like completely independent machines and won't be bothered by your host at all.

With declarative containers your containers are part of your hosts config. NixOS handles your host&containers as one entity and builds&updates these together.

Both behaviors are nice to have and come in handy depending on your projects

[2016-03-14 18:18] devhell commented on #6576
@prikhi Sounds good to me, at least an updated version would be much appreciated. :)

[2016-03-14 18:45] svend opened #13921 "nix-prefetch-git: fails with rev containing "/""
## Basic info

To make sure that we are on the same page:

* Kernel: Darwin 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64 i386 MacBookPro12,1 Darwin
* System: OS X 10.11.3
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: "16.09pre78763.06bebed"

## Describe your issue here

nix-prefetch-git fails when the revision contains a sla

[2016-03-14 20:20] roman commented on #12044
I'm getting this weird behavior where the `programs.sqlite` file is found on an user's profile that is not root (vagrant in my case) how can I fix this scenario?

[2016-03-14 21:00] elitak commented on #10230
(__POTENTIAL WORKAROUND__)

I was running into this problem on every nix+nixpkgs version combo I tried. Sometimes it would be on a different "audit" derivation instead. The cause turned out to be that I was running nixos-install targeting a bind-mount. As soon as I switched to a loopback-mounted ext4.img, everything ran fine. I guess nixos-install has some weird mount-related internals that get br

[2016-03-14 21:12] datakurre commented on #13901
@joelmo Thanks for that tip about ServerKeychain. I needed to create a .crt .key -pair into /etc/cups/ssl to make it work. Now CUPS works and also Airprint discovery started working.

Now, only thing not working is the printer itself. CUPS gets it to make some noise, but eventually CUPS reports printing success without anything coming out of the printer. But this is probably a more usual issue wit

[2016-03-14 22:14] ankhers opened #13925 "Mesos service script missing \"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux mesos1 3.18.21 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux
* System: 16.09pre78722.11c486c (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: "15.09.1119.f6d1666"

## Describe your issue here
I'm attempting to use nixops to deploy a mesos cluster. However, I noticed that the produced init script is m

[2016-03-14 23:29] samuela opened #13927 "Changing KDE -> XFCE bricks installation"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)

Linux nixos 3.18.26 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)

15.09.1113.23395c4 (Dingo)

* Nix version: (run `nix-env --version`)

nix-env (Nix) 1.10

* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nix

[2016-03-15 02:58] tvon commented on #8437
Is this fixed by https://github.com/NixOS/nixpkgs/pull/11958 ?

[2016-03-15 03:03] joachifm commented on #8437
Yes, it appears so

[2016-03-15 03:03] #8437 closed

[2016-03-15 06:22] Havvy commented on #4343
I don't know, and it's non-trivial for me to test it.

[2016-03-15 07:12] johbo commented on #9068
Any new insights on this? Got started on Spacemacs two weeks ago and I like it, so I started to wonder how to wrap it up in Nix.

[2016-03-15 10:17] tokudan opened #13933 "buildFHSUserEnv & gcc"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)

Linux yuna 4.3.4 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux
* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)

15.09.1076.9220f03 (Dingo)
* Nix version: (run `nix-env --version`)

nix-env (Nix) 1.10
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVe

[2016-03-15 10:20] #12613 closed

[2016-03-15 11:29] domenkozar commented on #13925
cc @kevincox

[2016-03-15 11:30] domenkozar commented on #13927
How did you create the demo user?

[2016-03-15 13:37] Profpatsch commented on #9068
Not from my side, no.

[2016-03-15 13:37] Profpatsch commented on #4343
Then we can close @jagajaga

[2016-03-15 14:09] #4343 closed

[2016-03-15 15:07] #107 closed

[2016-03-15 15:16] domenkozar commented on #12794
With S3 and decentralized hydra, we should really combine the source back. Currently this is blocking a channel update: http://hydra.nixos.org/build/33301631

[2016-03-15 15:44] grahamc commented on #13517
Can this be closed?

[2016-03-15 15:46] domenkozar commented on #13517
FYI: https://github.com/Profpatsch/nix-http-serve/

[2016-03-15 18:23] samuela commented on #13927
It comes as the default with the VirtualBox appliance.

[2016-03-15 18:57] sjmackenzie commented on #7696
Same issue here:
[code]

[2016-03-15 19:44] #10298 closed

[2016-03-15 20:34] ambrop72 opened #13942 "Nvidia driver 361.28 makes programs crash"
Programs crash at startup or exit, e.g. some XFCE programs (e.g. Thunar, xfce4-terminal) crash on exit only possibly after forking off a child and trying to exit, and others (e.g. VLC) crash on startup. This must be related to Nvidia drivers, the issue does not appear when using Nouveau. It is probably a regression from 358.16 -> 361.28 (5b3c61ea5feaffb37546cf35bccf838c4534d678) but I didn't verif

[2016-03-15 20:40] ambrop72 commented on #13942
And indeed reverting the 3 latest commits for nvidia-x11 resolved the issue for me (bringing the driver back to 358.16).

[code]

[2016-03-15 20:51] colemickens opened #13944 "How to make services wait on network to be up? (and other sequencing problems)"
I'm trying to create a nixops example that demonstrates deploying Kubernetes to a cloud provider. (namely to Azure via the new backend being added).

I have it nearly working now (nearly, due to what looks like a docker 1.10 bug), but I've had to do a lot of hacking. I've created this snippet: `routewait = ''while true; do i=\"$(${pkgs.iproute}/sbin/ip route show default)\" ; if [[ ! -z \"$i\" ]];

[2016-03-15 21:08] copumpkin commented on #13944
It's not clear to me from what you write above what the issue is with just having your service depend on `network.target`. I assume that since you mention it, something went wrong when you tried it, but I don't know what.

[2016-03-15 21:16] colemickens commented on #13944
It just flat out doesn't wait for anything. Using the snippet above, with a modification, you can clearly see services starting up before the default route is set, regardless of what `network*{target,service}` you attempt to wait on.

I was told that this is a known issue in NixOS by `kmicu` on `#nixos`.

[2016-03-15 21:17] colemickens commented on #13944
You can see my latest attempt here: https://github.com/colemickens/nixpkgs/blob/cmpkgs-azure/nixos/modules/services/networking/flannel.nix#L57

Despite what's listed, the only thing that prevents flannel from starting too early is the `routewait` trick I have in place.

[2016-03-15 21:45] zimbatm opened #13945 "[meta] The perfect ruby development platforms"
This is a collection of notes that describe some of the current issues and possible improvement that could happen when doing ruby development with nix. I will update the description as I get feedback and once there is a clear idea of the path to follow I will split it into different issues and close this ticket.
## Current setup
- direnv to manage per-project environment
- each ruby project has an

[2016-03-15 21:46] zimbatm commented on #13945
Inviting @manveru and @cstrahan to the discussion

[2016-03-15 21:49] cstrahan commented on #13945
I'll need to continue reading the rest of your post, but this bit:

I believe that, at some point, I had `bundler` set up so that it wasn't tied to a particular Ruby, and then someone complained that it ought to work without a Ruby on `$PATH`, and then it was subsequently changed. I'm kind of 50/50 on that decision...

[2016-03-15 21:59] cstrahan commented on #13945
`fetchgitPrivate` (defined in [`pkgs/build-support/fetchgit/private.nix`](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchgit/private.nix)) should work (though I haven't used it yet).

[2016-03-15 22:03] pikajude opened #13946 "Add documentation for xorg override behavior"
[code]

Adding this snippet to my NixOS `configuration.nix` causes everything that depends on xorg libs to be rebuilt. I would appreciate a mention of this in the docs since it severely slows down `nixos-rebuild` if the user has GUI apps in their systemPackages. It would also be cool to get an explanation of why it causes a rebuild.

[2016-03-15 22:04] cstrahan commented on #13945
I think a lot of this will become easier if we can increase adoption of Nix for Ruby development. Getting a couple influential personalities to use and blog about Nix+Ruby would be huge. Hopefully, it would follow that the design of Bundler/Rubygems/etc would become more amenable to use under Nix.

[2016-03-15 22:12] Profpatsch opened #13947 "Chromium: Smooth scrolling enabled by default"
A few days ago smooth scrolling was enabled by default in Chromium; I wonder if that was an upstream or a downstream decision.

On my T400 at least the “feature” causes heavy headache after a few hours and very hard eye-strain, since the text is blurred in a way my eyes can’t focus anymore (as compared to non-smooth mode, where the steps are so small my eyes keep focused).

For anyone wondering: Y

[2016-03-15 22:21] colemickens commented on #13947
Can't find an official source, but it was an upstream change. I'm not sure why it's making the text blurry for you though.

I'm confused by your description of the "steps". Smooth scrolling should make it so that it scrolls in a continuous fashion rather than in jumps. For me, it's actually much easier to stay focused because it scrolls continuously at a very slow rate, if I desire, rather than ev

[2016-03-15 22:39] codyopel commented on #13942
Part of:
https://github.com/NixOS/nixpkgs/pull/12719

[2016-03-16 01:34] kevincox commented on #13925
The problem is that your config has a newline after the url. Please don't have any whitespace around it.

If you want to be a little hacky you could add the backslash in your config but I would recommend just removing the whitespace, in particular the newline.

[2016-03-16 01:49] ankhers commented on #13925
That did seem to fix it. Thank you!

[2016-03-16 01:49] #13925 closed

[2016-03-16 02:54] sjmackenzie commented on #7696
This seemed to work for me: ` services.xserver.videoDrivers = [ "nvidiaBeta" ];`

[2016-03-16 03:00] codyopel commented on #7696
@sjmackenzie
The beta driver is currently just and alias to the default driver.
https://github.com/NixOS/nixpkgs/blob/2ac4dba0fb4d82d526ece4d99937330b428ccbf5/pkgs/top-level/all-packages.nix#L10643

[2016-03-16 04:13] cstrahan commented on #8479
@jgillich I'm seeing the exact same thing. Really annoying. Trying to find some sort of test page to make sure it's not just Amazon, and google doesn't turn up anything useful...

[2016-03-16 04:20] cstrahan commented on #8479
Just tried the `google-chrome` package, and that worked. Comparing `chrome://plugins`, there's an obvious difference: chromium doesn't show "Native Client". That might be key.

[2016-03-16 04:22] lally commented on #3382
Yup, same here.  ~6 months, then a `stack build` failed getting a github https URL due to this.

[2016-03-16 04:24] colemickens commented on #8479
What version are you on? I'm watching House of Cards on chromium right now on the latest nixos-unstable.

[2016-03-16 05:58] chris-martin commented on #3382
I'm finding that anything I run in `nix-shell` doesn't have certs, but the same packages installed either as `systemPackages` or with `nix-env` work.

[2016-03-16 07:26] fazo96 commented on #13768
Sorry for missing the notification!

[2016-03-16 07:28] sheenobu opened #13953 "libcollectdclient does not exist"
## Basic info

nixpkgs branch master

## Describe your issue here

There is a collectd package and service, however, there is no separation between the collectd daemon and the collectd client library. Packages which depend on libcollectdclient must install the entire collectd daemon. A libcollectdclient package should "./configure --disable-daemon" and "make -C src/libcollectdclient/ install"

[2016-03-16 08:24] sjmackenzie commented on #7696
Well I cannot explain it:

this
[code]
results in a black screen for me.

this:
[code]
this works perfectly well, with smooth 3d support.

[2016-03-16 10:17] ambrop72 opened #13956 "wxPython fails to run due to libraries not found"
This is happening for me with nixpkgs/release-16.03, programs using wxPython 3 fail to load the wx module. Test case:

[code]

Note, the setuptools dependency is a workaround for another issue.

Using ldd and `readelf -d` on `_core_.so` (in the same directory as `_core.py`) shows that it is linked against `libX11.so.6` and `libgdk-x11-2.0.so.0` but these are not accomodated in the `RUNPATH`. If on

[2016-03-16 11:35] vcunat commented on #13946
I think that might be because of self vs. super. Probably closely related: https://github.com/NixOS/nixpkgs/issues/13625.

[2016-03-16 13:04] lally commented on #3382
My hacky fix was to put `export GIT_SSL_CAINFO=/etc/ssl/certs/ca-certificates.crt` in my .bashrc.

[2016-03-16 14:23] jgillich commented on #13556
Do you still get this? I use `nix.useChroot` as well and it works fine for me.

[2016-03-16 14:30] vyscond opened #13961 "nix-env not finding package phpfpm"
## Basic info

To make sure that we are on the same page:

* Kernel: `Linux nixos 3.18.26 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 i686 GNU/Linux`
* System: NixOS: `15.09.1113.23395c4 (Dingo)`
* Nix version: `nix-env (Nix) 1.10`
* Nixpkgs version: `"15.09.1113.23395c4"`

## Describe your issue here

I want to install __phpfpm__ package with `nix-env -i` or `nox`. _(I've checked too that the 15.09

[2016-03-16 17:06] a1russell opened #13966 "icedtea not working in chromium"
At least on my 15.09 stable system, the Java plugin in Chromium does not seem to work. I've followed the documentation to [enable the java plugin in Chromium](https://nixos.org/wiki/Enable_Browser_Plugins#Java) specifically by adding configuration to my `configuration.nix` like:

[code]

However, visiting http://www.java.com/en/download/installed.jsp shows that it's not installed. Looking at the d

[2016-03-16 17:56] pikajude commented on #13946
What does that issue have to do with this one?

[2016-03-16 19:09] #13942 closed

[2016-03-16 19:10] vcunat commented on #13942
I believe this single revert I did is enough to "fix" the issue.

[2016-03-16 19:37] lewisl9029 opened #13971 "Issues with NixOS 15.09 installation on a Hyper-V Generation 2 VM on Windows 10 64-Bit"
## Basic info

To make sure that we are on the same page:
- Kernel: (run `uname -a`)
- System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
- Nix version: (run `nix-env --version`)
- Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)
## Describe your issue here

This is an installation issue so the fields above weren't quite applicable.

I am trying

[2016-03-16 19:57] jgillich commented on #13961
php-fpm is actually part of the `php` package, so `nix-env -i php`. To find packages, there is http://nixos.org/nixos/packages.html

[2016-03-16 20:00] vyscond commented on #13961
Hum. So i don't even need to install manually. Thanks for the answer and sorry about the silly question :/

[2016-03-16 20:00] #13961 closed

[2016-03-16 20:03] jgillich commented on #13961
No worries, I remember having similar issues when I got started with Nix. :)

[2016-03-16 20:08] jgillich commented on #13971
Unless I'm missing something, the required kernel modules still aren't loaded by default, so you'd have to build your own iso.

https://github.com/NixOS/nixpkgs/issues/9899#issuecomment-162539673

[2016-03-16 20:38] lewisl9029 commented on #13971
Yes I did come across that issue as well, but I suspect it was for Generation 1 Hyper-V VMs (since they mentioned Azure).

I have tried installing on a Generation 1 VM as well, and did not run into these issues, so I assumed https://github.com/NixOS/nixpkgs/issues/9899 has been fixed, and that this is probably a separate issue (that might need a different set of modules to work around?).

[2016-03-16 21:01] zimbatm commented on #9732
I suppose this has been fixed ? Running quasselclient and vlc happily here.

[2016-03-16 21:14] matthiasbeyer opened #13973 "why does got not contain the send-email subcmd?"
The got distribution does normally contain the subcommand 'send-email' ... But it does not on my nixos machines.

Why is that?

[2016-03-16 21:15] matthiasbeyer commented on #13973
Maaan autocorrect on my mobile device. I meant GIT!

[2016-03-16 21:16] tokudan commented on #13933
fixed by 11b6924, i guess.

[2016-03-16 21:17] #13933 closed

[2016-03-16 21:18] abbradar commented on #13933
Thanks, I though it would be auto-closed by Github.

[2016-03-16 21:57] joelmo commented on #13973
gitFull has it

[2016-03-16 22:10] aragnon commented on #13278
@garbas  This wiki entry contains a manual command `mkdir /export`. While the content is useful otherwise, it doesn't solve the NFS problem declaratively. Do you know how such a simple command should be turned into a Nix module? To me, it appears that all that needs to happen is that all the mount points need to be created by the NFS module via something like `mkdir -p`.

[2016-03-16 22:40] aragnon commented on #2189
In general, don't we just want to copy the same module set as other popular configuration management systems have? E.g. in Puppet, you have:

https://docs.puppetlabs.com/puppet/latest/reference/type.html#file . When I see NixOS configuration management it sort of feels like one still needs to build all the basics before getting to the real work.

From a UI point of view something like the followin

[2016-03-16 22:55] aragnon commented on #13653
`JAVA_HOME` should not be set globally. There should be some java wrapper which sets it to whatever value of `JAVA_HOME` is desirable for that application.

As a concrete test case: `env | grep -q JAVA_HOME` should return an exit status of 1 regardless of how it is installed in any shell like zsh or bash.

[2016-03-16 22:59] aragnon commented on #13300
Having to specify a PPD file via some manual interface is *not* how users of NixOS expect to see things. In particular, it's not reproducible.

[2016-03-16 23:07] abbradar commented on #13300
This is fixed now -- you can choose printer from the list, as you'd do in an ordinary Linux distribution. Use `services.printing.gutenprint` instead of `drivers = [ gutenprint ]` to get proper PPDs auto-updating.

[2016-03-16 23:08] abbradar commented on #13300
(Notice that this doesn't fix the reproduciblity point -- that would be harder and would require generating PPDs from some Nix description)

[2016-03-16 23:11] elitak commented on #2079
nixos-in-place wasn't working for me on Digital Ocean, so I made an even simpler version that you can pipe straight to bash over ssh, and uses the nix install script to bootstrap, rather than the ISO: https://gist.github.com/elitak/996e3b3c54c07409c8f2 . I'm next going to look into integrating the DO API into nixops to just instantiate a droplet and run my script to transform it to nixos.

I look

[2016-03-16 23:11] aragnon commented on #13300
I mean that I would like to configure a location where the PPD file can be found (e.g. on a server or file or .. ) and that would then automatically set it all up. Any amount of manual work should be seen as a non-solution.

[2016-03-16 23:17] aragnon opened #13978 "Installing oraclejdk is worse than on Debian"
Since I believe the objective is to be better than Debian, I am filing this as a bug.

[code]

In Debian there is some flag you can set to automatically accept the agreement, which is used by all other configuration management solutions. A comparable solution should also be present in Nix.

One such a solution would be adding an additional package named `oracle_yes_I_agree_to_the_terms` or somethi

[2016-03-16 23:19] abbradar commented on #13300
Actually we can do that! This would just require copying those configured PPDs to their directory. I'll look at this later.

[2016-03-17 02:08] copumpkin commented on #13978
We talked about doing something like that but I think people voted against it due it being slightly legally iffy. I'd be all for adding it, but I see it more as a community issue than a technical one.

[2016-03-17 02:26] cstrahan commented on #12044
As of my last `sudo nix-channel --update`, I no longer have `/nix/var/nix/profiles/per-user/root/channels/nixos/programs.sqlite`...

[2016-03-17 02:26] cstrahan commented on #12044
$ sudo nix-channel --list
    nixos https://nixos.org/channels/nixos-unstable

[2016-03-17 02:38] cstrahan commented on #12044
It looks like `nix-channel` stopped creating `programs.sqlite` a couple generations ago:

    $ find -L /nix/var/nix/profiles/per-user -name "programs.sqlite"
    /nix/var/nix/profiles/per-user/root/channels-4-link/nixos/programs.sqlite
    /nix/var/nix/profiles/per-user/root/channels-5-link/nixos/programs.sqlite
    /nix/var/nix/profiles/per-user/root/channels-6-link/nixos/programs.sqlite
    fin

[2016-03-17 02:51] cstrahan commented on #12044
It doesn't appear `nix-channel` creates `programs.sqlite`. In fact, after greping in `nixpkgs`, `nix` and `hydra`, I don't see where `programs.sqlite` is ever created... I'm pretty stumped.

[2016-03-17 05:02] cstrahan commented on #8479
@colemickens  The latest nixos-unstable (0bf8a1a86df67649893726d50761567121330006).

[2016-03-17 05:04] cstrahan commented on #8479
I don't have Netflix, so I can't try that... but I do know that Amazon Video doesn't work for me (they supposedly don't detect WideVine, but my guess is that it really has something to do with the lack of NaCl in our Chromium).

[2016-03-17 05:34] fpletz commented on #12370
This should be fixed by #12787. Please reopen if you still have problems.

[2016-03-17 05:34] #12370 closed

[2016-03-17 06:02] #13755 closed

[2016-03-17 06:10] cstrahan opened #13983 "Chromium fails to build when NaCl is enabled"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux cstrahan-mbp-nixos 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux
* System: 16.09pre-git (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: 16.09pre78286.0bf8a1a

## Describe your issue here

Chromium fails to build when NaCl is enabled.

### Expected result

Should build successfully.

### Actual

[2016-03-17 06:12] cstrahan commented on #13983
We might need to review the following page and make sure we're doing the right thing:

https://www.chromium.org/nativeclient/pnacl/building-pnacl-components-for-distribution-packagers

[2016-03-17 07:39] vcunat commented on #12044
It can't be created locally. It should be contained in the downloaded `nixexprs.tar.xz`, but I see it isn't anymore. https://github.com/NixOS/nixos-channel-scripts/commit/f7beae78ebde1d984248ff62a160b3f0168948be#diff-682bf482f6dd273f1c3c49afd99b4660R122

[2016-03-17 07:42] vcunat commented on #12044
Aha, there's an issue about it: https://github.com/NixOS/nixos-channel-scripts/issues/4.

[2016-03-17 08:27] regnat opened #13985 "attribute ‘dfVersion’ missing while evaluating dwarf_fortress"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux ansegisel 4.4.2 #1-NixOS SMP Wed Feb 17 20:31:25 UTC 2016 x86_64 GNU/Linux
* System: NixOS 16.09pre-git
* Nix version: 1.11.2
* Nixpkgs version: 16.09pre-git (or any checkout from d3b62c)

## Describe your issue here

When nix tries to evaluate the `dwarf_fortress` derivation (ie when trying to install it, to use nox, to ru

[2016-03-17 09:41] danykey opened #13987 "BOINC client package: please add to client the UI manager"
To the my disappointment I found that BOINC client package does't contains UI manager.
Could you please add.

[2016-03-17 09:59] jgillich commented on #13971
I see. After reading [this](https://gist.github.com/evaryont/c18a166197f1f1a03c74), I'd say Linux doesn't work very well on Gen2 in general

[2016-03-17 10:05] jgillich commented on #13987
Probably because nobody wanted/needed it so far. If you do, why don't you package it yourself? :)

[2016-03-17 12:57] joelmo commented on #13944
This article describes network-online.target and explains how to run a service that requires connection to Internet: https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/. I recommend looking at what NetworkManager-wait-online.service does.

[2016-03-17 12:58] joelmo commented on #13921
Does it work with --rev emacs-25?

[2016-03-17 14:42] #9774 closed

[2016-03-17 14:59] grahamc opened #13991 "OpenVPN on 16.03-beta fails because it can't ask for a password."
## Basic info

To make sure that we are on the same page:

* Kernel: `Linux NdNdNx 4.4.3 #1-NixOS SMP Thu Feb 25 20:01:36 UTC 2016 x86_64 GNU/Linux
`
* System: `16.03.30.2068621 (Emu)`
* Nix version: `nix-env (Nix) 1.11.2`
* Nixpkgs version: `16.03.30.2068621`

## Describe your issue here

After upgrading from 15.09 to 16.03-beta, openvpn units aren't able to ask for a password.

### Expected resu

[2016-03-17 16:27] msackman opened #13995 "go packages capture paths under /tmp"
## Basic info
- Kernel: (run `uname -a`)

  Linux nixos 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux
- System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)

  16.09pre78848.9549257 (Flounder)
- Nix version: (run `nix-env --version`)

  nix-env (Nix) 1.11.2
- Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)

  "16.09pre78848.9549

[2016-03-17 17:48] colemickens commented on #13944
As you can see, I've tried adding those targets and they don't do the right thing. The implication of that article is that you must use `network.target` with a `wait-online.service`, but it also implies that just `network-online.target` should be sufficient.... and it's not.

[2016-03-17 17:58] peti commented on #13233
I think this stuff is obsolete and has never worked, really. It's safe to drop all of it.

[2016-03-17 17:58] #13233 closed

[2016-03-17 18:14] peti commented on #13893
I don't think the general purpose builder is the right place to implement this functionality. Instead, `cabal2nix`-generated local-source builds should probably use `filterSource` (or something similar), as it was discussed in https://github.com/NixOS/cabal2nix/issues/112. This would have the added benefit that Nix doesn't even copy the undesirable files into the build sandbox (which can save sign

[2016-03-17 18:14] #13893 closed

[2016-03-17 18:17] svend commented on #13921
@joelmo That fails:

[code]

I am getting around this by looking up the SHA for the remote branch. This works, but requires an extra step.

[code]

[2016-03-17 18:27] joelmo commented on #13944
I suppose network-online at minimum is that one interface have been configured for Ethernet access.

The definition of these network targets seems to be very loose so I don't know where it implied having network-online.target would be sufficient.

I think the ExecStartPre script you wrote should work, but I would try to move this into a separate service so that should be similar to how NetworkMana

[2016-03-17 18:33] peti commented on #13151
The error

suggests that your machine lacks the OpenGL framework, thus linking fails. I don't think that this a Nix issue per se.

[2016-03-17 18:35] peti commented on #12949
I guess this issue can be considered fixed by now. Please re-open if I've missed anything.

[2016-03-17 18:35] #12949 closed

[2016-03-17 18:36] joelmo commented on #13921
Looking at git blame, I think @nbp wrote this function. Probably some change elsewhere made it broken.

[2016-03-17 18:40] #12927 closed

[2016-03-17 18:43] peti commented on #12539
Does anyone want to provide a PR that addresses this issue?

[2016-03-17 18:52] nbp commented on #13921
@svend , have you tried with `refs/heads/emacs-25`, i-e the same way as it appears in `git ls-remote` ?

[2016-03-17 18:56] nbp commented on #13921
Ok, I guess there is effectively a problem located at [1], where we do not assume the `-` to be a valid token for the branch name.

[1] https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchgit/nix-prefetch-git#L273

[2016-03-17 18:56] svend commented on #13921
@nbp Yes, see "Steps to reproduce" in the original report.

If you look at https://github.com/NixOS/nixpkgs/commit/02f5a01c196bd68700d1122b4a88dbdad48e1393, the temporary directory changed from "git-export" to a shortened version of the rev. mkdir (without -p) is called on the temporary directory. Since now contains an extra slash, mkdir fails because the parent directory does not exist.

[2016-03-17 19:05] nbp commented on #13921
Sorry, I did not noticed the first issue, I only looked at the second. I think you are right about commit 02f5a01.

Thanks for the report. :)

@zimbatm Do you got time to investigate this issue?

[2016-03-17 19:24] utdemir commented on #13151
@peti Thanks. I was expecting Nix to somehow obtain OpenGL framework; but I now I see that even if it can, it can be tricky to make that framework available to `ld` on some haskell packages.

I guess I have to install Xcode to my machine :(.

I'm closing this issue.

[2016-03-17 19:24] #13151 closed

[2016-03-17 19:38] datakurre commented on #13901
The final issue was just that the default Gutenprint driver (PPD) really work for my printer. After finding an alternative PPD, everything started working. So, here's everything I had to do to share printer with bonjour/zeroconf (for mac) and airprint (for ipad). Maybe @garbas would like to merge this to docs while moving printing docs from Wiki:

1. Enable CUPS with sharing and Avahi with publish

[2016-03-17 19:38] #13901 closed

[2016-03-17 19:50] abbradar commented on #13901
To add more experience: I've suceeded sharing a printer through CUPS to Linux clients recently. I've needed points 1-3 (without a certificate) and then opened CUPS administration on a client. It found the printer automagically through Avahi. Notice that I haven't found how to ask CUPS on Linux to get PPD from the server, so I set the server's printer type to raw queue. Maybe someone knows a soluti

[2016-03-17 19:53] datakurre commented on #13901
@abbradar Do you mean somethin like

[code]

To get the printer address, and

[code]

to configure the printer with custom PPD?

[2016-03-17 19:55] abbradar commented on #13901
Nah, I thought that I can set PPD on the server and then all clients would just get it from there automatically. Instead what I found is:
1. There is no way (from what I've seen) to have CUPS clients get PPDs from the server automatically.
2. One can't setup same printer PPD on both a client and a server -- it garbles output (but I haven't tried to do so -- read it on ArchWiki).

[2016-03-17 19:58] datakurre commented on #13901
@abbradar Strange. My mac did download the PPD.

About certs. Possibly those /etc/cups/ssl certificates should be created automatically, and somehow I managed to miss them.

[2016-03-17 20:08] datakurre opened #13999 "munin-cron: cron job broken on unstable (16.03)"
/cc @domenkozar

## Basic info

To make sure that we are on the same page:

* Kernel: Linux 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux
* System: 16.09pre78286.0bf8a1a (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: 16.09pre78286.0bf8a1a

## Describe your issue here

I noticed that munin graphs stopped updating, once I upgraded to 16.03 beta. Journal logs

[code]

[2016-03-17 21:09] matthiasbeyer commented on #13973
ACK.

[2016-03-17 21:09] #13973 closed

[2016-03-17 22:57] zimbatm commented on #10703
Is this still an issue ? I think #12748 would have fixed this.

[2016-03-17 22:58] #10703 closed

[2016-03-18 00:42] abbradar commented on #13901
@datakurre I suppose that maybe it's a Mac feature, not CUPS one, but I'm not sure.

[2016-03-18 00:43] abbradar commented on #13901
Maybe it's a Mac-specific requirement, too?

[2016-03-18 01:00] datakurre commented on #13901
@abbradar Good point. /etc/cups/ssl requirement might be mac specific (maybe CUPS on mac is configured to require encryption by default). On PPD issue I can only say that my mac's CUPS client and NixOS server both have the same PPD and it works.

[2016-03-18 01:05] abbradar commented on #13901
Hm, I've tried just now to set proper PPD on both the server and client, and it works! Looks like ArchWiki note at https://wiki.archlinux.org/index.php/CUPS#Local_CUPS_server might be invalid.

[2016-03-18 05:27] jeaye commented on #2079
@elitak It's a shame to see yet another project trying to do this. It'd be great if you applied your spare time to working on nixos-assimilate or nixos-in-place instead!

[2016-03-18 06:11] vcunat commented on #12203
I believe the situation has improved much during the last few weeks, probably due to using binary cache to store results directly instead of the central machine. (I think that change has happened but I don't have any definite proof.)

Now an evaluation seems to typically take hundreds of seconds (even a mass-rebuild one) compared to the previous thousands.

Does it mean we can now increase the num

[2016-03-18 07:14] elitak commented on #2079
@jeaye I hesitate to call it a "project". It's essentially a couple dozen lines of bash that I intend to discard once nixos-assimilate is ready. I don't consider it shameful to try to help everyone expedite their deployments by giving them something simple that works. I needed to write that script for my own use, whether I shared it or not.

I would like to contribute to nixos-assimilate, but it's

[2016-03-18 08:45] matthiasbeyer opened #14006 "youcompleteme does not build on latest unstable"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`): `Linux yuu 4.3.6 #1-NixOS SMP Fri Feb 19 22:35:24 UTC 2016 x86_64 GNU/Linux`
* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...): `16.09pre78286.0bf8a1a (Emu)`
* Nix version: (run `nix-env --version`): `nix-env (Nix) 1.11.2`
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.

[2016-03-18 08:55] jagajaga commented on #14006
I have the same issue.

[2016-03-18 09:53] peti commented on #12551
I cannot reproduce this error:

    /tmp$ nix-shell --pure -p gnupg1 -p git

    [nix-shell:/tmp]$ mkdir test

    [nix-shell:/tmp]$ cd test

    [nix-shell:/tmp/test]$ git init .
    Initialized empty Git repository in /tmp/test/.git/

    [nix-shell:/tmp/test]$ echo Hello, World. >README

    [nix-shell:/tmp/test]$ git add .

    [nix-shell:/tmp/test]$ git commit -S -m "test"

    ... gpg-agent

[2016-03-18 09:53] #12551 closed

[2016-03-18 09:54] peti commented on #12670
Package marked broken in 1c49f8fe33b5079bdc1371ba5d2c8dc206a8ad2a.

[2016-03-18 09:55] #7891 closed

[2016-03-18 09:57] peti commented on #8538
Our whole gpg-agent strategy in NixOS is obsolete with GnuPG 2.1.x anyway. Users can now start the daemon entirely for themselves without support from the OS. See  c4018c0e65f825584f6154fd91b85d7ad6fe9896 for details.

[2016-03-18 09:57] #8538 closed

[2016-03-18 10:37] #13734 closed

[2016-03-18 11:08] matthiasbeyer commented on #12551
@peti:

[code]

[2016-03-18 11:23] peti commented on #12551
I suppose you should look into why gpg believes that there is no secret key.

[2016-03-18 12:34] matthiasbeyer commented on #12551
All I know is that `gpg` does not find the key:

[code]

[2016-03-18 12:47] peti commented on #12551
Do you realize that `gpg` is not gpg 2.1.x by default?

[2016-03-18 12:50] matthiasbeyer commented on #12551
Yes, sure, but how does this belong to my issue? I used `gnupg1` to `gpg --list-keys` and it failed... not `gpg2` or something? :confused:

[2016-03-18 12:54] peti commented on #12551
You said that `gpg2` can use your key correctly, but `gpg` can not. Now, the difference between the two is that your `gpg2` binary comes from GnuPG 2.1.x, but the `gpg` binary comes from GnuPG 2.0.x. So I reckon that this on variable worth exploring, i.e. what happens when you create `gnupg1compat` with `gnupg21` and try using that?

[2016-03-18 13:10] matthiasbeyer commented on #12551
Wow.

I did:

[code]

In my overrides, tried it and it works now. Thank you for your support!

[2016-03-18 13:43] peti commented on #12551
Well, make sure then that you vote in favor of https://github.com/NixOS/nixpkgs/pull/14012. :smile:

[2016-03-18 14:42] msackman commented on #13995
Thinking further about this, editing the binary at the end is going to be hard - ensuring that `drv-10` and `drv-9` end up with the same paths and thus binary isn't going to be easy. I suspect the only hope here is using some sort of fs namespace / chroot to make the `drv` directory become `/`

[2016-03-18 15:10] kampfschlaefer commented on #5857
Hi, just a heads up: I implemented ipv6 and host-bridge support for declarative containers in #14018. Maybe thats already what you want?

[2016-03-18 15:17] sifmelcara opened #14019 "fcitx input method do not work on unstable and 16.03"
## Basic info

To make sure that we are on the same page:

* Kernel: Linux Silicate 4.4.4 #1-NixOS SMP Thu Mar 3 23:10:04 UTC 2016 x86_64 GNU/Linux
* System: 16.09pre78286.0bf8a1a (Emu)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: "16.09pre78286.0bf8a1a"

## Describe your issue here

I can use fcitx (everything works fine) if I do my nixos-rebuild after #11254 (I git-checkout that commit

[2016-03-18 15:28] valeriangalliat commented on #5857
Thnaks @kampfschlaefer, this should solve the problem I had back in the days (#6208)!

[2016-03-18 16:19] ericsagnes commented on #14019
Thanks for reporting!
I will try to fix this as soon as possible.

[2016-03-18 16:39] volhovM commented on #13159
Now having the same problem with `DeadBeef-0.7.0`:
http://i.imgur.com/n5YwFFd.png

[2016-03-18 18:33] lsix opened #14026 "sqlite update broke pythonPackages.sqlalchemy[7-9]"
## Basic info

To make sure that we are on the same page:
- Kernel: `Linux 4.4.5 #1-NixOS SMP Wed Mar 9 23:35:58 UTC 2016 x86_64 GNU/Linux`
- System: `16.03.171.0b5026f`
- Nix version: `nix-env (Nix) 1.11.2`
- Nixpkgs version: `master`

d86633386f2f2b786628b3ca14609a710cc6b993 broke legacy `sqlalchemy` packages (only tested with the `pythonPackages`-set).

[code]

Multiple options to solve this:
-

[2016-03-18 19:10] lancelotsix commented on #14026
To be complete, the build problem is a test failure:

[code]

I also checked, we cannot downgrade sqlite only for few pythonPackages, the entire python (and package set) have to be changed.

Any preferred way to go?

[2016-03-18 19:26] jgillich opened #14028 "elm fails to build on unstable"
Seeing some weird elm test failures on a trusty travis VM, like:
[code]
https://travis-ci.org/jgillich/mp/builds/116983036

cc @abbradar

[2016-03-18 21:07] Profpatsch commented on #2189
I don’t quite understand what you are referring to, @aragnon. The case of systemd service files or sth. more general?

Since no followup in over a week we can close @jagajaga

[2016-03-18 21:34] abbradar opened #14034 "Chromium is not built on unstable or master"
Chromium doesn't have successful builds since March 11 -- https://hydra.nixos.org/build/33283038 . The reason is "Output exceeded" (I haven't known that Hydra has output size limits, BTW). This includes latest unstable channel, so we don't have binary substitutions for Chromium on NixOS unstable.

[2016-03-18 21:34] aragnon commented on #2189
@Profpatsch Something more general; I don't think merely creating a directory should depend on systemd.

[2016-03-18 21:39] Profpatsch commented on #2189
You are probably overcomplicating things. You can put any file you want into the store, trivially (look into `pkgs/build-support/trivial-builders`.
And for `etc` there exists `environment.etc`, although it should be used very sparingly and only if that crude program behaviour cannot be patched out.

[2016-03-18 21:52] aragnon commented on #2189
The store is /nix, so how do I specify an arbitrary location like /constant?

[2016-03-18 21:57] zimbatm commented on #13921
I have a fix but it's going to take a while to reach master. It has to go trough staging because it's a mass-rebuild ^.

[2016-03-18 22:03] abbradar commented on #14028
I've tried to build `master` but run into the same issue. I guess it's an upstream problem (underconstrained dependencies). I need to go now so I can open a bug only tomorrow evening -- if you want you can do it earlier ~_^.

[2016-03-18 22:08] jgillich commented on #14028
But how can it be an upstream problem when we didn't update the package? :confused:

[2016-03-18 22:23] ChShersh opened #14035 "Haskell package 'llvm-general' does not compile on OS X"
## Basic info

To make sure that we are on the same page:

* Kernel: Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64
* System: OS X 10.11.3 (Mac)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: "16.03pre76763.be0abb3"

## Describe your issue here
I have problems with entering nix-shell on Mac (OS X) and using llvm-general packages. I ru

[2016-03-18 22:42] bendlas commented on #13734
thanks!

[2016-03-18 23:19] abbradar commented on #14028
Well, it's not strongly "upstream" problem -- I think some dependency has updated and broken Elm, so they need to tighten upper bounds for a library that causes this. The problem is -- we don't know which one.

[2016-03-18 23:23] jgillich commented on #14028
Ah I see. I'll do some digging tomorrow and maybe open a bug (tried asking in IRC, without success).

[2016-03-19 00:47] ericsagnes commented on #14019
@sifmelcara  I did a quick test with `16.09pre78286.0bf8a1a` and as far as I can tell it is working fine on my test machine.
As input methods are related to other parts of the system, the cause might be somewhere else.

Could you check the following?

- Are there methods enabled in the fcitx settings? (settings can be opened by running `fcitx-config-gtk3`). Input methods has to be added in the `In

[2016-03-19 01:58] Profpatsch commented on #2189
@aragnon Why do you want to do that? If you want to do anything on a package level, you should stay inside the store. If you want to do something elaborate on a module level (like having state files for services) you can create a new user that has its own home directory. See for example how I do it [here](https://github.com/NixOS/nixpkgs/pull/13587/files#diff-2b4f916891982406e7ba22f64770337dR101),

[2016-03-19 09:05] rvl opened #14043 "result symlink stops buildPythonPackage"
Running on the nixos-16.03 channel, I get this problem with `buildPythonPackage` which I didn't have on nixos-15.09.

I have a Python project outside of nixpkgs with a `default.nix` which looks something like this:

[code]

The problem is, second time I build, it will fail with this message:

[code]

If I uncomment the workaround above, problem goes away.

Considering that symlinks can't be includ

[2016-03-19 10:51] pSub commented on #13899
I have just made an attempt to fix this problem. However I don't really understand why the configure script fails. `zend.h` is clearly in `${php}/include/php/Zend` for me.

[2016-03-19 10:52] sifmelcara commented on #14019
@ericsagnes
I followed your suggestion and found that fcitx not works on gtk2/gtk3 applications only. (works on qt4 and native applications)

Thank you for your testing.

[2016-03-19 11:33] vcunat commented on #6577
We no longer have those `ruby-*-bundler*` names, or at least not visible by nix-env. (This is on 15.09 already.) I think that makes this issue resolved, or at least the main part of it.

[2016-03-19 11:33] #6577 closed

[2016-03-19 12:00] ericsagnes commented on #14019
@sifmelcara What are the applications that didn't worked?
I couldn't reproduce with `gnome3.gedit` (gtk3) and `geany` (gtk2) using `mozc`, `hangul` and `chewing`.

[2016-03-19 12:24] pSub commented on #2946
Yes, I am using ristretto on xmonad and it works just fine. I close this issue again. Just reopen and post details like DE / WM if you still have this problem.

[2016-03-19 12:24] #2946 closed

[2016-03-19 12:26] pSub commented on #4014
This issue was fixed in #9909.

[2016-03-19 12:51] vcunat opened #14048 "ruby gems packaging: the howto seems not to work"
I wanted to package a gem, so I followed the nixpkgs manual on that, but the resulting executable fails with:
[code]
I did this on recent master; details are in the commits: https://github.com/NixOS/nixpkgs/compare/master...vcunat:p/fpm.

I know very little about ruby stuff; perhaps someone else knows what's wrong: @cstrahan, @zimbatm.

[2016-03-19 13:00] Profpatsch commented on #4014
Can be closed @jagajaga

[2016-03-19 13:09] jagajaga commented on #4014
I can't close O_o

[2016-03-19 13:51] pSub commented on #4014
I cannot close it, too. I clicked "Close and comment" but obviously nothing happened. Strange. I guess we should contact github about this.

[2016-03-19 14:00] aszlig commented on #2079
Having `nixos-in-place` isn't really duplicate work, because it's working with the existing filesystem IIUC, while `nixos-assimilate` goal is to do repartitioning on the fly.

As for the published work, I'm currently focusing on `nixpart` and trying to rebase the nixpart branch on top of current master with the new upstream version(s). Unfortunately there are a few obstacles with the tests of `bli

[2016-03-19 14:11] sifmelcara commented on #14019
@ericsagnes
gnome3.gedit, chromium, and firefox didn't work.
I can reproduce the problem if I make a new NixOS install.
I tested on none+xmonad, kde4  and kde4+xmonad, all of them broke fcitx in gtk applications.

[2016-03-19 14:20] dvc94ch opened #14049 "Julia compiler is missing zlib in LD_LIBRARY_PATH"
`using GZip` in julia causes a libz not found error. Gzip uses dlopen("libz") to load zlib. Gzip is used by popular libraries like Gadfly.

Imo zlib should be added to LD_LIBRARY_PATH.

P.S. I think I am misunderstanding a key concept. Am I supposed to have to recompile julia anytime I try to use a julia package that has a C dependency?

P.S.S Never mind - sry for the spam

[2016-03-19 14:49] vandenoever commented on #4014
Jitsi from nixpkgs master gives me no systray:
[code]

[2016-03-19 15:04] neilmayhew opened #14050 "mutt doesn't find the user mailbox at /var/mail/$USER on NixOS"
## Basic info

To make sure that we are on the same page:
- Kernel: `Linux tux 3.18.26 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux`
- System: `15.09.1151.d8a1eaa (Dingo)`
- Nix version: `nix-env (Nix) 1.10`
- Nixpkgs version: `"15.09.1151.d8a1eaa"`
## Describe your issue here

MUA (eg `mutt`) doesn't find the correct spool mailbox
### Expected result

MUA opens on `/var/spool/$USER`

[2016-03-19 15:42] #14049 closed

[2016-03-19 17:01] #4538 closed

[2016-03-19 17:57] globin commented on #13744
This breaks cargo, too.

cc @wizeman, @edolstra

[2016-03-19 18:35] zimbatm commented on #14048
I was able to reproduce the issue and am working on a fix. I had bundler installed in my user GEM_HOME so didn't notice the problem until now. There are deeper issues that needs fixing so I'm not sure how fast I can produce a proper fix yet. Keep you posted.

[2016-03-19 18:46] peti commented on #13744
According to my reading of https://github.com/NixOS/nixpkgs/commit/39609a0c9414b398330e42f872e7358e30e133dd, the value of `$SSL_CERT_FILE` that's set at the time `nix-shell` is invoked get's preserved:

[code]

That seems like perfectly reasonable behavior, no?

[2016-03-19 18:53] zimbatm commented on #14048
In the mean time I recommend that you look at the `cide` package as an example. Right now bundlerEnv bleeds some common bin files into the environment which creates some conflicts. I'm working on making a rubyPackage that will automates all of this.

[2016-03-19 19:07] igsha opened #14060 "xdg-mime query filetype does not work"
## Basic info

To make sure that we are on the same page:

* Kernel: `Linux igor-pc 4.4.5 #1-NixOS SMP Wed Mar 9 23:35:58 UTC 2016 x86_64 GNU/Linux`
* System: `16.09.git.a1de225 (Flounder)`
* Nix version: `nix-env (Nix) 1.11.2`
* Nixpkgs version: `"16.09pre78848.9549257"`

## Describe your issue here
`xdg-open main.pdf` leads to error:
[code]
### Expected result
`xdg-mime query filetype` should co

[2016-03-19 19:14] zimbatm commented on #14048
@vcunat try rebasing on top of this ^

[2016-03-19 19:19] vcunat commented on #14048
Yes, that commit certainly improves the situation, as `fpm --help` works. (I haven't tested more so far.)

[2016-03-19 20:07] fkz commented on #13744
@peti yes, but it doesn't work when SSL_CERT_FILE is unset:

[2016-03-19 20:12] cstrahan commented on #14048
I think @aespinosa's #13975 is the way to go. I think a similar change to the bundler packaging should fix this.

[2016-03-19 20:20] peti commented on #13744
Well, the thing is that `nix-shell` cannot possibly know the right set of  trusted CA certificates that you would like to use, so not using *any* is a perfectly good choice, IMHO.

[2016-03-19 20:27] fkz commented on #13744
Well, we could do something, like don't set `$SSL_CERT_FILE` when there's a `$IN_NIX_SHELL` (which wouldn't exactly do the right thing either, because it also triggers in `nix-shell --pure`).

I've now set

    environment.variables."SSL_CERT_FILE" = "/etc/ssl/certs/ca-bundle.crt";

in `configuration.nix` and that works quite well for me.
Maybe we should set something like that in default nixos.

[2016-03-19 22:03] #14048 closed

[2016-03-19 22:06] peti commented on #13744
There certainly is an asymmetry here in the way `nix-shell` handles certificates. If you set `$SSL_CERT_FILE` explicitly, then your settings are inherited and everything works as expected. If you don't set `$SSL_CERT_FILE`, however, then you say, basically, that you want to use the defaults that have been compiled into the programs, but `nix-shell` undermines that choice by setting `$SSL_CERT_FILE

[2016-03-19 22:10] joachifm opened #14064 "dnscrypt-proxy build broken on darwin"
See https://hydra.nixos.org/build/32705849

I am unable to debug this myself and would be much obliged if someone with a darwin system could help me out, as I'd like to avoid having to mark the package as broken on darwin (it is supported by upstream).

[2016-03-19 22:41] globin commented on #14026
(We should check if we still need this version, have it removed locally for virtmanager, virtinst as it isn't used, but haven't had the time to push that)

[2016-03-20 00:05] #4888 closed

[2016-03-20 00:14] abbradar commented on #14028
@jgillich Thanks for opening a bug. I spent some time to play around with this but no luck. Developers might know better what generates those strings (and spaces) in the first place.

[2016-03-20 00:49] khumba commented on #4014
This is on NixOS, @vandenoever?

I'm sorry but I can't investigate right now; I'm travelling until mid-May, didn't bring NixOS.

[2016-03-20 02:21] clacke commented on #4778
Still a problem in OSX 10.10.5 (Yosemite). And lsof is not in the binary cache, so my system tries to build it and fails.

[2016-03-20 03:22] Axiomatic- commented on #13895
I do not use the Skype client directly, but since it is 32-bit, do you have the 32-bit version of apulse installed? (i.e. `nix-env -iA nixos.pkgsi686Linux.apulse`) When that does not solve the issue, have you tried setting APULSE_PLAYBACK_DEVICE to set the playback device?

[2016-03-20 09:49] pSub commented on #4965
Closing. Both, the nixos and nixpkgs manual, are now single page manuals and each section has a permalink if you hover over it.

[2016-03-20 09:49] #4965 closed

[2016-03-20 10:42] sifmelcara commented on #14019
[code]
Above is the configuration that I can reproduce the problem.
steps:
1. rm -rf /home/sys9mm
2. mkdir /home/sys9mm ; chown sys9mm:users -R /home/sys9mm
2. login with kde4 desktop environment
3. open fcitx-config-gtk3 and add chewing to input method list
4. open konsole and gedit, then I found that fcitx only works in konsole, but not gedit.

Thank you

[2016-03-20 11:00] vcunat commented on #14048
Thanks, the package now does what I need it to, so I pushed it as f9cae4f.

Would you skim the example changes e5c319baa88d4 before I push them?

[2016-03-20 11:38] ben0x539 commented on #13895
That seems to make the difference.

Would it be possible for skype to pull in the correct apulse on its own?

[2016-03-20 12:23] ericsagnes commented on #14019
@sifmelcara ok, I found the cause but not yet a way to fix it.
`i18n.defaultLocale` being set to `en_US.UTF-8` seem to be the cause, if set to something else like `ja_JP.UTF-8`, `ctrl+space` is working.
There is a mention about the locale set to english and `ctrl+space` not working in the [archlinux wiki](https://wiki.archlinux.org/index.php/fcitx#Ctrl.2BSpace_fail_to_work_in_GTK_programs) but no

[2016-03-20 12:45] jgillich opened #14076 "buildRustPackage does not execute unpackPhase"
I need to define `unpackPhase` since the sources are in a subdirectory, but it appears `buildRustPackage` just ignores it entirely. I tried patching it in, but it's not working and I'm running out of ideas.

Diff to reproduce: https://gist.githubusercontent.com/jgillich/efa27aa93ab76c6e07cd/raw/220309ea5eaa2ddc8cba4d88dcfc921d5fd151e4/gistfile1.txt

Then just `nix-env -iA diesel` and it **should**

[2016-03-20 14:04] tfheen commented on #13032
I've worked around this by putting:

`cmakeFlags = with stdenv.lib; ["-DCMAKE_FIND_FRAMEWORK=LAST"]`

in `nixpkgs/pkgs/applications/networking/irc/weechat/default.nix`

The problem is that cmake defaults to looking for frameworks before dylibs, and so ends up with the system python instead of the nix-provided one. I don't think my fix is the right one, I suspect this should rather be fixed by eith

[2016-03-20 16:01] aszlig commented on #12794
Working on this right now.

[2016-03-20 16:46] seanparsons opened #14083 "hsdev-0.1.6.0 tests fail when being built."
### Basic info

To make sure that we are on the same page:

* Kernel:

    Linux lenovo 3.18.26 #1-NixOS SMP Thu Jan 1 00:00:01 UTC 1970 x86_64 GNU/Linux

* System:

    15.09.1155.7664d23 (Dingo)

* Nix version:

    nix-env (Nix) 1.10

* Nixpkgs version:

    15.09.1155.7664d23

### Describe your issue here

Starting a nix-shell with hsdev included fails during the build for hsdev.

### Expected

[2016-03-20 17:20] ben0x539 opened #14084 "mumble-1.3.0-git-2015-11-08 doesn't show icons"
## Basic info
- Kernel: Linux vigil 4.4.5 #1-NixOS SMP Wed Mar 9 23:35:58 UTC 2016 x86_64 GNU/Linux
- System: 16.09pre78848.9549257 (Flounder)
- Nix version: nix-env (Nix) 1.11.2
- Nixpkgs version: "16.09pre78848.9549257"
## Describe your issue here

Most icons, for example in the toolbar, the tray area, and beside items in the various tree views in the GUI, are missing in mumble_git.

`nix-env -i

[2016-03-20 18:05] sifmelcara commented on #14019
I believe fcitx with gtk plugin was broken by some commit after your pull request #11254 got merged, because at that time fcitx works fine even I set `i18n.defaultLocale = "en_US.UTF-8";`.

[2016-03-20 18:36] Axiomatic- commented on #13895
I would assume so, possibly detect when `hardware.pulseaudio.enable` is set to `true`, do not pull apulse, when it is not set then pull apulse. This has a downside though, it will add the 32-bit version of apulse, when some people may not want this (as they use apulse with other programs). On Arch Linux the AUR package moves apulse to apulse32 when installing it for the 32-bit version.<sup>[1]</su

[2016-03-20 18:56] mitchty commented on #3382
My fix for git clone over https on OS X was to do the following:
[code]

It is slightly annoying as it worked fine in February when cloning from https repos without the config change to git.

[2016-03-20 19:11] ben0x539 commented on #13895
Could Skype depend on 32bit apulse and have a wrapper invoke it directly without having it in the user environment, or does that still conflict with 64bit apulse anyway?

I think a non-functioning Skype being shipped on non-pulseaudio systems is not a great state of affairs even if a solution is in the wiki.

[2016-03-20 20:12] domenkozar commented on #14043
Hmm, do you understand what's causing line `touch: setting times of 'sampleproject/result': Operation not permitted`

[2016-03-20 20:54] grahamc commented on #7703
This should be able to be closed by now.

[2016-03-20 21:22] aragnon commented on #2189
@Profpatsch I want to setup an NFSv4 location at e.g. /nfs-export/constant.

[2016-03-20 21:26] aragnon commented on #2377
I found a problem related to this; NixOS is not pure w.r.t. the current working directory. That is, the directory in which the nixos-rebuild command is being executed in, has an influence on the semantics of nixos-rebuild, which IMHO, should not happen. (For example when umounting that directory.)

In the scripts I write myself, I usually change directory to /tmp before doing anything; I'd expect

[2016-03-20 21:37] aragnon opened #14090 "How to do NFSv4 with restricted exports?"
I have the following setup:

[code]

However, on a client machine user `b` sees the data in `/mnt/exported_data` and not as desired only the data in `/mnt/exported_data/b`. In short, information (e.g. a file `/mnt/exported_data/test_file`) is shared which shouldn't be.

[2016-03-20 21:58] aragnon opened #14091 "NFSv4 integrated security"
If one looks at `http://nfs.sourceforge.net/nfs-howto/ar01s06.html` and compares that to what NixOS is currently offering, it seems the default setup is rather insecure. I would like to see a module which manages all aspects of NFS configuration (so, including managing /etc/hosts.{allow,deny}, etc).

[2016-03-20 22:02] matthiasbeyer opened #14092 "gitFull has msmtp not wrapped successfully"
## Basic info

To make sure that we are on the same page:

* Kernel: `Linux yuu 4.3.6 #1-NixOS SMP Fri Feb 19 22:35:24 UTC 2016 x86_64 GNU/Linux`
* System: `16.09pre78286.0bf8a1a (Emu)`
* Nix version: `nix-env (Nix) 1.11.2`
* Nixpkgs version: `"16.09pre78286.0bf8a1a"`

## Describe your issue here

`gitFull` has `msmtp` not wrapped and looks for `/usr/bin/msmtp`.

### Steps to reproduce

Try to `gi

[2016-03-20 22:07] bjornfor commented on #14092
Does it look for /usr/bin/msmtp by itself? I was under the impression that the user has to tell git where to look:

[code]

(That's how I've configured it.)

I've always thought that a good solution to this would be to let git look in $PATH for msmtp, so that the same .gitconfig file can work on NixOS and any other distro. I never found the energy to suggest that upstream though. :-)

[2016-03-20 22:09] bjornfor commented on #14092
I also thought that git didn't have anything in particular to do with "msmtp" (you seem to imply that). So from my point of view, wrapping msmtp up in gitFull is not something I've ever considered doing (because I think it's wrong).

[2016-03-20 22:10] Profpatsch commented on #2377
@aragnon Is that related to NFS? Maybe you can open another issue with a demonstration?

[2016-03-20 22:11] matthiasbeyer commented on #14092
Damn, should have checked that first. Sorry for the noise!

[2016-03-20 22:11] #14092 closed

[2016-03-20 22:11] Profpatsch commented on #2377
close @zimbatm

[2016-03-20 22:12] Profpatsch commented on #2189
close @zimbatm

[2016-03-20 22:14] Profpatsch commented on #13947
It is how it is I suppose.

[2016-03-20 22:14] #13947 closed

[2016-03-20 22:15] #13764 closed

[2016-03-20 22:16] rvl commented on #14043
Hi!

It's because the target of the `result` symlink is in the nix store (`/nix/store/1qr1slnjq3i4cd2lmmrh1n4ygqc7m2m1-python3.5-sampleproject-1.2.0`) and owned by root user. My nix build is running as `nixbld1`, so can't touch it.

I also have other symlinks to read-only locations which would also cause problems, even if `result` were removed.

[2016-03-20 22:16] aragnon commented on #2377
@Profpatsch No, the same issue would likely also be the case if one would try to umount any file system which is currently in use by merely being inside a directory on that file system. This behaviour exists on every Linux system I know. I don't think it belongs in NixOS, because it breaks an abstraction.

[2016-03-20 22:16] #10478 closed

[2016-03-20 22:17] rvl commented on #14043
Oh, and the touch comes from `ensureNewerSourcesHook`.

[2016-03-20 22:19] rvl commented on #14043
Looking at the git history, I think I should cc @vcunat.

[2016-03-20 22:21] Profpatsch commented on #9616
@matthiasbeyer lxc 1.1.5 was published Nov 2015, so all you could do is create a patch from that upstream commit and a pull request.

[2016-03-20 22:23] Profpatsch commented on #2953
ping @kirelagin

[2016-03-20 22:24] Profpatsch commented on #3279
No response, so close @zimbatm

[2016-03-20 22:26] Profpatsch commented on #3530
No repsonse, so close @zimbatm

[2016-03-20 22:26] Profpatsch commented on #5089
No respones, so close @zimbatm.

[2016-03-20 22:27] Profpatsch commented on #5051
No response, so close @zimbatm.

[2016-03-20 22:27] Profpatsch commented on #5127
No response, so close @zimbatm.

[2016-03-20 22:29] Profpatsch commented on #5155
There is a `gutenprint` option now, and it has been [clarified](https://github.com/NixOS/nixpkgs/pull/13763), so close @zimbatm.

[2016-03-20 22:30] Profpatsch commented on #5227
No response, so close @zimbatm.

[2016-03-20 22:30] Profpatsch commented on #1871
No response, so close @zimbatm.

[2016-03-20 22:34] domenkozar commented on #1871
Now that 32bit ova is not generated anymore this is really not relevant.

[2016-03-20 22:34] #1871 closed

[2016-03-20 22:35] #5155 closed

[2016-03-20 22:37] #5127 closed

[2016-03-20 22:37] #5051 closed

[2016-03-20 22:37] #5089 closed

[2016-03-20 22:39] #2189 closed

[2016-03-20 22:40] aragnon commented on #5227
You are closing issues without fixing them first; that's not how it works. It is perfectly clear what needs to happen here. If it is not clear for you, you have no place here. This is directed at both @Profpatsch and @joachifm.

[2016-03-20 22:40] Profpatsch commented on #4972
No response, so close @zimbatm.

[2016-03-20 22:40] Profpatsch commented on #4966
No response, so close @zimbatm.

[2016-03-20 22:41] #4972 closed

[2016-03-20 22:41] Profpatsch commented on #4451
No response, so close @zimbatm.

[2016-03-20 22:42] domenkozar commented on #4966
It hasn't improved and this needs to be fixed.

[2016-03-20 22:42] Profpatsch commented on #4336
No response, so close @zimbatm.

[2016-03-20 22:43] Profpatsch commented on #4004
No response, so close @zimbatm.

[2016-03-20 22:43] Profpatsch commented on #2641
No response, so close @zimbatm.

[2016-03-20 22:43] Profpatsch commented on #2830
No response, so close @zimbatm.

[2016-03-20 22:44] Profpatsch commented on #2964
No response, so close @zimbatm.

[2016-03-20 22:44] Profpatsch commented on #3033
No response, so close @zimbatm.

[2016-03-20 22:45] Profpatsch commented on #3140
No response, so close @zimbatm.

[2016-03-20 22:48] Profpatsch commented on #4966
I see I should @mention because you can disable notification for watched threads on GitHub (missed that).

[2016-03-20 22:50] manpages commented on #2830
I'm the original creator of this issue (heavy black-outs on when and why did I create that other account on github).

[This issue was solved independently in October of the same year](https://github.com/NixOS/nixpkgs/pull/4435/files). This issue should indeed be closed.

[2016-03-20 22:56] zimbatm commented on #3633
Closing because there is no clear actionable.

[2016-03-20 22:56] #3633 closed

[2016-03-20 22:58] puffnfresh commented on #11304
Confirmed it didn't work in 15.09 but now works for me on master :+1:

[2016-03-20 23:01] zimbatm commented on #2377
Systemd is going to kill all those processes before unmounting so that's not going to be an issue here. If you can reproduce the issue of systemd not unmounting during shutdown I will re-open the issue.

[2016-03-20 23:01] #2377 closed

[2016-03-20 23:05] zimbatm commented on #2830
:+1:

[2016-03-20 23:05] #2830 closed

[2016-03-20 23:14] zimbatm commented on #3140
I don't have any swap devices but all my generated hardware-configuration.nix files use `/dev/disk/by-uuid/` paths. Assuming this has been fixed.

[2016-03-20 23:14] #3140 closed

[2016-03-20 23:16] zimbatm commented on #3033
I'm not using a traditional desktop so can't repro. If the issue is still there I'm sure we will get other reports.

[2016-03-20 23:18] #2964 closed

[2016-03-20 23:23] zimbatm commented on #4336
This is going to be replaced by a proper solution soon (hopefully). See https://github.com/NixOS/nixpkgs/pull/14000 and related work.

[2016-03-20 23:23] #4336 closed

[2016-03-20 23:32] #2641 closed

[2016-03-20 23:34] nbp commented on #4336
This issue would be fixed by #10851 , because the patching mechanism works by constructing the patches out of all the fixed packages, instead of chaining independent replacement of dependencies.

I even have a test case which I used to verify that #10851 is working properly:
https://github.com/nbp/nixpkgs-2/blob/08f53825e305bbaf4610cf9c5b0d2dad102108cc/pkgs/test/security/check-quickfix.nix

[2016-03-20 23:51] Profpatsch commented on #2954
Slimlock now uses pam.

slock has no support for pam. There is no support for suid bits in the nix store because it is world-readable and then every user could use these programs to gain root access.
So to package slock, it would have to be patched with pam, which is probably not worth the effort.

Resolved @zimbatm

[2016-03-20 23:59] zimbatm commented on #4004
@Profpatsch this is still an issue. You can repro by running nix-build against https://gist.github.com/anonymous/fb9353cabf8dd9fecd28

[2016-03-21 00:00] #2954 closed

[2016-03-21 00:48] #11304 closed

[2016-03-21 01:20] angerman opened #14097 "Documentation: How to use lib.optional keys with configuration.nix"
Packages like `postfix` and `dovecot` come with `withMySQL` and `withPgSQL` options.

I was unable to find the corresponding documentation on how to set those through the `configuration.nix` file. What I ended up with was (which feels wrong though):

[code]

[2016-03-21 01:34] aszlig commented on #2559
There is an [upstream report to allow `StrictModes` within `Match`](https://bugzilla.mindrot.org/show_bug.cgi?id=2498), once this is implemented we can generate the `sshd_config` like this:

[code]

This would be way less racy than adding a "authorized keys file cleaner".

I also thought about patching OpenSSH to prevent mode checking on store paths, but this would actually lead to roughly the sam

[2016-03-21 02:22] codyopel commented on #14084
@ben0x539
Mumble bundles all of its own icons, the issue is that it fails to load svg icons.  I looked into this at one point and I believe it may be an issue with qt5 qtsvg, but I could be wrong.

cc @ttuegel

[2016-03-21 02:28] fpletz commented on #14097
Yes, that's the correct way to override these options of packages for the whole system.

Dovecot and some other service modules (but unfortunately not postfix) also support overriding the package to use. For Dovecot you could get away with:

[code]

[2016-03-21 03:13] #12794 closed

[2016-03-21 03:16] angerman commented on #14097
@fpletz Thanks! Should this be considered a bug in the postfix pkg?

How do those flags play with hydra? I assume if hydra would build all that would result in a complexity explosion. On the other hand, what does a successful hydra build mean if one can break it using some of the options the packages provide? The test coverage of the packages would only partial?

[2016-03-21 03:51] aszlig commented on #12794
I've also [cherry-picked and backported](https://github.com/NixOS/nixpkgs/compare/d10be236f191349773b199d30c4382e31715d60d...da4a26dbce2b3a256afb2939947a16d32d78ad31) the relevant changes to `release-15.09`.

[2016-03-21 04:23] fpletz commented on #14097
Yup, your assumptions are correct. Unfortunately the current state is that hydra builds only the versions referred from `pkgs/top-level/all-packages.nix`. If you need a special version you will have to compile it yourself right now and if a single flag or combinations of flags introduce a build failure we probably are not testing for it right now. There are some packages that do have multiple vers

[2016-03-21 06:16] seanstrom commented on #12794
@aszlig There's reference to the old path of the update.nix file on line 33 of this file:
https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/networking/browsers/google-chrome/default.nix

[2016-03-21 07:36] angerman commented on #12362
@abbradar Great Comment! That comment should be somewhere prominently in the documentation!

[2016-03-21 08:00] cpages commented on #14034
This is not limited to unstable/master. 16.03 is also affected, but I just saw that @aszlig committed a bunch of changes related to https://github.com/NixOS/nixpkgs/issues/12794. Not sure if they fix this?

[2016-03-21 08:17] angerman commented on #14097
Building all combination of flags is certainly going to just just explode. But maybe we could opt for N+1 extra builds? build each flag separately and build all flags together? Unless they are mutually exclusive?
Should the package provide common configurations?

[2016-03-21 08:20] angerman opened #14099 "Documentation: How to purge a packages state?"
So I just ran into the issue of trying to do a force reinstall of gitlab (which brings in redis). I failed to find a command that would take care of purging all the state, should I have wanted to.

What I ended up with was:

[code]

This seems far from perfect. Maybe I've just missed some documentation?

[2016-03-21 09:13] lancelotsix commented on #14026
Yes, this is the preferred way to go. I began that but did not finish it yet, and it impacts some important parts (it causes xen to fail) I would prefer not to break because of unsufficient testing from me. This is in progress but could require some time to complete.

[2016-03-21 09:14] vcunat commented on #14043
Well, I expect we should make the hook refuse touching symlinks, e.g. like this:
[code]
Would you test it?

[2016-03-21 09:21] vandenoever commented on #4014
On Saturday 19 March 2016 17:49:48 Bryan Gardiner wrote:

Yes, NixOS 15.09. I checked with the 15.09 and the nixpkgs master branch.

[2016-03-21 09:28] vcunat commented on #3382
@chris-martin: the nix-shell problem is something different, I believe. See https://github.com/NixOS/nixpkgs/pull/13445#issuecomment-199190972.

[2016-03-21 09:32] vcunat commented on #13895
Yes, I believe that's the way. Though, I don't see an easy way to detect automatically whether the user has pulseaudio or not.

[2016-03-21 09:36] puffnfresh commented on #13895
For reference, I tried adding an attribute as part of #5841 but decided against the idea. I think a Skype-specific wrapper would be a good idea!

[2016-03-21 09:41] vcunat commented on #14099
If anywhere, such functionality could be in the gitlab service, but I believe there's nothing general. I can't even see what such a general thing might look like.

[2016-03-21 09:42] rvl commented on #14043
@vcunat yes, I just tested that patch and it works. Thanks.

[2016-03-21 09:46] vcunat commented on #14097
Note that this isn't just about Hydra resources, but also about increasing the *maintenance* burden. It's just harder to keep all those versions working.

[2016-03-21 09:55] angerman commented on #14099
I have no idea how this could look either. But maybe integrate with the garbage collection. E.g. allow to collect `stateful` garbage. This clearly needs to be marked dangerous though.

Yet for the gitlab case, not properly purging the state, results in either a broken gitlab instance, with weird error messages (e.g. pushing through ssh is broken). Or if one forgets to drop the user, the service wo

[2016-03-21 09:57] vcunat commented on #14043
Hmm, although if some python sources contained a symlink, we might get into problems. @domenkozar: any estimate if that's likely to happen?

If it possible, this should be a surer way:
[code]

[2016-03-21 10:00] vcunat commented on #14099
In general I believe we add state to services only in those cases where you typically want to keep the state (i.e. persist across reboots and nixos version switches).

[2016-03-21 10:07] vcunat commented on #3033
Well, this is hard, as the [XDG spec](https://specifications.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html) requires that caching apps decide re-scanning by timestamps:

[2016-03-21 10:11] zimbatm commented on #3033
If only the spec was (mtime AND symlink target) ... I guess it's still an issue then, re-opening.

[2016-03-21 10:11] domenkozar commented on #14043
Sometimes people do a symlink `README.rst` -> `doc/index.rst` or similar so it might happen.

[2016-03-21 10:18] angerman commented on #14099
@vcunat certainly! Yet what happens to state that gets stale because the package that introduced that state was removed? Are you guaranteed that the state is going to work across versions even with multiple intermediate ones skipped?

This is probably getting even tricker as you have to keep track of the state introduced by each package (as future package might introduce different state, and won't

[2016-03-21 10:19] peti commented on #14097
The dovevot `package` option seems redundant to me and I'd be in favor of removing it.

[2016-03-21 10:32] vcunat commented on #14099
Better move this discussion to https://github.com/NixOS/nixpkgs/issues/7420 to have it in one place.

[2016-03-21 10:32] #14099 closed

[2016-03-21 13:15] vcunat commented on #13859
No, that patch isn't a good approach. IIRC it won't work if the machine is using some different kernel driver, e.g. a proprietary one. See #9415 for libGL on non-NixOS.

[2016-03-21 13:15] #13859 closed

[2016-03-21 13:19] vcunat commented on #6802
I can't see anything actionable about this issue.

[2016-03-21 13:27] rvl commented on #14043
Hi @vcunat I think `touch -h` is a good solution. I have tested it and it has the following two properties:

1. symlinks into `/nix/store` are ignored and don't appear in the wheel.
2. symlinks within a project (e.g. symlinked python files) are kept. Both the link target and the symlink appear in the wheel. The symlink becomes a copy of its target.

[2016-03-21 13:31] domenkozar commented on #14026
FYI xen already fails on `16.03`

[2016-03-21 13:46] vcunat commented on #14043
The effect should be that the symlink *itself* is touched instead of its target (no removals such as in your work-around). A quick search suggested that Linux and Darwin does support that.

[2016-03-21 14:01] peterhoeg commented on #9262
A workaround is to simply:
[code]
I'm aware it goes against anything that NixOS stands for, but if you only have a single/few host(s) it might be a temporary workaround.

[2016-03-21 14:04] peterhoeg opened #14103 "network-manager: uses hardcoded path to ping"
[code]

* System: 16.09pre78848.9549257 (Flounder)
* Nix version: nix-env (Nix) 1.11.2
* Nixpkgs version: 16.09pre78848.9549257

## Describe your issue here

network-manager tries to call ping via an absolute path and fails.

### Expected result

nm should be using the proper path in /nix/store

### Actual result

It tries ```/usr/bin/ping``` and fails.

### Steps to reproduce

Install network-man

[2016-03-21 14:19] abbradar commented on #14084
I've seen this issue from time to time and can't still don't have any clue what's going on -- it fixes itself magically after a while.

[2016-03-21 15:00] aszlig commented on #14034
Yes, this is because since NixOS/hydra@4151be7e69957d22af712dd5410b5ad8aa3a2289 the output size of build steps is configurable and before 4f981b4f84707a63904410bb3e2b88621db03e8e the source tree was split up into several derivations, which exceeded the maximum output size at the official Hydra.

So this should be fixed in [`release-15.09`](https://hydra.nixos.org/jobset/nixos/release-15.09/jobs-ta

[2016-03-21 15:00] #14034 closed

[2016-03-21 15:16] abbradar commented on #13744
I think that we can skip setting `SSL_CERT_FILE` if we are in a shell. It can certainly improve purity when we are actually building a package, because in general SSL libraries try to read CA bundles from standard locations so something from them might sneak into the result. On the other hand, `nix-shell` is used for 1) development; 2) prelimitary testing of the build. In both of those cases havin

[2016-03-21 15:25] Profpatsch commented on #2537
The reasoning behind it is that you can programmatically change argument flags by invoking other programs in the wrapper (which is quite sensible):

[code]

I tested it, making it local seems to work well and should decrease the likelyhood of an accidental bug:
[code]

[2016-03-21 15:27] tlevine opened #14105 "GnuCash reports are displayed as HTML text rather than being rendered"
## Basic info

[code]

I will mention building with webkit; this is the patch for that.

[code]

One present issue with the GnuCash package is that HTML reports
are displayed as HTML text rather than being rendered.

I read in ./configure --help that the HTML engine is webkit
[code]
and saw a corresponding include in the GnuCash source code,

    #include <webkit/webkit.h>

so I tried building wit

[2016-03-21 15:46] pSub commented on #14026
FYI: I switched away from sqlalchemy7 in `pythonPackages.radicale` yesterday.

[2016-03-21 15:57] joachifm commented on #14026
Apart from virtinst, acd_cli, beaker, coilmq, geeknote are the only revdeps of sqlalchemy7, as far as I can tell.

[2016-03-21 16:07] abbradar commented on #13985
Hm, that's strange -- I can't reproduce this on `master` nor on the unstable channel (I have `dwarf_fortress` installed). I also don't have `d3b62c` commit. Can you please specify exact branch and revision?

[2016-03-21 16:08] aszlig commented on #14105
That difficulty you're listing here isn't related to Nix(OS) but to a [WebKit port also called Nix](https://lists.webkit.org/pipermail/webkit-dev/2013-May/024905.html).

[2016-03-21 16:23] abbradar commented on #14076
Aha, got it -- actually it fails not in the `buildRustPackage`, but in `fetchcargo`!

[2016-03-21 16:34] ttuegel commented on #14084
I presume this pertains to the Qt 5 version of mumble. The package provides SVG icons, so it needs qtsvg at runtime; that is why installing breeze-icons may fix this issue. There are three things the maintainers (@viric @jgeerds @wkennington) need to do to fix this issue:

1. Call the package with `qt5.callPackage`.
2. Include `qtsvg` in `buildInputs`.
3. Wrap the resulting executable(s) with `wra

[2016-03-21 16:48] bendlas commented on #13859
@vcunat how about we leave the issue open, until we know how to fix it?

[2016-03-21 17:10] fkz commented on #13744
I suggest the following:

- Add environment variable `$IN_PURE_NIX_SHELL` in nix-shell which is set when we're calling `nix-shell --pure` (in addition to $IN_NIX_SHELL)
- change the condition in https://github.com/NixOS/nixpkgs/blob/master/pkgs/stdenv/generic/setup.sh#L387 to (modulo bash syntax)

     if [ -z "$SSL_CERT_FILE"  -a ( -z $IN_NIX_SHELL -o -n $IN_PURE_NIX_SHELL ) ]; then

This way we

[2016-03-21 17:38] tlevine commented on #14105
Well that's promising. I guess I'll just need to look closer at the
webkit and gnucash packages.

On 21 Mar 09:08, aszlig wrote:

[2016-03-21 20:20] #14006 closed

[2016-03-21 22:21] laMudri commented on #14019
I've been having the same problem, and maybe was having the same problem with IBus recently, too. Anyway, after discussions on fcitx's IRC channel, it seems that the problem could be an invalid cache entry. For me, `/nix/store/1ng2rcax0jzcqd0yazz53yspjmsl5s2h-gtk+-2.24.29/lib/gtk-2.0/2.10.0/immodules.cache` contains entries which correspond to what I see in the context menu of [this screenshot](ht

[2016-03-21 22:37] fkz commented on #13519
this is still not working for me. @ttuegel Have you been able to reproduce this?

[2016-03-21 22:51] lancelotsix commented on #14026
I openned #14110 to do some cleanup on sqlalchemy7. There still is `buildbot` that explicitly require `sqlalchemy7`.

The same work will have to be done for `sqlalchemy8` and `sqlalchemy9`.

[2016-03-22 00:20] ericsagnes commented on #14019
@ttuegel Could this issue be a side effect of a91161aa57f7cfe447a551bafc2d7c6c6bbbe44b ?

[2016-03-22 05:21] markus1189 opened #14113 "Emacs freezes when loading tramp package"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`)
  - `Linux nixos 4.4.5 #1-NixOS SMP Wed Mar 9 23:35:58 UTC 2016 x86_64 GNU/Linux`
* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
  - NixOS
* Nix version: (run `nix-env --version`)
  - `nix-env (Nix) 1.11.2`
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion

[2016-03-22 06:09] abbradar opened #14115 "command-not-found is broken"
## Basic info

To make sure that we are on the same page:

* Kernel: (run `uname -a`) `Linux abbradarbook 4.5.0 #1-NixOS SMP Mon Mar 14 04:28:54 UTC 2016 x86_64 GNU/Linux`
* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...) `16.09.git.0907de9 (Flounder)`
* Nix version: (run `nix-env --version`) `nix-env (Nix) 1.11.2`
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>'

[2016-03-22 06:14] vcunat commented on #13859
That issue *is* open, and it has some "solutions", although not very user-friendly ones. Note that this has really not much to do with dropbox; various programs use libGL nowadays.

[2016-03-22 06:56] regnat commented on #13985
Oops my bad, the commit is d3b642ce9ad056b60d8cfa576dd3fa800ec57ba4, not d3b62c.

I get this error on any revision containing this commit.

I'll try on a VM see if I can reproduce it on a fresh install

[2016-03-22 09:16] joelmo commented on #14115
See https://github.com/NixOS/nixos-channel-scripts/issues/4

[2016-03-22 10:03] markus1189 commented on #14113
Okay just tried it in nixpkgs HEAD from github and it works.

[2016-03-22 10:03] #14113 closed

[2016-03-22 10:34] ttuegel commented on #13519
No, I still haven't been able to reproduce this. Can you take a screenshot? Also, are you using a HiDPI display?

[2016-03-22 10:40] ttuegel commented on #14019
@ericsagnes I suppose it must be, but I'm not seeing what happened right now. That commit didn't change the setting of `GTK_IM_MODULE_FILE`.

[2016-03-22 10:46] #14115 closed

[2016-03-22 10:48] laMudri commented on #14019
I think it's that [this](https://github.com/NixOS/nixpkgs/blob/1a4ab04e298077185dd32d4594825b6e92f60a4e/pkgs/development/libraries/gtk%2B/2.x.nix#L40) is run without the input method as a plugin. We shouldn't need to use `GTK_IM_MODULE_FILE` (it's insufficient, since different values are required for gtk2 and gtk3), and the problem is the existence of `/nix/store/...-gtk+-2.24.29/lib/gtk-2.0/2.10.

[2016-03-22 10:50] domenkozar commented on #14103
How to trigger the ping?

[2016-03-22 11:27] rvl commented on #14043
OK thanks @vcunat, so the `touch -h` option fixes this issue (symlinks to `/nix/store`), and doesn't break existing usage of symlinks (within python package tree). I think if you committed that change it would close this issue.

[2016-03-22 11:58] romildo commented on #10349
On my unstable NixOS system `lightdm` is always pre-selecting the first entry in the sessions menu, and never remembers my last choice,

[2016-03-22 12:05] peterhoeg commented on #14103
Actually, I don't know what exactly network-manager is trying to do, but I had a quick look through the nm source, and it seems like adding this to the preConfigure phase does the trick:

Refer to: https://github.com/peterhoeg/nixpkgs/blob/nm_ping/pkgs/tools/networking/network-manager/default.nix#L18-L19
[code]
I have managed to build a new packge with this, but as I haven't figured out how to ins

[2016-03-22 12:12] spinus commented on #10349
Just a blind guess.
What's your setup for:

users.mutableUsers = true; - this is mine (at least on the machine which
preserve selected session)

2016-03-22 11:58 GMT+00:00 José Romildo Malaquias <notifications@github.com>
:

--
Tomasz Czyż

[2016-03-22 12:13] jgillich commented on #14076
Looks like we need to simply pass `unpackPhase` to `fetchcargo`, I'll try that soon.

[2016-03-22 12:22] matthiasbeyer commented on #13945
@zimbatm The PR you referred to was already merged. For me all these things sound nice and awesome, though I'd love to see some documentation on how this works and how this can be configured (if required) right inside the docs. Do you mind adding some documentation?

[2016-03-22 12:44] joachifm commented on #14103
Won't that make the network-manager package NixOS only?

[2016-03-22 13:12] romildo commented on #10349
On my configuration `users.mutableUsers` is not explicitly set, but according to the documentation, `true` is the default value.

[2016-03-22 13:18] spinus commented on #10349
Do you use any "proper" xsession manager? I'm using xfce session with
awesome window manager and the choice is preserved.
I can try later to test other options and report what's happening without
session manager (xterm, awesome).

Reference:
http://askubuntu.com/questions/65753/login-screen-doesnt-remember-my-choice-of-desktop-enviroment

2016-03-22 13:13 GMT+00:00 José Romildo Malaquias <notifica

[2016-03-22 14:56] romildo commented on #10349
Currently I am using mainly `xfce`, and `lightdm` is not remembering latest session between reboots. But I think it should work without a session manager, as it does on other linux distributions. For instance in Gentoo Linux sometimes I use `fluxbox` or `openbox` or `awesome`, among others, without a session manager and `lightdm` remembers the latest session between reboots.

[2016-03-22 14:59] spinus commented on #10349
Maybe directory where lightdm user preferences are saved has wrong
permissions?

2016-03-22 14:56 GMT+00:00 José Romildo Malaquias <notifications@github.com>
:

--
Tomasz Czyż

[2016-03-22 15:01] peterhoeg commented on #14103
It's not changes to upstream - we patch in `network-manager/default.nix` or am I misunderstanding your question?

[2016-03-22 15:07] romildo commented on #10349
Where would `lightdm` save user preferences? There is no file or directory with `lightdm` in its name on `$HOME`:
[code]
No file is found.

[2016-03-22 15:09] joachifm commented on #14103
If you hard-code a call-out to a path that typically only ever exists on NixOS, then the resulting binary will be NixOS only (i.e., it will fail to work on !NixOS out of the box). There are several packages that do this, already, but IMO that's not a good thing.

[2016-03-22 15:25] spinus commented on #10349
That's how it looks like on my box:

# cd /var/lib/lightdm-data/ && ls -al
total 23
drwx------  5 lightdm lightdm  6 Mar 22 15:24 .
drwxr-xr-x 18 root    root    18 Dec 15 17:53 ..
drwxr-xr-x  4 lightdm lightdm  4 Mar 16 12:27 .cache
drwxrwx---  2 lightdm lightdm  2 Mar 16 12:27 lightdm
drwxrwx---  2 spinus  lightdm  2 Oct 29 09:23 spinus
-rw-------  1 lightdm lightdm 52 Mar 16 12:27 .Xauthority

[2016-03-22 15:34] romildo opened #14120 "Wrapping environment variables in GNOME 3 applications"
It seems that all nix expressions for gnome3 applications need revision regarding environment variables wrapping.

For instance  on my unstable NixOS system I have

[code]

on `environment.systemPackages` on my configuration. All of them (except `gnome-terminal`, which I have already fixed), when run outside of gnome3, are giving error messages like

[code]

I think they may be fixed by replacing

[2016-03-22 15:52] jgillich commented on #14120
Related: #4415

[2016-03-22 16:00] wengxt commented on #14019
Hi all, I'm current main developer of fcitx.

I'd just like to provides some of my knowledge here.

The immodules.cache file is a file that let gtk to find im module plugins. Without it, or outdated immodules.cache file will make gtk unable to find newly installed im modules.

Currently, it's being generated at https://github.com/NixOS/nixpkgs/blob/1a4ab04e298077185dd32d4594825b6e92f60a4e/pkgs/dev

[2016-03-22 16:22] elitak commented on #2079
@aszlig I appreciate the update. I will have a cursory look at those test suites to see if there's anything easy to fix.

Where is the device-mapper module that will do the inode/block tagging? Is that part of libblockdev or is it still unwritten?

I still have a very nebulous picture of how it will all fit together. A repository tying them all together would be helpful. To that end, where can I f

[2016-03-22 16:45] abbradar commented on #14120
cc @lethalman

[2016-03-22 17:36] joachifm commented on #13559
At the current rate of fixes, is this realistic?

[2016-03-22 17:41] pSub commented on #13559
Sorry, I think I missed something. What are you referring to?

[2016-03-22 17:41] ryanartecona commented on #12670
I hit a couple packages which depended on the now-broken-on-darwin gobject-introspection, and tried my hand at seeing what was up.

I hit a few dead ends, but eventually discovered that the nixpkgs-installed otool itself looks to be to blame:

[code]

[2016-03-22 17:48] joachifm commented on #13559
I'm looking at the number of build failures compared to the rate of fixes and wondering whether it is realistic to reach 0 failures before the deadline.

[2016-03-22 18:14] fpletz commented on #14097
I don't really have an opinion on this, but we should stick to one solution instead of the current incoherent situation.

[2016-03-22 18:43] ttuegel commented on #14019
That is not possible in Nix; each build is completely isolated. I don't have this problem with ibus, but I also have the XIM method enabled, which is probably why it works.

This is not a big problem. It is already not possible to use GTK2 and GTK3 at the same time from Nix.

Yes, we could patch GTK to look for this cache file under `/var` somewhere. (This is the only mutable path in Nix.) In fact

[2016-03-22 18:47] abbradar commented on #14103
I think that we can apply a patch in this particular case at least because:

1. NetworkManager is a system service, usually provided by the distribution. It's difficult to integrate services built with Nix into another system (you would need to somehow add all needed systemd, dbus and whatever services to your system or even do things some another way if your distro is non-systemd etc etc)
2. `/us

[2016-03-22 18:55] laMudri commented on #14019
What about using both, say, Firefox and gedit? I can't set `GTK_IM_MODULE_FILE` globally in such a way that both applications will work.

[2016-03-22 19:09] ttuegel commented on #14019
It is already not possible to install both applications simultaneously and have widget themes and image loaders working in both, see #5053.

[2016-03-22 19:16] wengxt commented on #14019
AFAIK, to adapt normal unix software to work under nix os path scheme, there are already many patches/hacks/workarounds used right now. Moving cache file to somewhere persistent across reboot but writable looks necessary for NixOS to work with gtk2/3 + input method. I didn't mean that this patch should be upstreamed or something, this will be a NixOS specific patch obviously.

Well, I won't argue

[2016-03-22 19:19] ttuegel commented on #14019
Sorry, I meant, it will work if you're using Nix on NixOS, but it won't work if you're using Nix on Ubuntu or Nix on Arch (for example). Of course it won't be upstreamed.

I agree with you 100%, and I have proposed that solution before, but it was rejected by the GTK maintainers because it breaks compatibility with upstream GTK.