[2016-09-04 07:05] edwtjo commented on #18241
*IntelliJ is to IDEA what Chromium is to Chrome.* I've previously made an attempt to package intellij, see #8130, but finally dropped it since was to much effort with too little value added. The motivation is:

  1. Then there wasn't any real changes between the final built intellij dist and IDEA from Jetbrains.
  2. Dependencies of java programs usually rely on third party repos and pre compiled

[2016-09-04 07:05] edwtjo commented on #8130
I've previously made an attempt to package intellij with plugins to make an `intellijWithPlugins`, #18241 related, but finally dropped it since its to much effort with too little value added. An `ideaWithPlugins` would make more sense.

[2016-09-04 07:05] #8130 closed

[2016-09-04 07:36] Ptival opened #18279 "How can I fix a corrupt manifest.nix?"
## Issue description

I'm really not sure when or what happened, but suddenly my nix-env is unusable!

[code]

I couldn't find anything to fix it! I tried:

[code]

I tried to ask on IRC or search the chat logs but couldn't really find any help anywhere. Is anyone knowledgeable enough to fix this kind of issue!?

[2016-09-04 08:26] ericsagnes commented on #13269
@siddharthist

For the record, the information on this wiki page is pretty much outdated:
- there is no need to have `dmenu` and `i3status` in environment.systemPackages since  89fa4724f188d2950203446e91720b3880c5d9c3.
- I am pretty sure `i3status` will not show any error and just work out of the box.

The place of choice to document modules is the [`meta.doc`](http://hydra.nixos.org/job/nixos/tru

[2016-09-04 08:32] matthiasbeyer commented on #18271
Actually yes, it didn't help.

[2016-09-04 08:45] FRidh commented on #18162
From the manual:

so `"pkgname-unstable-${version}` with `version = "YYYY-MM-DD"`. `git`, `svn`, etc. should be updated to this format.

With the functions for building Python packages I intend to make the `version` a parameter and let the functions put the name and version together, the reason being that if we automate the updating of packages further the `version`  would be needed for selecting

[2016-09-04 08:47] domenkozar commented on #6652
This is getting worse and worse. I wonder if we should really just disable travis and work on Hydra that tests PRs.

[2016-09-04 08:48] dezgeg commented on #6802
The build products of the proprietary drivers are most likely non-redistributable due to their licenses, so the users of them would need to build most of the apps from source.

[2016-09-04 08:49] ericsagnes commented on #13224
This wiki page content is pretty thin.
IMHO, all of it says says is already in the option descriptions for `programs.zsh.enable`, `users.users.<name?>.shell` and `users.defaultUserShell`.

Maybe adding references to `users.users.<name?>.shell` and `users.defaultUserShell` to `programs.zsh.enable` could be useful for newcomers, eg:

[2016-09-04 08:58] domenkozar commented on #18209
I've updated the issue with latest failing builds from http://hydra.nixos.org/eval/1290819

There is a new evaluation pending, which should fix some tests.

cc @peti for haskell packages.

[2016-09-04 09:00] FRidh commented on #6652
For the PR's I've been looking at Travis appears to be working quite well now. The problem is that currently on master and I think also 16.09 the tarball cannot be build (https://github.com/NixOS/nixpkgs/issues/18209#issuecomment-244576612). A problem I did find is that Travis often reports a fail of the first test job for no apparent reason.

[2016-09-04 09:00] ericsagnes commented on #13336
This page contents and much more are in https://nixos.org/nixos/manual/index.html#sec-writing-modules.
Should be safe to close.

[2016-09-04 09:04] ericsagnes commented on #13331
In https://nixos.org/nixos/manual/index.html#sec-option-declarations.
Should be safe to close.

[2016-09-04 09:08] ericsagnes commented on #13307
Should be safe to close as there are already a few manual entries for package management:
- https://nixos.org/nixos/manual/index.html#sec-package-management
- http://nixos.org/nix/manual/#chap-package-management
- `man nix-env`

[2016-09-04 09:10] ericsagnes commented on #13301
This page brings not much more information than the prosody service options descriptions. If a more complete documentation is made, it should go in the module `meta.doc` attribute.

[2016-09-04 09:18] ericsagnes commented on #18271
Is it possible to see the full `configuration.nix`?
It should be possible to use `config` as it is included in the `configuration.nix` main function arguments.

[2016-09-04 09:25] nico202 opened #18282 "freetts not installing"
## Issue description

freetts won't compile, since ant is missing a jdk/jre
### Steps to reproduce

nix-env -iA nixos.freetts (on NixOS)
## Technical details
- System: 16.09pre90254.6b20d5b (Flounder)
- Nix version: nix-env (Nix) 1.11.3
- Nixpkgs version: "16.09pre90254.6b20d5b"

[2016-09-04 09:30] domenkozar commented on #18209
Fixed tarball in ad771764743d9645084ac21730bb5a6cc11ce672 /cc @fpletz

[2016-09-04 10:11] matthiasbeyer commented on #18271
my `configuration.nix´ is actually split over ~50 files. The snippet above is one of these files, I return a list from it and concat this list with other lists, setting `environment.systemPackages = lists` in my main file.

I can try what you suggested as soon as I'm back at my other machine where this problem occured.

[2016-09-04 10:27] edwtjo commented on #18055
@ttuegel I've changed to using esr in 0edc7ee as it solves this annoying issue, hope you don't mind.

[2016-09-04 10:49] vcunat commented on #18055
@edwtjo: that doesn't work for me
[code]

[2016-09-04 10:59] moyamo commented on #17267
It seems this problem can be bypassed by appending `/<program name>` to `argv[0]`. e.g.

    $ bash -c 'exec -a name sleep 10'
    name: unknown program ‘name’
    Try 'name --help' for more information.
    $ bash -c 'exec -a "name/sleep" sleep 10'
    # Terminal sleeps for 10 seconds

[2016-09-04 11:15] cleverca22 commented on #18279
can you pastebin the contents of the manifest.nix?

[2016-09-04 11:34] domenkozar commented on #18209
Last failing dependency of `tested` job is OVA, I'm suspecting the following change: https://github.com/NixOS/nixpkgs/pull/17822#issuecomment-244598190

[2016-09-04 11:38] vcunat commented on #17267
Single-binary build of coreutils is known to break some weird use cases. So far I fail to see some that would justify us switching the default coreutils back. Affected people can also use `coreutils.override { singleBinary = false; }`.

[2016-09-04 11:43] domenkozar commented on #17578
Note that this affects the release of 16.09, we're trying to ship without failing builds. See https://github.com/NixOS/nixpkgs/issues/18209

[2016-09-04 11:46] Mic92 commented on #18209
Regarding `nixos.tests.ferm.i686-linux`:

This is only broken on 32bit not x86_64: Is there a way to build a 32bit integration test on a 64bit installation?

[2016-09-04 11:48] Mic92 commented on #18209
Is there a way to automatically inform all maintainers of these packages? I only saw this by a accident.

[2016-09-04 11:49] domenkozar commented on #18209
@Mic92 I'm working on a script to figure out when the build(s) started failing and who to really ping.

[2016-09-04 11:50] domenkozar commented on #18209
@Mic92 you can run it like `$ nix-build nixos/release.nix -A tests.ferm.i686-linux`

[2016-09-04 11:57] vcunat commented on #18209
@domenkozar: doesn't Hydra do that with `meta.maintainers` already?

[2016-09-04 11:58] domenkozar commented on #18209
@vcunat if we had a strict rule that each module/pkgs would have `meta.maintainers`, that would work, yes. Otherwise I usually have to pin down the commit, just like mention bot does.

[2016-09-04 12:00] vcunat commented on #18209
Forcing people wouldn't help much, I think.

[2016-09-04 12:01] domenkozar commented on #18209
I agree, I'm just saying that `meta.maintainers` is partially useful here.

[2016-09-04 12:06] Mic92 commented on #18209
ok, maybe I was not informed about this breakage by hydra, because I added the integration test after submitting the package.

[2016-09-04 12:15] aristidb commented on #18209
ispc should be fixed now. It's merged to 16.09, but not yet evaluated by Hydra.

[2016-09-04 12:33] Mic92 commented on #18209
`nixos.tests.ferm.i686-linux` will be fixed with: https://github.com/NixOS/nixpkgs/pull/18288

[2016-09-04 14:14] Ptival commented on #18279
It's empty.

On Sun, Sep 4, 2016, 04:16 cleverca22 <notifications@github.com> wrote:

[2016-09-04 14:18] garbas commented on #13301
@ericsagnes tnx! closing it

[2016-09-04 14:18] #13301 closed

[2016-09-04 14:19] #13307 closed

[2016-09-04 14:19] #13331 closed

[2016-09-04 14:20] #13336 closed

[2016-09-04 14:32] #13224 closed

[2016-09-04 15:37] garbas commented on #13269
closing this one since wiki page is as @ericsagnes said really outdated

[2016-09-04 15:37] #13269 closed

[2016-09-04 15:52] domenkozar commented on #16514
I got the same switching from freshly booted 16.03 and upgrading to 16.09:

[code]

Pretty sure we'll get more reports like this once 16.09 channels are available.

[2016-09-04 15:59] domenkozar opened #18293 "git push: signing failed: agent refused operation"
[code]

This happens after upgrading to 16.09. Have to read the changelog probably to fix this ^^.

[2016-09-04 16:02] domenkozar commented on #18293
[code]

Two things:

- it's 16.09
- how to get the agent back?

[2016-09-04 16:09] domenkozar commented on #18293
`$ pkill gpg-agent` solved the problem.

[2016-09-04 16:25] domenkozar commented on #16514
`system.conf` is a dummy file, let's keep it there for at least one more release not to cause any troubles.

[2016-09-04 16:33] domenkozar opened #18294 "Can't deploy 16.09 on top of 16.03 using NixOps + libvirtd: permission denied"
[code]

Did we upgrade OpenSSH again?

cc @edolstra

[2016-09-04 16:36] stapelberg commented on #6802
I might be understanding the term “non-redistributable” wrong, but you don’t need to distribute the driver package itself to use it when compiling the remaining packages. So, in practice, users would need to build that one package, but not all reverse-dependencies.

What problems?

[2016-09-04 16:53] cleverca22 commented on #18279
ah, then your only option is nix-env --rollback to switch to the previous version

[2016-09-04 16:53] anderspapitto commented on #17267
@vcunat The thing is, since no other distro does this (the single-binary feature was added specifically for the stripped-down android userland), all the miscellaneous software that does have a dependency is going to stay broken forever (for example - who can you picture ever fixing https://git.zx2c4.com/password-store/tree/src/password-store.sh#n140 ?). Having a smaller coreutils isn't part of Nix

[2016-09-04 17:00] Ptival commented on #18279
It says `no environment older than the current one exists`... :(

[2016-09-04 17:00] vcunat commented on #17267
I meant you can use the overridden coreutils *only* for the packages where needed, without affecting stdenv or anything else.

[2016-09-04 17:08] domenkozar commented on #18294
Strange, for some reason public ssh key from my user is inside `/etc/ssh/authorized_keys.d/root`.

`NIXOPS_LIBVIRTD_PUBKEY` is not set.

[2016-09-04 17:13] domenkozar commented on #18294
I'd actually bet this is a nixops libvirtd bug.

[2016-09-04 17:22] lancelotsix commented on #18209
`nixpkgs.salut_a_toi` fixed in c47eb4a43a9ab338c26b6b05d59ad0cb90507ed1

[2016-09-04 17:37] domenkozar commented on #18294
Yeah. If you set `users.users.root.openssh.authorizedKeys.keys` it overrides the nixops key.

[2016-09-04 17:38] domenkozar commented on #18294
https://github.com/NixOS/nixops/issues/499

[2016-09-04 17:38] #18294 closed

[2016-09-04 17:51] the-kenny commented on #17552
Got it working here with most optional features enabled. Just need some more time to get the geo-stuff (based on marble) working.

@clefru may I ask what use case made `4.12` unusable for you?

[2016-09-04 18:07] domenkozar commented on #16514
So that won't do since dbus configuration changed:

[code]

I see following options:

- check if we can generate the configuration that works with old dbus versions as well
- change dbus to restart on package change

[2016-09-04 18:08] layus commented on #16514
@vcunat

Yes and no. We need not make the transition seamless, but could we at least detect such scenarios and add a warning when someone tries to `switch` between incompatible versions. Something like an "epoch" integer maybe ?

[2016-09-04 18:22] domenkozar commented on #16514
On related note, we have dbus-1.10.8 while latest upstream is 1.11.4

[2016-09-04 18:42] moyamo commented on #17267
@anderspapitto I'd like to point out that their does seem to be a [patch for password store](https://lists.zx2c4.com/pipermail/password-store/2016-September/002382.html), but I have no if it will be merged upstream.

I agree that coreutils shouldn't be the single binary, just because it saves ~5MB.

[2016-09-04 18:44] vcunat commented on #16514
(dbus update staged in 741527a)

[2016-09-04 18:49] edwtjo commented on #18055
@vcunat sorry about that, I must have copied from the wrong terminal :/ I've addressed this in #18297

[2016-09-04 19:51] loskutov opened #18299 "sway and wlc versions are not compatible"
## Issue description

When trying to build sway, it fails because wlc changed the API (https://github.com/Cloudef/wlc/commit/e9d8e985202ecd3e6219252b75553204b41541c5) that sway relies on.

### Steps to reproduce

Install sway from the nixpkgs master. It will fail with the following error message:
[code]

[2016-09-04 19:58] truh opened #18300 "xalan-c: executable not added to PATH"
## Issue description

The executable Xalan is not added to PATH with package installation. Executing Xalan is therefore not easily possible.

The expression found [here](https://github.com/NixOS/nixpkgs/blob/52b64cedec801770287eb0fa42263732bf2ab562/pkgs/development/libraries/xalanc/default.nix) adds a prefix `usr/` to each of the files in the package. Removing the prefix fixes this issue but break

[2016-09-04 20:07] mikael-andersson commented on #18169
I am closing this and open a new one with a more correct issue title.

[2016-09-04 20:07] #18169 closed

[2016-09-04 20:13] mikael-andersson opened #18302 "nilfs-utils: nilfs_cleanerd not started at boot"
## Issue description
Disk gets full since nilfs_cleanerd is not started during boot.
See original issue, #18169, related to this.

### Steps to reproduce
Start up system formatted with NILFS and run 'ps aux | grep nilfs' in order to verify that nilfs_cleanerd process is not running.

## Technical details

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
16.03.1171.9cb194c (

[2016-09-04 20:56] listx commented on #18240
So, it looks like I missed this discussion: http://lists.science.uu.nl/pipermail/nix-dev/2016-June/020642.html . So basically all haskellPackages are tracking the LTS release, which is why it's not using the latest "brick" package. Closing for now as this is the intended behavior.

[2016-09-04 20:56] #18240 closed

[2016-09-04 21:29] andrewrk opened #18304 "unable to update xfce due to gst-plugins-good not building"
## Issue description

When doing `nixos-rebuild switch --upgrade`:

[code]

### Steps to reproduce

Relevant config:

[code]

## Technical details

* System: NixOS: `16.09pre87524.2ef1c6b (Flounder)`
* Nix version: nix-env (Nix) 1.11.2

[2016-09-04 22:55] #18299 closed

[2016-09-04 23:52] ashgillman commented on #10926
Yes, it looks like Biber was updated to work with that PR
https://github.com/NixOS/nixpkgs/pull/16391#issuecomment-229350134

If anyone is having the same issue, this package override worked for me:

    biber = pkgs.biber.overrideDerivation (
      oldAttrs: rec {
        version = "2.4";
        name = "biber-${version}";
        pn = "biblatex-biber";
        src = fetchurl {
          url = "m

[2016-09-05 00:48] abbradar commented on #18304
Do you have `nixpkgs.config.pulseaudio` enabled? This should then be fixed by c9bcec2e880897505dae6972bc32f8f3cfe2d3d7.

[2016-09-05 04:19] Ptival commented on #18279
To anyone this happens to (corrupt profile + garbage-collected other profiles), you can delete your corrupt profile. First you might want to remember what was installed:

[code]

Then wipe the corrupted profiles out:

[code]

Then start again from scratch.

Thanks to clever and vcunat for helping me!

[2016-09-05 04:19] #18279 closed

[2016-09-05 04:42] andrewrk commented on #18304
Yes.

I wanted to wait until I could test if this worked before posting a comment, but somehow this time chromium-browser had to be built locally instead of using the cached one from hydra, and it's been going for 6 hours now. Looks like I got past the gst-plugins package though; thank you for your suggestion.

[2016-09-05 04:57] siddharthist commented on #13294
I don't think this one is worth migrating. It has little to do with nixos in particular, and only covers already-documented options.

[2016-09-05 04:59] siddharthist commented on #13225
Where would be a good place for this information in the manual?

[2016-09-05 05:00] siddharthist commented on #13215
This page just redirects to the page covered by #13218

[2016-09-05 05:03] siddharthist commented on #13198
This wiki page just links to the [nixpill](http://lethalman.blogspot.it/search/label/nixpills) series of blog posts. Do we want a link to those in the nix manual? If so, should it go under [the section on the nix expression language](https://nixos.org/nix/manual/#ch-expression-language)?

[2016-09-05 05:05] siddharthist commented on #13180
"Using Profiles for Development Environments" is a link to "Develop software with unique profiles using Nix" which links to "Development Environments" which is covered by #13204.

[2016-09-05 05:06] siddharthist commented on #13180
I think the page "Nix Wiki" doesn't need to be migrated.

[2016-09-05 05:50] fleimgruber commented on #18168
Duplicate of #17016.

[2016-09-05 06:12] bjornfor commented on #18168
Fixed with 6a4afcded09bb1a0431d1e4568d12abc187ab64e.

[2016-09-05 06:12] #18168 closed

[2016-09-05 06:15] bjornfor commented on #17016
Fixed with https://github.com/NixOS/nixpkgs/commit/6a4afcded09bb1a0431d1e4568d12abc187ab64e.

[2016-09-05 06:15] #17016 closed

[2016-09-05 06:23] bjornfor commented on #12087
For those not tied to Owncloud+Nginx, you can try this Nextcloud+Lighttpd NixOS module: https://github.com/bjornfor/nixos-config/blob/master/modules/nextcloud.nix. (WebDAV works.)

[2016-09-05 06:48] garbas commented on #13180
@siddhanathan tnx, marked them as done

[2016-09-05 06:50] garbas commented on #13198
@siddharthist we can look into nixpills once we migrated the wiki. especially to have some more tutorial-style documentation. closing this one

[2016-09-05 06:50] #13198 closed

[2016-09-05 06:51] garbas commented on #13215
tnx

[2016-09-05 06:51] #13215 closed

[2016-09-05 07:18] timbertson opened #18310 "macvim compilation errors on unstable channel"
## Issue description

[code]
## Technical details
- System: OS X El Capitan
- Nix version: nix-env (Nix) 1.10
- Nixpkgs version: 16.09pre90351.e446b9f

/cc @cstrahan

[2016-09-05 08:36] edolstra commented on #16514
@layus NixOS upgrades have traditionally not required a reboot, let's not get into the habit of requiring that.

[2016-09-05 08:53] garbas commented on #13225
i'm not 100% myself but i see 2 options:

- create new section between **8. File Systems** and **9. X Window System** called **Fonts**
- or add documentation to nixos options via ``meta.doc``

in any case it would be wise to look into what fonts options we currently support -> https://github.com/NixOS/nixpkgs/tree/master/nixos/modules/config/fonts

i'm leaning more towards second option since i do

[2016-09-05 08:54] garbas commented on #13294
:+1: closing it

[2016-09-05 08:54] #13294 closed

[2016-09-05 09:00] garbas commented on #13345
- only move "Enable wicd, disable other networking" to ``networking.wicd.enable`` option
- find somebody that uses ``wicd`` that can verify that documentation is actually correct

i don't see a value to actually document how to debug wireless adapters.

@siddhanathan does it makes sense?

[2016-09-05 09:00] garbas commented on #13338
:+1:

[2016-09-05 09:00] #13338 closed

[2016-09-05 09:13] #13273 closed

[2016-09-05 10:11] peti commented on #18240
Also, note that Nix doesn't resolve these kind of dependencies. Builds are functions that take their dependencies as arguments and whatever version of `brick` is passed to that function will be used for the build. In other words, the generated expression has no way of specifying any particular version of `brick`. This decision is made at the place that call that function.

[2016-09-05 10:15] domenkozar commented on #9067
Relevant: https://github.com/NixOS/nixops/issues/500

[2016-09-05 10:17] peti commented on #18293
5391882ebd781149e213e8817fba6ac3c503740c provides some documentation.

[2016-09-05 10:19] domenkozar opened #18312 "Get rid of webkitgtk24"
It can not be built in parallel so it takes 6+ hours to build, [sometimes even 9h](http://hydra.nixos.org/build/39171957).

[code]

cc @lethalman @DamienCassou

[2016-09-05 10:20] domenkozar commented on #18312
@gebner could we bump webkitgtk version for mu? See ad41b8fa197cbab795ea01ca7becf6548391ef5c

[2016-09-05 10:42] domenkozar commented on #18312
http://hydra.nixos.org/jobset/nixos/issue-18312-webkitgtk24-removal

[2016-09-05 10:53] domenkozar commented on #18209
I've opened a separate issue to address slow `webkitgtk24` build: https://github.com/NixOS/nixpkgs/issues/18312

[2016-09-05 11:03] domenkozar commented on #18312
http://hydra.nixos.org/eval/1290929?compare=release-16.09

[2016-09-05 11:04] danbst commented on #16032
should this be marked as fixed?

[2016-09-05 11:20] domenkozar commented on #18312
Packages that need the old api should probably be just migrated to webkit 2.10

[2016-09-05 11:28] domenkozar commented on #12023
This should be fixed in https://github.com/NixOS/nixpkgs/issues/18312

[2016-09-05 11:32] ocharles opened #18314 "RescueTime doesn't work due to SSL CA certificates"
## Issue description

When `rescuetime` is launched, it fails to check the status. The error message is:

[code]

### Steps to reproduce

[code]

## Technical details

* Nixpkgs version: Git revision `fa3062d1ef7802fc38ecb6a5b1e2748620c8b860`

[2016-09-05 11:36] domenkozar commented on #5153
Just a note that myEnvFun is deprecated and shouldn't be used.

To get similar behavior with nix-shell it should be possible in a few lines.

[2016-09-05 11:36] #5153 closed

[2016-09-05 11:38] domenkozar opened #18315 "Remove myEnvFun"
We should remove `myEnvFun` and provide instructions how to replace it for different use cases.

[code]

This has been discussed before and `nix-shell` should be cover the same usecases.

Please state why you use `myEnvFun` if you do so we can provide alternative ways.

[2016-09-05 11:40] domenkozar commented on #5623
`myEnvFun` will get removed https://github.com/NixOS/nixpkgs/issues/18315 to remove the confusion between so many options.

[2016-09-05 11:44] domenkozar commented on #5153
See https://github.com/NixOS/nixpkgs/issues/18315

[2016-09-05 11:52] edolstra opened #18316 "packageOverrides no longer respected by aliases"
For example, in `all-packages.nix` we have:
[code]
while in `nixos/modules/config/no-x-libs.nix` we have:
[code]

In NixOS 16.09, the override to `dbus` is no longer propagated to `dbus_tools` and `dbus_daemon`. Thus these continue to use `libX11`. This is a regression from 16.03. (Workaround in ba70ce28ae4032a4674634c2a00615f7a0908357.)

Changing `self` back to `pkgs` restores the 16.03 behaviour

[2016-09-05 11:52] domenkozar commented on #18316
@nbp

[2016-09-05 11:58] FRidh commented on #18315
I wouldn't mind not having `myEnvFun` around.

Am I correct that it doesn't set any additional environment variables, contrary to `nix-shell`? If true, then I would argue that `myEnvFun` can't yet be replaced by `nix-shell` until we get say a `nix use` which doesn't set any additional variables. Since I think this is how most people use `myEnvFun` and "misuse" `nix-shell`.

[2016-09-05 12:51] Profpatsch opened #18318 "nixos-rebuild doesn’t show package list on nix rebuild"
When nix needs to be rebuilt on rebuild, the list of packages to be fetched is only shown once, for the packages nix needs for itself. The long list of packages for the system is not shown if nix is built for.
It is shown if nix doesn’t need to be built.

[2016-09-05 13:55] remysucre commented on #16779
Getting similar error from ghc-vis which depends on gtk3 as referenced above. Is that indeed relevant?

[2016-09-05 14:25] obadz commented on #18209
gtk-sharp* no longer builds, probably due to staging merge 8c4aeb1, http://hydra.nixos.org/build/39585120/nixlog/1#line-2564 cc @dezgeg

[2016-09-05 14:30] lancelotsix commented on #18209
`nixpkgs.netcdf-mpi` fixed in 396ffac28f948ebe4864551c67a01d1828e22ba6

[2016-09-05 14:51] #18304 closed

[2016-09-05 15:04] mdorman commented on #16779
@larkery (and maybe this applies to `ghc-vis`, @remysucre) at least for me, removing the "cached" `taffybar` executable (`rm ~/.cache/taffybar/taffybar*`) and letting it recompile took care of it for me.

[2016-09-05 15:29] domenkozar commented on #18209
I've updated the failing builds, they now include maintainers.

[2016-09-05 15:36] remysucre commented on #16779
@mdorman nah I don't even have taffybar, and removing the entire .cache didn't do it either

[2016-09-05 15:40] shlevy commented on #18209
@domenkozar Poor @eelco getting saddled with @edolstra's packages!

[2016-09-05 15:41] domenkozar commented on #18209
I guess we should first make sure people comply with out guidelines in `lib/maintainers.nix`.

[2016-09-05 16:29] obadz commented on #18209
`minc_tools` fixed by disabling tests. github won't let me tick the checkbox in the original post ✓

[2016-09-05 16:50] vcunat commented on #16514
This option isn't working very well. We had that before, and it was killing `xfce4-session` at least (and I see no indication of that being fixed).

[2016-09-05 16:50] obadz commented on #18209
d605380 is going to be the first channel release: http://hydra.nixos.org/build/39927851#tabs-constituents

[2016-09-05 16:54] domenkozar commented on #16514
It's better than a reboot. I think it's fair to expect restart of desktop
manager on stable upgrade.

On Mon, Sep 5, 2016, 18:50 Vladimír Čunát <notifications@github.com> wrote:

[2016-09-05 16:57] vcunat commented on #16779
As @dezgeg noted, I think the problem happens when your executable uses libwayland_client from wayland < 1.10 and at the same time runs on recent NixOS (i.e. recent mesa in `/run/opengl-driver`).

You can check `nix-store -qR $(which your-executable) | grep wayland` to see the version (whether any at all). Notably, we still have wayland 1.9.0 on the current stable 16.03.

[2016-09-05 17:00] vcunat commented on #16514
IMHO it's not fair to expect killing X session on `nixos-rebuild switch` :-) but if it's only in specific cases (channel switching) and mentioned it in docs, I suppose it would be bearable.

[2016-09-05 17:09] edolstra commented on #16514
We could give `dbus` a `passthru.interfaceVersion` attribute, like systemd, to tell `switch-to-generation` when `dbus` should be restarted rather than reloaded.

[2016-09-05 17:40] remysucre commented on #16779
@vcunat I did find wayland 1.9 in `/nix/store`, however I'm not sure how `ghc-vis` is using it since it's a library not a executable (i.e. I just cd'ed into `/nix/store` then grep'ed). I'm also using nixpkg head right now. What would you recommend to do?

[2016-09-05 18:10] nbp commented on #18316
I left a comment on https://github.com/NixOS/nixpkgs/commit/ba70ce28ae4032a4674634c2a00615f7a0908357#commitcomment-18902806 .

The easiest solution for the release would be to revert to patches that made these aliases, and add a test to ensure that aliases are expected to alias the overwritten packages, and not the original packages.

To solve this issue, we would either have to move `aliases.nix`

[2016-09-05 18:13] gebner commented on #18312
Is `webkitgtk210x` the new version with the old API?  I just tried to build mu against it, but apparently we don't build `webkitgtk210x` on hydra.  Is there a reason for hydra not building it?

[2016-09-05 18:14] nbp commented on #18316
This issue is caused by #14398

[2016-09-05 18:29] kampfschlaefer commented on #18209
I will look at the container tests. They seem to fail for strange flaky reasons.

[2016-09-05 18:53] pxc commented on #18209
@domenkozar Think you've got the wrong maintainer for the Gazebo stuff. Nothing to do with me (@pxc).

[2016-09-05 19:18] lethalman commented on #16696
@garbas there's no reason for a specific assertion. If a package is not supported on darwin there's little I can do, and I don't want to add extra friendly magic error messages. It's quite clear there, linux-pam is not supported. Yet, it's perfectly possible to build images on OS X without involving PAM stuff, pretty limited but possible.

@jml The main difference between our dockerTools and docke

[2016-09-05 19:21] lethalman commented on #16696
To be clear, might be fixable by building shadow without PAM on OS X, and that might work for most cases.

[2016-09-05 19:49] vcunat commented on #16779
@remysucre: I would either downgrade NixOS to 16.03 or upgrade ghc-vis-related packages to unstable/master/16.09 so that both were consistent wrt. this wayland version difference. The `nix-store -qR` command works on any files, not just executables.

[2016-09-05 19:52] vcunat commented on #16514
Do I understand correctly that dbus fails to reload its config but otherwise continues to work normally, as if it was neither reloaded nor restarted? That wouldn't seem a bad situation to me.

[2016-09-05 21:22] remysucre commented on #16779
@vcunat upgrading nixos to unstable fixed it (I had nixpkgs master but fogot about nixos itself)! Thanks a lot.

[2016-09-05 22:42] siddharthist commented on #13345
@garbas Could you direct me to a place in the manual where this information should go?

[2016-09-05 22:51] kampfschlaefer commented on #18209
@domenkozar I think I know now why the container tests fail irregularly: It seems to be with the merge 509733a34393b5cb15dbb04ed597e069e08d345a (*) where the filesystem handling in stage1 and stage2 was changed. From what I gather, with the merge itself, even VMs like from qemu stopped working, but that seems to got fixed rather soon. But within the nixos containers its still broken.

Sadly my kno

[2016-09-05 23:59] chris-martin opened #18336 "Tomcat 5.0 source URL is dead"
The source for `pkgs/servers/http/tomcat/5.0.nix` is http://apache.essentkabel.com/jakarta/tomcat-5/v5.0.27/bin/jakarta-tomcat-5.0.27.tar.gz - the DNS doesn't even resolve for this anymore.

[2016-09-06 00:03] chris-martin opened #18337 "Sablotron source URL is dead"
`pkgs/tools/text/xml/sablotron/default.nix` source URL is http://download-1.gingerall.cz/download/sablot/Sablot-1.0.3.tar.gz which is a 404.

[2016-09-06 00:12] chris-martin opened #18338 "cua-mode source URL is dead"
The source URL for `pkgs/applications/editors/emacs-modes/cua/default.nix` is http://tarballs.nixos.org/cua-mode-2.10.el which is a 404.

[2016-09-06 00:13] chris-martin opened #18339 "batik source URL is dead"
The source URL for `pkgs/applications/graphics/batik/default.nix` is http://tarballs.nixos.org/batik-1.6.zip which is a 404.

[2016-09-06 00:17] chris-martin opened #18340 "sane-frontends source URL is dead"
The source URL for `pkgs/applications/graphics/sane/frontends.nix` is ftp://ftp.sane-project.org/pub/sane/sane-frontends-1.0.14/sane-frontends-1.0.14.tar.gz and this FTP server doesn't seem to exist anymore.

[2016-09-06 00:25] mdorman commented on #18340
Seems to have moved to https://alioth.debian.org/frs/download.php/file/1140/sane-frontends-1.0.14.tar.gz?

[2016-09-06 00:27] mdorman commented on #18336
That seems like something that was once redirected to, and https://archive.apache.org/dist/tomcat/tomcat-5/archive/v5.0.27/bin/jakarta-tomcat-5.0.27.tar.gz is the canonical URL.

[2016-09-06 00:27] chris-martin opened #18342 "Java aterm source URL is dead"
The source URL for `pkgs/development/libraries/java/aterm/default.nix` is http://www.cwi.nl/projects/MetaEnv/aterm-java/aterm-java-1.6.tar.gz which is a 404.

[2016-09-06 00:28] chris-martin commented on #18340
Thanks, that checks out. I'll submit a PR.

[2016-09-06 00:33] ericsagnes opened #18344 "Machine-dependent testing in NixOS"
This is an issue to think about the implementation of machine-dependent testing in NixOS.

The idea of machine-dependent test is to have tests automatically generated for a specific machine setup.

Thanks to NixOS declarative configuration, a machine setup is equivalent to its `config`.
So solving machine-dependent testing is solving the `config` <-> tests relationship.

The problem can be divided

[2016-09-06 00:34] chris-martin commented on #18336
Yep, that's the same md5.

[2016-09-06 00:49] chris-martin opened #18346 "libjpeg-6b patch source URLs are dead"
In `pkgs/development/libraries/libjpeg/62.nix`, both patch sources are 404s:
- http://svn.macports.org/repository/macports/trunk/dports/graphics/jpeg/files/patch-ltconfig
- http://svn.macports.org/repository/macports/trunk/dports/graphics/jpeg/files/patch-ltmain.sh

[2016-09-06 02:12] fpletz commented on #16032
Fixed in https://github.com/NixOS/nixpkgs/pull/17838.

[2016-09-06 02:12] #16032 closed

[2016-09-06 02:45] TravisWhitaker opened #18348 "Unfree packages are hard to discover."
## Issue description
It is very difficult for the uninitiated user to find unfree packages. [The search page](http://nixos.org/nixos/packages.html) does not display them, nor does `nix-env -qa`. This is especially problematic if a user is unaware of `nixpkgs.config.allowUnfree`.

At a bare minimum the `nixpkgs.config.allowUnfree` attribute should be documented in the manual. Ideally `nix-env -qa`

[2016-09-06 03:48] RamKromberg commented on #18312
@gebner No. There's no one "old api". We've covered this all in https://github.com/NixOS/nixpkgs/issues/17308 but essentially there were 4 API deprecations resulting in 4 distinct branches: 2.4, 2.6, 2.10 & 2.12.

In fact, upstream doesn't support 2.4, 2.6 & 2.10 and considers 2.12 the stable branch. Worse, the 2.10 branch had consecutive security issues and ended up getting stricken off the chang

[2016-09-06 04:29] ericsagnes commented on #18348
duplicate of #17126

[2016-09-06 07:13] domenkozar commented on #18348
And https://github.com/NixOS/nixpkgs/pull/5628 and https://github.com/NixOS/nix/issues/432

[2016-09-06 07:13] #18348 closed

[2016-09-06 07:15] domenkozar commented on #17126
I think Nix UI redesign is a good opportunity to fix this.

[2016-09-06 07:27] Chattered commented on #14132
I still get the same error "read-only filesystem."

I suspect this is because the only service I have running that wants to create /var/cache is the one for updatedb, which still doesn't have write permissions to /var to do so. Manually creating /var/cache as root fixes the problem.

[2016-09-06 08:00] domenkozar opened #18352 "@handle in lib/maintainers.nix must be a github username"
For sake of communication, handle used in [lib/maintainers.nix](https://github.com/NixOS/nixpkgs/blob/master/lib/maintainers.nix) should be the handle of person behind his/hers contribution on github.com.

This is the first step of implementing https://github.com/NixOS/nixpkgs/issues/13602 and showed up as a problem in https://github.com/NixOS/nixpkgs/issues/18209 .

I'd like @NixOS/nixpkgs-commit

[2016-09-06 08:39] domenkozar commented on #18209
cc @abbradar could you address https://github.com/NixOS/nixpkgs/issues/18209#issuecomment-244819034? Thanks!

[2016-09-06 09:48] shlevy commented on #18352
:-1: from me. We have some in the community who don't like github's proprietary nature and submit patches via ML, and sometimes your nick of choice isn't available/appropriate on github (e.g. eelco vs edolstra). I'd much rather we annotate maintainers.nix with optional github username info, or at least have a way to say `github-name = null` or `github-name = "something-else"` and default `github-n

[2016-09-06 09:54] domenkozar commented on #18352
Sure, those who're not registered on github can have a nickname they'd use somewhere else.

That's the unfortunate nature of primary keys, but you still a nickname on github. We could introduce an attribute set with github nicknames, but do we really want to maintain so much complexity and communication overhead? We'll end up with a hashmap of usernames for each contributor, that's plain insane.

[2016-09-06 09:58] 7c6f434c commented on #18352
Have you seen my vanity counter script? All possible combinations of
unfortunate events do happen, including change of GitHub usernames for
obviously the same person.

The true nature of primary keys is: you control them completely, or
there is no hope.

So yes, I think we want to keep the handles and add translations
as-needed, it is _less_ insane.

[2016-09-06 09:59] shlevy commented on #18352
Why a hashmap of usernames for each contributor? We have email, and my suggestion is that we add github which defaults to the maintainer attr but can be overridden if desired. If we ever come to rely on yet another service where we need to associate people with usernames, we will need to add another attribute in either case, except for those lucky enough to have the same github username as usernam

[2016-09-06 10:00] shlevy commented on #18352
So maintainers.nix can be either:

`foo = "bar@example.com"`: github username `foo`, email `bar@example.com`
`foo = { email = "bar@example.com"; github = "baz"; }`: github username `baz`, email `bar@example.com`
`foo = { email = "bar@example.com"; github = null; }`: No github username, email `bar@example.com`

[2016-09-06 10:03] shlevy commented on #18352
When we switched to git, a major concern was relying on github and it was decided at the time that people could develop via ML instead, and indeed some do. So yes, I think you can deny that github is our only platform for development, though of course it is the main one.

[2016-09-06 10:03] domenkozar commented on #18352
OK, sure. You can't take something from a person that was already once given :)

[2016-09-06 10:04] shlevy commented on #18352
(FWIW, I personally don't share the concerns people have about github, but I think we should respect them given that it's not a significant burden to do so)

[2016-09-06 10:21] danbst opened #18355 "Support declarative container options in imperative setup"
It is now impossible to set bind mounts for imperative containers. I don't whether it is by design, or there is no interface to do it imperatively yet. I hope for latter. In that case we can have this container config:

[code]

Main use case is to improve usability of container deployments in NixOps. Another usecase it to simplify solution for problem in https://github.com/NixOS/nixpkgs/pull/17365

[2016-09-06 10:27] danbst commented on #16753
Actually, because of some quirks, `systemctl restart` isn't same as `stop && start`

[code]

[code]

I'm running containers in machine, provisioned via NixOps, if that does matter.

[2016-09-06 10:33] danbst opened #18356 "Lenovo Ideapad Z510 doesn't resume after suspend"
## Issue description

Lenovo Ideapad Z510 doesn't resume after suspend.

### Steps to reproduce

Close the laptop lid. Open it - system becomes unresponsive

I can type text, I can switch with Ctrl-{F1,F6}, but the only reaction from system is printing keystrokes to screen. Last line in `journalctl` is "systemd-sleep: suspend". I have to do hard reset to recover from this state.

Config is pretty

[2016-09-06 11:21] danbst commented on #18356
I forgot to mention, that Asus Eeepc 1215b with same system has suspend/resume working.

[2016-09-06 11:34] domenkozar opened #18358 "sshd fails to start on 16.09: /var/emtpy must be owned by root and not group or world-writable"
Possible cause https://github.com/NixOS/nixpkgs/commit/4f8f1c30cbfb3e5e346a7ad1a699d3c8b3a46605 /cc @rickynils

[2016-09-06 11:40] domenkozar commented on #18358
Following didn't help:

- `chmod 400 /var/emtpy`

Following did help:

- `rm -f /var/empty & mkdir /var/empty`

[2016-09-06 11:45] abbradar commented on #18209
I'll be on it this evening GMT+3 (in ~8 hours).

[2016-09-06 11:50] domenkozar commented on #18358
Deploying fresh 16.03 and 16.09 on top with sshd running doesn't yield this problem.

Maybe something created files in `/var/emtpy`?

[2016-09-06 11:51] domenkozar commented on #18358
Aha, here's what I have on my system:

[code]

[2016-09-06 11:55] domenkozar commented on #18358
http://manpages.ubuntu.com/manpages/precise/en/man1/rand.1ssl.html:

[code]

Maybe some service has HOME=/var/empty set when it runs openssl?

[2016-09-06 12:00] edolstra commented on #18358
We could make `/var/empty` immutable to prevent this kind of problem.

[2016-09-06 12:01] grahamc commented on #18358
Making it immutable seems like a good long-term permanent solution.

[2016-09-06 12:07] domenkozar commented on #18358
Not sure it was `/var/empty/.rnd` fault, I've tested on my machine and sshd starts regardless if I have `/var/empty/a` file.

[2016-09-06 12:13] danbst commented on #12396
This should be possible after https://github.com/NixOS/nixpkgs/pull/15967
Also, because of https://github.com/NixOS/nixpkgs/pull/16959 you can `nix-env -iA nixpkgs.nixos-container` and recreate the container.

I guess `system.defaultChannel = "https://nixos.org/channels/unstable";` doesn't work in containers. Also, see https://github.com/NixOS/nixpkgs/pull/3021

[2016-09-06 12:19] ocharles commented on #18314
`strace -f -eopen` and a bunch of filtering shows:

[code]

Which looks suspcious (I am not timbeaudet!)

[2016-09-06 12:27] ocharles commented on #18314
Ok, that was a red herring. It seems that RescueTime works if you have `/usr/share/rescuetime/curl-ca-bundle.crt`, but I'm not sure how to best fix this problem.

[2016-09-06 12:49] copumpkin commented on #12898
This is an instance of #15004

[2016-09-06 12:57] obadz commented on #18358
Can't repro with

[code]

sshd starts fine in there. Am on 7c377f8.

[2016-09-06 12:58] shlevy commented on #12898
:+1:

[2016-09-06 13:02] rue-mogorman commented on #12396
That is awesome.  I will try to get that running as soon as i can.  thank you for update

[2016-09-06 13:04] obadz commented on #18358
Also starting the VM on `release-16.03` on a clean filesystem, and then starting it again on 7c377f8 on the same filesystem doesn't seem to be a problem either.

[2016-09-06 13:07] mogorman commented on #12396
That is awesome. I will try to get that running as soon as i can. thank you for update.

[2016-09-06 13:17] groxxda commented on #18355
Imperative bind mounts should be possible via `machinectl bind <machine> <hostpath> [<containerpath>]` optionally with `--mkdir` to create the path inside the container.

I doubt they persist across reboots but have not tested.

[2016-09-06 13:24] clefru commented on #17552
@the-kenny I struggled for some time to have digikam delete pictures for me because the kio-slave for trash:/ wouldn't launch. "nix-env -i kderuntime" into my user's nix-env eventually solved that problem as apparently it had nothing to do with digikam's own dependencies. I expect KDE5 to be much more of a hassle free experience, so I am committed to my bounty :)

[2016-09-06 13:24] groxxda commented on #18209
`fstar` is still broken :disappointed:

[2016-09-06 13:37] the-kenny commented on #17552
Good news then! I'm not running any desktop environment either, and `nix-env -i digikam5` just works™. The new non-kde trash also works flawlessly (it just stores trashed files in `<dbdir>/.dtrash`).

I'll ping you as soon as the PR gets merged.

[2016-09-06 13:40] the-kenny commented on #17552
One more thing: I noticed one bug that I couldn't solve yet: After the first start, I don't see any icons in the UI. This is solved by going into `Digikam Settings -> Miscellaneous -> Icon Theme` and selecting `Breeze`

[2016-09-06 13:44] edolstra commented on #17552
What is `<dbdir>/.dtrash` exactly? Does that directory ever get cleaned up?

[2016-09-06 13:51] ben0x539 commented on #10875
yo I didn't get very far trying to figure this out. The thing with putting the certs into `/etc` didn't help for me. I've been using the following test case:

[code]

It fails with the error message in the issue title.

Trying to dtrace (I'm not very good with OS X) it, I noticed that it works when running as root. Unclear what the deal is, looks like there's some certificate data scrolling past i

[2016-09-06 13:56] domenkozar commented on #18358
I think making `/var/empty` immutable sounds correct, since this will pop up again.

[2016-09-06 14:05] obadz commented on #18209
@groxxda, `fstar` builds fine locally.

[2016-09-06 14:16] domenkozar commented on #18358
Hmm, could this be a duplicate of https://github.com/NixOS/nixpkgs/issues/14910 ?

[2016-09-06 14:17] zimbatm commented on #18352
Maybe we should define the responsibilities of a maintainer. If a maintainer should handle issues related to his package, and github is our issue tracker then it means having a github account is a requirement. And people who want to contribute patches on the mailing list can't become maintainers (but can still contribute patches and need to find another maintainer for new packages).

If that doesn

[2016-09-06 14:20] the-kenny commented on #17552
Digikam has the concept of `collections` - a directory tree with photos in it. The `~/.dtrash` directory is in the root of that tree. It also provides an UI to show the trashed photos and to delete them permanently.

[2016-09-06 14:23] shlevy commented on #18352
Personally I don't see a problem with users emailing maintainers (cc'ing the ml) who aren't on github. But I can understand why some would see that as a burden.

[2016-09-06 14:24] groxxda commented on #18209
@obadz for me too but not on hydra. should be disable checks? http://hydra.nixos.org/build/39996818

[2016-09-06 14:29] obadz commented on #18358
Only if `createHome = true` I guess?

[2016-09-06 14:32] obadz commented on #18209
I think it would be better to report the issue upstream?

[2016-09-06 14:32] obadz commented on #18209
And maybe open an issue in nixpkgs as well.

[2016-09-06 14:34] domenkozar commented on #18358
Writting an assertion now to get cases when `createHome = true` and `home = /var/empty`.

[2016-09-06 14:34] bdimcheff commented on #16888
I have this problem too with the latest unstable.  After messing with it for a while, I realized if I built it locally (instead of using the binary cache) it worked fine.  I did `nix-build '<nixpkgs>' -A atom  --check` to rebuild and now it just works.  I don't know why hydra is producing bad builds.

FWIW the "module did not self-register" error usually means there's a mismatch between the node v

[2016-09-06 14:57] domenkozar commented on #18358
Nothing sets that as of today, but let's make `/var/empty` immutable so this won't be able to happen in future.

[2016-09-06 15:17] domenkozar commented on #18358
https://github.com/NixOS/nixpkgs/pull/18365

[2016-09-06 15:17] domenkozar commented on #14910
https://github.com/NixOS/nixpkgs/pull/18365

[2016-09-06 15:24] #14701 closed

[2016-09-06 16:08] matthiasbeyer commented on #18271
It _seems_ that when `(import <nixos> {})` the attribute `nixos.config` is _empty_ (but there is supposed to be `nixos.config.networking`

[2016-09-06 16:12] domenkozar commented on #18271
If you wish to evaluate NixOS config, call `nixos/lib/eval-config.nix`. Otherwise please specify what exactly do you want to accomplish.

[2016-09-06 16:13] matthiasbeyer commented on #18271
I just try to re-build my configuration, really. The snippet from the issue description worked until the last channel release, including some of the packages only if wlan was enabled on the machine.

[2016-09-06 16:33] bjornfor opened #18367 "qt5Full broken on master and release-16.09"
## Issue description
[code]

[2016-09-06 16:34] bjornfor commented on #18367
Seems like a multiple-outputs issue (there is no "bin/qmake" here):

[code]

[2016-09-06 16:37] bjornfor commented on #18336
Tomcat 5.0 is now removed (https://github.com/NixOS/nixpkgs/pull/18341).

[2016-09-06 16:37] #18336 closed

[2016-09-06 17:21] NeQuissimus commented on #16888
@bdimcheff That is interesting insight. I will try that out when I have a chance and see if I can confirm this.

[2016-09-06 17:45] groxxda opened #18369 "bcache userspace is installed unconditionally"
## Issue description

`nixos/modules/tasks/bcache.nix` adds `bcache-tools` to the `systemPackage` set and adds the udev rule.
Should this be optional (at least opt-out) to allow smaller system closure?
CC @lethalman
### Steps to reproduce

Install NixOS
Look for bcache-tools in /nix/store
## Technical details
- System: Flounder (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
- Nix v

[2016-09-06 18:21] mythmon commented on #16888
Building locally worked for me as well. This would explain why updating the version worked for me earlier: I beat the hydra cache.

[2016-09-06 19:12] tibrown commented on #5005
Noo, we all want zoneminder

[2016-09-06 19:16] bjornfor commented on #5005
I'll probably re-visit this eventually, but there are many issues I prioritize higher than this one.

@tibrown: You're welcome to pick up the pieces and try to make it work. ZoneMinder has probably made some new releases, hopefully cleaning up some stuff.

[2016-09-06 19:30] dezgeg commented on #18367
Does https://github.com/dezgeg/nixpkgs/commit/cfe790c48614a70e20f125727d3fcdaec840eb88 fix it?

[2016-09-06 19:54] bjornfor commented on #18367
Yes, that fixes it (```nix-build -A qt5Full``` == success).

[2016-09-06 20:32] dezgeg commented on #18367
I was wondering more about whether the contents are correct or not.

[2016-09-06 20:38] gilligan opened #18374 "Problems with introduction of node2nix"
## Issue description
The introduction of node2nix via 5ce6cd0106242648ccc9e7ea64716a866eca152c seems to break something:

[code]

### Steps to reproduce

This happens for me on OSX on any commit after 5ce6cd0106242648ccc9e7ea64716a866eca152c regardless of what package I try to install

## Technical details

* System: OSX
* Nix version: 1.11.2
* Nixpkgs version: 16.09pre-git

[2016-09-06 20:39] gilligan commented on #18374
@svanderburg can you have a look at this?

[2016-09-06 20:40] bjornfor commented on #18367
I don't remember the old structure (and is cumbersome to reproduce -- how far back do I have to go to get something to build?). At least 'qmake' is in the bin/ directory with your fix. And more importantly, I was able build an example qt app inside ```nix-shell -p qtcreator gcc qt5Full gnumake```. So yes, I think this is a good fix.

I'm running nox-review with this patch to check if there are any

[2016-09-06 20:44] dezgeg commented on #18367
D'oh, it indeed does have a reverse dependency in the repo (`multimc`) which does build now.  Pushed to master & release-16.09.

[2016-09-06 20:49] bjornfor commented on #18367
@dezgeg: Thanks!

[2016-09-06 20:49] #18367 closed

[2016-09-06 20:54] dezgeg commented on #17284
Should be fixed by https://github.com/NixOS/nixpkgs/pull/17822. Any workarounds involving the tty group should not be needed or used now.

[2016-09-06 20:54] #17284 closed

[2016-09-06 21:50] #18055 closed

[2016-09-06 22:18] tibrown commented on #5005
I am working with @cleverca22  on it.  I have checked out your branch.

[2016-09-06 22:19] #17995 closed

[2016-09-06 22:55] kampfschlaefer commented on #18209
I started a pull request for the container tests: #18377
Currently it would make the tests green reliable. But the containers will still wait for a minute at startup for dev-vda. And I have no clue yet why.

[2016-09-07 00:03] abbradar commented on #18209
Hopefully containers are fixed in https://github.com/NixOS/nixpkgs/commit/aed2cd32f8069ae114a82b25648c5e67c060ae39.

[2016-09-07 00:33] obadz commented on #18209
`seq24` fixed via d0bf785

[2016-09-07 00:39] obadz commented on #18209
`haskellPackages.haste-Cabal` marked broken in 0271f37

[2016-09-07 02:46] NeQuissimus commented on #16888
hmmm, so for me v1.9.9 built locally was still not working.
But pushing up to v1.10.1 now works after I built locally...

[2016-09-07 03:20] peterhoeg opened #18384 "bundlerEnv should have defaults for gemfile, lockfile and gemset"
## Issue description

When using the `bundlerEnv`, everybody has to set the same variables:

[code]

Can't we set defaults here: https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/ruby-modules/bundler-env/default.nix#L9

cc: @cstrahan
## Technical details
- NixOS: 16.09.git.0b1fad6M (Flounder)
- Nix: nix-env (Nix) 1.11.3
- nixpkgs: 16.09pre89269.8512747

[2016-09-07 03:55] joachifm commented on #18271
If `(import <nixos> {}).config` is empty, then you probably have an evaluation error somewhere, the attribute you're referring to is certainly still available.

[2016-09-07 04:04] joachifm commented on #18340
Looks like this was resolved

[2016-09-07 04:04] #18340 closed

[2016-09-07 04:05] joachifm commented on #18384
What do you have in mind? Setting `gemfile = ./Gemfile` in `bundler-env/default.nix` won't work.

[2016-09-07 04:24] peterhoeg commented on #18384
I had a sneaky suspicion things weren't going to be that easy or they would probably already have been done, which is why I opened an issue to ask.

Will ```gemfile = ./Gemfile``` not work because that would end up being ```bundler-env/Gemfile```? What if we pass it as a string ```gemfile = "./Gemfile"``` - would it then be relative to the actual environment or am I getting that wrong?

[2016-09-07 04:29] cleverca22 commented on #18304
related, a packageOverride on xfce.xfce4mixer doesnt have any impact on xfce panel, i need to override each thing that depends on mixer

[2016-09-07 04:46] joachifm commented on #18384
You're correct. `./Gemfile` copies the file at that position in the file system hierarchy, relative to the expression. Using a string would require additional work to actually create the store paths, I expect you'd end up with the same amount of code, if not more (unless I'm thinking about it in a backwards way).

A common solution is to generate Nix expressions. Macros would make this kind of thi

[2016-09-07 05:35] joachifm commented on #18384
cc @zimbatm

[2016-09-07 06:41] gilligan commented on #18374
Actually it seems like this was caused by some configuration issue on my side. Closing.

[2016-09-07 06:41] #18374 closed

[2016-09-07 07:59] matthiasbeyer commented on #18271
But how could that be if the last channel succeeded, ... I mean, yes there are changes in the nixpkgs, but I would say not changes that are _so_ big that this stuff doesn't work anymore?

[2016-09-07 08:16] #17702 closed

[2016-09-07 08:28] gilligan opened #18389 "xcode-wrapper fails because of non-existing path"
## Issue description

I tried to build some package that uses xcode-wrapper and it fails with:

[code]

I do have XCode installed and I have the file `/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app/Contents/MacOS/Simulator` - so it is `Simulator` instead of `iOS Simulator`.

I have XCode `Version 7.3.1 (7D1014)` installed running on El Capitain 10.11.6 (15G31)
### Steps to r

[2016-09-07 09:19] #14910 closed

[2016-09-07 09:19] #18358 closed

[2016-09-07 09:27] rasendubi opened #18390 "display-manager.service restarts after nixos-rebuild switch"
## Issue description

`display-manager.service` restarts after `nixos-rebuild switch`. This doesn't happen immediately but rather some time after, when I'm AFK. I'm experiencing this for more than a month.

Last time this happened after upgrading from c3d8b3f679cba37c9c820934b2adbfbb64a03431 to 202d9e29c3aeea336f9caf22285de92d120d9b7c. The reload happened in ~7 hours after nixos-rebuild and ~5 hou

[2016-09-07 09:40] zimbatm commented on #18384
cc @manveru

We could extend the bundlerEnv interface to also accept a `src` argument. In that case the typical usage would be:
[code]

It's something we would need anyways if we want to support the `path` directive in the Gemfile (provided it points within the src).

[2016-09-07 12:19] groxxda commented on #18209
Please backport #18334 to fix linphone.
Somehow the `i686` build is broken again on master (after building successfully once) due to a dependency (`belle-sip`) not building anymore, not sure if release 16.09 is also affected :disappointed:

[2016-09-07 12:27] 7c6f434c commented on #18209
I think the situation on `master` is the following: after a small update
just to fix build I managed to finish a larger update of linphone with
all its dependencies to the true latest version.

Fresh `linphone` does build locally for me on `i686` and `x86_64`, so
I think that Hydra has a transient failure.

[2016-09-07 12:28] domenkozar commented on #18209
Done.

I've again updated the failing builds, this time without maintainers (since that doesn't work well yet).

Notes:

- virtualbox will get fixed with https://github.com/NixOS/nixpkgs/pull/17502/
- @peti added lots of Haskell packages and he'll update the failing builds once they all finish
- I'll fix `nova` and `keystone`

@therealpxc would you fix Gazebo?
@ttuegel would you fix a few QT failu

[2016-09-07 12:40] groxxda commented on #18209
@7c6f434c oh i didnt see you updated linphone to the newest version :+1:
We probably want the newer linphone backported when it works on master for i686 since my version lacks LIME support (didn't realize we have mbedtls_1_3)

I'm currently building the gazebo attrset and will report back when it finished

[2016-09-07 12:41] 7c6f434c commented on #18209
Separate `xulrunner` seems to be dead by now, and `firefox --app` seems to work — should we remove `xulrunner` package or make a compatibility wrapper?

[2016-09-07 12:42] domenkozar commented on #18209
I'd just remove it, waiting on confirmation from @edolstra sincehe's the maintainer

[2016-09-07 13:32] edude03 commented on #17372
@copumpkin - I'm also interested, let me know if there is anything I can do to help. Presumably I need to know how to compile nix for OS X, and how to debug with gdb

[2016-09-07 14:41] 7c6f434c commented on #18209
`fstar` and `linphone` build fine on `master` right now… (and I haven't touched anything related today)

[2016-09-07 15:21] joachifm commented on #18209
I think the docker registry test can be disabled. The service module is based on software that has long been deprecated and the test itself has been failing since before the previous release (iirc).

[2016-09-07 15:22] domenkozar commented on #18209
@offlinehacker are you willing to fix docker-registry test?

[2016-09-07 15:59] vcunat commented on #18352
I personally find it very comfortable to use @mention whenever I see `maintainers.mention`, without having to lookup anything. I know only about a single regular contributor who doesn't have a github account.

[2016-09-07 16:19] domenkozar commented on #18390
`display-manager.service: Service hold-off time over, scheduling restart.`, huh.

[2016-09-07 16:31] domenkozar commented on #18390
Did you check if your display-manager failed somehow? This usually suggests that it died and systemd just started it back.

[2016-09-07 16:58] benley commented on #18352
I also really appreciate it when handles match github usernames, but if we're not going to require that they match, something like [shlevy's hashmap suggestion](https://github.com/NixOS/nixpkgs/issues/18352#issuecomment-244905440) seems like a decent compromise.  Perhaps in conjunction with a [`.mailmap` file](https://git-scm.com/docs/git-check-mailmap)?

[2016-09-07 17:33] rasendubi commented on #18390
I've examined the logs (journalctl, X.log.old, slim logs) and haven't found any evidence of failure. (Though, that doesn't mean there was no failure.)

[2016-09-07 17:34] rasendubi commented on #18390
I should also note I've never experienced reload or any display manager failure without nixos-rebuild.

[2016-09-07 17:53] 7c6f434c commented on #18042
My only test case depends on Qt which also depends on CMake…

I hope the overnight build will succeed.

[2016-09-07 18:12] vcunat commented on #18390
It sounds like some new clever systemd feature :-D

[2016-09-07 18:21] vcunat commented on #18390
Seriously now; @rasendubi: are you sure you didn't have any failures of *other* services in the meantime, e.g. dbus?

[2016-09-07 18:23] Baughn opened #18399 "acme: Fails to build if port 1234 is in use"
## Issue description

At least one of the acme standalone tests binds to port 1234. If this port was in use, then the tests will fail and acme will fail to build.

### Steps to reproduce
[code]

## Technical details

* System: 16.09pre90208.f19c961 (Flounder)
* Nix version: nix-env (Nix) 1.11.3
* Nixpkgs version: 16.09pre90254.6b20d5b

## Suggested solution

The most reliable solution should be to

[2016-09-07 18:32] groxxda commented on #18390
If there was an error, it should have happened before the
`Sep 07 11:00:00 Larry slim[1006]: pam_unix(slim:session): session closed for user rasen`..
I'm surprised this happend exactly at `11:00:00`, can you see a pattern for the time (always full hour or even always 11:00)?
Also it may be interesting if `systemd status` reports failed units or queued jobs after `nixos-rebuild` before this happens

[2016-09-07 18:44] vcunat commented on #18399
And do you run the builds with sandboxing on? IIRC it does use network namespaces.

[2016-09-07 19:36] rasendubi commented on #18390
@vcunat I can't be sure other services haven't failed -- I've been AFK for all night, but all logs are clean.

@groxxda there is nothing strange before `Sep 07 11:00:00 Larry slim[1006]: pam_unix(slim:session): session closed for user rasen`, just a zillion of chrome audit messages.

whoa... that's strange
[code]

I've done nixos-rebuild switches to mentioned commits back and forth, `systemctl sta

[2016-09-07 19:38] siddharthist commented on #13293
This information is already in the manual: https://github.com/NixOS/nixpkgs/blob/4876c7362baa7fa0ed4afcbbdb9e5f8534cce239/nixos/doc/manual/configuration/ipv6-config.xml

[2016-09-07 19:39] groxxda commented on #18390
It does not happen after every rebuild, right?
Is there anything unusual in `systemctl | grep timer`?

[2016-09-07 19:45] rasendubi commented on #18390
No, it does not. Only after "big" rebuilds.

[code]

[2016-09-07 20:20] jolmg opened #18401 "Can't get nokogiri, a rails dependency, to build with bundlerEnv"
## Issue description

I'm trying to make a development environment for a rails project, but I can't get nokogiri, which seems to be a dependency of rails, to build.
### Steps to reproduce

I simplified the gemfile to only require nokogiri. To reproduce the problem, put the following files in a directory and run `nix-shell`. BTW, I'm inlining them, as github doesn't seem to like the extensions, and

[2016-09-07 20:21] siddharthist commented on #13221
So for the NixOS manual, we have Appendix A, which lists and documents each configuration option. Is there no such documentation for `nixpkgs.config`?

[2016-09-07 21:22] chris-martin commented on #16888
I just hit this after switching from `16.03` to `16.09`.

Slightly different trace for me:

[code]

[2016-09-07 22:33] mogorman opened #18410 "wifi flakey on 16.09beta"
## Issue description
every few hours wifi quits on my machine.  i see this in my logs
[code]
i then have to reenable wifi support in network-manager to get it to going again, it reconnects to my network without any problem.  I was running the pkgs.linuxPackages_4_7 on 16.03 before hand. and not having this issue.

### Steps to reproduce
is my wifi card
03:00.0 Network controller: Intel Corporation

[2016-09-07 22:38] mogorman opened #18411 "wget and curl do not have letsencrypt ca accessible."
## Issue description
wget, curl, and possibly other commands don't have cert setup correctly.  i can navigate to my site home.rldn.net without problem in firefox and in chromium.

### Steps to reproduce
$ wget home.rldn.net
--2016-09-07 18:35:21--  http://home.rldn.net/
Resolving home.rldn.net (home.rldn.net)... 192.168.1.128
Connecting to home.rldn.net (home.rldn.net)|192.168.1.128|:80... connect

[2016-09-07 22:39] mogorman commented on #18410
[ 6987.278556] IPv6: ADDRCONF(NETDEV_CHANGE): wlan0: link becomes ready
[ 7437.049926] wlan0: deauthenticating from f4:f2:6d:63:99:2b by local choice (Reason: 3=DEAUTH_LEAVING)
[ 7506.933213] iwlwifi 0000:03:00.0: L1 Enabled - LTR Enabled
[ 7506.933819] iwlwifi 0000:03:00.0: L1 Enabled - LTR Enabled
[ 7507.145790] iwlwifi 0000:03:00.0: L1 Enabled - LTR Enabled
[ 7507.146556] iwlwifi 0000:03:00.0:

[2016-09-07 22:41] mogorman commented on #18410
transferring more data across the link seems to make it happen faster but I can't reliably make the error happen yet

[2016-09-07 23:16] mdorman commented on #10559
It seems like we still need _some_ solution to this; we're shipping stuff that *can't* work:

[code]
That's with all the plugin packages and everything installed.  Add to the environment, though:

[code]

[2016-09-07 23:50] mogorman commented on #18410
has not been a problem since i disabled powersave via modprobe. but I did not have the need of this setting before.

[2016-09-08 00:00] rasendubi commented on #18390
This might be caused by my alarm clock (`alarm-clock-applet`). 10:00-11:00 is usually when I (should) wake up.

[2016-09-08 01:52] Baughn commented on #18399
Right you are, that's already implemented. Now I feel silly.

Unfortunately, turning it on breaks the kinda-impure builds in a user account, but.. I should be fixing those anyway.

[2016-09-08 01:52] #18399 closed

[2016-09-08 01:55] NeQuissimus commented on #16888
I am starting to wonder if the best way of fixing this may be to use node2nix and build Atom from source. However, the Atom build is a little convoluted and I have no experience with node.js. I didn't quite get the hang of it when I took a quick shot at building Atom v1.10.2 from source. Any takers? :D

[2016-09-08 01:57] bdimcheff commented on #16888
I just updated atom to 1.10.1 in unstable, so lets see what hydra does with that.

[2016-09-08 01:58] NeQuissimus commented on #16888
Fair enough, I thought 1.10.2 was the latest version?
Will try this tomorrow.

[2016-09-08 01:59] bdimcheff commented on #16888
It was 1.10.1 when I made the PR yesterday, but they did indeed release 2 versions in 2 days :-/

[2016-09-08 02:03] ericsagnes commented on #17536
The `mkIf` content block must not be empty to get its condition evaluated (and type-checked).

This can be easily verified by setting `config` to the following:

[code]

So, for example, if you change the `config` declaration to:

[code]

`config.test.someOption` will be evaluated and type-checked:

[code]
Note: the `trace` contents doesn't appear because the list type-check fails first and abort

[2016-09-08 05:08] siddharthist commented on #2126
Here's the multi-user documentation: https://github.com/NixOS/nix/blob/312bab008d835dd9c8939b803d2bc7af4f82a811/doc/manual/installation/multi-user.xml
and here's the single-user documentation: https://github.com/NixOS/nix/blob/312bab008d835dd9c8939b803d2bc7af4f82a811/doc/manual/installation/single-user.xml

The single-user documentation still contains this phrase, which I believe is an example of

[2016-09-08 07:24] tohl commented on #13293
is it possible to disable/enable ipv6 per interface?

Tomas

[2016-09-08 07:28] 7c6f434c commented on #17379
@rbvermaa A month has passed. I think @grahamc is busy with other things…

It also looks that in general @Profpatsch and @rasendubi contribute code regularly anyway.

I vote for giving them  write access now.

[2016-09-08 07:29] 7c6f434c commented on #17661
I have since tried to understand it a few times, something strange happens there…

[2016-09-08 07:29] 7c6f434c commented on #18042
Pushed to `staging`

[2016-09-08 07:31] 7c6f434c commented on #18082
It's not NixOS in any sense, though — it is just a set of shell scripts that happen to rely on this great build manager software called Nix, and use NixPkgs because Nix is used anyway.

[2016-09-08 07:37] 7c6f434c commented on #12069
My impression is that current LibreOffice-still (which is from the next branch) lacks this problem. Can you reproduce it now. @danykey ?

[2016-09-08 07:49] jgeerds commented on #1455
No updates, but it's still a (not so big) issue.

[2016-09-08 07:49] DamienCassou commented on #18146
@peterhoeg if `load-path` includes `/nix/store/xxx-emacs-packages-deps/share/emacs/site-lisp`, everything is fine. Just make sure

- the site file is loaded (don't start Emacs with `-Q` or `--no-site-file`)
- `(package-initialize)` is executed

If I put your Nix expression in a `peter.nix` and do the following, everything works:

1. `$ nix-build peter.nix`
2. `$ ./result/bin/emacs --no-init-file`

[2016-09-08 08:00] vrthra commented on #17379
@7c6f434c, I hope I am not pushing my case too much, but I do have a reasonable number of accepted PRs if the amount of contribution is a criterion. If my candidacy does not make the cut, could I also have some hint of what factors goes into the decision so that I can work to make it happen?

[code]

[2016-09-08 08:24] 7c6f434c commented on #17379
@vrthra Oops, too much thread derailing to skim it correctly, sorry. @rbvermaa yes, I also support giving commit rights to @vrthra .

[2016-09-08 08:25] 7c6f434c commented on #17379
@vrthra Oops, too much thread derailing to skim it correctly, sorry. @rbvermaa updated the recommendation list

[2016-09-08 08:57] veprbl opened #18420 "lldb needs to be signed on darwin"
## Issue description

[code]
### Steps to reproduce
- Apply a patch

[code]
- Build lldb
## Technical details
- System: OSX 10.9+

The problem is that both gdb and  lldb need to be signed in order to work on OSX. It is said that lldb needs the certificate at the build time.

Similar bug in https://github.com/Homebrew/legacy-homebrew/issues/39621

Codesigning guides for [lldb](https://llvm.org/svn/

[2016-09-08 09:20] sheenobu opened #18422 "XDG Configuration / Declarative Mime Types"
## Issue description

Would be great if we NixOS had support for declarative mime type definitions (I assume within environment):

[code]

I've got some initial work in my own configs [here](https://github.com/sheenobu/nixos/blob/cbc179b0c100ed876a7cca9d8ad858d5344f4edc/config/xdg.nix) but I wanted to open it up to input and create the issue to match the (eventual) PR.

I imagine environment.xdg a

[2016-09-08 10:29] grahamc commented on #17379
Hey everyone, I just wanted to post an update. I'm sorry a month has passed since.

 - I've had a hard time open sourcing the other tool, I thought it would be easier
 - I started writing it again from scratch, but the next two confounded that a bit
 - I started a new job
 - I moved across the country

so in a lot of ways I have been busy with other things. I'll post another update shortly.

[2016-09-08 10:36] 7c6f434c commented on #17379
Well, it's fine, life happens. I am sorry I have failed to keep the
balance between not putting pressure on you and giving arguments for the
fallback solution to be applied right now.

I do not know the circumstances so I cannot decide whether the former or
the latter merits congratulations. Congratulations with whichever of
these two things was the driving reason, though.

[2016-09-08 10:39] grahamc commented on #17379
No worries, these are all just excuses anyway.

I'll take both. Thank you!

[2016-09-08 11:16] fpletz commented on #13293
@tohl You can always use regular sysctls for that:

    boot.kernel.sysctl."net.ipv6.conf.eth0.disable_ipv6" = true;

Closing as the wiki content is in the manual. Thanks!

[2016-09-08 11:16] #13293 closed

[2016-09-08 11:29] domenkozar commented on #18209
Updated. We're getting close :)

[2016-09-08 11:33] domenkozar commented on #18209
@dezgeg are you still planning to fix go-repo-root?

[2016-09-08 12:04] 7c6f434c opened #18431 "Building `libreoffice` with `gdb` in `buildInputs` could be useful"
LibreOffice build process seems to support using `gdb` to report failures. Currently `gdb` is an argument to the expression (just because there is no harm in it), but it is not used by default. In case of a failure that means one more LibreOffice rebuild than necessary.

I propose either adding `gdb` as a build input or at least adding it to `$PATH` in `preBuild`. I think the second option should

[2016-09-08 12:06] obadz commented on #18209
`vrpn` fixed in 588e17b

[2016-09-08 12:26] rzetterberg opened #18433 "slack: blank screen on startup, nothing happens when using menu"
## Issue description

When starting slack the top menu and a blank screen is shown. None of the buttons does anything in the top menu except for the about button.

Here's what it looks like when I start it from my terminal:

![Screenshot](http://i.imgur.com/6f9MkLv.png)

Starting slack with logging and debug log level (`slack -l . -g debug`) creates two log files. On for the browser process and on

[2016-09-08 12:40] shlevy commented on #17379
@edolstra @rbvermaa Can I have commit-right-granting rights?

[2016-09-08 12:41] bjornfor commented on #18356
Have you tested with a different distro on this machine? (I.e. is the issue NixOS specific?)

[2016-09-08 12:49] danbst commented on #18356
@bjornfor No, I didn't, but this is still very bad UX.

As a workaround for now, I have
[code]

In that case suspend is disabled, which is still bad but better than periodic system hang.

Googling led me to think, that this is not NixOS specific, but kernel specific. I'm searching further...

[2016-09-08 13:01] 7c6f434c commented on #18431
Experiment shows that `gdb` in `buildInputs` doesn't affect the run-time closure.

[2016-09-08 13:04] bjornfor commented on #1000
Closing based on last comment.

[2016-09-08 13:08] #2918 closed

[2016-09-08 13:18] peterhoeg commented on #16514
If the issue is purely the absense of ```/etc/dbus-1/system.conf```, how about instead of generating ```/etc/dbus-1/system-local.conf``` we just generate ```system.conf``` directly and then patch ```$out/share/dbus-1/system.conf``` to ```include``` that instead?

[2016-09-08 13:18] #5654 closed

[2016-09-08 13:24] domenkozar commented on #16514
I tried that, dbus will complain `<listen>` directive is missing. I'm not sure if configuration files are compatible.

[2016-09-08 13:26] bdimcheff commented on #17524
unless I'm misreading something, qt56.webengine is available now in unstable, and this should be able to be updated... I'll give it a shot later today if I find the time.

[2016-09-08 13:28] peterhoeg commented on #16514
That sounds unlikely. On an FHS system, the following 3 files would be exactly the same format:

 - /usr/share/dbus-1/system.conf
 - /etc/dbus-1/system.conf
 - /etc/dbus-1/system-local.conf

[2016-09-08 13:30] obadz commented on #18209
the `x42-plugins` error is really strange: looks like the tar.xz file can't be unpacked, but the same file with the same hash works fine in other builds…

http://hydra.nixos.org/build/39823818/nixlog/1/raw
[code]

The very same xz file is unpacked just fine here:
http://hydra.nixos.org/build/40037087/log/raw

[code]

[2016-09-08 13:30] domenkozar commented on #17379
I've given commit access to @Profpatsch, @rasendubi @kevincox and @vrthra.

So far the policy has been to give access to people that have already contributed and asked for it.

Please be careful when you push changes to master as it effects a lot of people. Thank you for being part of the community!

[2016-09-08 13:31] #17379 closed

[2016-09-08 13:33] domenkozar commented on #17379
Oh and sorry for the slow process. We'll have an official way to request commit access one day and I'm sure that will make it easier.

[2016-09-08 13:34] #18337 closed

[2016-09-08 13:35] domenkozar commented on #16514
They are the same format, but the old dbus would be using the new configuration files (that's what happens on reload).

[2016-09-08 13:35] shlevy commented on #17379
@domenkozar In the mean time can we document who to ping in README + manual?

[2016-09-08 13:37] domenkozar commented on #17379
Sure, let's document it. README is not the right place, not sure if manual also.

Maybe CONTRIBUTING.md?

[2016-09-08 13:45] peterhoeg commented on #16514
Alright, so another idea then.

The ```--system``` flags is equivalent to ```--config-file=/etc/dbus-1/system.conf```. How about not using ```--system``` and instead use the full path to the config inside the correct derivation?

[2016-09-08 14:07] groxxda opened #18440 "containers that require networking during startup fail"
## Issue description

Currently the host side of the networking is setup during `ExecStartPost`. That means that networking is only available **after** the container finished startup.
If the container has a service that **requires** routable networking configured to be part of it's `default.target`, the startup will wait for the routes to be created and the routes will wait for the startup to fini

[2016-09-08 14:20] danbst opened #18441 "fetchpatch fails to patch"
## Issue description

I'm trying to apply patch https://github.com/NixOS/nixpkgs/pull/18419.patch to my local nixpkgs with `fetchpatch`.

It fails, because fetchpatch reorganises diffs in a wrong way. I have 1 commit that creates a default.nix file, and 1 that changes is. Patching using `https://github.com/NixOS/nixpkgs/pull/18419.patch` works because changes have same order. Patching using `fetch

[2016-09-08 14:25] NeQuissimus commented on #18209
@obadz I've seen errors like this before when there in an unexpected EOF (happens when my Wifi is flaky).

[2016-09-08 14:25] danbst commented on #18441
Crap, just after I've filled an issue, I found out that `.diff` works for me (instead of .patch).

[2016-09-08 14:25] #18441 closed

[2016-09-08 14:36] Profpatsch opened #18442 "npm2nix is broken"
[code]

master from two or three days ago.

[2016-09-08 14:58] obadz commented on #18209
@NeQuissimus, I know the error you're referring to, I don't think that's it. In this case the `.tar.xz` isn't being downloaded, it is already in the nix store.

[2016-09-08 15:05] peterhoeg commented on #16514
I think I've figured out the ```listen``` problem.

I'm using FHS paths here to hopefully make it clearer.

```dbus-daemon --system``` will make the daemon read ```/usr/share/dbus-1/system.conf``` which has a line to include ```/etc/dbus-1/system-local.conf``` for overriding settings, so ```-local.conf``` only has the overridden config.

If you create ```/etc/dbus-1/system.conf``` that will **repl

[2016-09-08 15:26] peti commented on #18209
The latest evaluation (e3bdf6b) has zero Haskell build and/or evaluation  errors.

[2016-09-08 15:29] obadz commented on #18209
`!m peti`

[2016-09-08 15:33] groxxda commented on #18209
Only [haskellPackages.servant-router](http://hydra.nixos.org/build/40065332) timed out during tests.

[2016-09-08 15:50] peterhoeg commented on #16514
I have an additional commit on top of the work done in #18382 that makes dbus use absolute paths:
[commit](https://github.com/NixOS/nixpkgs/pull/18382/commits/d8287478a95f2f847c3cf7602d318bcfc056b397)

I haven't tested out the restart logic during upgrades yet as I'm generating the VM from the outside using ```nixos-rebuild build-vm```, but I'll give that a go during the weekend.

[2016-09-08 16:21] copumpkin commented on #18420
I'm a little lost: yes, gdb/lldb need an entitlement/signature to actually debug things, but how does the missing header (a compile-time thing as opposed to the runtime entitlements) fit in with the rest of this bug?

[2016-09-08 16:30] veprbl commented on #18420
@copumpkin
I did not investigate it myself, but homebrew bug mentions that the header is somehow derived from codesign-related stuff.

[2016-09-08 16:32] veprbl commented on #18420
I only bring it here so that it's, first, documented, and second, to have somebody to tell me that codesigning is not compatible with purity.

[2016-09-08 16:33] copumpkin commented on #18420
Definitely fair, thanks! L
On Thu, Sep 8, 2016 at 12:32 Dmitry Kalinkin <notifications@github.com>
wrote:

[2016-09-08 16:54] RamKromberg opened #18445 "I need to override init= for systemd-bootchart"
I'm trying to package systemd-bootchart (https://github.com/systemd/systemd-bootchart) and I need to override the _init=_ pid0 kernel parameter. Unlike the many alternative init issues raised in the past (https://github.com/NixOS/nixpkgs/issues/18082 recently), systemd-bootchart is part of systemd and should be made a part of the module so it could be a simpler case to solve.

Currently, I got mos

[2016-09-08 17:54] groxxda commented on #18445
Have a look at #16930 #16902
Especially https://github.com/NixOS/nixpkgs/pull/16930/commits/df9c91c3acb36afd3140e3416ef7ddca9b4090ba

[2016-09-08 18:04] bdimcheff commented on #17524
hm ok maybe not... webengine doesn't actually build a usable package (see #16561) which I guess is maybe what @tadfisher meant by "stub"

[2016-09-08 21:01] aszlig commented on #18344
I'm trying to come up with a sensible way to combine both proposed implementations once I've swapped out other stuff currently wandering around in my mind.

As for the open problems, I think those are non-issues right now because we currently don't even have a very good way to configure packages let alone even have tests depending on those specific options. Running tests for packages in systemd un

[2016-09-08 21:25] rycee commented on #15117
I can confirm it now works for me in master. So I will close this issue. If anybody thinks it is not entirely fixed then please reopen.

[2016-09-08 21:25] #15117 closed

[2016-09-08 21:41] teh commented on #18410
Thanks for reporting this! I suspect this is a kernel issue, not a NixOS issue, and there are several upstream bugs already (links in [1]). I think we can close this here if you are OK with that? If anyone else has the same issue they'll still find your bug and your solution in Google.

[1]
http://askubuntu.com/questions/616119/unstable-wireless-with-intel-7260-iwlwifi-after-upgrade-to-15-04

[2016-09-08 21:49] mogorman commented on #18410
ya thats fine, i just wanted to flag it as it was a change and thought others might hit it

[2016-09-08 21:49] #18410 closed

[2016-09-08 22:43] tohl commented on #13293
Franz Pletz <notifications@github.com> writes:

great, thanks!

[2016-09-08 22:52] bendlas commented on #8849
wine's mixed 32/64 (wow) build first builds the 64bit version and then compiles 32bit binaries with a flag that makes them call out to their 64bit pendants on encountering win64 code.
So a full set of wine's dependencies is required as 32bit code, hence the reliance on  pkgsI686Linux on x86_64.

wine's 64bit support is a long shot from its 32bit mode and not considered well supported. Also, supris

[2016-09-08 22:58] jokogr commented on #18015
I have just started using Hydra to build my configurations and stumbled on this bug. Could anyone post any workaround for the time being?

[2016-09-08 23:06] bendlas commented on #8849
Apparently, wine64 on mac isn't happening any time soon: http://wine.1045685.n5.nabble.com/Wine-64-bit-tp5788608p5788773.html

wine32 on darwin would be valuable, though.

[2016-09-08 23:34] RamKromberg commented on #18445
@groxxda well, at least my options part is fuller... :/ I'll close this up and move things to those other PRs.

[2016-09-08 23:34] #18445 closed

[2016-09-08 23:35] ikervagyok opened #18451 "Linux 4.7.3 keyboard not working"
## Issue description
Linux Kernel 4.7.3 seems broken, as my laptops keyboard doesn't work.
experienced by the arch community too: https://bugs.archlinux.org/task/50700

### Steps to reproduce
update, reboot - 4.6 and 4.7.2 work, 4.7.3 doesn't

## Technical details
* nixos-version: 17.03.git.8179a23 (Gorilla)
* nix-env --version: nix-env (Nix) 1.11.4
* nix-instantiate --eval github/nixpkgs -A lib.n

[2016-09-09 01:04] fleimgruber commented on #18342
This? https://github.com/cwi-swat/aterms/tree/master/aterm-java.

[2016-09-09 01:11] fleimgruber commented on #18339
This? `ftp://gd.tuwien.ac.at/pub/infosys/servers/http/apache/dist/xmlgraphics/batik/binaries/batik-1.6.1.zip`

[2016-09-09 01:18] fleimgruber commented on #18338
https://www.emacswiki.org/emacs/CuaMode

[2016-09-09 01:24] robertmassaioli commented on #15335
The `--with-gcc=clang` step saved me a lot of debugging time. That worked for me.

[2016-09-09 01:33] copumpkin commented on #17372
Hmm, I just installed 16A320 in a VM and everything seems to be working smoothly. Can someone with the issue see if it still occurs in the latest version?

[2016-09-09 01:58] chris-martin commented on #18339
I'm not sure, but it has a different hash.

[2016-09-09 01:59] abuibrahim opened #18454 "fetch-bower fails fetching components when run under nix-build"
## Issue description

fetch-bower produces truncated nix-store entry when run under nix-build:

[code]

Looking into the retrieved jquery in the nix store you can see jquery is actually missing:

[code]

It works fine when trying to manually run it as a regular user:

[code]
### Steps to reproduce

bower.json:

[code]

bower-packages.nix generated by `bower2nix bower.json bower-packages.nix`:

[co

[2016-09-09 02:00] fleimgruber commented on #18339
True, but `1.6.1` should be preferred, it was a security fix - see also https://xmlgraphics.apache.org/batik/download.html

[2016-09-09 02:01] abuibrahim commented on #18454
ping @rvl @shlevy

[2016-09-09 04:48] rasendubi commented on #9041
(triage) @MasseGuillaume, @Bevaz, have you succeeded in building/running limetext?

[2016-09-09 05:03] rasendubi commented on #12456
(triage) still an issue?

Also, there is workaround proposed in the debian bug:

Has anyone tested it?

[2016-09-09 05:06] IreneKnapp commented on #12456
I'll try it again at some point within the next few weeks.

[2016-09-09 05:08] rasendubi commented on #11748
(triage) @gleber any update?

[2016-09-09 05:18] rasendubi commented on #8676
@Profpatsch I've tried to fix the issue in the easiest way. However, it turned out, it was not working well, so I abandoned the patch. (I don't know any other way to fix the issue.)

[2016-09-09 05:32] rasendubi commented on #10556
I'm closing this as it should be fixed by #13722. Feel free to reopen if the issue persists.

[2016-09-09 05:32] #10556 closed

[2016-09-09 05:36] rasendubi commented on #11707
Answer to myself: `inetutils` is broken on Darwin.

[2016-09-09 05:41] rasendubi commented on #15162
The issue seems to be waiting on @edolstra's input

[2016-09-09 05:49] rasendubi commented on #15558
/cc caneda maintainer @viric
/cc vfdecrypt author @rbvermaa
/cc @Phreedom, who changed vfdecrypt's url last time

[2016-09-09 05:55] rasendubi commented on #15916
Both `haskell.packages.ghc7103.generic-deriving` and `haskell.compiler.ghcjs` build fine now.

[2016-09-09 05:55] #15916 closed

[2016-09-09 05:58] rasendubi commented on #15955
Closing as duplicate of #14390

[2016-09-09 05:58] #15955 closed

[2016-09-09 05:59] #16478 closed

[2016-09-09 06:32] rzetterberg commented on #16779
I encounter this problem with firefox on NixOS unstable 16.09pre90254.6b20d5b (Flounder).

[code]

[2016-09-09 07:08] rasendubi commented on #16048
@dredozubov could you please post the output of `nix-env -q` here (as @vcunat noted, the issue is most probably caused by your particular combination of installed packages).

[2016-09-09 07:17] wereHamster commented on #16060
@2426021684 your bug is fixed in ocaml 4.03, but that version is not yet in nixpkgs :(

[2016-09-09 07:25] kirelagin commented on #17372
I have been using 16A313a for quite some time.

[2016-09-09 07:34] kirelagin commented on #17372
Is this some kind of secret build available only for people with paid accounts? I see it neither in App Store nor on the website.

[2016-09-09 07:35] viric opened #18457 "VirtualBox nixos guest missing 3D acceleration"
In NixOS 16.03 I enable VirtualBox guest additions (virtualization.virtualbox.guest.enable = true) and I properly get Direct Rendering in X.org but it still uses the swrast GL code. In VirtualBox I do enable "3D acceleration" but I guess there should be some userlib in the guest that makes GL go through the vm for the acceleration.

Does anybody know how to get this 3d acceleration?

Thank you.

[2016-09-09 07:41] Mic92 commented on #18451
Same issue with kernel 4.4.20 (lts). I can no longer enter my cryptsetup password.

[2016-09-09 07:46] rvl commented on #18454
Sorry for the delay @abuibrahim, I will test and merge today.

[2016-09-09 07:58] kirelagin commented on #17372
So, basically, I just reinstalled Nix manually (by downloading the installation tarball, extracting and registering it in the store). Binaries that ship there work just fine so I’m now reinstalling the environment. Hopefully it will work.

What I don’t get is why exactly nix binaries which I had in my store did not work.

[2016-09-09 08:35] DamienCassou commented on #15005
I have the same issue with linux 4.7. I'm on Lenovo T460s as well.

[2016-09-09 08:35] DamienCassou commented on #15005
I'm not sure it's related, but the laptop reboot takes more than 2 minutes when VBox is enabled and less than 30 seconds when disabled.

[2016-09-09 08:41] cleverca22 commented on #18015
make sure the hydra never builds the exact same glibc that the host is running

[2016-09-09 09:13] fadenb opened #18460 "ttyrec fails to start: Out of pty's"
## Issue description

ttyrec fails with `Out of pty's` error message.

@zimbatm
### Steps to reproduce

[code]
## Technical details
- System: 17.03.git.3263335 (Flounder)
- Nix version: nix-env (Nix) 1.11pre4273_71039be
- Nixpkgs version: 17.03.git.3263335M

[2016-09-09 09:28] the-kenny commented on #18209
`pkgs.mars` should build now.

[2016-09-09 09:33] shlevy commented on #16779
I had this problem when I upgraded nixos but didn't upgrade chromium. I suspect packages linked against old versions of mesa (whether because they are static or because they are old) are the issue. I was able to work around it by unsetting LD_LIBRARY_PATH, but I guess this kind of thing is inherent in the `/run/opengl-driver` impurity.

[2016-09-09 09:33] kirelagin opened #18461 "libiconv-osx is borken on macOS 10.12 Sierra"
[code]

(I could not reproduce the error with other programs that depend on libiconv-osx.)

Looking at the sources of dyld-360.22, which ships with 10.11.6, I don’t see this kind of error message, so, I guess, it’s a new check added in Sierra. I’m trying to figure out what’s wrong with the dylib. This binary comes straight from Apple, right? Which makes things even more strange. Does anyone happen

[2016-09-09 10:04] kirelagin commented on #18461
No, of course, the binary does not come from Apple. It is being built from their source and, actually, then there is a strange manipulation happening.

[2016-09-09 10:13] ikervagyok commented on #18451
@Mic92 Thanks, created a quick fix with your solution, which should fix it for everyone

[2016-09-09 11:10] dhess commented on #17372
This appears to be fixed in 16A320 for me, as well, including the binaries that Nix is currently grabbing from my own private binary cache that were built on a 10.11 machine.

[2016-09-09 11:14] zimbatm commented on #16779
It might be useful to find out what version of DRI X11 is using. `glxinfo  | grep DRI`

[2016-09-09 11:21] dhess commented on #17372
(I am, however, running into other issues, including a few link errors. I'll work on those and file separate issues if needed.)

[2016-09-09 11:33] copumpkin commented on #18461
I think I know what's going on there, and it's a similar error to what I ran into when I updated cctools. I think they've added an extra check of well-formedness of Mach-O files and some of ours violate it.

[2016-09-09 11:42] kirelagin commented on #18461
Yeah, I agree. The problem is that I looked really carefully at the offending dylib and I can’t see anything wrong with it. The symbol table is completely within `__LINKEDIT`, so I have no idea in which sense it “underruns” it. Is there any way to obtain the sources of dyld or will we have to wait for the official release?

[2016-09-09 11:54] copumpkin commented on #18461
Search for the error message in here: http://opensource.apple.com/source/ld64/ld64-264.3.102/src/ld/parsers/macho_dylib_file.cpp

[2016-09-09 11:54] copumpkin commented on #18461
Although I wouldn't expect anyone in nixpkgs to show that message unless they're being impure. Perhaps `ghci` is reaching out to the system `ld`?

[2016-09-09 12:15] kirelagin commented on #18461
Wait a second, `ld` is a static linker, we are talking about `dyld` here, right? This message exists in my `/usr/lib/dyld` but not in the sources at apple.com that’s why I’m looking for the newer ones.

[2016-09-09 12:16] #18451 closed

[2016-09-09 12:17] kirelagin commented on #18461
[code]

[2016-09-09 12:18] copumpkin commented on #18461
Oh, I figured it was the obscene manual linking stuff that `ghci` was doing that was invoking `ld` on the fly for you. Yeah, we don't have the sources for the 10.12 dyld yet and I don't think they have anything like that in 10.11. I'm guessing they probably added the check to the 10.11 ld64 so that they gave a bit of warning for the 10.12 dyld? Anyway, we can probably figure out what it means base

[2016-09-09 12:25] kirelagin commented on #18461
Hm, I’m afraid I’m not getting what error message in ld64 you are referring to. I see only two messages that have to do with symbol table or __LINKEDIT and they just check that the symbol tables are inside __LINKEDIT, which in our case is true—as I said, I checked this. (Actually, looking at the sources of dyld from 10.11 I don’t see this check there, so I suspect that checks in ld64 and in dyld a

[2016-09-09 12:31] copumpkin commented on #18461
Oh sorry for being unclear, the error message is slightly different in ld64, but look for this block:

[code]

That's a new block that was added pretty recently to the public `ld64` sources in 10.11. See https://github.com/tpoechtrager/cctools-port/commit/05d1a0ab92a9b87cc6896092bbaa4f71d4067b01 for the diff that adds it to the `cctools-port` project we use in nixpkgs. The wording isn't identical,

[2016-09-09 12:37] zimbatm commented on #18460
I'm getting:
[code]

What terminal emulator are you using? I tried with xterm and termite.

[2016-09-09 12:39] zimbatm commented on #18460
[code]

[2016-09-09 12:42] zimbatm commented on #18460
Can you give me the permissions you have for /dev/ptmx?
[code]

[2016-09-09 12:44] zimbatm commented on #18460
My users is part of the "tty" group:
[code]

[2016-09-09 12:47] kirelagin commented on #18461
Extremely weird! Look:

[code]

As you can see, there are no symbols, therefore, `symoff` is set to zero. I would say, that in this case `symtab` should be `nullptr` and therefore the check you pointed out should not be triggered.

Well, I edited the file and set `symoff` to `4096` (that is, the beginning of `__LINKEDIT`) and, guess what, it worked. 😕

[2016-09-09 12:53] copumpkin commented on #18461
I'm not sure I agree with your characterization! There is a symtab, and it has strings in it. So the outer nullptr check will pass, and then we find that `symoff` is 0, which is certainly less than `_linkeditStartOffset`. Right?

Perhaps take a quick survey of `LC_SYMTAB` entries on the Mach-O files that Apple ships with 10.12 and compare to their counterparts in 10.10 or something?

[2016-09-09 13:02] kirelagin commented on #18461
Yes, you are right, sorry, I assumed that the strings table is saved to a separate variable, but that’s not the case.

The problem is that all the other dylibs I found are completely different (at least, they have symbols). Actually, `libiconv-nocharset.dylib` looks exactly like all the other dylibs, but after the linking magic in `libiconv/default.nix` it changes significantly.

I have discovered

[2016-09-09 13:12] kirelagin commented on #18461
All right, so, yeah, you can’t go on with this reexporting weirdness anymore.

I just tested a minimal example: created a trivial library, created a trivial executable, checked that they work together, did the reexporting trick with the library (got the library with 0 `symoff`) and here goes:

[code]

[2016-09-09 13:14] copumpkin commented on #18461
Aha okay, so they've effectively outlawed umbrella libraries that re-export existing libraries without having any code of their own. A simple fix for now is to just shove some dummy code into libiconv for now. I don't recall why I did what I'm doing in there but we can probably dig up the history from before we squashed the commits.

[2016-09-09 13:20] fadenb commented on #18460
[code]

[code]
On my system it is trying to access /dev/ptyp0 ?

Being member of the tty group does not seem to make a difference on my system.

[2016-09-09 13:23] kirelagin commented on #18461
Yeah I have just tried to put a stub function into the library. I might be doing something wrong, but my binary now segfaults without saying anything helpful. Could you please check my steps:

[code]

Am I missing something?

[2016-09-09 13:25] copumpkin commented on #18461
Not sure, feels like a bug in something of theirs. Do you actually end up with any local symbols in your first liblib?

[2016-09-09 13:31] kirelagin commented on #18461
Sorry, my fault. I forgot about `install_name_tool`. It works now.

[2016-09-09 13:33] rzetterberg commented on #16779
@shlevy Thank you! Doing `nix-env -u` solved all my problems I had with the undefined symbols. I always forget that you update those packages separately from the system packages.

[2016-09-09 13:41] ttuegel commented on #18209
I'm investigating the KDE 5 test failure now. The test times out waiting for a window to open. The log is filled with these two lines:
[code]
Isn't `exit status 0` considered success? Why does this time-out?

[2016-09-09 13:49] zimbatm commented on #18460
Interesting. I'm on nixos-unstable, /dev/ptyp0 doesn't exist either here.

The next thing to do would be to look in ttyrecord's source code to figure out what it's doing. How does it select which device interface to use?

[2016-09-09 14:05] domenkozar commented on #18209
@FRidh any ideas why http://hydra.nixos.org/build/40071046/nixlog/1 fails to build?

[2016-09-09 14:19] dezgeg commented on #18209
@domenkozar Yes, looking into go-repo-root over the weekend.

[2016-09-09 14:21] domenkozar commented on #18209
@vcunat @viric gnat45 also fails to build: http://hydra.nixos.org/build/39681681

[2016-09-09 14:21] kirelagin opened #18466 "neovim does not work on macOS 10.12 Sierra"
[code]

This is jemalloc/jemalloc#420.

For some reason, neovim installed from Homebrew works just fine, even though I can’t see any Sierra specific changes to the neovim or jemalloc formulas. Need to investigate.

/cc @copumpkin @matthewbauer

[2016-09-09 14:22] copumpkin commented on #18466
Might have something to do with the hardening flags? Just an unfounded thought though...

[2016-09-09 14:22] domenkozar commented on #18209
@cstrahan would you fix redis-desktop-manager? http://hydra.nixos.org/build/39993538/nixlog/2/raw

[2016-09-09 14:24] kirelagin commented on #18466
Hm, according to Homebrew/homebrew-core#1957 jemalloc is actually broken in Homebrew right now. So the real question is: how on Earth does neovim from Homebrew work 😕.

[2016-09-09 14:29] mstone commented on #10875
@andrewrynhard does https://github.com/mstone/nixpkgs/commit/fc288790da4191225a80db2be9d3c229091c859f work around the problem for you?

[2016-09-09 14:32] mstone commented on #17187
Probable duplicate of #10875 so closing now; we can always reopen if needed.

[2016-09-09 14:32] #17187 closed

[2016-09-09 14:38] kirelagin commented on #18466
Ok, I see. neovim from Homebrew does not use jemalloc. They list it as a resource, but, apparently, it is not enough to make it actually use it (I have no idea how formulas work). That is, the binary is not linked against jemalloc.

[2016-09-09 14:41] domenkozar commented on #18209
@offlinehacker Could you fix amdappsdkFull?

[2016-09-09 14:47] copumpkin commented on #18466
What's the benefit of linking to it? Can we just stop doing that until they fix upstream?

[2016-09-09 14:48] domenkozar commented on #1696
I think this should be solved now.

[2016-09-09 14:54] copumpkin commented on #18461
oh, great

[2016-09-09 15:07] kirelagin commented on #18466
As far as I understand, it’s simply that jemalloc is superior. By dropping it we lose just, you know, its superiority 😎. Other than that, it should be fine.

As a side note, I still do not understand completely how this works. I checked older discussions on the Homebrew formula repository and, it seems, their neovim is supposed to use jemalloc, even though it is not mentioned in the formula apart

[2016-09-09 15:08] copumpkin commented on #18466
Weird! Maybe worth a bug report to homebrew too? Thanks for testing all this stuff by the way. Feel free to drop by ##nix-darwin on freenode for more interactive conversation (although it's often quiet)

[2016-09-09 15:13] ttuegel commented on #17393
Fixed in e5a79b0.

[2016-09-09 15:13] #17393 closed

[2016-09-09 15:14] ttuegel commented on #18209
The failing KDE 5 test is fixed (and now enabled!) in 701f02a6eed902835e3d2a27838723cd9a7bb66a.

[2016-09-09 15:44] domenkozar commented on #18442
cc @svanderburg

[2016-09-09 16:00] vcunat commented on #16779
I'm not sure it's completely inherent. IIRC, gnu ld can be forced to ignore some symbols &ndash; consider them only private to some libraries, but I don't remember if one could apply such stuff in our case.

[2016-09-09 16:34] domenkozar commented on #18209
@wizeman are you willing to talk with fstar upstream about transient failures we've been seeing?

[2016-09-09 16:41] offlinehacker commented on #18209
@domenkozar docker registry package, nixos module and tests can be happily removed as docker has released https://github.com/docker/distribution and original docker registry it's long time deprecated,.

[2016-09-09 16:44] offlinehacker commented on #18209
@domenkozar I don't have any amd gpu-s to test amdappsdk, cat it be marked as broken until someone has time to test and fix it?

[2016-09-09 16:45] offlinehacker commented on #18209
@domenkozar or, let me try to fix it, i will take time this weekend, i might spin up some ethereum miners just for fun ;)

[2016-09-09 16:50] kirelagin commented on #18466
For future reference: neovim/homebrew-neovim#178.

[2016-09-09 16:52] cstrahan commented on #18209
@domenkozar yeah, I'll try to fix redis-desktop-manager tonight or tomorrow.

[2016-09-09 19:09] NeQuissimus commented on #18442
I can confirm this. `node2nix` seems to work though (no idea what the differences are...)

[2016-09-09 19:09] squiddle opened #18471 "darwin: problem with chmod from coreutils-8.25"
## Issue description
i try to install a modified package for boot (pkgs/development/tools/build-managers/boot).
I want it to use JDK 8 instead of 7.

But when it comes to building boot it fails with the following error:

[code]

### Steps to reproduce

I add this to my `~/.nixpkgs/config.nix`

[code]
and run `nix-env --install boot`

when i use `otool -L` to see the linking information of the name

[2016-09-09 19:23] vcunat commented on #18209
We only use gnat for vhdl within nixpkgs, so no high priority IMO, but it seems like some classic mutliple-output problem, as it tries to find `${glibc.out}/include`.

[2016-09-09 19:37] copumpkin commented on #18471
Yeah, I just recently killed the compatibility with 10.9 because it was a pain to maintain and Mac users are infamous for keeping their machines constantly up to date. See https://github.com/NixOS/nixpkgs/commit/948b7f23bbc42a87e66a473c5c4543cfa5a03da7 for the offending commit and part of the motivation. Might be worth creating a ticket saying "Nix on Darwin no longer supports 10.9" or posting to

[2016-09-09 19:42] vcunat commented on #8849
I think we might best create "i686-darwin" (pseudo-)platform to support such use case(s).

[2016-09-09 19:47] #18433 closed

[2016-09-09 19:47] copumpkin opened #18472 "Nixpkgs no longer works on Mac OS <=10.9"
I broke our main compatibility layer in https://github.com/NixOS/nixpkgs/commit/948b7f23bbc42a87e66a473c5c4543cfa5a03da7, since I don't really feel like supporting it and didn't think the effort was worth it for how few Mac users keep their machines on older systems.

Looking for feedback from people who think this is a bad idea and want support for old Darwin versions. It might be possible to rev

[2016-09-09 19:47] copumpkin commented on #18471
https://github.com/NixOS/nixpkgs/issues/18472

[2016-09-09 19:56] devoid opened #18473 "Can't control kernel module load order"
**Description**:
I would like to make sure that the kernel modules 'pci_stub' and 'vfio_pci' are loaded and initialized before 'nvidia' and it's kin. Setting the oder in `boot.kernelModules' seems to have no affect.

http://nixpaste.lbr.uno/II3eDmPW

**Version info**:
`nixos-version`
16.03.1287.6ac7ffd (Emu)

`nix-env --version`
nix-env (Nix) 1.11.2

**Relevant configuration**:

`/etc/nixos/config

[2016-09-09 20:09] siddharthist opened #18474 "assertion failed in setuid-wrapper.c:34"
## Issue description
[code]

### Steps to reproduce
 1. Try using a program that utilizes setuid-wrapper
 2. Watch it fail!

## Technical details
* System: 16.09pre90254.6b20d5b (Flounder)
* Nix version: nix-env (Nix) 1.11.3
* Nixpkgs version: "17.03.git.190b1d1"

[2016-09-09 20:09] vcunat commented on #18466
Perhaps remove darwin from `jemalloc.meta.platfoms`?

[2016-09-09 20:10] vcunat commented on #18466
... so that people get an evaluation-time hint that it's likely to be problematic.

[2016-09-09 20:13] vcunat commented on #18471
Let's keep just the other issue, right?

[2016-09-09 20:13] #18471 closed

[2016-09-09 20:13] kirelagin commented on #18466
Would it be possible to do this in a more granular way?
The problems arise exclusively on Sierra, which is, strictly speaking, still in beta (so is problematics by assumption). Even after its release on September 20 it doesn’t make much sense to scare users of all the older versions.

[2016-09-09 20:13] copumpkin commented on #18471
Yeah, I think that's right. This is (to some extent) expected behavior, for better or for worse.

[2016-09-09 20:24] vcunat commented on #18471
Well, it depends on someone stepping up in that issue.

[2016-09-09 21:16] vcunat commented on #18466
Ah, I thought it was independent of version. I don't think nixpkgs has the information about the host OS version during evaluation. Actually, I don't think it should have the information in any phase, due to purity, but I should mainly just stop putting my nose in Darwin stuff which I don't understand...

[2016-09-09 21:17] copumpkin commented on #18466
No, I agree, I don't think we should be doing anything conditionally on host OS version. If we can't use jemalloc, let's just turn it off on darwin until we can. Or statically link the way homebrew does it, or whatever.

[2016-09-09 21:23] rvl commented on #18454
Hello @abuibrahim, thanks for your detailed report. I am getting slightly different results to you, so more investigation will be necessary.

[code]

In my environment (NixOS 16.09 channel), there was no hash mismatch.

[code]

Possibly something caused git to fail to download the jquery package.

If it silently fails producing an incorrect result, then that is a bug in bower2nix which could be re

[2016-09-09 21:57] michalrus opened #18475 "keyfinder has no binaries"
## Issue description

There’s no KeyFinder executable in path, after installing keyfinder — https://github.com/NixOS/nixpkgs/blob/e9379f7416d04b6b7ff475816b0aa395c1e3f7f9/pkgs/applications/audio/keyfinder/default.nix
### Steps to reproduce

[code]
## Technical details
- System: 16.09.git.8a8c1a9 (Flounder)
- Nix version: nix-env (Nix) 1.11.3
- Nixpkgs version: "16.09pre90254.6b20d5b"

[2016-09-09 22:12] abuibrahim commented on #18454
I am not sure this due to bower2nix. Fetch-bower is calling git and should handle the error's accordingly, no?

[2016-09-09 22:37] devoid commented on #6954
I have multiple monitors and an AMD RX460. I'm not seeing any /etc/ati directory though. This is on the 16.03 channel.

[2016-09-09 22:41] vcunat commented on #18209
Adelaide's been resurrected again: 36ef583e.

[2016-09-09 23:41] devoid commented on #18473
An update on this, I was able to get pci-stub to bind to the desired graphics card by adding the kernel module to the `boot.initrd.kernelModules` so that it loads before any other modules. Reading through the systemd notes on kernel module initialization it may not be possible to have any more fine-grained control than this.

[2016-09-09 23:41] #18473 closed

[2016-09-09 23:56] cstrahan commented on #18401
This is the important line from your logs:

    /nix/store/s7skd7lkiaw1vnf5qjxkgy56r55plp1n-rubygems-2.4.8/lib/rubygems/dependency.rb:315:in `to_specs': Could not find 'pkg-config' (~> 1.1.7) among 5 total gem(s) (Gem::LoadError)

Nokogiri expects that the `pkg-config` gem is installed, which it then uses in it's [`extconf.rb`](https://github.com/sparklemotion/nokogiri/blob/master/ext/nokogiri/ext

[2016-09-10 00:33] obadz commented on #18209
@jgeerds, are you trying to fix `tmuxp` ?

[2016-09-10 00:34] obadz commented on #18209
@jgeerds, if so are you using `nix.useSandbox = true;` ?

[2016-09-10 01:10] abuibrahim commented on #18454
It consistently fails for me both on the latest unstable and 16.09 channels. Can you try updating your channels?

My suspect was commit  457eddd18f180af2a2fd6285feeae7250b535281 but I wasn't able to revert it cleanly to try it out.

[2016-09-10 02:44] copumpkin commented on #18475
cc @nckx

[2016-09-10 03:55] andrewrmiller commented on #18223
This appears to be the same issue affecting the 1.7 build referenced in #18067.

I don't understand the Go build process that well, but it looks like the issue is that it isn't able to pass the test for the crypto/x509 package as shown in this portion:

FAIL    crypto/x509 0.188s

Looking at the stack trace with my limited understanding of Go it looks like the test is invoking a function (FetchPEM

[2016-09-10 05:01] matthewbauer commented on #18472
I think trying to support older versions is going to be a losing battle. Once you've upgraded, there's not really a way to go back, is there?

According to [Omni Software Update Statistics][1] in April,
- 10.11: 64.4%
- 10.10: 22.1%
- 10.9: 6.6%
- 10.8 1.0%

10.9 should hopefully cover everybody.

[2016-09-10 06:09] andrewrmiller commented on #18223
So I did some more digging and it looks like this may be an upstream [issue](https://github.com/golang/go/issues/14311) regarding the way Go interacts with the SSL_CERT_FILE environmental variable.

@mstone was trying to address an issue with Go regarding the crypto module in #10875, but his patch seems to resolve the build problems for Go 1.6 and 1.7 as well.

His changes can be found at mstone@f

[2016-09-10 06:45] 8573 opened #18479 "wxmaxima missing hicolor icon theme?"
## Issue description

For me, the program `wxmaxima`, when started, throws up many error dialogs, with corresponding error messages in the terminal, preceded by a message complaining of a lack of "The 'hicolor' theme":

[code]

Should `hicolor_icon_theme` be included as a dependency of `wxmaxima` such that `wxmaxima` will be able to find it?
### Steps to reproduce

Install and run `wxmaxima` (with

[2016-09-10 09:25] rasendubi commented on #18339
http://tarballs.nixos.org is [a hashed mirror](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchurl/mirrors.nix#L4-L6) and uses a [different algorithm for finding actual url](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchurl/builder.sh#L65).

[code]

[2016-09-10 09:25] #18339 closed

[2016-09-10 09:27] jgeerds commented on #18209
On Sat, Sep 10, 2016, at 02:34, obadz wrote:

Yes, I'm trying to fix it :-)

[2016-09-10 09:28] rasendubi commented on #18338
http://tarballs.nixos.org is [a hashed mirror](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchurl/mirrors.nix#L4-L6) and uses a [different algorithm for finding actual url](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchurl/builder.sh#L65).

Downloading source succeeds:
[code]

[2016-09-10 09:28] #18338 closed

[2016-09-10 10:04] DamienCassou commented on #15005
I consider this problem a major bug as I (and certainly other) spend their working time in a VM and communicating with remotes colleagues.

[2016-09-10 10:28] jgeerds commented on #18209
@obadz You were right, `nix.useSandbox` was disabled on one of my workstations. I fixed `tmuxp` on `master` and `release-16.09`. Sorry for the trouble

[2016-09-10 10:38] peti opened #18480 "Does our texlive-new support htlatex?"
And if it does, how can I use it? Has anyone use `htlatex` successfully and can provide a working example to me?

Cc: @vcunat

[2016-09-10 11:09] squiddle commented on #18472
even though i am a 10.9 user i am ok with this, as i think the hassle really might not be worth it. in 10 days mac OS Sierra is going to be released which makes 10.9 the 4th oldest release available.

[2016-09-10 11:44] rvl commented on #18454
By `bower2nix`, I also mean `fetch-bower`. I have rolled the two programs into one repo.

You are definitely right, `fetch-bower` is calling `git` (indirectly, through the [bower](https://www.npmjs.com/package/bower) API), and should handle the error.

I'm an avid subscriber to 16.09 and especially nixos-unstable, so have tested on those.

Obviously it would be easier to fix the error handling if

[2016-09-10 11:56] vcunat commented on #18480
Link to the executable isn't created, it seems. It's the same in 2015 and 2016 (staged now).

[2016-09-10 13:01] vcunat commented on #18480
@peti: after applying patch 20c6f5c56, I was able to
[code]

[2016-09-10 13:49] abuibrahim commented on #18454
I don't have any proxy settings. Is it possible GitHub is rate limiting requests from bower? I found this thread interesting https://github.com/componentjs/component/issues/546

And yes I am running nix-store --delete before trying nix-build.

[2016-09-10 14:29] RonnyPfannschmidt opened #18484 "Python on Nix claims to be manylinux compatible"
## Issue description

thanks to the rules in https://www.python.org/dev/peps/pep-0513/#platform-detection-for-installers
python on nix is considered to be manylinux compatible

in order to elevate the issue it is necessary to create a `_manylinux` python module that contains `manylinux1_compatible = False`

[2016-09-10 15:11] peti commented on #18480
I cannot apply that patch to either `master`  or `staging`. It appears to be based on other changes that haven't been pushed yet?

[2016-09-10 15:14] peti commented on #18480
Ah, now I got it. It's already in `staging`. That's why I couldn't apply it there. :-)

[2016-09-10 15:25] MasseGuillaume commented on #9041
@rasendubi limetext dev said the editor was not quite ready the last time I asked.

[2016-09-10 16:14] vcunat commented on #18480
It's applicable to master as well, and I expect it should work there with 2015 as well.

[2016-09-10 16:23] #17878 closed

[2016-09-10 16:25] dhess commented on #17372
Nope, looks like I need to rebuild from scratch just as @kirelagin had to do. On a fresh 10.12 install, I was able to use most of my pre-built binaries from my private binary cache, but I had problems with several Haskell packages which failed at link time on libiconv. On an in-place 10.12 upgrade, however, I got the `Illegal Instruction: 4` error when trying to run `nix-env`. Strange.

Anyway, do

[2016-09-10 16:29] vcunat commented on #18472
Could that cause a problem on (some of) the Hydra slaves? In particular, now I glimpsed
[code]
in a [PyQT build](http://hydra.nixos.org/build/40195338).

[2016-09-10 16:39] kirelagin commented on #17372
@dhess Regarding libiconv you might want to have a look at #18461.

[2016-09-10 16:43] kirelagin commented on #18461
@copumpkin I’d like to fix this. Could you try to figure out why this magic was needed? Maybe we could just drop it altogether instead of working it around?

[2016-09-10 16:50] kirelagin commented on #17372
Might it be that the upgrade procedure somehow corrupts binaries in the store?
I was smart enough to collect garbage after the rebuild, so I don’t have them around anymore. Does anyone have?

[2016-09-10 16:52] peti commented on #18480
You are right. The patch does apply to master and the resulting tex4ht tools work, too. Not sure why that didn't succeed when I tried it earlier. Anyway, thank you for the quick fix! Would you like to push the patch to master (and release-16.09?) or shall I?

[2016-09-10 17:01] FRidh commented on #18209
I've marked the i686 versions of julia and julia-git as broken.

[2016-09-10 17:06] vcunat commented on #18480
Tomorrow I expect to merge whole staging to master and cherry-pick all TeX-related changes to 16.09 (and some other bugfixes as well).

[2016-09-10 17:06] vcunat commented on #18480
BTW, the `tex4ht` executable was there even before the patch.

[2016-09-10 17:10] FRidh commented on #18484
That should be a matter of a simple patch to the interpreters adding that file.

[2016-09-10 17:40] chris-martin commented on #18338
Huh, thanks. That seems... extremely counterintuitive and undiscoverable to express this using URLs that aren't real URLs?

[2016-09-10 18:38] aneeshusa opened #18490 "Add Z3 dependency for Cryptol REPL users"
## Issue description

[Cryptol](http://www.cryptol.net/) has a [dependency on Z3](http://www.cryptol.net/downloads.html), but its Nix derivation does not express this dependency.
I have worked around this locally with an override and `wrapProgram` (or alternatively `nix-env -iA z3` works), but I would like to upstream this change. It looks like `haskell-packages.nix` is auto-generated - what is th

[2016-09-10 18:47] peti commented on #18490
My understanding is that cryptol supports a whole range of SMT solver via "SBV", i.e. one can also use Yices or CVC4 instead of Z3. Is that correct?

[2016-09-10 18:49] peti commented on #17752
This is intended behavior and it's clearly stated in the Nixpkgs manual.

[2016-09-10 18:49] #17752 closed

[2016-09-10 18:53] aneeshusa commented on #18490
@peti I'm not sure, I'm trying to learn Cryptol for the first time :)

Based on the codebase it looks like the REPL has a hard-coded dependency on Z3, but the rest of the library seems to have pluggable solvers via SBV.
See:
- https://github.com/GaloisInc/cryptol/blob/master/src/Cryptol/REPL/Monad.hs#L701
- https://github.com/GaloisInc/cryptol/blob/master/cryptol/Main.hs#L203

[2016-09-10 19:01] #18188 closed

[2016-09-10 19:03] peti commented on #18490
Well, I am reluctant to make the package depend on Z3 because it's not a hard dependency that users absolutely have to have to use cryptol. IMHO, it's okay for people who want to use Z3 to just make it available in $PATH. Is that not sufficient?

[2016-09-10 19:12] aneeshusa commented on #18490
That's reasonable as well, just thought this might make it slightly-easier for first time users like myself. Happy to close this, thanks for listening.

Another thought (not sure if this is possible): can Haskell packages have separate outputs? If only the REPL binary depends on Z3 and we use `wrapProgram` on the bin output, will the lib output depend on Z3?

[2016-09-10 19:16] #18342 closed

[2016-09-10 20:18] peti commented on #16357
With https://github.com/NixOS/nixpkgs/pull/17145 merged to `master`, this issue should now be fixed.

[2016-09-10 20:22] peti commented on #17226
I'm closing this issue because it's not actionable. If someone feels like suggestion a concrete PR, that would be great but as-is this issue doesn't seem to add value at the moment.

[2016-09-10 20:22] #17226 closed

[2016-09-10 20:28] peti commented on #17575
I'm not sure what is causing this issue and I don't know enough about Stack to debug it, I'm afraid.

[2016-09-10 20:31] peti commented on #16156
The `ghc7103` package set is not particularly well supported. If someone has a PR to fix this issue, then we'll be happy to merge it.

[2016-09-10 20:31] #16156 closed

[2016-09-10 20:32] domenkozar commented on #18209
Down to 56!

[2016-09-10 20:32] peti commented on #16144
Does this issue still exist?

[2016-09-10 20:33] peti commented on #17540
Fixed by https://github.com/NixOS/nixpkgs/pull/18263.

[2016-09-10 20:33] #17540 closed

[2016-09-10 20:36] peti commented on #15759
I believe that passing `--with-gcc=clang` on the command line fixes this issue.

[2016-09-10 20:36] #15759 closed

[2016-09-10 20:36] peti commented on #15952
PRs to fix those tests are welcome.

[2016-09-10 20:36] #15952 closed

[2016-09-10 20:38] #11582 closed

[2016-09-10 20:39] #14035 closed

[2016-09-10 20:41] peti commented on #13011
It  appears that nesting of `nix-shell` environments is not supported.

[2016-09-10 20:41] #13011 closed

[2016-09-10 20:43] peti commented on #12737
I am sorry, but it appears that no-one has the time to debug this issue.

[2016-09-10 20:43] #12737 closed

[2016-09-10 20:49] peti commented on #18490
Yes, that would be a good solution indeed. Users of the REPL would probably want Z3, but users of the library don't necessarily want it. I suppose it would also be okay to add Z3 to the package available as `pkgs.cryptol` but not to `pkgs.haskellPackages.cryptol`.

[2016-09-10 20:52] peti commented on #9973
Closing since this seems to be stalled / dead.

[2016-09-10 20:52] #9973 closed

[2016-09-10 20:53] #5916 closed

[2016-09-10 20:54] #9281 closed

[2016-09-10 20:55] #4561 closed

[2016-09-10 20:57] #18480 closed

[2016-09-10 20:58] peti commented on #18112
Sounds like this has been fixed.

[2016-09-10 20:59] peti commented on #17465
I have no clue what to make of this. I am sorry.

[2016-09-10 20:59] #17465 closed

[2016-09-10 21:00] #16394 closed

[2016-09-10 21:01] peti commented on #16041
I'm closing this issue because it seems like the discussion is stalled.

[2016-09-10 21:01] #16041 closed

[2016-09-10 21:04] matthewbauer commented on #18389
I think iOS Simulator is still available under XCode Components but you have to download it separately.

[2016-09-10 21:04] peti commented on #15800
Hmm, in that case you would probably need a full version of elm for compiling the toolchain, and the toolchain itself would then be linked statically so that nothing refers to GHC. I am sorry for being vague, but I know nothing about elm and its internal structure, so I have really no clue what I am talking about here. :smile:

[2016-09-10 21:12] peti commented on #14819
In my opinion, the community member who volunteer to represent NixOS on the distros mailing list should take matters into their own hands and initiate some kind of "poll for support" via nix-dev to legitimize their claim. Once a significant number of Nix'er has expressed their support for the candidates, our representatives should get in touch with distros and try to make things happen. As it is n

[2016-09-10 21:14] #14303 closed

[2016-09-10 21:23] rushmorem opened #18496 "go: mention breaking changes in packaging in the release notes"
`nixos/doc/manual/release-notes/rl-1609.xml` needs to mention the breaking changes in `Go` packaging.

[2016-09-10 21:28] rushmorem commented on #18496
Added in https://github.com/NixOS/nixpkgs/pull/18487.

[2016-09-10 21:28] #18496 closed

[2016-09-10 21:44] lverns commented on #17465
Just to be clear, is it my bug reporting that is confusing or is it GnuCash/Gconf that is confusing?

If it my communication that is failing you, I *might* revisit this issue in the future with a clearer presentation of the problem.

[2016-09-10 21:52] Warbo commented on #13011
Yes, I agree this should be closed.

For the record, it *is* possible to work around this, by using pure shells and setting `NIX_PATH` and `NIX_REMOTE` appropriately. Whether that's a good idea or not is another question ;)

[2016-09-10 21:55] siddharthist commented on #18474
To be clear, this prevents the use of `systemctl` and `sudo`, which should probably be considered a major bug.

[2016-09-10 22:18] siddharthist commented on #18474
I just upgraded and `nixos-rebuild switch`ed, and the problem resolved itself.

 * 17.03.git.ffddcc8 (Gorilla)

[2016-09-10 22:18] #18474 closed

[2016-09-10 22:31] aneeshusa commented on #18490
Reopening with smaller scope.

[2016-09-10 22:56] bjornfor opened #18503 "NixOS sshd_config and/or PAM(?) breaks this config"
## Issue description

SSH supports denying password authentication _except_ for clients on the local network with a sshd_config snippet like this[1]:

[code]

This works on e.g. Ubuntu (and I presume all major distros). However, it doesn't work on NixOS.
### Steps to reproduce

Server configuration.nix snippet:

[code]

Connecting with a client, forcing password authentication:

[code]

Give it yo

[2016-09-10 23:15] #18490 closed

[2016-09-11 02:11] psvitz opened #18505 "5"
## Issue description

### Steps to reproduce

## Technical details

* System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release -a`, ...)
* Nix version: (run `nix-env --version`)
* Nixpkgs version: (run `nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion`)

[2016-09-11 05:59] #18505 closed

[2016-09-11 07:07] dhess opened #18506 "The state of Nix on OS X"
This is not meant as a rebuke or a criticism, it's just an honest question with no ill will: are there currently any Nix maintainers who are actively working on the OS X port?

I ask because it seems that, lately, many OS X-related issues go weeks or months with nothing more than a non-committal acknowledgement of the problem.

Examples of such long-standing issues, just off the top of my head:
-

[2016-09-11 08:27] rvl commented on #17575
Thanks for checking. I noticed there have been some recent PRs in this area, so checked out revision 04e4c49 and retested. It works now! :sunflower: I have also been able to drop the library output extensions from `buildInputs`.

[2016-09-11 08:27] #17575 closed

[2016-09-11 08:48] knedlsepp commented on #18194
I'm looking into this. Currently I found that the swig-python extension is not building because the builder uses `clang` compiling a C++ file, when it should actually use `clang++`.

[2016-09-11 09:29] jgeerds commented on #17991
@gebner So `16.09` will support the new driver? I should order one of these :smiley:

[2016-09-11 09:31] vcunat commented on #17991
AFAIK there's only e1eea15a missing, but I plan to push that.

[2016-09-11 10:11] vcunat commented on #18356
Yes. I'm convinced the question was only meant as a clue to narrow the possibilities. I'd personally try a new kernel.

[2016-09-11 10:29] vcunat commented on #18042
Ref: dabf09aa9, in master now. I think it's solved, except for the 16.09 question.

[2016-09-11 10:57] rasendubi commented on #17752
`nix-env -f "<nixpkgs>" -qaP -A haskell.packages.ghc7103` works for me. (As well as for `haskellPackages`.)

[2016-09-11 11:35] dezgeg opened #18512 "What does `hiPrioSet` for `python27Packages` do?"
The only usage of `hiPrioSet` in the entire nixpkgs history is this which was added by @domenkozar in 2014:

[code]

[code]

I wonder what it achieves, given that the derivation names are versioned like `python2.7-setuptools-26.1.1`, so they won't conflict with `nix-env -i` anyway.

What it does does do though is to cause the `meta.priority` that is set for `setuptools` to be ignored:
[code]

Is t

[2016-09-11 11:37] domenkozar commented on #18512
Some packages used to remove `namePrefix`

[2016-09-11 12:00] vcunat commented on #13221
No. Note that for nixos options it's automatically generated, but that's not possible for nixpkgs options as they're now.

I'd personally like to see some convergence on these, over the long term, perhaps in spirit of https://github.com/NixOS/nixpkgs/pull/9250.

[2016-09-11 12:28] vcunat commented on #18314
Patch it to find certificates the same as most of other nixpkgs? IIRC it's `/etc/ssl/certs/ca-certificates.crt` and overridable by `$SSL_CERT_FILE`.

[2016-09-11 12:33] vcunat commented on #18314
Oh, I didn't notice it's a binary package.

[2016-09-11 12:44] vcunat commented on #18304
@cleverca22: I suspect that's caused by https://github.com/NixOS/nixpkgs/issues/18316.

[2016-09-11 12:46] rexim commented on #15262
Any updates here?

[2016-09-11 13:35] joachifm commented on #18271
Can you provide a minimal reproducible test case? Without it, I don't know how we can proceed.

[2016-09-11 13:39] vcunat commented on #17887
Clearly seems a duplicate of https://github.com/NixOS/nixpkgs/issues/17448.

[2016-09-11 13:39] #17887 closed

[2016-09-11 13:44] vcunat commented on #17448
I'm getting the same with vlc:
[code]

That's clearly due to an impurity as
[code]

@ttuegel: I'm getting this on and off for quite a long time. I thought it should've been resolved around #16255 and similar tickets, but apparently not, as it still happens for me on current 16.09 with a couple commits on top.

[2016-09-11 13:48] vcunat commented on #17448
I don't mean to push you, but if you have some ideas... I suspect you know significantly more than me about this, and I'd really like to resolve issues like this.

[2016-09-11 13:55] ttuegel commented on #17448
At a minimum, it needs to be wrapped with `wrapQtProgram`. That should reset the environment variables that cause the problem.

[2016-09-11 14:59] Profpatsch commented on #17540
@peti fyi I’ve been looking into hoogle5 on the Saturday of MuniHac, but it’s not yet in a workable state. The version 5 apparently doesn’t support merging of the binary databases anymore, so that part of the toolchain will have to be adjusted.

I can paste my changes so far somewhere if someone wants to look into it.

[2016-09-11 15:04] Profpatsch commented on #18442
`node2nix` is brilliant. @svanderburg maybe it’s time to phase out `npm2nix`?

[2016-09-11 15:11] peti commented on #17540
I believe @mdorman has experimented with Hoogle 5 support before, too. Maybe he can help?

[2016-09-11 15:20] mpscholten commented on #18506
Any ideas on how we could improve the situation?

For package related problems (like #12863) we could improve the situation with better testing. As travis is already running tests on macOS since a few months, package build failures should already decrease over time (because in theory travis will notify in case a PR breaks a package on macOS).

[2016-09-11 15:23] vcunat commented on #18411
The default nixos certificates, located on `/etc/ssl/certs/ca-certificates.crt`, are extracted from the default `nss`. I thought that's the same list that Mozilla upstream uses by default, but apparently not.

[2016-09-11 15:33] copumpkin commented on #18506
The state of the port is that it needs more people developing it, as opposed to just using it, but that I use Nix on OSX daily and tend to fix any outstanding issues that get in my way. Of course, my usage patterns are often different from other people's, and as you say I haven't had any time to install Sierra to see what was wrong with that bug.

Anyway, it's not great today, but most things I de

[2016-09-11 15:33] vcunat commented on #18411
Actually, there's something stranger going on. The file does seem to include the correct root certificate.

[2016-09-11 15:47] copumpkin commented on #18506
TBC, I don't expect people to be tinkering with the stdenv at this point, but I'm slowly making progress on improving the stdenv to attempt to make it easier for other people to develop. But all the individual package issues seem like other people could handle them.

[2016-09-11 15:51] vcunat commented on #14306
I think this lies in `SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt`. IIRC older nixpkgs versions required that variable to be specified and NixOS defined it, but newer versions default to that path automatically and NixOS no longer defines it.

[2016-09-11 15:51] copumpkin commented on #18461
Drop what altogether? I'd probably take one of two approaches:

1. just add the trivial lump of code to the re-exporting library. That should make it work again on Sierra with minimal other variables changing
2. Take out the re-export and figure out what goes wrong, fixing whatever the underlying cause was. I'm sorry I don't recall what that was.

Both of these will probably cause a full rebuild a

[2016-09-11 15:55] kirelagin commented on #18461
The reexport. I was just hoping that you might be able to recall what the purpose of those reexports was.
I’m not worried about a full rebuild that much, I just have no idea what to look for in case the breakage happens to be non-obvious.

[2016-09-11 16:05] vcunat commented on #18411
It seems to me some clients (firefox) are more thorough when searching for a validable certificate chain.

[2016-09-11 16:46] mdorman commented on #17540
@peti is correct, I collaborated with @ndmitchell on some patches to Hoogle to allow us to get this working again; I have a branch at https://github.com/mdorman/nixpkgs/tree/hoogle-fixup, though it includes some `configuration-common.nix` business to actually patch hoogle; once Neil does a new release, those are no longer necessary and I'd be comfortable merging this.

[2016-09-11 16:49] fpletz commented on #18411
The "Let's Encrypt Authority X3" is actually not in Mozilla's trust store (yet?) but the "ISRG Root X1" is. This is the parent organization running Let's Encrypt (Internet Security Research Group). That's why you have to provide the full chain to the ISRG root. Before that, Let's Encrypt was cross-signed by the "DST Root CA X3" (IdenTrust) which is an established Root CA.

I'm not sure, though, wh

[2016-09-11 16:49] #18411 closed

[2016-09-11 16:49] copumpkin commented on #18461
Feel free to post in here if there's something you don't understand and I might be able to help (or others might see something they can help with)

[2016-09-11 17:07] ndmitchell commented on #17540
If I made a new release tonight would that help?

[2016-09-11 17:13] vcunat commented on #18411
Yes, I also ended up with the quote you made. I suppose Firefox does some magic to find the intermediate certificates, as the required roots *are* in our trust store.

[2016-09-11 17:16] vcunat commented on #18282
/cc maintainer @svanderburg.

[2016-09-11 17:26] vcunat commented on #17448
Unfortunately, using it to wrap the `vlc` executable didn't seem to have affected the crash.

[2016-09-11 17:29] Profpatsch commented on #17540
Nice, does that work around having to combine the database binaries afterwards?

[2016-09-11 17:37] vcunat commented on #14769
Someone's fixed it during the last few months, apparently.

[2016-09-11 17:37] #14769 closed

[2016-09-11 17:39] vcunat commented on #17989
I think this should be another instance of https://github.com/NixOS/nixpkgs/issues/18316

[2016-09-11 17:42] vcunat commented on #17448
I should mention that I'm still getting the error also when running `konsole-16.08.0`.

[2016-09-11 17:46] ttuegel commented on #17448
@vcunat What do you have installed in your profiles?

[2016-09-11 17:52] domenkozar commented on #18209
@puffnfresh would you check why pijul transiently fail on 32bit linux and try to fix that? :)

[2016-09-11 17:53] vcunat commented on #17448
@ttuegel: various KDE apps in `~/.nix-profile`, certainly, including some outdated ones (and lots of other packages as well). My `systemPackages` is relatively small and I no longer enable KDE in NixOS config.

[2016-09-11 17:56] ttuegel commented on #17448
Unfortunately, you need to remove the outdated ones to stop the impurity. Desktop applications are necessarily impure, otherwise they could not have themes, icons, input methods, etc. The solution to the Qt 5 impurity in this case was to stop polluting the profile with things that shouldn't be shared.

[2016-09-11 18:08] svanderburg commented on #18442
@Profpatsch That's already what we have been doing. The only reason why there are still files left generated by npm2nix, is because it would break a couple of non-NPM packages.

I also intend to replace these affected packages, but it will take a bit of time as some of them are a bit obscure.

[2016-09-11 18:29] copumpkin commented on #18461
I'm also going to be messing with related parts of the stdenv and pushing some full rebuilds later today, so if you prefer I can make the change.

[2016-09-11 18:31] jokogr opened #18517 "How to have systemd unit files disabled at boot?"
Hello,

I would like to have systemd unit files available on my system, yet not enabled. Currently, setting `enable = false;` on a unit file makes it a symlink to /dev/null.

Although this is conventional for unit files such as `serial-getty@ttyS0` (mentioned in the manual), I would like to have unit files ready to start on my machine if I request so. E.g., I would like to start the syncthing serv

[2016-09-11 18:32] mdorman commented on #17540
@Profpatsch Yeah, it sidesteps the whole question by having hoogle simply read everything at once. :)

@ndmitchell If you think it's ready, that would be great, but I don't think there's a reason to rush one out if you want more soak time.

[2016-09-11 18:36] kirelagin commented on #18461
Yeah, sure, go ahead!

On Sun, Sep 11, 2016, 21:29 Daniel Peebles <notifications@github.com> wrote:

[2016-09-11 18:40] Profpatsch commented on #18442
@svanderburg I’m afraid we can’t phase out the package itself. Maybe deprecate it and remove it on the next release?

[2016-09-11 19:02] vcunat commented on #17448
**"Solution"**: get rid of (older) `~/.nix-profile/lib/libQt5*`. That may not be very easy, as KDE apps unfortunately (still) propagate it into the profile.

Hmm, it would be nice if we had an "installation mode" that doesn't create such interferences/plugs/etc. I've come to rely on such behavior with nix.

Do you think it's really needed for KDE stuff to have (so many) `propagatedUserEnvPackages`

[2016-09-11 19:09] dhess commented on #18506
It's apparent that the port needs more active developers, so ultimately the only way to improve the situation is to get them.

How does the project get more active developers? The obvious way would be to make it easier, and more encouraging, for users to ramp their way up to becoming contributors. Suggestions on how to do that:

a) Better documentation on how the OS X stdenv works. As @copumpkin a

[2016-09-11 19:19] bjornfor commented on #18517
If it's a service you're defining yourself in your configuration.nix, setting "wantedBy = [ ]" for the service should do it. If it's a Nixos service you might have to mkForce that value. (Assuming that no other service pull in your service.)

[2016-09-11 19:21] copumpkin commented on #18506
Your points mostly make sense to me, but the real question for me is "who
should be doing what differently". A lot of what you're saying makes sense
in the abstract but I don't know who should be doing those things. We did
have sandboxed builds working well for a long time (it was all I used for a
while, and I did the initial work to make them work) but they broke and I
have far less time now than

[2016-09-11 19:42] dhess commented on #18506
@copumpkin You ask, "Who should be doing what differently?" Who are you asking? Me? Other Nix project members? Is it rhetorical?

[2016-09-11 19:43] ndmitchell commented on #17540
@mdorman - I've already used the patches you supplied which turned out to be required at `$WORK`, so a release benefits me too :). I've just released 5.0.4 with all your changes in it.

[2016-09-11 19:47] copumpkin commented on #18506
More rhetorical, yeah. I honestly don't know and would love to hear ideas
on how to improve things and draw more people in. Your list is a start but
I don't know how to make it into reality without taking a few weeks off
from my "real life" and dedicating them to Nix. It's hard for me to justify
investing in that when even the Darwin "low-hanging fruit" (i.e., things
that don't rely on specialized

[2016-09-11 19:49] ttuegel commented on #17448
As far as I know, there are no KDE 5 applications that still do this; however, every Qt 5 application is sensitive to garbage left-over from the older, ill-behaved packages.

Unfortunately, the Nix philosophy is fundamentally incompatible with desktop software.

The only things that still get propagated are service definitions, e.g. for D-Bus, and there's no way around that.

Again, _as far as I k

[2016-09-11 20:04] copumpkin commented on #18506
Anyway sorry, I probably sound more doom-and-gloom than I intended, and I do appreciate you caring about the state of the ecosystem. There are several major problems, not least that I think in principle a pure darwin stdenv is a much gnarlier problem than a pure Linux one, but we have far fewer developers and a very active linux community that regularly breaks our stuff because they (legitimately)

[2016-09-11 20:13] vcunat commented on #17448
[code]

[2016-09-11 20:20] dhess commented on #18506
@copumpkin Again, let me reiterate in all sincerity that I am not criticizing you or any other project member. I personally have run an open source project with a reasonable number of users, and I know how frustrating it can be, and how much pressure it can bring down on your shoulders.

My reason for opening this issue was to get better visibility on the state of the OS X port, not to attempt to

[2016-09-11 20:21] dhess commented on #18506
Does Nix have an official organization, a la Debian, which oversees the project, accepts donations, etc?

[2016-09-11 20:22] copumpkin commented on #18506
This is the closest you'll find to that: https://nixos.org/nixos/foundation.html.

[2016-09-11 20:23] dhess commented on #18506
Yes, that is exactly the kind of thing I was looking for, thanks.

[2016-09-11 20:27] copumpkin commented on #18506
Thanks, and I didn't mean to come across as defensive. This has just been a pain point for a while and I don't really know what to do about it.

I'm going to proceed with the upgrade/simplify/document plan on the current stdenv. That means that docs won't be the first thing I produce, but won't be too far off either. I do want to get us off the 10.9-based stdenv that we made a couple of years ago,

[2016-09-11 20:32] domenkozar commented on #18209
@abbradar any ideas about why mumble test fails on 32bit:

[code]

[2016-09-11 20:35] dhess commented on #18506
That sounds like a good plan to me, and is exactly how I would proceed with things if I were in your position.

[2016-09-11 20:36] vcunat commented on #18506
Well, it's purpose is still rather restricted, as described on that link.

I don't think most contributors need to really understand how stdenv works, as long as it works (kinda) and they know how to *use* it.

[2016-09-11 20:38] ttuegel commented on #17448
Every one of those packages provides a service definition, `.desktop` file, theme, MIME type, or some other type of shared data. None of them provides a Qt plugin which could cause the segfault you're seeing.

[2016-09-11 21:26] mdorman commented on #17540
@ndmitchell Wonderful. Then as soon as we update our master package list, I can put my change up for review.

[2016-09-11 23:26] luminoso commented on #16090
@qknight I'm sorry for the delay replying.
I was confused when I posted here. I thought I was posting in another topic. I am actually using arch when I noticed that here at NixOS a related problem was being discussed. I shouldn't have posted here. However, the problem is the same, a race condition and I didn't found a way to fix it. I just used a timmer to avoid the race condition (the ugly way)

[2016-09-11 23:29] siddharthist commented on #17887
@vcunat Thanks, sorry for the dup!

[2016-09-11 23:39] RamKromberg commented on #14472
@domenkozar I fixed up the search paths in https://github.com/NixOS/nixpkgs/issues/18521 so the system and user database build correctly now. Note the instructions for the user db especially.

Also, Ideally, I think _mandb_ and _mandb -u_ should be executed following package installations (_nixos-rebuild_ and _nix-env_).

[2016-09-12 00:45] sheenobu opened #18523 "services.xserver.resolutions does not apply in qemu VMs"
## Issue description

I've got a test setup that runs:

[code]

The test-config.nix sets the option `services.xserver.resolutions` to a supported resolution but the generated X config does not contain the resolution. The `services.xserver.virtualScreen` _does_ add things to the X config, but does not change anything.

I can switch to my requested resolution in the virtual machine via xrandr, so I

[2016-09-12 00:58] copumpkin commented on #18506
In general agree, and I think most Linux contributors don't understand the pure linux stdenv either. Unfortunately some of the oddness in the darwin stdenv occasionally leaks into user packages and confuses people, but I do think that's less common, and it'll go down as I simplify and flesh out the stdenv bootstrap process.

[2016-09-12 01:01] spiderbit commented on #17559
funny enough I seem to have the exact same problem again, I do not even remember what I changed or when it happend just recently my videos startet to lag, so I checked again on the same machine vdpauinfo.

can I somehow reopen that bug?

[2016-09-12 01:18] spiderbit commented on #17559
Ok false alarm I guess, I am not shure what happend but after a rebuild --upgrade at least that info tools give a sane output, I will make further testings but for now the problem seems gone in latest upstream.

[2016-09-12 02:55] jerith666 commented on #14472
I figured they would be executed *only* on package installations.  Unlike a regular distro, we know those are the only times that new man pages can be introduced.  We should be able to put the output in the nix store rather than under `/var`.  Though as far as I can tell this is likely to require patching `mandb`.  :-(

[2016-09-12 04:06] RamKromberg commented on #14472
@jerith666 Putting the output in a store and writing a proper module is pretty straightforwards:
1. In postInstall, delete _man_db.conf_ and place a symbolic link to _/etc/man_db.conf_.
2. Write a system module that modifies _/etc/man_db_'s MANDB_MAP to point to an output store and executes mandb.
3. Write a user module that modifies _~/.manpath_ similarly to _/etc/man_db_ (see my PR).
4. Write a

[2016-09-12 06:21] copumpkin commented on #18461
@kirelagin I pushed a fix to staging. If you feel like testing it on Sierra, that would be helpful, but otherwise I'll fire up my VM soon and check.

[2016-09-12 06:30] reinhardt commented on #18112
How? Where?

[2016-09-12 07:22] domenkozar commented on #18209
Failing tests:

- mathics @benley
- cadvisor @offlinehacker
- keyman @aszlig
- mysql-replication @edolstra
- tomcat @edolstra

[2016-09-12 07:24] domenkozar commented on #18209
@exi @HappyEnte @Phreedom kmymoney fails on 32bit build, any objections marking it as broken on i686?

[code]

[2016-09-12 08:02] jokogr commented on #18517
Many thanks, @bjornfor! Both of the solutions you mentioned are working flawlessly.

[2016-09-12 08:02] #18517 closed

[2016-09-12 08:03] jokogr opened #18527 "Setting unFree for overriden, pinned packages"
So far I was used to override some packages by using a future version of nixpkgs, e.g.:

[code]

Although TeXLive is working as intended, pulling idea-ultimate shows the following error message:

[code]

Of course, I have already set `nixpkgs.config.allowUnfree = true;` in the configuration, but it seems to be ignored. Any ideas?

[2016-09-12 08:10] jokogr commented on #18527
I have even tried to do a nasty hack, by trying to override the package license:

[code]

The error message stays the same, though :confused:

[2016-09-12 08:13] pijul opened #18528 "fetchdarcs fetches into a fixed build directory"
## Issue description

Fetchdarcs calls `darcs get` into `$out`, which is wrong, as `$out` is the directory where the `fetchdarcs` derivation lives. It works fine if only one version of one derivation on the system is fetched via darcs, but fails in other cases.

### Steps to reproduce

- Install an existing package that uses fetchdarcs.
- Write a package using `fetchdarcs`, and try to build it.

#

[2016-09-12 08:16] exi commented on #18209
@domenkozar no objections from my side, I'll try to debug this when i have time.

[2016-09-12 08:41] zimbatm commented on #15005
Same issue with the Lenovo X1 Yoga - http://sprunge.us/NNiB

[2016-09-12 08:42] zimbatm commented on #15005
@DamienCassou can you post `lspci | curl -F 'sprunge=<-' http://sprunge.us`

[2016-09-12 08:43] stapelberg opened #18530 "Enable debug symbols for all packages"
PR https://github.com/NixOS/nixpkgs/pull/15539 mentions this, but I think it’s worthwhile to have a separate GitHub issue.

Currently, a large number of libraries are lacking debug symbols even though `environment.enableDebugInfo = true;` is specified in my `/etc/nixos/configuration.nix`. The following list is taken from a gdb session on NetworkManager:

[code]

In the above list, only glibc seems

[2016-09-12 08:53] DamienCassou commented on #15005
@zimbatm http://sprunge.us/AZWd

[2016-09-12 08:58] peterhoeg commented on #15262
I have a PR #18532 that should fix it, but until https://github.com/NixOS/patchelf/issues/66 is fixed, we cannot patch the downloaded binary.

If you want a temporary workaround, create a symlink in ```/lib64``` to ```/nix/store/whatever-glibc-is-called-glibc-2.24/lib/ld-linux-x86-64.so.2```.

[2016-09-12 09:02] FRidh commented on #15005
Perhaps updating ALSA helps? http://www.alsa-project.org/main/index.php/Changes_v1.1.1_v1.1.2
We're on 1.1.1 now.

[2016-09-12 09:04] rycee opened #18533 "Kernel warning about zswap during boot after 16.03 → 16.09"
## Issue description

Switched from 16.03 to 16.09 and started seeing warnings about zswap early in the boot process. From the journal:
[code]
Doesn't seem to cause any harm but it doesn't look very nice to start your computer and immediately get a kernel warning :-)

If this is expected with the switch from 16.03 to 16.09 then perhaps a mention in the release notes with instructions how to remove

[2016-09-12 09:15] zimbatm commented on #15005
Reported the issue upstream: https://www.virtualbox.org/ticket/15919

The next thing to do would be to upgrade VirtualBox as we're a couple of releases behind (and probably won't get support from upstream because of that).

@FRidh: I think the issue is on the kernel level. If the audio driver isn't loaded I don't think it will make a difference what audio library we're using.

[2016-09-12 09:19] domenkozar commented on #15005
Looks similar to https://www.virtualbox.org/ticket/15859 except that we don't have those versions.

[2016-09-12 09:21] domenkozar commented on #15005
Seems to be happening on 5.1.4, we should try upgrading to 5.1.2.

https://www.virtualbox.org/ticket/15806

[2016-09-12 10:19] dezgeg commented on #18512
Ah, indeed some still do. So keeping that for now then.

[2016-09-12 10:19] #18512 closed

[2016-09-12 10:31] exi commented on #18209
@domenkozar Just had a look at this, this needs to be fixed upstream but we can easily include a patch to fix it for us for now. The patch is really simple. Would it be an option to just include a patch on our side for now, while i try to bring it upstream?

[2016-09-12 10:32] domenkozar commented on #18209
Patches that fix builds are always welcome until upstream fixes the issues.

[2016-09-12 10:59] edolstra commented on #18530
I don't know if we should enable it for all packages. We should probably have some guesstimate of the additional storage costs. However, it's definitely a good idea to enable it for some major libraries.

[2016-09-12 11:26] DamienCassou commented on #15005
I'm trying to build 5.1.2, but currently fails: https://github.com/NixOS/nixpkgs/pull/17502

[2016-09-12 11:36] stapelberg commented on #18530
I’m assuming you’re referring to the build output stored on build servers, since the debug info on the disks of end users is configurable using  enableDebugInfo :).

For comparison, here’s a list of the sizes (in bytes) of all 1726 Debian packages with a “-dbg” suffix currently in Debian testing (amd64): [debian-debug-sizes.txt](https://github.com/NixOS/nixpkgs/files/467182/debian-debug-sizes.txt)

[2016-09-12 11:46] nico202 opened #18535 "calibre segfault on start on master"
## Issue description

Calibre segfault when starting. The same is true with the calibre-debug -g command.
calibre-debug --test-build show 2 failures and 5 errors

Calibre installed from git

[code]
### Steps to reproduce

run the `calibre` command
## Technical details

[code]

calibre-debug --test-build: [log](https://gist.github.com/nico202/8426ceabcf78d16d06ae0c509c01be9f)
- System: 16.09pre9025

[2016-09-12 11:49] domenkozar commented on #15988
cc @ocharles

[2016-09-12 11:51] domenkozar commented on #10554
cc @offlinehacker, this would also fix the build most probably.

[2016-09-12 11:51] nico202 commented on #18535
@viric @domenkozar @pSub @AndersonTorres

[2016-09-12 11:51] domenkozar commented on #17790
cc @ocharles is this relevant to your issues?

[2016-09-12 11:53] domenkozar commented on #18503
Check the generated openssh config file, maybe your directive is being overriden.

[2016-09-12 11:55] domenkozar commented on #18523
Can you also print the output of `xrandr` on the guest? Maybe it can not use the resolution you specified.

[2016-09-12 11:57] domenkozar commented on #18457
Did you check if guest additions are correctly installed and enabled?

[2016-09-12 12:02] #18316 closed

[2016-09-12 12:14] bjornfor commented on #17989
Should be fixed with https://github.com/NixOS/nixpkgs/commit/5c6bcee944a3c03b0c0274a9e91e0c61b6bd5b33 (I'll re-open if not).

[2016-09-12 12:16] kevincox commented on #18530
I would love to see this happen. As for my other PR life got in the way and there was debate that never got resolved. The basics work but you can see the checkboxes to see what features I would like added (although they can likely be added as a later patch). I should have time to pick it up around now, hopefully banging it into a shape that is generally agreed to be acceptable.

As for the package

[2016-09-12 12:53] michalrus opened #18536 "Some icons (SVG?) are not displayed in Xfce in 16.09beta172"
## Issue description

I’ve tentatively updated my mother’s laptop—her DM is Xfce—to 16.09beta172 and some of the icons are gone:
- Chromium’s,
- battery applet,
- “Applications” menu in the corner of the display,
- LibreOffice.

Also, this might be of importance, `gtk-update-icon-cache` is gone from the `PATH`. It was there, previously.
### Steps to reproduce
1. Enable Xfce on 16.09beta172.
2. Ins

[2016-09-12 13:05] ElessarWebb opened #18537 "libspatialite: builds fine on darwin, but platform is disabled"
## Issue description

The package libspatialite has `meta.platforms = linux` but is documented to work fine on darwin.
The current derivation indeed does not build, but only because libiconv is missing from buildInputs.

### Steps to reproduce

Add libiconv as a buildInput to `nixpkgs/pkgs/development/libraries/libspatialite/default.nix` and  add `platforms.darwin` to `meta.platforms` and build on

[2016-09-12 13:20] sheenobu commented on #18523
@domenkozar: "I can switch to my requested resolution in the virtual machine via xrandr, so I don't think it's a resolution support issue."

That said (switched to openbox since i3 in i3 was causing keybinding conflicts):
![2016-09-12-091922_1678x1022_scrot](https://cloud.githubusercontent.com/assets/1443459/18437256/0ed403bc-78ca-11e6-955a-4a26d9e6e3df.png)

[2016-09-12 14:35] DamienCassou commented on #15005
The sound problem is still there with 5.1.2 :-(.

[2016-09-12 14:44] stapelberg opened #18538 "Debug symbols not available despite following manual"
## Issue description

I read https://nixos.org/nixos/manual/options.html#opt-environment.enableDebugInfo and added this to my /etc/nixos/configuration.nix and rebuilt my system, which took way over 6 hours:

[code]

…only to discover that there’s still no debug symbols for libffi:

[code]

What did I do wrong here?
## Technical details
- System: (NixOS: `nixos-version`, Ubuntu/Fedora: `lsb_release

[2016-09-12 14:49] aszlig commented on #15005
Haven't read all the comments, but could you try it with `pulseSupport = true`?

[2016-09-12 15:15] bjornfor commented on #17989
Keeping open until https://github.com/NixOS/nixpkgs/commit/5c6bcee944a3c03b0c0274a9e91e0c61b6bd5b33 is backported to release-16.09.

[2016-09-12 15:28] kupiqu commented on #16601
This seems to be a problem of konqueror.desktop. You can try copying the one in your system to $HOME/.local/share/applications/ and replacing Exec line to:
`Exec=konqueror`

[2016-09-12 17:34] exi commented on #18209
@domenkozar, @abbradar The error mentioned in https://github.com/NixOS/nixpkgs/issues/18209#issuecomment-246202704 also happens on 64bit. It's the same as this one: https://bugs.launchpad.net/ubuntu/+source/mumble/+bug/1056907

It does not prevent mumble from launching or working, just causes issues with the mumble game overlay.

It is unrelated to the failed test.

[2016-09-12 19:11] benley commented on #18209
I can check on mathics later tonight (US east coast)

[2016-09-12 19:38] dhess commented on #18461
@copumpkin I'm building from staging now and will let you know how it goes. Thanks for your quick work on this.

[2016-09-12 19:46] copumpkin commented on #18461
@dhess thanks! It seemed to be working in my 10.12 VM and on my 10.11 machine but the more testers the merrier. In principle it really shouldn't depend much on the host OS, but as long as we have impurities (including the kernel) there will always be variations.

[2016-09-12 19:48] cstrahan commented on #18209
I don't know how to fix the Redis Desktop Manager package:

    Could not find qmake configuration file linux-g++.

@ttuegel Do you know what the problem might be? This worked at one point in time.

[2016-09-12 19:48] dhess commented on #18461
`nix-env -i nix`breaks for me when building out of staging (e6ea302c47c58c2ad525263305853b03739df34d). Looks like an issue with clang/LLVM 3.8.

Log attached.

[nix-staging.log.txt](https://github.com/NixOS/nixpkgs/files/468219/nix-staging.log.txt)

I'll try to build the rest of my world without updating nix.

[2016-09-12 19:51] copumpkin commented on #18461
Ah yes, I haven't tried `nix` itself. It fails on 10.11 too, and is probably just an incompatibility with clang 3.8

[2016-09-12 19:54] ttuegel commented on #18209
@cstrahan You can't override `configureHook` like that. At a minimum, you must call `runHook preConfigure; runHook postConfigure`.

[2016-09-12 20:01] cstrahan commented on #18209
@ttuegel Oh, the QT setup-hooks register pre/post configure hooks that must run?

Any way, thanks! This seems to be sufficient:

    configurePhase = ''
      runHook preConfigure
      runHook postConfigure
    '';

[2016-09-12 20:11] cstrahan commented on #18209
PR for RDM here: https://github.com/NixOS/nixpkgs/pull/18543

[2016-09-12 20:40] dhess commented on #18461
Now it's `db`. Short story here:

[code]

I'll post a log in a bit.

[2016-09-12 20:52] adnelson opened #18544 "Nixpkgs channel names no longer contain git commit hash"
## Issue description

I have a local git clone of the `nixpkgs` on my machine. I find it very useful to duplicate a channel snapshot (e.g. of the `nixpkgs-unstable` or `nixos` channels) in my local clone, so that I can get access to prebuilt binaries from the nix cache while still having the ability to hack on the expressions if need be.

This used to be very easy to do: I could look at the store

[2016-09-12 20:55] adnelson commented on #18537
You could make a pull request where you change `meta.platforms` to `unix`

[2016-09-12 21:03] laMudri commented on #17866
Happening again?

[2016-09-12 21:07] copumpkin commented on #18461
Yeah, if you don't mind, that'd be helpful! Doesn't seem specific to 10.12. More likely caused by the clang 3.8 upgrade, which I could just undo if it proves to be a huge PITA. I'd rather not though.

[2016-09-12 21:14] vcunat commented on #17866
Possibly. Yesterday I thought it was a bit suspicious.

[2016-09-12 21:17] bjornfor commented on #18544
Unless I'm mistaken, I think this is what you want:

[code]

[2016-09-12 21:18] copumpkin commented on #18461
Perhaps also worth a separate ticket for `db`? Also reminds me that we should test it in the standard release-blockers, because it isn't there right now so I didn't notice that it broke before pushing staging 😄

[2016-09-12 21:23] #18544 closed

[2016-09-12 21:23] edolstra commented on #18544
Thanks, fixed! This was caused by a full disk.

[2016-09-12 21:25] dhess commented on #18461
Sure, I'll take a look and file something against `db` a bit later.

[2016-09-12 21:34] copumpkin commented on #18461
Thanks! Feel free to come hang out in ##nix-darwin on freenode too.

[2016-09-12 21:40] exi commented on #18209
I hope the mumble vm test is fixed as of https://github.com/NixOS/nixpkgs/pull/18545

[2016-09-12 21:48] rasendubi commented on #18527
I believe that's the same issue as https://github.com/NixOS/nixpkgs/issues/7541 (`meta` attribute is too strict).

[2016-09-12 21:57] rasendubi commented on #18536
Could you post your system config?

[2016-09-12 21:59] rasendubi commented on #18535
Works fine for me on latest master (6a9fb8b9e0ab806ae83a19a001f742f78087dd5d):
[code]

[2016-09-12 22:02] michalrus commented on #18536
@rasendubi, okay, but it’s not minimal. :blush:

https://github.com/michalrus/dotfiles/blob/e1a97b9f9bae9aa4fad5c6037b674a52eee30823/.nixos-config.symlink/machines/desktop/hardware/mother.nix

It does import this one, here’s where Xfce is enabled:

https://github.com/michalrus/dotfiles/blob/e1a97b9f9bae9aa4fad5c6037b674a52eee30823/.nixos-config.symlink/machines/desktop/base-parents.nix

Thank you

[2016-09-12 22:04] rasendubi commented on #18538
I believe this is the same issue as https://github.com/NixOS/nixpkgs/issues/18530 -- libffi does not build debug symbols even though `environment.enableDebugInfo` is `true`.

The other part of the expression is responsible for separating debug info, but it does nothing if debug info is not built in the first place.

[2016-09-12 22:05] michalrus commented on #18536
The same exact config with nix-channel switched back to 16.03 displays the icons correctly.

[2016-09-12 22:07] copumpkin commented on #18530
Would we put them in a separate output?

[2016-09-12 22:23] rasendubi commented on #18528
`fetchdarcs` is not a derivation, but a function that returns a derivation. Thus, `builder.sh` is called with `$out` set to output directory of the final package (where the final package is fetched darcs repository).

For example, the same approach is used in `fetchurl` and many other fetchers.

Though, I've followed your steps to reproduce and built both `pijul.src` and `emacsPackages.darcsum.src

[2016-09-12 22:23] #18528 closed

[2016-09-12 22:30] rasendubi commented on #18536
I'll try to reproduce the issue with VM at the weekend.

[2016-09-12 22:31] michalrus commented on #18536
Thank you!

[2016-09-12 22:43] kevincox commented on #18530
On Sep 12, 2016 23:08, "Daniel Peebles" <notifications@github.com> wrote:

Would we put them in a separate output?

I'm pretty sure this is a requirement.

[2016-09-12 23:00] #18023 closed

[2016-09-13 00:50] copumpkin commented on #18461
I found some related stuff https://community.oracle.com/thread/3952592 . The error at the bottom of this also looks like what I'm seeing: https://lists.freebsd.org/pipermail/freebsd-ports/2013-July/085046.html

[2016-09-13 01:11] dhess commented on #18461
Yikes. Oracle.

[2016-09-13 01:29] rasendubi commented on #18527
Looked closely to the original issue: config is not passed to the `pinnedPkgs`.

The following works for me:
[code]
[code]
(I believe, that's mostly because I use nix-build/nix-env and not nixos-rebuild.)

If I understand correctly, you're using this config as part of you `nixos/configuration.nix`. If so, could you please post a minimal complete example, so I could reproduce the issue?

[2016-09-13 03:08] 8573 commented on #17866
It seems to have disappeared from <https://nixos.org/channels/> again. The previous time I checked, it was there but hadn't been updated since August.

[2016-09-13 03:40] RamKromberg commented on #18035
I'm closing this since I've cut back to using just a handful of font packages and can't be bothered downloading and compiling the 3+ gb of fonts necessary to test the problem.

[2016-09-13 03:40] #18035 closed

[2016-09-13 04:51] copumpkin commented on #18461
Anyway, I poked at it a bit and couldn't make any obvious headway. Would appreciate you or anyone else taking a look. In the meantime, we could hack around it and make more things build by changing `db/generic.nix` to default `cxxSupport` to off on Darwin, but I'd rather fix this the right way if we can avoid hackery.

[2016-09-13 04:54] copumpkin commented on #18461
Oddly enough, `nix-build -E "let pkgs = import ./. {}; in pkgs.db.override { stdenv = pkgs.llvmPackages_38.stdenv; }"` didn't give any trouble on linux, so it seems somewhat specific to darwin, but none of the headers involved in the error are system headers that my stdenv changes would really affect. So basically I'm not sure what's going on but I haven't really looked that deeply either.

[2016-09-13 04:55] dhess commented on #18461
I haven't looked carefully yet but it sounds like a major change to `db` as it involves C++ namespaces. I will take a closer look, but it might not be feasible to fix.

Would the `cxxSupport` change you mentioned use `gcc` to compile `db` rather than `clang`?

(I'm sorry for the noise in this thread, it's clearly unrelated to `libiconv` and we should probably move it to a new issue.)

[2016-09-13 04:57] copumpkin opened #18549 "db is broken on darwin on staging"
See the discussion starting at https://github.com/NixOS/nixpkgs/issues/18461#issuecomment-246485172

cc @dhess

[2016-09-13 04:58] copumpkin commented on #18549
Nope, it just turns off the c++ part of the bdb library, which will break downstream c++ consumers

That's why we're here now!

[2016-09-13 05:02] dhess commented on #18549
According to the Oracle thread you linked in the other thread, this may be a C++11 issue. It might be possible to force clang to use an earlier libstdc++. I'll start there. Probably won't have time to look at this for another day, though.

[2016-09-13 05:04] dhess commented on #18549
c.f. http://stackoverflow.com/questions/19774778/when-is-it-necessary-to-use-use-the-flag-stdlib-libstdc, especially the top answer's mention of Mavericks.

[2016-09-13 05:04] copumpkin commented on #18549
Clang has only ever used libc++ (not libstdc++) in nixpkgs for as long as I remember, and I don't think it "likes" having inconsistent library versions. Might be worth a try, but I'd mostly want to understand why we were fine with clang 3.7 and things broke when we moved to 3.8, since the Oracle thread suggests that he was seeing the issue on 3.7 when we never did.

[2016-09-13 05:07] dhess commented on #18549
Hmm, yes, good point. According to http://clang.llvm.org/cxx_status.html clang has implemented full C++11 since clang 3.3, so it seems unlikely this is a C++11 issue.

[2016-09-13 06:32] rasendubi commented on #18390
Happened today again during the switching to 7e273d9209c6c96acce0f3c4abff3b7ec18ca360. The issue is 100% is caused by alarm-clock-applet.

[2016-09-13 06:37] reinhardt commented on #18112
I don't see how this is fixed. The nix-shell invocation from the description still throws the same error.

[2016-09-13 06:58] DamienCassou opened #18550 "Emacs package Jade on melp-stable-generated is broken"
## Issue description

Currently, jade in [melpa-stable-generated](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/editors/emacs-modes/melpa-stable-generated.nix) is defined as:

[code]
When trying to install it, nix complains about missing `map` (which is included by default in Emacs 25):

[code]

Please also consider the `emacs` dependency which is put in `packageRequires`. This co

[2016-09-13 07:22] zchee commented on #18466
@kirelagin Sorry, this threads is already understood cause?
If not, See https://github.com/jemalloc/jemalloc/pull/427.

FYI, I was tried use tcmalloc instead of jemalloc(in another matter) for Neovim, but same results.
Also solved the same patch, See https://github.com/gperftools/gperftools/issues/827.

It's on the native Darwin. I have not used NixOS.
If this thread talking about the different to

[2016-09-13 07:26] pijul commented on #18528
I reported this because… it actually hit me!
I tried the pijul derivation some time ago, and then started writing a package for another project. `fetchdarcs` kept fetching the sources for pijul. I should add that that other project is not packaged in Nix, it's just installed locally with nix-env.
`fetchgit` uses a hack to turn a URL into a `$out`.

[2016-09-13 08:24] nico202 commented on #18535
The package is not pure?. Using nix-shell (with only calibre as a dependency)

    nix-shell --run calibre
sefault. But the following does work

    nix-shell --pure --run calibre

Hope this helps

[2016-09-13 08:45] Mic92 commented on #18479
For applications to find gtk themes, I had to set: `GTK_DATA_PREFIX=/run/current-system/sw`
as environment variable in `environment.variables` in `/etc/nixos/configuration.nix`  (where `gnome3.adwaita-icon-theme` is in my systemPackages)

[2016-09-13 08:45] domenkozar commented on #18209
Here are the final outstanding issues:

- dozen tests fail, see the list at the top (including mumble)
- lttng modules fail on chromiumos kernel (we should probably just mark that as broken)
- fstar needs a maintainer decision based on upstream feedback at https://github.com/FStarLang/FStar/issues/676

Following are being worked on:

- amdappsdkFull is being worked on @offlinehacker
- go-repo-root

[2016-09-13 08:46] rasendubi commented on #18528
Have you copied `sha256` from the other `fetchdarcs` package?

I see the issue can happen if two `fetchdarcs` derivations have the same hash. In that case, they both end up with the same output directory (because they all have the same name).

[2016-09-13 08:47] pijul commented on #18528
Good point. I copied it in order for `nix-build` to tell me what hash it expected!
Thanks.

[2016-09-13 08:56] nixy commented on #18506
@copumpkin
If people were interested in understanding/contributing to the darwin stdenv, where would be a good point to start learning? I would be interested in spending some time learning how the darwin stdenv works, but every time I go looking for resources I don't find anything helpful.

While more documentation is always helpful, what is there right now that might be helpful?

[2016-09-13 08:58] DamienCassou commented on #15005
@aszlig I've tried to activate pulseSupport everywhere, but this doesn't fix the problem with VirtualBox 5.1.4.

[2016-09-13 09:02] wmertens commented on #18209
the dvorak test seems likely to be an intermittent issue. Can the test be re-run?

[2016-09-13 09:03] abbradar commented on #18209
I've run `tests.mumble.i686-linux` a few times but can't reproduce the error. This seems strange -- I'm not sure how to debug this.

[2016-09-13 09:04] domenkozar commented on #18209
@abbradar hydra machines are under I/O load, so usually timings are not set correctly (or better say, somewhere it's missing a statement to wait for a resource to be available)

[2016-09-13 09:14] domenkozar commented on #17578
Fixed

[2016-09-13 09:14] #17578 closed

[2016-09-13 09:14] domenkozar commented on #17563
fixed

[2016-09-13 09:14] #17563 closed

[2016-09-13 09:15] domenkozar commented on #17661
We've just disabled these builds for now

[2016-09-13 09:15] #17661 closed

[2016-09-13 09:17] domenkozar commented on #10230
Are these errors still present?

[2016-09-13 09:17] domenkozar commented on #17866
It seems to be fixed now.

[2016-09-13 09:46] abbradar commented on #18527
If it's in `configuration.nix`, try:
[code]
(notice `inherit config;`)

[2016-09-13 10:19] domenkozar commented on #18209
@offlinehacker panamax test is also under your maintenance

[2016-09-13 11:49] Jookia opened #18557 "Define what unfree means"
## Issue description

There seems to be no clear definition of what an 'unfree' package is in documentation
### Steps to reproduce

N/A
## Technical details

N/A

[2016-09-13 11:52] basvandijk opened #18558 "GHC-8.0.1: Loading temp shared object failed"
Building our [haskell-opencv](https://github.com/LumiGuide/haskell-opencv.git) library with GHC-8.0.1 used to succeed.
However, after switching to `nixos-16.09` the build started failing:

[code]

The same error occurs with nixpkgs master c542e6d239f6e9e3ca8862bf35a804de90740d1a.

I know the build succeeds with nixpkgs 55120ac4cb6ee9c051006508390c48649301e6db. So it's caused by some commit in the

[2016-09-13 11:54] Jookia commented on #18440
This happens on my system too, reverting to container code used a few months ago 'fixes' it

[2016-09-13 12:36] rnhmjoj commented on #10230
It has never happened again for me but possibly mine was a different issue. I don't know about the others.

[2016-09-13 12:45] aske opened #18559 "Use GTK3 by default where applicable"
With #18498 merged there's still some work left with distinguishing packages which may benefit from using GTK3.

The list below contains packages which seem to support both GTK2 and GTK3 or do something strange (like using both gtk versions or using `libcanberra_gtk2` with GTK3).
Right now they are all set to use GTK2.

(feel free to fill in checkboxes if you make any changes):
- [ ] `gegl`
- [ ]

[2016-09-13 13:09] basvandijk commented on #18558
Note that the working https://github.com/NixOS/nixpkgs/commit/55120ac4cb6ee9c051006508390c48649301e6db has  `ld-2.26.20160125` while the failing `release-16.09` and `master` have `ld-2.27`. Note sure if that's causing the build failure.

[2016-09-13 13:28] l2dy commented on #18067
p7zip is also broken. <https://hydra.nixos.org/job/nixpkgs/trunk/p7zip.x86_64-darwin>

[2016-09-13 13:32] copumpkin commented on #18506
@nixy sadly there's not much beyond "read the code" right now.
In the meantime, here's a high-level overview that I should flesh out and stick into pkgs/stdenv/darwin/readme.md or something:

The darwin stdenv is built primarily from a combination of opensource.apple.com official Apple source releases, except when a pre-existing Nix package already handles the functionality in a smooth manner. The

[2016-09-13 14:34] domenkozar commented on #18209
All remaining failures now have their corresponding maintainer, except for keymap tests (which I think @aszlig added).

I'll just disable chromiumos lttng builds.

[2016-09-13 15:16] domenkozar commented on #16374
According to @avnik it's working:

- https://github.com/avnik/nixos-configs/blob/master/bulldozer.nix#L26
- https://github.com/avnik/nixos-configs/blob/master/common/efi.nix

[2016-09-13 15:17] domenkozar commented on #16374
But @obadz has also issues: `doesn't work unless installed from a UEFI enabled device`

[2016-09-13 15:28] avnik commented on #18315
I used it a lot, to provide dev environments, which updates all-at-once on system rebuild

[2016-09-13 15:41] avnik commented on #16374
@domenkozar  last one common for all distros,  debian also unable to install efi grub, unless booted from UEFI enabled device

[2016-09-13 15:57] domenkozar commented on #4491
Filed a bug to libreoffice to move away from md5: https://bugs.documentfoundation.org/show_bug.cgi?id=102163

[2016-09-13 15:59] domenkozar commented on #4491
cc @garbas for

[code]

[2016-09-13 16:46] garbas commented on #4491
@domenkozar will fix this with next release of pypi2nix. should be out there shortly after this weekend.

[2016-09-13 17:20] abuibrahim commented on #18454
Hi @rvl, are there any additional details I can provide? I am not that familiar with typescript or javascript, but I could try to narrow the issue down with some help.

[2016-09-13 17:45] offlinehacker commented on #18209
@domenkozar can we disable panamax test, and maybe even remove package, because as far as i know noone is still using panamax, i think also centurylinklabs has more or less deprecated it.

[2016-09-13 17:52] LnL7 commented on #18067
`go-1.7` will be fixed by #18546

[2016-09-13 18:17] bjornfor commented on #18503
I know the Match directive works, because without it I'm not allowed to type my password (as expected):

[code]

[2016-09-13 18:21] aske commented on #18559
( **TODO** )
`libcanberra` contains
[code]
Which seems to be used only in firefox right now (09f342edc991e63d5873ca474fa8c850dcafad2a).

[2016-09-13 18:38] #18550 closed

[2016-09-13 18:38] ttuegel commented on #18550
This is fixed now in master. We don't have the ability right now to filter packages based on Emacs version, so there is an Emacs 24 version listed which I presume doesn't work. However, the Emacs 25 version should be present and working.

[2016-09-13 18:42] domenkozar commented on #18209
@offlinehacker done in cc841a4841a6ffc13abac26a6de7ffe208a67524, what about other tests?

[2016-09-13 18:45] obadz commented on #16374
this is a commit in the works that should be able to helpful when installing a UEFI system from a non-UEFI booted system or simply when one does not want to deal with the stateful messiness of efivars: https://github.com/obadz/nixpkgs/commit/45e219d03f80a0050b0a2b645a7ab72285d0cb7e

[2016-09-13 18:46] domenkozar commented on #18209
Following tests still need heroes :)

- [ ] [nixos.tests.cadvisor](http://hydra.nixos.org/build/40161962)
  - maintainers: @offlinehacker
- [ ] [nixos.tests.grsecurity.i686-linux](http://hydra.nixos.org/build/40305832)
  - maintainers: @copumpkin, @joachifm
- [ ] [nixos.tests.keymap.dvorak.x86_64-linux](http://hydra.nixos.org/build/40183285)
- [ ] [nixos.tests.keymap.neo.i686-linux](http://hydra.n

[2016-09-13 19:26] shlevy commented on #18209
"master# [  105.352192] systemd[1]: mysql.service: Start-pre operation timed out. Terminating." I'm guessing this may be a hydra load issue, trying to restart.

[2016-09-13 19:30] exi commented on #18209
@domenkozar looking at http://hydra.nixos.org/build/40496245 in the raw log:

[code]

Is that supposed to happen?

[2016-09-13 19:31] vcunat commented on #18209
In general, I don't know what to do about load/timing-sensitive tests, as they tend to generate lots of noise.

[2016-09-13 19:33] domenkozar commented on #18209
@exi that's an old thing that has been haunting us for years: https://github.com/NixOS/nixpkgs/issues/5640

[2016-09-13 19:33] exi commented on #18209
@vcunat timing issues still generally expose issues with the software under test or the test itself.

We probably need better ways to determine the state of the system before continuing with the test.

[2016-09-13 19:35] domenkozar commented on #18209
Maybe all timeouts should be overriden on Hydra, but then again the load could also happen on real server...

[2016-09-13 19:40] exi commented on #18209
@domenkozar @vcunat from my previous job where we had a lot of timing issues with end-to-end tests:

every client->sleep(number of seconds) needs to go and be replaced with:
- wait for the next state where it is safe to continue by continually polling for "is X done yet?"
- then take the next step in the test.

Sadly, we have a lot of tests in nixos/tests that just sleep(5) and hope for the best.

[2016-09-13 19:41] jokogr commented on #18527
@rasendubi, you may find my configuration @ https://git.joko.gr/joko/etc-nixos

Basically, just put `nixpkgs.config.packageOverrides = import ./pkgs.nix;` in your configuration.nix and then the contents I've pasted to a file pkgs.nix placed in the same directory.

@abbradar, to use your snippet I've changed my `pkgs.nix` accordingly:

[code]

This created some load on my machine and after a while

[2016-09-13 19:41] domenkozar commented on #18209
@exi yes, but what do you do for systemd services that have the timeout set? Like how @shlevy described why mysql fails to start.

[2016-09-13 19:41] vcunat commented on #18390
So something it does triggers the restart &ndash; the sound or the notification etc. It's still strange that it happens without anything reporting any error.

[2016-09-13 19:45] vcunat commented on #18209
Yeah, that's hard. I had mainly those in-test sleeps in mind. Maybe the systemd timeouts aren't that difficult to disable globally (for tests).

[2016-09-13 20:05] DamienCassou commented on #18550
@ttuegel thanks for your reactivity

[2016-09-13 20:13] vcunat commented on #18557
I believe it's mostly clear. There are several widely recognized "authorities" that classify licenses as (un)free: [OSI](https://opensource.org/), [FSF](http://www.fsf.org/) or e.g. DFSG (in no particular order). AFAIK the licenses where these disagree [are rather rare](https://en.wikipedia.org/wiki/The_Free_Software_Definition#Comparison_with_the_Open_Source_Definition).

I think the worst we cou

[2016-09-13 20:25] RamKromberg commented on #14472
Btw, I've messed around with _mandoc_ but I'm not 100% sold out on it. I suspect once upstream releases a version without _sqlite_ as a dependency, someone, possibly myself, will port it to _Nix_ and try replace _man-db_ + _groff_ + _db_ for _mandoc_ on closure size and compile times rational alone much like _Alpine_ and _Void_ already did. You can play around with it using this (no sqlite \ aprop

[2016-09-13 20:35] vcunat commented on #18530
It should all be just a matter of adding `separateDebugInfo = true;` into the particular packages.

Note: the debian list you provided has 1726 lines. One Hydra evaluation of ours contains way more builds (~35k). There are some duplicates in there, and many would only have negligible debug info, but there still might be a significant difference. I can't see how to find easily, except to build one

[2016-09-13 20:39] stapelberg commented on #18530
I’m aware of that. Debian has >20k source packages, so we’re talking about a roughly 10% sample size here at best — that should be representative enough for a guesstimate.

I agree that the easiest way to get accurate numbers would be to just build a generation with debug symbols enabled, though :).

[2016-09-13 20:48] vcunat commented on #18538
The canonical way to enable the symbols in a package is to set `separateDebugInfo = true;` (instead of changing `outputs` and `buildInputs`). Still, I believe your changes had (almost) the same effect.

Do you have `libffi` in `systemPackages`?

[2016-09-13 20:49] vcunat commented on #18530
What's their total size of non-debug stuff on this list?

[2016-09-13 20:53] stapelberg commented on #18530
It’s 8.19G of debug packages and 0.97G of corresponding non-debug packages.

[2016-09-13 21:11] vcunat commented on #18536
I see what's the problem. `gtk-update-icon-cache` is the key trigger. I've put it into the `.dev` output and that isn't installed by default, so the cache doesn't get (re)generated.

[2016-09-13 21:12] rasendubi commented on #18390
I've started `alarm-clock-applet` from a tty with `DISPLAY=:0.0` and got some logs:
[code]

[2016-09-13 21:17] vcunat commented on #18536
The tool is so tiny that I think I shall put it into `.out` (again).

[2016-09-13 21:21] vcunat commented on #18530
Well, 9-fold increase of required space would be a disaster. Hopefully they don't compress their debug files; we do it.

[2016-09-13 21:31] rasendubi commented on #18390
output of `dbus-monitor`:
[code]

[2016-09-13 21:32] vcunat commented on #18538
I forgot the "canonical way" doesn't work with overrides yet: https://github.com/NixOS/nixpkgs/issues/10721

[2016-09-13 22:00] vcunat commented on #18527
Well, if you use this snippet within your `packageOverrides`... but you don't need to inherit the whole config (you can e.g. purge `packageOverrides` from it or something).

[2016-09-13 22:16] rycee commented on #18559
Perhaps could add `emacs24` and `emacs25` to this list?

[2016-09-13 22:47] LnL7 commented on #18549
This should be fixed in https://github.com/NixOS/nixpkgs/commit/10dae237c6364576e926dc72fc559b94a2d30ad4

[2016-09-13 23:20] aske commented on #18559
@rycee Thanks, added!

Also if anyone wants to see some packages on that list -- feel free to edit the post with it.

[2016-09-13 23:23] rasendubi commented on #18390
This looks like a silent awesome wm crash. I've looked at `~/.awesome-errors`, X logs, journalctl and still have no clue why this happens.

I've also tried to reproduce the issue by sending a notification with `notify-send` with no luck.

[2016-09-13 23:24] #13779 closed

[2016-09-14 00:45] dhess commented on #18549
Fixed! Thanks!

(New 10.12 problem now related to GHC 7.4.2. I'll file something when I've gotten to the bottom of it.)

[2016-09-14 04:10] Jookia commented on #18557
See https://github.com/NixOS/nixpkgs/pull/16852#issuecomment-233159949

[2016-09-14 04:35] IreneKnapp commented on #12456
The issue still exists in unstable as of ... whenever I last updated it, which was no more than two or three weeks ago. (The reboot I tested it with wasn't a planned one or I'd have updated first. :))

I have now added the following to my config, and will report back after my next reboot as to whether it worked. This should be in a week or two.

[code]

[2016-09-14 04:57] 7c6f434c commented on #18557
«Hydra cannot redistribute» means «we don't think the _license_ allows us to redistribute it from Hydra»

[2016-09-14 04:59] wmertens commented on #18209
The keyboard tests do a poll with a 1 minute timeout and they still fail 🙂

[2016-09-14 05:49] exi commented on #18209
@wmertens Not sure about the keyboard tests, but could it be possible that the system is under high load/swapping and 1 minute might just not be enough?
I would like to add timestamps to the log output to see how long it actually takes from keypress to its recognition.
In general, would it be possible to attach vnc or something to qemu and do a screen recording of the test? I would like to see a t

[2016-09-14 05:54] wmertens commented on #18209
On Wed, Sep 14, 2016 at 7:49 AM Reno Reckling <notifications@github.com>
wrote:

Yes, timestamps would be great, I have a script that adds prefixes to
stdout and stderr but keeps them interleaved, should not be hard to also
add time deltas. Anyone opposed?

¯\_(ツ)_/¯ dunno

[2016-09-14 06:40] DamienCassou commented on #15005
@aszlig I merged all the changes (to get 5.1.6) you merged yesterday and I still have the issue: my computer takes 2 minutes more to boot and I don't have sound on the host.

[2016-09-14 06:41] DamienCassou commented on #15005
@zimbatm @dvc94ch @yawnt Do you guys have workarounds?

[2016-09-14 07:11] DamienCassou commented on #15005
I found a workaround for me:

[code]

Just doing that is enough, no need to restart the session. The boot is still way too long though (more than 2 minutes whereas it's less than 30 seconds without VirtualBox installed).

[2016-09-14 07:12] stapelberg commented on #18530
On the package level, compression is not accounted for in my numbers: the sizes are for the unpacked, uncompressed package contents.

On the debug file level, I can’t tell whether they are compressed or not…?

[code]

[2016-09-14 07:40] rasendubi opened #18579 "Add more topic labels (was: [Nix-dev] Skillset labels)"
Moved from the mailing list (http://lists.science.uu.nl/pipermail/nix-dev/2016-July/021181.html).

The original proposal was to add skill labels, however, I find they are mostly covered by `6.topic:` labels. Currently, we have next labels:
- closure-size
- darwin
- emacs
- erlang
- gnome3
- golang
- grsecurity
- haskell
- hygiene
- kernel
- nixos
- non-nixos
- policy discussion
- printing
- python

[2016-09-14 07:48] yawnt commented on #15005
@DamienCassou that modprobe does not work for me :(

[2016-09-14 07:50] DamienCassou commented on #15005
@yawnt try replacing `snd_hda_intel` by `snd_hda_codec_realtek`. Also try logging out and back in.

[2016-09-14 08:10] peti commented on #18558
Hmm, this doesn't look good. I don't know what's causing this issue, I'm afraid.

[2016-09-14 08:23] vcunat commented on #18530
Hmm, I see the compression doesn't make that great difference (~30 %) and even after it the debug files are expected to be 2&ndash;4x size of the corresponding binaries (for complex C++ at least). https://gcc.gnu.org/wiki/DebugFission But we store more than just ELFs.

We've got glibc example where the increase is ~40 %:
[code]

Perhaps if we restricted the system-wide enabling to `x86_64-linux` f

[2016-09-14 08:27] vcunat commented on #18557
We also have redistributable pseudo-licenses: `licenses.unfreeRedistributable` and `licenses.unfreeRedistributableFirmware`; those aren't built on Hydra for now, though in theory they could be. Related: https://github.com/NixOS/nixpkgs/issues/15162#issuecomment-217628104

[2016-09-14 08:50] globin commented on #18558
I'll have a look at this later today, could be caused by hardening.

[2016-09-14 09:01] aszlig commented on #15005
@DamienCassou: I'm assuming you mean the host, what do go get with `systemd-analyze blame`?

[2016-09-14 10:27] DamienCassou commented on #15005
@aszlig I'm only talking the host, right.

[code]

[code]

[2016-09-14 11:07] jokogr commented on #18527
@vcunat could you make a clear example?

[2016-09-14 11:20] obadz commented on #18558
@basvandijk, could you try on ba50fd7 (everything will be in cache: http://hydra.nixos.org/eval/1288646)

Fails = it has nothing to do with hardening/binutils upgrade and is more likely do to glibc upgrade

[2016-09-14 11:22] globin commented on #18558
@obadz if it's not hardening, I'd suspect the binutils upgrade

[2016-09-14 11:27] obadz commented on #18558
Yes, another interesting commits to test would be: e0deed0 post ghc relocation patch, pre binutils. I expect that will require some amount of building…

[2016-09-14 12:41] teh commented on #18535
@nico202 Is calibre a GUI program? Maybe it needs the `DISPLAY` environment var, or some other thing like `DBUS_SESSION_BUS_ADDRESS`?

[2016-09-14 13:04] nico202 commented on #18535
@teh yes, it's a GUI program.
Adding the current `DBUS_SESSION_BUS_ADDRESS` and the current `DISPLAY` values to `shell.nix` (with the `export` under `shellHook`) does not change the things: the `pure` command works, the unpure segfaults.

At the same time, unsetting `DBUS...` before calling calibre leads to a segfault. Unsetting DISPLAY prevents it from starting because `QXcbConnection: Could not

[2016-09-14 13:11] nico202 commented on #18535
Ok, the one that causes the segfault is `NIX_PROFILES`. Running calibre with:
`NIX_PROFILES= calibre` works.
The same is true if I remove from those my `.nix-profile` folder (`~/.nix-profile`)

If anybody knows how to further investigate this, please let me know

[2016-09-14 13:12] basvandijk commented on #18558
nix-building with https://github.com/NixOS/nixpkgs/commit/e0deed0110ce2627d19eae04c16e8341f1d81269 right now...

[2016-09-14 13:26] obadz commented on #18558
(I suspect ba50fd7 will be a lot faster so might be worth trying first)

[2016-09-14 13:29] basvandijk commented on #18558
Alright, checking https://github.com/NixOS/nixpkgs/commit/ba50fd71700bf796ea2339115733ca5a850015ea first...

[2016-09-14 14:06] basvandijk commented on #18558
I'm getting the following weird error with https://github.com/NixOS/nixpkgs/commit/ba50fd71700bf796ea2339115733ca5a850015ea:
[code]

[2016-09-14 14:07] obadz commented on #18558
Very interesting that it's different.

[2016-09-14 14:10] obadz commented on #18558
Someone else has seen this error: https://botbot.me/freenode/nixos/2016-08-05/?msg=70822927&page=4

[2016-09-14 14:58] wmertens commented on #18579
I wouldn't mind renaming all `topic` labels to `skill`, to make things more obvious.

[2016-09-14 15:15] jokogr opened #18584 "Fix boot.loader.grub.mirroredBoots when UEFI booting"
## Issue description

Hello,

I have one machine with three HDDs on ZFS RAID-Z and UEFI booting. Could we please make it work with Grub?

### Steps to reproduce

I have three FAT-32 partitions, one in each HDD and mounted in /boot1, /boot2 and /boot3. If I use the following configuration:

[code]
then `nixos-rebuild switch` shoots this error:

[code]

Could anyone help me fix the assertion at http

[2016-09-14 15:19] jokogr commented on #9096
The mountpoint could be set to a path other than `/boot`, it's set in `boot.loader.efi.efiSysMountPoint`.

[2016-09-14 15:23] jokogr commented on #16374
If I understand well, the `device` attribute is required to write to the MBR, so "nodev" is correct.

My installation also works with Grub and UEFI, I had a setup initially similar to @avnik's (https://github.com/avnik/nixos-configs/blob/master/common/efi.nix), now I am working on properly cloning the ESP partitions (see #18584).

[2016-09-14 16:02] travisbhartwell opened #18586 "Cannot build gtk2hs-buildtools with latest nixos-unstable"
## Issue description
One of my personal packages uses gtk2hs and thus gtk2hs-buildtools and with the latest nixos-unstable channel I cannot build it.  Picking out the relevant lines among the others of my build (some may be elided because they are mixed in with the other things being built):

[code]

This seems related to the recent commit 7619f88eb850b4e4b2fc551665cef53839041d43  from @peti as it

[2016-09-14 17:01] spinus opened #18593 "nixos successfully activate broken systemd timer"
## Issue description

I have systemd service with timer. When I activate configuration, nixos exits successfully but timer configuration is broken.
### Steps to reproduce
1. Add some broken timer

[code]
1. `nixos-rebuild switch`, activation scripts says everything is good
2. `systemctl cat my-cron.timer`

[code]
## Technical details
- System: (NixOS: `16.09pre-git`)
- Nix version: (run `nix-env (

[2016-09-14 17:06] spinus opened #18594 "no validation on systemd timer during build time"
## Issue description

There is no build time validation for systemd timers and probably could be a systemd check to make sure that OnCalendar field is correct.
### Steps to reproduce
1. Create systemd timer like:

[code]
1. nixos-rebuild build
2. Configuration is build but the timer specification is incorrect. This configuration throws no error on build time (ticket ticket) and on activation time

[2016-09-14 17:49] vcunat commented on #18527
@jokogr: by that you only added `config.config.nixpkgs...`, i.e. the nesting wasn't correct. It's a bit troublesome that `//` isn't "recursive". I'd probably use something like:
[code]

[2016-09-14 17:55] vcunat commented on #18593
I see no use to have two almost identical tickets. When activating NixOS, it's a bit late for this and AFAIK it would be no good to fail at that point.

[2016-09-14 18:00] spinus commented on #18593
@vcunat why do you think they are almost identical?
Is build validation almost identical to service activation?

I see this as two completle separate problems, also (probably) they are implemented in different places. One is just pure build time problem, and the other is activation script. I discovered them at once but those are different things. Also it's easier to progress through them as somebo

[2016-09-14 18:00] jokogr commented on #18527
@vcunat: I now get `error: attribute ‘nixpkgs’ missing` :confused:

[2016-09-14 18:00] vcunat commented on #18579
/participate

[2016-09-14 18:05] jokogr commented on #10926
@vcunat: could we close this issue now that TeXLive 2016 is integrated?

[2016-09-14 18:07] winksaville opened #18597 "Aliases are missing for llvm and clang 3.9.0"
## Issue description
Aliases llvm_39 and clang_39 are missing from pkgs/top-level/all-packages.nix

### Steps to reproduce
[wink@vps1:~]$ nix-channel --list
nixos-small https://nixos.org/channels/nixos-unstable-small

[wink@vps1:~]$ nix-env -qaP clang-wrapper
nixos-small.clangSelf  clang-wrapper-3.4.2
nixos-small.clang_34   clang-wrapper-3.4.2
nixos-small.clang_35   clang-wrapper-3.5.2
nixos-small

[2016-09-14 18:16] abuibrahim commented on #8912
this might be a duplicate of #18454 fixed by PR #18569

[2016-09-14 19:01] periklis commented on #18506
@copumpkin Thx for this some kind in depth introduction to stdenv.Darwin. First of all thanks for stepping up and making this as-pure-as-possible stdenv possible for us. Besides, just my 2 cents of my so far understanding of stdenv.darwin (Please correct me!):

1. Most packages in my 15-years osx-experience (brew, macports, etc.) need just a proper set of gnu *utils, mostly a decent apple-working

[2016-09-14 19:41] siddharthist opened #18601 "Update Dropbox"
## Issue description
Our version of Dropbox will stop working in 13 days!

[code]

### Steps to reproduce
[code]

## Technical details

* System: 17.03.git.8d8f57d (Gorilla)

[2016-09-14 19:45] cransom opened #18603 "guideline/hints for module style"
## Issue description

I'm interested in writing more modules for NixOS and making it easier for others to do so also. I have a few that I use internally that may be of use to the community but they currently do some things that appear to be against NixOS best practices. The trouble is, I'm having a hard time finding a list of those practices.

I'd be happy to submit a PR for https://nixos.org/nixo

[2016-09-14 20:38] #18549 closed

[2016-09-14 20:55] vcunat commented on #18593
I don't think the activation script really can fail. You would have half-started system. IMHO it's better to try to keep going and get as close to success as possible.

[2016-09-14 21:09] spinus commented on #18593
also, I'm not huge fan of ignoring errors silently :[

[2016-09-14 21:19] LnL7 commented on #18223
This can be fixed by porting the patches for 1.7 https://github.com/NixOS/nixpkgs/pull/18546

[2016-09-14 21:35] vcunat commented on #18593
I see. This **silence** is what could be improved.

[2016-09-14 21:39] aneeshusa commented on #10721
The original request for "some way to re-call the original mkDerivation invocation with new arguments" is precisely the new `overrideAttrs` function I introduce in #17886.

[2016-09-14 21:51] rasendubi commented on #18586
`haskellPackages.gtk2hs-buildtools` builds fine.

Build fails for `haskell.packages.ghc7103.gtk2hs-buildtools` (verified against 7b65daaab45fd3c6fc8c871e4a1f5ab155547068):
[code]

[2016-09-14 22:00] chris-martin opened #18607 "libtiff source URLs are dead"
Any URLs at `remotesensing.org` no longer work.

[Libtiff goes offline](https://madfileformatscience.garymcgath.com/2016/09/08/libtiff-offline/):

This affects two nix packages, `libtiff` and `libgeotiff`.

[2016-09-14 22:07] rasendubi commented on #18607
From remotesensing.org:

GeoTiff  is geotiff.osgeo.org
Libtiff is Libtiff.org

[2016-09-14 22:11] rasendubi commented on #18607
This one seems to be online and recent: http://libtiff.maptools.org/

[2016-09-14 22:37] rvl commented on #8912
Thanks @abuibrahim I'm checking your PR now.

I think this issue can be closed because there's a new version of bower2nix in nixpkgs which probably fixes it. If not, an issue can be raised at https://github.com/rvl/bower2nix/ .