[2017-11-19 00:12] flokli commented on #30756
@FlorentBecker Can you check if applying [this patch](https://gist.github.com/flokli/62c05fbd8c8af130033e6e3e0329ab03) works for you?

[2017-11-19 00:20] flokli commented on #31714
@timokau For me, this fails at brial build due to pkgconfig not being available: https://gist.githubusercontent.com/flokli/7dda9a5d3372f1cfbbe56fe594c0db0d/raw/61cce7b27bad405205fa1f3b8b5eef7bb1c2118c/sage.build.log

[2017-11-19 01:50] ryantm commented on #31468
Hi.

Thanks for the report.

It looks like this was fixed by https://github.com/NixOS/nixpkgs/commit/30c739f7a1ba0b176cf6805f97248c804012a046

Can you update nixpkgs to the latest and try again?

Ryan

[2017-11-19 03:33] timokau commented on #31714
This seems to be the same issue: The line where the failure happens is
[code]
I think this occurs when sage uses dependencies it built itself and which have `/usr/bin/env` shebang lines hard coded. Since `patchShebangs` is only run once before the build, those are not patched.

The weird thing is that it worked for me, even in a sandbox.

As for a fix, I will try to inject a `patchShebangs` after

[2017-11-19 03:51] mikoim commented on #16744
Sry, I used old revision aeff3080d02ce6ac2b2ad0b0029c1388eab2d8c7 via nixos-unstable binary channel. Building from HEAD and it works perfectly. Thank you for your package maintaining.

[2017-11-19 09:43] dezgeg commented on #29569
Based on the description of https://github.com/torvalds/linux/commit/527d1470744d338c912f94bc1f4dba08ffdff349, I think it will start working out-of-the-box in 4.15.

[2017-11-19 12:01] peti commented on #31674
Users must understand that library packages they install outside of a sandbox will be visible to all builds run with ghc.

[2017-11-19 12:30] NickHu commented on #31541
I realised this is caused by my `LD_PRELOAD`

[code]

I'm using the rxvtwcwidth patch found here https://aur.archlinux.org/packages/rxvt-unicode-wcwidthcallback/; it used to work just fine, so I wonder what changed.

[2017-11-19 12:36] flokli commented on #31714
@timokau Did your build finish?

[2017-11-19 12:43] grahamc commented on #31045
As noted, this isn't an appropriate way to engage with the NixOS community. I invite you to not participate in communities you think are full of liars and incompetent people. Maybe a different distribution has more competent members that will leave you satisfied.

[2017-11-19 12:50] MrSorcus opened #31823 "How to get sha256sum (or any other) of source archive?"
## Issue description
[code]
But why?
I get this sum with command `sha256sum path_to_archive.tar.gz`.

[2017-11-19 13:12] flokli commented on #30087
@eskimor, @cleverca22 Can you test if d2f9dc4a3b79c575618b09f239c0ec3e26a371d7 fixes this for you, too?

[2017-11-19 13:25] #30735 closed

[2017-11-19 13:26] Mic92 commented on #31792
already tracked here: https://github.com/NixOS/nixpkgs/issues/31640

[2017-11-19 13:26] #31792 closed

[2017-11-19 13:30] domenkozar commented on #31045
I wanted to write a response how we treat people regardless how much they contribute to NixOS community, but I feel we've gone through this so many times that I just blocked @mkocha2

You're still welcome to use our free software, but you're not welcome by contributing harsh words.

[2017-11-19 13:31] Mic92 commented on #31823
Either nix-hash for files outside of nix store or `nix-prefetch-url '<nixpkgs>' -A hello.src` for nixpkgs attributes
or nix-prefetch-url "http://example.com/file" for urls.

[2017-11-19 13:34] joachifm commented on #31823
The reason for the mismatch in this case is that Nix is computing the hash of the archive's contents not the archive itself.

[2017-11-19 14:10] johbo commented on #30133
Just ran into this issue on OSX 10.12.6.

[2017-11-19 14:22] vcunat commented on #31823
... as `/nix/store/i1xf3x515ncsrpxlrda23z95r8xa3j37-source` is not an archive but a directory tree.

[2017-11-19 14:24] #31541 closed

[2017-11-19 14:26] vcunat commented on #31541
The library gets preloaded with all its dependencies (I think), replacing all of them in the process that you run.  Manually replacing libs in such ways is easy to get wrong.  Even our nixos solution for libGL and friends causes problems sometimes.

[2017-11-19 14:36] jluttine opened #31826 "syncthing for multiple users"
`config.services.syncthing` allows configuring only one syncthing service. However, multiple users should be configured as separate processes according to syncthing documentation: https://docs.syncthing.net/users/faq.html#how-do-i-configure-multiple-users-on-a-single-machine

It would be nice if `config.services.syncthing` would be converted to a list of syncthing definitions, or whatever is the b

[2017-11-19 14:56] jluttine commented on #31826
I can try to contribute the required changes, but I'd like to hear opinions on what to actually do.

[2017-11-19 14:59] moaxcp commented on #16727
Should javafx work with oraclejdk? I have it installed with

[code]

I can see the javafx files in place but I'm still getting this error.

[code]

[2017-11-19 15:06] mekeor commented on #16727
I installed `idea-community` which comes with its own JDK which includes a functioning JavaFX.

[2017-11-19 15:12] moaxcp commented on #16727
Yes I noticed that working but when I try to run my code using a groovy script (main use case) it doesn't work. Since the oracle jdk comes with javafx shouldn't that work? It seems like even if openjdk is overlayed with openfx it may not work.

[2017-11-19 15:12] Hodapp87 opened #31828 "TensorFlow with CUDA broken as of c3255fe8"
## Issue description

Trying to install tensorflowWithCuda fails with the message below. This is broken on latest nixpkgs master, and git bisect pointed me to c3255fe8ec326d2c8fe9462d49ed83aa64d3e68f as the offending commit.

[code]

### Steps to reproduce

Execute:

[code]

## Technical details

[code]

[2017-11-19 15:18] copumpkin commented on #30133
https://github.com/NixOS/nixpkgs/commit/a4d7b6ad91c1d7fe942905a30d0c08a0b4d97065 should fix it

[2017-11-19 15:20] #30133 closed

[2017-11-19 15:37] johbo commented on #30133
Looks correct, I'll check quickly

[2017-11-19 15:38] johbo commented on #30133
yep, works for me™

[2017-11-19 15:39] aanderse opened #31831 "Laptop won't suspend, just locks up"
[configuration.nix.txt](https://github.com/NixOS/nixpkgs/files/1485680/configuration.nix.txt)
[hardware-configuration.nix.txt](https://github.com/NixOS/nixpkgs/files/1485681/hardware-configuration.nix.txt)
[lshw.txt](https://github.com/NixOS/nixpkgs/files/1485682/lshw.txt)

## Issue description

When I close the lid on my new Dell laptop it doesn't properly suspend but instead the screen just goes

[2017-11-19 15:45] aanderse commented on #31831
Here is the tail end of the journalctl log prior to attempting to suspend the laptop last weekend.

[journalctl.txt](https://github.com/NixOS/nixpkgs/files/1485691/journalctl.txt)

[2017-11-19 15:59] timokau commented on #31714
No, not yet. I ran into some problems.
I'll let you know when it is.

[2017-11-19 16:07] joachifm commented on #31826
cc @peterhoeg @rnhmjoj

[2017-11-19 16:57] johbo commented on #31602
I ran into the same issue and did try the following:

[code]

Without setting the kubernetes version, I got the following output:

[code]

I've also tried the mentioned PR #31621, it does build and run fine, but I did not find the `/usr/local/bin/localkube` in there. Anything like `minikube dashboard` did still fail. That's why I assume the suggested fix might not be the correct approach.

[2017-11-19 17:07] bendlas commented on #22729
My use case was to play around with the chromium source tree. The tools to do so (repo, gclient, hooks) are complicated, chromium-specific and prone to a high rate of change, thus good candidates to be worked within an FHS env.
`lsb_release` is one of the tools, that chromium expects to be functional

[2017-11-19 17:21] shlevy commented on #31674
OK, and what do I do with that understanding? Why are they interfering with packages that are explicitly requested as part of a sandbox? This isn't a case of something *working* because something is in the user package db, it's a case of something *breaking*.

[2017-11-19 17:30] fpletz commented on #30959
Patched the audiofile issues.

[2017-11-19 17:43] jonafato commented on #30887
From the source repo:

This version dependency on a 3.5 year old `pip` is the cause of the issue, and the [breaking change](https://github.com/pypa/pip/commit/767d11e49cb916e2d4637421d524efcb8d02ae8d) happened just a few months after that release.

This bug and its fix should be tracked in the upstream package. The package will likely remain broken until an upstream fix is made. In the mean time,

[2017-11-19 18:36] rnhmjoj commented on #31826
`services.syncthing` configures a system-wide service, with a dedicated user and all the related options iff `config.services.systemService` is true. You can still run any number of syncthing services on any users by setting `services.syncthing = true` and then running `systemctl --user start synthing`.

[2017-11-19 18:37] fpletz commented on #30959
Fixed all remaining fixable CVEs and added comments to the remaining issues. Most can't be fixed because there is no upstream fix yet. I think we can close this issue now and do another roundup soon.

[2017-11-19 18:37] #30959 closed

[2017-11-19 18:40] bjornfor commented on #21439
Fixed on master as of https://github.com/NixOS/nixpkgs/commit/c46d4dab967572be809f302aef36ed07d4976492.

[2017-11-19 18:40] #21439 closed

[2017-11-19 19:03] #28443 closed

[2017-11-19 19:04] fpletz commented on #27637
We can't support 17.03 anymore. Please reopen if you have the same problems with 17.09.

[2017-11-19 19:04] #27637 closed

[2017-11-19 19:08] #27471 closed

[2017-11-19 19:28] FlorentBecker commented on #30756
Sorry, I can't test at the time, I don't have access to a pptp'ed network anymore.

[2017-11-19 19:29] rkoe opened #31837 "wyrd: missing dependency on remind"
## Issue description
"wyrd" is a frontend for "remind"; it's useless without "remind" installed.
But "remind" is not automatically installed by "wyrd".

So, I suggest to add a dependency from wyrd to remind, to remind is automatically installed when installing wyrd.

### Steps to reproduce

## Technical details

- system: `"x86_64-linux"`
- host os: `Linux 4.9.56, NixOS, 17.09.2075.ac35504065 (Hum

[2017-11-19 19:31] fpletz commented on #29142
Fixed by #29344.

[2017-11-19 19:31] #29142 closed

[2017-11-19 19:34] fpletz commented on #29146
We will probably have to call `systemctl --user daemon-reload` for every logged in user.

[2017-11-19 20:17] jluttine commented on #31826
@rnhmjoj Oh, wow! :+1: That seems to work, although based on the nix file I don't understand how. So, I guess this can be closed.

[2017-11-19 20:17] #31826 closed

[2017-11-19 21:12] rnhmjoj commented on #31826
You are correct, the syncthing module doesn't create the user service anymore. Thanks to @peterhoeg NixOS is directly using the [unit file](https://github.com/NixOS/nixpkgs/pull/18973) provided upstream as other distros do.

[2017-11-19 21:32] octalsrc commented on #31831
I have this same problem with a Dell laptop I've been using for a year, but for me it is rare (about 19/20 times closing the lid successfully suspends) so I haven't gotten around to hunting for solutions.

[2017-11-19 21:39] bjornfor opened #31840 "mdadm services are missing"
## Issue description
mdadm comes with a few systemd services, in particular one for running "mdadm --monitor --scan" (email you in case something happens to the RAID array). We should have those services in NixOS.

[2017-11-19 21:54] makefu commented on #31595
awesome, thanks!

[2017-11-19 22:21] copumpkin commented on #31602
@NeQuissimus is your fix already merged?

[2017-11-19 22:40] MrSorcus commented on #31823
`nix-prefetch-url --type sha256 --unpack https://github.com/path/to/archive.tar.gz` works fine.
Thanks you so much.

[2017-11-19 22:40] #31823 closed

[2017-11-19 23:08] flokli commented on #30756
Same here - Nobody should really use pptp anymore…

@dezgeg, as you :+1:'d, do you have a test setup ready?

[2017-11-19 23:42] peterhoeg commented on #31826
@jluttine, you can do this to activate the user service for all users:

[code]

[2017-11-20 00:34] Ekleog commented on #15516
Currently having what I believe is the same issue: adding
[code]
triggers
[code]

I guess that's due to [this `nuke-refs`](https://github.com/NixOS/nixpkgs/blob/56904d7c423f2b13b37fbd29f39bbb4b52bc7824/pkgs/build-support/kernel/modules-closure.sh#L32).

I wonder if adding `-e ${thin-provisioning-tools}` or equivalent to the `nuke-refs` call would solve the issue, though unfortunately won't have mu

[2017-11-20 02:28] NeQuissimus commented on #31602
@copumpkin Just did :)

[2017-11-20 02:30] copumpkin commented on #31602
Oh sorry, forgot about your PR 😄 @johbo can you check if it works for you now?

[2017-11-20 03:31] chris-martin opened #31843 "How to enable enableOfficialBranding on Firefox?"
I saw the option in the source code and was expecting to be able to install something like

[code]

but this package doesn't seem to have an `override` attribute like most.

[2017-11-20 04:12] MrSorcus opened #31844 "Can't find crystal dependency."
## Issue description
[code]

What is the right way to build crystal package with dependency, that installed with shards manager.

### Steps to reproduce
1. Install `crystal` & `shards`
2. Create shard.yml
[code]
3. Install dependencies with `crystal deps init`
4. Create test.cr
[code]
5. Create default.nix
[code]
6. Build it.
`nix-build`

## Technical details

 - system: `"x86_64-linux"`
 - host o

[2017-11-20 05:00] tanzeelrana opened #31846 "can't load .so/.DLL for: /nix/store .... GLIBC_PRIVATE not defined in file libc.so.6 with link time reference)"
## Issue description
Preprocessing library aeson-1.1.2.0 fails with error

<command line>: can't load .so/.DLL for: /nix/store/zpg78y1mf0di6127q6r51kgx2q8cxsvv-glibc-2.25-49/lib/libdl.so (/nix/store/zpg78y1mf0di6127q6r51kgx2q8cxsvv-glibc-2.25-49/lib/libdl.so: symbol _dl_catch_error, version GLIBC_PRIVATE not defined in file libc.so.6 with link time reference)

### Steps to reproduce
followed these

[2017-11-20 05:47] sjau opened #31847 "Missing openjpeg.h when building firefox on unstable small"
## Issue description

Trying to ugprade to latest Nixos Unstable Small - errors out when building firefox, complaining about missing openjpeg.h

[code]

## Technical details

Please run `nix-shell -p nix-info --run "nix-info -m"` and paste the
results.

 - system: `"x86_64-linux"`
 - host os: `Linux 4.13.12, NixOS, 18.03pre120270.2d2f5e1c4d (Impala)`
 - multi-user?: `yes`
 - sandbox: `no`
 - versi

[2017-11-20 07:30] jtojnar commented on #31843
Maybe overriding `firefox-unwrapped` in your `packageOverrides` will work.

On a side note, maybe it would be fine to enable it by default since the policies now seem to be more open: https://lwn.net/Articles/676799/

[2017-11-20 08:31] vcunat commented on #31843
I don't think this allows *us* to distribute branded Firefox (at least without explicit permission from Mozilla), but I'm no lawyer.

[2017-11-20 08:33] BjornMelgaard commented on #31607
@peterhoeg can you show how you using it?

[2017-11-20 09:42] peti commented on #31674
You don't install packages outside of a sandbox unless you need them for other builds. You are not surprised if globally installed packages show up in your package list. You don't call customer support and blame GHC or Nix if a globally installed package shows up in your package list and is chosen in a build context where you did not expect it. Generally speaking, people who understand what they a

[2017-11-20 10:46] Profpatsch opened #31856 "nixos/doc/manual: xmllint validation barfs nonsense with a tag typo"
When I add a piece of documentation and mistype a tag, for example (note the `<replacable></replacable>`):

[code]

the manual validation outputs complete garbage:
[code]

[2017-11-20 11:01] domenkozar opened #31857 "python.buildEnv doesn't work with multiple outputs"
A http://sscce.org/:

[code]

It works when requests is a direct dependency, but not when it's propagated.

I suspect it's multiple outputs fault:

[code]

[code]

[2017-11-20 11:17] karolchmist opened #31858 "Dotty in conflict with Scala"
## Issue description

I've [added](https://github.com/NixOS/nixpkgs/pull/31478) a new package `dotty` to nixpkgs, which represents the new version of Scala 3.0.

It works great when installed, but unfortunately causes a conflict with previous versions of Scala.

Is it acceptable, given that we try to install different versions of Scala compiler?

If not, I would be happy to fix this problem but I

[2017-11-20 11:22] lluchs opened #31859 "KeePass does not work with TLSv1.2"
## Issue description

KeePass is run with the rather ancient Mono 4.0.4.4 which supports TLSv1.0 only. Servers are starting to disallow that TLS version which breaks KeePass's synchronization feature.

Possible solutions:
 - change the default `mono` to something more recent (apparently TLSv1.2 support was added in [Mono 4.8.0](http://www.mono-project.com/docs/about-mono/releases/4.8.0/)?)
 - allo

[2017-11-20 11:25] dezgeg commented on #31606
Hmm, crap. LKL gives:
[code]

[2017-11-20 12:15] shlevy commented on #31674
OK then.

[2017-11-20 12:15] #31674 closed

[2017-11-20 13:03] adisbladis commented on #31847
This is fixed on master https://github.com/NixOS/nixpkgs/pull/31851

[2017-11-20 14:07] copumpkin opened #31865 "Darwin CF framework shenanigans don't help with python and interpreters"
The fix @LnL7 added for the CF.framework rpath generally works fine, but can still hurt us with interpreters and other dlopen-based references. I'm currently dealing with an issue around `pythonPackages.hupper`'s testsuite importing `pythonPackages.watchdog` and segfaulting as a result. For now I'm just going to take out the `watchdog` reference on Darwin, but we need a better solution in general.

[2017-11-20 14:21] BlessJah commented on #28171
I have workaround:
[code]

[code]

Unfortunately this is not valid:
[code]

Because ansible will try to execute:
[code]

Executed manually it fails due to syntax error: `ansible_shell_interpreter` is split on spaces and put into list with single `'` around (thus having newline in `'nix-shell\n#!'` argument, which is invalid).

[2017-11-20 14:37] gnidorah commented on #31293
@jtojnar Should we add `gsettings_desktop_schemas` to $GSETTINGS_SCHEMAS_PATH?

[2017-11-20 14:48] BlessJah commented on #28171
@FRidh @jgeerds @joamaki Does any of you have opinion how should that be fixed?

Providing `python2-with-ansible-dependencies` wrapper along with ansible? Hacking ansible to accept multiline interpreter? Some third option?

CC @grahamc

[2017-11-20 15:15] jtojnar commented on #31293
Looks like the relevant settings are indeed inside `org.gnome.desktop.interface`. We could add `gsettings_desktop_schemas` as a dependency to `wrapGAppsHook`.

[2017-11-20 15:15] aszlig commented on #31856
Related: #14320

[2017-11-20 15:27] copumpkin commented on #28171
Can't we use `python.withPackages` for it?

[2017-11-20 15:29] domenkozar commented on #31846
Can you output `echo $LD_PRELOAD`

[2017-11-20 15:30] domenkozar commented on #31846
I think it's a duplicate of https://github.com/NixOS/nixpkgs/issues/29064

[2017-11-20 15:39] gnidorah commented on #31293
@jtojnar But a lof of packages still do this instead of wrapGAppsHook :(
[code]

[2017-11-20 15:45] jtojnar commented on #31293
Then they are most likely broken outside of GNOME (usually missing icon theme) anyway.

[2017-11-20 16:13] BlessJah commented on #28171
Will `#!/nix/store/...-python2.7-env/bin/python` shebang work? Or some additional steps are required? We have very little control over env in which inner, temporary scripts generated by ansible are executed.

[2017-11-20 16:52] gnidorah commented on #31293
@jtojnar Got it. Could you please

Don't know how to do this myself.

[2017-11-20 17:18] dezgeg commented on #30756
No, I don't, it just sounded the correct solution.

[2017-11-20 17:33] FRidh commented on #28171
Looks like a duplicate of https://github.com/NixOS/nixpkgs/issues/25869.

[2017-11-20 18:35] ghost opened #31870 "mopidy-youtube can't find gst-stream-error-quark"
## Issue description

mopidy-youtube doesn't work. I added it to `mopidy.extensionPackages` in my system configuration. It fails like this:

[code]

[Here is my whole system declaration at this point.](https://github.com/mekeor/config/blob/1f646f351a88c2fa2199405b491999ab6dc02cce/nix/system.nix)

### Steps to reproduce

Add something like this to your system declaration:

[code]

The mopidy-musicb

[2017-11-20 18:47] mekeor commented on #31870
I was thinking maybe mopidy-youtube can't find `gst-stream-error-quark` (which is included in `gst-plugins-bad`, or more specifically, it needs version 1.0, thus `gst_all_1.gst-plugins-bad`) because the mopidy-youtube package doesn't specify `gst_all_1.gst-plugins-bad` as buildInput. It only uses this:

[code]

I was thinking that maybe we have to specify `gst_all_1.gst-plugins-bad` explicitely as

[2017-11-20 19:00] chris-martin commented on #31843
Yes thanks @jtojnar, that does work.

It sure would be nice to have a binary distribution; it seems very silly right now that we have to go through a huge compile just to change an icon.

[2017-11-20 19:42] jtojnar commented on #31843
@chris-martin Well, the problem is, distributing the branded binary might be illegal. It might no longer be an issue, see the article I linked above, but if we want to be sure, we need to contact Mozilla.

[2017-11-20 19:51] LnL7 commented on #26710
@domenkozar this was fixed right?

[2017-11-20 19:52] LnL7 commented on #31865
Yeah, that's why I didn't close https://github.com/NixOS/nixpkgs/issues/12346 yet.

[2017-11-20 19:53] #31847 closed

[2017-11-20 19:53] 7c6f434c commented on #31843
Well, the idea is that getting that icon is either costly (so you know
you did it the unofficial way), or goes via Mozilla-approved channel
(well, there is firefox-bin, which is a minimal patchelf of Mozilla
binary release).

[2017-11-20 19:54] domenkozar commented on #26710
Yes!

[2017-11-20 19:54] #26710 closed

[2017-11-20 20:02] vcunat commented on #31846
`haskellPackages.aeson` (1.1.2.0) builds on master, `x86_64-linux`.

[2017-11-20 20:11] BlessJah commented on #28171
@FRidh closing as duplicate.

[2017-11-20 20:11] #28171 closed

[2017-11-20 20:13] BlessJah commented on #25869
@FRidh #28171 can be worked around by providing `python27.withPackages` environment passed as `ansible_python_interpreter`. I've tested that on Linux, I've also checked that script can be used as shebang interpreter on MacOS 10.13. @copumpkin pointed that it may break MacOS 10.11 and prior.

[2017-11-20 20:15] BlessJah commented on #23018
It seems that Apple fixed that around MacOS 10.12. Could someone test on 10.11:
[code]

[2017-11-20 20:46] rnhmjoj commented on #31751
ping @2chilled

[2017-11-20 21:01] chris-martin commented on #31843
What I'm wondering is, could we distribute the unofficially-branded binary, and then have a disavowed derivation that just patches it to swap in the illegal logo?

[2017-11-20 21:10] vcunat commented on #31843
Yes, I suppose that would be OK from legal point of view.

[2017-11-20 21:27] c0bw3b commented on #10355
@Warbo PR #31699 might have solved this issue by running Zotero inside an FHS env.

[2017-11-20 21:55] nagisa opened #31874 "Rustc will not be able to discover gfortran libraries"
## Issue description

Compiling a Rust project which depends on `gfortran` libraries will never succeed.

### Steps to reproduce

[code]

Note how cargo/rustc still use the gcc-wrapper cc, rather than gfortran cc, which is the secret sauce for making the gfortran libraries linkable-to.

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.12.14, NixOS, 18.03pre120270.2d2f5e1c4d (

[2017-11-20 21:58] jtojnar commented on #31843
I would not say the option is there for you. It is there for packagersʼ convenience, so that they do not have to patch the branding out. Only Mozilla or people following the terms are supposed to use it.

I am not sure using copyrighted/trademarked material that way is permissible any more than using it directly.

We can either follow Debianʼs precedent and use the official branding, or, if we wan

[2017-11-20 22:40] 7c6f434c commented on #31843
It all depends on the specific license.

Copyright-wise you can get the logos from Mozilla website under a CC
license, which allows private modifications. Trademark-wise, Mozilla has
requirements about the public display and distribution of material with
these logos. Well, I guess misleading users into accidentally locally
recombining the official logos with something is at least impolite to
your

[2017-11-20 23:49] chris-martin commented on #31843
What's the downside to this?

[2017-11-20 23:59] #31790 closed

[2017-11-21 01:54] srid opened #31882 "parallels-guest.nix is broken"
## Issue description

Configuring NixOS to use Parallels Tools is impossible.
https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/virtualisation/parallels-guest.nix

### Steps to reproduce
1. Install NixOS as a Parallels guest VM on Mac
2. Add `hardware.parallels.enable = true;` to nix config and run `nixos-rebuild switch`
3. Expect the following error
[code]
4. Copy the `prl-tools-lin.iso`

[2017-11-21 01:55] srid commented on #31882
Perhaps @nckx has some ideas ... ?

[2017-11-21 02:17] tylerjl opened #31883 "oauth2_proxy should not require adminEmail and serviceAccountJSON"
## Issue description

Howdy! The module for oauth2_proxy includes options to set the flags

[code]

However, these options are used for some advanced settings if you want to restrict access based on Google Groups users ([see their related documentation](https://github.com/bitly/oauth2_proxy#restrict-auth-to-specific-google-groups-on-your-domain-optional)). These options (`services.oauth2_proxy.goo

[2017-11-21 02:52] danbst opened #31884 "nixpkgs does not evaluate"
## Issue description
While trying to do some query on packages, I found the following:
[code]
I'm puzzled here - why's that OK for nixpkgs NOT to evaluate?

I've fixed all the places that prevented it from evaluation (not very many) and got done what I wanted. Those were not very much (less than 20 files)

There were several different kinds of failures:
- package not supported. Usually done with `

[2017-11-21 03:11] danbst commented on #31831
If you really have time, then go through https://wiki.ubuntu.com/DebuggingKernelSuspend

I found a buggy driver for Lenovo Z510 suspend problem with it (https://github.com/NixOS/nixos-hardware/blob/a64cf32a57850f204a90d15e6d981a51710f3243/lenovo/ideapad/z510.nix#L8-L10)

[2017-11-21 03:21] teto opened #31885 "ntpd 'adjtime failed: Invalid argument'"
## Issue description
I have openntpd configured as
[code]
my clock is off by too much for ntpd to correct
[code]
so I tried to run `ntpd -s -d` which seems like the standard way to force a clock update
`/etc/ntpd.conf: No such file or directory`

Looking at the derivation, there seems to be 2 conflicting sysconfdir @wkennington ?
[code]

## Technical details

 - system: `"x86_64-linux"`
 - host os

[2017-11-21 03:34] danbst commented on #11226
So, thanks to research done in https://github.com/NixOS/nixpkgs/issues/31884 I've got list of problematic asserts:
[code]
and here is module that show problems with these overrides:
[code]
This crap happened because asserts are done before `.override` can be monkeypatched into derivation. If we move them inside derivation, then override machinery starts to work. It isn't hard to fix these cases, b

[2017-11-21 05:56] 7c6f434c commented on #31843
I guess the likely scenarios of problems after dependency updates are
slightly different for builds and for dependency patching. Of course,
Firefox has a good chance to be fixed quite quickly.

[2017-11-21 06:02] tanzeelrana commented on #23690
tanzeel@tanzeel-HP-Compaq-dx7500-SFF:~/cardano-sl$ nix-build -A cardano-sl-static --cores 0 --max-jobs 2 --no-build-output --out-link cardano-sl-1.0
error: Package ‘rocksdb-5.1.2’ in /nix/store/vjar9blzzimkbfq1p0xmqx4jkqqhplax-61fbdb47a69f78998f55207e64122a0798047b5d.tar.gz-unpacked/pkgs/development/libraries/rocksdb/default.nix:66 is not supported on ‘i686-linux’, refusing to evaluate.

a) For `n

[2017-11-21 06:11] tanzeelrana commented on #31846
No output for echo `$LD_PRELOAD`

[2017-11-21 07:06] timokau commented on #31714
I'm short on time lately and have not found the right place to inject the patch into the build process yet.
I'll certainly not work on this till monday, so it will take a bit more time.

[2017-11-21 07:28] avh4 commented on #19238
This still occurs with tomahawk-0.8.4, Nix 1.11.15, x86_64-linux, (nixos 17.09).

Interestingly tomahawk is linked to a mix of libboost-1.62.0 and libboost-1.55.0 libraries:

[code]

As suggested by aszlig, adding the following to my `~/.config/nixpkgs/config.nix` fixes the problem for me:

[code]

[2017-11-21 07:58] #17598 closed

[2017-11-21 07:59] aszlig commented on #19238
Fixed in a8199e79f47bf19b342f96e3b58f8a6703ddda52.

[2017-11-21 07:59] #19238 closed

[2017-11-21 08:03] devhell commented on #10355
@c0bw3b, @Warbo; Indeed it seems solved, I successfully installed those tools from within Zotero without an issue. The only thing I haven't been able to work out yet is how to make Zotero find Libreoffice so the Libreoffice plugin works. Not a big deal for me as I use LaTeX for all my writing, but I'm sure others do use LO.

[2017-11-21 08:47] ikervagyok commented on #30592
I'll look into it on the weekend.

I'd just give an option to specify a config file and copy that over (probably similar to how files in `/etc` are handled):
[code]

In a second round id make the changes to alternatively be able to create the config on the fly:
[code]

[2017-11-21 08:54] chris-martin commented on #31843
Why is the official Firefox not the one that nixpkgs offers under the package name "`firefox`"?

[2017-11-21 08:59] 7c6f434c commented on #31843
Nixpkgs provides expressions that build from source by default, whenever
feasible.

[2017-11-21 09:01] nico202 commented on #31479
I'm reopening this since opening external programs fails with

as in:

[code]

[2017-11-21 09:22] juselius opened #31889 "Upgrade to 18.03pre120540.b8f7027360 breaks Xorg under VirtualBox"
## Issue description
Upgrading from 18.03pre120398.aeff3080d0 to 18.03pre120540.b8f7027360 breaks X11 when running under VirtualBox. X11 fails to load the vboxvideo module due to mismatching ABI major versions:
[code]

### Steps to reproduce
1. Run NixOS unstable under (64bit) VirtualBox 5.2 (or 5.1.3) on Windows 1709
2. ``$ sudo nixos-rebuild switch --upgrade``
3. reboot
4. X11 fails to start

##

[2017-11-21 09:52] chris-martin commented on #31843
Is it fair to say that `firefox-bin` is probably what the average desktop user wants to use, not `firefox`?

[2017-11-21 10:52] domenkozar commented on #31846
@tanzeelrana could you do:

[code]

and see if it builds?

[2017-11-21 11:08] jtojnar commented on #31843
Building from source allows us to apply NixOS specific patches. For example, I want to create a NixOS module which requires https://bugzilla.mozilla.org/show_bug.cgi?id=1170092 I cannot apply that to the binary derivation.

[2017-11-21 11:20] zarelit commented on #31790
@matthewbauer  Thank you for being so quick! This is also helpful to me to learn how to package cross platform, thank you again

[2017-11-21 11:26] vcunat commented on #31843
I'm not sure how much the average user cares about the logo of the browser.  There's not much else you get from branding.

[2017-11-21 12:01] jluttine commented on #31479
Do you know if this supports Zotero extensions/plugins like Zotfile? I suppose they'd need to be packaged for nix and then somehow made available for Zotero. Would be nice to have Zotfile.

[2017-11-21 12:02] nico202 commented on #31479
I installed betterbibtex and zotfile and they do work indeed

[2017-11-21 12:03] timor commented on #31479
@nico202 Can you provide instructions to reproduce the error?

[2017-11-21 12:05] mikoim commented on #31797
cc @jagajaga @obadz

[2017-11-21 12:24] mdorman opened #31895 "SDL2 wayland support appears broken"
## Issue description

SDL2 fails to build, complaining of a missing wayland header.  This in turn, breaks ffmpeg3, which breaks a whole host of other stuff.  @gnidorah, I'm *guessing* that your b0d193f596d is the culprit, just because it added the wayland flag to SDL2; that may not be correct, but I'm hoping you're at least in a good position to fix the issue.

### Steps to reproduce

https://hydr

[2017-11-21 12:45] #10355 closed

[2017-11-21 12:49] akru opened #31896 "rustc: package build troubles"
## Issue description

I try to build [parity](https://github.com/airalab/airalab-channels/blob/nixos-unstable/pkgs/applications/altcoins/parity/beta.nix) package with latest rust & cargo but have troubles in build stage:

[code]

In my opinion vendorizing stage is broken cause [my port](https://github.com/airalab/airalab-channels/commit/39efddbc1bcf44b2f1f1b85eb840f7767d2418a8) to latest rust & ca

[2017-11-21 12:58] gnidorah commented on #31895
Should be temporary fixed by https://github.com/NixOS/nixpkgs/commit/3772338be5b9ffbbc6b1b93bbd6ea052533a6180
Will see if it could be fixed in a bettery way. The error means that header is not yet generated from xml file at the stage it got requested.

[2017-11-21 12:59] akamaus commented on #29146
@fpletz agree, it's the least surprising thing to do.

[2017-11-21 13:22] nico202 commented on #31479
@timor I just opened it (it used my zotero 4-firefox plugin directory automatically), double click on a pdf file, open with: /home/USERNAME/.nix-profile/bin/okular
or right click: open folder -> with /home/USERNAME/.nix-profile/bin/pcmanfm

[2017-11-21 14:09] #25882 closed

[2017-11-21 14:21] FRidh commented on #31857
The culprit is 28299f669adc41e5278372cad952fb1e1165b44b, see also https://github.com/NixOS/nixpkgs/commit/28299f669adc41e5278372cad952fb1e1165b44b#commitcomment-24598769.

[code]
And the `dev` output of `requests` does not depend on `out`.

The following solves your issue:
[code]

[2017-11-21 14:26] domenkozar commented on #31857
Not sure it's that commit, I'm running 17.09 and the commti is in master.

[2017-11-21 14:33] vcunat commented on #31846
Could it be a build without sandboxing (perhaps some dependency), picking up some impurity?

[2017-11-21 14:34] vcunat commented on #31846
@domenkozar: my understanding is that it's the nix build of `haskellPackages.aeson` what fails.

[2017-11-21 14:47] dezgeg commented on #31889
Maybe all that needs to be done is to drop this line?

[code]

[2017-11-21 15:13] domenkozar commented on #31846
This is output from `stack build --nix`, which uses `nix-shell --pure`

[2017-11-21 15:29] FRidh commented on #31857
Was cherry-picked as ea6947d6d25c0ec6310aa72097f741710ebdcd5a.

[2017-11-21 15:30] FRidh commented on #31857
That could have broken quite a lot of things, considering how much requests is used.

[2017-11-21 17:23] woffs commented on #31089
It would be great to have more packages in the binary cache for i686. There are still some old but fine 32bit devices here, which run well with NixOS.

[2017-11-21 17:34] wizeman commented on #7454
Ok, I think I found out why `pg_dumpall` wasn't working for me, like I mentioned in https://github.com/NixOS/nixpkgs/issues/7454#issuecomment-190701873.

It seems to be due to this line in the Hydra module:

https://github.com/NixOS/nixpkgs/blob/54a4b77caa17113f317c76984434c3545cf7e741/nixos/modules/services/continuous-integration/hydra/default.nix#L417

If I change the mapping to `hydra-users roo

[2017-11-21 18:14] mckinley-olsen-oc opened #31906 "Termite: allow users to disable client-side decorations"
## Issue description
GTK+3 on Wayland does not allow disabling of client-side decorations. See [here](https://bugzilla.gnome.org/show_bug.cgi?id=776290)
It is possible, however, to manually configure GTK+3 applications to not be decorated; this would be a very useful option in Termite, where the inclusion of CSD looks quite noisy. See [example](https://bug776290.bugzilla-attachments.gnome.org/atta

[2017-11-21 18:28] wizeman commented on #7454
In case someone runs into the same issue as me, I am documenting the procedure I used to upgrade a PostgreSQL database that was being used (only) for Hydra.

I tried to follow @Shados's procedure above, but as I mentioned before, to use `pg_dumpall` as @Shados suggested I needed to change the PostgreSQL user mapping in the Hydra module as specified in my comment just above this one, otherwise I wo

[2017-11-21 18:51] chris-martin commented on #31843
The average user of NixOS right now can tolerate a lot, because NixOS has selected for a weird crowd of nerds, no offense y'all. To the average user in general, yes, familiar logos are an important aspect of usability.

[2017-11-21 19:06] FRidh commented on #31858
1. With Nix one typically does not install compilers into a profile, but instead writes Nix expressions
2. Are all the files that are present in the store path also needed in the profile? If not, one could e.g. create a derivation that symlinks `/bin` and you could then install that derivation in your profile.

[2017-11-21 19:19] vcunat commented on #31895
The under-specified makefile dependency could be reported upstream.

[2017-11-21 19:24] ttuegel commented on #31843
The trademark issue is paramount. If you do anything with their logo, including any modification that could _conceivably_ be confused with the original logo, they MUST take action. If they do not take action, then they lose their trademark rights by default under U.S. law. There was a lot of backlash over Debian, but Mozilla's hands are bound very, very tightly. ☹️

[2017-11-21 19:52] juselius commented on #31889
Perhaps. It's worth a try, at least. How do I install/override system modules in configuration.nix, using my local nixpkgs repo?

[2017-11-21 19:53] 7c6f434c commented on #31843
@chris-martin I agree with you re: selection; but I do not think that right now the biggest problem for an «average GNU/Linux desktop user» will be the icon mismatch. If anything, understanding the Nix model of the world and understanding when you do want and do not want to run GC is already a larger thing to learn.

@ttuegel if you do anything with their logo _in public_ (my scenario is very care

[2017-11-21 20:52] globin commented on #31843
@nbp @garbas, do you think we are in a state where we can enable the official branding, if no, what would be necessary to get us there?

[2017-11-21 20:54] matthiasbeyer commented on #31485
No, a quick `ag locate` on my configuration directory did not yield anything.

[2017-11-21 21:11] dezgeg commented on #31889
Git clone, make the change, then `sudo nixos-rebuild switch -I nixpkgs=/path/to/local/nixpkgs`.

[2017-11-21 21:29] matthiasbeyer opened #31913 "sqlitebrowser fails to start in nix-shell"
## Issue description

[code]

### Steps to reproduce

`nix-shell -p sqlitebrowser --run sqlitebrowser`

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.14.0, NixOS, 18.03pre120398.aeff3080d0 (Impala)`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Nix) 1.11.15`
 - channels(root): `"nixos-18.03pre120398.aeff3080d0"`
 - nixpkgs: `/nix/var/nix/profiles/per-user/r

[2017-11-21 21:39] williammpratt opened #31914 "Ambiguous language and unsafe recommendations in fetchPrivate"
https://github.com/NixOS/nixpkgs/blob/cef1abbd884dd7ad72c2a1375d34528015825ae9/pkgs/build-support/fetchgit/private.nix#L15

Can someone write a replacement text for  `and have a directory for each build user accessible to that user. ` more clearly?

That whole section is a bit full of ifs and maybes too. It's not helpful documentation and it also recommends insecure practices (voiding the s in **s

[2017-11-21 21:42] chris-martin commented on #31843
At the very least I think it would be a win if we could document how to easily customize launcher icons. For example, in my local config I've changed the Pithos desktop entry's icon to be the Pandora logo, without too much trouble, even though I assume that's also a trademark violation.

[2017-11-21 21:54] jtojnar commented on #31843
I do not think that this falls within the scope NixOS manual – it is not Nix-specific and it is too niche to warrant inclusion.

[2017-11-21 22:19] bjornfor commented on #31913
I think this is a common/known issue with the current Qt packaging in nixpkgs.

[2017-11-21 22:20] vcunat commented on #31843
Well, we could mention the `makeDesktopItem` function somewhere in docs.

[2017-11-21 22:22] orivej commented on #31913
Yes, this is #30551. There is a workaround and the description of the cause, but no solution yet.

[2017-11-21 22:22] #31913 closed

[2017-11-21 22:26] orivej commented on #31882
[This](https://github.com/NixOS/nixpkgs/blob/91d2cf96424cc5209d3cf799bc2b4fa52af34596/pkgs/os-specific/linux/prl-tools/default.nix#L40) value has to be updated with the output of `nix-prefetch-url file://path/to/prl-tools-lin.iso` (and the [version](https://github.com/NixOS/nixpkgs/blob/91d2cf96424cc5209d3cf799bc2b4fa52af34596/pkgs/os-specific/linux/prl-tools/default.nix#L35) should be updated too

[2017-11-21 22:29] orivej commented on #31844
/cc @sifmelcara @david50407

[2017-11-21 22:43] gleber commented on #15373
Looks like the issue was caused by an incorrect configuration provided in `services.cron.systemCronJobs`. Unless we make that option into an attrset, there does not seem to be much to do here. I suggest closing the issue.

[2017-11-21 22:50] Gerschtli commented on #19741
Whats the state of this?
I'm asking because I can't figure out how to do it..

I executed `mvn org.nixos.mvn2nix:mvn2nix-maven-plugin:mvn2nix` and my `default.nix` looks like
[code]
but I' m getting
[code]
on `nix-build`.

`pom.xml `:

[code]

If my comment should go in a separate issue, I will move it ;)

[2017-11-21 23:24] srid commented on #31882
@orivej I assume you meant that I should be updating the `pkgs/os-specific/linux/prl-tools/default.nix` file? Where does this file exist on my NixOS?

[2017-11-21 23:30] tanzeelrana commented on #31846
tanzeel@tanzeel-HP-Compaq-dx7500-SFF:~$ cd nixpkgs/
tanzeel@tanzeel-HP-Compaq-dx7500-SFF:~/nixpkgs$ nix-build -A haskellPackages..aeson --check

error: empty attribute name in selection path ‘haskellPackages..aeson’

[2017-11-21 23:53] tanzeelrana commented on #31846
hey @domenkozar  you mean

nix-build -A haskellPackages.aeson --check

not

nix-build -A haskellPackages..aeson --check

I tried these steps and I get the following warning:
`   Data/Aeson/Types/FromJSON.hs:470:3: warning: [-Winline-rule-shadowing]
    Rule "FromJSONKeyCoerce: fmap id" may never fire
      because ‘id’ might inline first
    Probable fix: add an INLINE[n] or NOINLINE[n] pragma for

[2017-11-21 23:58] tanzeelrana commented on #31846
https://github.com/NixOS/nix/issues/1695

[2017-11-22 00:35] ledettwy opened #31922 "services.nginx sometimes fails to restart correctly"
## Issue description

I run nginx inside a NixOS container, bound to port 443.  Sometimes, when doing a rebuild, the rebuild of the nginx service inside the container fails to shut down the old nginx process, and when the new one gets started it fails to bind to the address, as it's already in use.  Manually killing the old process works as a manual solution.

### Steps to reproduce

1. Setup an n

[2017-11-22 00:54] vcunat commented on #31889
That's strange.  The log claims that server running is 1.19 and you attempt to load vboxvideo for 1.18, i.e. that's exactly the thing that the line is trying to fix by installing 1.18 server instead if you specify `"vboxvideo"` in `videoDrivers` (the line you're about to delete).

[2017-11-22 01:09] vcunat commented on #31889
Even after the update I see the newest driver is for server 1.18.  Apparently something is interfering with the option attempting to switch your system to 1.18 instead of the default 1.19, though it's suspicious it started just when vbox is updated.

[2017-11-22 01:34] dezgeg commented on #31889
I think apparently the real problem is that we're using the vboxvideo driver at all, upstream claims the modesetting driver should be used nowadays: https://www.virtualbox.org/ticket/16052

[2017-11-22 02:24] ledettwy commented on #31922
Nope, I'm an idiot, I had a competing nginx process from another container binding there.

[2017-11-22 02:24] #31922 closed

[2017-11-22 02:37] jerith666 commented on #19741
Thanks for the reminder -- I'd run across this same problem and fixed it locally, but forgot to ever make a PR.  Done now as https://github.com/NixOS/mvn2nix-maven-plugin/pull/11.

However, that wasn't enough to get my test case working.  I actually ended up abandoning `mvn2nix` and wrote my own shell script, which I ran on the local maven repo after building the project outside of nix:

[code]

[2017-11-22 02:42] jerith666 commented on #19741
I also made this minor change to make `buildMaven` a bit more flexible, but haven't thought through whether it's ready for upstream or not: https://github.com/jerith666/nixpkgs/commit/3f0940295df780f457a1ae8b09aff9753918f8d8.

[2017-11-22 03:33] tanzeelrana commented on #31846
*** Downloading ‘https://cache.nixos.org/nar/0m03h59ka5hdf012svzz8p4jb77qcilfzcgkn0hidlr8k4ppr4aj.nar.xz’ to ‘/nix/store/r556bjkg62fh4mxpfqpa9rpjcvbylg6z-xz-5.2.3-bin’...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 41864  100 41864    0     0  41864      0  0:00:01 --:--:--  0:00:0

[2017-11-22 03:40] ttuegel commented on #31843
If we distribute an _expression_ that enables official branding by default, even if the only _binary_ we distribute disables official branding, that is sufficiently public to demand a response. It's the equivalent of selling an unbranded laptop with an Apple (tm) sticker loose in the box (not on the laptop itself) and saying, "Well, I didn't sell it with the sticker attached, so it's not trademark

[2017-11-22 04:08] #31102 closed

[2017-11-22 05:00] 7c6f434c commented on #31843
@ttuegel My scenario did not do anything by default and required effort from the user and was generic enough w.r.t. logo replacement. I agree with you about the default case.

[2017-11-22 06:40] bjornfor commented on #15373
@d4g: Can you confirm?

[2017-11-22 08:00] gnidorah commented on #31906
Should be fixed once https://github.com/NixOS/nixpkgs/pull/31400 will go from staging to master and up to the channels

[2017-11-22 08:03] juselius commented on #31889
@dezgeg I had missed the -I flag in the nixos-rebuild man page! I must say it's pretty well hidden from view... Thanks!

[2017-11-22 08:04] sifmelcara commented on #31844
Now `crystal` will also try to search dependencies installed in `./lib`.
However, when using `nix-build`, we need to put their dependencies into nix store, so `buildCommand` should become something like:
[code]
Unfortunately, currently we do not have a pretty solution to build crystal packages.

[2017-11-22 08:26] robinvd commented on #31697
i came across a newer version of the same we are trying to do: https://github.com/haskell/haskell-ide-engine/issues/117#issuecomment-337062428. @romildo maybe this builds on unstable?

[2017-11-22 08:30] #31844 closed

[2017-11-22 08:47] dhess commented on #31666
Sorry, still haven't had time to revisit this yet, but I will try again in the next few days.

[2017-11-22 09:28] fikovnik opened #31929 "Dropbox crashes some time after syncing files"
## Issue description

Dropbox crashes some time after it synced files with the following error message:

[code]

### Steps to reproduce

1. Install dropbox (used the version in master because of #31741)
2. Link your account
3. Wait for it to crash

## Technical details

[code]

[2017-11-22 10:13] ebzzry commented on #30551
VirtualBox runs fine now. However, I can no longer run Telegram.

[code]

[2017-11-22 10:29] aenneas opened #31930 "PyTorch 1 Dependencies Couldn't Be Built"
## Issue description
nix-env -iA doesn't work for Pytorch.
@ericsagnes
@teh

### Steps to reproduce
The config.nix at ~/.config/nixpkgs/
{ pkgs }:

with pkgs;
{
allowUnfree = true;
packageOverrides = pkgs: rec {
  pythonProto = pkgs.python3.withPackages (ps: [
    ps.ipdb
    ps.ipython
    ps.jupyter
    ps.notebook
    ps.numpy
    ps.pandas
    ps.scikitlearn
    ps.scipy
    ps.seaborn
    ps.

[2017-11-22 10:50] gnidorah commented on #31895
Indeed. Reported upstream https://bugzilla.libsdl.org/show_bug.cgi?id=3977

[2017-11-22 10:53] gnidorah opened #31931 "maxx package is broken on non-NixOS"
## Issue description

Doesn't work correctly. Blocked by https://github.com/NixOS/nixpkgs/issues/29064

### Steps to reproduce

## Technical details

Please run `nix-shell -p nix-info --run "nix-info -m"` and paste the
results.

[2017-11-22 10:59] edolstra commented on #31914
IMHO fetchgitPrivate should not be included in Nixpkgs because a) it requires a lot of manual setup by the user, while the whole point of Nix is automatic reproducibility; and b) it's insecure.

The `fetchGit` function in Nix 1.12 may be an alternative for some use cases. It executes at evaluation time, under the calling user's uid, so it has no problem fetching private repositories. However, the

[2017-11-22 11:07] gnidorah opened #31932 "CDE / cdesktopenv is not packaged"
## Issue description

https://sourceforge.net/projects/cdesktopenv/
There are fans of this DE over the internet. I've tried to package it in past https://github.com/NixOS/nixpkgs/pull/27638 and #68301 but failed. This software has a lot of hardcoded pathes.
A tight cooperation with upstream is needed, or alternatively libredirect might help https://github.com/NixOS/nixpkgs/blob/master/pkgs/desktop

[2017-11-22 11:12] orivej commented on #30551
Your `$HOME/.nix-profile/lib/qt-5.9/plugins` must contain plugins for multiple versions of Qt. Here is a more robust workaround (it creates a new profile just for tdekstop):
[code]

[2017-11-22 11:49] wizzup opened #31933 "[haskell] stm : failed to load, missing "dyn" libraries"
### Steps to reproduce

Given `test.hs`

    $ cat test.hs
    import Control.Monad.STM

    main = print "OK"

Run this command

    $ nix-shell -p 'haskellPackages.ghcWithPackages (self: with self; [ stm ])' --run 'runhaskell test.hs' -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/master.tar.gz

    test.hs:1:1: error:
        Failed to load interface for ‘Control.Monad.STM’
        Perhaps

[2017-11-22 12:31] Moredread opened #31935 "Calibre: sending mails fails"
## Issue description

Sending a file via mails fails

[code]

### Steps to reproduce

Add ebook, configure E-Mail support, send E-Book via Mail.

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.63, NixOS, 17.09.git.3c5ed8d (Hummingbird)`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Nix) 1.11.15`
 - channels(root): `"nixos-17.09.2138.48bf1f43cd, nixos-unsta

[2017-11-22 12:36] Moredread commented on #31935
Adding dns as a dependency fixes it, I'll create a PR.

[2017-11-22 12:59] Gerschtli commented on #19741
@jerith666 Looks cool, but how would a `default.nix` look like for such a maven project?

[2017-11-22 13:21] garbas commented on #31843
I asked on internal channels what would be the criteria to have this enabled by default. I hope to have answer soon, but you never know how long this takes. If it is ok with you I'm going to assign this ticket to me and make sure we get a definite answer.

[2017-11-22 13:27] asymmetric commented on #31700
@orivej What's the easiest way to check when that happens?

[2017-11-22 13:31] orivej commented on #31700
This issue will be closed then :)
(Now we are waiting for the jobs queued at https://hydra.nixos.org/eval/1412641 to finish in order to merge.)

[2017-11-22 13:45] das-g commented on #31199
@viric, you're listed as the package's maintainer. Can you help here?

[2017-11-22 14:53] sylvestre commented on #31843
As the person who did part of the work described in the LWN article and release manager working for Mozilla, I can confirm the statement that I made in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=815006
@garbas shared with me the list of patches applied for the Nix package. As they are just for portability and tiny modifications, they don't alter the experience of the product. In parallel, R

[2017-11-22 15:09] copumpkin opened #31939 "Fixed-output syntax for NIX_PATH entries"
Currently I can do something like `NIX_PATH=nixpkgs=https://url/to/tarball.tar.gz` and it gets treated like a `builtins.fetchTarball https://url/to/tarball.tar.gz` but it would be nice if I could get proper fixed-output behavior there (and in .nix-channels) so we don't have to rely on the Nix time-based caching mechanism.

cc @edolstra

[2017-11-22 15:16] mickours opened #31940 "Add elfutils dev packages for libdw (and others)"
## Issue description
I'd like to have libdw dev package to build an other tool but I find out that it is not available.

There is a elfutils package already (``nixpkgs/pkgs/development/tools/misc/elfutils/default.nix``) but it do not provides .h files.

It would be interesting to provide several dev packages for each libs provided by elfutils, but I don't know how to do this. Any idea?

[2017-11-22 15:57] garbas commented on #31843
I'd add to @sylvestre 's comment also that we should probably enable sanboxing and then we would be not diverging from official firefox linux binaries.

[2017-11-22 16:52] globin commented on #31843
Thanks @garbas and @sylvestre!

[2017-11-22 17:45] snajpa opened #31943 "ImageMagick-6.9.9-21.tar.xz not available anymore"
## Issue description

Upstream has updated and ImageMagick-6.9.9-21.tar.xz isn't available anymore;

example mirror status now:

http://ftp.vim.org/ftp/pub/pub/ImageMagick/

### Steps to reproduce

I was trying to install NixOS from Debian, using the 17.09 channel, but I doubt that's relevant here.

## Technical details

[code]

[code]

[2017-11-22 17:56] nckx commented on #31882
I'm guessing this is a Mac thing, and I've never even *used* a Mac... I'm not quite sure why you thought I'd be able to help, but wish you the best of luck, @srid!

[2017-11-22 17:58] jtojnar commented on #31940
I can see the header file:

[code]

[2017-11-22 18:21] jtojnar commented on #18559
Please add pinentry to the list. It was originally done in https://github.com/NixOS/nixpkgs/pull/27468/commits/3f7e3db74426f658b4625505d262c1f7b288606d but it was reverted due to https://github.com/NixOS/nixpkgs/pull/27468#issuecomment-334016411

[2017-11-22 18:26] domenkozar commented on #31846
Solved downstream.

The gist is: `stack setup` installs system GHC, which then leaks system glibc to the Nix build.

[2017-11-22 18:26] #31846 closed

[2017-11-22 18:45] FRidh commented on #31935
Fixed in https://github.com/NixOS/nixpkgs/pull/31936.

[2017-11-22 18:45] #31935 closed

[2017-11-22 19:01] williammpratt commented on #31914
@edolstra I looked at
`static void prim_fetchGit(EvalState & state, const Pos & pos, Value * * args, Value & v)`  in https://github.com/NixOS/nix/blob/0fc3e581e0585e377d4b42e343b0487606add547/src/libexpr/primops/fetchGit.cc, but that doesn't seem ready for release as there is no documentation near that function specifying what it does. Are you going to add documentation before the release?

In the

[2017-11-22 19:02] vcunat commented on #18559
done

[2017-11-22 21:09] jtojnar commented on #31670
It looks like the issue existed long before the libinput update. I tried an older nixos-unstable commit (1b1fc6550559f9d73ddf7cea611c387a847bf03b) and it is still there. I opened an upstream issue https://bugzilla.gnome.org/show_bug.cgi?id=790729

[2017-11-22 22:13] catern commented on #12335
Recently this can happen even without sssd if your /etc/passwd uses "compat" rather than "files". Change that to "files" and it will work.

[2017-11-22 22:49] mickours commented on #31940
Thanks @jtojnar,

Actually, I found out that my problem comes from the options in my package.

I add several dependencies to add for a specific features but I used ``optionnal`` instead of ``optionnals`` with an **s**.

Like to add to my buildInputs I used ``++ stdenv.lib.optional myFeatureSupport [ libunwind elfutils]`` and it silently don't add it my list of inputs. :-/

Thanks again and sorry f

[2017-11-22 22:49] #31940 closed

[2017-11-23 02:33] jerith666 commented on #19741
Here's what I came up with for apache commons-lang:

[code]

[2017-11-23 03:26] ebzzry commented on #30551
Thanks @orivej!

[2017-11-23 03:28] jraygauthier commented on #14862
Reading [12134 – Running multiple mousepad instances shows a huge dbus trafic with dconf-related stuff](https://bugzilla.xfce.org/show_bug.cgi?id=12134), the issue should have been fixed upstream.

[2017-11-23 05:39] vcunat commented on #14862
Nixpkgs is probably still affected, as we're at the freshest mousepad release, from February 2015.

[2017-11-23 08:24] timor commented on #31479
@nico202 Hmm, sorry. I use a similar setup, with evince instead of okular, and opening files works for me.  I would try to change it to okular for testing, but I don't know how to make it ask again for the path...

[2017-11-23 09:05] nico202 commented on #31479
@timor the same happens for me when zotero tries to open firefox when opening links from zotero, too. Firefox and zotero are added to the profile with nix-env -f ./nixpkgs/ -i {zotero,firefox} using the master checkout.

zotero --help does not show the help, and zotero -P does not open the profile manager, so I don't know how to try a clean profile.

Also, I don't know how to set the plugin direct

[2017-11-23 09:24] timor commented on #31479
@nico202 Maybe this has to do with your library location then?  I have had my library separate, and my standalone installation does not seem to have picked up my plugins.

I think that standalone zotero should actually be working without knowing anything about your day-to-day firefox.  As far as I understand, they basically ship their own version of the firefox internals with zotero.  Maybe it is

[2017-11-23 09:44] nico202 commented on #31479
I think so. But I don't know how to let it forget about my old profile.

The bin is the right one: ls -lah $(which zotero) -> /nix/store/sp6ixxhsly25jaycwcx5rxfy4af5ykbh-zotero-5.0.25/bin/zotero

Renamed the the library dir (inside firefox) and rename ~/.zotero.

I don't even know why it is calling firefox 51.

However, extensions get installed correctly (tried with https://github.com/retorquere/z

[2017-11-23 10:25] timor commented on #31479
@nico202 Can you try the following:
1. run `less $(which zotero) and note the location of the `zotero-fhs-env` script location
2. run that script without any arguments to enter the chroot
3. start firefox from there manually (e.g. /run/current-system/bin/firefox or the path to your custom profile)

[2017-11-23 10:29] nico202 commented on #31479
@timor zotero-fhs-env-chrootenv:IITaudio@lenovo:~$firefox -> works

[2017-11-23 10:32] canndrew commented on #26334
@nagisa Did you ever figure this out? It's stopping me from building rust :/

[2017-11-23 10:33] timor commented on #31479
@nico202 Ok, no idea then.  Could you create a new user and see if it works then?  I think we don't know yet whether this is related to your profile or the zotero installation.

[2017-11-23 10:59] timor commented on #30977
@ttuegel I run into the same problem, but with okular included in environment.systemPackages.  Is that also not considered and environment?  What is the proper way to install okular system-wide, then?

[2017-11-23 10:59] nagisa commented on #26334
No. You'll have to use GCC.

On Nov 23, 2017 12:32 PM, "Andrew Cann" <notifications@github.com> wrote:

[2017-11-23 11:58] orivej commented on #26334
I can not reproduce this. Could you post the output of `clang -dD -E foo.c`?

[2017-11-23 12:00] ttuegel commented on #30977
That is the correct way to install Okular system-wide, but I cannot reproduce the problem. Could you point me to your `configuration.nix`?

[2017-11-23 12:28] #31943 closed

[2017-11-23 12:28] nagisa commented on #26334
@orivej the `-ffreestanding` flag is important here. Attached is the expanded version when `-ffreestanding` flag was provided (note: it still does print the errors shown in the issue report). When compiled, the expanded code reports no errors.

<details>

[code]

</details>

[2017-11-23 12:38] orivej commented on #26334
I see, I had `NIX_x86_64_unknown_linux_gnu_CFLAGS_COMPILE=-I/run/current-system/sw/include` which shadowed the issue.

I have read this part of the gcc manual:
[code]

It seems that there is no `#include <stdlib.h>` in the freestanding environment, and you should not expect it to compile unless you provide an include path with `stdlib.h` compatible with that environment.

[2017-11-23 12:46] Gerschtli commented on #19741
What should I do, if the hashes don't match?

[code]

[2017-11-23 13:19] ttuegel opened #31971 "Packaging Noto fonts for KDE Plasma"
## Issue description

As documented [here](https://mail.kde.org/pipermail/distributions/2017-November/000258.html), KDE would like us to ship all the weights and styles of Noto Sans for the default styles in Plasma.

[2017-11-23 14:20] FRidh commented on #29492
Could you open a PR with your proposed change?

[2017-11-23 14:39] jtojnar commented on #31670
Apparently, the evdev X input driver is no longer supported. See https://github.com/NixOS/nixpkgs/issues/17841

[2017-11-23 15:33] FRidh commented on #30608
pip 10 also improves determinism when installing wheels: https://github.com/pypa/wheel/issues/183#issuecomment-346646467

[2017-11-23 18:40] Baughn commented on #31640
@vcunat Yeah, I didn't mean permanently. :)

For the moment I've pinned my workstation to 4.13, but I'll be tracking the latest kernel for a while anyway; there are hardware features that won't be supported until at least 4.15, such as the CPU temperature sensors.

[2017-11-23 19:32] NeQuissimus opened #31985 "Automatic upgrade kernel-panic'ed NixOS"
## Issue description
The automatic upgrade kernel-panic'ed my NixOS

### Steps to reproduce
Have the automatic upgrade kick in

## Technical details

Journal has this:
[code]

System info:

[code]

Could have to do with something incompatible with the 4.14 kernel...
Never had this with 4.13.x.

Does anybody have an idea where to look next?

[2017-11-23 21:20] xzfc opened #31989 "Wine crashes on opengl/direct3d apps when using proprietary nvidia driver"
## Issue description

May be related: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=766028 (same symptom: crashes on opengl/direct3d apps, but does not crash when using strace).

### Steps to reproduce

My `configuration.nix`: https://pastebin.com/raw/KwrG7C9K

[code]

Then the window "The program wglgears.exe has encountered a serious problem and needs to close" appears. Program Error Details

[2017-11-23 21:27] joachifm commented on #31985
To me, this indicates that the feature (panic on `BUG()`) works as expected :) It seems infeasible to deduce what triggered the invalid memory use in the kernel from the journal output. I think that is an upstream issue, really.

[2017-11-23 21:31] vcunat commented on #31989
Doesn't reproduce for me, with binary nvidia drivers on nixos 18.03 (somewhere) + wine-2.0.2.

[2017-11-23 22:04] mickk-on-cpp opened #31992 "owncloud-client: Sql cmake module not found"
## Issue description

owncloud-client does not build on my end, CMake errors out.

### Steps to reproduce

Try to build via `environment.systemPackages` or e.g. `nix-shell`:

[code]

[The full output.](https://pastebin.com/WTAcZp08)

## Technical details

[code]

Both the user and root profiles are clean as reported by `nix-env -q`.

[2017-11-23 22:08] bjornfor commented on #31992
Fixed yesterday: 7e9b186fe4b39835265088d36e409969e65adbe7. May take some days to hit the (unstable) channel.

[2017-11-23 22:08] #31992 closed

[2017-11-23 22:52] xzfc commented on #31989
After some research I've found that Archlinux recently have same problem and it was fixed by removing `-z,now` from LDFLAGS.
https://bugs.winehq.org/show_bug.cgi?id=43530#c24
https://git.archlinux.org/svntogit/community.git/commit/trunk?h=packages/wine&id=ada0c32d9441c4857e789ad2bb3a0d7e1198b849

Fixed for me by adding `hardeningDisable = [ "bindnow" ];` ([patch](https://github.com/xzfc/nixpkgs/co

[2017-11-24 00:01] NeQuissimus commented on #31985
Agreed.

[2017-11-24 00:01] #31985 closed

[2017-11-24 01:05] jtojnar commented on #17841
@unode Try https://github.com/NixOS/nixpkgs/pull/31995, the `base` XkbLayout was causing problems for me.

[2017-11-24 01:51] jtojnar commented on #16729
I can no longer reproduce this. Instead I get the following error when I try to play a song:

[code]

[2017-11-24 02:04] jtojnar commented on #31222
@yegortimoshenko The problem with this patch is that it will pollute the `rpath` when Nix-installed meson is used outside `mkDerivation`. We would need to strip the rpath on install inside meson.

[2017-11-24 03:36] rockstarwebdesign commented on #25014
Can you explain a little more, please?

[2017-11-24 03:45] vaibhavsagar commented on #25014
I had Virtualbox installed in two different ways, which was causing my issue. The solution was to uninstall the user package and put `virtualisation.virtualbox.host.enable = true;` in my `configuration.nix`.

[2017-11-24 05:21] jcumming commented on #31989
Works for me! Thanks for tracking this down @xzfc .

[2017-11-24 07:45] jflanglois opened #31999 "Intel graphics performance degraded after upgrade to kernel 4.14"
## Issue description
After switching to kernel 4.14, the screen has flickering and response rate in Xorg is sluggish. The only change is 4.13->4.14. Graphics run smoothly in 4.13.

As a data point, running glxgears produces consistent 60 FPS in 4.13, and around 40 FPS in 4.14 (screen refresh is set to 60Hz in both cases).

This may be an upstream issue but I figured I should start here for trouble

[2017-11-24 13:27] #29637 closed

[2017-11-24 15:52] Infinisil opened #32005 "buildStackProject: fails downloading resolver"
## Issue description
According to #30072 it should now be possible to use `nix-build` to build a `buildStackProject` derivation. This however doesn't seem to work due to stack failing to download the resolver build plan:

[code]

This is the same error as in #19526 from before the new `buildStackProject`, which was closed without a solution.

Pinging the participants of these two issues @ElvishJer

[2017-11-24 15:56] ElvishJerricco commented on #32005
Related? https://github.com/bos/wreq/issues/5#issuecomment-108086543

[2017-11-24 16:05] yegortimoshenko commented on #31222
@jtojnar Does that mean that #31436 is the right way to go?

[2017-11-24 16:06] Infinisil commented on #32005
I guess it makes sense: The nix sandbox doesn't allow networking for non-fixed-output derivations. As expected, turning off sandboxing makes it work: `nix-build --option build-use-sandbox false`

[2017-11-24 16:11] jtojnar commented on #31222
@yegortimoshenko What we actually want is a hybrid of the two variants: this patch plus `patchelf --strip-rpath` in `PatchElf.fix_rpath`.

[2017-11-24 16:17] yegortimoshenko commented on #31222
@jtojnar In that case I think that just replacing `Elf` class with our version would be easier to maintain. Does this hybrid approach have practical advantages over `PatchElf` class?

[2017-11-24 16:36] jtojnar commented on #31222
@yegortimoshenko Well our `PatchElf` class from #31436 also does not strip the rpath so the effect is the same as for the patch above (modulo the `patchelf` screw ups preventing stripping).

We would need something like:

[code]

We could add the stripping to the `PatchElf` class but it would mean increase a probability of screw up.

[2017-11-24 16:39] ElvishJerricco commented on #32005
@peti I'd say this issue is valid. I believe the stack home can be a fixed output derivation, which would actually be enough to change the `preferLocalBuild` thing.

[2017-11-24 16:40] ElvishJerricco commented on #32005
Er, actually no. Though I bet Stack's build plan is 100% deterministic, GHC is not. So the libraries Stack builds won't be fixed. Ugh.

[2017-11-24 17:04] kalhauge commented on #31666
Thanks for still looking into it. In the meantime, I tried out  #29688, but it too had problems.

[code]

[2017-11-24 17:38] dotlambda opened #32007 "nixos-rebuild needs access to current working directory"
## Issue description
If the current working directory is deleted somehow, `nixos-rebuild switch` fails with the following message:
[code]
I see no reason for `nixos-rebuild` to acces the cwd.
As it seems, this is not only the case for `nixos-rebuild` but also for `nix-shell` (where it makes sense to acces the cwd) etc.

### Steps to reproduce
[code]

## Technical details
 - system: `"x86_64-linux"

[2017-11-24 17:38] #31700 closed

[2017-11-24 17:38] #25023 closed

[2017-11-24 18:05] jerith666 commented on #19741
I don't know.  I get a third value for the hash:

[code]

[2017-11-24 19:16] dotlambda opened #32011 "git-annex does't work if git is not in the path"
## Issue description
If you have installed git-annex but didn't install git, then git-annex doesn't work correctly:
[code]
Even though there is little reason to use git-annex without git, the [git-annex assistant](https://git-annex.branchable.com/assistant/) may be such a use case.
I guess we need to patch the git-annex source to call `${git}/bin/git` instead of `git`, e.g. in [Git/Command/Batch.h

[2017-11-24 20:02] d4g commented on #15373
Hello, thanks for the feedback.
I can confirm, that adding the user fixes the issue.

What still seems to be an issue is adding the correct path for requiered packages in system cron jobs.
It is a possibility to use systemd.timers instead.

Thank you for resolving the issue.

[2017-11-24 20:02] #15373 closed

[2017-11-24 20:26] Gerschtli commented on #19741
Very strange.. :/

[2017-11-24 20:38] #31930 closed

[2017-11-24 22:11] aszlig commented on #31640
VirtualBox done in e5c24abf3b7f12232b7d2ae08415537d54d75c91.

[2017-11-24 22:45] ElvishJerricco commented on #32005
I wonder if you can get stack to do the 100% deterministic build plan as a fixed output derivation, do the Haskell dependencies as another derivation, and finally have the stack project on top of all that.

[2017-11-24 22:49] d4g opened #32015 "pidgin: Audio/Voice does not work"
## Issue description
I am unable to use the "media" options for chat, aka voice chat.

I also cannot output audio like sound effects.
If I trigger a sound effect, using the alsa output i get the following error on the debugging console:
`sound: Unable to create GStreamer audiosink.`

Adding the "Voice/Video Settings" plugin, I get the following error running the microphone test:

`(23:38:45) gtkme

[2017-11-24 22:57] orivej commented on #32015
The `package` is not necessary, but `enable` has to be set to true.

[2017-11-24 23:00] d4g commented on #32015
Regarding puse audio: it was a copy paste error from my configuration. It is enabed. The bug of course is still there.

[2017-11-25 00:48] srid commented on #31882
Sorry @nckx ... I think I should have instead tagged @lukeadams as he seems to be an user of it ... though git history shows that @abbradar originally created the file.

[2017-11-25 00:55] srid commented on #31882
@orivej I located the file you must be referring to here: `/nix/store/8nl96y7kw759aw7zlfxdck3bvrj95b31-nixos-17.09.2075.ac35504065/nixos/pkgs/os-specific/linux/prl-tools/default.nix` but it is not editable. I wonder if you meant something else?

[2017-11-25 01:13] orivej commented on #31882
Take a look at https://nixos.org/nixpkgs/manual/#chap-quick-start and https://nixos.org/nixpkgs/manual/#idm140737318579552 on how to make changes to Nixpkgs. Basically for a one time fix, you obtain a copy of nixpkgs, edit the file in question, and do a `nix-env -i` or `nix-build` or `nixos-rebuild switch -I nixpkgs=path/to/nixpkgs`. I can't fix this issue without your help because I don't have ac

[2017-11-25 01:35] lukeadams commented on #31882
My commits download the prl-tools automatically, but I think it's only been
merged into master so far. What version of parallels are you using? With my
PR you can override the version in your configuration.nix so it downloads
the correct one.

On Fri, Nov 24, 2017, 18:55 Sridhar Ratnakumar <notifications@github.com>
wrote:

--
Luke Adams

[2017-11-25 02:53] TravisWhitaker commented on #24237
@jbaum98 I'm having the same issue building a Haskell program. Despite adding CoreFoundation to `buildInputs` in the Nix expression and `frameworks` in the cabal file, I can only link the executable if I add `-F/System/Library/Frameworks`. @copumpkin has any progress been made here? Perhaps there's a package under `darwin` somewhere that at least captures this impurity?

[2017-11-25 03:46] TravisWhitaker commented on #24237
Hmm, it seems that `darwin.cf-private` _should_ do what we need here, but either the `shellHook` isn't being run for some reason, or something else is stomping on `$NIX_LDFAGS`.

[2017-11-25 06:22] danbst commented on #31884
ping @7c6f434c @grahamc, can you shed the light on this?

[2017-11-25 06:34] orivej commented on #31884
This idea originated here: https://botbot.me/freenode/nixos/2017-09-30/?msg=91752741&page=3

Could you submit the PR or show the changes?

So, you were not able to fix the evaluation without some changes that can not be commited?

[2017-11-25 06:55] danbst commented on #31884
@orivej Good point
https://github.com/NixOS/nixpkgs/pull/32019

[2017-11-25 07:04] vcunat commented on #31884
I'm not sure what exactly you want, but typically one uses `tryEval` to catch `throw`s and some other evaluation problems.  We have some places in nixpkgs using it, e.g. `<nixpkgs/pkgs/top-level/release-lib.nix>` used for Hydra's jobsets.

[2017-11-25 07:06] danbst commented on #31884
Example of query:
[code]
`tryEval` won't help much in this case.

[2017-11-25 07:34] vcunat commented on #31884
Apparently it does.  Hydra does evaluate all packages, so does <nixpkgs/maintainers/scripts/rebuild-amount.sh>, and neither experiences this problem.

[2017-11-25 08:49] andir commented on #31747
`apt-cacher-ng` has been resolved in #31924. Someone please tick the checkbox :-)

[2017-11-25 09:21] andir commented on #31747
`tvheadned` was fixed with 9e44d34be28a270fd68161e96e335f4d6e2ba6fc

[2017-11-25 10:34] #31670 closed

[2017-11-25 11:16] 7c6f434c commented on #31884
@danbst on every platform there are packages that assert (in different ways, too) that this platform is not suitable. Acknowledging this explicitly means that there won't be reports of random exotic packages creating hard-to-understand failures.

Why enumerating the attribute names, then `tryEval` on getting every attribute, and possibly some recursion won't work?

[2017-11-25 11:17] 7c6f434c commented on #31884
I wonder if the fixes you tried are enough for evaluating Nixpkgs naively, or for recursing into `pythonPackages`/`nodePackages` too.

[2017-11-25 11:53] xaverdh opened #32025 "marble virtual globe fails to start due to problem with Qt plugin"
## Issue description

I installed marble by putting the package into the "packages" section of my unprivileged user account, then tried to start marble, and got the following error:

in "".

fish: “marble-qt” terminated by signal SIGABRT (Abort)

Installing marble system wide by adding it to environment.systemPackages fixed the issue.

### Steps to reproduce

Add marble to packages section of an (

[2017-11-25 12:05] orivej commented on #32025
I'm sorry that you have encountered this problem, you can find the description of the cause and some workarounds at the end of #30551, subscribe to that issue to be notified of the solution.

[2017-11-25 12:05] #32025 closed

[2017-11-25 14:55] zimbatm commented on #27370
Rust 1.22 is in #31982 if you want to give it a try

[2017-11-25 15:28] #31253 closed

[2017-11-25 15:37] danbst commented on #31884
@vcunat I don't quite get how Hydra can evaluate this one
https://github.com/NixOS/nixpkgs/blob/bdce7d3a04ea3ebaebe033da13e3c6651845e45f/pkgs/applications/science/machine-learning/sc2-headless/default.nix
Does it use some undocumented Nix feature to ignore `throw` and `assert`?

Here is what goes on when one tries to use `.override`:
[code]

Wait, but I have actually set `licenseAccepted = true;`!

[2017-11-25 15:45] danbst commented on #31884
@7c6f434c on second thought, yes, probably tryEval would suite my needs. I'd just ignore non-evaluating expressions. But I really do want for `.override` to work, and making it work for all packages makes great progress towards full nixpkgs evaluation.

It will still be unbuildable, which is reasonable.

[2017-11-25 16:02] 7c6f434c commented on #31884
Well, an override with removal of `broken` _and_ a patch could even work.

I agree that allowing an override of `meta.broken` would be nice, although not enough for your task (`throw` about unsupported platforms need to be handled separately); I don't have any design ideas for that.

[2017-11-25 18:12] jtojnar commented on #17221
Fixed in #19433.

[2017-11-25 18:12] #17221 closed

[2017-11-25 23:02] rowhit opened #32052 "GnuTLS fails to build for non-default nix store: Several packages fails to build because of mismatched sha256 hash"
## Issue description
I am trying to build multiple packages form nix channels nixpkgs-unstable and nixos-17.09 to a non-default nix store. Some of the packages fails to build complaining sha256sum hash mismatch. However, when I see the binary available for the same packages in the nix channels. As long as the nix is built with a different storeDir and stateDir, it should be fine. Many common packa

[2017-11-25 23:48] orivej commented on #32052
Some of the sources necessary to build the packages are no longer available or have changed, which results in hash mismatch errors. (The `master` branch must be better in this respect than the `release-17.09` branch.) This does not affect `/nix/store` because the sources for `/nix/store` are cached on Hydra and at cache.nixos.org. Occasionally we discover such issues and fix them.

Just clone this

[2017-11-25 23:51] orivej commented on #32052
Since you are on Linux 2.6.32, the `master` branch is not going to work for you because it contains glibc 2.26 which requires Linux 3.2. You will have to stay with `release-17.09` (and may find some fixes for the hash mismatch or dead source errors in `master` branch).

[2017-11-26 00:01] davidak opened #32055 "document how to allow port range in firewall"
It works like this:

[code]
or `allowedUDPPortRanges` for UDP.

The information belongs here: https://github.com/NixOS/nixpkgs/blob/master/nixos/doc/manual/configuration/firewall.xml

[2017-11-26 00:35] orivej commented on #32052
See this about nix-user-chroot: https://nixos.wiki/wiki/Nix_Installation_Guide#Installing_without_root_permissions

[2017-11-26 00:38] davidak opened #32056 "ipfs: make swarmAddress configurable"
`services.ipfs.swarmAddress`

default:
[code]

cc @elitak

Until then, just edit `/var/lib/ipfs/config` manually.

[2017-11-26 00:43] grahamc commented on #31606
PR here incorporates some netboot patches I've had kicking around: https://github.com/NixOS/nixpkgs/pull/32031

After that PR merges, we should recycle the branch for further testing, as https://hydra.nixos.org/jobset/nixos/unstable-aarch64 is setup already.

[2017-11-26 01:29] davidak opened #32059 "netdata: ipfs check not working"
## Issue description

I configured IPFS on my server. Netdata should be able to monitor it.

https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/system/netdata/default.nix

Maybe python is completely missing and maybe also other (optional) dependencies.

cc @lethalman

### Steps to reproduce

1. install netdata service
2. install ipfs service
3. see if IPFS is shown in netdata

## Technical de

[2017-11-26 02:29] Jamie-505 commented on #18012
saved me right there!

just in case: if you need to do this over ssh just open 2 connections in two terminals and run @EstalillaJ code!

[2017-11-26 05:05] danbst commented on #16142
Worked for me except one step (https://gist.github.com/expipiplus1/e571ce88c608a1e83547c918591b149f#gistcomment-2268583)

[2017-11-26 06:39] elitak commented on #32056
Remember you can do this too:
     services.ipfs.extraConfig.Addresses.Swarm = [ "/ip4/0.0.0.0/tcp/4001" "/ip6/::/tcp/4001" ];

It seems reasonable to have this default, however, since the nixos module has no way of getting the daemon to reset options when the user removes an explicit option from configuration.nix. Incidentally, some config needs special handling, since it can't be set without re-

[2017-11-26 07:13] kevlar1818 commented on #32059
I similarly cannot get the python plugin `smartd_log` to work. I added python to my configuration.nix, and I can start the plugin manually without errors, but when netdata starts the `python.d.plugin` it errors out, saying Python is not available. @davidak did you check `/var/log/netdata/error.log`?

[2017-11-26 07:44] davidak commented on #32059
Yes, that is the issue here. It has to be added to the package definition.

[code]

[2017-11-26 08:17] FRidh commented on #30596
The fix is in master so I am closing this.

[2017-11-26 08:17] #30596 closed

[2017-11-26 08:36] joepie91 opened #32063 "Hydra service fails to correctly set PostgreSQL configuration when services.postgresql.authentication is already set"
## Issue description

The Hydra module for NixOS contains [a configuration setting](https://github.com/NixOS/nixpkgs/blob/8ca1b2c8ff26085faa3e7de799b3712d3c1db0ae/nixos/modules/services/continuous-integration/hydra/default.nix#L421-L424) that, on deployments with a local PostgreSQL database, is meant to add an authentication line to the `pg_hba.conf`for PostgreSQL to allow access to all Hydra-rela

[2017-11-26 09:44] dotlambda opened #32065 "java: relocation error: libresolv.so.2: symbol __resolv_context_get_preinit, version GLIBC_PRIVATE not defined in file libc.so.6 with link time reference"
## Issue description
When I run a project in Eclipse, I get the following error:
[code]

### Steps to reproduce
Install eclipse, create a new project with one file `Main.java`:
[code]
and run it.

## Technical details
 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.61, NixOS, 18.03pre120728.9ce33dd8fb (Impala)`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Nix) 1.11.15`
 - chann

[2017-11-26 09:51] teto commented on #30596
thanks for the hard work

[2017-11-26 09:52] dotlambda commented on #32065
By the way:
[code]

Also, the error doesn't occur if `Main` is not run from within Eclipse:
[code]

[2017-11-26 10:12] teh commented on #14168
@chris-martin are you using GDM? If so I think this is finally fixed here: https://github.com/NixOS/nixpkgs/issues/21439#event-1348870891 (at least until we introduce wayland).

This still seems to happen for 17.09 after a `rebuild-switch` and the workaround seems to be a reboot.

[2017-11-26 11:13] jdanekrh opened #32072 "SDDM crashes with `nixos kernel: QQmlThread[2129]: segfault at 0 ip 00007fb27bef93ea sp 00007fb2622494b0 error 4 in libQt5Qml.so.5.9.1[7fb27bdec000+3e0000]`"
## Issue description

When booting into upgraded system, I was welcomed by an empty black nonresponisive screen on vt7 with single white underscore in the top left corner. Instead, I was expecting SDDM to start there. I was able to switch to vt1 and rescue the system from there.

I "resolved" this by switching from `services.xserver.displayManager.sddm.enable` to `services.xserver.displayManager.l

[2017-11-26 11:53] FRidh commented on #32052
@orivej @vcunat Hydra supports repeated builds for checking reproducibility. We could create a job that does repeated builds of `drv.src`.

[2017-11-26 12:38] bkchr commented on #32072
Do you use a nixpkgs checkout? Or on which channel are you?

I thought that the bug should be fixed... Did you updated regularly or did that bug occur after an recent update?

Could you please enable sddm again and try the following:
`sudo rm -fr /var/lib/sddm/.cache/sddm-greeter/qmlcache`

[2017-11-26 12:42] vklquevs opened #32074 "Cannot install Firefox 57 on i686-linux"
`cargo-vendor` does not provide binary files for `i686-linux`[1], with no option to build from source. This ultimately means `firefox-57.0` cannot be installed.

[1] https://github.com/NixOS/nixpkgs/commit/5f8cf0048ea089fa73d17512fc4f9f0f0644e225

Full output from `nix-env -iA nixpkgs.firefox --show-trace`:
[code]

[2017-11-26 13:07] vklquevs commented on #31089
I've encountered a common package that will not build on i686 (#32074).
I think supporting any arch other than the two most commonly used (64-bit linux and darwin) would help root out other reliance on externally-built binaries.

[2017-11-26 14:35] harpalus-honestus opened #32077 "Upgrade to 17.09 fails because of broken package guile-xcb"
## Issue description
When trying to upgrade a machine on channel 17.03 to channel 17.09, `nixpkgs.config.allowBroken` has to be set to `true`, because guile-xcb is marked as broken. The build fails (see below). On unstable, the package builds.

[code]

### Steps to reproduce
`nixos-channel --add https://nixos.org/channels/nixos-17.09 nixos`
`nixos-channel --update`
set `nixpkgs.config.allowBroken=

[2017-11-26 16:01] StijnDW opened #32079 "Cairomm library has the wrong include paths"
## Issue description

This might just be me not understanding how to develop c++ programs with nixos.
Nevertheless here goes:

My program includes the Cairomm library.
But it fails to compile with the following error:
[code]

### Steps to reproduce

Try to compile any program that uses cairomm like so:
[code]

The problem seems to be that GCC uses the include path:
[code]
However all the cairomm h

[2017-11-26 16:08] StijnDW commented on #32079
As a little illustration, this fails to compile:
[code]
[code]
[code]

[2017-11-26 16:08] cmacrae commented on #5071
I'm getting the same issue as @samdroid-apps, too:
[code]

After some very brief digging, it looks like it might be a library conflict in NetworkManager

[2017-11-26 16:10] jtojnar commented on #5071
@cmacrae Yes, see [above](https://github.com/NixOS/nixpkgs/issues/5071#issuecomment-335394294)

[2017-11-26 16:13] cmacrae commented on #5071
Ah, cheers @jtojnar :+1:

[2017-11-26 16:28] dezgeg commented on #32079
This is wrong:
[code]
As can be seen from https://www.cairographics.org/documentation/cairomm/reference/image-surface_8cc-example.html, that should be just:
[code]
 You're supposed to use pkgconfig to get the correct include paths.

[code]

[2017-11-26 17:15] StijnDW commented on #32079
I was unaware of pkgconfig.
Using that gets me the correct include paths.
Thanks!

[2017-11-26 17:15] #32079 closed

[2017-11-26 17:17] samueldr commented on #29569
Anyone impatient that didn't update it themselves, 4.14 from megous' fork:

[code]

Ethernet works, haven't tested anything else.

[2017-11-26 17:45] jdanekrh commented on #32072
I use nixos-unstable. I have some software from a nixpkgs checkout (IntelliJ IDE updates, the moment they come out) and I have older SpiderOaks Groups installed that I build myself from RPM which my company provided. I am on 18.03pre121253.2f1a818d00, as stated in the first post.

The bug appeared after the update I did right before. I do update regularly, but infrequently, once every two months,

[2017-11-26 17:58] TravisWhitaker opened #32080 "Support Bazel on macOS"
In principle it should be possible to build Bazel from source on macOS. Bazel itself is quite a mess to patch, since `xcrun` is sometimes invoked from the PATH, sometimes absolutely from `/usr/bin`, and sometimes via an `xcrunwrapper.sh` script.

What has me stumped is that Bazel grabs a bunch of dependencies whose build systems also rely on `xcrun`, particularly protobuf and grpc. Many of the cal

[2017-11-26 19:06] vcunat commented on #32052
I can't see where to check that on Hydra, but repeated builds won't help by itself &ndash; we need to `preferHashedMirrors = false` as well.

[2017-11-26 19:11] vcunat commented on #31089
For reference, `aarch64-linux` is built on Hydra for unstable/master, and it's planned to remain in the following stable releases.

[2017-11-26 20:22] domenkozar opened #32082 "Bring back multiple output for binaries"
@peti reverted https://github.com/NixOS/nixpkgs/pull/27209 since it broke haskell packages

The fix is quite simple:

[code]

and a proof:

[code]

cc @nc6

[2017-11-26 20:42] domenkozar commented on #31306
Once stackage LTS comes out.

[2017-11-26 21:09] domenkozar opened #32084 "fetchpatch: ignores file renames"
If the patch renames a file, and contains:

[code]

Then using `patch -p1 < foobar.patch` works as expected, while using fetchpatch no rename happens.

cc @vcunat @aszlig @copumpkin @fpletz @globin

[2017-11-26 21:19] domenkozar commented on #32084
Proof that patch consideres that input: https://git.savannah.gnu.org/cgit/patch.git/commit/?h=v2.7&id=9e39d9c9950076e319d1dbbeeb7b8bd268b465f3

[2017-11-26 21:22] nh2 commented on #32084
Example:

[code]

If in this patch, you strip everything before the `---`, then `patch` will not execute the rename.

(I personally also thought that everything before `---` was a comment and would be ignored for the purpose of applying the patch; turns out this is wrong.)

[2017-11-26 21:25] domenkozar commented on #15800
Elm 0.19 should have been released a long time ago.

Once https://github.com/NixOS/nixpkgs/issues/32082 is done, we can really just do `enableSharedExecutables = false;` as I intended a year and a half ago.

[2017-11-26 22:06] nh2 opened #32086 "libvirt: Can't migrate a VM to NixOS"
## Issue description

I have a VM running on my Ubuntu 16.04 machine using `libvirt`/`virt-manager`.

I want to use `virt-manager`'s migration feature to move the VM to another host. The other host is a NixOS machine.

If I start the migration, I immediately get `Unable to migrate guest: Cannot check QEMU binary /usr/bin/kvm-spice: No such file or directory`.

Looks like the migrator expects certa

[2017-11-26 22:08] nh2 commented on #32086
Details:

[code]

[2017-11-26 22:13] nh2 commented on #32086
Hmm, looks like that the specific path `/usr/bin/kvm-spice` is something that's part of my VM.

In my case, `/etc/libvirt/qemu/MSEdge.xml` contains:

[code]

[2017-11-26 22:52] robertodr commented on #29877
I am in the same pickle as @ekmecic I actually need to be able to use both `clang` and `gcc` within the same `nix-shell` (@orivej second scenario) This is to compile a mixed Fortran/C++ project. While using `clang++` and `gfortran` works, I also need to test that `g++` and `gfortran` will work.

[2017-11-26 22:58] Fuuzetsu commented on #32082
It needs testing on hydra that it doesn't break anything else... I have wasted days fixing one thing and breaking another in this code ;/

[2017-11-26 23:04] davidak opened #32087 "nikola don't build on darwin"
## Issue description

[code]

cc @jluttine

### Steps to reproduce

1. set `allowBroken = true;`
2. `nix-env -i python36Packages.Nikola`

## Technical details

OS X 10.10.5

[2017-11-26 23:09] nh2 commented on #32086
Does anybody know which nixpkg would provide me with `kvm-spice`?

[2017-11-26 23:11] nh2 commented on #32086
Ah. It's just a symlink.

[code]

[2017-11-26 23:15] orivej commented on #32086
It's `qemu-system-x86_64` on NixOS.

[2017-11-26 23:23] davidak opened #32088 "nix-info one-liner from issue template don't work on darwin"
## Issue description

[code]

cc @grahamc

## Technical details

see above :)

[2017-11-26 23:30] davidak commented on #27758
@grahamc is this solved by https://github.com/NixOS/nixpkgs/pull/30397?

[2017-11-26 23:36] davidak opened #32089 "Automatically tag issues with data from nix-info"
@GrahamcOfBorg already tags PRs, so it might be easy to also tag issues.

cc @grahamc

[2017-11-26 23:37] davidak commented on #29932
We have `nix-info` now. See https://github.com/NixOS/nixpkgs/pull/30397

It is already included in the issue template. (https://github.com/NixOS/nixpkgs/pull/31643)

But from the title of this issue i got the idea to automatically tag issues from that info. (https://github.com/NixOS/nixpkgs/issues/32089)

[2017-11-27 00:33] grahamc commented on #27758
Yep, thanks :)

[2017-11-27 00:33] #27758 closed

[2017-11-27 00:33] #29932 closed

[2017-11-27 00:34] grahamc commented on #32089
Can you open an issue on https://github.com/grahamc/ofborg describing what sort of tags you'd find helpful? Ideally with some criteria for each tag.

[2017-11-27 00:38] grahamc commented on #32088
Based on the nix-info output, your root user has a very old channel, which is providing the path for `<nixpkgs>`. You'd probably be better off deleting the root channel:

[code]

[2017-11-27 00:40] bbarker opened #32091 "SSH client not recognizing UID from host OS"
## Issue description

This seems to be a new issue, where nixpkgs's ssh client no longer recognizes my user (after rebuilding my environment)

[code]

### Steps to reproduce

I'm using the following docker container:
https://github.com/cornellcac/docker-nix-intellij

## Technical details

I'm running an Ubuntu 16.04 docker container with nix installed:

[code]

[2017-11-27 01:24] orivej commented on #32091
This is #31700, fixed in 035b5892, which is a few days more recent than yours `"nixos-18.03pre120540.b8f7027360, nixpkgs-18.03pre120650.d6d96c3274"`.

[2017-11-27 03:46] davidak commented on #32088
After removing i get this error:

[code]

I'm able to install and run it:

[code]

So just deleting it seams to break everything. I added the unstable channel and update it. Now it works!

[code]

Thanks for the help!

[2017-11-27 03:46] #32088 closed

[2017-11-27 03:48] samueldr commented on #22652
Working off of pbogdan's work, I have devised a way to change the cursor globally when using lightdm-gtk-greeter; this was specifically asked on IRC by @ylwghst earlier this evening. Sharing here since I believe it can might help others too while waiting for a more comprehensive method. It might be possible to adapt this to another DM.

In the example, it uses the `Paper` theme. It also resizes th

[2017-11-27 03:49] davidak commented on #32089
@grahamc sure

[2017-11-27 03:49] #32089 closed

[2017-11-27 05:30] dezgeg commented on #32084
The `rename` lines (like `index ...`) are a Git extension to the patch format.

[2017-11-27 06:11] teto commented on #32086
nh2, you can install nix-index/nix-locate to find the package from the binary name

[2017-11-27 06:41] jluttine commented on #32087
I suppose the issue is in nix packaging of doit. In setup.py https://github.com/pydoit/doit/blob/master/setup.py#L76

[code]

So, nix derivation of doit should use pyinotify build input for linux and macfsevents build input for darwin. However, I couldn't find macfsevents packaged for nix. But I suppose that would fix the issue, if I understood correctly.

[2017-11-27 06:50] dezgeg commented on #32084
Last time that was attempted, those new git-specific lines caused most existing fetchpatch hashes to change.

[2017-11-27 06:58] aszlig commented on #32084
@dezgeg: Okay, which is probably because of that very commit, because it left in other git-specific extensions. Regardless of that, I just checked to verify whether this is problem persists in 0.3.4 and even in master and it's still the case, because `lsdiff` is simply dropping renames because they're essentially non-existing hunks.

[2017-11-27 07:45] wizzup commented on #30949
Closed as no longer reproducible using `master` branch.

[2017-11-27 07:45] #30949 closed

[2017-11-27 07:47] wizzup commented on #31306
Closed as no longer reproducible using master branch.

[2017-11-27 07:47] #31306 closed

[2017-11-27 07:48] wizzup commented on #31933
Closed as no longer reproducible using master branch.

[2017-11-27 07:48] #31933 closed

[2017-11-27 10:32] Profpatsch opened #32103 "tcl 8.6.4 has manpages in strange locations"
cc @wkennington @vrthra

[code]

[2017-11-27 10:55] jdanekrh commented on #32072
@bkchr Purging the `qmlcache` has made SLIM work for me again. I guess you could close the ticket.

Anything wrong or problematic about my update strategy (as outlined in my previous comment)?

[2017-11-27 11:06] bkchr commented on #32072
Nice that it worked. But that is weird, as that should be done automatically :/
It is not your fault, it is/was a problem of Qt that broke the caching stuff.

You can close the ticket by yourself (I can not do that).

[2017-11-27 11:08] rnhmjoj commented on #29106
It's finally fixed.

[2017-11-27 11:15] #29106 closed

[2017-11-27 11:15] #32072 closed

[2017-11-27 11:35] sjau commented on #27199
I'm facing the same issue with virt-manager. Also I have no group "spice". Can you tell me how you got it to work?

Relevant portions of my configuration.nix:

[code]

[2017-11-27 11:51] gschjetne opened #32105 "Gource broken on MacOS, looking for 'Foundation/Foundation.h'"
## Issue description

Building Gource fails with the following output:

[code]

### Steps to reproduce

`$ NIXPKGS_ALLOW_BROKEN=1 nix-env -i gource`

## Technical details

 - system: `"x86_64-darwin"`
 - host os: `Darwin 16.7.0, macOS 10.12.6`
 - multi-user?: `no`
 - sandbox: `no`
 - version: `nix-env (Nix) 1.11.15`
 - channels(schjetne): `"nixpkgs-18.03pre121255.45a85eaceb"`
 - nixpkgs: `/Users/s

[2017-11-27 14:24] vcunat commented on #32103
The first line from you is something old, as it depends on `glibc-2.21` (I got the closure from binary cache).

What's wrong about `share/man/man3/*.3*`?  I'm not so confident about existence of the "n" section, but other than that...

[2017-11-27 15:11] jtojnar commented on #32105
Could you try adding Foundation as a dependency and see it it is works? See for example here: https://github.com/NixOS/nixpkgs/blob/676b2ef431fb6bd047b23cedac2bed0d58997c47/pkgs/development/compilers/mono/generic.nix#L17

[2017-11-27 16:02] nc6 commented on #32082
I'll resurrect the PR, I did have a somewhat updated version

[2017-11-27 16:04] #32091 closed

[2017-11-27 16:14] nc6 commented on #32082
https://github.com/NixOS/nixpkgs/pull/32112 opened with your fix, needs hydra testing.

[2017-11-27 16:28] Profpatsch commented on #32103
Some are directly in `/man` instead of `/share/man` so the fixup seems to go wrong.

[2017-11-27 16:56] vcunat commented on #32103
Not anymore.

[2017-11-27 16:56] vcunat commented on #32103
You found some ancient store path, probably.  I can't see this in current master.

[2017-11-27 17:29] ckauhaus commented on #15660
I'd like to pick up the discussion. [vulnix](https://github.com/flyingcircusio/vulnix) is now able to recognize CVE patches if they are named accordingly. I think this presents a practical solution for Domen's first point in the original description.

This means:
* If a package has published vulnerabilities, but the derivation contains patches that have CVE identifiers in their file names, these v

[2017-11-27 17:32] jbaum98 opened #32115 "Patch guile-config to know where header files are"
## Issue description

When trying to build programs that rely on `guile-config` for flags specifying folders for headers, it incorrectly reports their location because it assumes that the headers are stored with the binaries. In fact, they are stored in a separate derivation with `guile.dev`. Can we patch the program to know this somehow? Or should we simply patch all the programs we build to igno

[2017-11-27 17:42] ckauhaus opened #32117 "Vulnerability Roundup 29"
Obtained via `vulnix -j $(nix-instantiate -I nixpkgs=. nixos/release-small.nix)` on 2f1a818. Cleaned up manually for CVEs already present in #30959. May contain false positives.

### libid3tag-0.15.1b ([search](https://search.nix.gsc.io/?q=libid3tag&i=fosho&repos=nixos-nixpkgs), [files](https://github.com/NixOS/nixpkgs/search?utf8=%E2%9C%93&q=libid3tag+in%3Apath&type=Code))
 - [x] [CVE-2017-11550]

[2017-11-27 17:46] Profpatsch commented on #32103
Okay, nice.
I did a `find` to find packages like this, `tcl` seemed to be the only one (apart from a source folder) which had manpages in the wrong place, so we are doing pretty good.

[2017-11-27 17:46] #32103 closed

[2017-11-27 18:14] adisbladis commented on #32117
rpcbind resolved in https://github.com/NixOS/nixpkgs/pull/32119

[2017-11-27 18:16] aszlig commented on #32084
Okay, while trying to patch `patchutils` it turns out that fixing the renames is a bit more involved, because the way `patchutils` does its [parsing](https://github.com/twaugh/patchutils/blob/3c70aa137ad8c4ea9085a73c0dbc1c6897b6ad45/src/filterdiff.c#L979-L1171) it's not very easy to do lookahead. Another obstacle is what @dezgeg mentioned with the changed hashes.

So what we practically need is ju

[2017-11-27 18:20] adisbladis commented on #32117
All of the `wpa_supplicant` CVEs are from [KRACK Attacks](https://www.krackattacks.com/) which is already patched.

[2017-11-27 18:28] williammpratt commented on #31914
Does fetchUrl already work with `git+ssh://` style URLs in nix 1.12?

Similarly, does nix 1.12 already provide all the features of 1.11.5? I know there is no release date yet, but can it be used in a meaningful way in any way or is it just broken right now?

[2017-11-27 18:33] pbogdan commented on #32117
`rsync` one doesn't seem applicable being introduced in a development version after 3.1.2 was released - https://security-tracker.debian.org/tracker/CVE-2017-15994

[2017-11-27 19:08] pbogdan commented on #32117
`libid3tag-0.15.1b` CVE-2017-11550 looks to be covered by the Debian patches we include.

[2017-11-27 19:20] peti commented on #32005
Unfortunately, `stack`'s build plan is not 100% deterministic due to the wonders of destructive editing Hackage. New revisions of a published packages can modify the version constraints on dependencies and therefore affect the set of packages required for the build.

[2017-11-27 19:26] ElvishJerricco commented on #32005
I thought Stackage had a bunch of stuff to deal with that? I don’t have a source; just vaguely remember some rants on Stack issue pages about this stuff.

[2017-11-27 19:36] peti commented on #32005
If it does, then I am not aware of it.

[2017-11-27 19:55] #32105 closed

[2017-11-27 20:11] Gwend4l commented on #26023
Same problem here on Fedora 27

[2017-11-27 21:06] williammpratt commented on #32080
I am not happy with heavy divergence of NixOS configurations. If upstream cannot make a system that works based on standards, then I am not interested in using it, let alone increasing the size of the NixOS repository with workarounds.

Why do you want to use it? Is Bazel so unique that you cannot do without?

There is an issue over 1.5 years old to remove /bin/bash references. It appears that por

[2017-11-27 21:23] TravisWhitaker commented on #32080
Regrettably, I'm tied to Bazel because of TensorFlow. Furthermore, I'm calling TF from C++ (already a use case poorly supported upstream), for which none of upstream's binary distributions are suitable given my hardware, so I must build TF from source. It's only due to Nix that deploying this monstrosity works at all. A while ago there were a few community supported alternative build systems for T

[2017-11-27 21:30] williammpratt commented on #32115
Please contact upstream to fix this. guile-config should be implemented with pkg-config. There exist more operating systems besides NixOS and they would thank you for it.

[2017-11-27 21:55] rnhmjoj commented on #30645
Can we close it?

[2017-11-27 22:11] williammpratt commented on #32080
OK, those are reasonable reasons.

It turns out you don't actually need to know anything about computing to make a machine learning library. If you already made a cost calculation compared to the alternatives, I'd suggest you become good buddies with the Bazel maintainers and patch it to the point that it somewhat acceptable. Their third_party directory being present is also not what you typically

[2017-11-28 00:07] andir commented on #32117
I opened a PR to port the systemd fix to our systemd fork: https://github.com/NixOS/systemd/pull/14

[2017-11-28 02:47] jtojnar commented on #25493
[`wrapGAppsHook`](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/setup-hooks/wrap-gapps-hook.sh) will detect the typelibs, add them to `GI_TYPELIB_PATH` and wrap the executables in bin. Use `wrapPrefixVariables` to also add `PYTHONPATH` there:

https://github.com/NixOS/nixpkgs/blob/7df685392078deac1c1ba67242b7b931bc2f00ae/pkgs/desktops/gnome-3/apps/accerciser/default.nix#L15

[2017-11-28 03:04] jtojnar commented on #25493
[gobjectIntrospection’s setup hook](https://github.com/NixOS/nixpkgs/blob/7df685392078deac1c1ba67242b7b931bc2f00ae/pkgs/development/libraries/gobject-introspection/setup-hook.sh) is what adds the typelibs to the environment variable. The `wrapProgram` invocation is copying the value of the variables during build into a wrapper, which passes them to the wrapped executable when it is run. Just calli

[2017-11-28 03:09] yegortimoshenko opened #32131 "Wine .desktop files should not reference path to Wine"
Desktop files generated by Wine go stale, and should not be coupled with specific version that was used on install. It makes upgrades or moving to a different branch (staging -> unstable) much more difficult than it should be.

[2017-11-28 03:24] #25493 closed

[2017-11-28 04:50] adisbladis commented on #32117
CVE-2017-8786 resolved in https://github.com/NixOS/nixpkgs/pull/32134/files

[2017-11-28 04:55] adisbladis commented on #32117
Redhat has closed CVE-2017-11164 with WONTFIX status https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2017-11164

[2017-11-28 08:53] basvandijk commented on #31489
PR  #31601 has been merged.

[2017-11-28 08:53] #31489 closed

[2017-11-28 09:17] chekoopa commented on #31929
Same.
[code]

[2017-11-28 10:45] dhess commented on #31666
@kalhauge Finally got around to looking into your issue. I'm building GHC 8.0.2 now for `aarch64-linux`. It's taking awhile, but I'll update this comment later when the build has finished.

Also, I've now published this overlay as part of https://github.com/quixoftic/quixops-modules. If you clone that repo somewhere and then point your overlays to the `quixops-modules/overlays/haskell.nix` overlay

[2017-11-28 11:13] orivej commented on #31696
Fixed build of the remaining criu, dgsh, obliv-c.

[2017-11-28 11:13] #31696 closed

[2017-11-28 11:13] ravloony opened #32138 "Purescript-0.11.7 fails to compile"
## Issue description

Purescript-0.11.7 fails to compile, with the following output:

[code]

### Steps to reproduce

Install nixos from master.

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.13.11, NixOS, 18.03.git.9e241d0 (Impala)`
 - multi-user?: `yes`
 - sandbox: `no`
 - version: `nix-env (Nix) 1.11.15`
 - channels(root): `"nixos-17.09pre113138.96457d26dd"`
 - channels

[2017-11-28 11:23] orivej commented on #26023
Please attach the log generated by `strace -f -o dc.log docker-compose up`.

[2017-11-28 14:11] jtojnar opened #32142 "nixos/fwupd: prevent build during evaluation"
## Issue description
The fwupd module is trying to obtain list of files inside the package causing build during evaluation. See: https://github.com/NixOS/nixpkgs/pull/30252#discussion_r153038794

[2017-11-28 14:59] domenkozar commented on #12468
This sounds like a really good idea, we've been hitting https://github.com/haskell/cabal/issues/3075

[2017-11-28 15:00] domenkozar commented on #4504
I think we should close this and open a new issue for GHC if wanted.

[2017-11-28 15:00] #4504 closed

[2017-11-28 17:10] kalhauge commented on #31666
@dhess, Thanks! I'm building it now.

[2017-11-28 18:12] knedlsepp commented on #26487
@FRidh: After using this for a while, I'm finally convinced that this is somehow not picked up by all tools.
Using `nix-env -qaP` or `nix search`, none of the python Packages show up. However all other derivations show up in the search just fine.
Would you know how this can be fixed?

[2017-11-28 18:40] globin commented on #32117
@andir could you bump the systemd derivation?

[2017-11-28 18:42] tobiasBora opened #32147 "Cannot compile gnutls (ftp problem)"
## Issue description

Hello,

Nix downloads the gnutls sources using ftp (I guess that it's the only way to bootstrap TLS). However, curl cannot download this ftp files, while wget has no problem at all. Because of that gnutls cannot be installed, and my raspberry installation is quite useless.

### Steps to reproduce

Try to install gnutls, or a program that need gnutls on a system that do not ha

[2017-11-28 18:43] andir commented on #32117
I will do later tonight. Away from the keyboard for a few hours.

On Nov 28, 2017 7:40 PM, "Robin Gloster" <notifications@github.com> wrote:

[2017-11-28 19:03] vcunat commented on #32147
Ah, right, I had already contacted the site administrator.  As a fallback, I suppose we can switch to http(s) URLs.

[2017-11-28 19:07] vcunat commented on #32147
As a quick workaround, run
[code]
and then resume whatever nix operations you wanted.

[2017-11-28 19:37] tobiasBora commented on #32147
Thank you very much for the workaround !

And I don't know if it can help, but I tried to debug it, and I found where is the "problem". Here are the commands that curl send (you can try them using `telnet ftp.gnutls.org ftp`):

[code]

And nothing happened after `PASV`. BUT, if you add a single command `PWD` before the  `PASV`, it works great:

[code]

[2017-11-28 19:45] #32147 closed

[2017-11-28 19:52] fdietze commented on #13134
I stumbled across the same problem and after a long search was able to fix it by installing these two packages:
[code]

Would be nice if this was a sane default.

[2017-11-28 19:53] tobiasBora commented on #32147
Just a question, let us imagine that a website just have ftp, then `nix-prefetch-url`won't work. Can I manually download the file, and add it somehow in the archive files ?

[2017-11-28 19:56] vcunat commented on #32147
(1) it does work with `ftp://` normally for me;  (2) you can use `file://`.

[2017-11-28 20:09] tobiasBora commented on #32147
Ok thanks. I tried to speak with people from curl in IRC:

Maybe it can help somehow to get a working version, but it may be possible that it break other servers... No idea if it's possible to choose this option only for this specific package.

[2017-11-28 20:39] datakurre commented on #23088
@pstn Would you have any updates on this?

[2017-11-28 21:10] dezgeg commented on #32084
Yeah, I suppose writing a custom implementation is the best. After all, I think all it is doing now is stripping out any comments from the .patch files.

[2017-11-28 21:52] eqyiel commented on #29873
@basvandijk would you consider sending that patch upstream?

[2017-11-28 21:55] globin commented on #32084
We also use it to exclude files from patches and add prefixes/suffixes(?)

[2017-11-28 23:28] dotlambda commented on #32011
If someone could at least tell me whether this is expected behaviour or indeed a bug, I could try to work on fixing it.
@mdorman @peti @nc6

[2017-11-28 23:28] pstn commented on #23088
No, I don't even have a test case right now. I had to set up a quick owncloud to export something noticed it, thought I let people know and promptly forgot about it again.

Incidentally I've seen that nextcloud (the fork of which people tell me it's better than the original) supports this option in upstream, so maybe there could be a quick solution for you.

[2017-11-28 23:33] LemmingAvalanche opened #32150 "No man page for ed, the standard text editor"
## Issue description

There seems to be no man page for ed, the standard text editor.

### Steps to reproduce

[code]

## Technical details

[code]

[2017-11-29 00:06] matthewbauer commented on #32150
It looks like an issue in how ed installs things:

[code]

[2017-11-29 01:40] cbarrett opened #32152 "compdata-0.11 busted"
## Issue description
Package compdata-0.11 fails to build.

### Steps to reproduce
1. nix-shell -p "haskellPackages.ghc.withPackages (pkgs: [pkgs.compdata])"
2. Output:
[code]

## Technical details

Please run `nix-shell -p nix-info --run "nix-info -m"` and paste the
results.

 - system: `"x86_64-darwin"`
 - host os: `Darwin 16.7.0, macOS 10.12.6`
 - multi-user?: `no`
 - sandbox: `no`
 - version:

[2017-11-29 01:49] aszlig commented on #32084
@globin: Sure, that's no problem once we have a parser that uses proper data structures for the patches. On the other hand, however I was thinking about writing such an implementation in Haskell and parser combinators, but that would increase the closure size of `fetchpatch` a lot and also probably won't work that well because we probably have `fetchpatch` in the dependency graph of GHC (haven't c

[2017-11-29 01:59] #32056 closed

[2017-11-29 03:26] adisbladis commented on #32117
Gentoo also has doubts whether CVE-2017-11164 is a valid bug or not https://bugs.gentoo.org/show_bug.cgi?id=CVE-2017-11164

I'm inclined to agree so I'm ticking this box.

[2017-11-29 03:54] Pauan commented on #23926
I just now ran into this when doing `sudo nixos-rebuild switch --upgrade`:

[code]

I have **plenty** of space on every partition, *except* for the `/boot` partition which is completely full.

Setting `boot.loader.grub.configurationLimit` to a lower number didn't help.

After deleting old generations using `sudo nix-collect-garbage --delete-older-than 60d` and then running `sudo nixos-rebuild swit

[2017-11-29 08:21] #17841 closed

[2017-11-29 08:44] teto opened #32155 "kitty terminal needs xsel"
## Issue description
Launch the terminal emulator kitty from another terminal, try to select some text and you will see
[code]

I believe it needs xsel as buildInput @tex

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.14.2, NixOS, 18.03pre121255.45a85eaceb (Impala)`
 - multi-user?: `yes`
 - sandbox: `no`
 - version: `nix-env (Nix) 1.11.15`
 - channels(teto): `"nixos-unstab

[2017-11-29 08:45] roberth commented on #31914
The manual setup is annoying, but until we have a better solution, we should try to make things easier by at least documenting them properly.

The `StrictHostKeyChecking=no` can be avoided by adding a module like this to the system config:

    { ... }:
    {
      programs.ssh.knownHosts = [
          {
            hostNames = [ "gitlab.com" ];
            publicKeyFile = ./pubkeys/gitlab.com.pub

[2017-11-29 08:46] berce opened #32156 "nixos/doc/manual: incompatibilities are not reflected"
## Issue description

Backward incompatibilities as listed in the release notes are often not reflected in the manual. Users first read the deprecated documentation, and when it doesn't work, they might discover it's a known backward incompatibility.

### Steps to reproduce

Search the manual for keywords in the backward incompatibilities section of the release notes.

e.g.: The [release notes](ht

[2017-11-29 08:55] peti commented on #32011
This is expected behavior.

[2017-11-29 08:55] #32011 closed

[2017-11-29 09:06] #25968 closed

[2017-11-29 09:26] orivej commented on #32084
I consider updating `patchutils` and automatically recomputing all fetchpatch hashes.

[2017-11-29 09:44] williammpratt opened #32158 "Touchpad configuration T570"
## Issue description

I would like to be able to move over half the distance of the synaptics touchpad in order to move over the full width of my 4K screen.

Additionally, if someone has any pointers ( ^-^ ) to make the hardware work as intended, that would be great.

## Technical details
 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.61, NixOS, 17.09.2182.7f6f0c49f0 (Hummingbird)`
 - multi-us

[2017-11-29 09:47] williammpratt opened #32159 "Bad 4K experience in installer and first run"
## Issue description
Installer should detect a 4K screen and modify the font and default configuration.nix to apply this. For instance KDE can handle high pixel configurations too and by default such settings should be used.

## Technical details
 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.61, NixOS, 17.09.2182.7f6f0c49f0 (Hummingbird)`
 - multi-user?: `yes`
 - sandbox: `no`
 - version: `ni

[2017-11-29 09:55] williammpratt opened #32160 "Firefox not compliant with General Data Protection Regulation"
## Issue description
By default " Allow Firefox to install and run studies"  is enabled. This should be disabled.

 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.61, NixOS, 17.09.2182.7f6f0c49f0 (Hummingbird)`
 - multi-user?: `yes`
 - sandbox: `no`
 - version: `nix-env (Nix) 1.11.15`
 - channels(root): `"nixos-17.09.2182.7f6f0c49f0"`
 - nixpkgs: `/nix/var/nix/profiles/per-user/root/channels/ni

[2017-11-29 10:45] vcunat commented on #32160
Nixpkgs follows upstream for this.  Each user can easily set the preference, though not on nix level ATM.  Until there's a consensus against this, I wouldn't touch it.

[2017-11-29 10:50] vcunat commented on #32159
I don't think *graphical* font needs changing.  *If* DPI is detected correctly, fonts should be sized correctly.  We would have to look more closely into the underlying problems of the respective desktop environments.

Let's close this and continue discussion on https://github.com/NixOS/nixpkgs/issues/12345

[2017-11-29 10:50] #32159 closed

[2017-11-29 10:58] eXt73 commented on #31999
I Confirm that. I have the same thing on both the generic kernel under ubuntu and on my builds [optimized kernels for Ubuntu and derivatives]. I have tested for Linux-4.14.3 inclusive and still have very strong slowdowns in intel graphics - including nvidia if it uses bumblebee. Under 4.13.x everything works fine and very efficient

[2017-11-29 11:50] vcunat commented on #31999
This is important for the next release, because 4.14 is to become the default kernel.

[2017-11-29 12:02] FRidh commented on #32011
Do we want it to lookup `git` from `PATH`? If so, why? Why not patch it to point directly to `git`? The reason I am asking is because of #32167. If a Python package depends on `git-annex`, but `git-annex` does a `PATH` lookup to find `git`, then there is no way of packaging a Python *module* that includes a hard reference to `git`.

[2017-11-29 12:06] basvandijk commented on #29873
@eqyiel sure. I'll probably have time for this coming weekend.

[2017-11-29 12:12] aszlig commented on #32084
@orivej: Just updating `patchutils` won't be enough, as mentioned previously because it won't handle file renames.

[2017-11-29 12:38] williammpratt commented on #32160
You are a Dutch entity `The NixOS Foundation is a registered non-profit organisation at the Chamber of commerce (Kamer van Koophandel) in Utrecht, The Netherlands. The KvK number is 63520583. ` as such you might want to follow upstream, but it would just be against the law.

The Mozilla Corporation is an American entity and doesn't need to abide by those rules.

[2017-11-29 12:57] peti commented on #32011
We have different variants of `git` and there's no one obvious choice that should be hard-coded. So far, the absence of a hard-coded path hasn't been an issue. People who install `git-annex` usually install `git`, too.

You could depend on a version of git-annex has a wrapper script to configure `$PATH` in such a case. You could also patch the python module to expose the hard-coded `git` version i

[2017-11-29 13:05] williammpratt opened #32168 "zoom-us Google Authentication does not work"
## Issue description
`kde-open5: /nix/store/r9g228s47lpn2yl9w0b3dcil7jw32r8s-zoom-us-2.0.98253.0707/share/zoom-us/libQt5Core.so.5: version `Qt_5.9' not found (required by /nix/store/bzhw8n43fy9j6gz64rw2m45ifv86fjln-kguiaddons-5.37.0/lib/libKF5GuiAddons.so.5)`

### Steps to reproduce
Run zoom-us
Click Sign In
Click Sign In With Google

## Technical details

 - system: `"x86_64-linux"`
 - host os: `

[2017-11-29 13:08] vcunat commented on #32160
First, I'm no lawyer.  The relation to the foundation is rather loose, I believe, but the infrastructure will be mostly in the EU anyway (and nixpkgs did e.g. turn a blind eye on some software patents).  @williammpratt: can you provide some (trustworthy) reference claiming that the Firefox default is against EU law?

[2017-11-29 13:08] yellowgh0st opened #32169 "nvidiaLegacy340 build fails with linuxPackages_4_13"
## Issue description

Unable to build **nvidiaLegacy340** driver with **linuxPackages_4_13**.

### Steps to reproduce

**1. Declare linux 4.13 kernel packages in configuration.nix**

`  boot.kernelPackages = pkgs.linuxPackages_4_13;`

**2.  Declare nvidiaLegacy340 driver in configuration.nix**

[code]

**3. Build with nixos-rebuild**

`sudo nixos-rebuild switch`

## Technical details

[code]

$ ni

[2017-11-29 13:13] vcunat commented on #32169
Upstream has a .104 version, so I would try bumping it...

[2017-11-29 13:38] FRidh commented on #32011
@dotlambda this is indeed a workable solution for #32167

[2017-11-29 13:41] williammpratt opened #32170 "Plasma5's Digital Clock Settings is empty"
## Issue description

This is not supposed to be a white square:

![image](https://user-images.githubusercontent.com/33880204/33377813-0e1a51d2-d513-11e7-88d3-96f5722e6679.png)

### Steps to reproduce
Right click Plasma5's time widget and click on Digital Clock Settings...

## Technical details
 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.61, NixOS, 17.09.2182.7f6f0c49f0 (Hummingbird)`
 - mu

[2017-11-29 13:48] williammpratt commented on #32160
@vcunat See https://www.whitecase.com/publications/article/chapter-8-consent-unlocking-eu-general-data-protection-regulation

[2017-11-29 13:51] srhb commented on #18315
@jwiegley How'd it work?

[2017-11-29 13:52] kosta opened #32171 "build zopfli on macos"
## Issue description

Zopfli does not build on macos: `platforms = platforms.linux;`

### Steps to reproduce

On MacOS:

`$ nix-env -iA zopfli
error: attribute ‘zopfli’ in selection path ‘zopfli’ not found`

in `nixpkgs/pkgs/tools/compression/zopfli`:

    nix-build -E '(import <nixpkgs>{}).callPackage ./default.nix {}' --pure
    error: Package ‘zopfli-1.0.1’ in /Users/kosta/code/3rd/nixpkgs/pkgs

[2017-11-29 13:55] Hodapp87 commented on #31828
Closing. I saw that https://github.com/NixOS/nixpkgs/issues/31492 is also open and this looks like a duplicate.

[2017-11-29 13:55] #31828 closed

[2017-11-29 14:48] bkchr commented on #32170
Did you restart? I also sometimes observe this bug and I think that it was often solved by a restart.

[2017-11-29 14:52] yegortimoshenko commented on #32171
[code]

[2017-11-29 14:56] orivej commented on #32160
Firefox asks the user to consent to contribute statistics, this is not a silent default.

[2017-11-29 14:58] edolstra commented on #32160
FWIW, the NixOS Foundation has nothing to do with this since it doesn't hold the copyright to NixOS/Nixpkgs and doesn't distribute it.

[2017-11-29 14:59] kosta commented on #32171
Thank you, this is awesome!

This works on macos, I'll adjust this to run only on macos and send a PR:

    postPatch = ''
        substituteInPlace Makefile --replace gcc cc --replace g++ c++ --replace -soname -install_name
      '';

[2017-11-29 15:27] yegortimoshenko commented on #32171
@kosta `gcc -> cc` and `g++ -> c++` should run on Linux as well, to allow the package to be built via clang. It is agnostic way to reference C compiler and C++ compiler, respectively.

[code]

[2017-11-29 15:37] williammpratt commented on #32160
@orivej They already put the checkmark in by default. That's against the law, even if you then press "OK".

@edolstra Please forward this to the legal entity controlling cache.nixos.org then.

[2017-11-29 15:42] williammpratt commented on #32170
@bkchr Thanks, I can try that, but a machine should never be restarted, IMHO. It is possible to even replace your kernel at run-time. So, an application should never require this.

[2017-11-29 15:54] bkchr commented on #32170
Yeah you are right. I think that after an update plasmashell is not restarted, but NixOS switches to a new generation. So, maybe restarting plasmashell already fixes the problem :)

[2017-11-29 16:16] kosta commented on #32171
Thank you, this is awesome!

This works on macos, I'll adjust this to run only on macos and send a PR:

    postPatch = ''
        substituteInPlace Makefile --replace gcc cc --replace g++ c++ --replace -soname -install_name
      '';

[2017-11-29 16:17] kosta commented on #32171
Ok I will adjust my code / PR. Thanks!

[2017-11-29 16:29] orivej commented on #32160
Since "Allow Nightly to send technical and interaction data to Mozilla" is unchecked and disabled in our Firefox builds, it is not clear that the enabled "Allow Firefox to install and run studies" will send Mozilla any data (that will not be sent when it is disabled), at least without your permission. [Here](https://medium.com/@mgrimes/shield-studies-go-faster-bet-smarter-1010ae8d8e) is the descri

[2017-11-29 16:33] kosta commented on #32171
Send PR #32176

[2017-11-29 16:37] jwiegley commented on #18315
I haven't had the chance yet to retool my environment; I rely on `myEnvFun` in quite a few ways.

[2017-11-29 16:47] williammpratt commented on #32170
https://www.lifewire.com/kubuntu-p2-2202573 suggests the use of a program named kstart. Is that also in NixOS? I don't have it.

worked in my case.

I don't know whether Plasma is designed to cope with such changes in general. Someone who designed Plasma should be able to answer that, but from a user experience perspective it is pretty bad to have to annoy people. On a multi-user system it would e

[2017-11-29 17:11] dezgeg commented on #29774
`staging` doesn't show these because most of them are coming from NixOS modules and/or tests, e.g.:  https://github.com/NixOS/nixpkgs/commit/dc5cd7800a004b9c58d0cdd5482d6980e3e47205 and https://github.com/NixOS/nixpkgs/commit/cb008da16755d1de08e930461eb8be742a3daabf.

Those ones showed up while trying to evaluate `trunk-combined` on aarch64, which fails because apparently the Hydra evaluator can't

[2017-11-29 17:43] williammpratt commented on #32160
@orivej
 ```Shield Studies can only collect Type 1 and 2 data. This is the same type of basic interaction data we collect by default as stated in our privacy policy. ```

Read their privacy policy and you will see what I mean. GDPR regulations are much stricter than you probably imagine.

[2017-11-29 18:06] #32169 closed

[2017-11-29 18:15] orivej commented on #32160
Indeed, but GDPR "shall apply from 25 May 2018", and Mozilla will release a compliant Firefox by that time. (If it is not compliant now: I can't judge yet.) [Here](https://blog.mozilla.org/netpolicy/2016/05/25/the-countdown-is-on-24-months-to-gdpr-compliance/) they say:

[2017-11-29 18:33] grahamc commented on #32160
Seems sufficient to me, thank you @orivej.

[2017-11-29 18:33] #32160 closed

[2017-11-29 19:30] kosta commented on #32171
Fixed by #32176

[2017-11-29 19:30] #32171 closed

[2017-11-29 19:36] wmertens commented on #31611
So uhm - kind of disappointing how this is lingering…

[2017-11-29 19:44] wmertens commented on #31611
See #32178 for an example fix. I image we should also put it in the changelog, and it's not something we can just merge into stable…

[2017-11-29 20:28] eskimor commented on #30087
Does not look like it, the test suite of leksah-server fails, that's probably the reason for the dontCheck above.

[code]

[2017-11-29 21:07] joncfoo commented on #32138
I believe this is failing since the `purescript` haskell package now has a dependency on `optparse-applicative-0.14.0.0`.  The build error is due to it trying to build with `optparse-applicative-0.13.2.0` which is the default version in nixpkgs.

I'd be interested in helping to fix this but am not sure where to override its dependent package.

[2017-11-29 21:23] yellowgh0st commented on #31797
I can reproduce it too.

[2017-11-29 21:25] yellowgh0st commented on #31797
Does SpaceFM work on other distros? Could this relate only to SpaceFM?

[2017-11-29 21:30] Hodapp87 commented on #31492
In case this needs fixed prior to 1.4, c3255fe8ec326d2c8fe9462d49ed83aa64d3e68f appears to be the commit that breaks this, though there seem to be some glibc 2.26 issues too (at least with CUDA).

[2017-11-29 21:45] yellowgh0st commented on #31640
This should fix nvidiaLegacy340:
https://github.com/MilhouseVH/LibreELEC.tv/blob/b5d2d6a171b6cc2fa00ff282bc08f63d8af121ec/packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-0010-kernel-4.14.patch

[2017-11-29 22:26] vcunat commented on #31640
Thanks, pushed.

[2017-11-29 23:24] yellowgh0st commented on #31640
@Vcunat if you look here https://pastebin.com/raw/tVL4DSdL
this fix two files for kernel 4.14.

I think kernel/nv-drm.c file should be patched too.
(According to https://devtalk.nvidia.com/default/topic/1025051/fully-working-patches-2-of-them-for-nvidia-driver-340-104-compiler-installer-file-and-linux-kernels-4-13-amp-4-14/?offset=5)

Previously this file always needed similar patch in order to ge

[2017-11-30 00:18] dhess opened #32185 "Downloads and store operations should not be performed as root"
## Issue description

I noticed on my new multi-user Nix install on macOS that fetches and store operations are performed as the `root` user. Builds are done by a `nixbld` user, as expected.

On macOS, at least, the store is `g+w` and the group is `nixbld`, so store operations should be done as a `nixbld` user for reasons of least privilege -- ditto for downloads.

On irc, @grahamc confirmed that

[2017-11-30 00:22] dhess commented on #32185
Whoops, I guess this needs to be reported on nix.

[2017-11-30 00:22] #32185 closed

[2017-11-30 00:56] yegortimoshenko commented on #28369
Given their set of changes over EmojiOne 2.x, I don't think that it makes sense to adopt EmojiTwo:
https://github.com/EmojiTwo/emojitwo/blob/master/CHANGELOG.md

They basically only added images for glyphs that have not made it into Emoji/Unicode specification.

[2017-11-30 01:05] yellowgh0st commented on #31640
I'm successfully running **nvidiaLegacy340**.

I have succefully built NVIDIA-Linux-x86_64-**340.104**.

With this patch only:

https://gist.githubusercontent.com/anonymous/46c78d06d9444c6ea574a1c77def3e42/raw/de58e60175cde2ca920efa56f71198f03987d1a5/nv_patch_340.104_linux_kernel_4.13

$ uname -a
Linux nixOs 4.13.16 #1-NixOS SMP Fri Nov 24 07:35:59 UTC 2017 x86_64 GNU/Linux

$ nixos-version
17.09.

[2017-11-30 01:57] adisbladis commented on #31640
Someone ticked off the ZFS box, this is in fact not working yet.
Only `zfsunstable` works on 4.14.

I expect a new ZFS release pretty soon.

[2017-11-30 03:25] copumpkin opened #32187 "Default to the new Amazon NTP service on our AMIs"
[As of today](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html), AWS automatically provides NTP over the unroutable 169.254.169.123 address, so I think we should just default our NTP settings to point there for our AMIs.

@edolstra any objections?

[2017-11-30 03:52] joelthompson commented on #32187
Note this won't work (yet) on C5 or M5 instance types.

[2017-11-30 05:01] orivej commented on #31640
Looking at the ArchLinux [package for NVIDIA 304.137](https://www.archlinux.org/packages/testing/x86_64/nvidia-304xx-dkms/), it can be seen that they use the same [patch](https://git.archlinux.org/svntogit/packages.git/plain/trunk/kernel-4.14.patch?id=358230cfd4897f5bea20b9274488ee51834a4e7d) for 304 as for 340.

[2017-11-30 07:10] etu opened #32190 "Vagrant has the wrong version of libruby included"
## Issue description
I'm trying to use vagrant with virtualbox after the 4.14 kernel upgrade, which with the 4.14 kernel upgrade forced a newer version of virtualbox which forced a newer version of vagrant. And somewhere in that vagrant upgrade this happened.

I'm on the latest nixos-unstable from nixpkgs.

### Steps to reproduce
So I have this Vagrantfile (that I can't share and haven't had time

[2017-11-30 08:53] vcunat commented on #31640
Thanks, fixed up the build that way.  I'm not sure if anyone uses 304 on NixOS anymore, as `.settings` didn't (and still doesn't) link on x86_64-linux.

[2017-11-30 09:04] vcunat commented on #31640
@yellowgh0st: right, patching `nvidia_uvm_lite.c` it's not done yet, but curiously it builds with 4.14 without patching it.  I hope I will look into it soon.  `nixos-unstable` doesn't yet contain the nvidia driver patches, but everything else should be there already.

[2017-11-30 10:16] etu opened #32195 "Gnome: Keyboard layout issues since 3.26"
## Issue description
I do not know how to describe this or how to pinpoint this issue.

But, probably since gnome 3.26 I have weird issues regarding keyboard layouts.

Some keys (mostly special keys) register as other keys than expected.

| Key Pressed | Event Registred | Comment |
| ----------- | ---------------------- | ------- |
| Left Arrow | ISO_Level3_Shift | Captured by xev |
| Down Arrow |

[2017-11-30 10:25] williammpratt opened #32196 "NixOS WiFi configuration"
## Issue description
`[   41.705588] iwlwifi 0000:04:00.0: Direct firmware load for iwlwifi-8265-33.ucode failed with error -2`

I would be happy to hear about any kernel version where it does work. I tried `boot.kernelPackages = pkgs.linuxPackages_latest;` too.

### Steps to reproduce

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.13.16, NixOS, 17.09.2182.7f6f0c49f0 (Humm

[2017-11-30 10:36] orivej commented on #32196
If it works with another Linux distribution, could you attach its dmesg?

[2017-11-30 10:37] williammpratt opened #32197 "Lightning/Thunderbird removing dismissing events fails silently"
## Issue description
Pressing dismiss all in a context with 10 events listed associated with a CalDAV results in no visible change. The calendar is configured to *not* be read-only.

![image](https://user-images.githubusercontent.com/33880204/33426468-3329de84-d5c2-11e7-8bca-089ba2ef3c29.png)

Since other people have reported making sure it is not read-only to work, I can only assume it is a NixOS

[2017-11-30 10:39] williammpratt commented on #32196
I don't know whether it works with another Linux distribution.

[2017-11-30 10:42] orivej commented on #32196
Could you post the complete `dmesg | grep iwlwifi` from NixOS here?

[2017-11-30 10:46] jtojnar commented on #32195
We are using libinput for handling keyboard events (https://github.com/NixOS/nixpkgs/pull/31995) and it does not like `Option "XkbRules" "base"`. You can remove the whole Xorg configuration block in https://github.com/etu/nixconfig/blob/deabec5bfd7210a8b3d607a16ed4874dc60025aa/profiles/desktop-gnome.nix#L14-L26, the GSettings override should be sufficient for both GNOME session and GDM thanks to #

[2017-11-30 10:52] orivej commented on #32158
You may set `services.xserver.libinput.enable = true` (and leave `services.xserver.synaptics.enable` unset) and configure the touchpad in your desktop settings (if libinput does not solve your problem outright).

[2017-11-30 10:56] etu commented on #32195
@jtojnar Oh, thanks. That works. 👍

[2017-11-30 10:56] #32195 closed

[2017-11-30 10:57] orivej commented on #32196
Ah, first of all try setting `hardware.enableRedistributableFirmware = true`.

[2017-11-30 11:07] williammpratt commented on #32196
[code]
`iwlist scan` doesn't return anything.

[code]

[2017-11-30 11:07] vcunat commented on #31640
Well, I patched the file anyway in e9550f290c.

[2017-11-30 11:15] orivej commented on #32196
`loaded firmware version 31.560484.0 op_mode iwlmvm` means that the firmware is successfully loaded. `iwlist scan` performs a scan only when you run it under `sudo`.

[2017-11-30 11:29] williammpratt commented on #32196
` wlp4s0    Interface doesn't support scanning : Network is down`

This is using wpa_supplicant.

[2017-11-30 11:36] williammpratt commented on #32196
Just in case, I rebooted without a direct ethernet connection and then I got the exact same response.

[2017-11-30 11:38] orivej commented on #32196
I'm not familiar with using wpa_supplicant directly, but `ifconfig wlp4s0 up` should solve this hurdle. Consider `networking.supplicant` configuration option which seems to provide some basic automation, or maybe NetworkManager (it has a terminal config tool `nmtui`).

[2017-11-30 12:06] #32187 closed

[2017-11-30 12:08] williammpratt commented on #32196
`SIOCSIFFLAGS: Operation not possible due to RF-kill`

[2017-11-30 12:11] williammpratt commented on #32196
After `rfkill unblock wifi` it was unblocked and I can now ping devices via the wireless network.

This is a bug, because I shouldn't be required to make such imperative changes to network configuration.

[2017-11-30 12:15] #32155 closed

[2017-11-30 12:16] jtojnar commented on #32155
Fixed in #32193

[2017-11-30 12:26] flokli opened #32199 "virtualbox headless fails to build in unstable"
## Issue description
virtualbox in headless mode currently doesn't compile on nixpkgs-unstable.

### Steps to reproduce
[code]

#### Build log:
[code]

## Technical details

results.
[code]

[2017-11-30 12:26] jtojnar commented on #14318
With the latest `nixos-unstable`, the GSettings override should be sufficient. The Xorg config, on the other hand will be bad: https://github.com/NixOS/nixpkgs/issues/32195

[2017-11-30 12:27] orivej commented on #32196
You could have accidentally toggled rfkill via a button on your keyboard.

[2017-11-30 12:27] #32196 closed

[2017-11-30 13:03] williammpratt commented on #32196
I checked and Fn + F8 on the laptop keyboard toggles the state displayed by `rfkill list`.

Are you sure that `nixos-rebuild switch` calls rfkill unblock wifi when wireless is enabled?

[2017-11-30 13:11] williammpratt commented on #32158
I tried the former (it was the first thing I tried), but that resulted in no working mouse pointer at all.

The mouse pointer I have now working is one without any multi-touch features where scrolling happens on the right side of the pad.

After I upgraded to the latest kernel, I was able to have a larger min and max speed, so the most important problem has been resolved.

[2017-11-30 13:45] yellowgh0st commented on #31640
@vcunat thank you for your work.

[2017-11-30 14:29] mrVanDalo opened #32206 "Keep Bitwig1 version as well"
## Issue description

There is Bitwig1 and Bitwig2. I for example have only a license for Bitwig1. And I will not pay frequently for features I don't use (because I'm not a professional musican).

Right now I use the overrideAttrs to install bitwig1, but it would be smarter to provide an older version as well (most likely there will be a bitwig3 someday).

I could create a pull-request, just wante

[2017-11-30 16:48] williammpratt commented on #32158
`services.xserver.libinput.enable = true;` and configuring the touchpad via `systemsettings5` works fine when you configure the scrollspeed with kernel 4.13.4. The 17.09 kernel doesn't seem to work well.

[2017-11-30 18:02] celentanos commented on #31999
I have the same issue in OpenSuse Tumbleweed with kernel 4.14. With kernel 4.13 was all ok.

[2017-11-30 19:07] yegortimoshenko commented on #32206
See 579219db498b9d3a01d7f62ccd1005ba96803e04. I think we shouldn't distribute paid updates for proprietary software under the same attribute without a way to opt out, this heavily breaks reverse compatibility.

I think that `bitwig-studio` should point to the latest version, with `bitwig-studio1` and `bitwig-studio2` pointing to specific major versions.

Derivation for 2.x branch may override 1.x,

[2017-11-30 19:13] datakurre commented on #20852
@fubarbaz @NeQuissimus Docker image labels are supported in ``config`` argument ``buildImage``:

[code]

our problem is probably that while our docs say

[Docker Image Specification](https://github.com/moby/moby/tree/master/image/spec) does not seem to be updated to include labels.

[2017-11-30 23:13] orivej commented on #32196
It does not and it should not.

[2017-11-30 23:19] orivej commented on #32158
Try `services.xserver.libinput.naturalScrolling = true`.

In what way?

[2017-12-01 00:29] #29959 closed

[2017-12-01 00:58] lopsided98 opened #32217 "Telegraf extraConfig is not recursively merged"
## Issue description

Telegraf's `extraConfig` option has type `attrs` rather than being a submodule. This attrset is simply converted to TOML to generate the configuration file. Since the configuration consists of a number of nested sets, unexpected behavior occurs when options are set in multiple modules. The set is only merged one level deep, whereas options that use submodules are recursively

[2017-12-01 03:10] sib-null opened #32218 "teamviewer .deb cannot be downloaded"
## Issue description
When updating `teamviewer` to the newest version (`12.0.76279`), it fails with the following message:

[code]

### Steps to reproduce
1. Update teamviewer to newest version. Ex: `nixos-rebuild switch --upgrade
`

## Technical details

Please run `nix-shell -p nix-info --run "nix-info -m"` and paste the
results.
 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.65, NixOS, 17.0

[2017-12-01 06:06] seagreen commented on #29504
Gotchya. I think the dropbox package also provides an executable named `dropbox`, which contributed to my confusion.

[2017-12-01 08:06] mimadrid commented on #30593
Hi @aswan89
This was fixed yesterday in master https://github.com/NixOS/nixpkgs/commit/458331408e04608efcb4e09fbdfea36839f9aa02
Could you give it a try?

Thanks in advance

[2017-12-01 08:18] #32190 closed

[2017-12-01 08:49] williammpratt opened #32219 "Plasma5/KScreen Scale Display button does not work in all cases"
## Issue description
Pressing the "Scale Display button" has no effect for the smallest of the two configured screens.

![image](https://user-images.githubusercontent.com/33880204/33474550-7aa35e66-d67b-11e7-9926-6f14ef2d3de1.png)

The result is that I cannot configure independent sizes for the two displays, which results in either really big displayed characters and buttons on the physically larg

[2017-12-01 09:13] williammpratt opened #32220 "udev timeout error for wireless device"
## Issue description
`nixos-rebuild switch` generates an error while only adding an extra package to the system environment.

### Steps to reproduce
Running `nixos-rebuild switch` generated this error, but I cannot reproduce it.

## Technical details
[code]

I have seen many more inexplicable delays when switching configuration. Perhaps there is an underlying driver issue.

[2017-12-01 09:13] vcunat commented on #12542
Well, just us mentioning it now makes it appear on top again, similarly to asking again.  In close future, I expect to still be quite busy with nixpkgs stuff that get more interest...

[2017-12-01 10:34] FRidh commented on #24494
Does this issue still occur on master and 17.09?

[2017-12-01 12:33] bkchr commented on #32219
That is no bug of NixOS. The X-Server does not support independent scaling per screen, just one scaling for all screens. You will need to wait for wayland.

[2017-12-01 12:57] #32219 closed

[2017-12-01 13:10] williammpratt commented on #32158
min and maxspeed had a smaller range in the Plasma5 configuration widget with that kernel.

[2017-12-01 13:17] orivej commented on #32158
Thanks for the info! Is this issue resolved now?

[2017-12-01 13:29] williammpratt commented on #32158
I was able to setup two-finger scrolling via the Plasma5 widget combined with the above configuration. I am satisfied :)

Closing.

[2017-12-01 13:29] #32158 closed

[2017-12-01 15:27] aswan89 commented on #30593
I just ran the Rstudio upgrade as prescribed and everything installed properly. It appears to be fixed.

[2017-12-01 15:27] #30593 closed

[2017-12-01 15:29] srhb commented on #10183
Which commit is supposed to fix this? With domain set, the issue persists for me.

[2017-12-01 16:18] rvolosatovs opened #32234 "Mopidy is broken"
## Issue description
After upgrading my system to `nixpkgs` commit cc1d7a358f5, `mopidy` fails to start
[code]

### Steps to reproduce
checkout cc1d7a358f5 , set `services.mopidy.enable = true`

## Technical details
[code]

[2017-12-01 17:08] #32218 closed

[2017-12-01 17:09] berce commented on #32150
`pkgs/applications/editors/ed/default.nix` contains:
[code]
I suspect the next code results in double application of the nix store directory:

[code]

I 'll investigate further.

[2017-12-01 19:59] matthewbauer commented on #21629
So not much available on this topic. Right now the most comprehensive info is what I found here:

https://www.chromium.org/developers/testing/isolated-testing/deterministic-builds#TOC-OSX

[2017-12-01 21:02] samueldr opened #32242 "17.09.2253.559ebb7ed02 image, both minimal and graphical, fail installation with: `changing mode of '/nix/store/[...]-update-users-groups.pl' to 100444: Read-only file system`"
## Issue description

The current iso cannot complete a `nixos-install`.

The issue has been reported by a [couple users on IRC](https://botbot.me/freenode/nixos/msg/94159173/), and I was able to reproduce easily.

Known problematic isos:

 * https://d3g5gsiof5omrk.cloudfront.net/nixos/17.09/nixos-17.09.2253.559ebb7ed02/nixos-graphical-17.09.2253.559ebb7ed02-x86_64-linux.iso
 * https://d3g5gsiof5o

[2017-12-01 21:03] nevvi opened #32243 "Fresh install failing (version 17.09.2253.559ebb7ed02)"
## Issue description
A fresh install of NixOS fails with both the minimal and the graphical installer.
Error message:
`changing mode of /nix/store/<hash>-update-users-groups.pl to 100444: Read-only file system`

### Steps to reproduce
Follow manual to install and on `nixos-install` the error mentioned above appears.

[2017-12-01 21:04] #32243 closed

[2017-12-01 21:05] nevvi commented on #32243
Submitted at same time in #32242

[2017-12-01 22:58] rkoe opened #32245 "tortoisehg: completely broken"
## Issue description
tortoisehg immediately exits, without displaying any GUI.

### Steps to reproduce
[code]

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.65, NixOS, 17.09.2253.559ebb7ed02 (Hummingbird)`
 - multi-user?: `yes`
 - sandbox: `no`
 - version: `nix-env (Nix) 1.11.15`
 - channels(user): `""`
 - channels(root): `"nixos-17.09.2253.559ebb7ed02"`
 - nixpkgs: `/ni

[2017-12-01 23:27] samueldr commented on #32242
Using `nixos-17.09.git.6b8833d-x86_64-linux.iso`, built from the previously release channel worked. The issue should be from a change between 6b8833d and 559ebb7ed02

[2017-12-01 23:44] berce commented on #32150
This might be related to a comment in `pkgs/applications/editors/ed/default.nix`:
[code]
The target directory is set with:

[code]
There's another configure flag, `--prefix`, that defaults to `/usr/local`. I think nix automatically replaces that by `$(out)`. Resulting in `$(out)/$(out)`.
`--exec-prefix` would default to '$(prefix)`, but since it was set, the bin files ended up in the right place.

[2017-12-01 23:52] dezgeg commented on #32150
Yes, removing `DESTDIR` is usually the correct option.

[2017-12-01 23:59] samueldr commented on #32242
[code]

Using this command:

[code]

The installation can complete.

Here are the nix-info for the system from which the working image was built. Don't know what factors could make it a different image, other than plain old corruption.

[code]

[2017-12-02 03:39] jtojnar commented on #11634
Reported it upstream: https://bugzilla.gnome.org/show_bug.cgi?id=791119

[2017-12-02 03:56] jtojnar commented on #11634
You are right, that is the problem.

Adding `${gst_all_1.gst-plugins-good}/share/gstreamer-1.0/presets` to the `GST_PRESET_PATH` variable fixes this issue.

[2017-12-02 04:15] jtojnar commented on #15790
I opened an upstream issue: https://bugzilla.gnome.org/show_bug.cgi?id=791120

[2017-12-02 06:01] jtojnar commented on #15790
Running cheese with `G_MESSAGES_DEBUG=all` environment variable revealed missing path to bubblewrap.

[code]

After patching `gnome_desktop`, user still needs to have thumbnailers (`gdk_pixbuf` and `totem`) installed, for now I have added them as dependencies like I did in #29970.

The infinite loop is still an upstream error but with thumbnailers, it at least should not appear.

[2017-12-02 06:47] volth commented on #32086
AFAIR, migration requires same ```qemu``` version installed at the same location.
There were similar  issues with ```CentOS```<->```Debian``` migratrions

[2017-12-02 09:02] peti opened #32249 "Core fonts disappeared from nixos-unstable"
Somewhere between 2f1a818d00 and 4cbbecc85db NixOS has lost some core fonts, apparently. The issue manifests itself on my system such that many programs don't start any more, complaining about missing fronts. The systemd journal doesn't offer much information, it just says:

     xsession[1377]: user error (createFontSet)

[2017-12-02 10:25] orivej commented on #32249
May this be https://github.com/NixOS/nixpkgs/pull/32223?

[2017-12-02 11:14] alexanderkjeldaas commented on #32242
I got this today when installing a clean system using the official image.

[2017-12-02 11:16] alexanderkjeldaas commented on #32242
I feel like this issue should be merged or kept open until a test is available.

[2017-12-02 11:53] orivej commented on #32245
It may have been broken since f0719b5a0b289a011cdcc5c6da3d2fc6ed677917. I have added a test to prevent this in the future: ae2cf0bee8da88e2f4ecf8e227a7ca56f32c0171. Fixed in dccdfca8096c98b09844e99fefaf56ffdde49bf0.

[2017-12-02 11:53] #32245 closed

[2017-12-02 13:08] manveru commented on #31884
This seems to work for me.

[code]

[2017-12-02 13:39] samueldr commented on #32242
[Another report on IRC, for unstable though, with unknown specific image](https://botbot.me/freenode/nixos/msg/94181815/).

[2017-12-02 14:14] backuitist opened #32252 "Fish vendor initialization scripts not taken into account"
## Issue description

After installing `fzf` the fzf function (fzf_key_bindings) becomes available (it can be found through `$fish_function_path`) but it is not automatically called, as per `/run/current-system/sw/share/fish/vendor_conf.d`.

### Steps to reproduce

1. Enable fish (by default vendor init scripts are activated)
2. Install `fzf`
3. Open a new fish shell, hit `Ctrl+r`, nothing happen

[2017-12-02 14:17] danbst commented on #31884
@manveru yes, except that it won't work for some packages (`sc2-headless`, as in example above)

[code]

[2017-12-02 14:28] manveru commented on #31884
Yeah, while that's unfortunate, for me it's the same as if the package didn't exist if it fails to evaluate even the most basic metadata... would it even install on any machine?

[2017-12-02 14:41] danbst commented on #31884
@manveru For many packages - yes, those are broken/deprecated. But for `sc2-headless` - no, it fails because user hasn't accepted license.

[2017-12-02 14:55] dezgeg opened #32254 "Build cargo-vendor from source"
Since https://github.com/NixOS/nixpkgs/commit/491e5d8649e8587654a81baf119e3b66bce65102 rustc works on aarch64, but cargo doesn't because we depend on binary releases of cargo-vendor (https://github.com/alexcrichton/cargo-vendor/releases) but upstream doesn't provide binaries for non-x86.

[2017-12-02 15:06] yellowgh0st commented on #32242
Hydra-built 18.03pre121253 2f1a818d00 affected too.

https://d3g5gsiof5omrk.cloudfront.net/nixos/unstable/nixos-18.03pre121253.2f1a818d00/nixos-graphical-18.03pre121253.2f1a818d00-x86_64-linux.iso

I reproduced it the same way.

http://i.imgur.com/ylRIf2g.png

[2017-12-02 17:13] lheckemann commented on #25172
Fixed in #26265

[2017-12-02 17:13] #25172 closed

[2017-12-02 17:14] lheckemann commented on #25476
I haven't encountered this any more, and nobody else has confirmed this, so I'll close it.

[2017-12-02 17:14] #25476 closed

[2017-12-02 17:29] kevlar1818 commented on #32059
I started looking into how to fix this, and from I've gathered I thought I could simply add `python` to `buildInputs`. This does not work, however, and I continue to get the error @davidak mentioned just above.

I'm happy to fix this if I can get some clarification on the work that needs to be done.

[2017-12-02 17:40] orivej commented on #32242
It's a wonder that `nixos.tests.installer.simple` [passes](https://hydra.nixos.org/build/65203535) when on my hydra (with `update-users-groups.pl` being writable among others) it fails just like the installer on the cdrom. Are the published images built on different hosts from those that run the tests?

[2017-12-02 18:40] orivej commented on #32242
I tried to compare machines that build [nixos.iso_minimal](https://hydra.nixos.org/job/nixos/unstable-small/) and machines that run [nixos.tests.installer.simple](https://hydra.nixos.org/job/nixos/unstable-small/nixos.tests.installer.simple.x86_64-linux). These sets are almost disjoint (with `wendy` and `52.91.90.209` building and `lucifer` and `packet-t2-4` testing), however occasionally the test

[2017-12-02 19:53] nh2 opened #32262 "logstash listening to 0.0.0.0 by default"
## Issue description

Since https://github.com/NixOS/nixpkgs/commit/fc7098abf772ad5b4e737f4e6df1fd8b7e9e7f2b the `services.logstash.listenAddress` defaults to `0.0.0.0` -- listening to all IP addresses.

I'm not sure that is a good default from a security perspective, as logging infrastructure is usually used internally only.

I propose to change the default to `127.0.0.1` instead, as it is for `s

[2017-12-02 19:54] datakurre opened #32263 "python: How to make result of overridePythonAttrs overridable?"
## Issue description

The currently recommended way of overriding Python packages seem to be using ``overridePythonAttrs`` function of ``buildPythonPackage``. Unfortunately, ``overridePythonAttrs`` does not seem to be overridable by itself. If I manage to chain multiple ``overridePythonAttrs`` (e.g. with fixed-points overlays) I get ``attribute 'overridePythonAttrs' missing``.

Yet, ``overrideDeri

[2017-12-02 20:01] davidak commented on #32242
On my system (Macbook 2,1 with coreboot) `nixos-17.09.2253.559ebb7ed02` even don't boot.

![img_20171202_192030](https://user-images.githubusercontent.com/91113/33519258-cc4bd9b8-d7a3-11e7-9218-101a5f300427.jpg)

`17.09.2075.ac35504065` works.

[2017-12-02 20:21] orivej commented on #32242
This is a different issue, and looks like the problem with the media (incompletely written image, or bad USB connection).

According to the hypothesis that the only issue is `rw` files on some build machines, one of the latest good `release-17.09` images is [nixos-minimal-17.09.2241.f9390d652f9-x86_64-linux.iso](https://hydra.nixos.org/build/65100017/download/1/nixos-minimal-17.09.2241.f9390d652f9

[2017-12-02 20:47] thblt opened #32264 "tex from tetex segfaults"
## Issue description

The `tex` program from the `tetex` package segfaults.

### Steps to reproduce

Run:

[code]

type anything, then return:

[code]

## Technical details

[code]

[2017-12-02 20:56] williammpratt commented on #32059
@kevlar1818 https://stackoverflow.com/questions/31659527/what-is-the-meaning-of-sha256-in-nixpkgs-fetchgit-where-does-the-value-come-fro

[2017-12-02 21:04] orivej commented on #32264
I can confirm this, but the `tetex` package may be obsolete. You can use `nix-shell --pure -p texlive.combined.scheme-small --run tex` (and also prebuilt `scheme-basic`, `scheme-medium`, or source-based `scheme-tetex`, or compose your own set of packages).

[2017-12-02 21:09] thblt commented on #32264
@orivej You're right, but building auctex depends on tetex somehow.  I hit the problem when trying to build `release_11_91`:

[code]

[2017-12-02 22:14] #11634 closed

[2017-12-02 22:14] #15790 closed

[2017-12-03 01:06] davidak opened #32266 "rename mbpfan to macfan"
It does not only work on MacBook Pros, but also on Macbooks and probably other Mac hardware.

So i suggest to rename it to macfan, similar to thinkfan.

cc @cstrahan

[2017-12-03 01:10] dezgeg commented on #32242
I suppose 52.91.90.209 is an EC2 machine built from the images before the commit https://github.com/NixOS/nixpkgs/commit/f5b3f2c5a7f2b51e80ac32fb47fd1d7d3e475ad1.

[2017-12-03 01:14] cstrahan commented on #32266
My only concern is that it might be less grep-able, if people already know about the upstream package’s name. Then again, if we consider the NixOS module to be it’s own abstract thing, and treat the underlying package as just an implementation detail, I’d understand.

I’ll defer to the other Mac users. Off the top of my head: @copumpkin, @LnL7, what are our thoughts?

[2017-12-03 01:41] davidak commented on #32266
Ah, right. Then i suggest it upstream.

[2017-12-03 01:52] dezgeg commented on #32242
I pushed a hack (574526d510bbfabd66fc251ef6054604c8221ca3) that should prevent building ISOs with such bad paths.

[2017-12-03 03:35] adelbertc commented on #29224
@jbaum98 Hey, sorry for ping, but I noticed you were the one who added Darwin support for pdfpc [here](https://github.com/NixOS/nixpkgs/commit/12da885e45c6abe3bad371e70dcd1f2760e40735) - wondering if you actually got `pdfpc` working for you?

[2017-12-03 03:38] adelbertc commented on #29224
Disregard, this whole thing works, it just popped up a window buried under other windows.

[2017-12-03 03:38] #29224 closed

[2017-12-03 03:54] mikoim commented on #31797
At least, SpaceFM 1.0.5 works on Fedora 27.

[2017-12-03 05:24] orivej commented on #32242
Good idea to break invalid builders! It works. I have also confirmed that my hydra cluster that exhibits the same issue was deployed from the image with wrong permissions and times in /nix/store, and all the wrong paths existed from the moment of deployment.

[2017-12-03 06:12] ravloony commented on #32138
Fixed in #32181

[2017-12-03 06:12] #32138 closed

[2017-12-03 08:42] MHOOO commented on #32072
Had a similar issue today, where sddm (& lightdm) were unable to be used together with plasma 5 (sddm greeter stayed black, whereas lightdm simply fallback to none+xmonad) .

Deleting the qmlcache dir solved this for me.

[2017-12-03 09:46] 22459 commented on #25178
I also have this issue in a much more hacky environment I'm working in.

( I wanted to compile something with musl so that I could get the size into the couple tens of kilobytes range, but it would bloat up to glibc sizes and I managed to confirm that nix was passing a lot of gcc stuff in. Good to know about NIX_DEBUG=1 . )

[2017-12-03 10:07] 22459 commented on #25178
A temporary hack that seems to work is to pass the path to your GCC via the REALGCC env var, this is used by musl's musl-gcc wrapper. So you can do something like
`REALGCC=$(grep -Eo '".+/gcc"' $(which gcc) | tr -d '"') musl-gcc something.c`

I don't know what this will break.

[2017-12-03 10:47] #27171 closed

[2017-12-03 13:15] Mounium commented on #20390
I'm not sure if the problem is related but amdgpu-pro still doesn't build on current master:

`glamor_picture.c: In function '_glamor_upload_bits_to_pixmap_texture':
../include/os.h:78:32: error: implicit declaration of function 'reallocarray' [-Werror=implicit-function-declaration]
 #define xallocarray(num, size) reallocarray(NULL, (num), (size))
                                ^
glamor_picture.c

[2017-12-03 13:18] TerkiKerel opened #32272 "MPV or GnomeMPV not play video files"
Hi,

I am using Ubuntu 16.04 with latest nix stable version.

I install mpv. When I play a audio file it plays from command line. But when I start a video file it gives this error:

libGL error: unable to load driver: i965_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: i965
libGL error: unable to load driver: i965_dri.so
libGL error: driver pointer missing
libGL err

[2017-12-03 13:30] TerkiKerel commented on #30905
Can you please inform here if yu will not change the executable name.

If yes please tell me how can I change it locally if possible?

Thank you

[2017-12-03 13:38] laMudri opened #32273 "ibus-mozc not starting (possibly libc-related)"
## Issue description

As of a few days ago on nixos-unstable, switching to Mozc in IBus does not change the input method to IBus. When running `ibus-daemon -rxv`, the error message is the following.

[code]

### Steps to reproduce

1. Start IBus in a non-Mozc input method.
2. Switch to Mozc using keyboard or panel menu.

## Technical details

 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.66,

[2017-12-03 13:45] vcunat commented on #20390
I don't think that's current master.  `xwayland` is a different version now, and it [does build on Hydra](https://hydra.nixos.org/job/nixpkgs/trunk/xwayland.x86_64-linux).

[2017-12-03 13:47] vcunat commented on #20390
I believe `amdgpu-pro` builds on both maintained branches now, and the issue would be different anyway...

[2017-12-03 13:47] #20390 closed

[2017-12-03 14:33] vcunat commented on #32273
Most likely mismatching versions of some packages.  Impure plugins like ibus are sensitive to some kind of changes.  I would try force-updating all related packages (and NixOS) to the same channel revision.

[2017-12-03 14:54] laMudri commented on #32273
Sorry, how can I force-update things? I have all of my global packages installed via a single `buildEnv` called `everything`, which I usually update by running `nix-env -iA g.everything`.

[2017-12-03 15:24] vcunat commented on #20390
Oh, I forgot that `amdgpu-pro` forces older server branch.  It builds on master _now_ (e001bd2c).

[2017-12-03 15:31] vcunat commented on #32273
That should do it.  Is that from the same channel as your NixOS?

[2017-12-03 15:42] vcunat commented on #31889
Then I wonder why they [just now published](https://lists.x.org/archives/xorg-announce/2017-December/002828.html) their driver into X.org repo...

[2017-12-03 15:46] laMudri commented on #32273
I'm fairly sure it is, and I've rebooted since updating. Just some things to check that it is:
[code]
Plus OP's technical details.

[2017-12-03 16:49] hyperfekt opened #32279 "Key sharing for bcachefs and ecryptfs"
## Issue description
Since systemd version 233 each system service gets their own kernel keyring. This prevents disk decryption in cryptsetup, ecryptfs and bcachefs from sharing the keys with other services/instances that need them, making the volumes unmountable.
(A `bcachefs ([GUID]): error requesting encryption key` message is added to the kernel message buffer when attempting to do so.)
In ver

[2017-12-03 16:55] orivej commented on #30905
Put this into your Nixpkgs config (`~/.config/nixpkgs/config.nix`):
[code]
Then install with `nix-env -iA my-firefox-esr` or `nix-env -i firefox-esr`. (Adapt `firefox-esr` to the version you prefer.)

[2017-12-03 16:55] turion opened #32280 "freeglut/Haskell problem"
## Issue description

When developing OpenGL programs under NixOS in Haskell, they give an error message when run.

### Steps to reproduce

Try to build and run a Haskell/OpenGL project, like `https://github.com/turion/sonnendemo`.

[code]

I think `glutInit` should be supplied by `freeglut`. On all other OSes I tried (Windows, Ubuntu), it worked.

## Technical details

[code]

[2017-12-03 17:06] davidak commented on #32266
So, my suggestion to rename the package was closed, what i fully understand.

We could still rename our service. To find it in a search for "mbpfan", the package name should be included in the description for `.enable`. Same for "applesmc module".

[2017-12-03 17:18] hyperfekt commented on #32279
I stumbled upon [this](https://translate.google.com/translate?sl=ru&tl=en&u=https%3A%2F%2Fwww.linux.org.ru%2Fforum%2Ftalks%2F13789832) discussion of the same issue.
Apparently there is not much we can do here, since mount can be launched in any context and will not have the property KeyringMode=shared property?

[2017-12-03 18:28] phi-gamma commented on #31301
Same problem here with an RX 550 that worked fine on Arch a couple months ago:

    # lspci -v -nn -s 01:00.0
    01:00.0 VGA compatible controller [0300]: Advanced Micro Devices, Inc. [AMD/ATI] Lexa PRO [Radeon RX 550] [1002:699f] (rev c7) (prog-if 00 [VGA controller])
    	Subsystem: Sapphire Technology Limited Device [1da2:e367]
    	Flags: bus master, fast devsel, latency 0, IRQ 27, NUMA node

[2017-12-03 18:36] phi-gamma commented on #31301
Well, after logging on with SSH, I could restart the display manager
and it works. Still, this should work on bootup, without the blacklist
workaround.

[2017-12-03 18:45] phi-gamma commented on #31301
As @JamesTheAwesomeDude writes, switching to different
framebuffer consoles no longer works.

[2017-12-03 18:59] vcunat commented on #32242
I think we should fix the underlying problem on 17.09 as well.  Do you think it's better to have b8cc69b3 or f5b3f2c or something else?

[2017-12-03 19:14] dezgeg commented on #32242
I think they are already all cherry-picked, but the EC2 base images are still very old or something.

[2017-12-03 19:38] vcunat commented on #25178
First, `stdenv` (in particular the wrapped compiler inside) has knowledge of the loader it wants to use, so you can't just use our stock glibc stdenv.  Second, our wrapper would also need fixes.

With https://github.com/vcunat/nixpkgs/commit/bcc0f8045 I can do this
[code]

(Beware that `wrapCCWith` has changed significantly not too long ago.)

/cc @Ericson2314 about ideas on the best way to replac

[2017-12-03 19:41] vcunat commented on #32242
Right, the first way is picked.  I don't know why I didn't check that before posting :-/

[2017-12-03 19:43] vcunat commented on #32242
@edolstra: apparently we would better regenerate EC2 images of Hydra build machines. (Or something like that; I doubt our permissions can do it.)

[2017-12-03 19:44] vcunat commented on #32242
In any case, with the hack in nixpkgs now, the issue shouldn't be experienced in newly published images.

[2017-12-03 20:12] alexanderkjeldaas opened #32284 "reboot -f takes ages, services don't exit, and ksoftirqd using lots of CPU."
## Issue description

reboot -f takes ages, but at last does reboot.
While reboot is in progress, the machine is extremely sluggish, but it's possible to check the processes using "ps aux" using ssh.

New machine, new install.  Might be hardware/bios issue.  Fresh kernel.

### Steps to reproduce

kernel 4.15rc1 (haven't tested anything else).
X enabled.  unstable channel.  otherwise pretty vanilla

[2017-12-03 20:40] alexanderkjeldaas commented on #32284
This is likely a kernel bug related to amdgpu.  Closing

[2017-12-03 20:40] #32284 closed

[2017-12-03 20:45] dezgeg commented on #32242
Well we still don't have an actual channel with working ISOs since the build job very frequently ends up on the EC2 nodes. So reopening until the problem is really gone.

[2017-12-03 21:29] jtojnar commented on #19590
Apparently the Control Center derivation only provides some keybindings:

[code]

the others are part of other packages like GNOME Shell `$(nix-build -A gnome3.gnome_control_center)/share/gnome-control-center/keybindings/50-gnome-shell-system.xml` or GPaste.

The Control Center loads the bindings [here](https://github.com/GNOME/gnome-control-center/blob/0687a9b3aabddb3145f2d3b6dc41dad42d17bf88/pan

[2017-12-03 22:35] domenkozar commented on #31697
See https://github.com/haskell/haskell-ide-engine/issues/117#issuecomment-348822045

[2017-12-03 23:23] jtojnar opened #32293 "Do not include helper packages in GNOME closures"
The `wrapGAppsHook` adds every interesting directory of every dependency to the path, even when the dependency is only needed during build. For example, the binaries of `appstream-glib` or `gobjectIntrospection` are often used during build but the resulting closure does not need to include them. We need to split out a `bin` output for such tools.

[2017-12-03 23:45] jtojnar commented on #27562
Is this still an issue?

[2017-12-03 23:51] jtojnar commented on #14168
I cannot reproduce this on current unstable. Is this still happening with GNOME 3.26?

[2017-12-04 01:02] jtojnar opened #32296 "Unpropagate gobjectIntrospection dependency from atk"
There should really be no need to propagate `gobjectIntrospection`, it is only used for generating the gir files.

We should encounter only minor issues with packages like `gnome3.gnome-characters` or `gnome3.gnome-bluetooth`, which do not list the dependency explicitly.

Yet when I try to build the depending packages, `gnome3.gnome-screenshot` fails with the following, seemingly unrelated error:

[2017-12-04 01:11] lierdakil opened #32297 "atom-1.22.0: `apm publish` doesn't work"
## Issue description

Atom's `apm publish` stores credentials using [`keytar`](https://www.npmjs.com/package/keytar) package, which depends on `libsecret`. `libsecret` is apparently out of scope for `apm` in Nix though.

### Steps to reproduce

Install Atom (`nix-env -i atom`), then try to publish any package. Depending on version, different errors will be reported, but ultimately it will fail.

#

[2017-12-04 01:44] grahamc commented on #8107
@vcunat how would you feel about changing to `latarcyrheb-sun32`? Does this font support the necessary characters? It is much larger, which is very helpful for users on modern laptops.

[2017-12-04 02:04] chris-martin commented on #14168
I still cannot attempt to reproduce due to https://github.com/NixOS/nixpkgs/issues/14168#issuecomment-334958454

[2017-12-04 02:05] chris-martin commented on #14168
@teh Yes, I'm using GDM. Should I try rebuilding from the unstable channel?

[2017-12-04 02:06] jtojnar commented on #14168
Yes, `switch` no longer restarts `display-manager` on unstable.

[2017-12-04 02:13] jtojnar commented on #32296
https://github.com/jtojnar/nixpkgs/tree/atk-cleanup

[2017-12-04 03:52] jtojnar commented on #32296
Apparently, the issue is that _its_ files from `apstream-glib` are not added to `XDG_DATA_DIRS`. `gobjectIntrospection` setup hook does that. Should we add a similar setup hook to `appstream-glib`? What about other derivations providing `its` files?

[2017-12-04 04:12] orivej commented on #32296
Since the command that fails without `its` files is `msgfmt` from `gettext` — see its [NEWS](https://github.com/autotools-mirror/gettext/blob/981c523ddbd1462970335a1069573ca3bdd3df5e/NEWS#L19) — I think that `gettext` derivation is responsible either for populating `GETTEXTDATADIRS`, or, less likely, for propagating a build dependency that does nothing but populate `XDG_DATA_DIRS`.

[2017-12-04 04:39] jtojnar commented on #3277
Fixed by #24944 and #25185

[2017-12-04 04:39] #3277 closed

[2017-12-04 08:12] vcunat commented on #8107
@grahamc: hmm, yes, probably, until we have some auto-detection (during install?).  On my ~96 DPI screen it's huge, but not unusable.

[2017-12-04 08:34] yegle commented on #23855
I'm still able to reliably reproduce this issue with the following `default.nix` file. If I remove `matplotlib` then everything would be fine.

I wonder if this is really fixed?

[code]

[code]

[2017-12-04 09:05] davidak commented on #32059
Maybe the python path needs to be substituted in the python plugin scripts of netdata?

[2017-12-04 09:58] ckauhaus commented on #32117
Got anyone an idea what's going on with CVE-2017-11551 (libid3tag)?

[2017-12-04 11:18] datakurre commented on #32263
I tried to look into how this is done for ``overrideAttrs``, but this seem be still beyond my Nix skills.

[2017-12-04 12:58] Mounium opened #32306 "Booting into profile with amdgpu-pro shows only black screen"
## Issue description

Thanks to e001bd2c2f698037c6968608523c609cddac813b I can finally build amdgpu-pro, but it only displays a black screen. Viewing journalctl's results afterwards doesn't show anything suspicious, it tries repeatedly to start xorg, but fails and gives up. Similar thing happened on ubuntu using amdgpu-pro 17.40 - although I don't remember what was actually the problem -, which co

[2017-12-04 14:10] vcunat commented on #32242
So, after dozens of job-restart commands over several hours, I think all the four primary channels are now after your hack-fix commit. :tada:

[2017-12-04 14:53] williammpratt opened #32310 "Introduce a managed installation of Nix"
## Issue description
`curl https://nixos.org/nix/install | sh` is not ready for general usage.

A user tried to run this script on his MBP and it locked up his machine. After a reboot running it again, results in the user being required to do manual work (looking at /etc/profile for example) with a message that an issue could be opened on GitHub.

Another usability problem is that no remaining tim

[2017-12-04 15:01] FRidh commented on #23855
@yegle that's due to how you create your "environment". Where did you read to do it like this? During build-time all packages are there, but `buildEnv` does not create the necessary wrappers and therefore during runtime Python cannot find the required Python packages.

[2017-12-04 15:54] yegle commented on #23855
/facepalm

Never realize I was doing it wrong. I followed https://ariya.io/2016/06/isolated-development-environment-using-nix and wrote the file.

What would be the right way to do it then? (Not trying to hijack this thread but my nix force is weak)

[2017-12-04 15:58] andir commented on #31747
PR #32038 fixes  nginx, nginxShibboleth &nginxStable

[2017-12-04 16:51] FRidh commented on #23855
search for `withPackages` on https://nixos.org/nixpkgs/manual/#python

[2017-12-04 16:53] FRidh commented on #23855
In the example you referenced it works because `nix-shell` is used which runs a hook that builds up `PYTHONPATH` from the `buildInputs`. This is/was a common way of working, but should not be recommended.

[2017-12-04 18:12] vcunat commented on #32082
Merged to master, but not all caveats seems solved yet.

[2017-12-04 19:11] FRidh commented on #32263
Could you test https://github.com/NixOS/nixpkgs/pull/32318.

[2017-12-04 19:13] FRidh commented on #32310
Thanks for the reporting, but this is the wrong issue tracker. Please have a look at https://github.com/NixOS/nix.

[2017-12-04 19:13] #32310 closed

[2017-12-04 19:24] andir commented on #32254
Any ideas on how to get started with this? We probably have to (semi) manually keep track of the dependencies (of one version)?

Once the first version exists we could probably refer to that as some kind of bootstrap stage to build newer versions of `cargo-vendor` using itself?

[2017-12-04 19:29] FRidh opened #32320 "vmTools: support specifying multiple repositories"
## Issue description

The distro's listed in vmTools currently take a single list of packages as arguments. It should support multiple so that we can include other packages as well. This is needed in order to build a Nix RPM (https://github.com/NixOS/nix/pull/1141#issuecomment-347374010) on CentOS.

[2017-12-04 19:30] dezgeg commented on #32254
I've learned since that there's a tool called carnix (https://github.com/NixOS/nixpkgs/pull/31150) that would probably help here.

[2017-12-04 19:31] FRidh commented on #32320
cc @therealpxc @bhipple

I was actually looking at this during the weekend, because I also want to build an RPM for on CentOS. If I understood the code correctly, it uses import from derivation to build the package list. I think we could write a script that merges the xml files and wrap that in a Nix function.

[2017-12-04 19:40] yegle commented on #23855
Finally figured it out. Thanks @FRidh!

Post here just in case anyone ran into the problem:

[code]

[2017-12-04 19:45] #32263 closed

[2017-12-04 23:33] domenkozar commented on #32082
@vcunat what's missing?

[2017-12-04 23:39] orivej commented on #32150
Fixed by #32322.

[2017-12-04 23:39] #32150 closed

[2017-12-05 00:35] dezgeg opened #32326 "18.03 Zero Hydra Failures - aarch64 edition"
See [the generic description](https://github.com/NixOS/nixpkgs/issues/36453).   This mainly makes a place to discuss aarch64-specific issues for ZHF.

As of https://hydra.nixos.org/eval/1430755, there are 263 aarch64-specific failures (here the exact criterion is: never succeeded in the trunk jobset on aarch64, is currently succeeding on x86_64, is not broken only due to failing dependencies):

-

[2017-12-05 03:24] hedning commented on #32272
Seems like  you ran into this unsolved problem:  #31189.

A workaround is described [here](https://github.com/NixOS/nixpkgs/issues/9415#issuecomment-134051412), involving creating `/run/opengl-driver/` and making some symlinks to your system opengl drivers.

[2017-12-05 07:18] wmertens commented on #31611
@fpletz @globin shall I just merge #32178? How do I mark it as a breaking change? What should we do about our stable branches?

[2017-12-05 07:23] vcunat commented on #32082
@domenkozar: see the end of that PR's discussion: https://github.com/NixOS/nixpkgs/pull/32112

[2017-12-05 08:01] andersk opened #32330 "nvidia-x11 384.90 no longer compiles with linuxPackages_latest 4.14.3 on NixOS 17.09"
## Issue description

My NixOS 17.09 configuration with `linuxPackages_4_13` broke on upgrade because 4.13 was removed from the stable release branch yesterday (b6428f9e9cf0e2bb773398097c236eb3fe69f71c). I tried changing `4_13` to `latest` which had been bumped from 4.13 to 4.14 (d390d843cc6a752a5b39dcc8ce5ad9985a94afd0), but now the nvidia driver doesn’t compile (see below).

### Steps to reprodu

[2017-12-05 08:06] 573 commented on #15168
When adding the `--volume /etc/protocols:/etc/protocols` flag to the docker run command and running `nix-shell --pure -p "haskell.packages.ghc802.ghcWithPackages (pkgs: with pkgs; [stack])"` inside the container I get:

Downloading template "new-template" to create project "foo" in foo/ ...
HttpExceptionRequest Request {
  host                 = "raw.githubusercontent.com"
  port                 =

[2017-12-05 08:17] 573 commented on #15168
I just tried with adding `--volume /etc/ssl:/etc/ssl` as well which worked.

[2017-12-05 08:28] andersk commented on #32330
Cherry-picking 2517cea04075fce96268431a03ec43324cb08859 “nvidia-x11-stable: 384.90 -> 387.22” to release-17.09 would fix this.

[2017-12-05 08:28] peti opened #32332 "ghcWithPackages is broken after #32112"
I can no longer create a non-trivial `ghcWithPackages` environment in e5e32822df935484f9baff019f692a0c6812f1c4. For example:

[code]

This seems related to #32112?

Ping @nc6, @domenkozar.

[2017-12-05 08:46] #32332 closed

[2017-12-05 08:51] FRidh commented on #32320
Another option, but requiring more work, is having a maintainer script that parses the XML and creates JSON or a Nix expression listing per package its dependencies and source. We could create for each XML file such a file, and then use a fixed-point combinator to merge the "lists".

[2017-12-05 10:49] nc6 commented on #32332
@peti This works fine for me on that branch:

[code]

If it's broken in master, I assume it's some other commit that's broken it.

[2017-12-05 11:09] peti commented on #32332
I responded in https://github.com/NixOS/nixpkgs/pull/32112#issuecomment-349269486.

[2017-12-05 11:09] andir opened #32337 "rawtherapee-git: outdated, can it be removed?"
## Issue description

[rawtherapee-git](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/graphics/rawtherapee/dev.nix) hasn't received an update in well above a year since it has been introduced. The stable version [rawtherapee](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/graphics/rawtherapee/default.nix) has received multiple updates in the same timeframe - and sh

[2017-12-05 11:16] wmertens commented on #31611
I just thought of a backwards-compatible way to fix this: make a new setting `enablePAMSSHAuth` with the secure configuration, and make the `enableSSHAgentAuth` setting deprecated with a warning on every evaluation. Makes sense? @fpletz @GrahamcOfBorg

[2017-12-05 13:16] yrashk commented on #30645
On my end, #31646 did the trick.

[2017-12-05 13:27] moredhel opened #32344 "lisp-modules generation broke/flaky?"
## Issue description
Running `nix-shell --run 'quicklisp-to-nix .'` fails to complete. See the backtrace below.

I have run this on two machines. The second machine has been stuck on:
`Examining system clack-v1-compat`, for the past 5 hours.
### Steps to reproduce
[code]

## Technical details
[code]

Please run `nix-shell -p nix-info --run "nix-info -m"` and paste the
results.

 - system: `"x86_64

[2017-12-05 13:33] yellowgh0st commented on #32330
See issue 31640

[2017-12-05 13:37] dtzWill commented on #27604
Ping? :innocent:

[2017-12-05 13:39] #28247 closed

[2017-12-05 16:32] williammpratt opened #32352 "Plasmashell allocates >260GB of VIRT"
## Issue description
@ttuegel  Plasmashell unexpectedly allocates >260GB of VIRT.

![image](https://user-images.githubusercontent.com/33880204/33618103-eaa83718-d9e1-11e7-828f-5b7724e91452.png)

### Steps to reproduce
Just run plasmashell for a day and use it.

## Technical details
 - system: `"x86_64-linux"`
 - host os: `Linux 4.13.4, NixOS, 17.09.git.39cd40f (Hummingbird)`
 - multi-user?: `yes`

[2017-12-05 16:58] roberth opened #32354 "Make NixOS available first-class in NixPkgs"
## Issue description

Building a NixOS configuration from a Nix expression is already possible, but the way the user should do it is non-obvious, hacky and error prone. (See 'Technical details')
I suggest we define a top level function in NixPkgs called `nixosConfig`.

As this is relevant to the overall architecture, I would like to know the opinion and advice of @edolstra and @nbp

Note that `/pk

[2017-12-05 17:49] jtojnar commented on #32352
Why is that unexpected?

[2017-12-05 19:27] FRidh commented on #32352
Its an upstream issue https://bugs.kde.org/show_bug.cgi?id=387128

[2017-12-05 20:07] vcunat commented on #32330
I don't think we should backport _major_ updates to the nvidia driver, but a minor update will probably fix the build.  As noted above, 4.14 may have more caveats for you, and I'm not confident that all fixes are backported to 17.09 branch ATM.

[2017-12-05 20:23] vcunat commented on #32330
Pushed.  I tested it builds.  I'm confident this update itself won't break anything; reopen otherwise.

[2017-12-05 20:23] #32330 closed

[2017-12-05 20:40] vcunat commented on #32326
- aegisub: luajit-2.1 [does support aarch64](https://hydra.nixos.org/job/nixpkgs/trunk/luajit.aarch64-linux).  Maybe it won't be hard to unbundle.

[2017-12-05 20:43] 7c6f434c commented on #32117
Quick search shows that: CVE-2017-11551 seems to be OOM-only, if I understand correctly it enforces allocation of stupid amount of memory.

After a quick search I have a suspicion that there is still no patch available.

[2017-12-05 21:16] 7c6f434c commented on #32344
Hm. I am not even sure I can build `quicklisp-to-nix` at all after all the updates. I was putting off looking into a few things hoping that a new update of Quicklisp dist would come out first…

Also, @bradleyjensen

[2017-12-05 21:59] puffnfresh commented on #7092
There's a nix-diff tool which can do comparisons between derivations. This blog post shows it being used to compare 2 systems:

http://www.haskellforall.com/2017/11/compare-nix-derivations-using-nix-diff.html

[2017-12-05 22:36] timokau commented on #31714
Just a quick update: This won't be a priority for me for a little longer. It might get pushed into january. Sorry about that.

If anybody else wants to get their hands dirty I'm happy to help.

[2017-12-06 00:01] siddharthist commented on #31714
@timokau Thanks for your work so far 😄 Sage is a huge pain to build, I'm glad it's in better shape than it was a few months ago.

[2017-12-06 00:41] davidak opened #32366 "add example for docker-containers option"
## Issue description

`docker-containers` has no example value. please add one so one knows how to use it.

cc @copumpkin

### Steps to reproduce

https://nixos.org/nixos/options.html#docker-containers

[2017-12-06 05:08] t184256 opened #32372 "python3.withPackages example doesn't work in shell.nix"
## Issue description

I follow [example "9.11.1.1.3. Temporary Python environment with nix-shell"](https://nixos.org/nixpkgs/manual/#using-python) and it works.
I follow example "9.11.1.1.3.1. Load environment from .nix expression", and it doesn't.

### Steps to reproduce

Run `nix-shell -p 'python35.withPackages (ps: [ps.numpy ps.toolz])'`, get dropped into a shell with python and numpy.

Save
[c

[2017-12-06 08:36] volth commented on #31606
Anyone succeeded with KVM on those machines?

I see that
[code]

```strace``` shows that an ```ioctl``` call failed.

Perhaps KVM works with a proper kernel/qemu combination (I used master's default: kernal-4.9.66 and qemu-2.10.1)

[2017-12-06 08:45] P-E-Meunier opened #32377 "Gitit is broken"
## Issue description

I can't install Gitit.

### Steps to reproduce

`nix-env -iA nixos.haskellPackages.gitit`

This ends with

[code]

## Technical details

Please run `nix-shell -p nix-info --run "nix-info -m"` and paste the
results.

 - system: `"x86_64-linux"`
 - host os: `Linux 4.14.2, NixOS, 18.03pre121253.2f1a818d00 (Impala)`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Ni

[2017-12-06 09:13] oleks commented on #25068
I experienced a similar issue mixing i3 as the window manager, and slim as the display manager.

[2017-12-06 10:15] hamhut1066 commented on #32344
I've currently worked around the problem by installing `lispPackages.quicklisp`, then doing a `(ql:quickload :lucerne)`/whatever. This is fine for development, but will be a pain when I want to deploy (via NixOps).

I haven't had the time to delve into the `quick-lisp-to-nix` function yet, but will do so when I get closer to wanting to deploy. If there are any pointers, that would be super helpful

[2017-12-06 10:36] gnidorah commented on #31686
Broken for me too.

To note here that it worked in the past at the time https://github.com/NixOS/nixpkgs/issues/30649 was filled

/cc @ttuegel

[2017-12-06 12:13] MrSorcus opened #32383 "How to build minimal ISO without X11?"
## Issue description
I don't understand why libX11 used in installation-cd-minimal.nix?
And how to disable X11 or any other unwanted packages?
Thanks for answer.

### Steps to reproduce
https://gist.github.com/MrSorcus/0eeedcf404be472ae0e1d0a2b9c42429 - nix derivation.
nix-build -A config.system.build.isoImage -I nixos-config=./nixos_cd_iso.nix ./default.nix

## Technical details

 - system: `"x86

[2017-12-06 12:25] volth commented on #31606
```qemu``` without ```kvm``` works well on Pocket 2A (but slow).
So if the problem is only about how to run the image builder, it might be the answer.

[2017-12-06 12:35] turion commented on #32280
Seems related to #17547.

[2017-12-06 13:30] auntieNeo commented on #17342
I am especially interested in building Android apps with Gradle. Recent apps created with Android studio no longer work with ant.

I wonder if androidenv can be extended to work with the Gradle wrapper. Or maybe that's not a viable approach.

[2017-12-06 13:44] dezgeg commented on #31606
It's somehow related to the GIC virtualization options that need to be set on that hardware: https://bugzilla.redhat.com/show_bug.cgi?id=1375571.

[2017-12-06 15:32] dezgeg commented on #31606
Yep. And with `gic-version=host` it also works on machines with GICv2 (such as the Jetson TX1). I wonder who decided the default value for that option... Anyway, done in https://github.com/NixOS/nixpkgs/commit/b2e315f97f645fc70627febd43ddd62dd4de1412

[2017-12-06 16:23] turion commented on #32280
A workaround is using `stack` and adding the following lines (taken from [here](https://stackoverflow.com/questions/41527061/nixos-haskell-opengl-problems-with-building-and-running-opengl-programs)):

[code]

[2017-12-06 17:45] Ericson2314 commented on #25178
Err aren't we always detecting the loader today, and in your example? I don't see why `libc = musl` with `wrapCCWith` already doesn't work.

[2017-12-06 18:12] therealpxc commented on #32320
Thanks for creating an issue on the appropriate repo for this.

Neither option you've presented sounds bad to me, but given that it is more work, what do you see as the main advantage of the second option? That the same expressions could be applied for other Nix-y purposes not yet anticipated?

[2017-12-06 18:32] bradleyjensen commented on #32344
Most of the quicklisp-to-nix code has documentation, and there’s a readme that gives a high-level intro to the tool. The basic idea is that we install quicklisp in a temp directory and then install the target package in that temp quicklisp. While installing the package, we try to keep track of what dependencies are pulled in.

The important thing to note is that quicklisp-to-nix operates on lisp p

[2017-12-06 19:12] volth commented on #30085
@deedrah  Just noticed, Chromium in NixOS uses custom freetype since https://github.com/NixOS/nixpkgs/commit/cc583b75fb4241cb7b6e005942fc928f64f60a5b, so it might have sense to deal with its font issues separately

[2017-12-06 19:19] volth commented on #32326
```longview``` - x86-only. Anyway it works only on Linode VPS and they all are x86 so far

[2017-12-06 19:28] Izorkin commented on #24599
https://github.com/NixOS/nixpkgs/pull/32075

[2017-12-06 19:59] FRidh commented on #32320
The latter option prevents building during evaluation.

How RPM deals with dependencies isn't trivial though. Packages don't directly depend on other packages, but instead they specify which files they require and which files they provide. Based on that one can find multiple packages that fulfill requirements.

[2017-12-06 20:22] vcunat commented on #25178
@Ericson2314: it doesn't work because the wrapper is hardcoded to `ld-linux-x86-64.so.2` on x86_64-linux whereas musl calls it differently.

[2017-12-06 20:31] andir commented on #32383
Try setting `environment.noXlibs = true`.
At least pam (depends on xauth) and dbus depend on X11.

[2017-12-06 21:14] justthinkering opened #32393 "solvespace: Opening a file dialog crashes Solvespace on KDE Plasma"
## Issue description

Using any of the following file menu commands opening a file dialog window will crash Solvespace on KDE Plasma:

 - Open...
 - Save
 - Save As...
 - Export Image...
 - Export 2d View...
 - Export 2d Section...
 - Export 3d Wireframe...
 - Export Triangle Mesh...
 - Export Surfaces...
 - Import...

If Solvespace is started from a konsole, one gets the following error message a

[2017-12-06 21:37] geplus commented on #31800
Resolved on my system installing python2-lxml package

[2017-12-06 21:37] #31800 closed

[2017-12-06 21:51] williammpratt commented on #32393
You opened the issue originally in the right location. The author of solvespace should fix his program to report a specific error message and not crash inside one of its dependent libraries.

This is not a NixOS problem. Solvespace is developed on a particular operating system and as a result it only is portable to that system. If you want to make the program work on NixOS, you need to fix the pro

[2017-12-06 21:54] andir commented on #32234
@rvolosatovs do you know what commit you upgraded from?

I started bisecting that with a new mopidy test....

[2017-12-06 21:56] williammpratt commented on #32352
I switched to xfce4, until this is fixed, because Plasma5 is unusable in this version. If someone knows of a version of Plasma5 that I can run that is in a binary cache without this issue, I can switch back to Plasma5.

[2017-12-06 22:18] williammpratt commented on #32354
Our PM would say that this is not a design, because you cannot ship this "design" to a third world country and have it implemented.

It might be that your implementation of this feature (whatever it is) is great, but the way I see it is that just want to add an undocumented feature to NixOS or expect someone else to write the documentation.

See https://github.com/NixOS/rfcs/pulls for what it take

[2017-12-06 22:30] orivej commented on #32352
@williammpratt Could you explain in what way is plasma unusable, without guessing why it is so? (I use it quite successfully; its virtual memory usage is up to 5GB in my case.)

[2017-12-06 22:32] orivej commented on #32352
One thing that might (or might not) help is to configure the tray to hide icons with frequent animations, including the notifications icon. (I didn't do this, but it is automatically hidden.)

[2017-12-06 22:59] williammpratt commented on #32352
plasmashell uses 80% of a core continuously after hours of use to the point that it throttles the CPU. I use an instant messaging application which displays popups on a regular basis. Not having this instant messaging capability is not an option for me.

It introduces noticable lag in the UI.

[2017-12-06 23:39] roberth commented on #32354
@williammpratt, That was a little unexpected, but thank you for your feedback.

 - The creation of this issue was in good faith, to improve the quality of nixpkgs.
 - I have followed the [guidelines](https://github.com/NixOS/nixpkgs/blob/master/.github/CONTRIBUTING.md) for contributing.
 - I understand now that '@'-mentioning these community members is not desirable at this stage.

I am not just s

[2017-12-06 23:39] #32354 closed

[2017-12-06 23:49] Pneumaticat commented on #31686
After some inspection, I think this occurs because the plasma-workspace patch hasn't been updated to plasma 5.11.3 (or rather 5.11.4 now), so the `startplasma.cmake` file fails to patch. Thus, it ends up calling start_kdeinit_wrapper from the wrong directory. This can probably be fixed by regenerating the patch by [following the instructions](https://github.com/NixOS/nixpkgs/blob/b8abd97c3b19f172c

[2017-12-07 00:18] paperscissors commented on #26023
Same problem here, and if I run as `sudo` then it creates issues with me trying to write to the volume when I run my PHP application. The socket is verified to exist.

[code]

[2017-12-07 00:29] edolstra commented on #32354
I have blocked williammpratt, who appears to be the latest incarnation of a user we've blocked several times before for making abusive comments in NixOS repositories.

@roberth Please don't be discouraged by williammpratt, who doesn't speak for any NixOS contributors.

[2017-12-07 00:38] dhess commented on #32354
Personally I would love to see more "special" functions like `eval-config.nix` exported via `pkgs` or `lib`. I end up importing them via `<nixpkgs/...>` quite a bit in my own configs, and that has the problem of being tied to `NIX_PATH` when I'm trying to move everything to a project-wide "pinned" Nixpkgs.

[2017-12-07 00:40] roberth commented on #32354
What a shame. Thank you Eelco. I will polish and document the thing and open a PR tomorrow.

[2017-12-07 00:41] dotlambda commented on #32011
I don't see any advantage over putting `gitMinimal` into `propagatedBuildInputs`.

[2017-12-07 01:04] grahamc commented on #32080
For what it is worth, williammpratt's attitude here is not representative of the NixOS community's attitude toward other software. The user has since been blocked from the NixOS organization.

[2017-12-07 01:06] grahamc commented on #32393
For what it is worth, williammpratt's attitude here is not representative of the NixOS community's attitude toward other software. The user has since been blocked from the NixOS organization.

[2017-12-07 01:08] grahamc commented on #32352
Seems to be an upstream issue.

[2017-12-07 01:08] #32352 closed

[2017-12-07 01:37] kini opened #32395 "lisp-modules shell.nix broken?"
## Issue description

I'm unable to run `nix-shell` with the `shell.nix` found in `pkgs/development/lisp-modules/`.

Note: this seems to be a different problem from #32344, since it occurs when merely starting up the `nix-shell` in the directory, without even getting to the stage of trying to run `quicklisp-to-nix .`.

### Steps to reproduce

[code]

### Output

[code]

I see three issues here:

1

[2017-12-07 02:29] volth commented on #32074
same for ```aarch64-linux```

[2017-12-07 02:57] volth commented on #31089
I'am for building all the packages on ```i686```, just to see failures and regressions on Hydra as upstream code and the compilers evolve.
No need to rebuild on every small change nor keep the binaries on cache.nixos.org.
Weekly or even monthly builds are OK.

[2017-12-07 02:57] teto commented on #31885
[code]
seems to fix it

[2017-12-07 03:20] hlandau commented on #27050
https://github.com/NixOS/nixpkgs/commit/b25deccd1a75c3ab8e3cb4d085b62895e8e3c253 doesn't seem to fix the issue. Not sure if it's yet in 17.09, so I applied it manually and still have the same issue.

[2017-12-07 03:39] teto commented on #31885
@wkennington should I open a PR ? What should I do about the duplicated "localstatedir=\${TMPDIR}" ?

[2017-12-07 03:54] volth commented on #32326
far2l: https://github.com/NixOS/nixpkgs/pull/32396

[2017-12-07 04:56] volth commented on #32326
- [ ] chromium - also failed (Hydra does build it only for x86, so we see no failure)

[2017-12-07 06:01] jluttine opened #32399 "Python nix-shell instructions not working"
## Issue description

I read these instructions but they don't work:
https://github.com/NixOS/nixpkgs/blob/master/doc/languages-frameworks/python.md#load-environment-from-nix-expression
Python isn't found in the created environment.

### Steps to reproduce

Write `shell.nix` file with content:

[code]

Activate the shell with `nix-shell` in the same directory as `shell.nix` is located. Running `py

[2017-12-07 06:31] xvapx opened #32401 "CrashPlan service unable to backup"
## Issue description
CrashPlan has stopped renewing home subscriptions, [forcing crashplan for home users to either upgrade to crashplan for small business or change to another backup service][1].
Crashplan for small business seems to be incompatible with the old crashplan backup engine.
The remaining crashplan for home accounts can be active until October 23, 2018, so we should maintain the curre

[2017-12-07 06:32] xvapx commented on #32401
I'll try to make a nix expression for the new version.

[2017-12-07 08:12] jluttine opened #32404 "Rename Python package dns to dnspython"
`dnspython` Python package is named `dns` in nixpkgs. Should be renamed to `dnspython` because that is the name of the package in PyPI. Keep the old name available for backwards compatibility until 18.09. Raise deprecation warning if using `dns` instead of `dnspython`.

I would have done this but I couldn't find information on how to do this kind of deprecation.

[2017-12-07 09:03] #32383 closed

[2017-12-07 09:12] MrSorcus opened #32405 "Possible to exclude some package from environment.systemPackages?"
## Issue description
How to exclude package from environment.systemPackages without patching nixpkgs source tree?

[2017-12-07 09:48] teto opened #32406 "/dev/root is not created under some circumstances and prevents profile switching"
## Issue description

I am doing some kernel development via nixops/libvirtd. When trying to deploy, nixops would keep failing with
[code]

After some investigation, I found out that it failed because /dev/root didn't exist. I believe this is possible due to the way I launch the VM. I use the capability of qemu to specify on the command line a kernel with the ` -kernel ` flag. I don't use an initr

[2017-12-07 10:17] andir commented on #32234
@rvolosatovs can you try with the following diff applied? I can start mopidy (again). Since I never really used mopidy I can't really test if it works.

[code]

[2017-12-07 10:24] andir commented on #32399
This is a duplicate of #32372?

[2017-12-07 10:33] marvin2k commented on #6757
This still happens?

[2017-12-07 10:41] jluttine commented on #32399
Yes.

[2017-12-07 10:41] #32399 closed

[2017-12-07 11:04] magnetophon opened #32407 "puredata sound via alsa is broken"
## Issue description

When you try to use ``ALSA`` as the sound engine in pd, there is no sound.
The ``jack`` engine works fine.

### Steps to reproduce
- run puredata
- click
  - ``Media -> ALSA``
  - ``Media -> DSP on``
  - ``Media -> Test Audio and MIDI``
- in the new window, click ``60`` under ``test tones``

There should be a test tone playing now, but there isn't.

## Technical details

The