[2015-11-07 21:25] Ericson2314 commented on #10873
Ah! So I forgot that the git repo I tested it with is on an NTFS partition, and the FUSE NTFS driver doesn't support/enforce permissions. That means we either need to copy the whole git repo (or at least `.git`) to somewhere we have write access, or just go with what's currently in the index. Yuck. Which option is more palatable to you?

Good catch and good solution re submodules. I wish that comm

[2015-11-07 21:28] andrewrynhard opened #10875 "go get x509: failed to load system roots and no roots provided"
Installed go with nix in a nix-shell environment and I am getting errors when using `go get`. As the title explains the error is `x509: failed to load system roots and no roots provided`. I have made sure that the `nix.sh` environment variables are set but still get this error. This is on OS X.

[2015-11-07 21:36] tohl commented on #10874
Today, by coincidence, I tried cross-compiling things with mingw but
that failed because of libiconv, so it might not only be duplicated but
more importantly, it does not work.  libiconv error was caused by assert
!stdenv.isLinux or something like that, which should be an assertion on
the target and not on the host.  Thanks a lot for looking into this!

[2015-11-07 21:39] Ericson2314 commented on #10873
@pchiusano ^ bad news. I think I'm going to need revert to the old behavior. Still note needs just updating the index, not a full commit.

[2015-11-07 22:04] ftrvxmtrx commented on #10873
@Ericson2314 I would prefer to go with only what's in the index, actually.

[2015-11-07 22:06] Ericson2314 commented on #10873
Ok, I'll make a PR.

[2015-11-07 22:24] vcunat commented on #10874
I personally believe the standard attributes (buildInputs, stdenv.system, etc.) should be for the target platform where the stuff is to be executed, as that seems to be the most common use case. (Note that I've never done any cross building, though :)

[2015-11-07 22:35] Ericson2314 commented on #10873
https://github.com/Ericson2314/nixpkgs/commit/0e3a503f262fd8269efc265edff15db93859bb3e

I got to go, if you could test this that would be great

[2015-11-07 23:01] ftrvxmtrx commented on #10873
Unfortunately, it didn't work:
[code]

[2015-11-08 02:42] Ericson2314 commented on #10873
Ah, I forgot about the git inside the `$(...)$` which didn't get the `-C` flag. I'll just go back to changing directories then.

[2015-11-08 05:41] Ericson2314 commented on #10873
OK see https://github.com/NixOS/nixpkgs/compare/master...Ericson2314:fetchgitLocal and the division of labor of each commits. Though I don't think this will actually fix your problem as the `git write-tree` needs write access to `.git`---and that is the backbone of my original change :(.

Furthermore, even the original fetchgitlocal (before any of my changes) breaks if the build user doesn't have

[2015-11-08 05:48] carldong commented on #10488
OK, I am back again. I just did a fresh install, and just added `vimNox` and `vim-addon-nix` into the system environment. There are lots of errors when I invoke vim, like `Unknown function: funcref#Function`. I don't have Internet access on that machine yet, so I can't get the entire log. However, this looks like some missing plugins that is not installed properly.

[2015-11-08 05:52] carldong commented on #10488
Interestingly, syntax highlighting works correctly.

[2015-11-08 09:26] bjornfor opened #10879 "Qt 5.5 qtmultimedia has missing plugins (gstreamer)"
These are the mediaservice plugins in Qt 5.5:

[code]

It lacks a few libraries compared to Qt 5.4:

[code]

I thought adding pkgconfig to qtmultimedia buildInputs would fix it, similarly to 449b6028a64fae427fdce4abf126825bd8aaf260 ("qt5.multimedia: fix gstreamer support"). But that didn't add more libraries to the mediaservice/ directory.

[2015-11-08 09:27] bjornfor commented on #10879
CC @ttuegel, @gebner.

[2015-11-08 09:35] bjornfor commented on #10879
Looking at the build log. Qt 5.4 says:

[code]

Whereas Qt 5.5 says:

[code]

Adding pkgconfig to buildInputs doesn't change the qt55 build log (still complains about missing GST_VERSION).

[2015-11-08 09:45] bjornfor commented on #10879
Relevant snippet from qtmultimedia-opensource-src-5.5.0/qtmultimedia.pro:

[code]

I'm not sure yet the proper way to set either GST_VERSION (directly) or via QT_CONFIG. It doesn't look like we have "qmakeFlags" in nixpkgs.

[2015-11-08 13:19] romildo opened #10885 "TeXLive pygmentex package has a Python 2 script that does not work"
I have installed the TeXLive `pygmentex` package on my system, but its binary script `pygmentex.py` fails to run because:
* its directory is not found in `$PATH`
* it does not have an explicitly dependency on `python2`
* it does not have an explicitly dependency on `pygments`
* the `pygments` module for Python 2 cannot be found.

Please fix this issues so that the script can be run.

(Maybe @vcuna

[2015-11-08 14:12] #8660 closed

[2015-11-08 15:48] alunduil opened #10888 "Incorrect Home Directory Permissions"
When I declare a user such as:

[code]

The directory, `/home/foo`, gets created with permissions 0700 and owned by root.  This unfortunately means that user, username, is unable to access their home directory.

I've tracked the problem here:

https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/config/update-users-groups.pl#L179

I'm not sure what the best way to fix this little snippet of

[2015-11-08 16:29] sindikat opened #10889 "Add syndaemon configuration options"
The command [`syndaemon`](http://linux.die.net/man/1/syndaemon) temporarily disables keyboard when you're typing, which prevents messing up with the text by relocating cursor and accidentally clicking things. E.g.:

[code]

I propose a configuration option under `services.xserver.synaptics`, or maybe a separate one to configure `syndaemon` for NixOS.

[2015-11-08 17:04] Mathnerd314 commented on #10721
@edolstra
With change (b4167e51a93dc9a756f1bc54dac9e72fee2d375f):
[code]
Without change (1962484d15f401f44b220b47fdfd8f5ec179838e):
[code]
So it's about 12% overhead in memory & time.

[2015-11-08 17:35] matthiasbeyer opened #10891 "zeal: startup = segfault"
Zeal does not work, it segfauls when starting.

[2015-11-08 18:57] Ericson2314 commented on #10873
Another temporary fix is to give the nixbld group (the build users) group permission on your repo:
 - make nixbld the group on everything
 - give nixbld read on everything, and execute on all directories
 - give nixbuild write on `.git` and children
 - remove sticky bit on `.git` and children

[2015-11-08 19:37] Pitometsu opened #10897 "Can't build ghci-ng"
Can't build [ghci-ng](https://github.com/chrisdone/ghci-ng/issues/23)
[code]
Have try to build with current `ghc 7.10.2` and with `ghc763`. The same error.
https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/haskell-modules/configuration-hackage2nix.yaml#L1275

[2015-11-08 21:42] Ericson2314 opened #10902 "Haskell: Multi-package development environments"
It's often nice to work on multiple packages at the same time, where some of those packages depend on others of them. I hear Cabal wants to better support such a development idiom some day, but we can get a head start right now.

The basic task is given a set of packages `P`, we want the following package in our environment: `(Union_{q in Q} deps(q)) \ Q` I propose an implementation like the follo

[2015-11-08 22:05] davidak opened #10904 "ssh pubkey login not working"
i have set my public key in `configuration.nix` like this:

`users.extraUsers.root.openssh.authorizedKeys.keys = [ "ssh-rsa AAAA... davidak" ];`

the [options page](http://nixos.org/nixos/options.html) says that the option is `users.users.<name?>.openssh.authorizedKeys.keys` but it also don't work.

if i try to login i get a password prompt:

[code]

the key is in `/etc/ssh/authorized_keys.d/root`

[2015-11-09 00:04] ttuegel commented on #10879
@bjornfor `qmake` will respect `configureFlags`.

[2015-11-09 00:30] davidak opened #10909 "create virtual ip"
i want to create a virtual interface, debian equivalent would be:

[code]

the `nixos-rebuild switch` works with this configuration.nix, no syntax error, but `ifconfig` don't show the second interface.

[code]

i tried with the `virtual` option but i think that is something different:

[code]

[code]

when i use this configuration, i have 2 ips on `eth0`, but i need a second interface to apply ipt

[2015-11-09 03:52] copumpkin commented on #10909
This might be related: https://github.com/NixOS/nixpkgs/issues/7227

[2015-11-09 06:31] CMCDragonkai commented on #10804
@domenkozar that seems like it.

On bootup, `systemctl status` shows both `wpa_supplicant.service` and `network-manager.service`. Check each respective status, the `network-manager` is `active (running)`, whereas `wpa_supplicant` is `activating (start)`.

This is probably evidence that the 2 are conflicting. I reckon that NixOS livecd should default on only one of them. Preferably `Network Manager

[2015-11-09 06:36] CMCDragonkai commented on #10804
By disabling, we can't actually remove the `wpa_supplicant` itself as I discovered that network manager relies on wpa_supplicant. That is, when you start the wifi network using network manager, the wpa_supplicant log changes. It's just weird for there to be a "wpa_supplicant" service running. And the docs would have to make it clear that only nmcli works on boot.

[2015-11-09 07:00] CMCDragonkai commented on #10804
This is the only way I discovered to make `wpa_supplicant` work on boot.

[code]

And it works.

Something in the nixos configuration for the livecd versions need to be tweaked so that wpa_supplicant can be started successfully, because at the moment it doesn't work.

[2015-11-09 08:02] CMCDragonkai opened #10912 "A question about kernel module configs and it not being found on Live CD"
What is the kernel module `configs`?

I noticed it being mentioned here: https://github.com/NixOS/nixpkgs/issues/6444#issuecomment-75075591

The reason I ask is because running the below on the Live CD:

[code]

Shows:

[code]

Inside `/etc/modules-load.d/nixos.conf` shows `configs` as one of the modules scheduled to be loaded at boot.

It appears to be specified here: https://github.com/NixOS/nix

[2015-11-09 09:43] bjornfor commented on #10879
Doh! Thanks! :-)

Passing "GST_VERSION=1.0" to qmake fixes it. Will send PR soon.

[2015-11-09 10:04] domenkozar opened #10915 "Document staging purpose"
http://comments.gmane.org/gmane.linux.distributions.nixos/13447

- [ ] document how merging is done

[2015-11-09 10:06] lethalman commented on #10915
https://nixos.org/nixpkgs/manual/#idm140737319144352

[2015-11-09 10:08] bjornfor commented on #10879
PR: https://github.com/NixOS/nixpkgs/pull/10916

[2015-11-09 10:38] vcunat commented on #10915
That seems the proper place to me.

[2015-11-09 10:46] vcunat commented on #10904
That's likely the cause. At least `~/.ssh/known_hosts` uses one like per key.

[2015-11-09 11:03] ocharles opened #10917 "services.mysql.package needs to be set, but does not appear in man configuration.nix"
If you add

[code]

then `nixos-rebuild switch` fails because `services.mysql.package` isn't defined. However, if you search `configuration.nix`, this option isn't even mentioned, which leaves users in the dark as to what they are meant to set this to.

[2015-11-09 11:11] davidak commented on #10909
Maybe this is also related: https://github.com/NixOS/nixpkgs/issues/2590

[2015-11-09 11:50] #10879 closed

[2015-11-09 12:44] copumpkin commented on #10909
Looks like we have a lot of duplicates :smile:

@wkennington seemed to know a lot about this problem when I talked to him about my loopback issue, but he suggested that my loopback problem was due to some special-casing in some of the systemd code. Not sure what causes your issue.

[2015-11-09 13:03] DamienCassou opened #10919 "TLP: Warning: tlp.service is not enabled"
When reading the output of `sudo tlp stat`, I get

[code]

But these services seem active:

[code]

Moreover, executing the recommended command does not work:

[code]

In my `configuration.nix`, I activated tlp with

[code]

[2015-11-09 13:05] DamienCassou commented on #10919
/cc @abbradar

[2015-11-09 13:11] abbradar commented on #10919
I think this is because of https://github.com/NixOS/nixpkgs/issues/1083 -- `tlp` internally runs `systemctl is-enabled tlp.service`, and it doesn't work on NixOS:
[code]

[2015-11-09 13:13] abbradar commented on #1083
I think `systemctl is-enabled` doesn't work because of this too -- see the issue referenced above.

[2015-11-09 13:32] DamienCassou opened #10921 "tlp says bluetooth is on"
tlp reports that bluetooth is activated on my computer:

[code]

But nixos disagrees:

[code]

Gnome3 says `"No Bluetooth adapters found"`

[2015-11-09 13:32] DamienCassou commented on #10921
/cc @abbradar

[2015-11-09 13:37] abbradar commented on #10921
What does `rfkill list` report?

[2015-11-09 13:39] DamienCassou opened #10922 "tlp: Missing x86_energy_perf_policy"
[code]

I found some references about that on the web:

- https://projects.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/linux-tools#n84
- https://www.archlinux.org/packages/community/i686/x86_energy_perf_policy/

Usually I would package that myself for nixpkgs, but this case is a bit different because the code seems to be part of the linux kernel.

[2015-11-09 13:39] DamienCassou commented on #10922
/cc @abbradar @aszlig @wkennington

[2015-11-09 13:42] DamienCassou commented on #10922
According to [webupd8](http://www.webupd8.org/2015/02/advanced-power-management-tool-tlp-sees.html), `tlp` now requires `kernel modules msr and x86_energy_perf_policy from linux-tools`

[2015-11-09 13:44] DamienCassou commented on #10921
Agrees with tlp:

[code]

[2015-11-09 13:45] abbradar commented on #10921
Looks like you indeed have an enabled Bluetooth adapter. `config.hardware.bluetooth.enable` only enabled services required for Bluetooth to work (and for GNOME to see it), but it doesn't touch the physical adapter.

[2015-11-09 13:52] DamienCassou opened #10923 "tlp: No batteries detected."
I've installed `serviced.tlp`. Sometimes, after I reboot my computer, the battery disappears from both `tlp stat` and Gnome3.

[code]

[2015-11-09 13:52] DamienCassou commented on #10923
/cc @abbradar

[2015-11-09 13:53] DamienCassou commented on #10921
Oh, thanks. Any idea how to deactivate bluetooth so that it does not consume battery anymore?

[2015-11-09 13:58] abbradar commented on #10921
You can just use TLP for that -- I can't remember the exact configuration though. Also you can use "systemd-rfkill@hci0" service but I can't remember how exactly, too (I suppose it should just be enabled).

[2015-11-09 14:01] abbradar commented on #10923
Hmm, I *think* this is a hardware/kernel issue but I'm not sure. Let's investigate:

1. `ls /sys/class/power_supply`, notice anything battery-ish (suppose it's `BAT0`).
2. `cat /sys/class/power_supply/BAT0/energy_now` (to make sure it works).
3. Trigger the bug.
4. Try (2) again.

If this works then I suppose it's a bug in TLP *and* Gnome3. If not, it's likely an ACPI issue.

[2015-11-09 14:21] vcunat commented on #9757
All should be working fine in staging now.

[2015-11-09 14:21] #9757 closed

[2015-11-09 14:32] abbradar commented on #10922
Closed by https://github.com/NixOS/nixpkgs/commit/265718c9854957a5f724416429a4a208e33f7726 and https://github.com/NixOS/nixpkgs/commit/23845d7084583a87ca30bb937d4c44b3c203b3af. As a side effect, `tlp-rdw` should work properly now.

[2015-11-09 14:32] #10922 closed

[2015-11-09 14:35] wjlroe commented on #10858
This improvement has been merged to master now

[2015-11-09 14:36] DamienCassou commented on #10923
With no battery detected:

[code]

With battery detected:

[code]

Nothing called `energy_now` here.

I never experienced the bug before I installed tlp a few hours ago.

[2015-11-09 14:39] abbradar commented on #10923
Hmm, do you have a ThinkPad? `tlp` supports advanced operations on ThinkPad's battery, maybe it's breaking something.

Also please share your `dmesg` on good and bad boots.

Meanwhile, have you noticed any patterns which trigger the bug (aside from a reboot and some random factor)?

[2015-11-09 14:41] abbradar commented on #10921
Let's close this as it's not a TLP bug.

[2015-11-09 14:41] #10921 closed

[2015-11-09 14:43] #10858 closed

[2015-11-09 18:35] domenkozar opened #10925 "Merge staging into master"
[Remaining issues](http://hydra.nixos.org/eval/1229961?compare=trunk&full=1#tabs-now-fail):

- [x] darwin is broken http://hydra.nixos.org/build/27514654
- [x] node 4 is failing http://hydra.nixos.org/build/27568228
- [x] some python regressions? http://hydra.nixos.org/build/27613951 http://hydra.nixos.org/build/27560001

[2015-11-09 18:37] domenkozar commented on #10925
@pikajude @datakurre could you take a look why is ncurses failing on `staging`?

[2015-11-09 18:49] YPares opened #10926 "biber isn't packaged in texlive (-new)"
When running
`nix-shell -p 'texlive.combine {inherit (texlive) biber scheme-small; }' --pure`
the `biber` executable cannot be found.

I'm using `nixpkgs-16.03pre71332.f490186`

[2015-11-09 19:39] peti commented on #10897
`ghci-ng` depends on rather specific, outdated versions of its build inputs, and we don't have those versions in Nixpkgs, nor can we easily provide them. IMHO, the package should be update upstream. Once a new release show up on Hackage, we'll have it in Nixpks within a couple of hours.

[2015-11-09 19:39] #10897 closed

[2015-11-09 19:42] peti commented on #10904
Are you sure that the value

    "ssh-rsa AAAA... davidak"

is given in one line in your configuration.nix?

[2015-11-09 19:47] davidak commented on #10904
no :D

i pasted the config again from my editor over ssh and now it works.
maybe it was due to some paste error before the nixos-install.

i installed another vm yesterday where it works directly.

[2015-11-09 19:47] #10904 closed

[2015-11-09 20:24] davidak commented on #10233
yesterday i installed 2 VMs and can't use vim on the live cd :(

i don't want to configure anything in an installation environment.

it are basically this two setting:

[code]

[2015-11-09 20:24] vcunat commented on #10904
:-)

[2015-11-09 20:25] copumpkin commented on #10233
Radical!

[2015-11-10 02:31] copumpkin opened #10931 "antBuild doesn't call the standard pre/post hooks"
I stared at it for a while wondering my `preBuild` wasn't getting called before realizing that it was overriding `buildPhase` without calling `runHook preBuild` and friends. Doesn't seem ideal!

[2015-11-10 02:49] Pitometsu commented on #10897
Ok, it build as:
[code]

[2015-11-10 04:45] earldouglas commented on #6830
I just ran into this one as well.

[2015-11-10 05:50] Emm commented on #10491
@devhell, sadly the udev rule doesn't seem to help.

[2015-11-10 07:40] vcunat commented on #10926
Yes, that's a known bug, i.e. it hasn't been packaged properly yet as it needs special care unlike most texlive.

[2015-11-10 07:44] vcunat commented on #10925
The darwin breakage is being discussed on #10622. I would have merged, only I originally wanted to have @pikajude reaction as he deleted the patch on staging, but perhaps it wasn't intended?

[2015-11-10 08:12] jgillich opened #10936 "bumblebee bash completion: have: command not found"
This is impossible to search for, but I think it is a bug.

[code]

Apparently, `have` got replaced by `_have`.

[2015-11-10 08:44] domenkozar opened #10938 "Get rid of PIL and replace it with Pillow"

[2015-11-10 10:00] CMCDragonkai commented on #9096
According to this http://askubuntu.com/questions/660023/how-to-install-ubuntu-14-04-64-bit-with-a-dual-boot-raid-1-partition-on-an-uefi/660038?noredirect=1#comment1018427_660038 it shows an easy way to setup EFI System Partition on multiple drives.

This means I'm going to ignore BIOS booting and will not have a `biosboot` partition. I will try putting ESP on `/boot/efi`. While `/boot` will just b

[2015-11-10 11:23] garbas commented on #7912
#10862 solves this and i just merged it. please reopen if #10862 does not fixes it

[2015-11-10 11:23] #7912 closed

[2015-11-10 12:14] copumpkin commented on #6830
@edolstra is there currently a way to "jump in" ahead of binary cache resolution to change a setting like this?

I'm thinking of this kind of scenario:
1. User changes basic networking settings like nameservers or defaultGateway, while also specifying a custom binary cache or channel setting. The binary cache and/or channel are only accessible/resolvable once the networking settings apply.
2. User

[2015-11-10 16:32] davidak opened #10942 "iops: don't build on darwin"
maybe it just works on linux, then i will update the platforms.

[code]

[2015-11-10 16:44] davidak opened #10943 "gpgstats: don't build on darwin"
[code]

[2015-11-10 17:00] davidak commented on #10827
i have the unstable channel on OS X 10.9.5 (64-bit) and get the same error as @zimbatm and @benmont.

[code]

[2015-11-10 17:10] zimbatm commented on #10827
I had the CoreServices.h issue with another package (don't remember which-one) and it was fixed on master. Hopefully staging will be merged soon.

[2015-11-10 17:42] sjourdois commented on #10827
AKAICT this was fixed in commit aa12640cb913051f646d2422cfdad97616fdb4a0 by Asko Soukka and I'm using master. This probably explains why it worked for me.

[2015-11-10 17:54] devhell commented on #10491
@Emm huh. Then I don't know what the issue might be with yours. Sorry.

[2015-11-10 18:13] davidak commented on #10827
isn't master the https://nixos.org/channels/nixpkgs-unstable channel?

[2015-11-10 18:19] sjourdois commented on #10827
nah : https://github.com/NixOS/nixpkgs <https://github.com/NixOS/nixpkgs> is :)

[2015-11-10 18:43] bjornfor opened #10944 "build-fhs-env: upgrade path from "pkgs" to "targetPkgs"?"
Seing as the "pkgs = [ ... ]" argument is deprecated, I have switched to "targetPkgs = pkgs: [ ... ]". One side effect that I stumbled across yesterday is that the contents of /usr/lib differs.

Example expression:

[code]

And then some tests:

[code]

(Uhm, where is /usr/lib/pkgconfig?)

Use old pkgs instead of targetPkgs:

[code]

(Now I can see /usr/lib/pkgconfig.)

What is the new way of supp

[2015-11-10 18:43] bjornfor commented on #10944
CC @abbradar.

[2015-11-10 19:53] abbradar commented on #10944
I guess this is a bug, we indeed need to change this to `lib64`.

[2015-11-10 21:14] falsifian commented on #9006
[The NixOS manual currently says "GDM is very experimental and may render system unusable."](https://nixos.org/nixos/manual/options.html) Is this warning still warranted?

[2015-11-10 21:25] sjourdois commented on #10853
are you using latest nix ( https://nixos.org/wiki/Nix_on_OS_X#Install_a_recent_version_of_Nix )?

[2015-11-10 22:00] lethalman commented on #9006
@falsifian I'm using it since the first version in nixos. It works quite well, but I never tested it outside of gnome. So we can change the text to something that says it may not work with other desktops.

[2015-11-10 22:48] pstn opened #10950 "[Found workaround] Steam broken with radeon foss drivers on unstable (16.03pre71289.7ae05ed)"
Every time I try to launch steam I only get the following message:

    mkdir: cannot create directory ‘/tmp’: File exists
    cp: cannot create regular file ‘/home/philipp/.local/share/Steam/bootstrap.tar.xz’: Permission denied
    Running Steam on nixos 16.03pre71289.7ae05ed 64-bit
    STEAM_RUNTIME has been set by the user to: /steamrt
    Installing breakpad exception handler for appid(steam)/

[2015-11-10 23:20] copumpkin commented on #10943
Looks like it just needs to be told to use `libc++` instead of `libstd++` on Darwin.

[2015-11-11 00:38] #10944 closed

[2015-11-11 00:55] abbradar commented on #10944
BTW, if you don't really need a multiarch environment, you can pass `multiPkgs = null`.

[2015-11-11 01:25] abbradar commented on #10950
Ouch, this is a new incarnation of https://github.com/NixOS/nixpkgs/issues/9003. I'll look into this, thanks for the reporting!

[2015-11-11 03:10] jgillich commented on #10618
Regular vim doesn't install gvim, however:
[code]

So maybe it doesn't stand for `no x` after all. :confused:

[2015-11-11 03:37] dhess commented on #10853
Yes, compiled from Git.

[2015-11-11 04:57] zhou13 commented on #10618
If the naming convension is as same as ubuntu in vim-nox, then I think there is something wrong here. We have the following from [1]:
[code]

Furthermore, I do think think `vim_configurable` can be  configured to disable GUI as the GUI dependency is hard coded.

[1] https://launchpad.net/ubuntu/trusty/+package/vim-nox

[2015-11-11 05:56] falsifian commented on #9006
Thanks @lethalman. Please check my phrasing in #10955.

[2015-11-11 07:23] vcunat commented on #10950
When did it last work for you? (on the same machine/configuration) For example, I have nonstandard mount setup of $HOME, which results into missing vital stuff in the chroot by default (I add a mount by hand into the chroot).

[2015-11-11 07:32] vcunat commented on #10942
Hydra reports it builds fine on the two Linux platforms. These *64 identifiers are rather hacks (concerning large file support) and not all libcs provide them. I'll remove darwin from platforms for now.

[2015-11-11 07:33] #10942 closed

[2015-11-11 08:42] pSub commented on #6837
Fixed in 5bc1ddd78ffe566dc3f36b6fecb14fd0b0a3ac8f.

[2015-11-11 08:42] #6837 closed

[2015-11-11 08:56] pstn commented on #10950
The setup never worked since this is a new install (I'm new to nixos).
My home is pretty standard:

    /dev/mapper/lvm-philipphome on /home/philipp type ext4 (rw,relatime,data=ordered)

[2015-11-11 09:40] vcunat commented on #10925
Hydra is stuck &ndash; it has done nothing during the last hour at least, /cc @edolstra @rbvermaa (or whom we should ping with such things?).

[2015-11-11 09:40] sickill commented on #9156
It built successfully but... when I quit weechat I'm getting:

[code]

[2015-11-11 09:43] aloiscochard opened #10961 "neovim: 1 dependencies couldn't be built"
Hi, I can't upgrade neovim on `unstable` due to this 404 error:

[code]

Any ideas how this could be fixed?

Thanks

[2015-11-11 10:21] domenkozar commented on #10943
It also doesn't build on linux atm.

[2015-11-11 10:27] vcunat commented on #10961
This *was* fixed over a week ago in 261791992.

[2015-11-11 10:27] #10961 closed

[2015-11-11 10:28] vcunat commented on #10961
The channels lag behind master, unfortunately, especially now when the build farm is relatively overloaded.

[2015-11-11 10:37] aloiscochard commented on #10961
@vcunat awesome to know it was fixed, I'll just be patient then!

Thanks

[2015-11-11 10:54] domenkozar commented on #10925
I've pushed 4d1129828a7c8af8e75c54175141c009e6f0651f and 3d02d332b0633dba21888de5fabac7cd412cf468 to fix nodejs on staging.

[2015-11-11 11:28] pSub commented on #10925
xulrunner is failing on staging (http://hydra.nixos.org/build/27566997/) but fixed (60b4d47f90cb872ac4552be049ebdf8dc4791191) on master. Does it make sense to pick that commit to staging before merge?

[2015-11-11 11:28] domenkozar commented on #10925
I'll merge master into staging.

[2015-11-11 11:29] pSub commented on #10925
Ok, thanks.

[2015-11-11 12:20] domenkozar commented on #10925
Done.

[2015-11-11 12:32] vcunat commented on #10450
Libraries aren't searched on $PATH. Using nix-shell with `-p gmp -p gcc -p idris` (and perhaps other needed things) is probably the easiest work around to get the environment set up.

[2015-11-11 13:27] comonoid commented on #10450
Yes!
nix-shell -p gmp -p gcc (no -p idris)
Big thanks! It works for me! ;-)

[2015-11-11 14:21] vcunat commented on #10445
That URL works now. It seems it truly was a transient problem ;-)

[2015-11-11 14:21] #10445 closed

[2015-11-11 15:11] alexeymuranov opened #10970 "NixOS 15.09 ISO images cannot be mounted under Mac OS"
For some reason i cannot boot my partition with NixOS 14.12 anymore (after i have reinstalled Mac OS on another partition), so i wanted to reinstall NixOS.

I have downloaded the minimal ISO image of 15.09 and tried to create a bootable USB drive (for (U)EFI MacBook) as i had done before: by mounting the ISO image and dragging and dropping its contents to a properly formatted USB drive labelled `N

[2015-11-11 17:06] peti commented on #10450
As far as I know these issues should be fixed in Idris version 0.9.20.

[2015-11-11 17:34] comonoid commented on #10450
Idris also won't find a gcc if i do not install it explicitly.
As i can guess, it's a dependency issue?

Is it worth to close this issue now or wait for 0.9.20?

[2015-11-11 18:58] devhell commented on #10926
Damn. Back to texliveFull. :/

[2015-11-11 19:00] peti commented on #10450
That seems okay to me. Idris doesn't want to hard-code the path of the compiler so that any C compiler can be used, which is reasonable.

0.9.20 is already in Nixpkgs `master`. It just hasn't hit the `unstable` channel yet. Personally, I'm fine with leaving the issue open until we've confirmed that the new version really improves matters.

[2015-11-11 19:12] comonoid commented on #10450
Reasonably.

Ok, let's wait for 0.9.20 in unstable.

[2015-11-11 20:25] vcunat commented on #10926
Someone around here claimed the biber executable from the old packaging can be used along with the newly packaged TeX stuff.

[2015-11-11 22:47] cyraxjoe commented on #852
I think this is no longer the case @Pitometsu [manual](https://nixos.org/nixpkgs/manual/#sec-language-ruby) and [bundix](https://github.com/cstrahan/bundix).

[2015-11-12 00:17] chris-martin opened #10979 "KDE Plasma widget installer needs GPG"
Using KDE4 on NixOS 15.09:
- Right-click on the desktop
- "Add Widgets..."
- "Get new widgets"
- "Download New Plasma Widgets"
- Install any widget

Error:

![2015-11-11t16 12 14-0800](https://cloud.githubusercontent.com/assets/399718/11107095/3f6845f0-888f-11e5-8743-fa83d4d18a2a.png)

A missing build dependency?

[2015-11-12 00:44] abbradar commented on #10950
Hmm, that's strange -- we have `libstdc++` overridden by our version, which should fix the bug. I suspect Steam uses its own `libstdc++` anyway -- I'll investigate more for a chance to avoid using nasty `LD_PRELOAD` again.

[2015-11-12 06:18] ballo commented on #1484
I was excited at first when I read about nix, but attempting to install it on Yosemite it failed out of the gate with the "unable to check...unstable" error.

If it fails on step 1 it's not going to get much traction :)

[2015-11-12 06:19] wedens commented on #10421
@khumba can you send a PR with your fix?

[2015-11-12 07:05] khumba commented on #10421
Yes; I got heavily distracted, apologies.  Will do.

[2015-11-12 10:20] peti commented on #1484
This issue doesn't seem particularly import to keep around open, IMHO, because it's fairly vague and unspecific. If there are concrete issues with Darwin support, then we should have tickets for those specific issues.

[2015-11-12 10:20] #1484 closed

[2015-11-12 12:33] FRidh opened #10983 "python scikitlearn: fails to build since openblas update"
Since [openblas 2.14 -> 2.15](3d87c5f9c3104739c5c47c2d387101afba2b0089) scikitlearn [fails](http://hydra.nixos.org/build/27432158/nixlog/1/raw) with a segmentation fault. While I am not entirely sure it is due to openblas it seems the most likely cause.

The log shows a failure with scikit-learn 0.17b1, the same occurs when using the final 0.17.0.  Upstream tests using Travis with openblas 2.14 th

[2015-11-12 13:36] ttuegel commented on #10983
Segmentation faults with OpenBLAS are usually caused by using `openblas` instead of `openblasCompat` or vice versa. Packages that can use any BLAS implementation usually need `openblasCompat`, whereas packages that need OpenBLAS specifically usually need `openblas`. The first thing I would try is switching out the OpenBLAS build.

[2015-11-12 14:04] abbradar commented on #10950
Looks like there's sadly no other option. Can you please test if https://github.com/abbradar/nixpkgs/commit/0e7cc21b33f3406cebf0851e6a11761b0864639b fixes the problem for you?

1. Make `test.nix` file with contents like this in the root of `nixpkgs`:
[code]
2. Run `nix-build test.nix`
3. Run `result/bin/steam` and test.

[2015-11-12 19:56] domenkozar commented on #9207
Is this fixed on master?

[2015-11-12 21:01] ericbmerritt commented on #3986
@Phreedom whats the dumb solution?

[2015-11-12 21:54] Phreedom commented on #3986
no agent, ssh keys are
provided via metadata and
fetched by a simple systemd
job

[2015-11-12 22:41] Ericson2314 commented on #10215
I opened https://github.com/ghcjs/ghcjs/issues/442 which I believe should assist with this.

[2015-11-12 22:50] devhell commented on #10431
Can confirm. Discovery stopped working on both unstable and stable, therefore no synchronization is possible.

[2015-11-12 23:00] davidak commented on #10431
I think the discovery server for 0.11.x was shut down so you have to update to 0.12.x now.
I had the same problem today on my machines.

[2015-11-12 23:10] devhell commented on #10431
Yeah, looks like it. Well, upstream sure was fast in pulling the trigger on that one. I guess that also makes the idea of providing two separate versions obsolete. Might as well directly upgrade to 0.12. I don't think we have 0.12 yet.

[2015-11-12 23:14] davidak commented on #10431
The update in the webinterface works fine for me on OS X and Ubuntu. This software is so great. :)

So it should be no problem to update on NixOS.

You have to update **all** nodes because 0.11 and 0.12 is not compatible and they can't sync.

[2015-11-12 23:16] devhell commented on #10431
I'm on NixOS, and no, it doesn't work that way here. It's a bit more complicated.

I'm aware that all nodes must be updated. Thank you. ;-)

[2015-11-12 23:19] davidak commented on #10431
i know that one can't use the integrated update mechanism on NixOS. i only want to say that the update works in general so the package can get updated.

[2015-11-12 23:20] devhell commented on #10431
Ah, excellent. :-) Thank you.

[2015-11-12 23:29] devhell commented on #10431
Just to mention it quickly. It would be good if we could update stable's syncthing to 0.12 then too. Otherwise syncthing is useless on stable.

[2015-11-13 05:52] datakurre commented on #9207
Fixed in master.

Domen Kožar kirjoitti to marraskuuta 12 21:56:48 2015 GMT+0200:

[2015-11-13 09:09] evujumenuk opened #11003 "linux>3.19.x fails to mount root ZFS on NVMe during stage 1"
When using any kernel strictly newer than `pkgs.linuxPackages_3_19` as `boot.kernelPackages`, the entire configuration fails to mount the root-on-ZFS filesystem during stage 1.

Here is a transcript of a failing boot:

[code]

(Yes, I use Hungarian notation for pool and volume names. Stop judging!)

Pressing the `R` and `Enter` keys results in a few dozen newlines being printed and a subsequent re

[2015-11-13 09:23] spinus commented on #11003
Works for me. I have tried zfs on root and zfs on encrypted root. I had similar errors as you but most of the time it was my configuration issues. Please show your config for disks/grub/zfs.

[2015-11-13 09:36] evujumenuk commented on #11003
So, I just rebooted and can give some more information.

`/etc/fstab`:

[code]

`zfs list` outputs the following:

[code]

@spinus: Not using grub. This machine boots through UEFI with gummiboot. The kernel thus sits in an EFI system partition. I've posted the rest above.

Those mountpoints sure sound bogus though. I had created those filesystems using `-o mountpoint=none` as recommended in https:

[2015-11-13 09:37] YPares commented on #10834
@ttuegel Thanks! This part of R build passes. However I've got another problem when going further in the build. R configure phase fails with:
[code]

[2015-11-13 10:04] DamienCassou opened #11004 "Using emacs24WithPackages with overrides"
Hi,

I wanted to use emacs24WithPackage to include elisp-ffi in my already complex Emacs setup but I failed. Could you please help me?

[code]

@oxij

[2015-11-13 10:32] lethalman commented on #10925
@wkennington why did you update mesa in 0ba740d26b3e851a181034d8650ece94163d0fae ? Was that so necessary?

[2015-11-13 10:33] oxij commented on #11004
From what I see right away `pkgs.emacs24PackagesNgGen` is a function, use `pkgs.emacs24PackagesNg`.

[2015-11-13 10:37] pikajude commented on #10925
@vcunat the patch deletion was accidental and should be reversed if it hasn't been already

[2015-11-13 10:44] oxij commented on #11004
Also see #10811.

[2015-11-13 10:44] vcunat commented on #10925
@pikajude: it was done in 63385e971.

[2015-11-13 10:59] YPares commented on #10834
OK, and there's also another problem with X. It's enabled by default, which of course is problematic on OSX.
So I've overriden R derivation so it's configured with:
[code]
Build then it fails when building with:
[code]

[2015-11-13 15:57] expipiplus1 opened #11009 "Unable to run tests for neovim"
In order to run `make` in the neovim tree one must first add `libtool`, `autoconf`, and `automake` and `unzip` to the build dependencies.

Running `make test` fails with [this](https://gist.github.com/anonymous/8a9cc3585ddef62c58d0) output.

[2015-11-13 16:47] wkennington commented on #10925
@lethalman Just merge staging without that commit when it builds and then
eventually merge the mesa commit. It should be fairly easy to merge if you
just merge checkpoints hydra has built.
On Fri, Nov 13, 2015 at 2:45 AM Vladimír Čunát <notifications@github.com>
wrote:

[2015-11-13 17:07] FRidh commented on #10983
I took master and reverted 3d87c5f9c3104739c5c47c2d387101afba2b0089 and the segmentation fault did not occur. Let's see what upstream thinks about this.

For now scikitlearn can be fixed by overriding openblas to 0.2.14.

[2015-11-13 18:19] jordila commented on #5236
@geerds ... can you extend on your solution ? In which  file should i introduce the suggested snippet ?
thanks !

[2015-11-13 18:34] #10678 closed

[2015-11-13 18:41] andrewrynhard opened #11012 "Fish shell fails to install"
Yesterday fish shell was installing. After removing nix completely and reinstalling I am getting:
[code]

I would rather not set alloBroken, and figure out why it is not installing today.

[2015-11-13 19:41] wizeman commented on #11003
I think the problem here is that ZFS is not even finding your pool when you boot with a newer kernel:
[code]
This usually happens when the kernel cannot see your storage devices (e.g. due to missing drivers, due to a race condition with udev, etc...).
Are you using exactly the same configuration with both kernels (3.18.x and 3.19.x), only changing the kernel version?

Can you try booting with kern

[2015-11-13 20:16] ericbmerritt commented on #3986
@Phreedom any chance you could walk through that in a bit more detail?

[2015-11-13 22:13] abbradar opened #11013 "config.wine.release = "staging" leads to an infinite recursion"
`config.wine.release = "unstable"` works fine.

cc @bendlas

EDITED: I meant `unstable`, not `staging` works fine.

[2015-11-13 23:05] xor-xor commented on #8451
@calvinchengx and @wkennington: same situation here - I had to delete `/var/db/postgresql` dir and reinstall postgresql to make it work after restart.
[code]
Relevant part from `/etc/nixos/configuration.nix`:
[code]

[2015-11-13 23:54] #10441 closed

[2015-11-14 08:56] evujumenuk commented on #11003
I'll report back when the machine becomes unutilized (and I can reboot without clamoring users) later today. Yes, the only things that change in `configuration.nix` are the digits in `pkgs.linuxPackages_x_y`. I literally just cursor over them in vim and press `^X` and `^A` as is appropriate :) One more thing. The `POOLbakemono` pool currently resides on just one vdev, which is a partition on an NV

[2015-11-14 09:51] evujumenuk commented on #11003
I was able to sneak in a reboot. Here's what I found:

NVMe device nodes do show up in `/dev/` - all of them:

- `/dev/nvme0`
- `/dev/nvme0n1`
- one for each partition: `/dev/nvme0n1p${PARTITIONNUMBER}`

`zpool import` sort of works (but not really):

[code]
After that, the pool seems to be online. Nevertheless, `Input/output error` is not something I'd like to ignore without knowing the cause.

A

[2015-11-14 11:39] martinvahi opened #11018 "Installation of "hello" fails on Raspberry Pi"
After freshly compiling Nix on Raspberry Pi ([Raspbian](https://www.raspbian.org/) OS) the "hello" fails to install. The key phrase here is:

[code]

The details:

[code]

The environment, before compilation of the Nix, can be replicated by using
[this 8GiB flash card image](http://technology.softf1.com/mmmv_raspbian_t1/2015/bittorrent_seeds/2015_11_14_8GiB_flashcard_image_of_mmmv_raspbian_t1.img.

[2015-11-14 20:19] lukego opened #11026 "Example in "NixOS VM Tests" wiki page not working"
An example on the [NixOS VM Tests](https://nixos.org/wiki/NixOS_VM_tests) wiki page do not work for me:

[code]

(The first example does work.)

[2015-11-15 07:13] pSub opened #11030 "libpng is vulnerable, CVE-2015-8126"
Vulnerability is fixd in 1.6.19, see https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2015-8126.

[2015-11-15 08:58] alexeymuranov commented on #10970
I have managed to unpack the ISO image instead of mounting it, so this has solved my problem. I am not closing the issue yet because i am not sure that making the "Mac-OS-unmountable" ISO image for 15.09 was intentional.

[2015-11-15 09:00] evujumenuk commented on #11003
Posting a new comment because all that mountpoint jazz turns out to be a diversion from the main issue. I rebooted into a new kernel and decided to look into dmesg (why I didn't think of this earlier, I don't know) and found something interesting:

[code]

Which indicates that NVMe is initialized almost five seconds after almost everything else during that boot has finished. Of course, when I star

[2015-11-15 10:24] jcumming commented on #11003
Sounds like we need to wait for the NVMe driver to finish enumerating all devices before starting the zpool import. This is not a unique problem to NixOS, other distros have needed to resolve this.

The ordering can be done with systemd dependencies.

I'll research how to have the NVMe driver raise an objection while it is enumerating, and lower it when the devices are available.

[2015-11-15 12:14] bendlas commented on #11013
Lookie https://github.com/NixOS/nixpkgs/pull/10696

[2015-11-15 12:34] domenkozar commented on #11030
libpng-1.6.18-apng.patch.gz is not yet available

[2015-11-15 12:44] domenkozar commented on #11030
Patches: https://bugzilla.redhat.com/show_bug.cgi?id=1281756

[2015-11-15 12:53] domenkozar commented on #10925
I've fixed Python but now webkitgtk fails (probably due to gtk3+ bump): http://hydra.nixos.org/build/27677697

[2015-11-15 12:57] lethalman commented on #10925
On Fri, Nov 13, 2015 at 5:47 PM, William A. Kennington III <
notifications@github.com> wrote:

It's not about being able to merge it, it's about hydra computational power
not able to complete that evaluation. Looks like now however hydra has been
super responsive, that's good.

--
NixOS Linux <http://nixos.org>

[2015-11-15 13:25] utdemir commented on #10026
It occured to me again:

[code]

[2015-11-15 13:33] davidak commented on #10943
@domenkozar i can install it on NixOS 15.09 from cache.nixos.org

https://hydra.nixos.org/job/nixos/trunk-combined/nixpkgs.gpgstats.x86_64-linux

where have you tied it?

@copumpkin how can i do that?

[2015-11-15 15:16] pstn commented on #10950
ι tried to run your test but I can't get it to work. If I follow your guide as it is, I just get
`error: syntax error, unexpected '/', expecting ID or OR_KW or DOLLAR_CURLY or '"', at /home/philipp/workspace/nixpkgs/test.nix:1:18`
If I change `./` to the directory I cloned from github I get

    error: anonymous function at /home/philipp/workspace/nixpkgs/pkgs/games/steam/default.nix:1:1 called wi

[2015-11-15 15:19] abbradar commented on #10950
Ouch, I'm sorry, this should have been `./.`, not `./`. Anyway, have you cherry-picked my patch? It's strange it doesn't have `workaroundLibstdc` argument, I added it with the patch.

[2015-11-15 15:51] pstn commented on #10950
I did cherry pick your patch, there was a merge conflict but [I resolved it](http://pastebin.ca/3255039). Maybe I made a mistake?

[2015-11-15 16:10] evujumenuk commented on #11003
All of this happens during stage 1, and AFAICS systemd does not yet run then. The stage 1 shell script could simply wait in a loop until the pool containing the root FS became available. A ten second timeout wouldn't hurt, either. The latter seems to be what other distributions do when `mount` cannot proceed.

In an ideal world, one could wait for the relevant block device's device driver module t

[2015-11-15 16:57] abbradar commented on #10950
Hmm, the resulting chrootenv looks veery old, I think it was like that somewhere in the spring and definitely before 15.09. Try this branch: https://github.com/abbradar/nixpkgs/tree/steam-stdlibc . It's on top of latest `unstable` channel.

[2015-11-15 21:29] cleverca22 commented on #11018
nix-env -i will consume ~300mb of ram, and that causes an OOM on my pi's

the solution is to always use -iA and the full attribute path

[2015-11-16 03:41] robbinch opened #11042 "services.nix-serve.port and bindAddress not working"
This is not working in release-15.09. (No matter the settings, nix-serve always listens on 0.0.0.0:5000.)
It is fixed by #11005 and should be merged to release-15.09 as well.

[2015-11-16 07:14] vcunat commented on #11030
apng patch is available now &ndash; this builds:
[code]

For now I pushed to 15.09 and staging.

[2015-11-16 07:22] vcunat commented on #7203
14.12 is officially unsupported, I believe, so I'm closing.

[2015-11-16 07:22] #7203 closed

[2015-11-16 08:07] domenkozar commented on #11030
:+1:

[2015-11-16 09:15] FRidh commented on #10983
scikitlearn checks which version of openblas numpy uses, and sets the path to that one.
If I am correct, scikitlearn should indeed also have the same version of openblas.
Using 0.2.14 just for scikitlearn therefore does not work. An openblas 0.2.14 is needed for numpy/scipy/scikitlearn.
#10928

[2015-11-16 09:30] cillianderoiste commented on #5163
@copumpkin did you figure this out in the end?

[2015-11-16 09:33] cillianderoiste commented on #5798
I'll close this since it doesn't seem to be a problem anymore.

[2015-11-16 09:33] #5798 closed

[2015-11-16 09:44] cillianderoiste commented on #3187
This seems to be fixed now.

[2015-11-16 09:44] #3187 closed

[2015-11-16 09:49] cillianderoiste commented on #8645
The manual has quite a few pointers on checks you can do before opening a PR now, should we close this ticket @7c6f434c?

[2015-11-16 09:57] jcumming commented on #11003
Hrm. Is there no `udev settle` in stage 1?

/me wanders off to look.

[2015-11-16 10:02] vcunat commented on #11009
I'm not sure what you mean. The expression doesn't run tests. I assume you want to run tests by default?

[2015-11-16 10:10] jcumming commented on #11003
There is a `udevadm settle` in the stage 1. I'll harass the NVMe driver maintains about what's supposed to happen here.

If that fails, we might hack a  workaround and inject a `sleep 10`  from the `zfs.nix` module.

[2015-11-16 10:43] domenkozar commented on #11026
@lukego I've removed the whole wiki page since it's outdated and all the information is already in the manual: https://nixos.org/nixos/manual/index.html#sec-running-nixos-tests

Let me know if something is missing though

[2015-11-16 10:50] vcunat commented on #10915
Reopen if you believe it needs improving.

[2015-11-16 10:50] #10915 closed

[2015-11-16 10:50] rickynils commented on #11042
Fixed in #11005 (master) and 7bf45676134bb12a8155b9b03a9bda5873a82198 (release-15.09)

[2015-11-16 10:50] #11042 closed

[2015-11-16 11:10] abbradar commented on #11013
Closed by #10696

[2015-11-16 11:10] #11013 closed

[2015-11-16 11:16] cillianderoiste commented on #8598
Hi @shen390s is this still an issue?

[2015-11-16 11:20] domenkozar commented on #8895
fixed in c651e6cbe56ec5f9712044da3d6e41408056a3d9

[2015-11-16 11:20] #8895 closed

[2015-11-16 11:40] jcumming commented on #11026
@domenkozar I'm working on the tests right now, a stdenv change seems to have caused some havok, though..

[2015-11-16 11:45] domenkozar commented on #11026
@jcumming are you saying tests broke or that it's taking a long time to build the closure?

[2015-11-16 11:47] vcunat commented on #10943
@domenkozar: it builds for me on x86_64-linux on staging (tried two different machines).

[2015-11-16 11:48] domenkozar commented on #10943
I guess it's fixed now (or it was 32bit failure, don't remember)

[2015-11-16 12:20] peti opened #11049 "Haskell "pkg.env" attributes don't contain propagated build inputs"
The generic builder constructs a `nix-shell` environment that contains the build inputs specified directly for `pkg`, but it does not include those dependencies that are propagated by the dependencies of `pkg`. This causes inconsistent behavior i.e. when building `taffybar`.

[2015-11-16 13:19] FRidh opened #11052 "Naming of packages"
The Nixpkgs manual has a [section](http://nixos.org/nixpkgs/manual/#sec-package-naming) on package naming.

At the sprint a couple of us in *the Python room* discussed this issue regarding Python packages. Right now, the guidelines say we should follow the upstream name, but still, convert to lowercase. What are the arguments for following upstream name, and what are the arguments for adapting the

[2015-11-16 13:24] FlorentBecker opened #11053 "nix-shell -p cargo --command "cargo help" does not work"
as per the title, running 'nix-shell -p cargo --command "cargo help"' fails with "Could not execute process `rustc -vV` (never executed)". There seems to be an unaccounted for runtime dependency of cargo on rustc.

[2015-11-16 13:30] domenkozar commented on #11052
cc @jagajaga

[2015-11-16 13:35] aszlig commented on #10555
OpenSSL was more or less officially supported at the time I created the Chromium source build but it was broken by upstream on a regular basis, so I switched to NSS. It however seems to have changed, see the the following document: https://docs.google.com/document/d/1ML11ZyyMpnAr6clIAwWrXD53pQgNR-DppMYwt9XvE6s/view
I'm working on Chromium this week, so I'll investigate and test this as well.

[2015-11-16 13:39] nbp commented on #7272
@wizeman
Sorry again for the delay, these issues / pull request slipped out of my way.

I was re-reading what you described above, and I wondering why you need the hydra_path and other to be arguments of the modules, and not argument of a function which produces a module?

What I mean is that your configuration would become something like:

[code]

where the `config-*.nix` file would be something

[2015-11-16 13:41] wkennington commented on #10555
Wouldnt it make more sense to just use the bundled boringssl for chromium?
On Mon, Nov 16, 2015 at 5:35 AM aszlig <notifications@github.com> wrote:

[2015-11-16 13:56] expipiplus1 commented on #11009
Sorry,

I'm unable to manually run the tests for neovim when building in an environment generated by nix-shell.

[2015-11-16 14:00] aszlig commented on #10555
@wkennington: Maybe, as said, I have to catch up on all those Chromium issues these days anyway, so I'll investigate. Using as much system dependencies as possible has the advantage that it cuts down build time, so we might want to avoid using more bundled dependencies.

[2015-11-16 14:04] aszlig commented on #10452
@jb55: Ugh... that was a long time ago, don't remember anymore. But if I get time this week, I'll look into that, but no promises as I have quite a lot on my todo list.

[2015-11-16 14:09] dezgeg commented on #10425
Sounds like the compiler just ran out of memory?

[2015-11-16 14:12] wkennington commented on #10555
But it has the major disadvantage of not being tested by upstream chromium
developers. I think in the case chromium where we have a solid security
story for bundled dependencies, we should use bundling as it provides more
stability. I have a hunch that we arent saving more than 10% (although
probably far less) build time by providing our own dependencies anyway. It
would be worth investigating wha

[2015-11-16 14:12] dezgeg commented on #5913
@peti wanna close this?

[2015-11-16 14:13] vcunat commented on #11052
In TeX Live I used upstream names exactly. I was lazy to transform them during the generation process. (I used quoting instead, as some start with digits, etc.)

[2015-11-16 14:22] aszlig commented on #10425
@dezgeg: Could be the case, I didn't look into it yet...

[2015-11-16 14:24] wkennington opened #11059 "Systemd 227 Failing to unmount during shutdown / reboot"
http://i.imgur.com/0oHBSgT.jpg

This was never an issue when running on 217.

[2015-11-16 14:25] edolstra commented on #11059
Does it hang or just fail to unmount?

[2015-11-16 14:29] wkennington commented on #11059
It hangs but eventually reboots / powers off. I think there is some timeout
of 1 minute 30 seconds or 3 minutes. This doesn't happen every shutdown,
but happens frequently enough to be annoying. There is an upstream bug that
seemed somewhat similar, ill track it down.
On Mon, Nov 16, 2015 at 6:25 AM Eelco Dolstra <notifications@github.com>
wrote:

[2015-11-16 14:31] wkennington commented on #11059
https://github.com/systemd/systemd/issues/867
On Mon, Nov 16, 2015 at 6:28 AM William Kennington <william@wkennington.com>
wrote:

[2015-11-16 15:10] nbp opened #11064 "Assert when no window manager nor desktop manager are enabled."
The goal is to ensure that NixOS users do not forget to enable a window manager or a desktop manager when they enable the X server.  As soon as we have a didactic message, we can change the default value of `services.xserver.desktopManager.default` to replace it by `"none"` and change the example value to be more talkative.

To do that, we should add an `assertions` or a `warning` into display-man

[2015-11-16 15:10] vcunat commented on #10891
/cc maintainer @svenkeidel. BTW, it's good to have maintainer attrname equal to github username, so I can easily find out whom to ping ;-)

[2015-11-16 15:17] jcumming commented on #11003
The fix recommended by the NVMe driver maintainers is to pass ` udev.event-timeout=120 rd.udev.event-timeout=120` on the kernel command line, which means that `zfs.nix` should probably inject that.

[2015-11-16 15:20] vcunat commented on #11064
Sounds nice. "good-first-bug" is supposed to mean it's suitable for nix-inexperienced people? (reminds me of "trivial" tag also)

[2015-11-16 15:25] jcumming commented on #11026
@domenkozar tests run.

[2015-11-16 15:26] nbp commented on #11064
Yes, this means for users (frequently new) which would gain more experience by solving this issue.

[2015-11-16 15:26] domenkozar commented on #11026
:+1:

[2015-11-16 15:37] domenkozar commented on #11059
Can you try applying https://github.com/systemd/systemd/pull/1516

[2015-11-16 15:47] keithbusch commented on #11003
I'm not familiar with using zfs with nvme, so I might be off base here. If the "udev" params are not helping (which I thought were for systemd), try adding "rootdelay=120" instead.

[2015-11-16 15:59] vcunat commented on #10350
You've missed `perl.libPrefix`. I suppose it's easiest to append `/*/*` or something like that.

[2015-11-16 16:57] ehmry commented on #2100
I have a module to do a little of the PXE hosting configuration. I tried to get generate a squashfs and then insert that into the initrd, but generating the store closure before the initrd causes an infinite recursion. I'm not making a PR for the PXE stuff but its here if someone wants to pick it up.

[2015-11-16 17:39] evujumenuk commented on #11003
Thanks for the suggestions. I tried booting a new kernel with the first suggested set of arguments, then with the second singular parameter. Unfortunately, neither of these has any observable effect - I didn't see any delay during boot, and, of course, NVMe still added the needed device nodes way after `zpool import` was finished.

Is the first set really intended for `systemd`?

[2015-11-16 17:55] domenkozar opened #11069 "buildPhase is not available in nix-shell for buildPythonPackage"

[2015-11-16 18:03] mucaho commented on #10917
Yes, I have the same problem with `15.09`. So what do you have to set `services.mysql.package` to?

[2015-11-16 18:14] jcumming commented on #11003
It's been a while since I hacked on the udev boot stuff, but `udevadm trigger` is supposed to get the device drivers to emit events, and then `udevadm settle` waits for all of the events to clear.

I wonder if the `--trigger=add` is right?

[2015-11-16 19:33] matthiasbeyer commented on #10891
@vcunat :+1:

[2015-11-16 21:59] jb55 commented on #10452
@aszlig no problem

[2015-11-16 22:25] peti commented on #11052
Haskell packages use the upstream names without any transformation. This causes plenty of trouble, btw, because we cannot have a package called "assert" or "type". Also, package names like "3d-graphics" seem to work at first glance, but there is no way to refer to that package in a function argument list:

    { "3d" = ...; }

is fine, but

     { "3d" } : ...

is not. So far, I deal with these is

[2015-11-16 22:26] #5913 closed

[2015-11-16 22:31] roconnor commented on #9014
I'm afraid I haven't actually used wicd in many years. :(

[2015-11-16 22:57] ehmry commented on #2100
Yes, I think the thing to do with the least amount of obscure hackery and the most amount of reuse would be to get the initrd to do networking.

[2015-11-16 23:45] mucaho commented on #10979
Looks like runtime dependency to my inexperienced eye. Does it work if you install pgp in the user environment, e.g. `nix-env -i gnupg`?

[2015-11-16 23:54] magnetophon opened #11079 "it seems jack1 cannot be used"
@wkennington: I just installed jack1 (and uninstalled jack2), and it doesn't start from qjackctl.
It does start from cli, but other programs don't seem to see it.

~~I don't understand how other programs COULD see it, as they're all built with (lib)jack2.~~

~~I discussed this with @henrytill on IRC, and we came to the conclusion that it could only work if all occurrences of jack2 are replaced by

[2015-11-17 00:33] chris-martin commented on #10979
Yes, it does.

[2015-11-17 01:00] cleverca22 commented on #2100
first thing to decide on is which network protocols to support, nfs would be easy in the initrd, but need a bit more config to make it boot

iscsi should be easy, but you would need to install a target daemon like tgtd on the system serving the iso

i don't think ftp/http(s) can be loopback mounted, but the initrd could just curl it to a tmpfs and boot that

[2015-11-17 03:24] manpages commented on #10452
/cc @Radivarig

[2015-11-17 04:35] khumba commented on #10421
PRs created.  I'm still confused by shared-mime-info.  Some Claws
builds I have work without it being in the environment, and some
don't.  In all cases, running Claws with --debug shows that the Webkit
viewer is being created, at least.

[2015-11-17 08:14] ehmry commented on #2100
I think NFS is garbage, so I would say CIFS or diod and 9P, but I've been told that samba seemed to outperform diod.

[2015-11-17 09:22] matthiasbeyer commented on #9014
@roconnor I'm not using wicd since this issue came up. This is still open so others can respond to that.

[2015-11-17 10:16] peti opened #11084 "gnucash test suite failure after staging merge"
Citing from http://hydra.cryp.to/build/1365143/log/raw:

[code]

[2015-11-17 10:43] CMCDragonkai opened #11085 "Fixed hostId on installation media"
This line: https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/profiles/base.nix#L53 fixes the hostId when booting from the LiveCDs.

Should this be fixed statically or randomly generated? I thought the hostid should be unique across machines.

Also for the first time when setting up ZFS, I needed a unique hostId, so I had to use `networking.hostId = pkgs.lib.mkForce "insert host id"` in th

[2015-11-17 10:59] wedens commented on #10421
@khumba thanks

[2015-11-17 11:55] woffs commented on #2100
I would be happy with kernel+initrd over tftp and iso/root over nfs. Or sqashfs over tftp.

[2015-11-17 12:11] CMCDragonkai opened #11091 "nixos-rebuild switch on LiveCD needs CI"
Running `nixos-rebuild switch` or `nixos-rebuild switch --upgrade` at boot-up of a fresh LiveCD gives back:

[code]

This happened a couple weeks back too on a previous LiveCD version.

[2015-11-17 12:51] dezgeg commented on #11091
Sounds like the same underlying issue as #10367

[2015-11-17 14:24] magnetophon commented on #11079
@wkennington:  You replied on IRC that jack1 is not supported on NixOS.
If that is so, why do we even have it?

You also asked if jack1 has advantages over jack2.
There are a couple of trade-offs:
https://github.com/jackaudio/jackaudio.github.com/wiki/Q_difference_jack1_jack2

Also from that page: "Programs compiled against Jack 1 will work with Jack 2 without recompile (and vice versa)."
So that

[2015-11-17 14:31] vcunat commented on #11079
Working without recompiling everything seems a rather important property to me.

[2015-11-17 14:33] vcunat commented on #11079
I suspect it's only about noone stepping forward (yet) to maintain the support.

[2015-11-17 14:39] magnetophon commented on #11079
@vcunat Does the solution proposed above look good to you?
If so, I'd be willing to do the work.
Would it be possible to have Hydra build both versions of each program needing jack?

[2015-11-17 14:45] aszlig commented on #4002
Should be addressed by 26963cfc2dfd8ba6bce927535317d799dda15102 (#350)

[2015-11-17 15:03] vcunat commented on #11079
The solution above would recompile all.

I don't know Jack stuff, but if compiling against jack1 would produce jack2-compatible results, why not do that instead?

[2015-11-17 15:05] vcunat commented on #11079
Clearly it's about the trade-offs, linked above, and there we have

That sounds as a reasonable default.

[2015-11-17 15:09] vcunat commented on #11079
I suppose it's vital to find out why (some of) our current binaries refuse to work with jack1, as the link above seems to claim they should work.

[2015-11-17 15:11] vcunat commented on #4002
This issue sounds stale. I assume the problems have disappeared somewhere between 14.04 and 15.09. Reopen otherwise, please.

[2015-11-17 15:12] magnetophon commented on #11079
@vcunat afaik the link above claims it cannot work until you compile the programs with the correct jack version.

[2015-11-17 15:18] vcunat commented on #11079
How so? It says *Programs compiled against Jack 1 will work with Jack 2 without recompile (and vice versa).*

[2015-11-17 15:22] magnetophon commented on #11079
@vcunat oops, my fault. I read "will NOT work".  Sorry for the confusion.

[2015-11-17 15:32] vcunat commented on #11079
:-D Good that we've found that out early.

[2015-11-17 15:52] peti opened #11097 "unstable channel hasn't updated for 14+ days"
https://github.com/nixos/nixpkgs-channels has been stuck at 7ae05edcdd14f6ace83ead9bf0d114e97c89a83a for two weeks. According to https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents, kde4 tests fail, but there might be other reasons why the channel is blocked.

[2015-11-17 16:25] Miko4 opened #11098 "Autoconf not aviable in the build enviroment."
the "autoconf" binary (and depencies such as sed) are not found in the $PATH ($PATH is set to the value "/path-not-set", it is in fact set to something) in the build environment, even tough  it is specified in buildInputs. After asking in the IRC I think the nix-expression is correct and this is a bug.

How to reproduce: create a new dir and change to it.
create a file builder.sh:
[code]

create a

[2015-11-17 16:28] peti commented on #11098
If you specify the `builder` attribute, you replace the entire default builder with the script you provide, which means that all other attributes you've set have no longer any effect.

The proper way to do what you're trying to achieve is to set

    preConfigure = "autoconf && libtoolize -qi";

and to remove the `builder`.

[2015-11-17 16:30] lethalman commented on #11098
You can also use `autoreconfHook` which does that automatically.

[2015-11-17 16:31] lethalman commented on #11098
Closing, this is not a bug... sorry if you got said that on IRC.

[2015-11-17 16:31] #11098 closed

[2015-11-17 16:36] mucaho commented on #10979
Then a [runtime wrapper](https://nixos.org/wiki/Nix_Runtime_Environment_Wrapper) could be introduced to add this as a runtime dependency as well. Should work after that without issues.

[2015-11-17 17:00] vcunat commented on #11097
Yes, there's a build error in kgamma:

Maybe some cmake update on staging or something...

[2015-11-17 17:20] wizeman commented on #11097
Sounds like exactly the same problem that @aszlig fixed in conky: 880eba6481d112b934325f1e60033ffd3c6c3f53

[2015-11-17 17:44] svenkeidel commented on #10891
I will take a look at it. Sorry for the dealy

[2015-11-17 17:46] wizeman commented on #11085
It could be randomly generated, but then if you reboot and boot again from the LiveCD without having exported your ZFS pool, ZFS would complain that the pool might be in user from another system.

ZFS uses the `hostId` to prevent a ZFS pool from being imported at the same time on 2 different machines, which can lead to catastrophic loss of data. Personally, I think this is unlikely this would happ

[2015-11-17 18:17] martinvahi commented on #11018
Thank You for Your answer, but I'm new to the Nix package system and I do not know, what does the expression "full attribute path" mean. Could You please give a command line example that installs the "hello" by using the "full attribute path"?

Here's my current experience:

    pi@raspberrypi ~/.nix-profile/channels/nixpkgs $ nice -n10 nix-env -iA pkgs.hello
    error: attribute ‘pkgs’ in selecti

[2015-11-17 18:32] svenkeidel commented on #10891
Cannot reproduce. Are you trying this on a mac?

[2015-11-17 18:55] wizeman commented on #11053
Good catch!

Wow, I think this calls for a complete refactoring of the rust build system.

Since `cargo` implicitly depends on `rustc`, perhaps it doesn't make sense to have `rust*Platform` anymore, and instead make all Rust builds simply depend on `cargo` (which would itself depend on the stable `rustc`), or `cargoMaster` (which would depend on `rustcMaster`).

Although the name `cargoMaster` cou

[2015-11-17 19:16] Profpatsch opened #11101 "haskellPackages documentation recursive dependency example simplification"
The example seems to be overly complicated. So is the `super` argument shadowed once and the outer `self` is not even used.

[code]

@peti

[2015-11-17 19:51] matthiasbeyer commented on #10891
@svenkeidel Nope, I'm on nixos.

[2015-11-17 19:56] svenkeidel commented on #10891
Which channel do you use?

[2015-11-17 20:13] matthiasbeyer commented on #10891
unstable. It works now. Maybe the latest update fixed this.

Thanks you for your patience!

[2015-11-17 20:29] svenkeidel commented on #10891
No problem, it probably was a problem with one of the dependencies of zeal. Thanks for reporting.

[2015-11-17 21:40] frlan opened #11104 "gcc-4.9.3: Failed to link on AMD64"
When building geany from scratch, the linkage of gcc-4.9.3 fails. This happens at revision a7e8addf98feb2e9b7eeb0f1251645a35e3eb6cb. This happens on an Nix running on Debian Unstable

	g++   -g -DIN_GCC    -fno-exceptions -fno-rtti -fasynchronous-unwind-tables -W -Wall -Wno-narrowing -Wwrite-strings -Wcast-qual -Wno-format -Wmissing-format-attribute -pedantic -Wno-long-long -Wno-variadic-macros -W

[2015-11-17 23:42] frlan commented on #11104
You mihgt been right. I never expected that it takes >2GB to compile it.

[2015-11-17 23:42] #11104 closed

[2015-11-18 00:49] robbinch opened #11107 "calibre: Source cannot be downloaded"
Source URLs has become unavailable:
[code]

[2015-11-18 01:44] #11053 closed

[2015-11-18 01:46] wizeman commented on #11053
This should be fixed now. Thanks for reporting!

[2015-11-18 03:20] CMCDragonkai commented on #11085
I suppose the right way to do this, is to generate the a unique hostid manually prior setting up ZFS. This should be documented better and the fact that you need to override using `mkForce`.

@wizeman the error for nixos-rebuild is at here: https://github.com/NixOS/nixpkgs/issues/11091

It's more general than just the hostId. It affects the live cd entirely and that means something is seriously br

[2015-11-18 05:51] cleverca22 commented on #2100
this is what i have so far: https://gist.github.com/cleverca22/e266881fb6645c126710

bzImage/initrd/nix-store.squashfs are just copied right out of the iso, the init= must match what the squashfs contains, so you have to read the isolinux config file

ipxe will load the config+kernel+initrd over http, but tftp could also be used, the initrd should mount the dir over nfs for the squashfs file, but

[2015-11-18 11:40] peti commented on #10925
Does anyone know what might have caused https://github.com/NixOS/nixpkgs/issues/11084?

[2015-11-18 11:40] peti commented on #10925
Closing this issue because staging has been merged.

[2015-11-18 11:40] #10925 closed

[2015-11-18 11:47] vcunat commented on #11084
I suspect it might've been triggered by some updates in the gtk/glib stack, but the error message isn't very suggestive. https://bugs.freedesktop.org/show_bug.cgi?id=92245

[2015-11-18 11:48] vcunat commented on #11084
Ah, yes:

[2015-11-18 11:51] peti commented on #11084
I suppose this means that we either patch Gnucash 2.4.15 to play nicely with the new Glib or we disable the test suite. Any other options?

[2015-11-18 11:53] vcunat commented on #11084
Yes. It's also possible that upstream has a patch already.

[2015-11-18 11:54] peti commented on #11084
I couldn't find any in the downloads section.

[2015-11-18 12:37] CMCDragonkai commented on #11091
@dezgeg You're referring to the similarity in:

[code]

[2015-11-18 12:43] vcunat commented on #11091
It isn't typical to do `nixos-rebuild` on an ISO. People rather tend to try pre-installed stuff in there and install nixos.

[2015-11-18 13:28] copumpkin commented on #10726
Ksplice is available for free but appears unmaintained. Other than that, perhaps [KernelCare](https://en.wikipedia.org/wiki/KernelCare), [kpatch](https://github.com/dynup/kpatch), or [kGraft](https://en.wikipedia.org/wiki/KGraft) could do the trick.

[2015-11-18 13:53] CMCDragonkai commented on #11091
@vcunat In 14.04, I took an CD ISO and ran a nixos-rebuild in order to install change some settings and install things before installing nixos onto the hard disk.

Right now the usecase is to change the `hostId` and `hostName` from the default in NixOS so I won't get the same `hostId` and `hostName` for all the machines, which is relevant for ZFS. I'm sure there are other usecases too.

[2015-11-18 14:27] #11084 closed

[2015-11-18 14:43] rnhmjoj commented on #10230
It fails for me too on generating `users-groups.json` but for another reason. It says that the directory `/run/users` does not exist but in fact it's right there.

[2015-11-18 15:21] pSub commented on #11107
This is due to the fact that only the latest release is available from github. This should be fixed with f9670479e833c3da54a425a9df077f2d4b280965 and d0f307e78574c03c823fc98c8537e610ec36ab2a.

[2015-11-18 15:21] #11107 closed

[2015-11-18 16:24] rolkar opened #11123 "Update Erlang to version 18.1"
Newest version of Erlang have now been increased from 18.0 to 18.1.

I propose a change that can handle both 18.0 and 18.1

[2015-11-18 16:28] dlukes commented on #8502
I'm in Prague, Czech Republic, running the NixOS installer, and I can't confirm that the issue has been resolved :( I keep restarting `nixos-install`, every now and then a few packages get downloaded at the expected speed, followed by several attempts where the first download on the list slows to a crawl or stalls. Anything I can do to help? My public IP is 195.113.53.126.

[2015-11-18 16:35] ocharles commented on #10917
@mucaho:

[code]

is working for me.

[2015-11-18 16:43] YPares opened #11125 "glibcLocales equivalent on OSX"
Is there an equivalent to glibcLocales on OSX?

When using GHC inside a pure nix-shell I get:
`Warning: unable to set locale to UTF-8 encoding; GHC may fail with 'invalid character'`
and on Ubuntu adding glibcLocales in the buildInputs made that go away.

[2015-11-18 17:14] vcunat commented on #11091
I wasn't trying to say it isn't a bug, just that most people don't need it (but I have used it myself).

[2015-11-18 17:23] jagajaga commented on #11052
@peti maybe we should create come prefix for this kind of pkg? Like `nix3d` or something else. Because ugly named pkg is better than non-working pkg.

[2015-11-18 17:25] vcunat commented on #8502
@dlukes: I just tried from 195.113.19.46 (haf.ms.mff.cuni.cz), `wget http://cache.nixos.org/nar/1r7qx8fvm0nnppjpc9f09mi40gr4c9djmavb3b8ss9k8gi70h5sc.nar.xz` for ~6.5 MB/s. That's not too good, as from a different UK network I'm ~10 MB/s on the same command.

[2015-11-18 17:30] vcunat commented on #8502
Hmm, perhaps it was some transient problem, as now I'm getting ~16 MB/s on haf.

[2015-11-18 17:49] dlukes commented on #8502
@vcunat yes, the speeds also got better here in the last 30 minutes, and especially more consistent, though less impressive :)

[2015-11-18 20:41] pSub commented on #11097
Yes, that sounds exactly like that problem. However I have no idea how to fix it properly.

@ttuegel You do most of the kde stuff, do you have a idea?

[2015-11-18 21:24] vizanto opened #11133 "wrapProgram & friends depend on linux kernel shebang feature"
While trying to package JRuby as a more ruby like package, I discovered that OSX does not support shebangs at the kernel level.

Running `jruby` (which is a bash script that starts java) works fine on any unix.
Trying to run `gem` which has `jruby` in it's shebang:

[code]

And apparantly bash has a fallback mode where it interprets the script as a bash script:

[code]
### More details:
- http://w

[2015-11-18 22:02] bjornfor commented on #11133
Related: https://github.com/NixOS/nixpkgs/issues/2146. I attempted to make patchShebangs change "/usr/bin/env prog" into "/nix/store/.../env /nix/store/.../prog", but that hit the default kernel shebang size limit. (See discussion in the mentioned issue.)

[2015-11-18 23:52] ttuegel commented on #11097
For kgamma, check for a patch upstream. CMake doesn't keep backwards compatibility between versions, so you can't just upgrade it globally. You will need an upstream patch for kgamma to fix it properly. If there is no upstream patch, I guess your options are to use an older CMake for kgamma or drop kgamma as unmaintained upstream.

[2015-11-19 00:47] ericsagnes opened #11138 "Standardize input method management"
This issue's goal is in a first time to gather input methods users and maintainers feedback to standardize input method management in NixOS.
Everybody input is welcomed.

After that, sub-issues could be generated for related tasks, and this issue could be used to track the overall process.

---

Currently, input methods are managed in different ways:

- [ibus](https://github.com/NixOS/nixpkgs/blob

[2015-11-19 06:44] ericsagnes commented on #11123
Genuine question here, [NixOS policy](https://nixos.org/nixpkgs/manual/#sec-versioning) is to generally keep "versions that differ significantly in functionality", is there a particular reason (like newly introduced bugs or compatibility breaks) that motivate having both 18.0 and 18.1?

[2015-11-19 07:58] cleverca22 commented on #10716
but can a systemPackage ever be higher in priority then a nix-env package?, i don't think the order in PATH will allow it

[2015-11-19 08:01] cleverca22 commented on #11018
```nix-env -iA nixpkgs.hello``` is the correct command, you appear to have something else wrong with your nix profile
what does ```ls -lha /nix/var/nix/profiles/per-user/``` return?

[2015-11-19 08:11] martinvahi commented on #11018
Thank You for Your anser.  :-) My "results":

    pi@raspberrypi / $ nice -n10 nix-env -iA nixpkgs.hello
    error: ‘/nix/var/nix/profiles/per-user/pi’ is not a symlink
    pi@raspberrypi / $ ls -lha /nix/var/nix/profiles/per-user/
    total 12K
    drwxr-xr-x 3 pi pi 4.0K Nov 18 21:50 .
    drwxr-xr-x 3 pi pi 4.0K Nov 18 21:50 ..
    drwxr-xr-x 2 pi pi 4.0K Nov 19 08:07 pi
    pi@raspberrypi / $

[2015-11-19 08:15] cleverca22 commented on #11018
/nix/var/nix/profiles/per-user/pi must be a symlink, not a directory, you've done something wrong during your install, try moving that out of the way and then re-run nix-env

[2015-11-19 09:37] vcunat commented on #10716
No, the priorities work only within each nix-environment, not across.

[2015-11-19 09:51] martinvahi commented on #11018
No luck with that either.

    pi@raspberrypi / $ rm -fr /nix/var/nix/profiles/per-user/pi
    pi@raspberrypi / $ nix-env --version
    nix-env (Nix) 1.10
    pi@raspberrypi / $ ls -lha /nix/var/nix/profiles/per-user/
    total 8.0K
    drwxr-xr-x 2 pi pi 4.0K Nov 19 09:49 .
    drwxr-xr-x 3 pi pi 4.0K Nov 18 21:50 ..
    pi@raspberrypi / $ nice -n10 nix-env -iA nixpkgs.hello
    error: attribute

[2015-11-19 09:52] vcunat commented on #11133
Yeah, it would solve multiple issues at once. Still, we probably want a simple way of inspecting what the wrapper does &ndash; options off the top of my head:
- create also a text file next to the wrapper containing arguments to `makeWrapper`,
- or even make the binary wrapper generic, i.e. make it just interpret that text file without hard-coding anything into the binary (perhaps do hardcode the

[2015-11-19 09:59] lethalman commented on #11133
@vcunat which is basically exec bash and source that file :)

[2015-11-19 10:26] FlorentBecker opened #11144 "buildRustPackage is not very nix-ish"
Hi, I started developping some rust code on nixos, and I find that while buildRustPackage is great for having all of crates.io available, the experience is not quite on par with, say, that of developping in haskell or ocaml on nix.

Specifically:
- Documentation is a bit terse (I only found this wiki page: https://nixos.org/wiki/Rust), and it is not clear if it is up to date.
- In Rust projects wi

[2015-11-19 10:32] domenkozar commented on #2412
Wheels PR now reports errors if packages conflict, but setuptools namespaces support is still broken. To reproduce:

[code]

[2015-11-19 10:40] vcunat commented on #11133
Yes, that wouldn't really change much from the current state.

[2015-11-19 10:50] cleverca22 commented on #11018
your nix channel was in there, so you need to re-add it with ```nix-channel --add https://nixos.org/channels/nixpkgs-unstable```

[2015-11-19 10:52] cleverca22 commented on #10716
so even with a low priority, if i nix-env busybox, i also have to nix-env coreutils to fix things, a seperate derivation would probably work better

[2015-11-19 12:21] domenkozar commented on #10938
Made some progress in https://github.com/NixOS/nixpkgs/pull/11086

[2015-11-19 13:16] martinvahi commented on #11018
Well, thank You again, but it seems that that does not save the day either. :-/

Quite a mystery. Should it be of any help, I mention that I'm using the oldr Raspberry Pi that has 512MiB RAM and a single core. The /nix is actually a 16GiB USB disk, mounted to the /nix, and to save the flash card from tear and wear, the /tmp is a RAM-fs and the swap aprtition is switched off, again, to save the fla

[2015-11-19 14:06] rolkar commented on #11123
Hi guys, tremendous work you are doing with nearly 3000 modules and nearly 8000 versions. My need was to be able to compile several versions of Erlang and do simple switch between them. This do not really scale in your case. So, I will use kerl or envirius instead. So, I withdraw my pull request.

Maybe I will make a simple pull request to upgrade to 18.1 instead, we will see.

/Take care

[2015-11-19 14:06] #11123 closed

[2015-11-19 14:15] taku0 commented on #11138
Dedicated namespace will help users to choose their input method since NixOS options are sorted by qualified name in the manual, so I :+1: to a new dedicated namespace.

[2015-11-19 14:28] iyzsong commented on #11138
Sure, I'd like `i18n.inputMethod`.
But since I only use nix but not NixOS these days, so I won't be very helpful for modules, sorry :-

[2015-11-19 22:49] nbp commented on #11004
@DamienCassou Did @oxij answered help?  Can we close this bug, should we open a new bug to improve the documentation?

[2015-11-19 23:13] spwhitt opened #11160 "Automatically mention potential reviewers on pull-requests using mention-bot"
Recently there was some discussion (probably in a NixCon video) that we should have some way to mention people on pull requests which they may be interested in. [Facebook just released this bot](https://github.com/facebook/mention-bot) which uses `git blame` to guess who to mention, and it requires 0 effort on our part to integrate. Maybe we should try it?

Obviously it would be nice to have a bot

[2015-11-20 00:04] davidak commented on #11160
@garbas mentioned it in his talk at http://youtu.be/PjAmr22FZts?t=27m42s

from a quick look this seams to be great. we should try it out!

[2015-11-20 03:37] martinvahi commented on #11018
I assembled a [test case](http://temporary.softf1.com/2015/2015_11_19_NixOS_nixpkgs_flsaw_11018_test_case_1.img.bz2) (~2.5GiB). The 2.5GiB bz2 is actually ~8GiB after unpacking. It is a flash card image for ~8GiB size flash card. It's a raspbian distro with plain administration based customizations.

    user: pi
    password: raspberry

Further instructions reside at the

    /home/pi/<you'll fig

[2015-11-20 04:32] wizeman commented on #11144
I agree with your points.

Regarding your 3rd point, that may not be very easy to accomplish. I was thinking we'd need something that parses `Cargo.toml`, but even `Cargo.toml` doesn't seem to tell you what C dependencies you need, see for example: https://github.com/brson/rust-sdl/blob/master/Cargo.toml
This may be even harder to figure out when libraries are dynamically loaded via `dlopen`. Case

[2015-11-20 06:11] DamienCassou commented on #11004
@oxij @nbp I just tried and it didn't help

[code]

results in

[code]

[2015-11-20 07:32] oxij commented on #11004
See #10811 on how to override emacs in emacsWithPackages.

[2015-11-20 08:14] vcunat commented on #11097
Fixed a channel blocker in 48409bd3. No other failures are visible ATM http://hydra.nixos.org/build/28002207#tabs-constituents

[2015-11-20 09:50] peti commented on #10819
Related issues where other people had the same problem: https://github.com/NixOS/nixpkgs/issues/10811 and https://github.com/NixOS/nixpkgs/issues/11004#issuecomment-158225311.

[2015-11-20 09:52] peti commented on #11004
The example from the other ticket was:

[code]

I hope that clarifies things. Hopefully, this will become much easier when https://github.com/NixOS/nixpkgs/issues/10819 is implemented.

[2015-11-20 09:52] #11004 closed

[2015-11-20 10:16] vcunat commented on #11097
So, kde4 test succeed for me now on x86_64-linux. I decided to switch to cmake-2.8 for all kde4 components, as that seemed easiest with kde4 stuff not really maintained upstream anymore.

[2015-11-20 10:38] vcunat commented on #11097
@lethalman: what is your estimate about status of gnome-3.18 in nixpkgs? When switch the default?

Now I see that gnome-maps-3.16 also has [problems with newer glib](http://hydra.nixos.org/build/28002102/nixlog/17/tail-reload) and there are no more 3.16 releases of that one. Maybe 3.16 will become nontrivial to keep alive.

[2015-11-20 10:40] svenkeidel opened #11165 "GhostScript broken on Darwin"
If I install ghostscript in the global environment and execute it, I get the following message.

[code]

Any idea how to fix this?

Best,
Sven

[2015-11-20 10:41] svenkeidel commented on #11165
/cc @viric

[2015-11-20 10:53] cleverca22 commented on #11018
```The /nix is actually a 16GiB USB stick, mounted to the /nix, ```

which filesystem is it formatted with?

[2015-11-20 11:48] domenkozar commented on #11160
Awesome!

[2015-11-20 11:52] domenkozar opened #11166 "How to ease/improve PR reviewing process"
We had an openspace at NixCon about how to make more people participate in PR reviewal process and how to make it easier.

Here are my quick notes:
- [ ] hydra spams users, could we rather send one email per revaluation?
- [ ] automatic tagging would be hard, but it's doable for things like `nixos` tag for everything that touches `nixos/`
- [ ] improve travis with a wrapper to hide output, but out

[2015-11-20 11:58] domenkozar opened #11168 "Replace magic sed for Python argv[0] with a python wrapper."
[Magic sed line](https://github.com/NixOS/nixpkgs/blob/master/pkgs/top-level/python-packages.nix#L46-L77) is something that probably just @aszlig can maintain, so I propose a simplification.

Not sure what the best approach would be, but current `exec -a bla` also doesn't work.

[2015-11-20 12:14] Pitometsu opened #11169 "MOC: (81!) Resampling not supported!"
When use `mocp` over `jack` it can't change sample rate. Should use `libresamplerate` for this.

[2015-11-20 12:15] jagajaga commented on #11169
We need to change input library?

[2015-11-20 12:18] svenkeidel opened #11170 "How to find Latex packages with the new TexLive integration in nix."
Hi,

Recent efforts have split up the whole monolithic TexLive distribution into multiple small nix packages. Now the problem arrises how one can find a latex package within the distribution. In particular I want to find the package that contains the tikz.sty file. Can someone explain how to explore those packages?

Best,
Sven

[2015-11-20 12:24] Pitometsu commented on #11169
Probably, I'm not sure.

[2015-11-20 12:40] vcunat commented on #11170
I wonder how other TeX/Linux distributions do this. I think I actually saw one which automagically downloaded missing files during compilation (after asking for confirmation).

ATM the easiest way occurring to me is to search in <ftp://tug.ctan.org/pub/tex/historic/systems/texlive/2015/tlnet-final/tlpkg/texlive.tlpdb> . In `tikz.sty` case it looks like `pgf`.

Of course, having a database of produ

[2015-11-20 12:44] svenkeidel commented on #11170
I have tried pgf:

[code]

[code]

But `\usepackage{tikz}` still does not work.

[2015-11-20 12:48] Phlogistique commented on #10415
Seems to have been fixed in as of nixpkgs-16.03pre71923.3087ef3

[2015-11-20 12:48] #10415 closed

[2015-11-20 12:59] domenkozar commented on #9204
Agreed, we can't use `fixup` phase itself since it proves to be useful. We should probably define our own phase where wrappers are generated.

[2015-11-20 13:27] peti commented on #11170
The file lives in `share/texmf-dist/tex/latex/pgf/frontendlayer/tikz.sty`, which is definitely part of the `pgf` package. The fact that your build won't succeed seems related to the `runLaTeX` function rather than LaTeX itself, i.e. the following command translates your `example.tex` file just fine:

[code]

[2015-11-20 13:32] svenkeidel commented on #11170
Oh you are right. But this was the function Elco showed as an example on NixCon...

Anyway. thanks a lot for the help.

[2015-11-20 13:32] #11170 closed

[2015-11-20 14:38] martinvahi commented on #11018
ext4, default parameters

[2015-11-20 15:12] YPares opened #11171 "DYLD_LIBRARY_PATH removed when set in the shell.nix"
If on OSX I have a shell.nix with:

[code]

and start the shell, $SOME_VAR exists but not $DYLD_LIBRARY_PATH. It is handled specifically and removed before the shell is launched?

[2015-11-20 16:11] spwhitt commented on #11168
Is my approach missing something? https://github.com/NixOS/nixpkgs/pull/7931

[2015-11-20 20:24] nbp commented on #7467
Close as this issue is solved by #11106.

[2015-11-20 20:25] copumpkin commented on #7467
@nbp beautiful, thanks!

[2015-11-20 20:29] alexeymuranov commented on #10970
I am not sure i would have time to make a pull request to update the installation documentation, but here is [my account of installing NixOS on a MacBook](http://superuser.com/a/796642/142426), in case it helps.

[2015-11-20 20:31] nbp commented on #7272
Closing as this issue is solved by #11106.
See https://github.com/NixOS/nixpkgs/pull/8932#issuecomment-157640495

[2015-11-20 20:55] nbp commented on #11085
Instead of documenting that the user has to use `mkForce`, we should change [1] to use `mkDefault`.

[1] https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/profiles/base.nix#L53

[2015-11-20 21:02] nbp commented on #11079
https://github.com/NixOS/nixpkgs/issues/11079#issuecomment-157384804

From what I understand this thread is closed.  Feel free to re-open and clarify the issue otherwise.

[2015-11-20 21:07] nbp commented on #10936
cc @spwhitt, @offlinehacker and @domenkozar (based on #5726)

[2015-11-20 21:11] nbp commented on #10931
I think this would be a nice addition to `setup.sh`, but I do not see any other way to warn about it without having a mass-rebuild.

[2015-11-20 21:12] nbp commented on #10926
@vcunat Do we know who is going to fix this issue, and when?

[2015-11-20 21:12] copumpkin commented on #10931
It seems like it would only need to touch `antBuild`, right? Or what am I missing?

[2015-11-20 21:16] nbp commented on #10912
@wkennington , any ideas?

[2015-11-20 21:19] nbp commented on #10889
@sindikat would you be interested in making this change? if you want we can guide you into NixOS.

[2015-11-20 21:21] nbp commented on #10885
cc @vcunat

[2015-11-20 21:24] davidak opened #11176 "defaultGateway not changed after nixos-rebuild switch"
changing **networking.defaultGateway** should take effect after `nixos-rebuild switch`, but i have still the old gateway (checked with `route -n`)

i had to `systemctl restart network-addresses-eth0.service` manually.

cc @wkennington

[2015-11-20 21:33] dlukes commented on #10597
+1 Another user here who found this behavior unexpected :) But then I'm very new to NixOS, so it's not surprising that my expectations are somewhat "traditional".

I (think I) understand the reasons not to modify `$PYTHONPATH`, but why does then perl use this exact solution? (Modulo `$PERL5LIB` instead of `$PYTHONPATH`, of course.)

On a vanilla instance of zsh under NixOS, `$PERL5LIB` is set to `

[2015-11-20 22:04] martinvahi opened #11177 "nixpkgs Upstream Dependencies are Offline or Their Declared hash Differs from Actual hash"
I first tried to write about that to

    nix-dev@lists.science.uu.nl

but my letter got stuck to some spam filter or just did not go through due to some weird reason. So, the following is a Copy/Paste with Markup related modifications.

    ---citation--start---

nixpkgs dependencies availability test is about 300MiB in size due to a clone of the

    https://github.com/NixOS/nixpkgs

and resides

[2015-11-20 22:05] nbp commented on #10931
I thought that setup.sh would have been a good place to add assertions for that in general.

[2015-11-20 22:16] nbp commented on #11177
@martinvahi I can see you message on the mailing list, as you also got a reply.
In the worse case you can see it on http://lists.science.uu.nl/pipermail/nix-dev/2015-November/018688.html

Closing.

[2015-11-20 22:35] vcunat commented on #10926
I know about these open TeX issues, but I don't know when they get to the top of my ToDo, and neither I do know about anyone else planning to solve them (there's the assignee slot for that).

[2015-11-20 23:41] spwhitt commented on #10936
I'm not sure what the deal is here, but I believe the `command-not-found` output is a symptom and not a cause, so this is not related to that PR. `have` has not been removed (though it is deprecated), `bash_completion` does define it:

[code]

So the question is: given that `have` is defined in `bash_completion` and `bash_completion` has been sourced, what is causing bash to think it's missing?

[2015-11-21 00:05] spwhitt commented on #10936
Found this in `bash_completion`:

[code]

Which explains why we're not seeing it. It gets unset before `bash_completion` exits. Only the completions sourced before that (user completions and /nix/store/0n5465csmqvgy8hssvp2nw14hfdsybf2-bash-completion-2.1/etc/bash_completion.d) get the benefit of using `have`. I'm not sure what the best fix for this is. For sure the easiest fix is to just patch `bu

[2015-11-21 00:08] martinvahi commented on #11177
Strange, I can not find it, but the link that You provided was very useful. I'll look into the [proposed](http://lists.science.uu.nl/pipermail/nix-dev/2015-November/018699.html)

    nix-store -r $(grep -l outputHash $(nix-store -qR $(nix-instantiate '<nixpkgs>' -A foobar) | grep '.drv$'))

but it seems to me that nobody addressed the issue that some dependencies of the nixpkgs are occasionally of

[2015-11-21 04:26] Mathnerd314 commented on #11160
cc @edolstra @rbvermaa since they seem to be the only people with sufficient privilege level

[2015-11-21 05:07] ericsagnes commented on #11138
Thanks for the suggestion!
I updated the namespace proposition with `i18n.inputMethod` as it is a better one, and added a proposition for managing package hierarchy.

[2015-11-21 06:52] pikajude commented on #10864
@andrewrynhard @vcunat I have a fix for this but it's based on the `sandbox-profiles` branch and I'd like that to be merged in first. Just a couple changes are necessary:

* Build llvm as a shared library on Darwin. This requires `NIX_LDFLAGS = "-rpath ${llvm}/lib"` to be added to packages that directly link with llvm, which right now are clang and rustc.
* Allow impure dependencies on `/bin/cat`,

[2015-11-21 06:56] CMCDragonkai commented on #11085
That's a good idea, perhaps I can submit a pull-request with it changed to `mkDefault`?

[2015-11-21 07:06] pikajude commented on #11125
@YPares The darwin locales package will be added to nixpkgs as part of the `sandbox-profiles` branch and will be available as the attrpath `darwin.locale`. The locale path will also be set in the generic preHook though so you shouldn't need to worry about it. (See https://github.com/NixOS/nixpkgs/pull/11001)

[2015-11-21 07:09] pikajude opened #11179 "GHC 7.10 isn't built with a GHC bindist"
As someone who generally works with master, it's not the most convenient thing to need to build two copies of GHC (40+ minutes on my 8-core i7) to do any dev work.

Has someone tried to add the GHC 7.8 bindist to nixpkgs and it ended up being complicated, or has this issue just not been noticed yet?

[2015-11-21 07:15] pikajude commented on #10875
go being unable to interoperate with the system keychain is a known issue (`hub` is also broken), though it needs more investigation.

[2015-11-21 08:06] cleverca22 commented on #11018
somethings very wrong, it should have been making symlinks not directories in per-user

[2015-11-21 08:38] vcunat commented on #11177
IIRC the mailer doesn't send messages to people that are known to already have the message, e.g. the sender or additional recipients.

[2015-11-21 09:49] #10418 closed

[2015-11-21 10:34] nbp commented on #11160
:+1: We definitely need something to scale with the increasing number of pull-requests.

[2015-11-21 10:40] nbp commented on #11085
@CMCDragonkai sure :) Don't forget to mention this issue to get a cross-reference.

[2015-11-21 10:49] nbp opened #11180 "Add a label named `needs-documentation`"
I suggest we add a label named `needs-documentation` in a similar way as we have a label named `needs-changelog`.

[2015-11-21 10:50] nbp commented on #11179
cc @peti, @ocharles

[2015-11-21 10:56] nbp commented on #10875
cc @cstrahan @wkennington

[2015-11-21 11:06] domenkozar commented on #329
As #11086 is practically ready, I'm happy to close this after 2 years ;)

[2015-11-21 11:06] #329 closed

[2015-11-21 11:07] domenkozar commented on #11168
Yeah I still need to review that, thanks for reminding me

[2015-11-21 11:08] domenkozar commented on #8909
This is now fixed in 11086

[2015-11-21 11:09] copumpkin commented on #8909
Thanks!

On Sat, Nov 21, 2015 at 12:08 Domen Kožar <notifications@github.com> wrote:

[2015-11-21 11:09] domenkozar commented on #7785
`cffi` is now `null` for PyPy in #11086

[2015-11-21 11:09] #7785 closed

[2015-11-21 11:11] peti commented on #11179
Supporting a post 7.8.x binary snapshot is complicated and I didn't bother to pursue the issue because it's a build-time only dependency. If you want to give it a shot, then I am all for it of course!

[2015-11-21 11:11] domenkozar commented on #7816
`.pth` files are now gone in #11086

[2015-11-21 11:35] magnetophon commented on #11079
@nbp
There was a bit of confusion on my side, and that is now cleared up.
The fact remains that jack1 doesn't work on NixOS, so I don't see why you closed the issue.

Unfortunately I don't have time atm to track down why it doesn't work.
Also I wouldn't really know where to start.

[2015-11-21 11:42] nbp commented on #7816
@domenkozar I guess we should close this issue?

[2015-11-21 11:42] #7816 closed

[2015-11-21 11:53] nbp commented on #11079
@magnetophon Ok, my bad, I thought this was only a question on the fact that it might hypotetically not work, and that this question got answered.

So if this is a bug, we would need a way to reproduce it, do you have any idea how to proceed?

[2015-11-21 12:08] magnetophon commented on #11079
@nbp
Reproducing is easy:
- install jack1 instead of jack2
- start up jack (via cli, since qjackctl doesn't work with jack1 either)
- start a (any) program that uses jack
- it will say: cannot connect to jack server.

[2015-11-21 12:11] vcunat commented on #11079
I edited the description to better reflect the status.

[2015-11-21 12:46] krgn opened #11183 "package key-mon is broken"
How to reproduce:

Install `key-mon`:

[code]

Start it:
[code]

[2015-11-21 13:07] davidak opened #11184 "systemd Capabilities issue"
i want to start Transmission on port 80 and it runs as unprivileged user, so i added *CAP_NET_BIND_SERVICE* capabilitie like in the [diod module](https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/network-filesystems/diod.nix#L156) (there it works btw.)

here is my branch: https://github.com/davidak/nixpkgs/commit/1a9e6adcd9958faada7938661a5423ddc631ad05

the line in the systemd s

[2015-11-21 13:15] martinvahi commented on #11177
First of all, thank You all/both for Your answers. I took a second look at the mailing list digests and it seems that indeed, replies to my both letters are present, but my own letter seems to be omitted, as described by vcunat. However, what regards to the nixpkgs packages that download upstream dependencies as part of their build process, then it seems to me that I have to create some utility fo

[2015-11-21 13:26] vcunat commented on #11177
That's what the `outputHash` grep is for, I believe. Only fixed-output derivations can access network and thus download http://nixos.org/nix/manual/#fixed-output-drvs Usage of them for anything but fetches is rare, I think, except for the recently added `texlive` packages (all of them, i.e. thousands).

[2015-11-21 13:32] martinvahi commented on #11018
The snapshot of the Nix package manager src that I used on both cases is part of the test case flash-card image:

    /home/pi/mmmv_raspbian_t1/src/2015_11_xx_Nix_package_system.tar.bz2

I forgot to post the sha256 of the image, but it is

    c16eee6aca6a01c1e7cffa6de211428789aeebe1905903733cf6b403a6234c84

[2015-11-21 13:43] nbp commented on #11183
cc @domenkozar

[2015-11-21 13:45] sindikat commented on #10889
@nbp, I'd love to be a NixOS contributor :). But I'm not sure I have time right now. As this is not a pressing improvement, I'll message you once I have some time and desire to do that. Is that alright?

[2015-11-21 13:46] domenkozar commented on #4904
Did you solve this?

[2015-11-21 13:46] martinvahi commented on #11177
A citation from the manual:

    It sometimes happens that the URL of the file changes, e.g., because servers are reorganised or no longer available. We then must update the call to fetchurl, e.g.,

Is there a way to add more then one fetch URL, so that when one of the servers is offline, then another URL is tried? If the hash of the downloadable file is already known, then if anonymity is discard

[2015-11-21 13:47] nbp commented on #11184
cc @ts468

[2015-11-21 13:55] nbp commented on #11177
(reopen as the discussion moved to github)

[2015-11-21 14:04] CMCDragonkai commented on #11085
@nbp Here it is: https://github.com/NixOS/nixpkgs/pull/11185

[2015-11-21 14:07] nbp commented on #10889
@sindikat I think this would be fine, I will flag this bug as good-first-bug.

The idea of this bug would be to create a new module, as described in the manual [1] and to register a systemd job [2] which starts the `syndaemon` program which is already packaged as part of `xorg.xf86inputsynaptics`.

This module can be tested manually by rebuilding the configuration of NixOS, and checking it it appe

[2015-11-21 14:14] nbp commented on #11085
@CMCDragonkai Thanks, as you know more about the details, it would be good to provide additional documentation, such that users do not keep the default value when they use it the same way as you did, in order to avoid surprises.

[2015-11-21 14:41] cillianderoiste commented on #11183
Thanks @krgn, it should be fixed now.

[2015-11-21 14:42] domenkozar commented on #11183
@cillianderoiste would be nice to use 'makeWrapperArgs` instead

[2015-11-21 14:54] cillianderoiste commented on #11183
Ah thanks, I'll give that a shot.

[2015-11-21 15:06] cillianderoiste commented on #11183
@domenkozar like that?

[2015-11-21 15:08] domenkozar commented on #11183
Yeah if you define it in bash you could reference bash variavles as before. Grep around for export makeWrapperArgs

[2015-11-21 15:10] martinvahi commented on #11177
May be a dirty workaround might be the use of some proxy, like

    url = http://www.my_proxy_site.com/nix_proxy.php?hash_algorithm=foo&hash_value=bar&network=tor&hint_url_1=<the first url to try>&hint_url_2=<the second URL to try>&<etc.>

and for local proxies the .nix file is preprocessed by replacing

    www.my_proxy_site.com/
    with
    localhost:<some port number>/

Probing for different,

[2015-11-21 15:16] cillianderoiste commented on #11183
Hrm, I can't seem to find any examples of that. Things like `--set GDK_PIXBUF_MODULE_FILE "$GDK_PIXBUF_MODULE_FILE"` don't seem to work either.

[2015-11-21 15:18] domenkozar commented on #11183
Right, there is one example in my wheels branch. I'll fix it later when I'm
home

On Sat, 21 Nov 2015, 16:16 goibhniu <notifications@github.com> wrote:

[2015-11-21 15:26] cillianderoiste commented on #11183
That's perfect, thanks. I can test it out, I'll test it with the wheels branch too.

[2015-11-21 15:46] ocharles commented on #11179
@pikajude are you using @peti's binary cache server btw? I find that almost always avoids any need for recompilation locally.

[2015-11-21 16:02] vcunat commented on #11177
@martinvahi: `fetchurl` supports using a list in `urls` instead of `url`.

[2015-11-21 16:04] vcunat commented on #11177
Second question: you can code an arbitrary fetcher &ndash; we have fetchgit, fetchzip, fetchsvn, ... it's an arbitrary builder that is given access to network because the hash of output is specified in advance.

[2015-11-21 16:33] domenkozar commented on #7816
@adnelson I recommend usage of `nix-shell` or `python.buildEnv`. Let me know if you have some questions

[2015-11-21 16:33] #11183 closed

[2015-11-21 17:40] Pitometsu opened #11190 "Wanna have some audio packages"
Currently _NixOS_ miss some important packages for **audio**. Would be really glad and grateful if someone find some time to write derivations for it. Bellow a little list of some of this packages:
- Patch bay [patchage](http://drobilla.net/software/patchage/)
- Session [ladish gladish](https://github.com/LADI/ladish)
- Session [claudia](http://kxstudio.linuxaudio.org/Applications:Claudia)
- Spect

[2015-11-21 17:43] cillianderoiste commented on #11183
Just to confirm, this works fine on the wheels branch too.

[2015-11-21 18:32] dlukes commented on #10597
To make matters worse, it looks like different python packages have more than one way of doing it (no pun on perl intended). See for instance `nix-env -ri python python2.7-flask` (I'm on NixOS version `15.09.343.1b83abb (Dingo)`, btw):

[code]

Unlike numpy, flask is reachable after installation, and even some of the dependencies which were fetched automatically (jinja2). Others (like markupsafe),

[2015-11-21 18:45] nbp commented on #11190
Hi @Pitometsu , feel free to start packaging these as the best person capable of packaging software is the person who is relying on it.  We have a lot of documentation which explains how you can do that [1], and if you have any issue the Nix community is usually reactive on IRC (freenode #nixos).

[1] http://nixos.org/nixpkgs/manual/#chap-quick-start

[2015-11-21 18:53] Pitometsu commented on #11190
@nbp thank you for reference, just leave this here for now.
Will implement it as soon as became strong enough for it.

[2015-11-21 21:00] martinvahi commented on #11177
On my AMD64:

    ts2@linux-0fiz:/nix$ nix-instantiate '<nixpkgs>' -A hello
    error: file ‘nixpkgs’ was not found in the Nix search path (add it using $NIX_PATH or -I)

The whole excerpt:

    ts2@linux-0fiz:/nix$ nix-env version
    error: no operation specified
    Try ‘nix-env --help’ for more information.
    ts2@linux-0fiz:/nix$ nix-env --help
    No manual entry for nix-env
    ts2@linux-0

[2015-11-21 21:01] domenkozar commented on #10597
Installing python packages with `nix-env` is just not supported, all the problems you're seeing is because you're using software in a way that is not meant to be used. What exactly are you trying to achieve?

[2015-11-21 21:47] cstrahan commented on #11133
Thinking out loud:

`makeWrapper` could generate and build a simple C program, injecting the the flags as an array of strings. To recover the flags, we'd have another really small program that `dlopen`s the binary, calls `dlsym(handle, "<name-of-magic-symbol>")`, and then prints the array of strings (could be formatted with a delimiter - null perhaps - or maybe as bash array syntax).

Now, we coul

[2015-11-21 22:06] cstrahan commented on #11133
Whatever we do, I agree with @vcunat that we ought to have a way to inspect the flags used for a given wrapper. I've had cases where I would extend an existing package with an additional fixupPhase, use `wrapProgram` to set an important env-var, only to clobber the existing `.<prog>-wrapped` file (because of `mv $prog $hidden`, where `$prog` is now the existing wrapper). Having a way to inspect th

[2015-11-21 22:11] cstrahan commented on #11179
@peti Is there particular change since then that complicates things? Or was it just a matter of expedience ?

[2015-11-21 22:16] cstrahan commented on #11144
Regarding the 3rd point, perhaps we could have something that crawls a source tree looking for stuff like `#[link(name="SDL")]`, and then we just need a map from the SO name to the Nixpkgs package name. Perhaps a similar thing could be done for dlopen (at least where dlopen is used with a string litteral).

That might pull in some false positives, but then it's just a matter of removing the unnece

[2015-11-21 22:18] copumpkin commented on #11176
Probably related to https://github.com/NixOS/nixpkgs/issues/6830?

[2015-11-21 22:19] cstrahan commented on #11144
And regarding the 4th point, as @wizeman notes:

 That's precisely what I recall from the last time I looked into Rust on Nix.

[2015-11-21 22:21] copumpkin commented on #11180
@nbp as collaborators on github, we can add our own labels. I just created one called `needs-documentation`. Feel free to change the color :smile:

[2015-11-21 22:49] cstrahan commented on #10646
I'd like to buy and use a Steam controller, so I'll assign this to myself. I'll probably have to wait a week or so for the controller to arrive, though.

[2015-11-21 22:57] spinus commented on #11052
or maybe allow nix to use that "crazy" names and keep original names for all packages?

Small comment from person who is testing nixos for 2 months as user/admin. It's a little crazy that there are 3 names for packages which gives me a lot of headaches and I waste time because of this.

For most user/admin tasks you need one name, the package name. In certain situations you need source package nam

[2015-11-21 22:59] cstrahan commented on #10694
I have some changes to the bundler infrastructure that should land soon.

[2015-11-21 23:03] cstrahan commented on #10595
I *think* that's because `-lstdc++` should just be `-lc++`.

[2015-11-21 23:03] spinus opened #11197 "Modemmanager systemd service missing?"
I'm on 16.03pre71289.7ae05ed, amd64.

I wanted to use 4g modem but have some problems with it. I added modemmanager to system packages in /etc/nixos, the package is installed but looks like service is missing, there is no configuration option to enable it and there is no systemd service despite the fact that service provides systemd service file.

Am I missing something?

Similar problem I have wi

[2015-11-21 23:05] cstrahan commented on #10358
I have some patches in the works for `npm2nix`. Should be able to regenerate soon.

[2015-11-21 23:27] adz21c commented on #10646
That's cool. I've had a play today and I am not really getting anywhere, but I'm a little out of my depth as to where to start. I tried adding pciutils as a dependency to steam as I could see error messages on the console output but it made no difference. I also tried installing steam from unstable and that didn't help. I tried to compare the console output of steam using kubuntu and the only diff

[2015-11-21 23:28] lethalman commented on #11197
You don't install services just by adding them to system packages. Try
enabling the networkmanager service, that one should also expose
modemmanager.

On Sun, Nov 22, 2015 at 12:03 AM, Tomasz Czyż <notifications@github.com>
wrote:

--
NixOS Linux <http://nixos.org>

[2015-11-21 23:29] spinus commented on #11197
yep, it's enabled and working (I'm using it for wifi).

[2015-11-21 23:31] lethalman commented on #11197
So you should have it running: systemctl status ModemManager

On Sun, Nov 22, 2015 at 12:29 AM, Tomasz Czyż <notifications@github.com>
wrote:

--
NixOS Linux <http://nixos.org>

[2015-11-21 23:37] spinus commented on #11197
[code]
[code]
[code]
[code]
after manual ``systemctl start`` it's working.

Looks like it's not enabled by default?

[2015-11-21 23:40] nbp commented on #11180
Oh, I did not noticed that I had the right to do that.
Thanks.

[2015-11-21 23:40] #11180 closed

[2015-11-21 23:40] lethalman commented on #11197
I think it should be auto activated if something tries to
access org.freedesktop.ModemManager1 . Also it should be renamed to
modem-manager.

On Sun, Nov 22, 2015 at 12:37 AM, Tomasz Czyż <notifications@github.com>
wrote:

--
NixOS Linux <http://nixos.org>

[2015-11-21 23:44] spinus commented on #11197
I agree that it should :-)
btw, shouldn't that have separate service.modem-manager.enable option (I can imaging that not everyone needs that).

[2015-11-22 00:08] dlukes commented on #10597
I understand that (I've read the rest of the thread), I just agree with the OP and others above that current behavior is confusing from the perspective of an outside user (i.e. someone who is not a dev on NixOS) and addressing this (not necessarily be enabling this type of workflow, see below) would ease the transition for newcomers.

The semantics of "installing" something is that afterwards, you

[2015-11-22 01:30] Pitometsu commented on #11169
From MOC's Readme:

[2015-11-22 01:36] Pitometsu commented on #11169
We can add:
[code]
and
[code]

[2015-11-22 01:52] kalebo opened #11199 "firefox-with-plugins wrapper fails to make MOZ_PLUGIN_PATH exports"
My last nixos-rebuild broke the flash and googletalk plugins for both firefox 41.0.2 and 42.0. The problem can be seen in the wrapper for firefox, where in previous working versions the wrapper script included lines like this:
[code]
However, these export lines are no longer present in builds downloaded from the unstable channel and consequently firefox has no plugins.

I have built firefox 42.0 f

[2015-11-22 02:22] Pitometsu opened #11200 "collisions"
I got something like "collision between `/nix/store/cviz20jv8f1vs9pi9md64cvw39z5a85z-util-linux-2.26.2/bin/mount` and `/nix/store/vh8554xqwr9aip4l0r2q9q0712mip237-util-linux-2.26.2/bin/mount`'" on each time I install something by nixos-rebuild switch.
I have `utillinuxCurses` in `systemPackages`.

[2015-11-22 03:00] martinvahi commented on #11177
Well, my suspicion about the lack of tests before commits seems to hold. I downloaded the 2015_11_22 early morning version of the Nix src from GitHub and the compilation failed.

    ts2@linux-0fiz:~/Projektid/progremise_infrastruktuur/lemmestega_seonduv/Nix_projektid/kompil/v2015_11_21_Nix$ ./configure --prefix=/home/ts2/inst/nix
    configure: loading site script /usr/share/site/x86_64-unknown-l

[2015-11-22 05:01] Pitometsu opened #11201 "bcrypt for hashedPassword(?)"
Currently `users.users.<name?>.hashedPassword` use _sha-512_. Is it secure enough? Probably better to use more secure hash like `bcrypt`?

[2015-11-22 05:13] Pitometsu commented on #11169
Strange: I added `libsamplerate` to `buildInputs`, but on configuration phase still:
[code]
:-( ...What did do I whong???

[2015-11-22 05:19] Pitometsu commented on #11169
Currently I have:
[code]

[2015-11-22 05:21] Pitometsu opened #11203 "mhWaveEdit mp3"
In mhWaveEdit I can't open mp3 files. But should be able.

[2015-11-22 06:05] Pitometsu commented on #11203
If I add `lame` to `buildInputs` it not work. But if I just additionally install `lame` -- work just fine...

[2015-11-22 07:00] copumpkin commented on #11177
Check github.com/NixOS/nixpkgs-channels if you want git refs that match stable/tested versions.

[2015-11-22 07:25] domenkozar opened #11205 "trunk-combined channel hasn't updated for 17 days"
- tested job http://hydra.nixos.org/build/28002207#tabs-constituents

Failing tests:

- [ ] gnome3 http://hydra.nixos.org/build/28002102
- [x] kde http://hydra.nixos.org/build/28002228

cc @lethalman @wkennington @ttuegel

[2015-11-22 08:01] vcunat commented on #11177
@martinvahi: nix-1.10 compiles fine if you set up the environment correctly, i.e. `nix-build -A nix` works in nixpkgs. (And many people seem to be using it.) In your case you were missing some docbook stuff needed for documentation.

[2015-11-22 08:22] vcunat commented on #11205
KDE4 tests were working for me on 3c397e8e. I posted before to #11097.

[2015-11-22 08:28] domenkozar commented on #11205
Ah, I haven't seen that.

[2015-11-22 08:28] #11205 closed

[2015-11-22 09:05] domenkozar commented on #2835
@pikajude is this still relevant? What could be a possible fix?

[2015-11-22 10:21] dezgeg commented on #6257
This problem doesn't exist anymore at least on my boards.

[2015-11-22 10:22] domenkozar commented on #6257
thanks

[2015-11-22 10:22] #6257 closed

[2015-11-22 10:30] domenkozar commented on #2412
I think this is actually an upstream issue. If two packages that have namespaces are in different PYTHONPATH, it won't work.

See

[code]
vs. virtualenv

[code]

which clearly works because both packages are in logilab

[2015-11-22 10:32] domenkozar commented on #2412
Note that https://github.com/NixOS/nixpkgs/pull/5096 will solve the problem with collisions.

[2015-11-22 11:09] pSub commented on #9731
The tools from https://reproducible-builds.org/tools/ are now packaged. See ba5402a32822193577219cef2682359c2e3587e1, 5f34fb2c16e2e471e584a7d4488ed098fff7180f and 5e0dca6d062fdce53be93d2f99ddffb8e52f5ae7.

[2015-11-22 11:10] domenkozar commented on #10983
I've built scikitlearn successfully locally so I'm not sure what's going on at hydra.

[2015-11-22 11:52] martinvahi commented on #11177
Thank You for the answers and thank You for the [link](https://github.com/NixOS/nixpkgs-channels). I'm just trying to figure out, how to use the link. The way I currently understand the "channels" concept, a channel is basically a "bookmark collection" that tells, where the packages are. However, when I look at the [MANIFEST](http://nixos.org/releases/nixpkgs/nixpkgs-16.03pre71923.3087ef3/MANIFEST

[2015-11-22 13:37] vcunat commented on #11177
- Our manifest files are superseded by binary caches nowadays.
- The nixpkgs-channels repository are just branches pointing into versions of nixpkgs repository that were put into the binary cache (after builds and tests succeeded). Therefore the two repositories are "used the same way". Our binary cache is one and shared by all channels/branches.

[2015-11-22 13:50] garbas commented on #11052
Hi Tomasz,

This is a known issue. Although there are not 3 names for a package but 2.
Which is still problematic. This was mentioned in Eelco's talk[1], and package
names will go away with future releases of nix we will refer to via attr path.

[1] https://www.youtube.com/watch?v=QvH5qU1qBXY&list=PL_IxoDz1Nq2Y7mIxMZ28mVtjRbbnlVdmy

Quoting Tomasz Czyż (2015-11-21 23:57:50)

--
Rok Garbas - http:/

[2015-11-22 13:50] #11203 closed

[2015-11-22 13:51] vcunat commented on #11200
`utillinux` (without curses) is added automatically, so they collide. I think using `(hiPrio utillinuxCurses)` instead should make it work.

[2015-11-22 13:57] pSub commented on #11165
I don't have a Mac to test/fix this, but it looks like `install_name_tool` can help you. Just grep for it in nixpkgs and look into http://stackoverflow.com/questions/17703510/dyld-library-not-loaded-reason-image-not-loaded. I hope this helps.

[2015-11-22 13:58] pSub commented on #11160
:+1:

[2015-11-22 14:00] Pitometsu commented on #11203
@pSub could you add `vorbisTools` as well, please?

[2015-11-22 14:05] pSub commented on #11203
Done in f591a171f884e7a865b90c1bbe104203ef33a86b. You are welcome!

[2015-11-22 14:16] Pitometsu commented on #11203
Cool, thanks!

[2015-11-22 14:24] fpletz commented on #11201
bcrypt is unfortunately not supported by `crypt()` from glibc. Also see https://en.wikipedia.org/wiki/Crypt_(C) for reference.

[2015-11-22 14:57] Pitometsu commented on #11201
Is it outdated: http://serverfault.com/questions/378093/changing-shadow-hash-algorithm-to-bcrypt-how-to-rehash ?

[2015-11-22 15:08] nbp commented on #11199
cc @edolstra

[2015-11-22 15:12] nbp commented on #11169
@Pitometsu frequently, you will have configure options which are expecting the path to be given as argument, so you might have to specify  `--with-samplerate=${libsamplerate}` or something similar.

If you need to, you can investigate with either the `nix-shell` or `nix-build -K`.

[2015-11-22 15:48] spinus commented on #11052
@garbas oh ok, so looks like I have to dive to it more to better understand this stuff.

Thank you for the link to the video. Cool news :-)

[2015-11-22 15:50] svenkeidel commented on #11165
I'll give it a try. Thanks

[2015-11-22 17:34] Mathnerd314 commented on #11205
If we used a bulletin board, we could pin Hydra failure threads at the top. It seems GitHub doesn't have that feature though.

[2015-11-22 17:58] domenkozar commented on #11097
`gnome3.gnome-maps` has been removed by @lethalman , but main hydra machine still fails to run tests because of:

[code]

cc @rbvermaa @edolstra

[2015-11-22 19:23] datakurre opened #11207 "darwin: libdevil: build fails on darwin, because of gcc specific flag"
[code]

[2015-11-22 19:46] domenkozar commented on #10646
@adz21c mine had been shipped on Friday, so it should be here next week and I'll test it out.

[2015-11-22 19:46] Mathnerd314 commented on #11190
I was curious so I looked at baudline and what other distros have done:
* Debian examined it and wontfix'd it after finding out it wasn't GPL
* Gentoo has had an [ebuild](https://gitweb.gentoo.org/repo/gentoo.git/tree/media-sound/baudline/baudline-1.08-r1.ebuild) for some time
* Arch has had a [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=baudline-bin) for some time
* OpenSUSE

[2015-11-22 19:46] lukego opened #11208 "chromium.nix test failure"
Newbie user bug report:

I am experimenting with the NixOS test suite and I found that one of the standard tests is failing:

[code]

Questions:

1. How can I see whether this test is running/passing/failing on the upstream Hydra?
1. How do I find the root cause?
1. How do I fix it?

[2015-11-22 19:50] peti commented on #11179
The binary distribution was built with shared library support enabled, so there were over a dozen `.so` files littered all over the source hierarchy that needed non-trivial `patchelf` logic to find each other. I tried to make the compiler work on NixOS for a while and eventually just have up. It's not a hard problem to solve, it's just tedious.

[2015-11-22 20:11] lethalman commented on #11197
It's just shipped with NM, and nobody complained about it :)

On Sun, Nov 22, 2015 at 12:44 AM, Tomasz Czyż <notifications@github.com>
wrote:

--
NixOS Linux <http://nixos.org>

[2015-11-22 21:11] pSub commented on #11208
For 1. See https://hydra.nixos.org/job/nixos/trunk-combined/tested#tabs-constituents, https://hydra.nixos.org/job/nixos/trunk-combined/nixos.tests.chromium.i686-linux, https://hydra.nixos.org/job/nixos/trunk-combined/nixos.tests.chromium.x86_64-linux. That stuff is also linked in README.md

[2015-11-22 21:14] bjornfor commented on #11190
baudline is in nixpkgs master.

[2015-11-22 21:52] Mathnerd314 commented on #11190
Interesting. I guess I missed that and http://bugtraq-team.com/, they were on page 30 or so of Google.

[2015-11-22 21:58] martinvahi commented on #11177
Thank You for the binary cache related reply. I gather that the Nix manual section that talks about channels is then out of date. Is there any way to contribute documentation without using DocBook? To put it directly, editing some archaic, custom semantics based, XML and setting up a  complex development environment just to write structured text with image based illustrations and links is a waste

[2015-11-22 22:58] spinus commented on #11197
looks like I'm "nobody" :-)

anyway, I'm using network manager with nixos on 3 different machines and all work the same way (ModemManager service is "dead" from the start). I did just small grepping in /etc/udev and probably there are some udev rules to activate modem manager only where needed, or udev/systemd integrations which are activating that.

For me those rule are not working as I'm using

[2015-11-23 00:30] jagajaga commented on #11169
Try override like I do https://github.com/jagajaga/my_configs/blob/master/.nixpkgs/common.nix#L16

[2015-11-23 03:32] Mathnerd314 commented on #1915
How does this interact with #4855?

[2015-11-23 05:07] lukego opened #11217 "Nix method for dynamic resource allocation (CPU cores, PCI devices)?"
I am wondering whether Nix could solve a long standing resource sharing problem for us...

We develop networking applications on shared servers running NixOS. These applications require dedicated hardware resources: CPU cores and PCI network devices. Each server has a number of these resources and the problem is how to share these between multiple users who are running tests (either interactively

[2015-11-23 09:08] avnik opened #11219 "qtile should not use LD_LIBRARY_PATH"
[code]
Looks like libgtk3 miss 1 symbol from glib and 6 from pango

[code]

[2015-11-23 09:16] lethalman commented on #11219
That's weird. What about `nix-store -qR /nix/store/75b1vkjfia3x6qwn7j592ypg33xj1vjh-zathura-core-0.3.3 | grep gtk` ? Either you have an `LD_LIBRARY_PATH` somewhere, or zathura uses dynamic loading and the gtk version used for it is wrong.

[2015-11-23 09:27] lethalman commented on #11197
@spinus the modemmanager service is activated when someones tries to use `org.freedesktop.ModemManager1` in dbus.

geoclue2 works the same way, the service is auto activated only when `org.freedesktop.GeoClue2` is used.

See http://dbus.freedesktop.org/doc/system-activation.txt

[2015-11-23 09:28] avnik commented on #11219
[code]

[2015-11-23 09:33] lethalman commented on #11219
Ok so it looks like zathura has been compiled with gtk 3.18 and pango 3.16, but gtk 3.18 closure has pango 3.18 instead. So, again, it must be an `LD_LIBRARY_PATH¿ somewhere.

[2015-11-23 09:35] lethalman commented on #11219
As per IRC, this is an `LD_LIBRARY_PATH` problem somewhere. If possible, please try to understand where it's coming from, so we may try to patch it. Closing this, feel free to open another one if you understand which nixos module is mining `LD_LIBRARY_PATH`.

[2015-11-23 09:38] cpages commented on #3434
I'm closing this since it looks like it's fixed. Feel free to reopen if that's not the case.

[2015-11-23 09:38] #3434 closed

[2015-11-23 09:39] avnik commented on #11219
qtile (windowmanager) wrapper was

[2015-11-23 10:35] domenkozar commented on #11217
Nix doesn't handle anything at runtime (well except nixos tests). It's limited to build/configure time.

It's a hard problem to solve without too much abstraction, http://mesos.apache.org/ is one of the solutions (not sure it supports PCI network devices, but I'd imagine it does).

[2015-11-23 10:43] domenkozar commented on #11208
[code]

This is an actual problem that svg logo is gone. cc @aszlig

[2015-11-23 11:09] gebner commented on #11197
I had to enable ModemManager manually as well using `systemd.services.ModemManager.enable = true`, otherwise my built-in modem wouldn't show up in nm-applet.

This is on a Lenovo T450s:
[code]

[2015-11-23 11:20] lethalman commented on #11197
Is there anything up in journalctl ? If  `nm-applet` is trying to contact ModemManager via dbus, it should have been automatically started by auto activation.

[2015-11-23 11:28] gebner commented on #11197
I don't think nm-applet calls ModemManager directly, it just waits for the interfaces to pop up in NetworkManager, which only happens if ModemManager is running.

[2015-11-23 11:32] spinus commented on #11197
@lethalman thank you for clarification. It looks like there are no proper dbus/udev rules to support my modem and that's why it's not activated.

btw, geoclue2 is not working but I use redshift which requires dbus for geoclue2 and is says geoclue2 is not present instead of activating it, so looks like somehing is broken here.

@gebner I was looking in manual for modem (for ModemManager) but looks

[2015-11-23 11:45] lethalman commented on #11197
@spinus maybe redshift checks for the existence of the dbus path, instead of calling it directly?

Btw for all those cases where the dbus api is not called, you can just add a `wantedBy = [ "multi-user.target" ];` in the respective service. Auto activation is a good thing for not cluttering up the system, so it's up to the apps using those services.

If you have evidence that the dbus api is indee

[2015-11-23 11:45] #11197 closed

[2015-11-23 12:05] spinus commented on #11197
@lethalman cool. I'll check how redshift is using that dbus stuff and compare it to debian (I think it was working there for me).

For modem: I'm not sure why it's not starting but as I wrote I assume that some activation rules are missing, I'll try to look at this as well.

Thank you for help.

[2015-11-23 12:35] qknight commented on #4904
no. don't have the resources currently.

[2015-11-23 12:35] ttuegel opened #11224 "sddm: 0.12 -> 0.13 update broken"
The sddm update in commit 0b1ddbfd6dc1acfa7b5bb46c096a804a1ea23c4f broke sddm. It crashes at startup with the following error message:
[code]
/cc @abbradar

[2015-11-23 12:39] aloiscochard commented on #8648
Same problem with `qgis`, interestingly enough it happen on a computer but not on an other and they both share the same system packages configuration.

[2015-11-23 12:47] ttuegel commented on #11224
Checking the example config (`sddm --example-config`) works, but one line is questionable:
[code]
That looks garbled to me, like it's the source of the corrupted list message.

[2015-11-23 12:48] ttuegel commented on #11224
That's definitely part of the problem; here's the relevant line from `/etc/sddm.conf`:
[code]

[2015-11-23 13:02] ttuegel commented on #11224
It looks like this issue was already [reported upstream](https://github.com/sddm/sddm/issues/560). I am testing the fix suggested there.

[2015-11-23 13:09] ericsagnes commented on #11138
@iyzsong I tried to use fcitx with anthy (I usually use ibus) and pressing `enter` key after having wrote some text just make fcitx froze and dont display the candidates window.
Had you experienced this issue too?

[2015-11-23 13:56] ttuegel commented on #11224
I fixed the corrupted configuration, but sddm still won't start.

[2015-11-23 13:59] vcunat commented on #11177
There seems nothing wrong about [the manual section](http://nixos.org/nix/manual/#sec-channels). It's mentioned (in a few words) that channels contain a manifest, and they still do, I think, only it's not really relevant for nowadays usage.

I think @domenkozar wrote some parts in some markdown-like format, but most is in DocBook (which is a format quite often used for technical docs). There are v

[2015-11-23 14:02] vcunat commented on #1915
Not much, I believe, but it will be easier to document *after* agreeing on the new semantics, if we "want to switch it", that is :-)

[2015-11-23 14:13] vcunat commented on #8648
Icons are typically picked up from XDG dirs which typically means that also some `~/.foo` locations are searched, for example. Wrapping the executables with correct icon path is *the nix solution* (meaning some work per package).

[2015-11-23 14:31] spacefrogg opened #11226 "apacheHttpd package options cannot be properly overridden"
**Problem:** apacheHttpd is called with standard arguments like `sslSupport = true` and should be overridable via config.packageOverrides infrastructure.

[code]

**Result:**

[code]

Where 2.4.nix line 13 is the assertion:

[code]

**Expected result:** It should work and build apacheHttpd and aprutil without `sslSupport`.

**Reproducible:** Always.

**Further remarks:**
- apacheHttpd reacts on ch

[2015-11-23 14:43] lethalman commented on #11226
Clearing up things:
- The `services.httpd.package` defaults to `pkgs.apacheHttpd`, but it does not pick the version from the `packageOverrides`.
- Applying the override directly in `services.httpd.package` works.

So it's like the `pkgs` passed as argument to the module is not taking in account the overrides from `nixpkgs.config.packageOverrides`. I confirmed this.

cc @nbp

[2015-11-23 14:48] vcunat commented on #11219
Has that been fixed? It isn't nice if a WM passes `$LD_LIBRARY_PATH` into env of all executables under it.

[2015-11-23 14:50] ttuegel commented on #11224
To recap, sddm will start now in a VM, but it won't start on my physical machine. Moreover, the physical machine hangs, i.e. it becomes unresponsive to keyboard input. The log shows this:
[code]

[2015-11-23 14:53] lethalman commented on #11219
@vcunat I think @avnik was working on this already, but this issue is not about zathura being broken anymore.

[2015-11-23 14:53] lethalman commented on #11219
Reopening with different title perhaps...

[2015-11-23 15:02] lethalman commented on #11226
I think I'm coming to the conclusion. The problem is `apacheHttpd.override`, together with the `aprutil`. It's not possible to call `.override` on apacheHttpd because it will fail due to aprutil not supporting ssl.

However I wonder why this happens, since `pkgs.apacheHttpd.override` should be using the older pkgs...

[2015-11-23 15:04] FRidh opened #11227 "Steam cannot be installed (master)"
While doing a `nixos-rebuild switch --upgrade` using a checkout of master (head at cbf30d2bc912b9aa1498a8fbdf2e434ced8d5f03), I got the following error:
[code]
cc @abbradar

[2015-11-23 15:12] lethalman commented on #11226
Ah.

This works:
[code]

This doesn't:
[code]

So it's `.override` that is using the new pkgs... is that the correct behavior?

cc @edolstra

[2015-11-23 15:21] andrewrynhard commented on #10864
@pikajude: I think I can wait for the merge into master. Got caught up with something else for now. Thanks for the fixes!

[2015-11-23 15:23] FRidh commented on #11224
Odd. I just did a `nixos-rebuild --switch` based on master, and am using sddm without any issues.

[2015-11-23 15:46] spwhitt commented on #11160
Bot seems to have been enabled, so closing this issue. Hope it proves to be useful!

[2015-11-23 15:46] #11160 closed

[2015-11-23 15:53] Mathnerd314 commented on #11226
This is another strictness issue similar to #11094. ``.override`` needs to evaluate the original package to check whether it is a function or a set; that hits the assertions because aprutil is compiled without ssl/ldap support.
Moving the asserts down like
[code]
should work.

[2015-11-23 15:54] abbradar commented on #11224
@ttuegel Thanks for the patch! It's strange, because it works for me even without it (I use SDDM on daily basis). What's those `xauth` errors? I haven't seen likes before -- maybe they are the clue.

[2015-11-23 15:58] lethalman commented on #11226
Or let callPackage/override use the old pkgs when checking if it's a function/set ?

[2015-11-23 16:07] magnetophon opened #11229 "The SpiderOak version in 15.09 doesn't work cause it is too old."
I have the same problem as the person here:
https://forums.gentoo.org/viewtopic-t-1024346.html?sid=61f576017c8a74452e489ac8978a37b7

Apparently the solution is to upgrade to version 5.2 (presumably 5.2 or higher)

[2015-11-23 16:18] aragnon opened #11230 "rPackages.MASS: download error"
[code]
fails on Ubuntu Linux 14.04.2.

with messages about MASS like:
[code]

and in other cases with messages related to invalid sha256 hashes.

[code]

Is R meant to be broken or known to be broken? IIRC, it has been this like at least 6 months.

[2015-11-23 16:35] pSub commented on #11160
Good news!

[2015-11-23 16:51] kamilchm commented on #11219
What's the simplest way to set ``LD_LIBRARY_PATH`` for buildPhase only?

[2015-11-23 16:58] abbradar commented on #11227
_How has it even worked earlier?_ Thanks, pushed the fix in https://github.com/NixOS/nixpkgs/commit/6d6c1d352336ddde41b50a78196018b676957571. cc @bjornfor in case my fix would break something for you.

[2015-11-23 16:58] #11227 closed

[2015-11-23 17:03] FRidh commented on #11230
And `nix-shell -p R`?
I have the impression you haven't updated your channel.

[2015-11-23 17:04] bjornfor commented on #11227
Thanks for the heads up. I was just testing this to see if I could reproduce.

[2015-11-23 17:05] vcunat commented on #11219
Just define it within the attrset passed to `stdenv.mkDerivation`.

[2015-11-23 17:05] FRidh commented on #11227
Thanks for fixing! Indeed surprising that this didn't show up before.

[2015-11-23 17:19] vcunat commented on #11230
On master we have 7.3.45 and it downloads fine (maybe not in the channel yet), but on 15.09 it gets just 404. @peti: what's the general strategy about backporting `rPackages` updates to stable releases?

[2015-11-23 17:19] vcunat commented on #11230
BTW, having a stable URL is always preferred, I believe.

[2015-11-23 18:15] aristidb opened #11231 "Change to buildFHSChrootEnv broke steam"
In 6602f49495c94e8533c8b482698bcf570a8d8933 (re #9543), @wkennington among other things committed a change to buildFHSChrootEnv that broke steam:

[code]

This will try to copy the include directory twice, and fail.

@wkennington why did you try to change it to a symlink rather than a copy, and why did it not fail for you?

[2015-11-23 18:18] FRidh commented on #11231
see also #11227 and a fix in https://github.com/NixOS/nixpkgs/commit/6d6c1d352336ddde41b50a78196018b676957571

[2015-11-23 18:20] aristidb commented on #11231
Oops, guess I forgot to git pull before making this issue.

[2015-11-23 18:21] #11231 closed

[2015-11-23 18:23] abbradar commented on #11227
cc @wkennington (I was too lazy to check `git blame` before and assumed I've left it broken) -- what have you tried to fix? My fix (above) should work for you, but it would be nice if you test it for yourself.

[2015-11-23 18:29] cheecheeo opened #11232 "libopus doesn't compile"
On commit 33292cd618c5e50eab38cd50fce48565709e93ab

[code]

[2015-11-23 18:40] abbradar commented on #11227
Aha, I've been copying things around instead of symlinking them. https://github.com/NixOS/nixpkgs/commit/0427b21abaafe592d6ab43bec6e068188904db53 should fix this.

[2015-11-23 19:48] ttuegel commented on #11224
I don't know what the `xauth` errors are, but I'm assuming they're the problem. I suspect that `sddm` has some hidden state, since it works correctly in a VM (a clean install). I'll try cleaning out `/tmp` etc.

[2015-11-23 19:49] lethalman opened #11233 "How do functors work?"
...because maybe I'm not understanding the way they are intended in the nix manual:

[code]

[code]

No result. Removing the `self` argument to the functor instead produces the derivation.

cc @shlevy

[2015-11-23 19:57] lethalman commented on #11233
Oh I guess the set itself is taken by `nix-build` instead of expanding the functor. That makes it almost useless if I understood the problem...

[2015-11-23 20:00] shlevy commented on #11233
I'm not quite sure what you're trying to do here. Note that `__functor` should take two arguments, and this "works" for some definition of works:

with import <nixpkgs> {};

[code]

[2015-11-23 20:02] lethalman commented on #11233
@shlevy that won't produce any derivation with `nix-build`. So my definition of "work" here is, nix build should not stop at function/set encountered, but check generically if it's callable.

[2015-11-23 20:03] shlevy commented on #11233
That does produce a derivation with nix build.

[2015-11-23 20:03] shlevy commented on #11233
Again, what are you trying to accomplish?

[2015-11-23 20:04] shlevy commented on #11233
(also, this probably belongs in the nix repo)

[2015-11-23 20:12] lethalman commented on #11233
I see what you mean. So this is more like a feature request.

Make this:

[code]

to be:

[code]

So that I don't need that extra `{}`.

**Use case**: remove `.overrideDerivation`.

Let `mkDerivation' = args: args // { __functor = mkDerivation; }`.
Now ```overrideDerivation (mkDerivation args) (args: { foo = "bar"; })``` would be (almost) equivalent to `(mkDerivation' args) // { foo = "bar"; }` to

[2015-11-23 20:13] abbradar commented on #11224
It would be nice to find out what the state is -- we had similar problems in https://github.com/NixOS/nixpkgs/issues/8143

[2015-11-23 20:15] lethalman commented on #11233
@shlevy ups sorry, I really thought I were in the nix repo...

[2015-11-23 20:17] nbp commented on #11229
cc @amorsillo

[2015-11-23 20:46] shlevy commented on #11233
@lethalman Can you test if NixOS/nix#717 does what you want? Note that the second argument of `__functor` has to be a `{}` style argument, but this works for me:

[code]

[2015-11-23 20:48] lethalman commented on #11233
@shlevy thought so, I've edited the comment accordingly ;) Closing this as I've copy-pasted on the nix issue.

[2015-11-23 20:48] #11233 closed

[2015-11-23 21:24] oxij commented on #11079
I actually debugged this quite a while ago. The problem is that `jack1`
and `jack2` use different paths to control sockets and binaries compiled
with `jack2` try to connect to jack using the wrong address. So their
compatibility claim is void in practice.

Anyway, overriding jack2 to jack1 seemed to work at least for
zynaddsubfx. I didn't play my instrument for a while, so I'm not sure it
still wo

[2015-11-23 22:06] ttuegel commented on #11224
I don't think this is a left-over state problem anymore. I deleted `/tmp`, `/var/lib/sddm`, and `/run/sddm`, but it still won't start. It gives the same `xauth` error as above.

Here's one hint about what's going on: normally, `sddm` creates Xauthority files named `/tmp/sddm-$DISPLAY-xxxxxx`. However, when I get the `xauth` error, the files are named `/tmp/sddm--xxxxxx` as if `$DISPLAY` were empty

[2015-11-23 22:46] ttuegel commented on #11224
The remaining error (the `xauth` error) has nothing to do with `sddm` because `slim` doesn't work either.

[2015-11-23 22:46] #11224 closed

[2015-11-24 02:01] flosse opened #11237 "build rust package with non crates.io dependencies"
@madjar @cstrahan @wizeman @globin @Havvy @wkennington

I'm trying to use `buildRustPackage` with non crates.io dependencies without success.
In my `Cargo.toml` there are dependencies that point to repositories, e.g.

[code]
This leads to `fatal: Not a git repository (or any of the parent directories): .git` :(
How can I fix this problem?

[2015-11-24 05:39] iyzsong commented on #11138
No, it once worked for me, but I don't use it rectently, so can't be sure.

Nice work, I think some changes you have made can be merged immediately,
how about create a WIP pull request and link it here, so we can push them incremental?
Thanks!

[2015-11-24 07:26] vcunat commented on #11232
I assume `x86_64-linux`, right? On that exact commit it builds on Hydra, and also `--check` locally succeeds for me. I suspect the problem is worked around by using chrooted builds.

[2015-11-24 09:08] peti commented on #11230
Upstream edits and removes published versions of R modules at will, so it's near impossible to provide a stable release of R unless we mirror all source tarballs. I suppose this means that we *must* update `pkgs/development/r-modules` in our release branches, because otherwise they just won't build after a couple of weeks.

[2015-11-24 09:10] tilmans opened #11238 "Mounting vboxsf filesystem always mounts for root, ignores uid option"
I am trying to mount a Virtualbox shared folder into my NixOS with the following settings:

[code]

As a result I get a mount at `/virtualbox` with 700 for root/root. Trying the same via mount gives me the expected result:

[code]

This will mount to `/mnt` with 700 for tschlenk/users (user id 1000, group id 100).

These are my first tests of NixOS an maybe I'm just missing a dependency here betwe

[2015-11-24 09:17] peti commented on #11230
I've enabled Hydra builds for R in the `release-15.09` branch in 6c9911ddee66a52fc078bb3ed550c2676c43e86d. Hopefully, that will make those source tarballs available in our cache and mitigate those kind of problems in the future.

[2015-11-24 09:17] #11230 closed

[2015-11-24 09:24] lethalman opened #11239 "Better dconf support, and removal from packages"
Currently we have some bad experience with dconf:
 - Packages hardcode the gio module. This is good because it keeps abi compatibility with the linked glib, however it's also true that gio modules API hasn't seen any change since its first release in version 2.30.
 - Nixos modules add `dconf` to the system packages, making it impractical to disable it instead.

Proposal:
 - Remove dconf references

[2015-11-24 09:25] domenkozar commented on #11239
What about non-NixOS?

[2015-11-24 09:26] lethalman commented on #11239
@domenkozar same as nixos? If the user wants dconf, the user will install it.

[2015-11-24 09:30] dezgeg commented on #10912
Yes, it would appear that the `configs` module only exists if `CONFIG_IKCONFIG=m`. Since we always set it to `y` in `common-config.nix`, it could be removed from `boot.kernelModules`.

[2015-11-24 10:00] dlukes opened #11241 "kde5 plasma segfaults when using slim dm"
What the title says :) Mouse works, the errors are reported in GUI windows, but there's no shell. I know sddm is recommended, so perhaps slim is not even expected to work? In that case, it might be useful to just state it for the record here and close the issue.

Tested using both channels/nixos-15.09 and channels/unstable (`16.03.git.7ae05edM (Emu)`). Here's my [`configuration.nix`](https://githu

[2015-11-24 10:07] domenkozar commented on #11241
cc @ttuegel

[2015-11-24 11:07] avnik commented on #11219
@kamilchm  I discuss possible package improvements in irc, I sure, that these part of conversation may be interesting for you:
<pre>
11:34 < Lethalman> avn, so you have to understand where that LD_LIBRARY_PATH comes from, it might be a nixos module, in which case we may need to fix it to avoid using LD_LIBRARY_PATH
11:35 < avn> Lethalman: qtile (window-manager) wrapper export them
11:36 < Lethalma

[2015-11-24 11:13] lethalman commented on #11219
About PATH and PYTHONPATH, they should probably be unset when child processes are spawned by qtile.

[2015-11-24 11:16] domenkozar commented on #10597
Yes, it takes effort and time to get used to Nix tooling. But you have to understand that supporting imperative installation of python packages brings a lot of problems. It's really hard to make it work reliably and I'd rather not support something than support it with lots of caveats and exceptions.

Coming from a traditional unix environment I understand the concern. But we don't install headers

[2015-11-24 11:19] avnik commented on #11219
PYTHONPATH can be just unset, but not PATH

btw they can be unset in first lines on unwrapped bin/qtile, as I know mangling os.environ["PYTHONPATH"] not affect current interpreter, only child processes

[2015-11-24 11:38] abbradar commented on #11230
FWIW, there's an awesome MRAN (Managed R...) with daily complete CRAN snapshots available from Revolution Analytics [1]. I've sent them an e-mail asking for permission to use their mirror as our main source of package sources nearly two months ago, but got no answer. All the rhetoric on the website suggest that this mirror is "open" and "available to the R community" but I don't know if we should

[2015-11-24 11:50] CMCDragonkai commented on #11217
Potentially if Nix can configure containers with resource limits. But again it's a fixed static build-time configuration, not something that is meant to be bootstrapped and teared down at runtime depending on the system's needs.

[2015-11-24 11:53] peti opened #11243 "R: download source tarballs from the MRAN mirror"
Add support for downloading source tarballs from the MRAN (Managed R) mirror to our R package set: <https://mran.revolutionanalytics.com/snapshot/>.

[2015-11-24 11:53] peti commented on #11230
I think we totally should! Tracking this issue at https://github.com/NixOS/nixpkgs/issues/11243.

[2015-11-24 11:56] iyzsong commented on #11239
as I commented in #11108 , I think we could split dconf into service and gio module.
and only wrap apps with the gio module.  this keep the ABI compatibility using about 70K (libdconfsettings.so).

[2015-11-24 11:56] lethalman commented on #11217
In such cases this is what you could do:
1. find a system that does dynamic resource allocation
2. make it generate a minimal .nix with the new system
3. import that generated .nix, eventually manipulate it, and do the deployment

[2015-11-24 12:00] lethalman commented on #11239
About ABI compatibility there's no harm, it's been stable since 2.30. Yet non-nixos users may have troubles as you say. So we can just put this GIO_MODULE thing in `wrapGAppsHook`.

About multiple-output, agreed we can do this.

[2015-11-24 12:02] abbradar commented on #11243
I swayed towards "we should" now too -- after all, the mirror is open and I don't think we would generate much traffic.

[2015-11-24 12:03] kamilchm commented on #11219
@avnik :+1: for absolute paths, I was thinking about it yesterday but I don't have time to do it now.
Restart modification looks good too.
I'll be happy with your patch.

[2015-11-24 12:15] FRidh opened #11244 "kde5: cannot modify screen, kscreen is missing"
Using a checkout of master, it is not possible to adjust screen settings using KDE's systemsettings; kscreen seems to be missing.
cc @ttuegel

[2015-11-24 12:20] zhou13 commented on #10597
At least `nix-shell -p ` does not solves my problem.  As a PhD student, I need to use a lot of python science library to handle data everything.  I just hope I can use python as a calculator!
I found it unfair that `$PATH` is supported by NixOS but python library is not.  I read all the discussion and I still do not understand why I cannot have a working `numpy` just like bash.

The same argument

[2015-11-24 12:29] ttuegel commented on #11244
Are you using `plasma5_stable` or `plasma5_latest`?

[2015-11-24 12:34] iyzsong commented on #11239
well, webkitgtk based browsers have hardcoded glib-networking for a long time,
I think other applications are not network-related, so they don't need it.

[2015-11-24 12:36] FRidh commented on #11244
I have
[code]
and
[code]
in systemPackages.

In `all-packages.nix` is specified that
[code]
and in the module kde5.nix
[code]
so the answer to your question in `plasma5_stable` :-)

[2015-11-24 12:45] abbradar commented on #11243
I'll look at this later today.

[2015-11-24 12:45] datakurre commented on #11207
@pikajude Any idea, what could have caused this? libdevil did already build for some time and it has not been updated.

[2015-11-24 12:45] abbradar commented on #11243
I'll look at this later today.

[2015-11-24 13:17] magnetophon commented on #11079
I asked about this on IRC, and one of the authors of jack ( @x42 ) said:
jack1 and jack2 are 100% ABI compatible.   programs compiled and linked with either will work with the other.

[2015-11-24 13:21] x42 commented on #11079
@oxij  there are no paths to contol sockets and binaries compiled into the jack-clients.
Those are all abstracted by libjack and libjackserver (runtime loaded)

This all sounds like jack1 setup is not correct (maybe missing permissions in /dev/shm or something like this). if it were a  ABI compatibility issue the jack client would not even start (missing symbol, missing library).

"cannot connect

[2015-11-24 13:25] x42 commented on #11079
PS. another explanation is that  the jack application is statically linked against libjack (don't ever do that) or that jack clients use different versions of libjack (more likley on NixOS).  There must always only be one libjack.so around on a system and that lib must used by all applications.  You cannot mix different libjack.so.

[2015-11-24 13:56] FRidh commented on #10597
@zhou13 I also use Python a lot for modelling and such. While a bit off-topic, maybe my setup works for you.

What I have is a `shell.nix` file which contains all the tools Python libraries I need. Since I am mostly working on a single project, I put this file in the root of my home folder. That way, I just need to type `nix-shell`.

Furthermore, there are some packages I develop and need and whic

[2015-11-24 13:57] mdorman opened #11245 "shotwell: fails to compile"
[code]

[2015-11-24 14:02] #11245 closed

[2015-11-24 14:19] domenkozar commented on #4210
28 \o/

[2015-11-24 14:42] x42 commented on #11079
issue identified using `strace -f -e trace=open`

Jack is a client/server mechanism.  All clients must use the same shared-library (libjack.so.0).
This library can be provided by different implementations (ie. jack1, jack2) and there must always only be one.  In traditional unix,  libjack.so is in `/usr/lib` and used by all jack clients.

On NixOS however every client uses its "own" from the /nix/

[2015-11-24 15:02] magnetophon commented on #11079
setting LD_LIBRARY_PATH to point to  jack1 makes it work.
tested with qjackctl and slgui, both of which didn't work before.

[2015-11-24 16:44] domenkozar commented on #7307
Yeah I'm getting bitten by this one again.

[2015-11-24 17:03] domenkozar commented on #7307
This is the line that gets executed on linux: https://github.com/python/cpython/blob/2.7/Lib/ctypes/util.py#L242

[2015-11-24 17:08] domenkozar commented on #7307
So if you were to execute `ctypes.util.find_library('c')` it would do:

1. `LANG=C LC_ALL=C gcc -Wl,-t -o bla2>&1 -l c` and store the output
2. objdump -p -j .dynamic objdump -p -j .dynamic /nix/store/hd6km3hscbgl2yw8nx7lr5z9s8h89p04-glibc-2.21/lib/libc.so.6|grep SONAME

I think we should replace this with our own implementation

[2015-11-24 17:35] lethalman commented on #7307
Probably just patch that code to `return "/nix/store/hd6km3hscbgl2yw8nx7lr5z9s8h89p04-glibc-2.21/lib/libc.so.6"` .

[2015-11-24 17:36] domenkozar commented on #7307
That's the thing, I don't want to maintain every package and patch it when it uses `find_library`

[2015-11-24 17:37] vcunat commented on #11079
Thanks, @x42, for explaining that it's required to use the same `libjack.so` in client and server, even if only minor version numbers differ.

The situation seems very alike to libGL and friends which are symlinked from `/run/opengl-driver{,-32}/lib` to the currently chosen implementation (and that path is in `$LD_LIBRARY_PATH`). We could use the same mechanism; we could even put libjack.so next t

[2015-11-24 17:37] lethalman commented on #7307
@domenkozar well, I don't think there's any good solution to that unfortunately.

[2015-11-24 17:40] vcunat commented on #11219
Note that unsetting `$LD_LIBRARY_PATH` will also cause problems to some programs.

[2015-11-24 17:42] lethalman commented on #7307
@domenkozar perhaps a special env variable `PY_CTYPES_LIBPATH`, to look for libs inside that path. Similar to `LD_LIBRARY_PATH`, but not `LD_LIBRARY_PATH`.

[2015-11-24 17:45] lethalman commented on #11219
@vcunat I don't think anybody wanted to unset `LD_LIBRARY_PATH`. Of course also for PATH and PYTHONPATH, it's probably best to store somewhere the original env and reset in qtile.

[2015-11-24 18:20] cheecheeo commented on #11232
Yes, `x86_64-linux`. Is there some documentation on how to use chrooted builds? I'm using nix as my package manager on Ubuntu with my configuration stored in $HOME/.nixpkgs/config.nix.

[2015-11-24 19:13] aristidb commented on #11084
@peti You mentioned in the commit to update to 2.6 - did you figure out how to package gnucash 2.6 correctly, because the gnucash 2.6 from my branch that you merged only works partially.

[2015-11-24 19:19] peti commented on #11084
@aristidb, I haven't looked at 2.6.x yet. I still use version 2.4.x.

[2015-11-24 19:51] #11237 closed

[2015-11-24 19:53] wizeman commented on #11237
Ok, I've fixed this in 799f0f1f239b00177b72322e261ab350647dbd60 (pushed to master branch, should be available in the unstable channel in next update).

It was due to the slash (`/` character) in the branch name. It caused cargo to create the `.git` directory in the git checkout one level deeper in the filesystem tree.

[2015-11-24 21:29] vcunat commented on #11232
There's some documentation [in the nix manual](http://nixos.org/nix/manual/#conf-build-chroot-dirs). On NixOS it's just `nix.useChroot = true;` instead.

[2015-11-24 21:35] vcunat commented on #11219
I saw the suggestion to run `LD_LIBRARY_PATH= zathura` (above), so I just wanted to warn it won't always work (well).

[2015-11-24 22:31] afranchuk commented on #9912
This is still an issue. I'm on NixOS 15.09 with linux 3.18.24, and I can reliably make the kernel panic by starting up a VirtualBox VM (running Windows 7) and then opening Firefox.

[2015-11-25 00:52] flosse commented on #11237
great!

Is there a way to use it in the stable channel?

[2015-11-25 03:31] chris-martin commented on #5829
Same problem here. Minimal USB install of 15.09, I choose "Live CD", and immediately just get a black screen. Motherboard is ASRock Z68 Pro3 Gen3, and I've removed my video card. Let me know if there's any more detail I can provide. I have no idea what to try now.

[2015-11-25 04:12] chris-martin commented on #5829
Also tested with the graphical install of unstable, got the same result.

[2015-11-25 04:25] jcumming commented on #5829
This sounds like modesetting gone awry. Try adding:

```nomodeset i915.modeset=0 nouveau.modeset=0```

To the kernel command line before exiting grub.

(source https://wiki.archlinux.org/index.php/Kernel_mode_setting)

[2015-11-25 04:36] chris-martin commented on #5829
@jcumming How do I do that? All I get to is a screen that says "NixOS Live CD". Is that grub?

[2015-11-25 04:41] chris-martin commented on #5829
Ah, it's gummiboot, and the key is "e" to edit the command.

Didn't help, though :(

[2015-11-25 06:23] lukego commented on #11208
Continuing to use this issue to learn about Nix:

I suppose that it is common for files to disappear from the internet. Does this usually "break the build" or does the nix/hydra binary cache usually include all such files? (If the latter then would it be a catastrophe to lose the upstream binary cache if that is acting as a backup of external media that NixOS depends on to build?)

Perhaps one of

[2015-11-25 07:25] vcunat commented on #5829
I believe nomodeset is passed on ISOs by default (which disables nouveau completely).

[2015-11-25 07:51] ericsagnes commented on #11138
@iyzsong Good idea, I linked the PR in the original message.

[2015-11-25 09:26] grwlf commented on #10431
+1 for 0.12.x update. They officially introduce relay server there.
By the way, I've found the goPackages.relaysrv which depends on syncthing. Does it work with 0.11.25?

[2015-11-25 10:29] YPares commented on #11125
@pikajude Thank you for the news. Is the generic preHook an OSX specific thing or will it also be set on Linux?

[2015-11-25 11:02] GCerar opened #11259 "Issue with Numix icons"
I have installed Numix theme `numix-gtk-theme` and numix icon sets `numix-icon-theme` and `numix-icon-theme-circle`. When I wanted to change xfce's appearance selecting one of those sets, gtk always displays default icon set. (restarting, clearing ~/.cache/xfce or deleting ~/.gtkrc-2.0 or settings.ini, etc. didn't help) Changing to numix gtk theme has no issues.

At first I assumed it is missing p

[2015-11-25 11:26] aragnon opened #11260 "Question: how to install scikitimage?"
[code]

[code]

In the python packages a variable scikitimage is defined, but why can't I install it?

[2015-11-25 11:28] chris-martin commented on #5829
@vcunat `nomodeset` is set by default, though that [arch](https://wiki.archlinux.org/index.php/Kernel_mode_setting) page says

[2015-11-25 12:16] vcunat commented on #11125
I think it would be nice to create a locale abstraction in nixpkgs that acts as a common interface to both glibc and Darwin locale (and perhaps others in future).

[2015-11-25 12:20] abbradar commented on #11243
Closed by #11247

[2015-11-25 12:20] #11243 closed

[2015-11-25 13:47] pSub commented on #9966
Fixed with https://github.com/NixOS/nix/pull/712 in the next version of nix.

[2015-11-25 14:27] aragnon opened #11261 "collisions with (python?) buildEnv"
I get this when I run nix-build in a directory containing a default.nix expression not in nixpkgs currently. The manual speaks of a "user environment", but AFAIK. there is no user environment when running nix-build. There might be such an environment when actually installing something via `nix-env -i`. In short, I have no idea what exactly this means.

[code]

[2015-11-25 14:55] FRidh commented on #11260
@aragnon If I am correct you are now using nixos-unstable. To be more precise, you are using the nixos-unstable channel. If you look at the Git repository, on master, then you can indeed see scikitimage. However, this update is not yet available in nixos-unstable.

It always takes some time before the channels, in this case nixos-unstable, are updated with the changes that have been merged into th

[2015-11-25 14:59] FRidh commented on #11260
@aragnon if you still want to get `scikitimage`, then what you can do is clone this repository, and run
[code]
Doing this results in a shell where you can run `python` and which can access scikitimage.

On a sidenote, if you like living on the edge, and are running NixOS, then what you could do is
[code]
Note however that often you will have to compile a lot then.

[2015-11-25 15:31] vcunat commented on #9966
Thanks!

[2015-11-25 15:31] #9966 closed

[2015-11-25 15:31] vcunat commented on #9966
Next step: have a bot using it on PRs :-)

[2015-11-25 16:02] davidak commented on #9966
@vcunat great idea. remind if basic meta-data is missing. would you create an issue for that?

[2015-11-25 16:18] YPares opened #11264 "rWrapper depends on MASS_7.3-44.tar.gz that cannot be downloaded"
When trying to `nix-env -i nixpkgs.rWrapper` (in order to do [this](https://nixos.org/wiki/R) afterwards), I get a lot of

[code]

It tries to find it on various servers but always receives a 404 error.
(I'm using Ubuntu 15.10)

[2015-11-25 16:22] FRidh commented on #11264
Please see #11230

[2015-11-25 16:24] peti commented on #11264
This is fixed in `master` and `release-15.09`. The channels will update soon, too.

[2015-11-25 16:24] #11264 closed

[2015-11-25 16:26] vcunat opened #11265 "github PRs: utilize nixpkgs-lint"
It would be nice if it auto-reminded of missing or bad meta-data. (Follow up from #9966.)

[2015-11-25 16:31] YPares commented on #11264
@FRidh @peti I did look for a previous report of this issue... I missed it, sorry for the inconvenience!

[2015-11-25 17:12] peti commented on #9453
Fixed in https://github.com/NixOS/nix/commit/c0d4173263a3077905643d5a044e982fc830f7ff.

[2015-11-25 17:12] #9453 closed

[2015-11-25 17:13] FRidh commented on #11261
@aragnon Could you share your `default.nix`?

[2015-11-25 17:15] FRidh commented on #10245
@miguel-negrao Is the issue solved for you? If so, could you close this issue?

[2015-11-25 17:19] pSub commented on #11265
This is also covered in #11166. I will try to tackle this in the next days.

[2015-11-25 17:23] peti commented on #10245
The package has a syntax error in its markup:

[code]

[2015-11-25 17:29] vcunat commented on #11166
Travis-ci for darwin? Is that even possible? I thought there are licensing problems with such things.

[2015-11-25 17:55] davidak commented on #11166
@vcunat https://docs.travis-ci.com/user/osx-ci-environment/

[2015-11-25 19:46] aragnon commented on #11261
@FRidh This is it:
[code]

[2015-11-25 20:32] a1russell opened #11268 "krb5.kdc option should accept an array"
The `krb5.kdc` NixOS option should accept an array so that multiple kdc entries can be specified for a realm. The output would look similar to the snippet at http://web.mit.edu/kerberos/krb5-devel/doc/admin/install_kdc.html#krb5-conf :

[code]

I believe `krb5.kerberosAdminServer` should also support the same, although I'm not certain of this one. An example of multiple admin_server lines is at: h

[2015-11-25 20:53] FRidh commented on #11261
Could you explain what you're trying to do here? This is no small expression...

[2015-11-25 20:55] copumpkin commented on #7420
@edolstra, I, and a few others (whose usernames I don't recall) talked about this at NixCon and came up with a few ideas. I'll try to write them up over the next few days if nobody beats me to it.

[2015-11-25 21:04] martinvahi commented on #11177
As of 2015_11_25 it seems to me that there is no point on working on the package collection related issues before the package maintenance part, the Nix, has been fixed at least to the extent thet the [#718](https://github.com/NixOS/nix/issues/718) has been fixed. I'm not sure, what the tag of the current flaw report should be, but a word **"pending"** might suit.

[2015-11-25 21:43] copumpkin commented on #7420
Actually, here are some preliminary thoughts based on what we discussed and other things that have crossed my mind since then:

The ultimate goal is to give the computer some degree of knowledge about the mutable state handled by a service. This would allow us to better isolate services (containers/namespaces to prevent them from touching things at runtime), capture their current state, back it up

[2015-11-25 22:01] aragnon commented on #11261
I am trying to build a fully featured Python 2.7 kernel for Jupyter. If you remove all the Python 2.7 expressions, it does work, but the 2.7 part is the important bit.

It's not clear what specifically causes a problem here for me. Clearly, two different parts depend on different libraries of requests, but I don't know which parts nor why.

Clearly, there exist people who use a version of Jupyter

[2015-11-25 22:13] vcunat commented on #11261
You can find out by `nix-store -q --graph /nix/store/gsnxjynihklp6ca3k81y7kzidg0cy65z-python-2.7.10-env.drv` (or with `--tree` instead of `--graph`).

[2015-11-25 23:14] domenkozar commented on #11261
You're mixing requests 1.x and requests 2.x. This is currently possible but https://github.com/NixOS/nixpkgs/pull/11086 will resist to build packages this way

[2015-11-25 23:26] FRidh commented on #11261
@aragnon
you can have Python 2.7 kernel when you also use 2.7 Notebook
[code]
or Python 3.4 kernel when using 3.4 Notebook.
[code]
Having multiple kernel versions within one Jupyter instance is supported by Jupyter but not here on Nix.

[2015-11-25 23:34] domenkozar commented on #11261
you can also pass `ignoreCollisions = true;`

[2015-11-26 02:28] iyzsong commented on #11138
Hi, about the pkgs hierarchy, I think the current one that fcitx using is good enough.
the `engines` are anthy,  mozc, etc. , be used by both fcitx and ibus (`frameworks`) through
`fcitx-anthy`, `ibus-anthy`, etc. (`plugins`).

How about move the plugins for ibus into the ibus folder?
[code]

[2015-11-26 02:55] ericsagnes commented on #11138
The in-progress work is using `{input-method}-engines/{input-method}-{engine}/default.nix` to have some uniformity with [pidgin-plugins](https://github.com/NixOS/nixpkgs/tree/master/pkgs/applications/networking/instant-messengers/pidgin-plugins).
The contributor manual is a little [vague](https://nixos.org/nixpkgs/manual/#sec-organisation) regarding this topic, so I would love to have more inputs

[2015-11-26 08:25] domenkozar commented on #11166
Yes, they are using https://macstadium.com/cloud

[2015-11-26 08:55] kamilchm commented on #11219
What is the best way to test it? I'll try to find some time to fix it.

[2015-11-26 10:14] peti commented on #11177
Personally, I would prefer if this discussion moved to the nix-dev mailing list. Github issues are really a poor forum for technical discussions.

[2015-11-26 10:14] #11177 closed

[2015-11-26 10:17] aaronlevin opened #11276 "File System / SSD Failures on Lenovo X250 (not kernel, not hardware)"
I've been experiencing very frequent file system / ssd failures on my Lenovo X250. I've experienced this problem:

- on two separate, brand new Lenovo x250s
- had a Lenovo x250 working with Debian (Jesse) with no issues for months (same ssd, same firmware)
- across several kernels: `3.18`, `4.0`, `4.1`, `4.2`, and `4.3`
- with or without `TRIM` enabled (and all the `fstab` incanations: `noatime,no

[2015-11-26 10:54] calbrecht commented on #10572
zsh completions/site-functions enabled in  #11251 and #11271
@wedens Could you open another issue regarding the MANPATH so this one could be closed?

[2015-11-26 10:54] FRidh opened #11277 "kde4 kile: editor component missing and crashes"
It seems like Kile is broken.
[code]
results in
[code]
At this point you can continue by pressing OK, and Kile starts up. Unfortunately, as soon as I try to load a file (a Kile project) it crashes.
[code]

The above occurs while running `nixos-unstable`, and also when running of master.

cc @ttuegel

[2015-11-26 11:01] jagajaga commented on #11276
You use ext4? I had probably the same issue in April until I've moved to `F2FS`.
I had the same issue on 2 ssd in raid 0.

[2015-11-26 11:14] aaronlevin commented on #11276
@jagajaga yes, `ext4`. how stable have you found `F2FS`?

[2015-11-26 11:33] jagajaga commented on #11276
@aaronlevin pretty stable, 0 issues from April. Running on my laptop (intel ssd) and desktop with 2 ssd (ocz) in raid 1 nowadays.

[2015-11-26 12:13] vcunat commented on #11277
I believe kde4 apps often don't work unless you have NixOS with kde4 enabled (and same version). With kde5 @ttuegel seems to have fixed these issues.

[2015-11-26 12:36] aragnon commented on #11261
@vcunat That results in a dot file which in turn sends dot in a seemingly infinite loop.

[code]

@domenkozar If that just means it crashes later, it doesn't seem helpful.

[2015-11-26 12:51] vcunat commented on #11261
@aragnon: it's more likely that it would take very long time to draw a huge graph. Anyway, I easily browse the file &ndash; it's easily human-readable and -writable.

[2015-11-26 13:44] FRidh commented on #11277
I discussed the issue a bit further with @vcunat. In this case I was using `kde4.kile` in combination with `services.xserver.desktopManager.kde5.enable = true;`
which is apparently known to cause problems and for now unsupported. Kile does work fine when running kde4.

[2015-11-26 13:44] #11277 closed

[2015-11-26 13:46] aragnon commented on #11261
@vnucat Yeah, it did produce something in the end, but it did not bring any further comprehension (it looks a bit like rainbow spaghetti).

It is not clear to me what the --tree format actually outputs, so the original question still stands: why is there a dependency on requests-1.2.3?

When I replaced the python35 everywhere with python27, it still had the exact same conflict.

[2015-11-26 13:56] domenkozar commented on #11208
We do have some support for caching tarballs, but it has to be used explicitly. I think only bootstrap files are cached.

If upstream file is missing, you won't be able to build the package (build will break). If hydra has built it, then nix will use the binary and not even care about source.

We try to mitigate with mirrors, but not all hosting sites have one.

[2015-11-26 13:57] domenkozar commented on #11026
@lukego from nixos manual: `nix-build nixos/tests/nfs.nix -A driver`. Let me know if that's clear otherwise we can close this one :)

[2015-11-26 13:59] domenkozar commented on #11260
As @FRidh nicely explained, I'm closing this one.

[2015-11-26 14:03] domenkozar commented on #4099
I really think we should follow upstream if possible. It's easier to match upstream for (security) updates.

[2015-11-26 14:17] domenkozar commented on #11261
@aragnon I've removed most of requests 1.x dependencies in https://github.com/NixOS/nixpkgs/pull/11086 branch

[2015-11-26 14:24] domenkozar commented on #11261
@aragnon just run `nix-store -q --graph /nix/store/gsnxjynihklp6ca3k81y7kzidg0cy65z-python-2.7.10-env.drv | grep requests-1`

[2015-11-26 14:48] domenkozar commented on #4099
Let's merge this discussion to https://github.com/NixOS/nixpkgs/issues/11052

[2015-11-26 14:48] #4099 closed

[2015-11-26 15:22] jagajaga opened #11281 "Can't build udisks"
Trying to build locally `spaceFM` and having `udisks 1.0.5` as a dependency.
Can't build this pkg due to error. Indeed that one https://bugs.freedesktop.org/show_bug.cgi?id=90778
What do we need to do? Patch `udisks` in `nix`?

[2015-11-26 15:28] domenkozar commented on #11281
Yes, patch udisks 1.0.5

[2015-11-26 15:29] domenkozar commented on #11259
cc @lethalman

[2015-11-26 15:42] wedens commented on #11259
I've copied icon/theme setup from @bennofs [nix configuration](https://github.com/bennofs/etc-nixos/blob/master/conf/desktop.nix#L26). works fine (with Numix)

[2015-11-26 15:45] jagajaga commented on #11281
https://github.com/NixOS/nixpkgs/commit/1af969f8f326511c08ac7e05a9b9cad049b18df4

[2015-11-26 15:45] #11281 closed

[2015-11-26 15:51] mdorman opened #11282 "Several go packages fail for lack of perl in path"
I cannot identify clear culprit, but some time in the last 48 hours or so, something seems to have changed such that a range of go packages have begun failing for want of perl (which is, incidentally, hilarious :):

[code]

I don't know how widespread the issue is.

[2015-11-26 15:56] domenkozar commented on #11097
Currently hydra doesn't pickup nixos tests, so they're in queue for a few days.

[2015-11-26 16:03] Fuuzetsu opened #11284 "Why do we need a shebang in nix-prefetch-git?"
At

https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchgit/nix-prefetch-git#L1

we have a /bin/sh shebang without explanation for its necessity. We were just bitten by it: we have a copy of the file with some extra modifications and on my NixOS system it behaved differently inside `nix-build` than on my colleague's non-NixOS system as `/bin/sh` means something else for both of us

[2015-11-26 16:27] mdorman commented on #11282
@pSub A git bisect identified your commit, ed2b30dc283f2ec326fe80dc5259682d1f0f4fb3 as the commit that broke this.  Your change to get a new version of parallel is fine, but the other changes in the code fail.

[2015-11-26 16:34] GCerar commented on #11259
Tnx @wedens and @bennofs for his config. The problem was missing `GDK_PIXBUF_MODULE_FILE`.

Q: Would it be good idea to set such variable inside numix icon definition? Or somewhere else? Would it affect other packages?

[2015-11-26 16:50] FRidh opened #11285 "DOC Python: python setup.py develop is not used anymore"
Thanks for https://github.com/NixOS/nixpkgs/pull/11086 @domenkozar

As I was just writing parts in the [tutorial](https://github.com/FRidh/python-on-nix/blob/master/tutorial.md) about Python development I noticed that the manual still mentions that `python setup.py develop` is used although it now uses `pip install -e`.

[2015-11-26 17:25] wedens commented on #11259
@GCerar I think it's part of https://github.com/NixOS/nixpkgs/issues/247#issuecomment-41255168

[2015-11-26 17:49] domenkozar commented on #11285
fixed in c368489

[2015-11-26 17:49] #11285 closed

[2015-11-26 18:00] GCerar commented on #11259
Oh, I didn't know. Nice :). My issue is solved with workaround. Final solution will came with NixOS 16.xx. Closing.

[2015-11-26 18:00] #11259 closed

[2015-11-26 19:15] evujumenuk commented on #11003
Let's raise this blocker from the dead:

According to https://github.com/zfsonlinux/zfs/issues/2199#issuecomment-38308916, `udevadm settle` does not really wait for `uevent`s to have finished processing even though that's exactly what it says on the tin. I'm not 100% sure, but since `linux>=4.0` NVMe seems to show the same insidious behaviour USB has been exhibiting for years in that they both ind

[2015-11-26 20:24] nbp commented on #11238
cc @edolstra, @shlevy and @azlig might know.

[2015-11-26 23:46] mbakke commented on #11276
I'm typing this from an X250 with LUKS, LVM and ext4 on SSD. NixOS since day 1, current uptime 29 days. Do you have `allowDiscards = true` in `boot.initrd.luks.devices`?

[2015-11-27 00:20] jcumming commented on #5829
The next step I would use is a serial console.

[2015-11-27 05:59] lizzha commented on #3986
Hi all, I'm from the team that owns the WALinuxAgent, we would like to enable the agent to support NixOS and enable NixOS running in Azure. I was learning NixOS but not much familiar yet, so it's great to see the discussion here.
Would anyone be willing to help and work with us to come out a solution?

[2015-11-27 08:49] FRidh opened #11303 "Python: nix-shell with buildEnv is broken"
Executing `nix-shell` with a `shell.nix` containing
[code]
will give you the interpreter, but not the extra libs `numpy` and `toolz`.
@domenkozar

[2015-11-27 10:01] peti commented on #11284
The shebang is necessary, IMHO, but we should have it refer to `/usr/bin/env bash` rather than `/bin/sh` if the script depends on `bash` rather than `sh`.

[2015-11-27 10:02] domenkozar commented on #11303
It works for me. Note that `python` is `python2.7` from your system, you should invoke `python3 -c "import numpy"`

[2015-11-27 10:05] FRidh commented on #11303
oh my, I must be sleepy still...
Thanks.

[2015-11-27 10:08] domenkozar commented on #11303
Happy to help :)

[2015-11-27 10:12] aaronlevin commented on #11276
@mbakke I have experienced the issue with `allowDiscards = true;`. It's currently turned off, so I'll turn it back on again and we'll see how quickly the issue surfaces.

@mbakke what version of the firmware on the ssd are you using? Also, anything special in the kernel modules you're loading or any extra modprobe config?

Thanks!

[2015-11-27 10:18] #11284 closed

[2015-11-27 10:27] FRidh commented on #11303
ok, I really do have an issue here. When I try again it just does not work.
[code]

[code]

[code]

[2015-11-27 10:46] domenkozar commented on #11303
@FRidh can you pull master and try again?

[2015-11-27 10:49] FRidh commented on #11303
It seems that while the `nix-shell` is active, dependencies, like `toolz` can be garbage-collected. I don't think that should be possible. I just tested, and that was not possible before.

[2015-11-27 10:50] FRidh commented on #11303
Just tested, and indeed it's fixed. They aren't gc-ed anymore either.

[2015-11-27 10:50] mbakke commented on #11276
Hm, I have a different SSD altogether (Toshiba). Nothing else hardware-related in nixos configuration.

[code]

Samsung has a pretty poor track record when it comes to Linux SSD firmware.. Can you check if the same happens if you boot with `libata.force=noncq` as per [this bug report](https://bugs.launchpad.net/ubuntu/+source/fstrim/+bug/1449005)?

[2015-11-27 10:50] domenkozar commented on #11303
Yes, packages used with `nix-shell` are not added to gc root. You have to use something like https://nixos.org/wiki/Development_Environments#Making_a_Persistent_nix-shell_Environment

[2015-11-27 10:50] #11303 closed

[2015-11-27 10:53] FRidh commented on #11303
What I meant was, when I ran `nix-collect-garbage -d` while I still had the `nix-shell` open. Before the fix, dependencies of the environment were `gc-ed`, while now they aren't.

Anyhow, its works now :)

[2015-11-27 11:07] domenkozar commented on #1750
Prototype implementation: https://github.com/NixOS/nixpkgs/pull/9250

[2015-11-27 11:07] #11260 closed

[2015-11-27 11:10] #9207 closed

[2015-11-27 11:17] aaronlevin commented on #11276
@mbakke I had the `libata.force=noncq` in my `extraModprobeConfig` and still had the issue.

[2015-11-27 11:18] aaronlevin commented on #11276
@mbakke interesting that you have a different ssd. However, we have debian (Jesse) installed on a similar model as mine (same ssd, same firmware) and no issues.

[2015-11-27 11:20] domenkozar commented on #11265
:cake: I know that @mbbx6spp might be working on a linter :)

[2015-11-27 11:22] peti commented on #11282
Fixed by https://github.com/NixOS/nixpkgs/pull/11283.

[2015-11-27 11:22] #11282 closed

[2015-11-27 11:31] mbakke commented on #11276
@aaronlevin you need to set that in `boot.kernelParams`, not `extraModProbeConfig`. I suspect Debian may have [blacklisted NCQ on that device](https://bugs.launchpad.net/ubuntu/+source/fstrim/+bug/1449005/comments/69).

[2015-11-27 11:32] aaronlevin commented on #11276
@mbakke does that go in my `configuration.nix` or my `hardware-configuration.nix`?

[2015-11-27 11:43] mbakke commented on #11276
Either :)

[2015-11-27 12:03] Phreedom commented on #3986
@lizzha :  I will be doing some azure-related work in
a day or two and will contact you to discuss potential
solutions and patches.

@*ericbmerritt[1] Sorry for not replying sooner. I
have been too busy lately. *

--------
[1] https://github.com/ericbmerritt

[2015-11-27 12:34] vandenoever opened #11304 "leksah does not start"
I've installed leksah and try to run it but it fails with this output:

====
Using default Yi configuration

** (leksah:24955): WARNING **: Error retrieving accessibility bus address: org.freedesktop.DBus.Error.ServiceUnknown: The name org.a11y.Bus was not provided by any .service files
Linked with -threaded
Reading keymap from /nix/store/d7l1l0vl3xdnm1ka4xk8ac1y9p5cqlal-leksah-0.15.1.4/share/x86_

[2015-11-27 12:45] FRidh commented on #5623
I'm writing a [Python on Nix tutorial](https://github.com/FRidh/python-on-nix/blob/master/tutorial.md) and obviously I want to have up to date info there.

At the time of writing I included `myEnvFun`, even though it is not supported. What I like about `myEnvFun` though is that you are able to define your environments together in your `config.nix`, although it is a pity you still need to install t

[2015-11-27 12:49] domenkozar commented on #5623
Thanks @FRidh, really appreciated. I'll go through it and leave comments when I find some time :)

[2015-11-27 12:55] pSub commented on #11265
For the integration into Github I see the following possibilities:

- https://github.com/markstory/lint-review
- https://linthub.io/
- https://github.com/thoughtbot/hound
- Come up with a own solution

For all existing solution we would have to implement the integration with `nixpkgs-lint`.

@mbbx6spp what are you working on concretely?

[2015-11-27 12:56] Fuuzetsu commented on #11284
It still seems like an impurity we could get rid of to me. If we want the shebang so we can execute it as stand-alone thing, why not have two versions? One without shebang which would use the bash provided by the build-env and this is the version that would be used by fetchgit and another with shebang that user could call wherever which would probably in turn just call shebang-less version.

[2015-11-27 13:13] aaronlevin commented on #11276
@mbakke ok, perhaps that was my issue: having `libata.force=noncq` in my `extraModProbe` and not `kernelParams`. I've added it and I'll see how stable my ssd is now.

Is there a policy around closing and re-opening? Because I'm happy to close this now and then re-open it if does not fix the issue.

Additionally, should we possibly consider generating that kernel param on detection of this ssd simi

[2015-11-27 13:27] mbakke commented on #11276
If that indeed solves the issue, we can probably add the NCQ TRIM blacklist patch from above, at least if other distros are doing the same. Although it arguably should be added upstream...

(disclaimer: I don't actually know what NixOS' stance on adding kernel patches is, nor am I an official dev)

[2015-11-27 13:30] aaronlevin commented on #11276
@mbakke hmm, good question. We may not even need to apply the patch. For example, it might even be easier just to generate:

[code]

[2015-11-27 13:41] vcunat commented on #11276
I don't think there's such a policy. I would do the same as you.

[2015-11-27 13:43] vcunat commented on #11304
I'd expect this is intended to be solved in #10351.

[2015-11-27 13:58] aaronlevin commented on #11276
@vcunat thanks.

[2015-11-27 14:08] vcunat opened #11305 "logo change isn't complete yet"
There are various places that still retain the old Nix logo, e.g. hydra.nixos.org, some backgrounds and most of https://github.com/NixOS/nixos-artwork. Perhaps the text part of the logo might be discussed as well, e.g. which font to use, etc.

I believe all should be unified before the next release.

[2015-11-27 14:50] peti commented on #11284
I don't see what impurity you refer to. When that the generic builder's `fixup` hook is done with that script, the `/usr/bin/env bash` construct will have been replaced by a straight `bash` shebang will complete path and everything.

Generally speaking, I don't understand where the notion comes from that bash scripts could be executed without a shebang in the first place. Do you have a resource th

[2015-11-27 15:39] domenkozar commented on #7307
We could use http://linux.die.net/man/8/ldconfig to generate the cache at build time.

[2015-11-27 17:20] anderspapitto opened #11307 "gcc wrapper has undeclared runtime dependency on coreutils in PATH"
while playing around with the new docker integration (https://github.com/NixOS/nixpkgs/pull/11156), I ran into an issue that the gcc wrapper isn't self contained - it depends on someone else having set the PATH to include coreutils. the wrapper should either set the path itself, or use absolute paths. Here's what I see.

[code]

[2015-11-27 19:12] #2835 closed

[2015-11-27 20:04] thoughtpolice commented on #10213
We should only do either 6), 1) or 4), preferably in that order, IMO. If there was some situation they would be willing to work out that would be great, but in lieu of that I'd prefer to just get rid of it I suppose...

[2015-11-27 20:07] thoughtpolice commented on #6671
Boom:

[code]

Many thanks to @edolstra - closing this now...

[2015-11-27 20:07] #6671 closed

[2015-11-27 20:22] Mathnerd314 commented on #10213
Current ZDoom instructions say to use an archive.org link:
http://zdoom.org/wiki/Compile_ZDoom_on_Linux#Download_FMOD

[2015-11-27 23:04] magnetophon opened #11312 "yoshimi doesn't find it's own preset banks"
@cillianderoiste
The version of in [my PR](https://github.com/NixOS/nixpkgs/pull/11311) doesn't find it's own banks.
They are installed in `$out/yoshimi/banks`, which is set [here](https://github.com/NixOS/nixpkgs/pull/11311/files#diff-d63ad1e88d3d015096c9ac59ed4438cdR25)*.
The file: `$out/share/doc/yoshimi-1.3.7.1/Banks.txt` mentions:

I'm not sure what to make of that, and also not how to fix it

[2015-11-28 02:32] rnhmjoj commented on #11305
I sent a [PR](https://github.com/KittyKatt/screenFetch/pull/296/files) to screenfetch with the new logo (I did my best but small ascii art is hard).
Also I made this slim [theme](https://github.com/rnhmjoj/nix-slim), It's based on my color scheme so I'm not sure it's ok for nixos-artwork.

[2015-11-28 06:14] chris-martin commented on #5829
Is that hardware that people normally keep around?

[2015-11-28 07:12] jeaye commented on #7096
I'm having this issue as well, unfortunately. Any updates, @stephenmw?

[2015-11-28 07:22] goodwillcoding opened #11317 "nm-openvpn uid conflicts with uid standard normal user"
Hi @domenkozar
I recently provisioned a new 15.09 release box which ad my own custom user on it with basic configuration and immutable users:

    users = {
        mutableUsers = false;
        extraGroup.me = {
            name = "me";
            gid = 1000;
        };
        extraUsers.me = {
            isNormalUser = true;
            uid = 1000;
            group = "me";
        };
    };

[2015-11-28 10:56] FRidh opened #11320 "python: hash mismatch setuptools 18.2, Python 2.7"
[code]
Odd that the hash has changed.
@domenkozar

[2015-11-28 11:03] domenkozar commented on #11320
Huh, hash should be `07avbdc26yl2a46s76fc7m4vg611g8sh39l26x9dr9byya6sb509`. Can you run `nix-store --repair --verify` as root?

[2015-11-28 11:16] FRidh commented on #11320
Nothing shows up.

I am running `16.03pre71289.7ae05ed ` and was using current master to build Google Chrome when this occurred.

[2015-11-28 11:26] FRidh commented on #11320
actually, not sure exactly where head was at the time. Since I can't reproduce it I will close it for now.

[2015-11-28 11:26] #11320 closed

[2015-11-28 12:58] holstgr-kaust commented on #11091
I just wanted to add my 'me too' to this issue.  In my case it is a NixOS 14.12.885.b373bf9 (Caterpillar) installation into Virtual Box.  I followed the instructions in the manual:

    sudo nix-channel --add https://nixos.org/channels/nixos-15.09 nixos
    sudo nixos-rebuild switch --upgrade

But I got the 'ln: failed to create symbolic link' issue shown here.  Now, when I do a 'sudo nixos-rebuil

[2015-11-28 13:28] domenkozar commented on #11317
Huh, NixOS should have all the information available to resolve the uid/gid conflicts.

[2015-11-28 17:14] domenkozar commented on #11317
@goodwillcoding if you can provide a minimal example `configuration.nix` that reproduces the issue I can help you debug :)

[2015-11-28 17:27] goodwillcoding commented on #11317
I'll try to reproduce the issue sometime later this week. However, I wonder more in nm-openvpn user and group should have their ids in id.nix. Thoughts on that?

[2015-11-28 19:09] magnetophon commented on #8568
I asked @The-Compiler about this on irc, and it turns out the tarbal has the docs in them, whereas in the regular git release commit you have to generate them yourself.
[Here](https://github.com/magnetophon/nixpkgs/blob/8c44b45-borknix/pkgs/applications/networking/browsers/qutebrowser/default.nix) is the solution; a different src.

I'll do a PR when I also get gstreamer working.

[2015-11-28 19:11] magnetophon opened #11328 "qutebrowser: gstreamer doesn't work."
@jagajaga
When opening a media file, it'll try to download instead of stream.

At first I was testing with mp3's and I though lack of bad/ugly was the problem, but that didn't help.
[Here](https://github.com/magnetophon/nixpkgs/blob/8c44b45-borknix/pkgs/applications/networking/browsers/qutebrowser/default.nix) is my WIP, which also fixes https://github.com/NixOS/nixpkgs/issues/8568

[2015-11-28 19:45] GCerar opened #11330 "cffi under virtualenv fails to compile"
cffi (one of dependencies of bcrypt) raises error when compiled under virtualenv. Tried py27, py34 (as virtualenv & python3.4 -m venv). Success only with pypy.

`` distutils.errors.DistutilsError: Setup script exited with error: command 'gcc' failed with exit status 1``

Here is [complete log](https://github.com/NixOS/nixpkgs/files/46412/pip_bcrypt_error.txt)

[2015-11-28 20:10] Pitometsu opened #11331 "Out of memory"
If I build all the packages in `tmpfs on /tmp type tmpfs (rw,nosuid,nodev,relatime,size=7800000k)` from sources, **NixOS** store all the builded packages here, in `/tmp`, so after some number of it, there no more space left on partition.
Perhaps it should cleanup folder or use some cache on hard drive before each assembly.

[2015-11-28 20:11] jagajaga commented on #11328
Maybe you will create PR? :)

[2015-11-28 20:21] lethalman commented on #11331
/tmp is usually not on ram, perhaps it's your particular setup. In which case you can specify a different tmp dir.

Nix should cleanup the tmp after each built derivation unless you tell it to keep the tmp build.

[2015-11-28 20:29] magnetophon commented on #11328
@jagajaga
The pkg I linked too fixes the :help issue, but not the gstreamer one.
I'm hoping to get both working before I do a PR, if that's OK.

[2015-11-28 20:30] jagajaga commented on #11328
That's OK.

[2015-11-28 20:32] magnetophon commented on #11328
Got an idea why gstreamer doesn't work?  Or does it, for you?

[2015-11-28 20:34] jagajaga commented on #11328
It doesn't work for me, but I thought that that's a default behavior..

[2015-11-28 20:37] magnetophon commented on #11328
According to @The-Compiler, opening a media file should automatically stream it.

[2015-11-28 20:38] jagajaga commented on #11328
Maybe we can take a look how `firefox` is packaged in nixpkgs?

[2015-11-28 20:45] Pitometsu commented on #11331
Yes.

Which option may change it?

[2015-11-28 20:47] vcunat commented on #11331
`--keep-failed`

[2015-11-28 21:01] Pitometsu commented on #11331
@vcunat ok, but can I setup it to clean derivation which failed to save space?

[2015-11-28 21:14] Pitometsu commented on #11331
@vcunat I don't use `--keep-failed`, but have:
[code]
BTW, is there an option for `--keep-failed` in `configuration.nix`?

[2015-11-28 21:38] domenkozar commented on #11330
`nix-shell -p libffi`.

In general I recommend using `nix-shell` over `virtualenv`, but if you can't, then lookup for dependencies for the package you're trying to install in `nixpkgs` repository.

[2015-11-28 21:38] #11330 closed

[2015-11-28 21:51] Ericson2314 opened #11334 "Missing dependencies in Haskell environment for clash-prelude"
When trying to make a nix environment for this repo on master, I get missing dependencies.

- At the moment, master points to this commit: https://github.com/clash-lang/clash-prelude/commit/48409067850b23d6f69d8261d90b11540d88d4a0

- I am on nixos-unstable which is at https://github.com/NixOS/nixpkgs-channels/commit/7ae05edcdd14f6ace83ead9bf0d114e97c89a83a

- `cabal2nix ./. > default.nix` is:
[cod

[2015-11-29 01:22] puffnfresh commented on #10367
Just hit this problem again, @cstrahan thanks for taking it on :+1:

[2015-11-29 03:04] jeaye commented on #2079
This would keep me on DO, instead of forcing me onto Linode or some other providers. One key issue with that, however, is that DO makes some assumptions about how the filesystem is laid out. [I made an issue](https://github.com/gh2o/digitalocean-debian-to-arch/issues/7) on [digitalocean-debian-to-arch](https://github.com/gh2o/digitalocean-debian-to-arch) about this, which was ultimately worked out

[2015-11-29 03:23] Pitometsu commented on #11331
During GHC compilation I have:
[code]
It's all build dependencies *o_O* (?) and it eat a lot of RAM!!!

[2015-11-29 07:11] vcunat commented on #11331
It could be some nix bug when using these less common options, I don't know. I suppose you're sure that when you clean `/tmp/nix-*`, they re-appear and aren't deleted. Even `--keep-failed` should only keep the build directories of failed derivations.

[2015-11-29 07:47] Pitometsu commented on #11331
yep, I checked it twice.

[2015-11-29 10:09] magnetophon commented on #7942
I forgot to update this issue, but it's fixed in 15.09.

[2015-11-29 10:09] #7942 closed

[2015-11-29 10:11] magnetophon commented on #11229
Maybe I was unclear, but all that is needed to fix this, is to merge the master pkg into 15.09.
Would it help if I do a (trivial) PR?

[2015-11-29 10:21] magnetophon commented on #11079
The reason I originally installed jack1 was to see if it would fix an issue with my interface (xruns at low latency and high dsp loads).
It does, so I'd really like to get this fixed.
@vcunat
Do you think the solution you proposed above is the right one? (you sound unsure to me)
If ys, I can try and implement it. (I don't understand it yet, but I haven't looked into it yet either)

[2015-11-29 10:24] magnetophon commented on #11190
@Pitometsu
Thanks for the tips, I didn't know about a ot of these.
Most of them seem old and unmaintained though.
Tbh I have a hard time imagening you're using all of these.
Could you tell us which ones you use (most)?
For example do we really want baudline and spectrograph when we already have [jaaa](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/audio/jaaa/default.nix) ?

[2015-11-29 10:53] vcunat commented on #11138
Probably don't put much effort into the hierarchy. My feeling after NixCon is that there is a general agreement that the file hierarchy is confusing, and it's likely we will (1) flatten it significantly (so that you don't need to guess where a package might be located) and (2) make it closer to the attribute hierarchy. The problem with this is that doing such a thing would make a terrible mess wit

[2015-11-29 11:20] GCerar commented on #11330
@domenkozar nice one. Solved my problem. Big thank you.

[2015-11-29 11:27] vcunat commented on #11079
I'm pretty certain that we should have a solution along those lines; I'm unsure about some details, such as whether it should be put into `/run/jack` or somewhere else.

In more detail:
- `$LD_LIBRARY_PATH` should get extended by `:/run/jack/lib:run/jack-32/lib` by NixOS, perhaps conditionally, based on whether some jack is enabled. There might not be such need as for libGL to support having both

[2015-11-29 11:27] x42 commented on #11079
@vcunat ,  good call.  The situation is indeed not unlike  kernel-driver <> user-space-lib (openGL, ALSA).

The "jack-server <> libjack" situation is exactly like "X-server  <> libX11,libxcb".  How is that handled on NixOS?

in case of x11/xorg the protocol (lib to server) is versioned so that different libs can communicate with a different server version, however in reality this is not always giv

[2015-11-29 11:28] Pitometsu commented on #11190
@magnetophon welcome!
Most of them I used for fun some time ago, some just wish to try.
About spectrogram: jaaa different. It plot just wave at this moment, not history of wave.
Baudline bad, old, proprietary, but it's best spectrogram tool for Linux :(
And even baudline have disadvantage: it's linear, for audio better logarithmic. There is one calf analyzer lv2 plugin with spectrogram, but it loo

[2015-11-29 11:33] Pitometsu commented on #11190
@Mathnerd314 @bjornfor thanks for *baudline*!

[2015-11-29 11:35] CMCDragonkai commented on #11091
If it happens on 14.12 then this means it's a pretty old bug. Perhaps we can pinpoint which version the bug was introduced?

[2015-11-29 11:50] x42 commented on #11079
"When a jack server starts, it should setup those /run/jack* paths and symlink the correct"

That is not an option. jack-clients can auto-start the server. The mechanism is provided by libjack.

jack-client loads libjack... libjack tries to connect to server..  if the server is not running -> auto-start (libjack2 uses dbus for that, libjack1 a custom mechanism to launch the server).

[2015-11-29 13:05] vcunat commented on #11079
We were always letting packages use those X libraries that they were built against. So far `libGL` and related libs are the only significant cases where we do such re-linking during runtime (to allow proprietary drivers). I haven't noticed anyone having problems with X due to this, but we have significantly smaller user base than Ubuntu. (I only occasionally run packages linked many months ago whi

[2015-11-29 13:17] magnetophon commented on #11190
@Pitometsu
Oh, almost forgot: I have a [WIP pkg](https://github.com/magnetophon/nixpkgs/blob/carla/pkgs/applications/audio/carla/default.nix) for Carla.

[2015-11-29 13:18] wvhulle opened #11343 "Ark can't find tar #nixos"
I installed the gnutar archiving program and ark-15.04.3 in #nixos 15.09.706.45128de (Dingo). It is not possible to select tar as a filetype for unarchiving.

The tar binary is in my path.
[wvhulle@nord:~]$ which tar
/nix/var/nix/profiles/default/bin/tar

Ark can find most other formats as rar, 7z, and so on.

[2015-11-29 13:19] x42 commented on #11079
jack is run as user (not as root). It's a sound-server not unlike pulseaudio which is also started by the user (or the desktop session).

[2015-11-29 13:24] wvhulle opened #11345 "Haskell package helm-0.7.1 fails to build in NixOS"
My nixos version is 15.09.706.45128de (Dingo). Executing `nix-env -iA nixos.haskellPackages.helm
` gives the following:

[code]

[2015-11-29 13:33] wvhulle opened #11346 "Compiling elm with GHC fails on NixOS 15.09.706.45128de (Dingo)"
I tried to install elm-compiler 0.14.1 with `sudo nix-env -iA nixos.haskellPackages.elm-compiler_0_14_1` the following is output:

[code]

I saw however that there is a newer version available on hackage versioned 0.15 with other dependencies.

[2015-11-29 13:53] ctheune commented on #8910
At the moment I think the update message is disabled - the current build process results in a release that thinks that it is not a real release and thus does not seem to update at all. At least I get this message (in the 0.12 branch).

I found that we could also set "buildFlags = [ "-tags noupgrade" ]" in the buildFromGithub function, but I haven't been able to prove that this actually does anythi

[2015-11-29 14:33] peti commented on #11346
This issue isn't related to Nix. Please report this problem upstream.

[2015-11-29 14:33] #11346 closed

[2015-11-29 14:37] peti commented on #11345
We cannot build `helm` in Nixpkgs, because the package required on old versions of its dependencies that we don't provide: http://packdeps.haskellers.com/feed?needle=helm. Generally speaking, it seems like this package has never been ported to ghc 7.10.x. You might have more luck building it with an older compiler, but this is a problem that should be reported upstream, IMHO.

[2015-11-29 14:37] #11345 closed

[2015-11-29 15:02] peti commented on #11334
These commands work:

    /tmp$ git clone https://github.com/clash-lang/clash-prelude.git

    /tmp$ cd clash-prelude/

    /tmp/clash-prelude$ cabal2nix . --shell >shell.nix

    /tmp/clash-prelude$ nix-shell

    /tmp/clash-prelude$ cabal configure
    Resolving dependencies...
    Configuring clash-prelude-0.10.3...

    /tmp/clash-prelude$

It might be worthwhile to check out http://nixos.org/